<?php $requireClass	= ( $this->haveStoredCards() ? $this->getMethodCode() . '_require' : 'required-entry' ); ?>
<?php $newClass		= $this->getMethodCode() . '_new'; ?>
<ul class="form-list" id="payment_form_<?php echo $this->getMethodCode(); ?>" style="display:none;">
	<?php if( $this->getMethod()->isAcceptJsEnabled() === true ): ?>
		<input type="hidden" name="payment[acceptjs_key]" id="<?php echo $this->getMethodCode(); ?>_acceptjs_key" value="" />
		<input type="hidden" name="payment[acceptjs_value]" id="<?php echo $this->getMethodCode(); ?>_acceptjs_value" value="" />
		<input type="hidden" name="payment[cc_last4]" id="<?php echo $this->getMethodCode(); ?>_cc_last4" value="" />
	<?php endif; ?>
	<?php if( $this->getMethod()->getConfigData('show_branding') ): ?>
		<li class="right pages">
			<img src="<?php echo $this->getSkinUrl( 'images/' . $this->getMethodCode() . '/logo.png' ); ?>" />
		</li>
	<?php endif; ?>
	<?php if( $this->haveStoredCards() ): ?>
		<li>
			<label for="<?php echo $this->getMethodCode(); ?>_payment_id"><?php echo $this->__('Pay with credit card on file'); ?></label>
			<div class="input-box">
				<select name="payment[card_id]" id="<?php echo $this->getMethodCode(); ?>_card_id" class="<?php echo $this->getMethodCode(); ?>_require required-entry">
					<option value=""><?php echo $this->__('-- Select One --'); ?></option>
					<?php foreach( $this->getStoredCards() as $card ): ?>
						<?php $card = $card->getTypeInstance(); ?>
						<option value="<?php echo $card->getHash(); ?>" <?php if( $card->getId() == $this->getInfoData('tokenbase_id') || count( $this->getStoredCards() ) == 1 ): ?>selected="selected"<?php endif; ?>><?php echo $card->getLabel(); ?></option>
					<?php endforeach; ?>
				</select>
			</div>
		</li>
		<?php if( $this->getMethod()->getAdvancedConfigData('require_ccv') ): ?>
			<li>
				<div class="input-box">
					<label for="<?php echo $this->getMethodCode(); ?>_saved_cc_cid" class="left"><?php echo $this->__('Card Code'); ?></label>&nbsp;
					<input type="text" title="<?php echo $this->__('Card Verification Number') ?>" class="input-text <?php echo $this->getMethodCode(); ?>_require required-entry validate-digits-range digits-range-001-9999" id="<?php echo $this->getMethodCode(); ?>_saved_cc_cid" name="payment[saved_cc_cid]" autocomplete="off" value="" style="width:4em;" maxlength="4" />
					<a href="#" class="cvv-what-is-this"><?php echo $this->__('What is this?') ?></a>
				</div>
			</li>
		<?php endif; ?>
		<li>
			<div class="input-box">
				<?php echo $this->__('Or,'); ?> <a href="#" id="<?php echo $this->getMethodCode(); ?>_add_new"><?php echo $this->__('use a different card.'); ?></a>
			</div>
		</li>
	<?php endif; ?>
	<li <?php if( $this->haveStoredCards() ): ?>style="display:none"<?php endif; ?> class="<?php echo $newClass; ?>">
		<label for="<?php echo $this->getMethodCode(); ?>_cc_type" class="required"><em>*</em><?php echo $this->__('Credit Card Type') ?></label>
		<div class="input-box">
			<select id="<?php echo $this->getMethodCode(); ?>_cc_type" name="payment[cc_type]" class="<?php echo $requireClass; ?>">
				<option value=""><?php echo $this->__('-- Select One --')?></option>
				<?php foreach( $this->getCcAvailableTypes() as $k => $v ): ?>
					<option value="<?php echo $k; ?>" <?php if( $k == $this->getInfoData('cc_type') ): ?>selected="selected"<?php endif ?>><?php echo $v; ?></option>
				<?php endforeach ?>
			</select>
		</div>
	</li>
	<li <?php if( $this->haveStoredCards() ): ?>style="display:none"<?php endif; ?> class="<?php echo $newClass; ?>">
		<label for="<?php echo $this->getMethodCode(); ?>_cc_number" class="required"><em>*</em><?php echo $this->__('Credit Card Number') ?></label>
		<div class="input-box">
			<input type="text" id="<?php echo $this->getMethodCode(); ?>_cc_number" name="payment[cc_number]" title="<?php echo $this->__('Credit Card Number') ?>" class="input-text <?php echo $requireClass; ?> validate-cc-number" autocomplete="off" value="" />
		</div>
	</li>
	<li <?php if( $this->haveStoredCards() ): ?>style="display:none"<?php endif; ?> class="<?php echo $newClass; ?>" id="<?php echo $this->getMethodCode(); ?>_cc_type_exp_div">
		<label for="<?php echo $this->getMethodCode(); ?>_cc_exp_month" class="required"><em>*</em><?php echo $this->__('Expiration Date') ?></label>
		<div class="input-box">
			<div class="v-fix">
				<select id="<?php echo $this->getMethodCode(); ?>_cc_exp_month" name="payment[cc_exp_month]" class="month <?php echo $requireClass; ?>">
					<?php foreach( $this->getCcMonths() as $k => $v ): ?>
						<option value="<?php echo $k?$k:''; ?>" <?php if( $k == $this->getInfoData('cc_exp_month') ): ?>selected="selected"<?php endif ?>><?php echo $v; ?></option>
					<?php endforeach ?>
				</select>
			</div>
			<div class="v-fix">
				<select id="<?php echo $this->getMethodCode(); ?>_cc_exp_year" name="payment[cc_exp_year]" class="year <?php echo $requireClass; ?>">
					<?php foreach( $this->getCcYears() as $k => $v ): ?>
						<option value="<?php echo $k?$k:''; ?>" <?php if( $k == $this->getInfoData('cc_exp_year') ): ?>selected="selected"<?php endif ?>><?php echo $v; ?></option>
					<?php endforeach ?>
				</select>
			</div>
		</div>
	</li>
	<?php echo $this->getChildHtml(); ?>
	<?php if( $this->getMethod()->getConfigData('useccv') ): ?>
		<li <?php if( $this->haveStoredCards() ): ?>style="display:none"<?php endif; ?> class="<?php echo $newClass; ?>" id="<?php echo $this->getMethodCode(); ?>_cc_type_cvv_div">
			<label for="<?php echo $this->getMethodCode(); ?>_cc_cid" class="required"><em>*</em><?php echo $this->__('Card Verification Number') ?></label>
			<div class="input-box">
				<div class="v-fix">
					<input type="text" title="<?php echo $this->__('Card Verification Number') ?>" class="input-text cvv <?php echo $requireClass; ?> <?php if( !$this->haveStoredCards() ): ?>validate-cc-cvn<?php endif; ?>" id="<?php echo $this->getMethodCode(); ?>_cc_cid" name="payment[cc_cid]" autocomplete="off" value="" maxlength="4" />
				</div>
				<a href="#" class="cvv-what-is-this"><?php echo $this->__('What is this?') ?></a>
			</div>
		</li>
	<?php endif; ?>
	<?php if( $this->getMethod()->isAcceptJsEnabled() === true ): ?>
		<li class="please-wait" id="<?php echo $this->getMethodCode(); ?>_processing" style="display:none">
			<img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" alt="<?php echo $this->__('Processing, please wait...') ?>" title="<?php echo $this->__('Processing, please wait...') ?>" class="v-middle" /> <?php echo $this->__('Processing, please wait...'); ?>
		</li>
		<li class="please-wait" id="<?php echo $this->getMethodCode(); ?>_complete" style="display:none">
			<?php echo $this->__('&#128077; Okay, ready to continue!'); ?>
		</li>
		<li class="please-wait" id="<?php echo $this->getMethodCode(); ?>_failed" style="display:none">
			<?php echo $this->__('&#10060; Please fix your payment info before continuing.'); ?> <span class="error-text"></span>
		</li>
	<?php endif; ?>
	<?php if( !$this->isNominalCheckout() && !$this->isGuestCheckout() && $this->getMethod()->getConfigData('allow_unsaved') ): ?>
		<li <?php if( $this->haveStoredCards() ): ?>style="display:none"<?php endif; ?> class="<?php echo $newClass; ?>">
			<label>&nbsp;</label>
			<input type="hidden" name="payment[save]" value="0" />
			<input type="checkbox" name="payment[save]" id="<?php echo $this->getMethodCode(); ?>_save" value="1" <?php if( $this->getMethod()->getConfigData('savecard_opt_out') ): ?>checked="checked" <?php endif; ?>autocomplete="on" /> 
			<label for="<?php echo $this->getMethodCode(); ?>_save" style="float:none;font-weight:normal;"><?php echo $this->__('Save for next time'); ?></label>
		</li>
	<?php elseif( $this->isNominalCheckout() || !$this->isGuestCheckout() ): ?>
		<li <?php if( $this->haveStoredCards() ): ?>style="display:none"<?php endif; ?> class="<?php echo $newClass; ?>">
			<?php echo $this->__('<strong>Note:</strong> For your convenience, this data will be stored securely by our payment processor.'); ?>
		</li>
	<?php else: /* Guests are not given any choice or warning, because the card can never be reused. */ ?>
	<?php endif; ?>
</ul>
<?php if( $this->haveStoredCards() ): ?>
	<script type="text/javascript">
	//<![CDATA[
		$('<?php echo $this->getMethodCode(); ?>_add_new').observe( 'click', function(e) {
			e.preventDefault();
			
			$$('.<?php echo $newClass; ?>, #payment_form_<?php echo $this->getMethodCode(); ?> .centinel-logos').each(function(el) {
				el.toggle();
			});
			
			$$('.<?php echo $this->getMethodCode(); ?>_require').each(function(el) {
				el.toggleClassName('required-entry');
				if( el.hasClassName('cvv') ) {
					el.toggleClassName('validate-cc-cvn');
				}
			});
			
			$('<?php echo $this->getMethodCode(); ?>_card_id').setValue(0);
			
			return false;
		});
		
		$('<?php echo $this->getMethodCode(); ?>_card_id').observe( 'change', function(e) {
			$$('.<?php echo $newClass; ?>, #payment_form_<?php echo $this->getMethodCode(); ?> .centinel-logos').each(function(el) {
				el.hide();
			});
			
			$$('.<?php echo $newClass; ?> .<?php echo $this->getMethodCode(); ?>_require').each(function(el) {
				el.removeClassName('required-entry');
				if( el.hasClassName('cvv') ) {
					el.removeClassName('validate-cc-cvn');
				}
			});
			
			$$('#<?php echo $this->getMethodCode(); ?>_saved_cc_cid, #<?php echo $this->getMethodCode(); ?>_card_id').each(function(el) {
				el.addClassName('required-entry');
				if( el.hasClassName('cvv') ) {
					el.addClassName('validate-cc-cvn');
				}
			});
			
			return false;
		});
		
		$$('#payment_form_<?php echo $this->getMethodCode(); ?> .centinel-logos').each(function(el) {
			el.hide();
		});
	//]]>
	</script>
<?php endif; ?>
<?php if( $this->getMethod()->isAcceptJsEnabled() === true ): ?>
	<script type="text/javascript">
	//<![CDATA[
		<?php /** We have to load our scripts dynamically as such, because opc will not load them otherwise. Injecting via layout would only cause compatibility problems. **/ ?>
		if( typeof Accept == 'undefined' ) {
			var s = document.createElement('script');
			s.type = "text/javascript";
			s.src = "https://<?php echo $this->getMethod()->getConfigData('test') ? 'jstest' : 'js'; ?>.authorize.net/v1/Accept.js";
			var fs = document.getElementsByTagName('script')[0];
			fs.parentNode.insertBefore(s, fs);
		}
		
		if( typeof pdlAcceptJs == 'undefined' ) {
			var acceptJs_<?php echo $this->getMethodCode(); ?>_init = function() {
				acceptJs_<?php echo $this->getMethodCode(); ?> = new pdlAcceptJs(
					'payment_form_<?php echo $this->getMethodCode(); ?>',
					'<?php echo addslashes($this->getMethod()->getConfigData('login')); ?>',
					'<?php echo addslashes($this->getMethod()->getConfigData('client_key')); ?>',
					'<?php echo $this->getMethodCode(); ?>',
					'form button[type=submit], #payment-buttons-container button'
				);
				
				if( typeof window['acceptJs_<?php echo $this->getMethodCode(); ?>_callback'] == 'undefined' ) {
					window['acceptJs_<?php echo $this->getMethodCode(); ?>_callback'] = function(response) {
						acceptJs_<?php echo $this->getMethodCode(); ?>.handlePaymentResponse(response);
					}
					
					<?php /** TODO: Remove following expected 9/2016 fix round with deferred loading support **/ ?>
					window.isReady = true;
				}
			}
			
			var s = document.createElement('script');
			s.type = "text/javascript";
			s.src = "<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS) . 'paradoxlabs/authnetcim/accept.js'; ?>";
			s.onreadystatechange = s.onload = function() {
				if (!acceptJs_<?php echo $this->getMethodCode(); ?>_init.done && (!s.readyState || /loaded|complete/.test(s.readyState))) {
					acceptJs_<?php echo $this->getMethodCode(); ?>_init.done = true;
					acceptJs_<?php echo $this->getMethodCode(); ?>_init();
				}
			};
			var fs = document.getElementsByTagName('script')[0];
			fs.parentNode.insertBefore(s, fs);
		}
		else {
			acceptJs_<?php echo $this->getMethodCode(); ?>.bind();
		}
	//]]>
	</script>
<?php endif; ?>