<?php echo $this->getChildHtml('giftcode.other') ?>
<style type="text/css">
    #redeem_code{
        margin: 24px 0 0 0;
        height: 50px;
    }
</style>
<script type="text/javascript">
    $j = jQuery.noConflict();

    $j('.direct_comsumer').addClass('pull-right');
    $j('.direct_comsumer').html('<h1 class="text-uppercase"><?php echo $this->__('GIFT CARD CODE') ?></h1>');

    var redeemForm = new VarienForm('redeem-code-form', true);

</script>
