<?php $_collection = $this->getHistory() ?>
<div class="box-trugiftcard-history">
    <?php if (count($_collection)): ?>
    <div class="right_block_in col-xs-12">
        <div class="search_bar last padd_bot text-center">
            <h3 class="ord_lt"><?php echo $this->__('Gift Card Code "'.$this->getCode().'" History') ?></h3>
            <div class="clearfix"></div>
            <?php
            $types = Magestore_TruGiftCard_Model_Type::getHistoryOption();
            ?>
            <div class="trans_report">
                <?php echo $this->getPagerHtml(); ?>
            </div>
        </div>

        <div class="trancaction_table refund_block gitcode_block">
            <table class="main_table1">
                <tbody>
                <tr>
                    <td>
                        <table class="main_table_in1">
                            <tbody>
                            <tr>
                                <td class="title_head4"><?php echo $this->__('Name') ?></td>
                                <td class="title_head4"><?php echo $this->__('Email') ?></td>
                                <td class="title_head4"><?php echo $this->__('Used Amount') ?></td>
                                <td class="title_head4"><?php echo $this->__('Order ID') ?></td>
                                <td class="title_head4"><?php echo $this->__('Type') ?></td>
                                <td class="title_head4"><?php echo $this->__('Updated At') ?></td>
                                <td class="title_head4"><?php echo $this->__('Created At') ?></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="sample_product_main">
                            <tbody>
                            <?php foreach ($_collection as $_transaction): ?>
                                <tr>
                                    <td>
                                        <table class="main_table_in2">
                                            <tbody>
                                            <tr>
                                                <td class="sample_refund9"><?php
                                                    echo $_transaction->getName(); ?>
                                                </td>
                                                <td class="sample_refund9"><?php
                                                    echo $_transaction->getEmail(); ?>
                                                </td>
                                                <td class="sample_refund10"><?php echo Mage::helper('core')->currency($_transaction->getAppliedAmount(), true, false);; ?></td>
                                                <td class="sample_refund3"><?php
                                                    if($_transaction->getOrderId() != null){
                                                        $order = Mage::getModel('sales/order')->load($_transaction->getOrderId());
                                                        if($order != null && $order->getEntityId())
                                                            echo $order->getIncrementId();
                                                    }
                                                    ?></td>
                                                <td class="sample_refund9"><?php
                                                    echo $types[$_transaction->getType()]; ?>
                                                </td>
                                                <td class="sample_refund4"><?php echo $this->formatTime($_transaction->getUpdatedAt(), 'medium', true) ?></td>
                                                <td class="sample_refund4"><?php echo $this->formatTime($_transaction->getCreatedAt(), 'medium', true) ?></td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<?php else: ?>
    <p><?php echo $this->__('This Gift Card Code has never used.') ?></p>
<?php endif; ?>
