<?php 
    if( ! Mage::getSingleton('customer/session')->isLoggedIn()){
       Mage::app()->getFrontController()->getResponse()->setRedirect(Mage::getUrl('customer/account/login'));
    }else{
		
		?>
    <style>
.row .monthly_leaderboard{
        padding: 0 0 70px 0 !important;
}
.btn_back{
    text-align:center !important;
    padding-top:11px;
}
</style>    

 <!-- Main Content -->
    <div class="main_content">
    	<div class="shop_now_blk">
            <div class="container">
                <div class="row">
                    <div class="shop_now">
                        <ul>
                        <li><a href="<?php echo Mage::getBaseUrl()."home" ?>">Home Page</a></li>
						<li><span>&gt;</span></li>
					   <li><a href="<?php echo Mage::getBaseUrl()."global-brands.html" ?>">Global Brands</a></li>
						<li><span>&gt;</span></li>
					   <li><a href="<?php echo Mage::getBaseUrl()."trainingvideo" ?>">Video</a></li>
           
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clesrfix"></div>
        <div class="main_block inn_pad">
        	<div class="container">
            	<div class="row">
                   <div class="direct_comsumer">
                    </div>
                    <div class="clearfix"></div>
                    <div class="left_block col-sm-3 col-xs-12">
                    	<div class="sidebar active">
                        	<h6>Training files</h6>
                            <div class="sub_blk">
                        	<ul>
							
                            	<li><a href="<?php echo Mage::getBaseUrl().'trainingvideo';?>"><small><img src="<?php echo $this->getSkinUrl('images/icon1.png');?>" width="30" height="32" alt="icon"></small><span>Video</span></a></li>
                                <li><a href="#"><small><img src="<?php echo $this->getSkinUrl('images/icon2.png');?>" width="30" height="32" alt="icon"></small><span>TruLessons</span></a></li>
                                <li><a href="#"><small><img src="<?php echo $this->getSkinUrl('images/icon3.png');?>" width="30" height="32" alt="icon"></small><span>TruTips</span></a></li>
                                <li><a href="<?php echo Mage::getBaseUrl().'training-pdf';?>"><small><img src="<?php echo $this->getSkinUrl('images/icon4.png');?>" width="30" height="32" alt="icon"></small><span>Pdf Files</span></a></li>
                            </ul>
                            </div>
                        </div>    
                    </div>
                    
                    <div class="right_block col-sm-9 col-xs-12">
                    	<div class="right_block_in pad_in_blk">
                    	    <div class="search_bar">
                            <h3 class="text-uppercase">TRAINING VIDEO</h3>
                            <div class="prices">
                            	<label>LANGUAGE</label>
                                <select class="selectpicker">
                                    <option>English</option>
                                    <option>English</option>
                                    <option>English</option>
                                    <option>English</option>
                                </select>

                               <div class="clearfix"></div> 
                            </div>
                            <div class="prices">
                            	<label>SEARCH</label>
                                <input name="name" type="text" value="Search Product" onClick="if(this.value=='Search Product'){this.value=''}" onBlur="if(this.value==''){this.value='Search Product'}">
                               <div class="clearfix"></div> 
                            </div>
                            <div class="clearfix"></div>
                        </div>
						<?php  $newImageUrl2 = Mage::getBaseUrl('media')."catalog/category/video_img1.jpg";
						$newImageUrl24 = Mage::getBaseUrl('media')."catalog/category/download_img.png";
							?>
                            <div class="pdf_files_sec">
							<script src="//www.powr.io/powr.js" external-type="html"></script> 
							<div class="powr-youtube-gallery" id="7316d957_1505907986"></div>
							
                                
                        <div class="clearfix"></div>
                    </div>
                    	</div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
	</div>
    <!-- Main Content end -->
	<script type="text/javascript">
       $j = jQuery.noConflict()
    $j(document).ready(function(e) {
        $j(".sidebar.active .sub_blk").show();
        $j(".sidebar h6").click(function() {
            $j(this).parent().toggleClass('active');
            $j(this).parent().siblings().removeClass('active');
            $j(this).parent().find('.sub_blk').slideToggle();
            $j(this).parent().siblings().find('.sub_blk').slideUp();
        });
        $j(window).scroll(function () {
            if ($j(this).scrollTop() > 100) {
                $j('.BaclToTop').fadeIn();
            } else {
                $j('.BaclToTop').fadeOut();
            } 
        });
  } );
</script>
<?php
	}
		?>