<?php 
    if( ! Mage::getSingleton('customer/session')->isLoggedIn()){
       Mage::app()->getFrontController()->getResponse()->setRedirect(Mage::getUrl('customer/account/login'));
    }else{
		
		?>
        <style>
.row .monthly_leaderboard{
        padding: 0 0 70px 0 !important;
}
.btn_back{
    text-align:center !important;
    padding-top:11px;
}
</style>

<!-- Main Content -->
    <div class="main_content">
    	<div class="shop_now_blk">
            <div class="container">
                <div class="row">
                    <div class="shop_now">
                        <ul>
						
					   <li><a href="<?php echo Mage::getBaseUrl()."home" ?>">Home Page</a></li>
						<li><span>&gt;</span></li>
					   <li><a href="<?php echo Mage::getBaseUrl()."global-brands.html" ?>">Global Brands</a></li>
						<li><span>&gt;</span></li>
					   <li><a href="<?php echo Mage::getBaseUrl()."trainingvideo" ?>">Travel</a></li>
           
                        	
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clesrfix"></div>
        <div class="main_block inn_pad">
        	<div class="container">
            	<div class="row">
                   <div class="direct_comsumer">
                    </div>
                    <div class="clearfix"></div>
                    <div class="left_block col-sm-3 col-xs-12">
                    	<div class="sidebar active">
                        	<h6>Training files</h6>
                            <div class="sub_blk">
                        	<ul>
                            	<li><a href="#"><small><img src="<?php echo $this->getSkinUrl('images/icon1.png');?>" width="30" height="32" alt="icon"></small><span>Video</span></a></li>
                                <li><a href="#"><small><img src="<?php echo $this->getSkinUrl('images/icon2.png');?>" width="30" height="32" alt="icon"></small><span>TruLessons</span></a></li>
                                <li><a href="#"><small><img src="<?php echo $this->getSkinUrl('images/icon3.png');?>" width="30" height="32" alt="icon"></small><span>TruTips</span></a></li>
                                <li><a href="#"><small><img src="<?php echo $this->getSkinUrl('images/icon4.png');?>" width="30" height="32" alt="icon"></small><span>Pdf Files</span></a></li>
                            </ul>
                            </div>
                        </div>    
                    </div>
                    
                    <div class="right_block col-sm-9 col-xs-12">
                    	<div class="right_block_in pad_in_blk">
                    	    <div class="search_bar">
                            <h3 class="text-uppercase">Training Files</h3>
                            <div class="prices language">
                            	<label>LANGUAGE</label>
                                <select class="selectpicker">
                                    <option>Product Prices</option>
                                    <option>Product Prices</option>
                                    <option>Product Prices</option>
                                    <option>Product Prices</option>
                                </select>

                               <div class="clearfix"></div> 
                            </div>
                            <div class="prices language">
                            	<label>SEARCH</label>
                                <input name="name" type="text" value="Search Product" onClick="if(this.value=='Search Product'){this.value=''}" onBlur="if(this.value==''){this.value='Search Product'}">
                               <div class="clearfix"></div> 
                            </div>
                            <div class="clearfix"></div>
                        </div>
						<?php  $newImageUrl2 = Mage::getBaseUrl('media')."catalog/category/pdf_img.png";
						$newImageUrl24 = Mage::getBaseUrl('media')."catalog/category/download_img.png";
							?>
                            <div class="pdf_files_sec">
                                <ul class="clearfix">
                                    <li class="col-xs-6 col-lg-4">
                                        <div class="pdf_files_in">
                                            <img src="<?php echo $newImageUrl2 ?>" width="137" height="167" alt="img">
                                            <span class="pull-left">How to transfer affiliate cash to Truwallet<sup>TM</sup> English</span>
                                            <div class="clearfix"></div>
                                            <button name="name" type="button" class="pdf_files_btn transition"><img src="<?php echo $newImageUrl24 ?>" width="20" height="21" alt="image">Download</button>
                                        </div>
                                    </li>
                                    <li class="col-xs-6 col-lg-4">
                                        <div class="pdf_files_in">
                                            <img src="<?php echo $newImageUrl2 ?>" width="137" height="167" alt="img">
                                            <span class="pull-left">How to transfer affiliate cash to Truwallet<sup>TM</sup> English</span>

                                            <div class="clearfix"></div>
                                            <button name="name" type="button" class="pdf_files_btn transition"><img src="<?php echo $newImageUrl24 ?>" width="20" height="21" alt="image">Download</button>
                                        </div>
                                    </li>
                                    <li class="col-xs-6 col-lg-4">
                                        <div class="pdf_files_in">
                                            <img src="<?php echo $newImageUrl2 ?>" width="137" height="167" alt="img">
                                            <span class="pull-left">How to transfer affiliate cash to Truwallet<sup>TM</sup> English</span>

                                            <div class="clearfix"></div>
                                            <button name="name" type="button" class="pdf_files_btn transition"><img src="<?php echo $newImageUrl24 ?>" width="20" height="21" alt="image">Download</button>
                                        </div>
                                    </li>
                                    
                                    <li class="col-xs-6 col-lg-4">
                                        <div class="pdf_files_in">
                                            <img src="<?php echo $newImageUrl2 ?>" width="137" height="167" alt="img">
                                            <span class="pull-left">How to transfer affiliate cash to Truwallet<sup>TM</sup> English</span>

                                            <div class="clearfix"></div>
                                            <button name="name" type="button" class="pdf_files_btn transition"><img src="<?php echo $newImageUrl24 ?>" width="20" height="21" alt="image">Download</button>
                                        </div>
                                    </li>
                                    <li class="col-xs-6 col-lg-4">
                                        <div class="pdf_files_in">
                                            <img src="<?php echo $newImageUrl2 ?>" width="137" height="167" alt="img">
                                            <span class="pull-left">How to transfer affiliate cash to Truwallet<sup>TM</sup> English</span>

                                            <div class="clearfix"></div>
                                            <button name="name" type="button" class="pdf_files_btn transition"><img src="<?php echo $newImageUrl24 ?>" width="20" height="21" alt="image">Download</button>
                                        </div>
                                    </li>
                                    <li class="col-xs-6 col-lg-4">
                                        <div class="pdf_files_in">
                                            <img src="<?php echo $newImageUrl2 ?>" width="137" height="167" alt="img">
                                            <span class="pull-left">How to transfer affiliate cash to Truwallet<sup>TM</sup> English</span>

                                            <div class="clearfix"></div>
                                            <button name="name" type="button" class="pdf_files_btn transition"><img src="<?php echo $newImageUrl24 ?>" width="20" height="21" alt="image">Download</button>
                                        </div>
                                    </li>
                                    
                                    <li class="col-xs-6 col-lg-4">
                                        <div class="pdf_files_in">
                                            <img src="<?php echo $newImageUrl2 ?>" width="137" height="167" alt="img">
                                            <span class="pull-left">How to transfer affiliate cash to Truwallet<sup>TM</sup> English</span>

                                            <div class="clearfix"></div>
                                            <button name="name" type="button" class="pdf_files_btn transition"><img src="<?php echo $newImageUrl24 ?>" width="20" height="21" alt="image">Download</button>
                                        </div>
                                    </li>
                                    <li class="col-xs-6 col-lg-4">
                                        <div class="pdf_files_in">
                                            <img src="<?php echo $newImageUrl2 ?>" width="137" height="167" alt="img">
                                            <span class="pull-left">How to transfer affiliate cash to Truwallet<sup>TM</sup> English</span>

                                            <div class="clearfix"></div>
                                            <button name="name" type="button" class="pdf_files_btn transition"><img src="<?php echo $newImageUrl24 ?>" width="20" height="21" alt="image">Download</button>
                                        </div>
                                    </li>
                                    <li class="col-xs-6 col-lg-4">
                                        <div class="pdf_files_in">
                                            <img src="<?php echo $newImageUrl2 ?>" width="137" height="167" alt="img">
                                            <span class="pull-left">How to transfer affiliate cash to Truwallet<sup>TM</sup> English</span>

                                            <div class="clearfix"></div>
                                            <button name="name" type="button" class="pdf_files_btn transition"><img src="<?php echo $newImageUrl24 ?>" width="20" height="21" alt="image">Download</button>
                                        </div>
                                    </li>
                                    
                                    <li class="col-xs-6 col-lg-4">
                                        <div class="pdf_files_in">
                                            <img src="<?php echo $newImageUrl2 ?>" width="137" height="167" alt="img">
                                            <span class="pull-left">How to transfer affiliate cash to Truwallet<sup>TM</sup> English</span>

                                            <div class="clearfix"></div>
                                            <button name="name" type="button" class="pdf_files_btn transition"><img src="<?php echo $newImageUrl24 ?>" width="20" height="21" alt="image">Download</button>
                                        </div>
                                    </li>
                                    <li class="col-xs-6 col-lg-4">
                                        <div class="pdf_files_in">
                                            <img src="<?php echo $newImageUrl2 ?>" width="137" height="167" alt="img">
                                            <span class="pull-left">How to transfer affiliate cash to Truwallet<sup>TM</sup> English</span>

                                            <div class="clearfix"></div>
                                            <button name="name" type="button" class="pdf_files_btn transition"><img src="<?php echo $newImageUrl24 ?>" width="20" height="21" alt="image">Download</button>
                                        </div>
                                    </li>
                                    <li class="col-xs-6 col-lg-4">
                                        <div class="pdf_files_in">
                                            <img src="<?php echo $newImageUrl2 ?>" width="137" height="167" alt="img">
                                            <span class="pull-left">How to transfer affiliate cash to Truwallet<sup>TM</sup> English</span>

                                            <div class="clearfix"></div>
                                            <button name="name" type="button" class="pdf_files_btn transition"><img src="<?php echo $newImageUrl24 ?>" width="20" height="21" alt="image">Download</button>
                                        </div>
                                    </li>
                                </ul>
                        <div class="clearfix"></div>
                    </div>
                    	</div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="latest_news_blk">
        	<div class="container">
            	<div class="row">
                	<div class="latest_news">
                    	<div class="latest_news_lft col-sm-6 col-xs-12">
                        	<div class="yahoo_logo pull-left"><a href="#"><img src="images/yahoo_logo.png" alt="logo"></a></div>
                            <div class="news pull-right">
                            	<h3>LATEST NEWS</h3>
                                <p>Trunited is the brainchild of Dr. Nicolas Porter, an award-winning business founder, doctor, and multi-industry disruptor. It is a platform set to harness Socialized Commerce, a new form of business that aims to take profits that were going to large businesses and advertisers and redirect them to consumers and connectors......</p>
                                <a href="#">READ MORE</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="latest_news_rgt col-sm-6 col-xs-12">
                        	<h3>WHAT PEOPLE ARE SAYING</h3>
                            <p>I am already seeing how Trunited will disrupt the industry of commerce from my conversation with friends. Shop. Learn. Earn. With great products and price you already pay plus free shipping! Where do I sign ?am already seeing how Trunited will disrupt the industry of commerce from my conversation with friends. Shop. Learn. Earn. With great products and price you already pay plus free shipping! Where do I sign ?</p>
                            <span>JIM. H - <small>Minnesota</small></span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
	</div>
	<script type="text/javascript">
       $j = jQuery.noConflict()
    $j(document).ready(function(e) {
        $j(".sidebar.active .sub_blk").show();
        $j(".sidebar h6").click(function() {
            $j(this).parent().toggleClass('active');
            $j(this).parent().siblings().removeClass('active');
            $j(this).parent().find('.sub_blk').slideToggle();
            $j(this).parent().siblings().find('.sub_blk').slideUp();
        });
        $j(window).scroll(function () {
            if ($j(this).scrollTop() > 100) {
                $j('.BaclToTop').fadeIn();
            } else {
                $j('.BaclToTop').fadeOut();
            } 
        });
  } );
</script>
		
		<?php
	}
		?>