<?php 
    if( ! Mage::getSingleton('customer/session')->isLoggedIn()){
       Mage::app()->getFrontController()->getResponse()->setRedirect(Mage::getUrl('customer/account/login'));
    }else{ 
        ?>
<div class="main_content">
        <div class="shop_now_blk">
            <div class="container">
                <div class="row">
                    <div class="shop_now">
                        <ul>
                            <li><a href="<?php echo Mage::getUrl('home');?>">Sign In</a></li>
                            <li><span>&gt;</span></li>
                            <li><a href="<?php echo Mage::getUrl('customer/account');?>">My Account</a></li>
                            <li><span>&gt;</span></li>
                            <li><a href="#">Customer Dashboard</a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main_block inn_pad">
        	<div class="container">
            	<div class="row">
                    <div class="right_block col-sm-12 col-xs-12 width_full">
                    	<div class="right_block_in margin_top">
                            <div class="search_bar last">
                                <div class="head_txt">
                                      <h3 class="text-uppercase">YOUR STATS NUMBER</h3> 
                                </div>
                            </div>
                            <div class="your_starts">
                                <div class="your_starts_info">
                                    <ul>
                                        <li class="col-xs-4">
                                            <div class="points_list">
                                                <strong>68</strong>
                                                <small>personal<br>points</small>
                                            </div>
                                            
                                            <div class="points_list">
                                                <strong>172</strong>
                                                <small>next level <br>points</small>
                                            </div>
                                            
                                            <div class="points_list">
                                                <strong>8%</strong>
                                                <small>trubox<br>engagement</small>
                                            </div>
                                        </li>
                                        
                                        <li class="col-xs-4">
                                            <div class="points_list">
                                                <strong>172</strong>
                                                <small>connection <br>points</small>
                                            </div>
                                            
                                            <div class="points_list">
                                                <strong>168</strong>
                                                <small>unearned <br>points</small>
                                            </div>
                                            
                                            <div class="points_list">
                                                <strong>15%</strong>
                                                <small>customer<br>engagement</small>
                                            </div>
                                        </li>
                                        
                                        <li class="col-xs-4">
                                            <div class="points_list">
                                                <strong>78</strong>
                                                <small>affiliate<br>points</small>
                                            </div>
                                            
                                            <div class="points_list">
                                                <strong>93</strong>
                                                <small>your efficient<br>point match</small>
                                            </div>
                                            
                                            <div class="points_list">
                                                <strong>1,260</strong>
                                                <small>points<br>on hold</small>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="your_starts_depth">
                                    <ul>
                                        <li class="col-xs-4">
                                            <h3>DEPTH CREDIT</h3>
                                            <div class="depth_in">
                                                <div class="points_list">
                                                    <strong>16%</strong>
                                                    <small>TRUBOX<br>ENGAGEMENT</small>
                                                </div>

                                                <div class="points_list">
                                                    <strong>172</strong>
                                                    <small class="depth_pad">points</small>
                                                </div>

                                                <div class="points_list">
                                                    <strong>8%</strong>
                                                    <small>CUSTOMER<br>engagement</small>
                                                </div>
                                            </div>
                                        </li>
                                        
                                        <li class="col-xs-4">
                                            <h3>SWEET 15 DEPTH</h3>
                                            <div class="depth_in">
                                                <div class="points_list">
                                                    <strong>15%</strong>
                                                    <small>TRUBOX<br>ENGAGEMENT</small>
                                                </div>

                                                <div class="points_list">
                                                    <strong>7,000</strong>
                                                    <small class="depth_pad">points</small>
                                                </div>

                                                <div class="points_list">
                                                    <strong>15%</strong>
                                                    <small>CUSTOMER<br>engagement</small>
                                                </div>
                                            </div>
                                        </li>
                                        
                                        <li class="col-xs-4">
                                            <h3>TOTAL DEPTH</h3>
                                            <div class="depth_in">
                                                <div class="points_list">
                                                    <strong>4%</strong>
                                                    <small>TRUBOX<br>ENGAGEMENT</small>
                                                </div>

                                                <div class="points_list">
                                                    <strong>107,000</strong>
                                                    <small class="depth_pad">points</small>
                                                </div>

                                                <div class="points_list">
                                                    <strong>22%</strong>
                                                    <small>CUSTOMER<br>engagement</small>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <button type="button" class="btn_back transition" onclick="javascript:history.go(-1);">BACK</button>
                            </div>
                    	</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<?php } ?>