<?php
$dg = $this->getDataGrid();
?>

<div class="direct_comsumer"></div>
<div class="clearfix"></div>
<div class="business_block">
    <div class="col-sm-12 col-xs-12">
        <div class="right_block_in">
            <div class="search_bar last padd_bot">
                <div class="head_txt">
                    <h3 class="pad_last"><?php echo $this->__('Connection List'); ?></h3>
                </div>
            </div>
            <div class="your_starts">
                <?php
                if($dg != null){
                    $dg->display();
                } else {
                    echo $this->__('No records found');
                }
                     ?>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<script type="text/javascript">

    $j = jQuery.noConflict();

    $j(function () {
        var grid = jQuery("#connectionList");
        grid[0].toggleToolbar();
    });

    function ratingformatter(cellValue, options, rowdata) {
        var _url = '<?php echo Mage::getUrl('passport/member/info')?>';
        _url += 'id/' + btoa(rowdata.key);
        return '<a href="' + _url + '" id="' + rowdata.key + '" target="_blank"><?php echo $this->__('PASSPORT'); ?></a>';
    }

    function urlformatter(cellValue, options, rowdata) {
        return '<a href="' + cellValue + '" target="_blank"><?php echo $this->__('Click'); ?></a>';
    }

    $j('.main-container').addClass('main_block');
    $j('.main').addClass('container');
    $j('.main .col-main').addClass('row');
    $j('.page').addClass('main_content');

    $j(document).ready(function (e) {
        $j(".sidebar.active .sub_blk").show();

        $j(".sidebar h6").click(function () {
            $j(this).parent().toggleClass('active');
            $j(this).parent().siblings().removeClass('active');
            $j(this).parent().find('.sub_blk').slideToggle();
            $j(this).parent().siblings().find('.sub_blk').slideUp();
        });

        $j(window).scroll(function () {
            if ($j(this).scrollTop() > 100) {
                $j('.BaclToTop').fadeIn();
            } else {
                $j('.BaclToTop').fadeOut();
            }
        });
    });

</script>


