<div class="main_block main_bg3">
   <div class="everyday_product">
      <h1>Gift Cards</h1>
   </div>
   <div class="loading_page global_brands quiz">
      <h2>What's Your Earnings Score?</h2>
      <p>We’re convinced that Socialized Commerce, Powered by Trunited.com, can take your buying power and put that money to work for you.  Let’s take just a few things and put that claim to the test.</p>
      <h4>Which Of These Gift Card Brands Would You Buy?</h4>
      <form  action="score-giftcards" method="post" id="change-form" role="form">
      <ul class="clearfix">
         <li>
            <a><img src="<?php echo $this->getSkinUrl('images/inode/quizzes/GiftCards_icons/1_1_BucaDiBeppo.png') ?>" alt="Divided we fall, Trunited we stand"></a>
         </li>
         <li>
            <a><img src="<?php echo $this->getSkinUrl('images/inode/quizzes/GiftCards_icons/1_2_AMCAmazing.png') ?>" alt="Divided we fall, Trunited we stand"></a>
         </li>
         <li>
            <a><img src="<?php echo $this->getSkinUrl('images/inode/quizzes/GiftCards_icons/2_1_BuffaloWings.png') ?>" alt="Divided we fall, Trunited we stand"></a>
         </li>
         <li>
            <a><img src="<?php echo $this->getSkinUrl('images/inode/quizzes/GiftCards_icons/2_2_ColdStone.png') ?>" alt="Divided we fall, Trunited we stand"></a>
         </li>
         <li>
            <a><img src="<?php echo $this->getSkinUrl('images/inode/quizzes/GiftCards_icons/3_1_BurguerKing.png') ?>" alt="Divided we fall, Trunited we stand"></a>
         </li>
         <li>
            <a><img src="<?php echo $this->getSkinUrl('images/inode/quizzes/GiftCards_icons/3_2_Roys.png') ?>" alt="Divided we fall, Trunited we stand"></a>
         </li>
         <li>
            <a><img src="<?php echo $this->getSkinUrl('images/inode/quizzes/GiftCards_icons/4_1_Applebes.png') ?>" alt="Divided we fall, Trunited we stand"></a>
         </li>
         <li>
            <a><img src="<?php echo $this->getSkinUrl('images/inode/quizzes/GiftCards_icons/4_2_DunkinDonuts.png') ?>" alt="Divided we fall, Trunited we stand"></a>
         </li>
         <li>
            <a><img src="<?php echo $this->getSkinUrl('images/inode/quizzes/GiftCards_icons/5_1_RedRobin.png') ?>" alt="Divided we fall, Trunited we stand"></a>
         </li>
         <li>
            <a><img src="<?php echo $this->getSkinUrl('images/inode/quizzes/GiftCards_icons/5_2_KrispyKreme.png') ?>" alt="Divided we fall, Trunited we stand"></a>
         </li>
         <li>
            <a> <img src="<?php echo $this->getSkinUrl('images/inode/quizzes/GiftCards_icons/6_1_SmashBurguer.png') ?>" alt="Divided we fall, Trunited we stand"></a>
         </li>
         <li>
            <a><img src="<?php echo $this->getSkinUrl('images/inode/quizzes/GiftCards_icons/6_2_NutriSystem.png') ?>" alt="Divided we fall, Trunited we stand"></a>
         </li>
         <li>
            <a><img src="<?php echo $this->getSkinUrl('images/inode/quizzes/GiftCards_icons/7_1_Logans.png') ?>" alt="Divided we fall, Trunited we stand"></a>
         </li>
         <li>
            <a><img src="<?php echo $this->getSkinUrl('images/inode/quizzes/GiftCards_icons/7_2_KonaGrill.png') ?>" alt="Divided we fall, Trunited we stand"></a>
         </li>
         <li>
            <a><img src="<?php echo $this->getSkinUrl('images/inode/quizzes/GiftCards_icons/8_1_JiffyLube.png') ?>" alt="Divided we fall, Trunited we stand"></a>
         </li>
         <li>
            <a><img src="<?php echo $this->getSkinUrl('images/inode/quizzes/GiftCards_icons/8_2_Trunited.png') ?>" alt="Divided we fall, Trunited we stand"></a>
         </li>
         <li>
            <a><img src="<?php echo $this->getSkinUrl('images/inode/quizzes/GiftCards_icons/9_1_CircleK.png') ?>" alt="Divided we fall, Trunited we stand"></a>
         </li>
         <li>
            <a><img src="<?php echo $this->getSkinUrl('images/inode/quizzes/GiftCards_icons/9_2_CoffeBean.png') ?>" alt="Divided we fall, Trunited we stand"></a>
         </li>
         <li>
            <a><img src="<?php echo $this->getSkinUrl('images/inode/quizzes/GiftCards_icons/10_1_PFChangs.png') ?>" alt="Divided we fall, Trunited we stand"></a>
         </li>
         <li>
            <a><img src="<?php echo $this->getSkinUrl('images/inode/quizzes/GiftCards_icons/10_2_Starbucks.png') ?>" alt="Divided we fall, Trunited we stand"></a>
         </li>
         <li>
            <a><img src="<?php echo $this->getSkinUrl('images/inode/quizzes/GiftCards_icons/11_1_LuluLemon.png') ?>" alt="Divided we fall, Trunited we stand"></a>
         </li>
         <li>
            <a> <img src="<?php echo $this->getSkinUrl('images/inode/quizzes/GiftCards_icons/11_2_Nordstrom.png') ?>" alt="Divided we fall, Trunited we stand"></a>
         </li>
         <li>
            <a><img src="<?php echo $this->getSkinUrl('images/inode/quizzes/GiftCards_icons/12_1_Ebay.png') ?>" alt="Divided we fall, Trunited we stand"></a>
         </li>
         <li>
            <a> <img src="<?php echo $this->getSkinUrl('images/inode/quizzes/GiftCards_icons/12_2_GameStop.png') ?>" alt="Divided we fall, Trunited we stand"></a>
         </li>
      </ul>
      <input type="hidden" name="page" value="/quiz-global">
      <input type="hidden" name="shop_now" value="/global-brands.html">
      <input type="hidden" name="result" id="mytext">
                <div class="div-button-center">
                    <input class="my_score_btn" type="submit" value="GET MY SCORE!" />
                </div>
      </form>
   </div>
</div>
