 <!-- Main Content -->

    <div class="main_content">
        <div class="main_block main_bg3 ">
          <div class="everyday_product"><h1>everyday products</h1></div>
          <div class="loading_page quiz">
              <h2>What's Your Earnings Score?</h2>
                <p>We’re convinced that Socialized Commerce, Powered by Trunited.com, can take your buying power and put that money to work for you.  Let’s take just a few things and put that claim to the test.</p>
                <h4>Which Of These Everyday Products Do You Use?</h4>
                <form  action="score-d2c" method="post" id="change-form" role="form">
                <ul class="clearfix">
                  <li>
                      <a><img  src="<?php echo $this->getSkinUrl('images/inode/quizzes/DailyProducts_icons/1_1_LaundrySoap.png') ?>" alt="Divided we fall, Trunited we stand"></a>
                        <span>Laundry soap</span>
                    </li>
                    <li>
                      <a><img name="answer-dish-soap" src="<?php echo $this->getSkinUrl('images/inode/quizzes/DailyProducts_icons/1_2_DishSoap.png') ?>" alt="Divided we fall, Trunited we stand"></a>
                        <span>Dish Soap</span>
                    </li>
                    <li>
                      <a><img name="answer-hand-soap" src="<?php echo $this->getSkinUrl('images/inode/quizzes/DailyProducts_icons/1_3_HandSoap.png') ?>" alt="Divided we fall, Trunited we stand"></a>
                        <span>Hand Soap</span>
                    </li>
                    <li>
                      <a><img name="answer-stain-remover" src="<?php echo $this->getSkinUrl('images/inode/quizzes/DailyProducts_icons/1_4_StainRemover.png') ?>" alt="Divided we fall, Trunited we stand"></a>
                        <span>Stain Remover</span>
                    </li>
                    <li>
                      <a><img name="answer-baby-wipes" src="<?php echo $this->getSkinUrl('images/inode/quizzes/DailyProducts_icons/1_5_BabyWipes.png') ?>" alt="Divided we fall, Trunited we stand"></a>
                        <span>Baby Wipes</span>
                    </li>
                    
                    <li>
                      <a><img name="answer-paper-towels" src="<?php echo $this->getSkinUrl('images/inode/quizzes/DailyProducts_icons/2_1_PaperTowels.png') ?>" alt="Divided we fall, Trunited we stand"></a>
                        <span>Paper Towels</span>
                    </li>
                    <li>
                      <a><img name="answer-body-soap" src="<?php echo $this->getSkinUrl('images/inode/quizzes/DailyProducts_icons/2_2_BodySoap.png') ?>" alt="Divided we fall, Trunited we stand"></a>
                        <span>Body Soap</span>
                    </li>
                    <li>
                      <a><img name="answer-bee-jerky" src="<?php echo $this->getSkinUrl('images/inode/quizzes/DailyProducts_icons/2_3_BeeJerky.png') ?>" alt="Divided we fall, Trunited we stand"></a>
                        <span>Beef Jerky</span>
                    </li>
                    <li>
                      <a><img name="answer-baby-lotion" src="<?php echo $this->getSkinUrl('images/inode/quizzes/DailyProducts_icons/2_4_BabyLotion.png') ?>" alt="Divided we fall, Trunited we stand"></a>
                        <span>Baby Lotion</span>
                    </li>
                    <li>
                      <a><img name="answer-deodorant" src="<?php echo $this->getSkinUrl('images/inode/quizzes/DailyProducts_icons/2_5_Deodorant.png') ?>" alt="Divided we fall, Trunited we stand"></a>
                        <span>Deodorant</span>
                    </li>
                    
                    <li>
                      <a><img name="answer-energy-drinks" src="<?php echo $this->getSkinUrl('images/inode/quizzes/DailyProducts_icons/3_1_EnergyDrinks.png') ?>" alt="Divided we fall, Trunited we stand"></a>
                        <span>Energy Drinks</span>
                    </li>
                    <li>
                      <a><img name="answer-tooth-paste" src="<?php echo $this->getSkinUrl('images/inode/quizzes/DailyProducts_icons/3_2_Toothpaste.png') ?>" alt="Divided we fall, Trunited we stand"></a>
                        <span>Toothpaste</span>
                    </li>
                    <li>
                      <a><img name="answer-shampoo" src="<?php echo $this->getSkinUrl('images/inode/quizzes/DailyProducts_icons/3_3_Shampoo.png') ?>" alt="Divided we fall, Trunited we stand"></a>
                        <span>Shampoo</span>
                    </li>
                    <li>
                      <a><img name="answer-conditioner" src="<?php echo $this->getSkinUrl('images/inode/quizzes/DailyProducts_icons/3_4_Conditioner.png') ?>" alt="Divided we fall, Trunited we stand"></a>
                        <span>Conditioner</span>
                    </li>
                    <li>
                      <a><img name="answer-body-wash" src="<?php echo $this->getSkinUrl('images/inode/quizzes/DailyProducts_icons/3_5_BodyWash.png') ?>" alt="Divided we fall, Trunited we stand"></a>
                        <span>Body Wash</span>
                    </li>
                    
                    <li>
                      <a><img name="answer-facial-cleanser" src="<?php echo $this->getSkinUrl('images/inode/quizzes/DailyProducts_icons/4_1_FacialCleanser.png') ?>" alt="Divided we fall, Trunited we stand"></a>
                        <span>Facial Cleanser</span>
                    </li>
                    <li>
                      <a><img name="answer-daily-vitamin" src="<?php echo $this->getSkinUrl('images/inode/quizzes/DailyProducts_icons/4_2_DailyVitamin.png') ?>" alt="Divided we fall, Trunited we stand"></a>
                        <span>Daily Vitamin</span>
                    </li>
                    <li>
                      <a><img name="answer-protein-shake" src="<?php echo $this->getSkinUrl('images/inode/quizzes/DailyProducts_icons/4_3_ProteinShake.png') ?>" alt="Divided we fall, Trunited we stand"></a>
                        <span>Protein Shake</span>
                    </li>
                    <li>
                      <a><img name="answer-body-lotion" src="<?php echo $this->getSkinUrl('images/inode/quizzes/DailyProducts_icons/4_4_BodyLotion.png') ?>" alt="Divided we fall, Trunited we stand"></a>
                        <span>Body Lotion</span>
                    </li>
                    <li>
                      <a><img name="answer-coffe" src="<?php echo $this->getSkinUrl('images/inode/quizzes/DailyProducts_icons/4_5_Coffe.png') ?>" alt="Divided we fall, Trunited we stand"></a>
                        <span>Coffee</span>
                    </li>
                    
                    <li>
                      <a><img name="answer-snacks" src="<?php echo $this->getSkinUrl('images/inode/quizzes/DailyProducts_icons/5_1_Snacks.png') ?>" alt="Divided we fall, Trunited we stand"></a>
                        <span>Snacks</span>
                    </li>
                    <li>
                      <a><img name="answer-candy" src="<?php echo $this->getSkinUrl('images/inode/quizzes/DailyProducts_icons/5_2_Candy.png') ?>" alt="Divided we fall, Trunited we stand"></a>
                        <span>Candy</span>
                    </li>
                    <li>
                      <a><img name="answer-chewing-gum" src="<?php echo $this->getSkinUrl('images/inode/quizzes/DailyProducts_icons/5_3_ChewingGum.png') ?>" alt="Divided we fall, Trunited we stand"></a>
                        <span>Chewing Gum</span>
                    </li>
                    <li>
                      <a><img name="answer-facial-serum" src="<?php echo $this->getSkinUrl('images/inode/quizzes/DailyProducts_icons/5_4_FacialSerum.png') ?>" alt="Divided we fall, Trunited we stand"></a>
                        <span>Facial Serum</span>
                    </li>
                    <li>
                      <a><img name="answer-eye-cam" src="<?php echo $this->getSkinUrl('images/inode/quizzes/DailyProducts_icons/5_5_EyeCream.png') ?>" alt="Divided we fall, Trunited we stand"></a>
                        <span>Eye Cream</span>
                    </li>
                    
                    <li>
                      <a><img name="answer-protein-bars" src="<?php echo $this->getSkinUrl('images/inode/quizzes/DailyProducts_icons/6_1_ProteinBars.png') ?>" alt="Divided we fall, Trunited we stand"></a>
                        <span>Protein Bars</span>
                    </li>
                    <li>
                      <a><img name="answer-medication" src="<?php echo $this->getSkinUrl('images/inode/quizzes/DailyProducts_icons/6_2_OTCMedication.png') ?>" alt="Divided we fall, Trunited we stand"></a>
                        <span>OTC Medication</span>
                    </li>
                    <li>
                      <a><img name="answer-suplements" src="<?php echo $this->getSkinUrl('images/inode/quizzes/DailyProducts_icons/6_3_Supplements.png') ?>" alt="Divided we fall, Trunited we stand"></a>
                        <span>Supplements</span>
                    </li>
                    <li>
                      <a><img name="answer-protein-powder" src="<?php echo $this->getSkinUrl('images/inode/quizzes/DailyProducts_icons/6_4_ProteinPowder.png') ?>" alt="Divided we fall, Trunited we stand"></a>
                        <span>Protein Powder</span>
                    </li>
                    <li>
                      <a><img name="answer-house-cleanser" src="<?php echo $this->getSkinUrl('images/inode/quizzes/DailyProducts_icons/6_5_HouseCleaner.png') ?>" alt="Divided we fall, Trunited we stand"></a>
                        <span>House Cleaner</span>
                    </li>
                </ul>
                <input type="hidden" name="page" value="/quiz-d2c">
                <input type="hidden" name="shop_now" value="/direct-to-consumer.html">
                <input type="hidden" name="result" id="mytext">
                <div class="div-button-center">
                    <input class="my_score_btn" type="submit" value="GET MY SCORE!" />
                    </div>
                </form>
                </div>
            </div>
        </div>
  </div>
    <!-- Main Content end -->