 <div class="main_content">
        <div class="main_block main_bg3">
          <div class="everyday_product"><h1>monthly services</h1></div>
          <div class="loading_page quiz">
              <h2>What's Your Earnings Score?</h2>
                <p>We’re convinced that Socialized Commerce, Powered by Trunited.com, can take your buying power and put that money to work for you.  Let’s take just a few things and put that claim to the test.</p>
                <h4>Which Of These Monthly Services Do You Use?</h4>
                <form  action="score-monthly" method="post" id="change-form" role="form">
                <ul class="clearfix">
                  <li>
                      <a> <img src="<?php echo $this->getSkinUrl('images/inode/quizzes/MonthlyServices_icon/1_1_AutoInsurance.png') ?>" alt="Divided we fall, Trunited we stand"></a>
                        <span>Auto Insurance</span>
                    </li>
                    <li>
                      <a><img src="<?php echo $this->getSkinUrl('images/inode/quizzes/MonthlyServices_icon/1_2_LifeInsurance.png') ?>" alt="Divided we fall, Trunited we stand"></a>
                        <span>Life Insurance</span>
                    </li>
                    <li>
                      <a><img src="<?php echo $this->getSkinUrl('images/inode/quizzes/MonthlyServices_icon/1_3_HomeInsurance.png') ?>" alt="Divided we fall, Trunited we stand"></a>
                        <span>Home Insurance</span>
                    </li>
                    <li>
                      <a><img src="<?php echo $this->getSkinUrl('images/inode/quizzes/MonthlyServices_icon/1_4_TravelInsurance.png') ?>" alt="Divided we fall, Trunited we stand"></a>
                        <span>Travel Insurance</span>
                    </li>
                    <li>
                      <a><img src="<?php echo $this->getSkinUrl('images/inode/quizzes/MonthlyServices_icon/1_5_PetInsurance.png') ?>" alt="Divided we fall, Trunited we stand"></a>
                        <span>Pet Insurance</span>
                    </li>
                    
                    <li>
                      <a><img src="<?php echo $this->getSkinUrl('images/inode/quizzes/MonthlyServices_icon/2_1_PetGrooming.png') ?>" alt="Divided we fall, Trunited we stand"></a>
                        <span>Pet Grooming</span>
                    </li>
                    <li>
                      <a><img src="<?php echo $this->getSkinUrl('images/inode/quizzes/MonthlyServices_icon/2_2_Landscaping.png') ?>" alt="Divided we fall, Trunited we stand"></a>
                        <span>Landscaping</span>
                    </li>
                    <li>
                      <a><img src="<?php echo $this->getSkinUrl('images/inode/quizzes/MonthlyServices_icon/2_3_Housekeeping.png') ?>" alt="Divided we fall, Trunited we stand"></a>
                        <span>Housekeeping</span>
                    </li>
                    <li>
                      <a><img src="<?php echo $this->getSkinUrl('images/inode/quizzes/MonthlyServices_icon/2_4_Laundry.png') ?>" alt="Divided we fall, Trunited we stand"></a>
                        <span>Laundry</span>
                    </li>
                    <li>
                      <a><img src="<?php echo $this->getSkinUrl('images/inode/quizzes/MonthlyServices_icon/2_5_PoolCleaning.png') ?>" alt="Divided we fall, Trunited we stand"></a>
                        <span>Pool Cleaning</span>
                    </li>
                    
                    <li>
                      <a><img src="<?php echo $this->getSkinUrl('images/inode/quizzes/MonthlyServices_icon/3_1_Handyman.png') ?>" alt="Divided we fall, Trunited we stand"></a>
                        <span>Handyman</span>
                    </li>
                    <li>
                      <a><img src="<?php echo $this->getSkinUrl('images/inode/quizzes/MonthlyServices_icon/3_2_Plumber.png') ?>" alt="Divided we fall, Trunited we stand"></a>
                        <span>Plumber</span>
                    </li>
                    <li>
                      <a><img src="<?php echo $this->getSkinUrl('images/inode/quizzes/MonthlyServices_icon/3_3_HVAC.png') ?>" alt="Divided we fall, Trunited we stand"></a>
                        <span>HVAC</span>
                    </li>
                    <li>
                      <a><img src="<?php echo $this->getSkinUrl('images/inode/quizzes/MonthlyServices_icon/3_4_DryCleaning.png') ?>" alt="Divided we fall, Trunited we stand"></a>
                        <span>Dry Cleaning</span>
                    </li>
                    <li>
                      <a><img src="<?php echo $this->getSkinUrl('images/inode/quizzes/MonthlyServices_icon/3_5_PestControl.png') ?>" alt="Divided we fall, Trunited we stand"></a>
                        <span>Pest Control</span>
                    </li>
                    
                    <li>
                      <a><img src="<?php echo $this->getSkinUrl('images/inode/quizzes/MonthlyServices_icon/4_1_AlarmSecurity.png') ?>" alt="Divided we fall, Trunited we stand"></a>
                        <span>Alarm Security</span>
                    </li>
                    <li>
                      <a><img src="<?php echo $this->getSkinUrl('images/inode/quizzes/MonthlyServices_icon/4_2_ChildCare.png') ?>" alt="Divided we fall, Trunited we stand"></a>
                        <span>Child Care</span>
                    </li>
                    <li>
                      <a><img src="<?php echo $this->getSkinUrl('images/inode/quizzes/MonthlyServices_icon/4_3_BarberShop.png') ?>" alt="Divided we fall, Trunited we stand"></a>
                        <span>Barber Shop</span>
                    </li>
                    <li>
                      <a><img src="<?php echo $this->getSkinUrl('images/inode/quizzes/MonthlyServices_icon/4_4_HairSalon.png') ?>" alt="Divided we fall, Trunited we stand"></a>
                        <span>Hair Salon</span>
                    </li>
                    <li>
                      <a><img src="<?php echo $this->getSkinUrl('images/inode/quizzes/MonthlyServices_icon/4_5_Nails.png') ?>" alt="Divided we fall, Trunited we stand"></a>
                        <span>Nails</span>
                    </li>
                    
                    <li>
                      <a><img src="<?php echo $this->getSkinUrl('images/inode/quizzes/MonthlyServices_icon/5_1_Grooming.png') ?>" alt="Divided we fall, Trunited we stand"></a>
                        <span>Grooming</span>
                    </li>
                    <li>
                      <a><img src="<?php echo $this->getSkinUrl('images/inode/quizzes/MonthlyServices_icon/5_2_Massages.png') ?>" alt="Divided we fall, Trunited we stand"></a>
                        <span>Massage</span>
                    </li>
                    <li>
                      <a><img src="<?php echo $this->getSkinUrl('images/inode/quizzes/MonthlyServices_icon/5_3_Assisting.png') ?>" alt="Divided we fall, Trunited we stand"></a>
                        <span>Assisting</span>
                    </li>
                    <li>
                      <a><img src="<?php echo $this->getSkinUrl('images/inode/quizzes/MonthlyServices_icon/5_4_Accounting.png') ?>" alt="Divided we fall, Trunited we stand"></a>
                        <span>Accounting</span>
                    </li>
                    <li>
                      <a><img src="<?php echo $this->getSkinUrl('images/inode/quizzes/MonthlyServices_icon/5_5_Lending.png') ?>" alt="Divided we fall, Trunited we stand"></a>
                        <span>Lending</span>
                    </li>
                    
                    <li>
                      <a><img src="<?php echo $this->getSkinUrl('images/inode/quizzes/MonthlyServices_icon/6_1_RealEstate.png') ?>" alt="Divided we fall, Trunited we stand"></a>
                        <span>Real Estate</span>
                    </li>
                    <li>
                      <a><img src="<?php echo $this->getSkinUrl('images/inode/quizzes/MonthlyServices_icon/6_2_HealthcarePlans.png') ?>" alt="Divided we fall, Trunited we stand"></a>
                        <span>Healthcare Plans</span>
                    </li>
                    <li>
                      <a><img src="<?php echo $this->getSkinUrl('images/inode/quizzes/MonthlyServices_icon/6_3_HealthCare.png') ?>" alt="Divided we fall, Trunited we stand"></a>
                        <span>Health Care</span>
                    </li>
                    <li>
                      <a><img src="<?php echo $this->getSkinUrl('images/inode/quizzes/MonthlyServices_icon/6_4_Prescriptions.png') ?>" alt="Divided we fall, Trunited we stand"></a>
                        <span>Prescriptions</span>
                    </li>
                    <li>
                      <a><img src="<?php echo $this->getSkinUrl('images/inode/quizzes/MonthlyServices_icon/6_5_Concierge.png') ?>" alt="Divided we fall, Trunited we stand"></a>
                        <span>Concierge</span>
                    </li>
                </ul>
                <input type="hidden" name="result" id="mytext">
                <div class="div-button-center">
                    <input class="input-shop-join my_score_btn" type="submit" value="GET MY SCORE!" />
                </div>
                </form>
            </div>
        </div>
  </div>
    <!-- Main Content end -->