<div class="main_block main_bg3">
   <div class="everyday_product">
      <h1>Global Brands</h1>
   </div>
   <div class="loading_page global_brands quiz">
      <h2>What's Your Earnings Score?</h2>
      <p>We’re convinced that Socialized Commerce, Powered by Trunited.com, can take your buying power and put that money to work for you.  Let’s take just a few things and put that claim to the test.</p>
      <h4>Which Of These Global Brands Do You Shop?</h4>
      <form  action="score-global" method="post" id="change-form" role="form">
      <ul class="clearfix">
         <li>
            <a><img  src="<?php echo $this->getSkinUrl('images/inode/quizzes/GlobalBrands_icons/1_1_VitaminShoppe.png') ?>" alt="Divided we fall, Trunited we stand"></a>
         </li>
         <li>
            <a><img  src="<?php echo $this->getSkinUrl('images/inode/quizzes/GlobalBrands_icons/1_2_VistaPrint.png') ?>" alt="Divided we fall, Trunited we stand"></a>
         </li>
         <li>
            <a><img  src="<?php echo $this->getSkinUrl('images/inode/quizzes/GlobalBrands_icons/1_3_ClassPass.png') ?>" alt="Divided we fall, Trunited we stand"></a>
         </li>
         <li>
            <a><img  src="<?php echo $this->getSkinUrl('images/inode/quizzes/GlobalBrands_icons/1_4_TrueValue.png') ?>" alt="Divided we fall, Trunited we stand"></a>
         </li>
         <li>
            <a><img  src="<?php echo $this->getSkinUrl('images/inode/quizzes/GlobalBrands_icons/2_1_SuLaTable.png') ?>" alt="Divided we fall, Trunited we stand"></a>
         </li>
         <li>
            <a><img  src="<?php echo $this->getSkinUrl('images/inode/quizzes/GlobalBrands_icons/2_2_ScrubsBeyond.png') ?>" alt="Divided we fall, Trunited we stand"></a>
         </li>
         <li>
            <a><img  src="<?php echo $this->getSkinUrl('images/inode/quizzes/GlobalBrands_icons/2_3_StitchFix.png') ?>" alt="Divided we fall, Trunited we stand"></a>
         </li>
         <li>
            <a><img  src="<?php echo $this->getSkinUrl('images/inode/quizzes/GlobalBrands_icons/2_4_MilitarySupply.png') ?>" alt="Divided we fall, Trunited we stand"></a>
         </li>
         <li>
            <a><img  src="<?php echo $this->getSkinUrl('images/inode/quizzes/GlobalBrands_icons/3_1_Staples.png') ?>" alt="Divided we fall, Trunited we stand"></a>
         </li>
         <li>
            <a><img  src="<?php echo $this->getSkinUrl('images/inode/quizzes/GlobalBrands_icons/3_2_Quill.png') ?>" alt="Divided we fall, Trunited we stand"></a>
         </li>
         <li>
            <a><img  src="<?php echo $this->getSkinUrl('images/inode/quizzes/GlobalBrands_icons/3_3_PriceLine.png') ?>" alt="Divided we fall, Trunited we stand"></a>
         </li>
         <li>
            <a><img  src="<?php echo $this->getSkinUrl('images/inode/quizzes/GlobalBrands_icons/3_4_24HourFitness.png') ?>" alt="Divided we fall, Trunited we stand"></a>
         </li>
         <li>
            <a><img  src="<?php echo $this->getSkinUrl('images/inode/quizzes/GlobalBrands_icons/4_1_Payless.png') ?>" alt="Divided we fall, Trunited we stand"></a>
         </li>
         <li>
            <a> <img  src="<?php echo $this->getSkinUrl('images/inode/quizzes/GlobalBrands_icons/4_2_Timex.png') ?>" alt="Divided we fall, Trunited we stand"></a>
         </li>
         <li>
            <a><img  src="<?php echo $this->getSkinUrl('images/inode/quizzes/GlobalBrands_icons/4_3_SharperImage.png') ?>" alt="Divided we fall, Trunited we stand"></a>
         </li>
         <li>
            <a><img  src="<?php echo $this->getSkinUrl('images/inode/quizzes/GlobalBrands_icons/4_4_Microsoft.png') ?>" alt="Divided we fall, Trunited we stand"></a>
         </li>
         <li>
            <a><img  src="<?php echo $this->getSkinUrl('images/inode/quizzes/GlobalBrands_icons/5_1_Speck.png') ?>" alt="Divided we fall, Trunited we stand"></a>
         </li>
         <li>
            <a><img  src="<?php echo $this->getSkinUrl('images/inode/quizzes/GlobalBrands_icons/5_2_BestBuy.png') ?>" alt="Divided we fall, Trunited we stand"></a>
         </li>
         <li>
            <a><img  src="<?php echo $this->getSkinUrl('images/inode/quizzes/GlobalBrands_icons/5_3_SteinMart.png') ?>" alt="Divided we fall, Trunited we stand"></a>
         </li>
         <li>
            <a><img  src="<?php echo $this->getSkinUrl('images/inode/quizzes/GlobalBrands_icons/5_4_Baskets.png') ?>" alt="Divided we fall, Trunited we stand"></a>
         </li>
         <li>
            <a> <img  src="<?php echo $this->getSkinUrl('images/inode/quizzes/GlobalBrands_icons/6_1_Bloomingdales.png') ?>" alt="Divided we fall, Trunited we stand"></a>
         </li>
         <li>
            <a><img  src="<?php echo $this->getSkinUrl('images/inode/quizzes/GlobalBrands_icons/6_2_CampingWorld.png') ?>" alt="Divided we fall, Trunited we stand"></a>
         </li>
         <li>
            <a><img  src="<?php echo $this->getSkinUrl('images/inode/quizzes/GlobalBrands_icons/6_3_LendingTree.png') ?>" alt="Divided we fall, Trunited we stand"></a>
         </li>
         <li>
            <a><img  src="<?php echo $this->getSkinUrl('images/inode/quizzes/GlobalBrands_icons/6_4_DylansCandyBar.png') ?>" alt="Divided we fall, Trunited we stand"></a>
         </li>
      </ul>
      <input type="hidden" name="page" value="/quiz-global">
      <input type="hidden" name="shop_now" value="/global-brands.html">
      <input type="hidden" name="result" id="mytext">
                <div class="div-button-center">
                    <input class="my_score_btn" type="submit" value="GET MY SCORE!" />
                </div>
      </form>
   </div>
</div>
