<?php 
$featured = $this->getFeatureDeal();
$main = $this->getMainDeal();

$deals_first_column = $this->getDealsOnFirstColumn();
$deals_second_column = $this->getDealsOnSecondColumn();
$deals_third_column = $this->getDealsOnThirdColumn();

$gift_cards = $this->getGiftCards();
?>
<div class="container deals_wrapper">
	<?php if($featured != null){?>
		<div class="row">
			<div class="col-md-12">
				<div class="featured">
					<a href="<?php echo $featured->getDisplayUrl();?>" target="_blank" style="color: #<?php echo $featured->getColor(); ?>;">
						<?php echo $featured->getTitle();?>
					</a>
				</div>
			</div>
		</div>
	<?php }?>

	<?php if($main != null){?>
		<div class="row">
			<div class="col-md-12 main_wrapper">
				<a href="<?php echo $main->getDisplayUrl();?>" target="_blank" style="color: #<?php echo $featured->getColor(); ?>;" class="main">
					<?php if($main->getImageUrl() != null){?>
						<img src="<?php echo $main->getImageUrl();?>" title="<?php echo $main->getTitle();?>" alt="<?php echo $main->getTitle();?>" height="272" width="272"   />
					<?php }?>
					<span><?php echo $main->getTitle();?></span>
				</a>
			</div>
		</div>
	<?php }?>

	<div class="row deals_columns">
		<?php if(sizeof($deals_first_column) > 0){?>
			<div class="col-md-4">
				<?php foreach ($deals_first_column as $first) {?>
					<a href="<?php echo $first->getDisplayUrl();?>" target="_blank" style="color: #<?php echo $first->getColor(); ?>;">
						<?php if($first->getImageUrl() != null){?>
							<img src="<?php echo $first->getImageUrl();?>" title="<?php echo $first->getTitle();?>" alt="<?php echo $first->getTitle();?>" width="120" height="120"   />
						<?php }?>
						<span><?php echo $first->getTitle();?></span>
					</a>
				<?php }?>
			</div>
		<?php }?>
		<?php if(sizeof($deals_second_column) > 0){?>
			<div class="col-md-4">
				<?php foreach ($deals_second_column as $second) {?>
					<a href="<?php echo $second->getDisplayUrl();?>" target="_blank" style="color: #<?php echo $second->getColor(); ?>;">
						<?php if($second->getImageUrl() != null){?>
							<img src="<?php echo $second->getImageUrl();?>" title="<?php echo $second->getTitle();?>" alt="<?php echo $second->getTitle();?>" width="120" height="120"  />
						<?php }?>
						<span><?php echo $second->getTitle();?></span>
					</a>
				<?php }?>
			</div>
		<?php }?>
		<?php if(sizeof($deals_third_column) > 0){?>
			<div class="col-md-4">
				<?php foreach ($deals_third_column as $third) {?>

					<a href="<?php echo $third->getDisplayUrl();?>" target="_blank" style="color: #<?php echo $third->getColor(); ?>;">
						<?php if($third->getImageUrl() != null){?>
							<img src="<?php echo $third->getImageUrl();?>" title="<?php echo $third->getTitle();?>" alt="<?php echo $third->getTitle();?>" width="120" height="120"   />
						<?php }?>
						<span><?php echo $third->getTitle();?></span>
					</a>
				<?php }?>
			</div>
		<?php }?>
	</div>

	<?php if($this->isEnableGiftCardsSection() && sizeof($gift_cards) > 0){?>
		<div class="row deals_gc">
			<h1>Gift Cards</h1>
			<?php
				$number_column = floor(sizeof($gift_cards) / 3);
				if($number_column > 0){
			?>
					<!-- First Column -->
					<?php $i = 0;?>
					<div class="col-md-4">
						<?php for ($j = 0; $j < $number_column; $j++) {?>
							<?php $shop_now_url = Mage::helper('customproduct')->getShopNowUrl($gift_cards[$j]); ?>
							<div>
								<a href="<?php echo $shop_now_url;?>" target="_blank"
									style="color: #<?php echo $gift_cards[$j]->getTextColor() != '' ? $gift_cards[$j]->getTextColor() : '000000';?>">
									<?php echo $gift_cards[$j]->getName();?>
								</a>
							</div>

						<?php $i++;}?>
					</div>
					<!-- END First Column -->
					<!-- Second Column -->
					<div class="col-md-4">
						<?php $cols = $number_column * 2;$_i = $i; for ($j = $_i; $j < $cols; $j++) {?>
							<?php $shop_now_url = Mage::helper('customproduct')->getShopNowUrl($gift_cards[$j]); ?>
							<div>
								<a href="<?php echo $shop_now_url;?>" target="_blank" style="color: #<?php echo $gift_cards[$j]->getTextColor() != '' ? $gift_cards[$j]->getTextColor() : '000000';?>">
									<?php echo $gift_cards[$j]->getName();?>
								</a>
							</div>

							<?php $i++;}?>
					</div>
					<!-- END Second Column -->
					<!-- Third Column -->
					<div class="col-md-4">
						<?php $i2 = $i; for ($j = $i2; $j < sizeof($gift_cards); $j++) {?>
							<?php $shop_now_url = Mage::helper('customproduct')->getShopNowUrl($gift_cards[$j]); ?>
							<div>
								<a href="<?php echo $shop_now_url;?>" target="_blank" style="color: #<?php echo $gift_cards[$j]->getTextColor() != '' ? $gift_cards[$j]->getTextColor() : '000000';?>">
									<?php echo $gift_cards[$j]->getName();?>
								</a>
							</div>

							<?php $i++;}?>
					</div>
					<!-- END Third Column -->
			<?php }?>
		</div>
	<?php }?>
</div>

