.top-container > .breadcrumbs {
    padding: 0 !important;
    margin: 0 !important;
}

header .navbar.navbar-default {
    float: none;
}

#interest-form #clear_all {
    margin-left: 20px;
}

nav ul li {
    margin: 0 10px 0 0 !important;
}

.shop_now ul li {
    float: none !important;
}

.breadcrumbs .shop_now {
    text-align: left;
}

.trubox_payment ul li input[type="checkbox"]:checked + span {
    background: url(../../images/cheak_box_cheak.png) no-repeat left top;
    background-position-x: left;
    background-position-y: top;
    background-position: 0px 3px;
}

.trubox_payment ul li span {
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    font-weight: 400;
    padding: 3px 11px 3px 34px;
    position: relative;
    background: url(../../images/cheak_box1.png) no-repeat left top;
    background-position: 0px 3px;
    cursor: pointer;
    display: block;
}

.sort_by label {
    padding-right: 214px;
}

.sort_by select {
    position: absolute;
    top: 0;
    margin: 0;
    right: 0px;
    vertical-align: middle;
    width: 200px;
    height: 31px;
    border: 1px solid #00b5cb;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #454543;
    line-height: 20px;
    font-weight: 400;
    float: left;
    display: inline-block;
    border-radius: 5px;
    padding: 0 28px 0 12px;
}

.never_forgot_under h5 {
    margin-bottom: 90px;
}

.never_forgot_under .trubox_payment label, .never_forgot_under .trubox_payment select {
    width: 100%;
}

.never_forgot_under .trubox_payment select {
    height: 38px;
}

.never_forgot_under small {
    margin: -90px 0 90px 0;
}

.middle, #country-occasion {
    margin: 0 0 25px 0;
}

.select_gift_lft::after {
    background: none !important;
}

.gift_info {
    text-align: center;
}

#add-new-occasion-form select, .trubox_index select {
    width: 100%;
    height: 40px;
    border: 3px solid #a6a5a5;
    font-size: 20px;
    color: #a6a5a5;
}

.order_middle a {
    color: #00b5cb !important;
}

.progress_in a {
    color: #ffffff !important;
}

#news-and-testimonials {
    margin-top: 0 !important;
}

.travel_in select {
    width: 100% !important;
    padding: 0 12px !important;
    border: 2px solid #acacac !important;
    height: 36px !important;
    border-radius: 4px !important;
}

#billing-new-address-form ul li, #shipping-new-address-form ul li {
    width: 100%;
    margin: 0 0 25px 0;
}

#billing-new-address-form input, #billing-new-address-form select, #shipping-address-select,
#shipping-new-address-form input, #shipping-new-address-form select, #shipping-address-select {
    width: 100% !important;
    line-height: 18px;
    padding: 0px 12px;
    font-size: 18px !important;
}

#billing-new-address-form input, #shipping-new-address-form input {
    height: 36px;
    border: 2px solid #acacac;
    display: block;
    color: #a6a5a5;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding: 0 13px;
    border-radius: 4px;
}

.chek_box input[type="checkbox"] {
    display: none !important;
}

.chek_box label {
    font-size: 18px !important;
    font-weight: bold !important;
}

.shipping_other_address.chek_box {
    padding: 15px;
}

#billing-new-address-form, #shipping-new-address-form {
    margin-top: 15px;
}

.control.shipping_other_address.chek_box {
    margin: 0 0 0 15px !important;
}

.order_progress {
    background: none !important;
}

.order_bottom, .order_middle, .order_top {
    background: white;
}

.order_middle h5, .order_bottom h5 {
    color: #ffffff;
    font-size: 22px;
    line-height: 24px;
    text-align: center;
    display: block;
    font-weight: bold;
    border-radius: 20px 20px 0 0;
    margin: 0;
}

.order_bottom {
    margin: 25px 0 0 0;
    padding: 0 !important;
    border-radius: 20px 20px 0 0;
}

.lable1 {
    font-size: 20px;
    line-height: 28px;
    color: #454543;
    font-weight: 400;
    padding: 0px 0 10px 0;
    display: block;
    margin: 0;
}

#shipping-new-address-form ul {
    padding-bottom: 0 !important;
    margin: 0 -30px !important;
}

#onestepcheckout-trunited-discounts {
    float: none !important;
}

.used {
    margin-top: 5px;
}

.used span {
    font-size: 15px !important;
}

#checkout-payment-method-load label {
    font-size: 15px !important;
}

.progress_in .btn {
    border: none !important;
    margin: 20px 0 40px 15px;
}

.order_qty .increse .up, .order_qty .increse .down {
    right: -22px !important;
}

#one-step-checkout-form .checkout-review-load .data-table td .qty {
    text-align: center;
    margin-right: 4px;
    float: none !important;
    height: auto !important;
}

#one-step-checkout-form .checkout-review-load .data-table td .box-qty {
    text-align: left;
}

#one-step-checkout-form .checkout-review-load .data-table tfoot tr.last {
    border-top: 1px solid #e0e0e0;
}

.onestepcheckout-discount {
    margin-top: 10px;
}

.discount-form .input-box {
    width: 50% !important;
}

.onestepcheckout-discount label {
    font-size: 20px;
    line-height: 22px;
    color: #454543;
    font-weight: 400;
    padding: 0;
    display: block;
}

.progress_in .btn:hover {
    color: white;
}

.sp-methods .form-list li {
    width: 100%;
}

#payment_form_authnetcim #authnetcim_add_new {
    font-size: 15px !important;
}

#payment_form_authnetcim #authnetcim_cc_number, #payment_form_authnetcim #authnetcim_cc_cid {
    width: 100% !important;
    padding: 0 12px !important;
    border: 2px solid #acacac !important;
    height: 36px !important;
    border-radius: 4px !important;
}

.cvv-what-is-this {
    font-size: 15px !important;
    vertical-align: middle;
    margin: 7px 0 10px 10px !important;
}

.authnetcim_new {
    font-size: 14px;
}

.tool-tip .btn-close a {
    display: unset;
    font-size: 15px;
}

#one-step-checkout-form #select_box_store_pickup, #one-step-checkout-form #shipping_time {
    font-size: 18px !important;
}

#selected_st_info .store-address h3 {
    font-size: 24px !important;
}

#selected_st_info .store-address-info {
    font-size: 18px;
}

#shipping_date {
    width: 50% !important;
    padding: 0 12px !important;
    border: 2px solid #acacac !important;
    border-radius: 4px !important;
    height: 36px;
    display: block;
    color: #616161;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 17px !important;
    margin: 0 !important;
}

.calendar .button {
    background: none !important;
    color: black !important;
    font-size: 12px !important;
    float: none;
    width: auto !important;
    display: table-cell;
}

.dashboard_block .top_bar .sort_by label {
    padding: 0 14px 0 0 !important;
}

.nicolas_con_btns ul li {
    padding: 0 4px !important;
}

.bank-select {
    width: 100%;
    height: 40px;
    border: 2px solid #a6a5a5;
    font-size: 20px;
    color: #a6a5a5;
    border-radius: 5px;
}

.bank_li {
    margin: 0px !important;
}

.monthly_leaderboard {
    padding: 0px !important;
}

.monthly_leaderboard .sort_by label {
    padding-right: 12px;
!important;
}

.search_memeber, .form_share {
    display: none;
}

.choose_member #message {
    width: 100%;
    border: 3px solid #acacac;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #8d8c8c;
    line-height: 25px;
    font-weight: 400;
    margin-top: 0;
}

.choose_member small {
    font-size: 13px;
    color: #8d8c8c;
    font-style: italic;

}

#form_share .trunited_gift_card .btn {
    border: 3px solid #acacac;
}

.modal.in .modal-dialog {
    z-index: 1050 !important;
}

.nationpassport-index-index {
    padding: 0 !important;
}

.nav-pills > li > a {
    display: block !important;
    font-size: 15px;
}

#messageModal .modal-body {
    overflow: auto;
}

#messageModal .btn-send, #sms-popup-content .btn-find {
    width: 100%;
    /* background: #f15b20; */
    display: block;
    margin: 15px auto 0 auto;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #ffffff;
    border: none;
    font-weight: 400;
    border-radius: 10px;
    text-transform: uppercase;
}

#send-sms sup {
    color: #f00;
    position: static !important;
    font-size: 100% !important;
}

#compose-content .alert-success, #compose-content .alert-danger, #sms-popup-content .alert-success, #sms-popup-content .alert-danger {
    font-size: 15px !important;
    padding: 15px !important;
    display: none;
}

.sent-date {
    float: right;
    margin-left: 10px;
}

.nicolas_btns .badge {
    background-color: red !important;
    padding: 5px 7px !important;
    float: right;
}

#messageModal .tab-content {
    max-height: 700px;
}

#find-result {
    max-height: 500px !important;
    overflow: auto !important;
}

.count-result {
    font-style: italic;
}

#list_members .nicolas_con_left h3 {
    font-size: 23px !important;
}

#list_members {
    max-height: 586px;
    overflow: auto;
}

.mini-cart {
    margin-top: 57px !important;
    right: 160px !important;
}

@media (max-width: 767px) {
    .mini-cart {
        margin-top: 40px !important;
        right: 20px !important;
    }
}

@media (max-width: 992px) {
    .mini-cart {
        margin-top: -20px !important;
        right: 20px !important;
    }
}


@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
    /* Styles */
    .mobile-cart{
        display: none !important;
    }

    .mini-cart {
        margin-top: 56px !important;
        right: 20px !important;
    }

    .desktop-cart{
        top: 15px;
        right: -21px;
        height: 32px;
        width: 32px;
    }
    .nav .cart-wrapper .desktop-cart-link{
        font-size: 13px !important;
    }
}

@media only screen
and (min-device-width : 1024px)
and (max-device-width : 1366px) {
    /* Styles */
    .mobile-cart{
        display: none !important;
    }

    .mini-cart {
        margin-top: 34px !important;
        right: 27px !important;
    }

    .desktop-cart{
        top: 15px;
        right: -21px;
        height: 30px;
        width: 30px;
    }
}

@media only screen
and (device-width : 1024px)
and (device-height : 768px) {
    /* Styles */
    .head_bottom_in_rgt #orgmenu{
        margin-right: 0 !important;
    }

    .mini-cart {
        margin-top: 34px !important;
        right: 27px !important;
    }
}

@media only screen  and (min-width : 1224px) {
    /* Styles */
    .mini-cart{
        right: 20px !important;
        margin-top: 40px !important;
    }

}

@media only screen  and (min-width : 1824px) {
    /* Styles */
    .mini-cart{
        right: 160px !important;
        margin-top: 41px !important;
    }
}

.badge-sms{
display: inline-block;
min-width: 10px;
padding: 4px 8px !important;
font-size: 13px !important;
font-weight: bold;
line-height: 1;
color: #fff;
text-align: center;
white-space: nowrap;
vertical-align: middle;
background-color: red;
border-radius: 10px;
float: right;
margin-top: -8px;
border: none;
margin-right: -7px;

}

.std ul{
list-style: none !important;

}

.orange_btn_blk a.buy_gift{
padding-top: 18px;
}

.box-trugiftcard-history a.orange_back_btn, a.orange_back_btn.transition{
	text-align: center;
padding-top: 14px;
}

.number_of_pages ul li.current{
	display: block;
text-align: center;
width: 35px;
border: 1px solid #00B6DB;
background: #00B6DB;
font-family: 'Lato', sans-serif;
font-size: 16px;
color: #fff;
font-weight: 700;
line-height: 35px;
border-radius: 2px;
	
}

h5.list_giftcards{
    min-height: auto !important;
}

.head_top_in{
    padding: 10px 0 !important;
}

.free_sipping{
    top: 10px !important;
}

.head_bottom_in_rgt #orgmenu{
    margin-right: 9%;
}

.mini-cart .actions a{
    margin-left: 0 !important;
    background-color: #08b4cb !important;
}

.product-tabs > ul li a{
    border: none !important;
}

.product-tabs > ul li{
    border: none !important;
    margin: 12px 12px 0 0 !important;
}

#form-validate-payment select{
    border: 3px solid #acacac;
    height: 40px;
    width: 100%;
    border-radius: 4px;
    font-size: 20px;
    color: #8d8c8c;
    font-weight: 400;
    line-height: 25px;
    padding: 0 12px;
}

#form-validate-payment .v-fix{
    margin-right: 10px;
}

.earning_chart{
    width: 398px !important;
    height: 219px !important;
}

.highcharts-credits{
    display: none;
}

.continue_shoping_rgt button{
    display: block;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    background: #fff;
    border: 1px solid #ccc;
    color: #777;
    line-height: 35px;
    font-size: 15px;
    padding: 0 12px;
    text-transform: uppercase;
}

.search_bar .refer_title{
    margin: 0 !important;
}

.actions.identify_code{
    padding: 15px;
    text-align: left;
    font-size: 20px;
}

#input-personal-url, #personal_url{
    width: 100% !important;
    height: auto !important;
}

.refer_form_block{
    padding: 0 0 170px 0 !important;
}

#affiliate-opc-personal-url ul li{
    margin: 20px 0;
}

#personal_affiliate_url_email_quick, #personal_affiliate_url{
    font-size: 16px;
    word-wrap: break-word;
}

.refer_left{
    padding-top: 0 !important;
}

.dashboard ul li .dash_btn{
    padding: 10px 0 0 100px !important;
}

.verify_wrapper{
    padding-top: 0;
}

.verify_content{
    padding: 0;
}

.verify_content h4{
    background: none !important;
    padding: 0 !important;
}

#notify-phone{
    font-size: 16px;
    color: #777;
}

.verify_content ul li ul li {
    margin: 0;
    padding: 10px;
}

.register_content em{
    float: right;
    margin: 0 0 0 2px;
    padding: 0;
    line-height: 30px !important;
    color: #d21313 !important;
    font-size: 20px !important;
}

.register_content label{
    font-size: 20px;
}

.register_content select{
    width: 100%;
    height: 40px;
    border: 3px solid #acacac;
    font-size: 20px;
    color: #8d8c8c;
    line-height: 24px;
    -webkit-appearance: menulist !important;
}

#is_subscribed, #no_refers_me{
    display: inline-block;
    width: auto;
}

.for_subscribed, .for_refers_me{
    display: inline-block;
    margin: 0 0 0 10px;
}

.affiliat_referral{
    margin: 50px 0;
}

.who_refers_me .search_icon{
    height: 40px;
    width: 50px;
    background-color: #00b5cb;
    color: white;
    position: absolute;
    left: 0;
    top: 0;
}

#affiliate_name{
    padding-left: 60px;
}

.orange_btn_blk button:disabled{
    background: #777 !important;
}

#label_affiliate_name{
    font-size: 16px;
    margin-top: 10px;
}

.for_refers_me{
    padding-top: 9px;
}

.qty_box .table_qty_dec, .qty_box .table_qty_inc{
    float: left;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #f4f4f4;
    border: 1px solid #ccc;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #000000;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
}

#co-shipping-method-form{
    margin: 30px;
}

.checkout_sub2 ul li input{
    -webkit-appearance: radio;
    width: auto;
    display: inline-block;
}

.checkout_sub2 ul li label{
    display: inline-block;
    margin: 0 10px;
    padding: 0;
}

.checkout_sub3 #shopping-cart-totals-table{
    width: 100%;
    margin: 0 0 40px 0;
}

.checkout_sub3 #shopping-cart-totals-table tr{
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #dcdcdc;
}


.checkout_sub3 #shopping-cart-totals-table tr td{
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    color: #000000;
    line-height: 30px;
    font-weight: 700;
}

.checkout_sub3 #shopping-cart-totals-table tr td:first-child{
    text-align: left !important;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    color: #777777;
    line-height: 30px;
}

.checkout_sub3 #shopping-cart-totals-table tfoot tr{
    border: none !important;
}

.checkout_sub3 .proceed_btn{
    margin: -15px auto !important;
}

.trunited_gift_card.verify_content
{
    width: 100% !important;
}

/*.top_bar h4{*/
    /*text-align: right !important;*/
    /*margin-right: 20px;*/
/*}*/
.nicolas_con.bg_clr1{
    min-height: 127px;
}

.verify_wrapper .money_movement_form{
    padding: 20px;
}

.nicolas_con_right{
    width: 70px;
}

.sort_rgt input{
    width: 235px;
    height: 31px;
    border: 1px solid #00b5cb;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #454543;
    line-height: 20px;
    font-weight: 400;
    float: left;
    display: inline-block;
    border-radius: 5px;
    padding: 0 28px 0 12px;
    background: #ffffff url(../../images/search_icon.png) no-repeat 95% center;
    outline: none;
}

.top_bar h4{
    font-size: 24px !important;
}

.product-agreement .agree input{
    -webkit-appearance: checkbox !important;
}

.new_gift_card .page_num ul li.current{
    color: rgb(0, 181, 203);
    display: block;
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 35px;
    padding: 0 5px;
}

.atoz_block ul li.active a{
    color: #ffffff;
}

@media (max-width:991px){
    .atoz_block ul li.active a{
        color: #454543 !important;
    }
}


@media (max-width:479px){
    .item_total.mrg33 {
        display: block !important;
    }
}

.result_search .actions{
    display: none !important;
}

.daily_deals_list ul li{
    min-height: 454px !important;
    padding: 2px 0 12px 0;
    margin: 0 0.5% 20px 0.5%;
    background: #ffffff;
    border: 1px solid #b7b7b7;
    border-radius: 5px;
    box-shadow: 0 5px 3px #b7b7b7;
}

.daily_deals_list .product .view_details{
    margin: 0 auto !important;
}

.daily_deals_list .regular-price{
    font-size: 13px;
    display: inline-block;
}

.daily_deals_list .dd-price, .dd-price{
    color: #f1252c;
    margin: 0 0 0 6px;
}

.daily_deals_list .sale_price{
    color: #002654;
    font-weight: 600;
    font-size: 20px;
}

.sale_offer{
    color: #002654;
    font-weight: 600;
}

.daily_deals_list .product h5{
    min-height: 75px !important;
    padding: 5px 7px 10px 7px !important;
}

.daily_deals_list .product h5 a{
    font-size: 17px;
    color: #444;
    font-weight: normal;
    font-family: 'Lato', sans-serif;
}

.daily_deals_list .product .price-box{
    padding: 0 7px !important;
}

@media only screen  and (min-width : 1224px) {
    .daily_deals_list ul li{
        width: 19%;
    }
}

.daily_deals_list .product img{
    max-height: 180px;
    min-height: 180px;
}


/** Connection List **/
.ui-jqgrid .ui-jqgrid-titlebar {
    display: none !important;
}

div.ui-jqgrid.ui-widget.ui-widget-content.ui-corner-all, .ui-jqgrid-htable, #connectionList, .ui-jqgrid-bdiv {
    width: 100% !important;
    overflow: auto;
}

.ui-jqgrid .ui-jqgrid-htable th div {
    position: inherit !important;
    height: initial !important;
}

.ui-jqgrid .ui-jqgrid-view input, .ui-jqgrid .ui-jqgrid-view select, .ui-jqgrid .ui-jqgrid-view textarea, .ui-jqgrid .ui-jqgrid-view button {
    width: 100% !important;
    height: 100% !important;
    padding: 0 !important;
}

.ui-jqgrid-cell-wrapper a, .ui-jqgrid-btable a {
    color: #337ab7 !important;
}

.ui-jqgrid-labels .ui-th-column-header, .ui-jqgrid .ui-jqgrid-labels th.ui-th-column {
    text-align: center !important;
    padding: 0 !important;
    white-space: pre-line !important;
}

.ui-jqgrid .ui-jqgrid-bdiv tr.ui-row-ltr:not(.jqgfirstrow) > td:not(.subgrid-data):not(.sgexpanded):not(
    .sgcollapsed) {
    padding: 15px 5px !important;
}

#refresh_connectionList{
    display: none;
}
/** END Connection List **/

.monthly_leaderboard{
    margin: 130px 0;
}

.nicolas_con{
    min-height: 168px;
}

.nicolas_con .nicolas_con_left h3{
    white-space: pre-line;
    min-height: 74px;
}

.nicolas_con .nicolas_con_left{
    width: 76%;
}

.search_club.select_checkbox em{
    text-transform: uppercase;
    margin-left: 5px;
}

.business_leader_board{
    margin: 0 !important;
}

.inner28_nicolas_left a{
    color: white !important;
}

.inner28_nicolas_left{
    max-width: 64%;
}

.nicolas_con_left h3{
    text-transform: capitalize !important;
}

#leader_board_list{
    max-height: 516px;
    overflow: auto;
}

.reward_sec ul li h4{
    font-size: 50px !important;
}

#background_img{
    padding-left: 0 !important;
}

#preview_cms_page, #manage_cms_page{
    display: none;
}

#close_preview{
    margin: 35px 0 !important;
}

#your_cms_page h4{
    font-size: 32px;
    line-height: 36px;
    display: block;
    text-align: center;
    color: #000000;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    padding: 0 0 0 0;
}

#your_cms_page .create_cms{
    font-size: 20px;
    margin: 10px;
    text-align: center;
}

#edit_cms{
    padding: 20px 0;
}

.create_cms a{
    color: #ea7601 !important;
}

#previewing{
    width: 150px;
}

#news-and-testimonials p{
    color: white !important;
}

#news-and-testimonials h5 {
    font-size: 36px;
    text-align: left;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}


.get_link_wrapper{
    text-align: right;
    margin: 0 14px 10px 0;
}

.result_copy{
    color: #3c763d;
    margin: 0 5px;
}

.advanced_search_txt{
    margin: 10px;
    float: right;
}

.earn_product .shop_now_btn{
    text-align: center;
vertical-align: middle;
padding: 6%;
}

.dd_page .page_num ul li.current, .category-products .item_total .page_num ul li.current, .paginationdd li.active{
    color: rgb(0, 181, 203);
display: block;
text-align: center;
font-family: Lato, sans-serif;
font-size: 17px;
font-weight: 400;
line-height: 35px;
padding: 0 5px;
}

.paginationdd .disabled span{
    display: block;
text-align: center;
font-family: 'Lato', sans-serif;
font-size: 17px;
color: #ffffff;
font-weight: 400;
line-height: 35px;
padding: 0 5px;
}

.holiday-shopping-guide{
    float: left !important;
}

.holiday-shopping-guide a, .free_shipping a{
    font-size: 20px !important;
}

.trunited_guide #myTab-accordion a {
    background: #454543 !important;
    font-weight: bold !important;
    color: white !important;
}

.padd_bot{
    margin: 0 !important;
}

.item_total.dd_page{
    margin: 50px 0;
}


@media (max-width:767px){
    .page_num ul li a {
        color: white !important;
    }

    .item_total{
        background: #525252 !important;
    }

    .paginationdd li.active{
        font-size: 20px !important;
    }
}

#allow_gift_messages{
    width: 26px !important;
    height: 18px !important;
    -moz-appearance: checkbox !important;
    margin: 25px 0px 29px 25px !important;
    -webkit-appearance: checkbox !important;
}

.gift-messages label{
    font-size: 17px;
}

.method_disabled{
    font-size: 20px;
    line-height: 23px;
    color: #454543;
    position: relative;
    display: inline-block;
    padding: 0 0 12px 25px;
    font-weight: 400;
    cursor: not-allowed;
}

.method_disabled em{
    font-size: 14px;
    font-style: italic;
    color: grey;
}

.method_disabled a{
    margin: 0;
}

 span.tb{
    font-size: 14px;
    display: block;
    line-height: 30px;
    color: grey;
}

.trubox_text{
    background-color: #f2dede;
    color: #a94442;
    border: 1px solid #ebccd1;
    min-height: 24px;
    padding: 15px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 4px;
    width: 70%;
    margin: 0 auto 33px auto;

}

#what_is_trubox{
    margin: 0 !important;
}

.sample_refund9{
    width: 10%;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #000000;
    font-weight: 400;
    padding: 18px 10px 18px 5px;
    text-align: right;
    vertical-align: middle;
    margin: 0;
    border-right: 1px solid #b7b7b7;
    line-height: 22px;
    word-break: break-all;
}

.sample_refund10{
    width: 8%;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #000000;
    font-weight: 400;
    padding: 18px 10px 18px 5px;
    text-align: right;
    vertical-align: middle;
    margin: 0;
    border-right: 1px solid #b7b7b7;
    line-height: 22px;
    word-break: break-all;
}

.title_head9{
    width: 9%;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #ffffff;
    font-weight: 700;
    padding: 18px 0 18px 10px;
    text-align: left;
    vertical-align: middle;
    margin: 0;
}

.gitcode_block .title_head4{
    padding-left: 0 !important;
}


.title_head10{
    width: 7%;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #ffffff;
    font-weight: 700;
    padding: 18px 0 18px 0;
    text-align: left;
    vertical-align: middle;
    margin: 0;
}

.gc_copy span{
    color: #098944;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2000; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#overlay img{
    position: fixed;top: 50%;left: 50%;width: 100px;height: auto;
}


.category-direct-to-consumer .category-image{
    margin: 30px 0 !important;
}

#send-sms input[type="checkbox"]{
    -moz-appearance: checkbox;
    -webkit-appearance: checkbox;
}

#recipient_selected{
    font-weight: bold;
    font-size: 13px;
    line-height: 20px;
}

.checkbox-inline.disabled{
    cursor: not-allowed;
}

.head_top_bar{
    padding: 10px 0 !important;
}

.free_shipping{
    text-align: right !important;
}

.learn_more_trunited{
    text-align: center;
}

.head_top_bar .text_header{
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    color: #ffffff;
    line-height: 25px;
    text-align: center;
    font-weight: 400;
}

.head_top_bar .text_header a{
    color: white !important;
}

.free-ship{
    padding-right: 0 !important;
}

.bluebar_nav ul li .search_blk input{
    width: 250px !important;
}

.inner28_nicolas_right .find_messages{
    margin: 30px 0;
}

.inner28_nicolas_right .find_messages p{
    color: white !important;
}

.inner28_nicolas_right .find_messages .send_msg{
    margin: 15px 0 !important;
}

.search_message input[type="text"]{
    width: 84% !important;
    float: left;
}

.search_message button.search_mess{
    width: 60px;
    background-color: #4486f7;
    height: 34px;
}

.search_message button.search_mess span{
    background: url(../../images/search_mess.png) no-repeat left top;
    padding: 2px 10px;
}

.search_message{
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
}

.content_sent_mess, .content_inbox_mess{
    max-height: 300px;
    overflow: auto;
}

#shipping_at_top{
    padding: 15px;
    color: #bc5b64;
    font-size: 17px;
}

.order_middle{
    padding: 10px 20px 20px 20px !important;
}

/* Connection Tree */
.connection_tree #connection_map_in{
  position: relative;
}

.connection_tree .sort_by label {
    padding: 0 5px 0 0;
    text-transform: uppercase;
    font-weight: normal;
}

.connection_tree #basicdiagram .orgdiagram .orgdiagram {
    margin: 0 7px;
}

.connection_tree a.view_details {
    color: white;
}

.connection_tree #slider{
    width: 200px;
    height: 9px;
    font-size: 62.5%;
    display: inline-block;
    margin-left: 10px;
    background: none !important;
    background-color: #15b6cb !important;
    border: none;
}

.connection_tree #slider .ui-corner-all{
    left: 0%;
    top: -2px;
    border: 1px solid rgb(204, 204, 204);
    font-weight: bold;
    color: rgb(28, 148, 196);
    width: 1.7em;
    height: 1.7em;
    cursor: pointer;
}

.connection_tree #basicdiagram{
    width: 100%; height: 700px;margin: 0 auto;
}

.connection_tree .zoom_basic{
    color: white;
    text-align: right;
    margin-right: 10px;
}

.connection_tree .zoom_basic a{
    color: white;
    margin-right: 15px;
}

.connection_tree .sort_rgt{
    text-align: right;
}

.connection_tree .sort_rgt input{
    float: none;
}

.connection_tree .sort_rgt label{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #ffffff;
    font-weight: normal;
    display: inline-block;
    line-height: 31px;
    text-transform: uppercase;
    margin: 0;
    padding: 0 5px 0 0;
}

.connection_tree .cb_option em{
    text-transform: uppercase;
    margin-left: 5px;
}

.connection_tree .cb_option label{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #ffffff;
    font-weight: 700;
    float: left;
    display: inline-block;
    line-height: 31px;
    padding: 0 14px 0 0;
    margin: 0;
}

.connection_tree .cb_option input[type=checkbox] {
    display: none;
}

.connection_tree .cb_option input[type=checkbox]:checked + span {
    width: 18px;
    height: 18px;
    background: url(../../images/checked.png) no-repeat left center #ffffff;
    display: inline-block;
}

.connection_tree .cb_option label span {
    width: 18px;
    height: 18px;
    background: url(../../images/unchecked2.png) no-repeat #ffffff;
    background-size: cover;
    display: inline-block;
}

@media (max-width: 991px){
    .connection_tree .sort_rgt {
        float: none;
        display: block;
        width: 100%;
        text-align: center;
        margin: 0 0 12px 0;
    }
}

.bp-item2 {
    position: absolute;
    overflow: visible;
    font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing:content-box;

}

.bp-badge2 {
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    -khtml-border-radius: 16px;
    border-radius: 16px;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    font-weight: bold;
    font-family: Arial;
    padding: 4px;
    float: left;
    width:16px;
    height:16px;
    border: 1px solid white !important;
}

#tree_level{
    opacity: 1;
    height: 20px;
    font-size: 12px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border-radius: 3px;
    margin: 0 10px 0 0;
    width: 46px;
    -moz-appearance: listbox;
    -webkit-appearance: listbox;
}
/* END Connection Tree */

.search-ticket input{
    width: 100%;
    height: 35px;
    border: 1px solid #00b5cb;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #454543;
    line-height: 20px;
    font-weight: 400;
    float: left;
    display: inline-block;
    border-radius: 5px;
    padding: 0 28px 0 12px;
    background: #ffffff url(../../images/search_icon.png) no-repeat 95% center;
    outline: none;
}

.ticket-header{
    padding: 5px 12px 5px 0 !important;
}

.ticket-header .ticket-location{
    color: white;
}

.ticket-location{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
}

.ticket-location .location{
    font-weight: bold;
    color: white;
    text-transform: capitalize;
    text-decoration: underline;
}

.pac-container{
    z-index: 2000 !important;
}

#change_address{
    display: none;
}

#address_ticket{
    height: 35px;
    border: 1px solid #00b5cb;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #454543;
    line-height: 20px;
    display: inline-block;
    border-radius: 5px;
    padding: 0 28px 0 12px;
    margin-right: 3px;
}

.back_city{
    cursor: pointer;
}

.ticket-header #change_address .fa-map-marker{
    font-size: 26px;
    /*position: absolute;*/
    top: 5px;
}

.current_location{
    cursor: pointer;
}

.ticket .product_blk ul li {
    display: list-item !important;
}

#list-events h5{
    min-height: 64px;
    font-weight: bold;
    padding: 12px !important;
}

#list-events .venue{
    font-size: 16px;
    padding: 0 12px 11px 12px;
    min-height: 56.7px;
}

.occurs_at{
    font-size: 16px;
    padding: 0 12px 11px 12px;
}

.occurs_at .ticket-day{
    font-weight: bold;
}

.buy_ticket{
    margin: 7px auto 0 auto !important;
}


#overlay .fa-spinner{
    position: absolute;
    top: 30%;
    left: 50%;
    color: whitesmoke;
}

.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
    font-size: 17px;
}

.ui-menu-item a{
    font-size: 16px;
}

.ui-menu-item a span{
    font-size: 12px;
    font-style: italic;
}

#list-events .ticket-name{
    color: #d87c0f;
    font-weight: bold;
    font-size: 16px;
    display: block;
}

#list-events .table > thead > tr > th, #list-events .table > tbody > tr > th, #list-events .table > tfoot > tr > th, #list-events  .table > thead > tr > td, #list-events .table > tbody > tr > td, #list-events .table > tfoot > tr > td{
    padding: 15px 8px !important;
}

#list-events .ticket-date{
    font-weight: bold;
    display: block;
    font-size: 16px;
}

#list-events .table-responsive{
    max-height: 500px;
    overflow: auto;
}

#list-events .buy-btn{
    color: #FFF;
    background: #f15b20;
    border-color: #f15b20;
    cursor: pointer;
    transition: all .5s ease;
    float: right;
    margin-right: 10px;
    padding: 15px 10px;
    width: 108px;
    font-size: 12px;
}

#list-events .table > thead > tr > th{
    border-bottom: none !important;
    font-size: 16px;
}

.ui-autocomplete-loading {
    background: white url(../../images/ui-anim_basic_16x16.gif) 95% center no-repeat !important;
}

.ticket_consumer{
    width: 100% !important;
}

.navbar-ticket .nav.navbar-nav{
    float: none !important;
    text-align: center;
}

.navbar-ticket .navbar-nav li{
    float: none !important;
    display: inline-block;
}

.menu-col li a:hover{
    background-color: #000000 !important;
    text-decoration: underline !important;
}

.performer-day{
    font-size: 15px;
    text-transform: uppercase;
}

.performer-hour, .performer-event-name{
    font-size: 15px;
}

#events_near a{
    color: whitesmoke;
}

#list-events .not_found{
    font-size: 15px;
}

.ticket_quantity{
    -moz-appearance: listitem;
    -webkit-appearance: menulist;
    width: 100%;
}

#list-events .table-responsive table td{
    font-size: 16px;
}

#list-events div.title{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 10px 30px 10px;
}

.deals_wrapper{
    padding: 46px 78px;
}

.deals_wrapper a{
    text-decoration: underline !important;
}

.deals_wrapper .featured{
    font-size: 13px;
    line-height: 16px;
    text-decoration: underline;
    text-align: left;
    margin: 0 0 12px 3px;
}

.deals_wrapper .main_wrapper{
    padding: 46px 0 78px 0;
    text-align: center;
}

.deals_wrapper .main span{
    font-size: 40px;
    line-height: 45px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -1.5px;
    display: block;
    text-align: center;
}

.deals_wrapper .col-md-4{
    padding: 3px 5px;
    border: 1px solid #d1d1d1;
    border-bottom: 0 none;
}

.deals_columns a span{
    display: block;
    border-bottom: 1px solid #d1d1d1;
    padding: 4px 10px 4.3px 10px;
}

.deals_columns a img{
    padding: 4px 10px 4.3px 10px;
}

.deals_wrapper h1{
    font-size: 20px;
    color: #000000;
    line-height: 20px;
    border-bottom: 1px solid #d1d1d1;
    font-weight: 700;
    padding: 0 0 0 18px;
    min-height: 21px;
}

.main_wrapper a{
    text-decoration: none !important;
}

.deals_footer a{
    color: #000000;
}

.breaking{
    border: none !important;
}