.before_signin .logo{
	text-align: center;
	margin: 30px 0;
}

.before_signin .logo img{
	width: 300px;
}

.before_signin .acct_information{
	background: rgba(255,255,255,0.7) !important;
}

.before_signin .form_block{
	padding: 10px 0 20px 0 !important;
}

.before_signin .title{
	margin: 10px 0;
	font-size: 18px;
}

.before_signin .form_block ul li label{
	font-size: 17px !important;
}

.before_signin .save_btn{
	width: 100%;
	height: 40px;
	font-size: 20px;
	margin: 10px 0 0 0;
}

.before_signin .options label input{
	-moz-appearance: radio !important;
    -webkit-appearance: radio !important;		
	margin-right: 5px;
	display: block;
}

.before_signin .acct_information_in{
	width: 90% !important;
}

.checkbox-inline1{
	font-size: 14px !important;
}

.top_options{
	border-bottom: 1px solid #888;
	padding: 5px 0;
	margin-bottom: 15px;
}

.before_signin .separator{
	border-bottom: 1px solid #888;
}

.before_signin .forgot_password{
	font-size: 16px;
}

.before_signin .main_block{
	padding: 0 0 243px 0 !important;
}

.before_signin .validation-advice{
	color: red;
}

.before_signin .alert-danger-send-code, .before_signin .alert-danger-verify-code{
	margin: 10px 0;
	border-radius: 5px;
	color: red;
}

.before_signin .alert-success-verify-code{
	margin: 10px 0;
	border-radius: 5px;
	color: #059f12;
}

.before_signin .alert-danger{
	padding: 5px 10px;
	margin: 10px 0;
	display: none;
}

.before_signin .forgot_password_wrapper, .before_signin .register_wrapper, .before_signin .alert-success-forgot{
	display: none;
}

.before_signin select{
	width: 100%;
    height: 40px;
    border: 3px solid #acacac;
    font-size: 20px;
    color: #8d8c8c;
    line-height: 24px;
    -webkit-appearance: menulist !important;
}

.before_signin .error_refers_me{
	display: none;
}

.before_signin #no_refers_me{
	-webkit-appearance: checkbox !important;
	-moz-appearance: checkbox;
	display: inline-block;
	width: 5%;
	height: auto;
}

.before_signin .error-msg{
	color: red;
	font-size: 16px;
}

.before_signin .success-msg{
	font-size: 18px;
	color: #0f860c;
}

button:disabled{
	background: #777 !important;
}

.before_signin .alert-success-forgot{
	color: #069621;
	background-color: #c0fcbf;
	padding: 10px;
	margin: 10px 0;
}