.connection_map .map_middle{position: relative;}
.connection_map .nicolas_up h4        {font-size: 37px;line-height: 37px;display: none;color: #ffffff;font-family: 'BebasNeueBold';position: relative;z-index: 9;padding: 0 0;margin: 20px 0 0 0; }
.connection_map .active .nicolas_up h4 {display:none;}
.connection_map .nicolas_up h6        {font-size: 22px;line-height: 24px;display: block;color: #ffffff;font-family: 'BebasNeueBold';position: relative;z-index: 9;text-transform: uppercase;padding: 37% 0 37% 0;text-shadow: 2px 2px #000;}
.connection_map .active .nicolas_up h6 {display:block;}
.connection_map .circle_no_child.nicolas_up{background: #565656;}
.connection_map .circle_no_child.nicolas_up h6{display: block !important;}
.connection_map .circle_no_child.nicolas_up h4{display: none !important;}
.circle_no_child,
.circle_customer,
.circle_affiliate,
.circle_influencer,
.circle_pacesetter,
.circle_partner,
.circle_icon,
.circle_legend,
.circle_promoter{background: rgba(21,182,203,0.9);}
/*.pop_up_trained .circle_no_child,.active .circle_no_child{background: #565656;}*/
/*.pop_up_trained .circle_customer,.active .circle_customer{background: #e0ce00;}*/
/*.pop_up_trained .circle_affiliate, .active .circle_affiliate{background: #0082E0;}*/
/*.pop_up_trained .circle_promoter,.active .circle_promoter{background: #e01900;}*/
/*.pop_up_trained .circle_influencer, .active .circle_influencer{background: #e07000;}*/
/*.pop_up_trained .circle_pacesetter, .active .circle_pacesetter{background: #00E05E;}*/
/*.pop_up_trained .circle_partner, .active .circle_partner{background: #CE00E0;}*/
/*.pop_up_trained .circle_icon, .active .circle_icon{background: #8B4513;}*/
/*.pop_up_trained .circle_legend, .active .circle_legend{background: #FFD200;}*/
/*.pop_up_trained .circle_filter_out, .connection_map .circle_no_child{background: #565656;}*/
/*.pop_up_trained .circle_customer,.connection_map .circle_customer{background: #e0ce00;}*/
/*.pop_up_trained .circle_affiliate, .connection_map .circle_affiliate{background: #0082E0;}*/
/*.pop_up_trained .circle_promoter,.connection_map .circle_promoter{background: #e01900;}*/
/*.pop_up_trained .circle_influencer, .connection_map .circle_influencer{background: #e07000;}*/
/*.pop_up_trained .circle_pacesetter, .connection_map .circle_pacesetter{background: #00E05E;}*/
/*.pop_up_trained .circle_partner, .connection_map .circle_partner{background: #CE00E0;}*/
/*.pop_up_trained .circle_icon, .connection_map .circle_icon{background: #8B4513;}*/
/*.pop_up_trained .circle_legend, .connection_map .circle_legend{background: #FFD200;}*/
/*.pop_up_trained .circle_filter_out, .active .circle_filter_out, .connection_map .circle_filter_out{background: #565656 !important;}*/

.pop_up_trained .circle_no_child, .connection_map .nicolas_in.active .circle_no_child{background: rgba(86, 86, 86, 1);}
.pop_up_trained .circle_customer, .connection_map .nicolas_in.active .circle_customer{background: rgba(224, 206, 0, 1);}
.pop_up_trained .circle_affiliate, .connection_map .nicolas_in.active .circle_affiliate{background: rgba(0, 130, 224, 1);}
.pop_up_trained .circle_promoter, .connection_map .nicolas_in.active .circle_promoter{background: rgba(224, 25, 0, 1);}
.pop_up_trained .circle_influencer, .connection_map .nicolas_in.active .circle_influencer{background: rgba(224, 112, 0, 1);}
.pop_up_trained .circle_pacesetter, .connection_map .nicolas_in.active .circle_pacesetter{background: rgba(0, 224, 94, 1);}
.pop_up_trained .circle_partner, .connection_map .nicolas_in.active .circle_partner{background: rgba(206, 0, 224, 1);}
.pop_up_trained .circle_icon, .connection_map .nicolas_in.active .circle_icon{background: rgba(139, 69, 19, 1);}
.pop_up_trained .circle_legend, .connection_map .nicolas_in.active .circle_legend{background: rgba(255, 210, 0, 1);}
.connection_map .circle_no_child{background: rgba(86, 86, 86, 1);}
.connection_map .circle_customer{background: rgba(224, 206, 0, 0.35);}
.connection_map .circle_affiliate{background: rgba(0, 130, 224, 0.35);}
.connection_map .circle_promoter{background: rgba(224, 25, 0, 0.35);}
.connection_map .circle_influencer{background: rgba(224, 112, 0, 0.35);}
.connection_map .circle_pacesetter{background: rgba(0, 224, 94, 0.35);}
.connection_map .circle_partner{background: rgba(206, 0, 224, 0.35);}
.connection_map .circle_icon{background: rgba(139, 69, 19, 0.35);}
.connection_map .circle_legend{background: rgba(255, 210, 0, 0.35);}
.pop_up_trained .circle_filter_out, .active .circle_filter_out, .connection_map .circle_filter_out{background: rgba(86, 86, 86, 1) !important;}

.trained_middle_top_left a{margin-bottom: 10px;}
.cust_slider  {margin:0;}
.connection_map_in > ul > li {height:0;overflow:hidden;display: none;}
.connection_map_in > ul  > li.show {height:auto;overflow:visible;display: block;}
.connection_map_adjst {min-height:1px;}
.slick-list {overflow:visible;overflow-x:hidden}
.connection_map .slick-slide{min-height: 0;}
.pop_up_trained .trained_middle_top_left{width: 65%;}
.pop_up_trained .trained_middle_top_right {width: 35%;}
.connection_map_in a.customer_root_map span {width:282px; background:#ff162c; font-family: 'Lato', sans-serif;font-size: 35px; color:#ffffff; font-weight:400; display:block; line-height:67px; border-radius:15px; margin:-10px 0 0 0; transition: all 0.3s ease-in-out;-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-ms-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;}
.pop_up_trained.popup-only-name{width: 250px;background: #494543;padding: 10px;color: #fff;border-radius: 10px;}
.pop_up_trained.popup-only-name .trained_middle_left{width: 100%; border: none;}
/*.connection_map .map_middle{padding: 0 6%;}*/
.search_bar .head_txt{width: 50%;}
.nicolas_in_adjst > h2{display: none !important;}