<?php
$manufacturer_param = $this->getParamManufacturer();
$promotion_type_param = $this->getParamPromotionType();

$manufacturers = Mage::helper('manageapi')->getOptionAttribute();
$promotion_types = Mage::helper('manageapi')->getOptionAttribute('primary_promotion_type');

$categoryPath = $this->getAllCategoryPaths();
$categoryPath_param = $this->getParamCategoryPath();

$walmart = $this->getSpecialOfferData();
$walmart_param = $this->getParamWalmart();

$best_sellers = $this->getBestsellersData();
$bese_sellers_param = $this->getBestsellerParam();

$post_data = $this->getRequest()->getPost();
$q = $post_data['q'];
$is_advanced_search = $post_data['is_advanced_search'];

$category = Mage::registry('current_category');

$merchant_data = $this->getMerchant();
$merchant_type_data = $this->getMerchanttype();
?>
<div id="search_dd_wrapper" class="search_blk">
    <form id="search_dd_form" action="" method="post">
        <input type="hidden" id="search_url" value="<?php echo $this->getSearchApiUrl();?>" />
        <div class="form-search-daily-deals">
            <input id="search-dd" name="q" class="input-text required-entry" title="" autocomplete="off" type="text"
                   placeholder="<?php echo $this->__('Search millions of products...');?>" isp_ignore value="<?php echo $q;?>">
            <input type="hidden" name="current_page_dd" id="current_page_dd" value="1">
            <div class="clearer"></div>
            <?php if($q != null){?>
            <a href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB);?>" class="advanced_search_txt">
                <?php echo $this->__('Remove Result (x)');?>
            </a>
            <?php }?>
            <a href="#advanced_search" id="advs" class="advanced_search_txt advs" data-toggle="collapse">
                <?php echo $this->__('Advanced Search');?>
            </a>    
            <div class="clearer"></div>
            <div id="advanced_search" class="collapse">
                <input type="hidden" id="is_advanced_search" name="is_advanced_search" value="0">
                <?php if(sizeof($merchant_data) > 0){?>
                <div class="form-group">
                    <label for="merchant"><?php echo $this->__('Merchant')?></label>
                    <select multiple="multiple" class="form-control" id="merchant" name="merchant[]">
                        <option value=""><?php echo $this->__('All');?></option>
                        <?php 
                        $merchant_param = isset($post_data['merchant']) && sizeof($post_data['merchant']) ? $post_data['merchant'] : null;
                        foreach($merchant_data as $mer){?>
                        <option value="<?php echo $mer['id'];?>" 
                            <?php if($merchant_param != null && in_array($mer['id'], $merchant_param)){?>selected="selected"<?php }?>>
                            <?php echo $mer['name'];?>
                        </option>
                        <?php }?>
                    </select>
                </div>
                <?php }?>

                <?php if(sizeof($merchant_type_data) > 0){?>
                <div class="form-group">
                    <label for="merchant_type"><?php echo $this->__('Merchant Type')?></label>
                    <select multiple="multiple" class="form-control" id="merchant_type" name="merchant_type[]">
                        <option value=""><?php echo $this->__('All');?></option>
                        <?php 
                            $merchant_type_param = isset($post_data['merchant_type']) && sizeof($post_data['merchant_type']) ? $post_data['merchant_type'] : null;
                        foreach($merchant_type_data as $mer){?>

                        <option value="<?php echo $mer['id'];?>" <?php if($merchant_type_param != null && in_array($mer['id'], $merchant_type_param)){?>selected="selected"<?php }?>>
                            <?php echo $mer['name'];?>
                        </option>
                        <?php }?>
                    </select>
                </div>
                <?php }?>

                <div class="form-group">
                    <label for="percent_off"><?php echo $this->__('Percent Off');?></label>
                    <input type="text" id="percent_off" name="percent_off" readonly class="range-search">
                    <div id="percent-range"></div>
                </div>

                <div class="form-group">
                    <label for="price"><?php echo $this->__('Price');?></label>
                    <input type="text" id="price" name="price" readonly class="range-search">
                    <div id="price-range"></div>
                </div>

                <div class="form-group">
                    <label for="sort_product"><?php echo $this->__('Sort By')?></label>
                    <select class="form-control" id="sort_product" name="sort_product">
                        <option value="name_desc" <?php if(isset($post_data['sort_product']) && strcasecmp($post_data['sort_product'], 'name_desc') == 0){?>selected="selected"<?php }?>><?php echo $this->__('Name [Z-A]')?></option>
                        <option value="name_asc" <?php if(isset($post_data['sort_product']) && strcasecmp($post_data['sort_product'], 'name_asc') == 0){?>selected="selected"<?php }?>><?php echo $this->__('Name [A-Z]')?></option>
                        <option value="price_desc" <?php if(isset($post_data['sort_product']) && strcasecmp($post_data['sort_product'], 'price_desc') == 0){?>selected="selected"<?php }?>><?php echo $this->__('Price High to Low')?></option>
                        <option value="price_asc" <?php if(isset($post_data['sort_product']) && strcasecmp($post_data['sort_product'], 'price_asc') == 0){?>selected="selected"<?php }?>><?php echo $this->__('Price Low to High')?></option>
                        <option value="percent_off_desc" <?php if(isset($post_data['sort_product']) && strcasecmp($post_data['sort_product'], 'percent_off_desc') == 0){?>selected="selected"<?php }?>><?php echo $this->__('Percent Off High to Low')?></option>
                        <option value="percent_off_asc" <?php if(isset($post_data['sort_product']) && strcasecmp($post_data['sort_product'], 'percent_off_asc') == 0){?>selected="selected"<?php }?>><?php echo $this->__('Percent Off Low to High')?></option>
                        <option value="cat_desc" <?php if(isset($post_data['sort_product']) && strcasecmp($post_data['sort_product'], 'cat_desc') == 0){?>selected="selected"<?php }?>><?php echo $this->__('Category [Z-A]')?></option>
                        <option value="cat_asc" <?php if(isset($post_data['sort_product']) && strcasecmp($post_data['sort_product'], 'cat_asc') == 0){?>selected="selected"<?php }?>><?php echo $this->__('Category [A-Z]')?></option>
                    </select>
                </div>

                <div class="form-group">
                    <button type="submit" id="advanced_search_submit" class="btn btn-default">
                        <?php echo $this->__('Search');?>
                    </button>
                </div>
            </div>
            <div class="clearer"></div>
            <script type="text/javascript">
                //<![CDATA[
                $j = jQuery.noConflict();

                jQuery( function() {
                    <?php if($is_advanced_search == 1){?>
                    jQuery('#advs').click();
                    <?php }?>

                    jQuery( "#price-range" ).slider({
                      range: true,
                      min: 0,
                      max: 10000,
                      values: [ <?php echo $this->getPriceMin();?>, <?php echo $this->getPriceMax();?> ],
                      slide: function( event, ui ) {
                        jQuery( "#price" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
                      }
                    });
                    jQuery( "#price" ).val( "$" + jQuery( "#price-range" ).slider( "values", 0 ) +
                      " - $" + jQuery( "#price-range" ).slider( "values", 1 ) );

                    jQuery( "#percent-range" ).slider({
                      range: true,
                      min: 0,
                      max: 100,
                      values: [ <?php echo $this->getPercentOffMin();?>, <?php echo $this->getPercentOffMax();?> ],
                      slide: function( event, ui ) {
                        jQuery( "#percent_off" ).val( ui.values[ 0 ] + "%" + " - " + ui.values[ 1 ] + "%" );
                      }
                    });
                    jQuery( "#percent_off" ).val(jQuery( "#percent-range" ).slider( "values", 0 ) +"%" +
                      " - " + jQuery( "#percent-range" ).slider( "values", 1 ) +"%" );
                  });

                var searchForm = new VarienForm('search_dd_form', true);

                $j( "#search-dd" ).on( "keydown", function(event) {
                    if(event.which === 13){
                        if(searchForm.validator && searchForm.validator.validate()) {
                            $j('#search_dd_form').submit();
                        }

                        return false;
                    }
                });

                $j(document).on('click', '#advanced_search_submit', function(){
                    $j('#is_advanced_search').val(1);
                });
                //]]>
            </script>
        </div>
    </form>
</div>
<?php if($q == null){?>
<?php if(sizeof($walmart) > 0){?>
    <div id="walmart_filter" class="sidebar active filter_manufacturer">
        <h6><?php echo $this->__('WALMART.COM');?></h6>
        <div class="sub_blk">
            <ul>
                <?php
                $count = 1;
                foreach ($walmart as $k => $v) {?>
                    <?php $count_special_offer = $this->getCountProductSpecialOffer($k);
                        if($count_special_offer > 0){

                        ?>
                    <li class="<?php if($walmart_param == null && $count > 10){?>manu_hide<?php }else{?>show<?php }?>">
                        <a href="<?php echo $this->getUrlWalmart($k);?>"
                           title="<?php echo $v;?>">
                            <span><?php echo $v;?> (<?php echo $count_special_offer;?>)</span>
                        </a>
                    </li>
                    <?php $count++;} ?>
                <?php }?>
                <?php if($best_sellers > 0){?>
                    <li>
                        <a href="<?php echo $this->getUrlBestseller();?>"
                           title="<?php echo $this->__('Bestsellers');?>" class="show">
                            <span><?php echo $this->__('Bestsellers');?> (<?php echo $best_sellers;?>)</span>
                        </a>
                    </li>
                <?php }?>
                <?php if($walmart_param == null && $count > 10){?>
                    <li>
                        <a href="#" title="View" class="view_more">
                        <span>
                            <?php echo $this->__('View More'); ?>
                        </span>
                        </a>
                    </li>
                <?php }?>
            </ul>
        </div>
    </div>
    <?php if($count == 1){?>
        <style type="text/css">
            #walmart_filter{display: none;}
        </style>
    <?php }?>
<?php }?>

<?php if(sizeof($categoryPath) > 0){?>
    <div class="sidebar active filter_manufacturer">
        <h6><?php echo $this->__('Category');?></h6>
        <div class="sub_blk">
            <ul>
                <?php
                $count = 1;
                foreach ($categoryPath as $k => $v) {?>
                    <li class="<?php if($categoryPath_param == null && $count > 10){?>manu_hide<?php }else{?>show<?php }?>">
                        <a href="<?php echo $this->getUrlCategory($k);?>"
                           title="<?php echo $k;?>">
                            <span><?php echo $k;?> (<?php echo $v;?>)</span>
                        </a>
                    </li>
                <?php $count++; } ?>
                <?php if($count > 10){?>
                    <li>
                        <a href="#" title="View" class="view_more">
                        <span>
                            <?php echo $this->__('View More'); ?>
                        </span>
                        </a>
                    </li>
                <?php }?>
            </ul>
        </div>
    </div>
<?php }?>

<?php if(sizeof($manufacturers) > 0){?>
<div id="brands_filter" class="sidebar active  filter_manufacturer">
    <h6><?php echo $this->__('Brands');?></h6>
    <div class="sub_blk">
        <ul>
            <?php
            $count = 1;
            foreach ($manufacturers as $manufacturer) {?>
                <?php
                $count_manufacturer = $this->getCountProduct($manufacturer['value']);
                if($count_manufacturer > 0){?>
                    <li class="<?php if($manufacturer_param == null && $count > 10){?>manu_hide<?php }else{?>show<?php }?>">
                        <a href="<?php echo $this->getUrlManufacturer($manufacturer['value']);?>"
                           title="<?php echo $manufacturer['label'];?>">
                            <span><?php echo $manufacturer['label'];?> (<?php echo $count_manufacturer;?>)</span>
                        </a>
                    </li>
                <?php $count++; } ?>
            <?php }?>
            <?php if($count > 10){?>
                <li>
                    <a href="#" title="View" class="view_more">
                        <span>
                            <?php echo $this->__('View More'); ?>
                        </span>
                    </a>
                </li>
            <?php }?>
        </ul>
    </div>
</div>
    <?php if($count == 1){?>
        <style type="text/css">
            #brands_filter{display: none;}
        </style>
    <?php }?>
<?php }?>

<?php if(sizeof($promotion_types) > 0){?>
<div class="sidebar active">
    <h6>Deal Type</h6>
    <div class="sub_blk">
        <ul>
            <?php foreach ($promotion_types as $type) {?>
                <li>
                    <a href="<?php echo $this->helper('core/url')->getCurrentUrl(); ?>">
                        <span><?php echo $type['label'];?></span>
                    </a>
                </li>
            <?php }?>
        </ul>
    </div>
</div>
<?php }?>
<?php }?>
<style type="text/css">
    .view_more{text-align: right;padding-right: 10px !important;}
    .manu_hide{display: none !important;}
    .popular_deals{margin: 30px 0;}
    .sidebar h6{border-radius: 22px 22px 0 0;}
    #search_header_form .form-search input{min-height: 30px;line-height: 30px;padding: 0 10px;width: 100%;}
    .filter_manufacturer{margin: 30px 0;}
    .form-search-daily-deals::after{
        content: '';
        position: absolute;
        z-index: 9;
        top: 2px;
        background: url('<?php echo $this->getSkinUrl('images/search-icon.png');?>') no-repeat;
        width: 24px;
        height: 24px;
    }

    #search-dd{
        border: 0;
        border-bottom: 2px solid #15b6cb;
        color: #15b6cb;
        width: 90%;
        line-height: 30px;
        padding: 0 10px;
        font-size: 20px;
        margin-left: 23px;
    }
</style>
<script type="text/javascript">
    $j = jQuery.noConflict();

    $j(".view_more").toggle(function(){
        $j('.manu_hide').attr('style','display: block !important');
        $j(this).html('<span>View Fewer</span>');
    }, function(){
        $j('.manu_hide').attr('style','display: none !important');
        $j(this).html('<span>View More</span>');
    });

    $j(document).ready(function() {
        $j(".sidebar.active .sub_blk").show();
        $j(".sidebar h6").click(function() {
            $j(this).parent().find('.sub_blk').slideToggle();
        });
    });
</script>
