<?php
/*
 * Copyright (C) 2012 Clearspring Technologies, Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
?>
<?php
	$_helper = $this->helper('catalog/output');
	$is_logged = Mage::getSingleton('customer/session')->isLoggedIn();
	if($is_logged){
    $customer_id = Mage::getSingleton('customer/session')->getCustomer()->getId();
    $product = Mage::registry('current_product');
    $shop_now_url = Mage::helper('customproduct')->getShopNowUrl($product);
/**General Options*/
	$plugin_enabled = $this->getPluginEnabledStatus();
	$pubid = $this->getPubId();
	if(!$pubid)
		$pubid = "xa-525fbbd6215b4f1a";			
	
/**Custom Share*/		
	// $custom_url = $this->getCustomUrl();
	$custom_url = $shop_now_url."_aff";
	$custom_title = $product->getName();
	$custom_description = $product->getShortDescription();
	$custom_image = Mage::helper('attributeoptionimage')->getAttributeOptionImage($product->getManufacturer());
	//$custom_title = $this->getCustomTitle();	
	// $custom_description = $this->getCustomDescription();
	if($custom_url != ""):
		$custom_share = "addthis:url='".$custom_url."' addthis:title='".$custom_title."' addthis:description='".$custom_description."'";
	else:
		$custom_share = "";
	endif;			
	
/**API COnfig Options*/	
	$services_exclude = $this->getExcludeServices();
	$services_compact = $this->getCompactServices();
	$services_expanded = $this->getExpandedServices();
	$ui_click = $this->getUiClick();
	$ui_delay = $this->getUiDelay();
	$ui_hover_direction = $this->getUiHover();
	$ui_open_windows = $this->getUiOpenWindows();
	$ui_language = $this->getUiLanguage();
	$ui_offset_top = $this->getUiOffsetTop();
	$ui_offset_left = $this->getUiOffsetLeft();
	$ui_use_css = $this->getUiCss();
	$data_track_clickback = $this->getDataTrackClick();
	$address_bar_share = $this->getAddressBarShare();	
	$data_ga_tracker = $this->getDataGaTracker();

	
/**Custom Service*/
	$services_custom_name = $this->getCustomServiceName();
	$services_custom_url = $this->getCustomServiceUrl();
	$services_custom_icon = $this->getCustomServiceIcon();	
	
?>
<!-- Check whether the plugin is enabled -->
<?php
	if($plugin_enabled!=0):
?>

<div id="share" class="addthis_toolbox addthis_default_style addthis_32x32_style" <?php echo $custom_share?>>
<a class="click" href="#" id="send">
    <i class="fa fa-facebook-official"></i> Share
</a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<!-- <a class="addthis_button_compact"></a> -->
<!-- <a class="addthis_counter addthis_bubble_style"></a> -->
</div>
<script>
window.fbAsyncInit = function() {
FB.init({
    appId: '125830804786058',
    autoLogAppEvents: true,
    xfbml: true,
    version: 'v2.10'
});
FB.AppEvents.logPageView();
};
(function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "<?php echo $this->getSkinUrl('js/');?>sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
jQuery('#send').click(function() {
    var params = {
        'og:url': '<?php echo $custom_url; ?>',
        'og:title': '<?php echo $custom_title;?>'
    };
    var description = '<?php echo $custom_description;?>';
    var image = '<?php echo $custom_image;?>';
    if (description.length) {
        params['og:description'] = description;
    }
    if (image.length) {
        params['og:image'] = image;
    }
    FB.ui({
        method: 'share_open_graph',
        action_type: 'og.shares',
        display: 'popup',
        action_properties: JSON.stringify({ object: params })
    });
});
</script>   
<!-- AddThis Button END -->
<?php
endif; //if plugin not enabled
?>
<style>
#at3win #at3winheader h3 {
	text-align:left !important;
}
#share {
        background-color:#5D7DAE;
        height:24px;
        width: 80px;
      }

  #share a.click {
    font-size:13px;
    font-weight:bold;
    text-align:center;
    color:#fff;
    border:1px solid #FFF;
    background-color:#5D7DAE;
    padding: 2px 10px;
    cursor: pointer;
    text-decoration:none;
    width:80px;
    display:block;
  }

</style>
<?php } ?>