<div class="col-left sidebar">
	<div class="sidebar active">
	<h6>Transactions</h6>
	    <div class="sub_blk" style="display: block;">
	        <ul>
	            <li><a href="<?php echo Mage::getBaseUrl().'sales/order/history';?>"><small><img src="<?php echo $this->getSkinUrl('images/icon41.png');?>" width="32" height="32" alt="icon"></small><span>Order History</span></a></li>
	            <li><a href="<?php echo Mage::getBaseUrl().'truwallet';?>"><small><img src="<?php echo $this->getSkinUrl('images/icon42.png');?>" width="32" height="32" alt="icon"></small><span>TruWallet Rewards</span></a></li>
	            <li><a href="<?php echo Mage::getBaseUrl().'trugiftcard/';?>"><small><img src="<?php echo $this->getSkinUrl('images/icon51.png');?>" width="32" height="32" alt="icon"></small><span>Trunited Gift Card</span></a></li>
                <li><a href="<?php echo Mage::getUrl('trugiftcard/giftcode/');?>"><small><img src="<?php echo $this->getSkinUrl('images/icon51.png');?>" width="32" height="32" alt="icon"></small><span>Gift Card Code</span></a></li>
	            <li><a href="<?php echo Mage::getBaseUrl().'easygiftcard_admin/history/';?>"><small><img src="<?php echo $this->getSkinUrl('images/icon43.png');?>" width="32" height="32" alt="icon"></small><span>Other Gift Cards</span></a></li>
	            <li><a href="<?php echo Mage::getBaseUrl().'rewardpoints/';?>"><small><img src="<?php echo $this->getSkinUrl('images/icon44.png');?>" width="32" height="32" alt="icon"></small><span>Profit Points</span></a></li>
	        </ul>
	    </div>
	</div>
</div>
<script type="text/javascript">
    $j = jQuery.noConflict();
    $j(document).ready(function(e) {
        $j(".sidebar h6").click(function() {
            $j(this).parent().toggleClass('active');
            $j(this).parent().siblings().removeClass('active');
            $j(this).parent().find('.sub_blk').slideToggle();
            $j(this).parent().siblings().find('.sub_blk').slideUp();
        });
    } );
</script>
