<?php
$details = $this->getDetailed();
$events = $this->getListTicketGroups();
//zend_debug::dump($events);
?>
<div class="main_block inn_pad ticket">
    <div class="container">
        <div class="row">

            <div class="direct_comsumer ticket_consumer">
                <h1 class="inner_pad1"><?php echo $details['name']; ?></h1>
            </div>

            <div class="clearfix"></div>
            <div class="col-md-12">
                <?php echo $this->getChildHtml('ticket.left.navigation'); ?>
            </div>
            <div class="col-sm-12 col-xs-12">
                <div class="row">
                    <div class="search_bar back_ground1 row ticket-header">
                        <div class="col-md-5 ticket-location">
                            <span id="events_near">
                                <i class="fa fa-arrow-left fa-1x back_city" aria-hidden="true"></i>
                                <a href="<?php echo $this->getBackUrl();?>"><?php echo $this->__('Back'); ?></a>
                            </span>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-7 search-ticket">
                            <input name="q" type="text" value="<?php echo $this->getKeyword(); ?>" id="q"
                                   placeholder="<?php echo $this->__('Search for Ticket here') ?>">

                            <div id="suggesstion-box"></div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="product_blk" id="list-events">
                        <!-- medium -->
                        <div class="row">
                            <div class="title">
                                <?php echo date('l, M d, Y H:iA', strtotime($details['occurs_at'])).' at '.$details['venue']['name'].', '.$details['venue']['location'];?>
                            </div>
                            <div class="col-md-6">
                                <?php
                                    $img = $details['configuration']['seating_chart']['large'];
                                    if($img != null){
                                ?>
                                    <img src="<?php echo str_replace('media.sandbox', 'media', $img);?>" title="<?php echo $details['name']; ?>" alt="<?php echo $details['name']; ?>" />
                                <?php } else {?>
                                    <p class="not_found"><?php echo $this->__('No Image');?></p>
                                <?php }?>
                            </div>
                            <div class="col-md-6">
                                <?php if(sizeof($events['ticket_groups']) > 0){?>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th><?php echo $this->__('Position'); ?></th>
                                                    <th><?php echo $this->__('Quantity'); ?></th>
                                                    <th><?php echo $this->__('Price'); ?></th>
                                                    <th><?php echo $this->__('Eticket'); ?></th>
                                                    <th><?php echo $this->__('Notes'); ?></th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <?php foreach ($events['ticket_groups'] as $ticket) {?>
                                                <tr>
                                                    <td>
                                                        <p><?php echo $this->__('Section <b>%s</b>', $ticket['section']);?></p>
                                                        <p><?php echo $this->__('Row <b>%s</b>', $ticket['row']);?></p>
                                                    </td>
                                                    <td>
                                                        <select class="ticket_quantity">
                                                            <?php foreach ($ticket['splits'] as $split) {?>
                                                                <option value="<?php echo $split?>"><?php echo $split?></option>
                                                            <?php }?>
                                                        </select>
                                                    </td>
                                                    <td><?php echo Mage::helper('core')->currency($ticket['retail_price'], true, false);?></td>
                                                    <td><?php if($ticket['eticket']) echo 'Yes'; else echo 'No';?></td>
                                                    <td><?php echo $ticket['public_notes'];?></td>
                                                    <td><a class="button buy-btn" href="#">
                                                            <span class="buy-text"><?php echo $this->__('Buy Tickets') ?></span>
                                                            <i class="fa fa-chevron-circle-right"></i>
                                                        </a></td>
                                                </tr>
                                                <?php }?>
                                            </tbody>
                                        </table>
                                    </div>
                                <?php } else {?>
                                    <p class="not_found"><?php echo $this->__('No Tickets found');?></p>
                                <?php }?>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<form action="<?php echo $this->getSearchUrl();?>" method="post" id="ticket-form">
    <input type="hidden" value="" name="lat" id="ticket-lat"/>
    <input type="hidden" value="" name="lng" id="ticket-lng"/>
    <input type="hidden" value="" name="format_address" id="format_address"/>
    <input type="hidden" value="" name="keyword" id="keyword"/>
</form>
<div id="overlay">
    <i class="fa fa-spinner fa-spin fa-5x fa-fw"></i>
</div>
<script type="text/javascript">
    $j = jQuery.noConflict();

    var autocomplete;
    var search_autocomplete_url = '<?php echo $this->getSearchAutocompleteUrl()?>';
    var cache = {};

    $j(document).ready(function (e) {
        $j(".sidebar.active .sub_blk").show();
        $j(".sidebar h6").click(function () {
            $j(this).parent().toggleClass('active');
            $j(this).parent().siblings().removeClass('active');
            $j(this).parent().find('.sub_blk').slideToggle();
            $j(this).parent().siblings().find('.sub_blk').slideUp();
        });
        $j(window).scroll(function () {
            if ($j(this).scrollTop() > 100) {
                $j('.BaclToTop').fadeIn();
            } else {
                $j('.BaclToTop').fadeOut();
            }
        });
    });

    function submitEvents(lat, lng, addr) {
        $j('#ticket-lat').val(lat);
        $j('#ticket-lng').val(lng);
        $j('#format_address').val(addr);
        $j('#keyword').val('');

        $j('#ticket-form').submit();
    }

    $j(function () {
        $j("#q").autocomplete({
            source: search_autocomplete_url,
            minLength: 2,
            select: function (event, ui) {
                window.location.href= ui.item.id;
                return false;
            }
        });

        $j(document).on('keypress', '#q', function (e) {
            if (e.keyCode === 13) {
                $j('#keyword').val($j(this).val());
                $j('#lat').val('');
                $j('#lng').val('');
                $j('#format_address').val('');
                $j('#ticket-form').submit();
            }
        });
    });
</script>



