<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu" aria-expanded="true">
    <i class="fa fa-bars"></i>
</button>
<nav class="navbar navbar-default bootsnav">
    <div class="container">
        <div class="collapse navbar-collapse navbar-ticket" id="navbar-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown megamenu-fw">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><?php echo $this->__('NFL'); ?></a>
                    <ul class="dropdown-menu megamenu-content" role="menu">
                        <li>
                            <div class="row">
                                <div class="col-menu col-md-3">
                                    <div class="content">
                                        <ul class="menu-col">
                                            <li><a href="<?php echo $this->getUrl('*/performer/', array('id'=> '15674', 'slug'   =>'arizona-cardinals'));?>">Arizona Cardinals</a></li>
                                            <li><a href="<?php echo $this->getUrl('*/performer/', array('id'=> '15670', 'slug'   =>'atlanta-falcons'));?>">Atlanta Falcons</a></li>
                                            <li><a href="<?php echo $this->getUrl('*/performer/', array('id'=> '15650', 'slug'   =>'baltimore-ravens'));?>">Baltimore Ravens</a></li>
                                            <li><a href="<?php echo $this->getUrl('*/performer/', array('id'=> '15646', 'slug'   =>'buffalo-bills'));?>">Buffalo Bills</a></li>
                                            <li><a href="<?php echo $this->getUrl('*/performer/', array('id'=> '15666', 'slug'   =>'chicago-bears'));?>">Chicago Bears</a></li>
                                            <li><a href="<?php echo $this->getUrl('*/performer/', array('id'=> '15671', 'slug'   =>'carolina-panthers'));?>">Carolina Panthers</a></li>
                                            <li><a href="<?php echo $this->getUrl('*/performer/', array('id'=> '15651', 'slug'   =>'cincinnati-bengals'));?>">Cincinnati Bengals</a></li>
                                            <li><a href="<?php echo $this->getUrl('*/performer/', array('id'=> '15652', 'slug'   =>'cleveland-browns'));?>">Cleveland Browns</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- end col-3 -->
                                <div class="col-menu col-md-3">
                                    <div class="content">
                                        <ul class="menu-col">


                                            <li><a href="<?php echo $this->getUrl('*/performer/', array('id'=> '15652', 'slug'   =>'cleveland-browns'));?>">Cleveland Browns</a></li>
                                            <li><a href="<?php echo $this->getUrl('*/performer/', array('id'=> '15658', 'slug'   =>'denver-broncos'));?>">Denver Broncos</a></li>
                                            <li><a href="<?php echo $this->getUrl('*/performer/', array('id'=> '15662', 'slug'   =>'dallas-cowboys'));?>">Dallas Cowboys</a></li>
                                            <li><a href="<?php echo $this->getUrl('*/performer/', array('id'=> '15667', 'slug'   =>'detroit-lions'));?>">Detroit Lions</a></li>
                                            <li><a href="<?php echo $this->getUrl('*/performer/', array('id'=> '15654', 'slug'   =>'houston-texans'));?>">Houston Texans</a></li>
                                            <li><a href="<?php echo $this->getUrl('*/performer/', array('id'=> '15655', 'slug'   =>'indianapolis-colts'));?>">Indianapolis Colts</a></li>
                                            <li><a href="<?php echo $this->getUrl('*/performer/', array('id'=> '15656', 'slug'   =>'jacksonville-jaguars'));?>">Jacksonville Jaguars</a></li>
                                            <li><a href="<?php echo $this->getUrl('*/performer/', array('id'=> '15659', 'slug'   =>'kansas-city-chiefs'));?>">Kansas City Chiefs</a></li>


                                        </ul>
                                    </div>
                                </div>
                                <!-- end col-3 -->
                                <div class="col-menu col-md-3">
                                    <div class="content">
                                        <ul class="menu-col">


<!--                                            <li><a href="--><?php //echo $this->getUrl('*/performer/', array('id'=> '15647', 'slug'   =>'kansas-city-chiefs'));?><!--">Los Angeles Rams</a></li>-->
                                            <li><a href="<?php echo $this->getUrl('*/performer/', array('id'=> '15647', 'slug'   =>'miami-dolphins'));?>">Miami Dolphins</a></li>
                                            <li><a href="<?php echo $this->getUrl('*/performer/', array('id'=> '15669', 'slug'   =>'minnesota-vikings'));?>">Minnesota Vikings</a></li>
                                            <li><a href="<?php echo $this->getUrl('*/performer/', array('id'=> '15648', 'slug'   =>'new-england-patriots'));?>">New England Patriots</a></li>
                                            <li><a href="<?php echo $this->getUrl('*/performer/', array('id'=> '15663', 'slug'   =>'new-york-giants'));?>">New York Giants</a></li>
                                            <li><a href="<?php echo $this->getUrl('*/performer/', array('id'=> '15649', 'slug'   =>'new-york-jets'));?>">New York Jets</a></li>
                                            <li><a href="<?php echo $this->getUrl('*/performer/', array('id'=> '15672', 'slug'   =>'new-orleans-saints'));?>">New Orleans Saints</a></li>
                                            <li><a href="<?php echo $this->getUrl('*/performer/', array('id'=> '15660', 'slug'   =>'oakland-raiders'));?>">Oakland Raiders</a></li>


                                        </ul>
                                    </div>
                                </div>
                                <div class="col-menu col-md-3">
                                    <div class="content">
                                        <ul class="menu-col">


                                            <li><a href="<?php echo $this->getUrl('*/performer/', array('id'=> '15664', 'slug'   =>'philadelphia-eagles'));?>">Philadelphia Eagles</a></li>
                                            <li><a href="<?php echo $this->getUrl('*/performer/', array('id'=> '15653', 'slug'   =>'pittsburgh-steelers'));?>">Pittsburgh Steelers</a></li>
<!--                                            <li><a href="--><?php //echo $this->getUrl('*/performer/', array('id'=> '15675', 'slug'   =>'san-francisco-49ers'));?><!--">San Diego Chargers</a></li>-->
                                            <li><a href="<?php echo $this->getUrl('*/performer/', array('id'=> '15675', 'slug'   =>'san-francisco-49ers'));?>">San Francisco 49ers</a></li>
                                            <li><a href="<?php echo $this->getUrl('*/performer/', array('id'=> '15676', 'slug'   =>'seattle-seahawks'));?>">Seattle Seahawks</a></li>
                                            <li><a href="<?php echo $this->getUrl('*/performer/', array('id'=> '15673', 'slug'   =>'tampa-bay-buccaneers'));?>">Tampa Bay Buccaneers</a></li>
                                            <li><a href="<?php echo $this->getUrl('*/performer/', array('id'=> '15657', 'slug'   =>'tennessee-titans'));?>">Tennessee Titans</a></li>
                                            <li><a href="<?php echo $this->getUrl('*/performer/', array('id'=> '15665', 'slug'   =>'washington-redskins'));?>">Washington Redskins</a></li>


                                        </ul>
                                    </div>
                                </div>
                                <!-- end col-3 -->
                            </div>
                            <!-- end row -->
                        </li>
                    </ul>
                </li>
                <li class="dropdown megamenu-fw">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><?php echo $this->__('MLB'); ?></a>
                    <ul class="dropdown-menu megamenu-content" role="menu">
                        <li>
                            <div class="row">
                                <div class="col-menu col-md-3">
                                    <div class="content">
                                        <ul class="menu-col">


                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "15556", "slug"   =>"arizona-diamondbacks"));?>">Arizona Diamondbacks</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "15545", "slug"   =>"atlanta-braves"));?>">Atlanta Braves</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "16425", "slug"   =>"baltimore-orioles"));?>">Baltimore Orioles</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "15532", "slug"   =>"boston-red-sox"));?>">Boston Red Sox</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "15550", "slug"   =>"chicago-cubs"));?>">Chicago Cubs</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "15536", "slug"   =>"chicago-white-sox"));?>">Chicago White Sox</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "15551", "slug"   =>"cincinnati-reds"));?>">Cincinnati Reds</a></li>


                                        </ul>
                                    </div>
                                </div>
                                <!-- end col-3 -->
                                <div class="col-menu col-md-3">
                                    <div class="content">
                                        <ul class="menu-col">


                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "15537", "slug"   =>"cleveland-indians"));?>">Cleveland Indians</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "15557", "slug"   =>"colorado-rockies"));?>">Colorado Rockies</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "15538", "slug"   =>"detroit-tigers"));?>">Detroit Tigers</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "15552", "slug"   =>"houston-astros"));?>">Houston Astros</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "15539", "slug"   =>"kansas-city-royals"));?>">Kansas City Royals</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "15541", "slug"   =>"los-angeles-angels"));?>">Los Angeles Angels</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "15558", "slug"   =>"los-angeles-dodgers"));?>">Los Angeles Dodgers</a></li>


                                        </ul>
                                    </div>
                                </div>
                                <!-- end col-3 -->
                                <div class="col-menu col-md-3">
                                    <div class="content">
                                        <ul class="menu-col">


                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "15553", "slug"   =>"milwaukee-brewers"));?>">Milwaukee Brewers</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "15540", "slug"   =>"minnesota-twins"));?>">Minnesota Twins</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "15547", "slug"   =>"new-york-mets"));?>">New York Mets</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "15533", "slug"   =>"new-york-yankees"));?>">New York Yankees</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "15542", "slug"   =>"oakland-athletics"));?>">Oakland Athletics</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "15548", "slug"   =>"philadelphia-phillies"));?>">Philadelphia Phillies</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "15554", "slug"   =>"pittsburgh-pirates"));?>">Pittsburgh Pirates</a></li>


                                        </ul>
                                    </div>
                                </div>
                                <div class="col-menu col-md-3">
                                    <div class="content">
                                        <ul class="menu-col">


                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "15560", "slug"   =>"san-francisco-giants"));?>">San Francisco Giants</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "15559", "slug"   =>"san-diego-padres"));?>">San Diego Padres</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "15543", "slug"   =>"seattle-mariners"));?>">Seattle Mariners</a></li>
<!--                                            <li><a href="--><?php //echo $this->getUrl("*/performer/", array("id"=> "15544", "slug"   =>"texas-rangers"));?><!--">St. Louis Cardinals</a></li>-->
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "15544", "slug"   =>"texas-rangers"));?>">Texas Rangers</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "15535", "slug"   =>"toronto-blue-jays"));?>">Toronto Blue Jays</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "15549", "slug"   =>"washington-nationals"));?>">Washington Nationals</a></li>


                                        </ul>
                                    </div>
                                </div>
                                <!-- end col-3 -->
                            </div>
                            <!-- end row -->
                        </li>
                    </ul>
                </li>
                <li class="dropdown megamenu-fw">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><?php echo $this->__('NHL'); ?></a>
                    <ul class="dropdown-menu megamenu-content" role="menu">
                        <li>
                            <div class="row">
                                <div class="col-menu col-md-3">
                                    <div class="content">
                                        <ul class="menu-col">


<!--                                            <li><a href="">Arizona Coyotes</a></li>-->
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "16420", "slug"   =>"anaheim-ducks"));?>">Anaheim Ducks</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "16400", "slug"   =>"boston-bruins"));?>">Boston Bruins</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "16401", "slug"   =>"buffalo-sabres"));?>">Buffalo Sabres</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "16415", "slug"   =>"calgary-flames"));?>">Calgary Flames</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "16406", "slug"   =>"carolina-hurricanes"));?>">Carolina Hurricanes</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "16410", "slug"   =>"chicago-blackhawks"));?>">Chicago Blackhawks</a></li>


                                        </ul>
                                    </div>
                                </div>
                                <!-- end col-3 -->
                                <div class="col-menu col-md-3">
                                    <div class="content">
                                        <ul class="menu-col">


                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "16416", "slug"   =>"colorado-avalanche"));?>">Colorado Avalanche</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "16411", "slug"   =>"columbus-blue-jackets"));?>">Columbus Blue Jackets</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "16421", "slug"   =>"dallas-stars"));?>">Dallas Stars</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "16412", "slug"   =>"detroit-red-wings"));?>">Detroit Red Wings</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "16417", "slug"   =>"edmonton-oilers"));?>">Edmonton Oilers</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "16422", "slug"   =>"los-angeles-kings"));?>">Los Angeles Kings</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "16418", "slug"   =>"minnesota-wild"));?>">Minnesota Wild</a></li>


                                        </ul>
                                    </div>
                                </div>
                                <!-- end col-3 -->
                                <div class="col-menu col-md-3">
                                    <div class="content">
                                        <ul class="menu-col">


                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "16402", "slug"   =>"montreal-canadiens"));?>">Montreal Canadiens</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "16413", "slug"   =>"nashville-predators"));?>">Nashville Predators</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "16395", "slug"   =>"new-jersey-devils"));?>">New Jersey Devils</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "16396", "slug"   =>"new-york-islanders"));?>">New York Islanders</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "16397", "slug"   =>"new-york-rangers"));?>">New York Rangers</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "16403", "slug"   =>"ottawa-senators"));?>">Ottawa Senators</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "16398", "slug"   =>"philadelphia-flyers"));?>">Philadelphia Flyers</a></li>


                                        </ul>
                                    </div>
                                </div>
                                <div class="col-menu col-md-3">
                                    <div class="content">
                                        <ul class="menu-col">


                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "16399", "slug"   =>"pittsburgh-penguins"));?>">Pittsburgh Penguins</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "16424", "slug"   =>"san-jose-sharks"));?>">San Jose Sharks</a></li>
<!--                                            <li><a href="">St. Louis Blues</a></li>-->
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "16408", "slug"   =>"tampa-bay-lightning"));?>">Tampa Bay Lightning</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "16404", "slug"   =>"toronto-maple-leafs"));?>">Toronto Maple Leafs</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "16419", "slug"   =>"vancouver-canucks"));?>">Vancouver Canucks</a></li>
<!--                                            <li><a href="">Vegas Golden Knights</a></li>-->
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "16409", "slug"   =>"washington-capitals"));?>">Washington Capitals</a></li>


                                        </ul>
                                    </div>
                                </div>
                                <!-- end col-3 -->
                            </div>
                            <!-- end row -->
                        </li>
                    </ul>
                </li>
                <li class="dropdown megamenu-fw">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><?php echo $this->__('NBA'); ?></a>
                    <ul class="dropdown-menu megamenu-content" role="menu">
                        <li>
                            <div class="row">
                                <div class="col-menu col-md-3">
                                    <div class="content">
                                        <ul class="menu-col">


                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "16311", "slug"   =>"atlanta-hawks"));?>">Atlanta Hawks</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "16301", "slug"   =>"boston-celtics"));?>">Boston Celtics</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "16302", "slug"   =>"brooklyn-nets"));?>">Brooklyn Nets</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "16306", "slug"   =>"chicago-bulls"));?>">Chicago Bulls</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "16307", "slug"   =>"cleveland-cavaliers"));?>">Cleveland Cavaliers</a></li>
<!--                                            <li><a href="">Charlotte Hornets</a></li>-->
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "16317", "slug"   =>"dallas-mavericks"));?>">Dallas Mavericks</a></li>


                                        </ul>
                                    </div>
                                </div>
                                <!-- end col-3 -->
                                <div class="col-menu col-md-3">
                                    <div class="content">
                                        <ul class="menu-col">


                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "16322", "slug"   =>"denver-nuggets"));?>">Denver Nuggets</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "16308", "slug"   =>"detroit-pistons"));?>">Detroit Pistons</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "16326", "slug"   =>"golden-state-warriors"));?>">Golden State Warriors</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "16318", "slug"   =>"houston-rockets"));?>">Houston Rockets</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "16327", "slug"   =>"los-angeles-clippers"));?>">Los Angeles Clippers</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "16328", "slug"   =>"los-angeles-lakers"));?>">Los Angeles Lakers</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "16319", "slug"   =>"memphis-grizzlies"));?>">Memphis Grizzlies</a></li>


                                        </ul>
                                    </div>
                                </div>
                                <!-- end col-3 -->
                                <div class="col-menu col-md-3">
                                    <div class="content">
                                        <ul class="menu-col">


                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "16313", "slug"   =>"miami-heat"));?>">Miami Heat</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "16323", "slug"   =>"minnesota-timberwolves"));?>">Minnesota Timberwolves</a></li>
<!--                                            <li><a href="">New Orleans Pelicans</a></li>-->
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "16303", "slug"   =>"new-york-knicks"));?>">New York Knicks</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "16316", "slug"   =>"oklahoma-city-thunder"));?>">Oklahoma City Thunder</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "16314", "slug"   =>"orlando-magic"));?>">Orlando Magic</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "16304", "slug"   =>"philadelphia-76ers"));?>">Philadelphia 76ers</a></li>


                                        </ul>
                                    </div>
                                </div>
                                <div class="col-menu col-md-3">
                                    <div class="content">
                                        <ul class="menu-col">


                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "16329", "slug"   =>"phoenix-suns"));?>">Phoenix Suns</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "16324", "slug"   =>"portland-trail-blazers"));?>">Portland Trail Blazers</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "16330", "slug"   =>"sacramento-kings"));?>">Sacramento Kings</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "16321", "slug"   =>"san-antonio-spurs"));?>">San Antonio Spurs</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "16305", "slug"   =>"toronto-raptors"));?>">Toronto Raptors</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "16325", "slug"   =>"utah-jazz"));?>">Utah Jazz</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "16315", "slug"   =>"washington-wizards"));?>">Washington Wizards</a></li>


                                        </ul>
                                    </div>
                                </div>
                                <!-- end col-3 -->
                            </div>
                            <!-- end row -->
                        </li>
                    </ul>
                </li>
                <li class="dropdown megamenu-fw">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><?php echo $this->__('NCAA'); ?></a>
                    <ul class="dropdown-menu megamenu-content" role="menu">
                        <li>
                            <div class="row">
                                <div class="col-menu col-md-3">
                                    <h6 class="title">NCAA Football</h6>

                                    <div class="content">
                                        <ul class="menu-col">


                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "15679", "slug"   =>"clemson-tigers-football"));?>">Clemson Tigers Football</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "15771", "slug"   =>"alabama-crimson-tide-football"));?>">Alabama Crimson Tide Football</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "15768", "slug"   =>"usc-trojans-football"));?>">USC Trojans Football</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "15769", "slug"   =>"washington-huskies-football"));?>">Washington Huskies Football</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "15719", "slug"   =>"ohio-state-buckeyes-football"));?>">Ohio State Buckeyes Football</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "15720", "slug"   =>"penn-state-nittany-lions-football"));?>">Penn State Nittany Lions Football</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "15681", "slug"   =>"florida-state-seminoles-football"));?>">Florida State Seminoles Football</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "15722", "slug"   =>"wisconsin-badgers-football"));?>">Wisconsin Badgers Football</a></li>
<!--                                            <li><a href="/sports/football/ncaa">NCAA All Teams</a></li>-->

                                        </ul>
                                    </div>
                                </div>
                                <!-- end col-3 -->
                                <div class="col-menu col-md-3">
                                    <h6 class="title"></h6>
                                    <div class="content">
                                        <ul class="menu-col">


                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "15716", "slug"   =>"michigan-wolverines-football"));?>">Michigan Wolverines Football</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "15777", "slug"   =>"lsu-tigers-football"));?>">LSU Tigers Football</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "15774", "slug"   =>"florida-gators-football"));?>">Florida Gators Football</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "15691", "slug"   =>"colorado-buffaloes-football"));?>">Colorado Buffaloes Football</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "15738", "slug"   =>"notre-dame-fighting-irish-football"));?>">Notre Dame Fighting Irish Football</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "25959", "slug"   =>"vizio-fiesta-bowl"));?>">Fiesta Bowl</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "30622", "slug"   =>"rose-bowl"));?>">Rose Bowl</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "30621", "slug"   =>"chick-fil-a-peach-bowl"));?>">Chick-fil-A Peach Bowl</a></li>
<!--                                            <li><a href="/sports/football/ncaa">NCAA All Teams</a></li>-->


                                        </ul>
                                    </div>
                                </div>
                                <!-- end col-3 -->
                                <div class="col-menu col-md-3">
                                    <h6 class="title">NCAA Basketball</h6>

                                    <div class="content">
                                        <ul class="menu-col">


                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "25764", "slug"   =>"north-carolina-tar-heels-basketball"));?>">North Carolina Tar Heels Basketball</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "25878", "slug"   =>"gonzaga-bulldogs-basketball"));?>">Gonzaga Bulldogs Basketball</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "25812", "slug"   =>"oregon-ducks-basketball"));?>">Oregon Ducks Basketball</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "25866", "slug"   =>"kansas-jayhawks-basketball"));?>">Kansas Jayhawks Basketball</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "25928", "slug"   =>"south-carolina-gamecocks-basketball"));?>">South Carolina Gamecocks Basketball</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "25817", "slug"   =>"arizona-wildcats-basketball"));?>">Arizona Wildcats Basketball</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "25770", "slug"   =>"villanova-wildcats-basketball"));?>">Villanova Wildcats Basketball</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "25811", "slug"   =>"ucla-bruins-basketball"));?>">UCLA Bruins Basketball</a></li>
<!--                                            <li><a href="/sports/basketball/ncaa_men">NCAA All Teams</a></li>-->


                                        </ul>
                                    </div>
                                </div>
                                <div class="col-menu col-md-3">
                                    <h6 class="title"></h6>
                                    <div class="content">
                                        <ul class="menu-col">


                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "25874", "slug"   =>"baylor-bears-basketball"));?>">Baylor Bears Basketball</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "25762", "slug"   =>"duke-blue-devils-basketball"));?>">Duke Blue Devils Basketball</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "16453", "slug"   =>"louisville-cardinals-basketball"));?>">Louisville Cardinals Basketball</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "25796", "slug"   =>"purdue-boilermakers-basketball"));?>">Purdue Boilermakers Basketball</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "25791", "slug"   =>"wisconsin-badgers-basketball"));?>">Wisconsin Badgers Basketball</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "25785", "slug"   =>"michigan-wolverines-basketball"));?>">Michigan Wolverines Basketball</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "25782", "slug"   =>"notre-dame-fighting-irish-basketball"));?>">Notre Dame Fighting Irish Basketball</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "16747", "slug"   =>"wichita-state-shockers-basketball"));?>">Wichita State Shockers Basketball</a></li>
<!--                                            <li><a href="/sports/basketball/ncaa_men">NCAA All Teams</a></li>-->


                                        </ul>
                                    </div>
                                </div>
                                <!-- end col-3 -->
                            </div>
                            <!-- end row -->
                        </li>
                    </ul>
                </li>
                <li class="dropdown megamenu-fw">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown"><?php echo $this->__('More Sports'); ?></a>
                    <ul class="dropdown-menu megamenu-content" role="menu">
                        <li>
                            <div class="row">
                                <div class="col-menu col-md-3">
                                    <div class="content">
                                        <ul class="menu-col">


                                            <li><a href="<?php echo Mage::getUrl('*/event/search', array('q'    => 'Auto Racing'));?>">Auto Racing</a></li>
                                            <li><a href="<?php echo Mage::getUrl('*/event/search', array('q'    => 'Boxing'));?>">Boxing</a></li>
                                            <li><a href="<?php echo Mage::getUrl('*/event/search', array('q'    => 'Golf'));?>">Golf</a></li>
                                            <li><a href="<?php echo Mage::getUrl('*/event/search', array('q'    => 'Rodeo'));?>">Rodeo</a></li>
                                            <li><a href="<?php echo Mage::getUrl('*/event/search', array('q'    => 'Tennis'));?>">Tennis</a></li>
                                            <li><a href="<?php echo Mage::getUrl('*/event/search', array('q'    => 'UFC - Ultimate Fighting Championship'));?>">UFC - Ultimate Fighting Championship</a></li>


                                        </ul>
                                    </div>
                                </div>
                                <!-- end col-3 -->
                                <div class="col-menu col-md-3">
                                    <div class="content">
                                        <ul class="menu-col">


                                            <li><a href="<?php echo Mage::getUrl('*/event/search', array('q'    => 'UFC - Ultimate Fighting Championship'));?>">UFC - Ultimate Fighting Championship</a></li>
                                            <li><a href="<?php echo Mage::getUrl('*/event/search', array('q'    => 'Kentucky Derby'));?>">Kentucky Derby</a></li>
                                            <li><a href="<?php echo Mage::getUrl('*/event/search', array('q'    => 'Belmont Stakes'));?>">Belmont Stakes</a></li>
                                            <li><a href="<?php echo Mage::getUrl('*/event/search', array('q'    => 'Professional Bull Riders World Finals'));?>">Professional Bull Riders World Finals</a></li>
                                            <li><a href="<?php echo Mage::getUrl('*/event/search', array('q'    => 'National Finals Rodeo'));?>">National Finals Rodeo</a></li>
                                            <li><a href="<?php echo Mage::getUrl('*/event/search', array('q'    => 'Super Bowl Tickets'));?>">Super Bowl Tickets</a></li>


                                        </ul>
                                    </div>
                                </div>
                                <!-- end col-3 -->
                                <div class="col-menu col-md-3">
                                    <div class="content">
                                        <ul class="menu-col">


                                            <li><a href="<?php echo Mage::getUrl('*/event/search', array('q'    => 'PyeongChang Winter Games'));?>">PyeongChang Winter Games</a></li>
                                            <li><a href="<?php echo Mage::getUrl('*/event/search', array('q'    => 'Waste Management Phoenix Open'));?>">Waste Management Phoenix Open</a></li>
                                            <li><a href="<?php echo Mage::getUrl('*/event/search', array('q'    => 'The Masters'));?>">The Masters</a></li>
                                            <li><a href="<?php echo Mage::getUrl('*/event/search', array('q'    => 'Daytona 500'));?>">Daytona 500</a></li>
                                            <li><a href="<?php echo Mage::getUrl('*/event/search', array('q'    => 'Indianapolis 500'));?>">Indianapolis 500</a></li>
                                            <li><a href="<?php echo Mage::getUrl('*/event/search', array('q'    => 'US Grand Prix Austin'));?>">US Grand Prix Austin</a></li>


                                        </ul>
                                    </div>
                                </div>
                                <div class="col-menu col-md-3">
                                    <div class="content">
                                        <ul class="menu-col">


                                            <li><a href="<?php echo Mage::getUrl('*/event/search', array('q'    => 'ustralian Open'));?>">Australian Open</a></li>
                                            <li><a href="<?php echo Mage::getUrl('*/event/search', array('q'    => 'French Open'));?>">French Open</a></li>
                                            <li><a href="<?php echo Mage::getUrl('*/event/search', array('q'    => 'BNP Paribas Open'));?>">BNP Paribas Open</a></li>
                                            <li><a href="<?php echo Mage::getUrl('*/event/search', array('q'    => 'Wimbledon'));?>">Wimbledon</a></li>
                                            <li><a href="<?php echo Mage::getUrl('*/event/search', array('q'    => 'Miami Open Tennis'));?>">Miami Open Tennis</a></li>
                                            <li><a href="<?php echo Mage::getUrl('*/event/search', array('q'    => 'World Cup Russia'));?>">World Cup Russia</a></li>


                                        </ul>
                                    </div>
                                </div>
                                <!-- end col-3 -->
                            </div>
                            <!-- end row -->
                        </li>
                    </ul>
                </li>
                <li class="dropdown megamenu-fw">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown"><?php echo $this->__('Concerts'); ?></a>
                    <ul class="dropdown-menu megamenu-content" role="menu">
                        <li>
                            <div class="row">
                                <div class="col-menu col-md-3">
                                    <div class="content">
                                        <ul class="menu-col">


                                            <li><a href="<?php echo Mage::getUrl('*/event/search', array('q'    => 'Rock &amp; Pop'));?>">Rock &amp; Pop</a></li>
                                            <li><a href="<?php echo Mage::getUrl('*/event/search', array('q'    => 'Alternative Rock'));?>">Alternative Rock</a></li>
                                            <li><a href="<?php echo Mage::getUrl('*/event/search', array('q'    => 'Classical'));?>">Classical</a></li>
                                            <li><a href="<?php echo Mage::getUrl('*/event/search', array('q'    => 'Comedy'));?>">Comedy</a></li>
                                            <li><a href="<?php echo Mage::getUrl('*/event/search', array('q'    => 'Country Music'));?>">Country Music</a></li>


                                        </ul>
                                    </div>
                                </div>
                                <!-- end col-3 -->
                                <div class="col-menu col-md-3">
                                    <div class="content">
                                        <ul class="menu-col">


                                            <li><a href="<?php echo Mage::getUrl('*/event/search', array('q'    => 'Dance - Electronic'));?>">Dance - Electronic</a></li>
                                            <li><a href="<?php echo Mage::getUrl('*/event/search', array('q'    => 'Family'));?>">Family</a></li>
                                            <li><a href="<?php echo Mage::getUrl('*/event/search', array('q'    => 'Festivals'));?>">Festivals</a></li>
                                            <li><a href="<?php echo Mage::getUrl('*/event/search', array('q'    => 'Hard Rock'));?>">Hard Rock</a></li>
                                            <li><a href="<?php echo Mage::getUrl('*/event/search', array('q'    => 'Jazz &amp; Blues'));?>">Jazz &amp; Blues</a></li>


                                        </ul>
                                    </div>
                                </div>
                                <!-- end col-3 -->
                                <div class="col-menu col-md-3">
                                    <div class="content">
                                        <ul class="menu-col">


                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "1399", "slug"   =>"billy-joel"));?>">Billy Joel</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "1625", "slug"   =>"bon-jovi"));?>">Bon Jovi</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "6555", "slug"   =>"lady-gaga"));?>">Lady Gaga</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "11428", "slug"   =>"the-eagles"));?>">The Eagles Band</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "12610", "slug"   =>"u2"));?>">U2</a></li>


                                        </ul>
                                    </div>
                                </div>
                                <div class="col-menu col-md-3">
                                    <div class="content">
                                        <ul class="menu-col">


                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "4321", "slug"   =>"garth-brooks"));?>">Garth Brooks</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "7053", "slug"   =>"luke-bryan"));?>">Luke Bryan</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "24764", "slug"   =>"pink"));?>">Pink</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "6100", "slug"   =>"justin-timberlake"));?>">Justin Timberlake</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "11045", "slug"   =>"taylor-swift"));?>">Taylor Swift</a></li>


                                        </ul>
                                    </div>
                                </div>
                                <!-- end col-3 -->
                            </div>
                            <!-- end row -->
                        </li>
                    </ul>
                </li>
                <li class="dropdown megamenu-fw">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown"><?php echo $this->__('Theater'); ?></a>
                    <ul class="dropdown-menu megamenu-content" role="menu">
                        <li>
                            <div class="row">
                                <div class="col-menu col-md-3">
                                    <div class="content">
                                        <ul class="menu-col">


                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "32328", "slug"   =>"aladdin-the-musical"));?>">Aladdin The Musical</a></li>
<!--                                            <li><a href="--><?php //echo $this->getUrl("*/performer/", array("id"=> "15661", "slug"   =>"san-diego-chargers"));?><!--">An American In Paris</a></li>-->
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "43001", "slug"   =>"beautiful-the-carole-king-musical"));?>">Beautiful: The Carole King Musical</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "17829", "slug"   =>"cats-the-musical"));?>">Cats - The Musical</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "30044", "slug"   =>"chicago-the-musical"));?>">Chicago - The Musical</a></li>


                                        </ul>
                                    </div>
                                </div>
                                <!-- end col-3 -->
                                <div class="col-menu col-md-3">
                                    <div class="content">
                                        <ul class="menu-col">


                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "32328", "slug"   =>"aladdin-the-musical"));?>">Aladdin The Musical</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "30059", "slug"   =>"the-lion-king"));?>">The Lion King</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "18945", "slug"   =>"jersey-boys"));?>">Jersey Boys</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "22609", "slug"   =>"finding-neverland"));?>">Finding Neverland</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "18526", "slug"   =>"frozen"));?>">Frozen Musical</a></li>


                                        </ul>
                                    </div>
                                </div>
                                <!-- end col-3 -->
                                <div class="col-menu col-md-3">
                                    <div class="content">
                                        <ul class="menu-col">


                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "45745", "slug"   =>"hamilton-the-musical"));?>">Hamilton - The Musical</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "30390", "slug"   =>"hello-dolly"));?>">Hello, Dolly!</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "11721", "slug"   =>"the-meteors"));?>">Meteor Shower</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "19494", "slug"   =>"miss-saigon"));?>">Miss Saigon</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "21899", "slug"   =>"the-book-of-mormon"));?>">The Book of Mormom</a></li>


                                        </ul>
                                    </div>
                                </div>
                                <div class="col-menu col-md-3">
                                    <div class="content">
                                        <ul class="menu-col">


                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "50748", "slug"   =>"dear-evan-hansen"));?>">Dear Evan Hansen</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "30378", "slug"   =>"the-king-and-i"));?>">The King and I</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "30054", "slug"   =>"the-phantom-of-the-opera"));?>">The Phantom of the Opera</a></li>
                                            <li><a href="<?php echo $this->getUrl("*/performer/", array("id"=> "21123", "slug"   =>"wicked"));?>">Wicked</a></li>
<!--                                            <li><a href="/Theatre">All Theater </a></li>-->


                                        </ul>
                                    </div>
                                </div>
                                <!-- end col-3 -->
                            </div>
                            <!-- end row -->
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>


