<script
    src="https://maps.googleapis.com/maps/api/js?key=<?php echo $this->getGoogleMapApiKey(); ?>&v=3.exp&sensor=false&libraries=places&language=en"></script>

<?php
$events = $this->getListEvents();
?>
<div class="main_block inn_pad ticket">
    <div class="container">
        <div class="row">

            <div class="direct_comsumer ticket_consumer">
                <?php if ($this->getTitle() != '') { ?>
                    <h1 class="inner_pad1"><?php echo $this->getTitle() ?></h1>
                <?php } ?>
            </div>

            <div class="clearfix"></div>
            <div class="col-md-12">
                <?php echo $this->getChildHtml('ticket.left.navigation'); ?>
            </div>
            <div class="col-sm-12 col-xs-12">
                <div class="row">
                    <div class="search_bar back_ground1 row ticket-header">
                        <div class="col-md-5 ticket-location">
                            <span id="events_near">
                                <i class="fa fa-map-marker fa-1x current_location " aria-hidden="true"></i>
                                <?php echo $this->__('Events Near'); ?>
                                <a href="#" class="location" id="change_location">
                                    <?php if ($this->getSearchingLocation() != '') { ?>
                                        <?php echo $this->getSearchingLocation(); ?>
                                    <?php } else { ?>
                                        <?php if ($this->isEnableGeoIP()) { ?>
                                            <?php echo $this->getCityVisitor(); ?>
                                        <?php } else { ?>
                                            ...
                                        <?php } ?>
                                    <?php } ?>
                                    <i class="fa fa-pencil-square-o fa-1x" aria-hidden="true"></i>
                                </a>
                            </span>
                            <span id="change_address">
                                <i class="fa fa-arrow-left fa-1x back_city" aria-hidden="true"></i>
                                <input type="text" id="address_ticket"
                                       placeholder="<?php echo $this->__('Enter zip code or city') ?>">
                                <i class="fa fa-map-marker fa-1x current_location" aria-hidden="true"></i>
                            </span>

                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-7 search-ticket">
                            <input name="q" type="text" value="<?php echo $this->getKeyword(); ?>" id="q"
                                   placeholder="<?php echo $this->__('Search for Ticket here') ?>">

                            <div id="suggesstion-box"></div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="product_blk" id="list-events">
                        <?php if ($this->getKeyword() != '') { ?>
                            <?php if (sizeof($events['results']) <= 0) { ?>
                                <p><?php echo $this->__('No results found!') ?></p>
                            <?php } else { ?>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>
                                                <?php echo $this->__('Event'); ?></th>
                                            <th>
                                                <?php echo $this->__('Date'); ?></th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <?php foreach ($events['results'] as $event) { ?>
                                            <tr>
                                                <td>
                                                    <a href="<?php echo $this->getDetailEvent($event['id'], $event['name']) ?>"
                                                       target="_blank"
                                                       class="ticket-name"><?php echo $event['name']; ?></a>
                                                    <span>
                                                        <?php
                                                        if (strcasecmp($event['_type'], 'Event') == 0) {
                                                            echo trim($event['venue']['venue']['name']) . ', ' . trim($event['venue']['venue']['location']);
                                                        } else if (strcasecmp($event['_type'], 'Venue') == 0) {
                                                            echo trim($event['address']['street_address']) . ', ' . trim($event['address']['location']);
                                                        }
                                                        ?>
                                                    </span>
                                                </td>
                                                <td>
                                                    <?php
                                                    if (strcasecmp($event['_type'], 'Event') == 0) { ?>
                                                        <span class="ticket-date">
                                                        <?php $timestamp = strtotime($event['occurs_at']);
                                                        echo date('D, M d', $timestamp);
                                                        ?>
                                                    </span>
                                                        <span><?php echo date('H:i a', $timestamp); ?></span>
                                                    <?php } ?>
                                                </td>
                                                <td>
                                                    <a class="button buy-btn" target="_blank"
                                                       href="<?php echo $this->getDetailEvent($event['id'], $event['name']) ?>">
                                                        <span
                                                            class="buy-text"><?php echo $this->__('Buy Tickets') ?></span>
                                                        <i class="fa fa-chevron-circle-right"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        <?php } ?>
                                        </tbody>
                                    </table>
                                </div>
                            <?php } ?>
                        <?php } else if (sizeof($events['events']) <= 0) { ?>
                            <p><?php echo $this->__('No Events found!') ?></p>
                        <?php } else { ?>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>
                                            <?php echo $this->__('Event'); ?></th>
                                        <th>
                                            <?php echo $this->__('Date'); ?></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <?php foreach ($events['events'] as $event) { ?>
                                        <tr>
                                            <td>
                                                <a href="<?php echo $this->getDetailEvent($event['id'], $event['name']) ?>"
                                                   target="_blank"
                                                   class="ticket-name"><?php echo $event['name']; ?></a>
                                                <span><?php echo trim($event['venue']['name']) . ', ' . trim($event['venue']['location']); ?></span>
                                            </td>
                                            <td>
                                                <span
                                                    class="ticket-date"><?php $timestamp = strtotime($event['occurs_at']);
                                                    echo date('D, M d', $timestamp);
                                                    ?></span>
                                                <span><?php echo date('H:i a', $timestamp); ?></span>
                                            </td>
                                            <td>
                                                <a class="button buy-btn" target="_blank"
                                                   href="<?php echo $this->getDetailEvent($event['id'], $event['name']) ?>">
                                                    <span class="buy-text"><?php echo $this->__('Buy Tickets') ?></span>
                                                    <i class="fa fa-chevron-circle-right"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    <?php } ?>
                                    </tbody>
                                </table>
                            </div>
                        <?php } ?>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<form action="" method="post" id="ticket-form">
    <input type="hidden" value="" name="lat" id="ticket-lat"/>
    <input type="hidden" value="" name="lng" id="ticket-lng"/>
    <input type="hidden" value="" name="format_address" id="format_address"/>
    <input type="hidden" value="" name="keyword" id="keyword"/>
</form>
<div id="overlay">
    <i class="fa fa-spinner fa-spin fa-5x fa-fw"></i>
</div>
<script type="text/javascript">
    $j = jQuery.noConflict();

    var autocomplete;
    var search_autocomplete_url = '<?php echo $this->getSearchAutocompleteUrl()?>';
    var cache = {};

    $j(document).ready(function (e) {
        $j(".sidebar.active .sub_blk").show();
        $j(".sidebar h6").click(function () {
            $j(this).parent().toggleClass('active');
            $j(this).parent().siblings().removeClass('active');
            $j(this).parent().find('.sub_blk').slideToggle();
            $j(this).parent().siblings().find('.sub_blk').slideUp();
        });
        $j(window).scroll(function () {
            if ($j(this).scrollTop() > 100) {
                $j('.BaclToTop').fadeIn();
            } else {
                $j('.BaclToTop').fadeOut();
            }
        });
    });

    $j(document).on('click', '#change_location', function () {
        $j('#events_near').css({'display': 'none'});
        $j('#change_address').css({'display': 'inline-block'});
        return false;
    });

    $j(document).on('click', '.back_city', function () {
        $j('#events_near').css({'display': 'inline-block'});
        $j('#change_address').css({'display': 'none'});
        return false;
    });

    $j(document).on('click', '.current_location', function () {
        showPosition();
        return false;
    });

    jQuery(document).ready(function () {
        autocomplete = new google.maps.places.Autocomplete(
            document.getElementById('address_ticket'),
            {types: ['(cities)']}
        );
        autocomplete.addListener('place_changed', fillInAddress);
    });

    function fillInAddress() {
        var place = autocomplete.getPlace();

        if (!place.geometry) {
            window.alert("No details available for input: '" + place.name + "'");
            return;
        }

        submitEvents(place.geometry.location.lat(), place.geometry.location.lng(), place.formatted_address);

    }

    function showPosition() {

        if (navigator.geolocation) {
            document.getElementById("overlay").style.display = "block";
            navigator.geolocation.getCurrentPosition(function (position) {
                var GEOCODING = 'https://maps.googleapis.com/maps/api/geocode/json?latlng=' + position.coords.latitude + '%2C' + position.coords.longitude + '&language=en';

                var addr = '';
                $j.getJSON(GEOCODING).done(function (location) {
                    document.getElementById("overlay").style.display = "none";
                    for (var i = 0; i < location.results.length; i++) {
                        var addressType = location.results[i].types[0];
                        if (addressType === 'administrative_area_level_1') {
                            addr = location.results[i].formatted_address;
                            break;
                        }
                    }
                    submitEvents(position.coords.latitude, position.coords.longitude, addr);
                });
            }, function () {
                document.getElementById("overlay").style.display = "none";
            });
        } else {
            alert("Sorry, your browser does not support HTML5 geolocation.");
        }
    }

    function submitEvents(lat, lng, addr) {
        $j('#ticket-lat').val(lat);
        $j('#ticket-lng').val(lng);
        $j('#format_address').val(addr);
        $j('#keyword').val('');

        $j('#ticket-form').submit();
    }

    $j(function () {

        $j("#q").autocomplete({
            source: search_autocomplete_url,
            minLength: 2,
            select: function (event, ui) {
                window.location.href= ui.item.id;
                return false;
            }
        });

        /*var options = {

            url: function(phrase) {
                return search_autocomplete_url;
            },

            getValue: function(element) {
                return element.name;
            },

            ajaxSettings: {
                dataType: "json",
                method: "POST",
                data: {
                    dataType: "json"
                }
            },

            list: {
                match: {
                    enabled: true
                }
            },

            preparePostData: function(data) {
                data.phrase = $j("#q").val();
                return data;
            },

            requestDelay: 100
        };

        $j("#q").easyAutocomplete(options);*/

        $j(document).on('keypress', '#q', function (e) {
            if (e.keyCode === 13) {
                $j('#keyword').val($j(this).val());
                $j('#lat').val('');
                $j('#lng').val('');
                $j('#format_address').val('');
                $j('#ticket-form').submit();
            }
        });
    });
</script>



