<?php
$details = $this->getDetailed();
$events = $this->getListEvents();
?>
<div class="main_block inn_pad ticket">
    <div class="container">
        <div class="row">

            <div class="direct_comsumer ticket_consumer">
                <h1 class="inner_pad1"><?php echo $details['name']; ?></h1>
            </div>

            <div class="clearfix"></div>
            <div class="col-md-12">
                <?php echo $this->getChildHtml('ticket.left.navigation'); ?>
            </div>
            <div class="col-sm-12 col-xs-12">
                <div class="row">
                    <div class="search_bar back_ground1 row ticket-header">
                        <div class="col-md-5 ticket-location">
                            <span id="events_near">
                                <i class="fa fa-arrow-left fa-1x back_city" aria-hidden="true"></i>
                                <a href="<?php echo $this->getBackUrl();?>"><?php echo $this->__('Back'); ?></a>
                            </span>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-7 search-ticket">
                            <input name="q" type="text" value="<?php echo $this->getKeyword(); ?>" id="q"
                                   placeholder="<?php echo $this->__('Search for Ticket here') ?>">

                            <div id="suggesstion-box"></div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="product_blk" id="list-events">
                        <?php if (sizeof($events['events']) <= 0) { ?>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>
                                            <?php echo $this->__('Date'); ?></th>
                                        <th>
                                            <?php echo $this->__('Event'); ?></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td></td>
                                        <td><span class="not_found"><?php echo $this->__('No Events found') ?></span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        <?php } else { ?>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>
                                            <?php echo $this->__('Date'); ?></th>
                                        <th>
                                            <?php echo $this->__('Event'); ?></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <?php foreach ($events['events'] as $event) { ?>
                                        <tr>
                                            <td>
                                                <?php $timestamp = strtotime($event['occurs_at']);?>
                                                <span class="performer-day">
                                                    <?php echo date('l', $timestamp); ?>
                                                </span>
                                                <span class="ticket-date">
                                                    <?php echo date('M d, y', $timestamp); ?>
                                                </span>
                                                <span class="performer-hour"><?php echo date('H:i A', $timestamp); ?></span>
                                            </td>
                                            <td>
                                                <a href="<?php echo $this->getDetailEvent($event['id'], $event['name'])?>" target="_blank"
                                                   class="ticket-name"><?php echo $event['name']; ?></a>
                                                <span class="performer-event-name">
                                                    <?php echo trim($event['venue']['name']) . ', ' . trim($event['venue']['location']); ?></span>
                                            </td>
                                            <td>
                                                <a class="button buy-btn" target="_blank"
                                                   href="<?php echo $this->getDetailEvent($event['id'], $event['name'])?>">
                                                        <span class="buy-text"><?php echo $this->__('Buy Tickets') ?></span>
                                                    <i class="fa fa-chevron-circle-right"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    <?php } ?>
                                    </tbody>
                                </table>
                            </div>
                        <?php } ?>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<form action="<?php echo $this->getSearchUrl();?>" method="post" id="ticket-form">
    <input type="hidden" value="" name="lat" id="ticket-lat"/>
    <input type="hidden" value="" name="lng" id="ticket-lng"/>
    <input type="hidden" value="" name="format_address" id="format_address"/>
    <input type="hidden" value="" name="keyword" id="keyword"/>
</form>
<div id="overlay">
    <i class="fa fa-spinner fa-spin fa-5x fa-fw"></i>
</div>
<script type="text/javascript">
    $j = jQuery.noConflict();

    var autocomplete;
    var search_autocomplete_url = '<?php echo $this->getSearchAutocompleteUrl()?>';
    var cache = {};

    $j(document).ready(function (e) {
        $j(".sidebar.active .sub_blk").show();
        $j(".sidebar h6").click(function () {
            $j(this).parent().toggleClass('active');
            $j(this).parent().siblings().removeClass('active');
            $j(this).parent().find('.sub_blk').slideToggle();
            $j(this).parent().siblings().find('.sub_blk').slideUp();
        });
        $j(window).scroll(function () {
            if ($j(this).scrollTop() > 100) {
                $j('.BaclToTop').fadeIn();
            } else {
                $j('.BaclToTop').fadeOut();
            }
        });
    });

    function submitEvents(lat, lng, addr) {
        $j('#ticket-lat').val(lat);
        $j('#ticket-lng').val(lng);
        $j('#format_address').val(addr);
        $j('#keyword').val('');

        $j('#ticket-form').submit();
    }

    $j(function () {

        $j("#q").autocomplete({
            source: search_autocomplete_url,
            minLength: 2,
            select: function (event, ui) {
                window.location.href= ui.item.id;
                return false;
            }
        });

        $j(document).on('keypress', '#q', function (e) {
            if (e.keyCode === 13) {
                $j('#keyword').val($j(this).val());
                $j('#lat').val('');
                $j('#lng').val('');
                $j('#format_address').val('');
                $j('#ticket-form').submit();
            }
        });
    });
</script>



