<?php
$customer_stats = $this->getCustomerStats();
$ytd_saving = $this->getYtdSaving();
$rank_opts = $this->getRankOption();
?>
<div class="comsumer_dashboard">
    <div class="dashboard_bar">
        <h3><?php echo $this->__('YOUR BUSINESS DASHBOARD'); ?></h3>
    </div>
    <div class="dashboard_top">
        <ul>
            <li class="col-sm-4 col-xs-6">
                <span><?php echo Mage::helper('other')->ytd(); ?></span>
                <small><?php echo $this->__('MEMBER REWARDS <br>PAST 12 MONTHS'); ?></small>
            </li>
            <!--            <li class="col-sm-3 col-xs-6">-->
            <!--                <span>--><?php //echo Mage::helper('other')->mtd(); ?><!--</span>-->
            <!--                <small>--><?php //echo $this->__('TO BE PAID TO <br> MEMBERS'); ?><!--</small>-->
            <!--            </li>-->
            <li class="col-sm-4 col-xs-6">
                <span>
                    <?php
                    echo $this->getCurrentPointValue();
                    ?>
                </span>
                <small><?php echo $this->__('90 DAY AVG <br> POINT VALUE'); ?></small>
            </li>
            <li class="col-sm-4 col-xs-6">
                <span>
                    <?php
                    if ($customer_stats != null && isset($customer_stats['ytd_rewards']))
                        echo Mage::helper('other')->displayNumberFormat($customer_stats['ytd_rewards']);
                    else
                        echo '0';
                    ?>
                </span>
                <small><?php echo $this->__('YOUR YTD <br> REWARDS'); ?></small>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>
<div class="business_block">
    <div class=" col-sm-3 col-xs-12">
        <div class="sidebar active">
            <h6><?php echo $this->__('BUSINESS TOOLS'); ?></h6>

            <div class="sub_blk">
                <ul>
                    <li><a href="<?php echo Mage::getUrl('customer/connectionlist/')?>">
                            <small><img src="<?php echo $this->getSkinUrl('images/icon30.png'); ?>" width="26"
                                        height="26" alt="icon"></small>
                            <span><?php echo $this->__('Connection Management');?></span></a></li>
                    <li><a href="<?php echo $this->getUrl('trainingvideo'); ?>">
                            <small><img src="<?php echo $this->getSkinUrl('images/icon26.png'); ?>" width="26"
                                        height="26" alt="icon"></small>
                            <span><?php echo $this->__('Training');?></span></a></li>
                    <li><a href="<?php echo Mage::getUrl('earningreports'); ?>">
                            <small><img src="<?php echo $this->getSkinUrl('images/icon28.png'); ?>" width="26"
                                        height="26" alt="icon"></small>
                            <span><?php echo $this->__('Earnings Report');?></span></a></li>
                    <li><a href="<?php echo Mage::getUrl('passport/balance/') ?>">
                            <small><img src="<?php echo $this->getSkinUrl('images/icon29.png'); ?>" width="26"
                                        height="26" alt="icon"></small>
                            <span><?php echo $this->__('Money Transfers');?></span></a></li>
                    <li><a href="<?php echo Mage::getUrl('affiliates/refer/')?>">
                            <small><img src="<?php echo $this->getSkinUrl('images/icon30.png'); ?>" width="26"
                                        height="26" alt="icon"></small>
                            <span><?php echo $this->__('Personal URL');?></span></a></li>
                    <?php if(!Mage::helper('connection')->isEnable()){?>
                    <li><a href="<?php echo $this->getUrl('customer/connectionmap/'); ?>">
                            <small><img src="<?php echo $this->getSkinUrl('images/icon27.png'); ?>" width="26"
                                        height="26" alt="icon"></small>
                            <span><?php echo $this->__('Connection Map');?></span></a></li>
                    <?php }?>
                    <?php if(Mage::helper('connection')->isEnable()){?>
                    <li><a href="<?php echo $this->getUrl('connection/tree/'); ?>">
                            <small><img src="<?php echo $this->getSkinUrl('images/icon27.png'); ?>" width="26"
                                        height="26" alt="icon"></small>
                            <span><?php echo $this->__('Connection Tree');?></span></a></li>
                    <?php }?>
                    <?php if(Mage::helper('other/ems')->isEnable()){?>
                    <li><a href="<?php echo $this->getUrl('customer/ems/'); ?>">
                            <small><img src="<?php echo $this->getSkinUrl('images/icon30.png'); ?>" width="26"
                                        height="26" alt="icon"></small>
                            <span><?php echo $this->__('EMS Trend');?></span></a></li>
                    <?php }?>
                    <?php if(Mage::helper('payoutperiod')->isEnable()){?>
                        <li><a href="<?php echo $this->getUrl('payoutperiod/trend/'); ?>">
                                <small><img src="<?php echo $this->getSkinUrl('images/icon30.png'); ?>" width="26"
                                            height="26" alt="icon"></small>
                                <span><?php echo $this->__('Point Value Trend');?></span></a></li>
                    <?php }?>
                </ul>
            </div>
        </div>
    </div>
    <div class=" col-sm-9 col-xs-12">
        <div class="right_block_in">
            <div class="search_bar last padd_bot text-center">
                <h3 class="pad_last"><?php echo $this->__('POINT VALUE TREND'); ?></h3>

                <div class="clearfix"></div>
            </div>
            <div class="graph_sec">
                <div id="chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>

<script type="text/javascript">
    $j = jQuery.noConflict();
    $j('.main-container').addClass('main_block');
    $j('.main').addClass('container');
    $j('.main .col-main').addClass('row');
    $j('.page').addClass('main_content');

    $j(document).ready(function (e) {
        $j('.highcharts-credits').remove();
        $j(".sidebar.active .sub_blk").show();

        $j(".sidebar h6").click(function () {
            $j(this).parent().toggleClass('active');
            $j(this).parent().siblings().removeClass('active');
            $j(this).parent().find('.sub_blk').slideToggle();
            $j(this).parent().siblings().find('.sub_blk').slideUp();
        });

        $j(window).scroll(function () {
            if ($j(this).scrollTop() > 100) {
                $j('.BaclToTop').fadeIn();
            } else {
                $j('.BaclToTop').fadeOut();
            }
        });
    });

    Highcharts.chart('chart', {

        chart: {
            backgroundColor: 'transparent',
            type: 'line'
        },

        title: {
            text: '<?php echo $this->getTitleOfChart();?>'
        },

        subtitle: {
            text: '<?php echo $this->getSubtitleOfChart();?>'
        },
        xAxis: {
            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
            max: 11,
            title: {
                text: '<?php echo $this->getTitleOfVerticalLine();?>'
            }
        },
        yAxis: {
            title: {
                text: '<?php echo $this->getTitleOfHorizontalLine();?>'
            },
        },
        plotOptions: {
	        line: {
	            dataLabels: {
	                enabled: true
	            },
	            enableMouseTracking: true
	        }
	    },
        series: [{
            name: '<?php echo $this->__('Point Value');?>',
            data: [<?php echo $this->collectData();?>],
            color: '#<?php echo $this->getColorOfLine();?>'
        }]

    });

</script>
