
@font-face {
	font-family: 'GothamMedium';
	src: url('GothamMedium.eot?') format('eot'), 
	     url('GothamMedium.woff') format('woff'), 
	     url('GothamMedium.ttf')  format('truetype'),
	     url('GothamMedium.svg#GothamMedium') format('svg');
}
