<div class="right_block_in">
    <div class="search_bar last padd_bot text-center">
        <h3 class="pad_last"><?php echo $this->__('GIFT CARD CODE')?></h3>
        <div class="clearfix"></div>
    </div>
    <div class="acct_information">
        <div class="acct_information_in">
            <div class="form_block" style="padding: 30px">
                <form method="post" action="<?php echo Mage::getUrl('*/coupon/redeem');?>" id="redeem-code-form">
                    <ul>
                        <li class="col-md-8 col-xs-12">
                            <label><?php echo $this->__('Redeem Trunited Gift Card')?></label>
                            <input name="giftcode" type="text" value="" placeholder="<?php echo $this->__('Enter code here')?>"
                                class="required-entry" />
                        </li>
                        <li class="col-md-4 col-xs-12">
                            <button name="submit" type="submit" class="save_btn transition" id="redeem_code">
                                <?php echo $this->__('Submit')?>
                            </button>
                        </li>
                    </ul>
                </form>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<?php echo $this->getChildHtml('other') ?>
<style type="text/css">
    #redeem_code{
        margin: 24px 0 0 0;
        height: 50px;
    }
</style>
<script type="text/javascript">
    $j = jQuery.noConflict();

    $j('.direct_comsumer').addClass('pull-right');
    $j('.direct_comsumer').html('<h1 class="text-uppercase"><?php echo $this->__('TRUNITED GIFT CARD REPORT') ?></h1>');

    var redeemForm = new VarienForm('redeem-code-form', true);

</script>
