<?php
$services = $this->getServices();
if($services != null && sizeof($services) > 0){
?>
<div class="main_block main_bg3">
    <div class="everyday_product apply">
        <h1><?php echo $this->__('APPLY NOW'); ?></h1>
    </div>
    <div class="loading_page global_brands">
        <h2><?php echo $this->__('ARE YOU A GOOD FIT?'); ?></h2>

        <p><?php echo $this->__("WE'RE CONVINCED THAT SOCIALIZED COMMERCE, POWERED BY TRUNITED.COM, CAN TAKE ANY
            PRODUCT OR SERVICE AND CREATE A WIN-WIN BETWEEN SERVICE PROVIDER AND CUSTOMER IN
            THIS ONE OF A KIND LEAD GENERATION AND LOYALTYCREATION VEHICLE"); ?></p>

        <div class="goog_fit">
            <?php echo $this->getChildHtml('global_messages'); ?>
            <form method="post" id="apply-provider-form" action="<?php echo $this->getActionUrl() ?>">
                <ul>
                    <li>
                        <label for="service_type"><?php echo $this->__('Which of the following services do you provide?'); ?></label>

                        <div class="following">
                            <select class="selectpicker required-entry" id="service_type" name="service_type">
                                <?php foreach ($services as $service) {?>
                                <option value="<?php echo $service?>"><?php echo $service?></option>
                                <?php }?>
                            </select>
                        </div>
                    </li>
                    <li>
                    <label for="company_description"><?php echo $this->__('Please tell us about your company'); ?></label>
                    <textarea id="company_description" name="company_description" class="company required-entry" rows="1" cols="1"
                              placeholder="<?php echo $this->__('My company is...');?>"></textarea>
                    </li>
                    <li>
                        <label for="website_url"><?php echo $this->__('What is your company website?'); ?></label>
                        <input id="website_url" name="website_url" type="text" value=""
                               class="required-entry validate-url" placeholder="www.example.com"/>
                    </li>
                    <li>
                        <label for="contact_name"><?php echo $this->__('What is the best way to contact you?'); ?></label>
                    <textarea id="contact_name" name="contact_name" class="company required-entry" rows="1" cols="1"
                              placeholder="<?php echo $this->__('Please contact me via...');?>"></textarea>
                    </li>
                </ul>
                <div class="clearfix"></div>
                <button name="name" type="submit" class="apply_now transition">
                    <?php echo $this->__('APPLY NOW!'); ?>
                </button>
            </form>
        </div>

    </div>
</div>

    <script type="text/javascript">
        //<![CDATA[
        var providerForm = new VarienForm('apply-provider-form', true);
        //]]>
    </script>
<?php } else {?>
<div class="main_block main_bg3">
    <div class="loading_page global_brands">
        <p><?php echo $this->__('Sorry! No services are available now.');?></p>
    </div>
</div>
<?php }?>
