<?php if ($this->canRefundEarnedFundraiserPoints()): ?>
    <p>
        <label for="creditmemo_refund_fundraiser_points">
            <?php echo $this->__('Get back Affiliate fundraiser points from affiliate’s balance (%s)', Mage::helper('rewardpoints/point')->format(number_format($this->getMaxEarnedRefund()), $this->getCreditmemo()->getStoreId())) ?></label>
        <input type="text" name="creditmemo[refund_fundraiser_points]" value="<?php echo number_format($this->getMaxEarnedRefund()); ?>" id="creditmemo_refund_fundraiser_points" class="input-text not-nagetive-amount" style="width: 60px; text-align: right; margin-left: 10px;" onchange="checkCreditmemoRefundEarnedPoints(this)" />
        <script type="text/javascript">
            maxEarnedRefund = <?php echo $this->getMaxEarnedRefund() ? $this->getMaxEarnedRefund() : '0' ?>;
            function checkCreditmemoRefundEarnedPoints(el) {
                if (el.value < 0) {
                    el.value = 0;
                }
                if (el.value > maxEarnedRefund) {
                    el.value = maxEarnedRefund;
                }
            }
        </script>
    </p>
    <?php

endif ?>
