<?php
    $store = Mage::app()->getStore();
    $code  = $store->getCode();

    $_infoblock = Mage::getStoreConfig('porto_settings/contacts/infoblock', $code);
    $custom_block = Mage::getStoreConfig('porto_settings/contacts/customblock', $code);
?>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<?php if($custom_block): ?>
<div class="row">
    <div class="col-sm-12">
        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId($custom_block)->toHtml(); ?>
    </div>
</div>
<?php endif; ?>
<div class="row">
    <div class="col-sm-8 contact-info">
    <h2 class="legend">How Can We <b>Help You?</b></h2>
        <div class="row">
                <div class="col-sm-12">
                    <i class="icon-mail" style="height: 28px; line-height: 28px; width: 28px;"></i>
                    <p><a href="https://goo.gl/forms/OLhEedw0zJI4wuV33" target="_blank">Whatever | Whenever Member Inquiry Form</a></p>
                </div>    
        </div>
        <div class="row">
                <div class="col-sm-12">
                    <i class="icon-mail" style="height: 28px; line-height: 28px; width: 28px;"></i>
                    <p><a href="https://goo.gl/forms/1PSmDpYVxpaOyS5d2" target="_blank">Connection Change Request Form</a></p>
                </div>    
        </div> 
        <div class="row">
                <div class="col-sm-12">
                    <i class="icon-mail" style="height: 28px; line-height: 28px; width: 28px;"></i>
                    <p><a href="https://goo.gl/forms/H5QvU1GdtWovVmlf2" target="_blank">Account Deactivation Request Form</a></p>
                </div>    
        </div>
</div>
    <div class="col-sm-4 contact-info">
        <h2 class="legend"><?php echo Mage::helper('contacts')->__('Contact') ?> <b><?php echo Mage::helper('contacts')->__('Details') ?></b></h2>
        <?php
            echo $_infoblock;
        ?>
    </div>
</div>