
@font-face {
  font-family: 'HelveticaLT-Condensed-Bold';
  src: url('HelveticaLT-Condensed-Bold.eot?#iefix') format('embedded-opentype'),  url('HelveticaLT-Condensed-Bold.woff') format('woff'), url('HelveticaLT-Condensed-Bold.ttf')  format('truetype'), url('HelveticaLT-Condensed-Bold.svg#HelveticaLT-Condensed-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
