    html,body {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden; 
    }  

    body{
        -webkit-text-size-adjust: none;
    }

    p.medium {
        font-size: 1.45em;
        text-align: center;
        color: #fff
      }

    a.btn-score-left {
        font-size: 1.20em;
    }

    .btn-shop-join-now {
        width: 180%;
        margin-left: -40%;
    }

      hr.orange{ 
        height: 1px;
        width: 70px;
        border: 0;
        border-top: 3px solid #F15B20;
        vertical-align: top;
        margin-left: auto;
        margin-right: auto;
      }

      p.vertical-quiz-title-medium {
        writing-mode: vertical-rl;
        transform: rotate(-180deg); 
        font-size: 4em;
        color: gray;
        font-weight: 900;
        vertical-align: top;
      }

      p.vertical-quiz-title-short {
        writing-mode: vertical-rl;
        transform: rotate(-180deg); 
        font-size: 2em;
        color: gray;
        font-weight: 900;
        vertical-align: top;
      }

      .left-quiz-inside{
        text-transform: uppercase;
        font-size: 1.3em;
        text-align: center;
        margin-left: 35%;
        margin-right: 35%;
      }

      .div-score-center{
        display: inline-block;
        vertical-align: top;
        text-align: center;
        float: right;
        padding-right: 4%;
        width: 30%;
        padding-top: 5%;
        margin-right: 15%;
      }

      .div-score-left{
        display: inline-block;
        text-align: left;
        float: left;
  
      }      

      .div-score-right{
        display: inline-block;
        float:right;
        text-align: right;
        vertical-align: top;  
        padding-right: 10%; 
        margin-top: 10%;
      }

      .div-score{
        width: 49%;
        height: 50px;
        display: inline-block;
        vertical-align: middle;
      }

        .div-score-table {
            width: 130%;
            height: 250px;
        }

      .orange-score{
        background-color: #f15b20;
      }  

      .incredible-score{
        background-color: #60BEFE;
      }  

      .great-score{
        background-color: #3EA6ED;
      }   

      .good-score{
        background-color: #298CD0;
      }   

      .average-score{
        background-color: #116196;
      }   

      p.score {
        font-size: 3em;
        text-align: center;
        color: #fff;
        font-weight: 900;
      } 

      p.score-category {
        font-size: 2em;
        text-align: center;
        color: #fff;
        font-weight: 700;
        padding-top: 10px;
      } 

      .btn-score-left{
          display: inline-block;
          float: left;
          padding-left: 15%;
      }

      .btn-score-right{
        display: inline-block;
        float: right;
        padding-right: 15%;
      }

        .div-score-items {
            padding-right: 6%;
        }

      .btn-other-quizz{
        display: inline-block;
        float: right;
        background-color: transparent;
        border: 2px solid #fff;
        vertical-align: middle;
        line-height: normal;
        width: 150%;
        margin-bottom: -10%;
        margin-right: -23%;
      }

    .btn-other-quizzes {
        width: 105%;
        padding-top: 10px;
        margin-left: -4%;
    }


      .btn-quiz-landing{
          display: inline-block;
          float: left;
          width: 33%;
      }

      .btn-quiz-img{
        width: 95%;
      }

      p.short-score {
        font-size: 1.35em;
        text-align: center;
        color: #fff
      }

       p.short {
        font-size: 1.1em;
        text-align: center;
        color: #fff;
        padding-top: 15px;
      }

      p.title-score {
        font-size: 4em;
        text-align: center;
        color: #fff;
        font-weight: 700;
        width: 200%;
        margin-right: -50%;
        float: right;
      }

      .bgimg {
          background-image: url('/media/wysiwyg/porto/provider/Score_Landing_Page_Girl.png');
          background-size: cover;
          height: 1000px;
          opacity: 3;
          background-repeat: no-repeat;
          display: block;
        
      }

      .div-vertical-title-left{
        display: inline-block; 
        padding-top: 50%;
        vertical-align: text-top;
        text-align: right;
      }

       .div-vertical-title-right{
        display: inline-block; 
        vertical-align: top; 
        padding-top: 20%;
        vertical-align: text-top;
        text-align: left;
      }

      .div-shop-join{
        width: 100%;
      }

      .input-shop-join{
        background-color:#f15b20; 
        color: #fff; 
        border: 0;
      }
      
      .div-take-other{
        padding-left: 15%; 
        padding-right: 15%;
      }

      .div-other-buttons{
        text-align: center;
      }

      .btn-quiz-img:hover{
        opacity: 0.7;
      }

      .btn-quiz-img:active {
        opacity: 1;
      }

      .std {
        background-color: #3E3E3E !important;
        line-height: 1;
    }

    .div-score-toptext {
        margin-right: -30%;
    }

    .div-bottom-buttons {
        margin-left: 15%;
        width: 100%;
    }

    @media (max-width: 758px){
          
      .div-score-center{
        min-width: 88%;
        }
        
        .form-search {
            display: none;
        }
        
        p.title-score {
        font-size: 2.75em;
        text-align: center;
        color: #fff;
        font-weight: 700;
        float: right;
      }
        
        p.short {
            padding-top: 15px;
        }


      .div-score-right{
        display: none;
      }

      .div-score{
        width: 49%;
        height: 50px;
        display: inline-block;
        vertical-align: middle;
      }
        
        .div-score-toptext {
            width: 130%;
        }
        
        .div-bottom-buttons {
            padding-left: 25%;
            margin-left: 0%;
        }
        
        .btn-other-quizz {
            display: inline-block;
            background-color: transparent;
            border: 2px solid #fff;
            vertical-align: middle;
            line-height: normal;
            width: 130%;
            margin-right: -15%;
        }
        
        .btn-quiz-landing{
          display: inline-block;
          float: left;
          width: 33%;
        }
        
        .bgimg {
            height: 800px;
        }
        
        .btn-other-quizzes {
            width: 130%;
            margin-left: -15%;
        }
        
        .btn-shop-join-now {
            width: 200%;
            margin-left: -50%;
        }
        
      }