<!--@subject Wow, a friend just sent you a Trunited Gift Card @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image",
"htmlescape var=$customer.name":"Customer Name",
"var title":"Transaction Title",
"var amount":"Transaction Amount",
"var status":"Transaction Status",
"var point_amount":"Point Amount Formated",
"var total":"Customer Balance",
"var point_balance":"Customer Balance Formated",
"store url=\"customer/account/\"":"Customer Account Url"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:13px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<div style="font:13px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:13px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ content starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p><strong>Hi {{htmlescape var=$customer_name}}</strong>,</p>
                            <p>{{htmlescape var=$message}}</p>
                            <p>You have received a Trunited Gift Card in the amount of <b>{{htmlescape var=$amount}}</b> from {{htmlescape var=$sender_name}}. To redeem the Gift Card, simply shop at <a href="https://trunited.com">trunited.com</a>. The sender has shared this Gift Card with you to be used by {{htmlescape var=$expiration_date}}. If not redeemed by this date the shared gift card amount will simply be returned to {{htmlescape var=$sender_name}}.</p>
                            <div style="width: 500px; height: 319px;">
                                <div style="max-height:0;max-width:0;overflow: visible;">
                                    <div style="width:500px;height:319px;margin-left: 58px;text-align:center;">
                                        <img src="{{htmlescape var=$tgc_img}}" style="width: 500px;" />
                                    </div>
                                </div>
                                <div style="max-height:0;max-width:0;overflow: visible;">
                                    <div style="width:500px;text-align:center;font-size:40px;margin-top: 198px;margin-left: 66px;font-weight: bold;color: white;font-family: 'Helvetica', 'Arial', sans-serif;">
                                        CODE: {{htmlescape var=$coupon_code}}
                                    </div>
                                </div>
                                {{depend expiration_date}}
                                <div style="max-height:0;max-width:0;overflow: visible;">
                                    <div style="width:500px;text-align:center;font-size:23px;color: white;margin-top: 56px;margin-left: 65px;">
                                        USE BEFORE: {{htmlescape var=$expiration_date}}
                                    </div>
                                </div>
                                {{/depend}}
                            </div>
                            <p style="border:1px solid #BEBCB7; padding:13px 18px; background:#F8F7F5; ">
                                <strong>Gift Card Code:</strong> {{htmlescape var=$coupon_code}}<br/>                                
                                <strong>Amount:</strong> {{var amount}}<br/>
                                <strong>Use Before:</strong> {{var expiration_date}}<br/>
                                <strong>Sent From:</strong> {{htmlescape var=$sender_name}}<br/>
                            </p>
                            <p style="font-size: 11px;">*Except as required by law, Trunited Gift Cards ("GCs") cannot be transferred for value or redeemed for cash. GCs may be used only for purchases of eligible goods on trunited.com. GCs cannot be redeemed for purchases of gift cards. Purchases are deducted from the GC balance. To redeem visit trunited.com. Trunited is not responsible if a GC is lost, stolen, destroyed or used without permission.
                            </p>
                            <p>If you have any questions, please feel free to <a href="https://trunited.com/contacts">contact us</a> anytime.</p>
                             <p>Enjoy!</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
