<script
        src="https://maps.googleapis.com/maps/api/js?key=<?php echo $this->getGoogleMapApiKey(); ?>&v=3.exp&sensor=false&libraries=places&language=en"></script>
<script type="text/javascript">if ((navigator.userAgent.match(/iPhone/i)) || (navigator.userAgent.match(/iPod/i))) {
        $$('.onestepcheckout-index-index')[0].addClassName('iphone');
    }</script>
<?php $styleChange = Mage::helper('onestepcheckout')->getStyle(); ?>
<?php $background_color = Mage::helper('onestepcheckout')->getBackgroundColor($styleChange); ?>
<?php $background_button = Mage::helper('onestepcheckout')->getCheckoutButtonColor(); ?>
<?php if (!$styleChange || $styleChange == 'orange'): ?>
    <?php $styleUse = Mage::helper('onestepcheckout')->getBackgroundColor('orange'); ?>
<?php elseif ($styleChange == 'custom'): ?>
    <?php $styleUse = '#' . Mage::helper('onestepcheckout')->getStyleColor(); ?>
<?php else: ?>
    <?php $styleUse = Mage::helper('onestepcheckout')->getBackgroundColor($styleChange); ?>
<?php endif; ?>
<?php $_helper = Mage::helper('onestepcheckout');
?>
<style type="text/css">
    button.onestepcheckout-btn-checkout:hover {
        cursor: pointer;
    }

    button#remove_coupon_code_button,
    button#add_coupon_code_button,
    .onestepcheckout-popup-wrapper h1,
    #onestepcheckout-login-popup button.button,
    #onestepcheckout-forgot-button,
    #onestepcheckout-toc-popup h1,
    .onestepcheckout-login-link a span,
    #onestepcheckout-forgot-table li.last p a span,
    #onestepcheckout-register-table li.last p a span,
    p.forgot-link a span,

    .onestepcheckout-login-link a,
    p.forgot-link a,
    p.register-link a,
    #onestepcheckout-forgot-table li.last p a,

    button#add_coupon_code_button:hover {
        cursor: pointer;
    }

    button#remove_coupon_code_button:hover {
        cursor: pointer;
    }

    #notify-email-invalid {
        width: 250px !important;
        height: 70px !important;
        position: fixed !important;
        margin-left: -125px !important;
        margin-top: -50px !important;
        top: 50% !important;
        left: 50% !important;
        z-index: 9999999 !important;
        background: #fff;
        box-shadow: 3px 3px 3px #aaa;
        border-radius: 5px;
    }

    #notify-email-invalid-overlay {
        position: fixed !important;
        top: 0 !important;
        left: 0 !important;
        width: 100% !important;
        height: 100% !important;
        z-index: 9999998 !important;
        opacity: 0.65;
    }
</style>
<!-- Start: Added by Daniel - 02/04/2015 - set background color for top links buttons after login from OSC -->
<style type='text/css'>
    .onestepcheckout-index-index #osc_top_links a {
        background: <?php echo $styleUse?>;
    }
</style>
<!-- End: Added by Daniel - 02/04/2015 - set background color for top links buttons after login from OSC -->
<div id="ajaxcart-load-ajax" style="display:none;">
    <div id="load" class="ajaxcart-overlay">&nbsp;</div>
    <div id="ajaxcart-loading" class="ajaxcart-loading">
        <img alt="<?php echo $this->__('Loading') ?>..."
             src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>"/><br/>
        <?php echo $this->__('Loading') ?>...
    </div>
    <div id="form-paypal" style="display:none;" class="form-paypal"></div>
</div>

<ol class="one-step-checkout clearfix three-columns-flat">
    <?php if (($this->isShowLoginLink() || $this->isShowRegisterLink()) && !$this->isCustomerLoggedIn()): ?>
        <li id='onestepcheckout_login_link' class="onestepcheckout-login-link">
            <a href="javascript:void(0);" id="onestepcheckout-login-link"><span>&nbsp;</span>
                <?php if ($this->configData['login_link_title']): ?>
                    <?php echo $this->configData['login_link_title'] ?>
                <?php else: ?>
                    <?php if (Mage::helper('onestepcheckout')->enableRegistration()): ?>
                        <?php echo $this->__('Click here to login or create a new account') ?>
                    <?php else: ?>
                        <?php echo $this->__('Already have an account?Click here to login') ?>
                    <?php endif; ?>
                <?php endif; ?>
            </a>
        </li>
    <?php endif ?>
    <!-- Start: Added by Daniel - 02/04/2015 - Top links buttons after login from OSC -->
    <li id='osc_top_links'>
        <a href='<?php echo $this->getUrl('customer/account/', array('_secure' => true)); ?>'
           title='<?php echo $this->__('My Account'); ?>'><?php echo $this->__('My Account'); ?></a>
        <a href='<?php echo $this->getUrl('checkout/cart/', array('_secure' => true)); ?>'
           title='<?php echo $this->__('My Cart'); ?>'><?php echo $this->__('My Cart'); ?></a>
        <a href='<?php echo $this->getUrl('customer/account/logout', array('_secure' => true)); ?>'
           title='<?php echo $this->__('Log Out'); ?>'><?php echo $this->__('Log Out'); ?></a>
    </li>
    <!-- End: Added by Daniel - 02/04/2015 - Top links buttons after login from OSC -->
    <li class='payment_buttons'>
        <?php if (Mage::helper('core')->isModuleEnabled('Amazon_Payments')) echo $this->getChildHtml('amazon_button'); ?>
    </li>
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
</ol>

<div class="container">
    <div class="travel_in">
        <form id="one-step-checkout-form" method="post" action="<?php echo $this->getCheckoutUrl(); ?>">
            <ul>
                <li class="col-xs-12 col-sm-6 col-md-4">
                    <div class="order_progress pad_last">
                        <div class="odrer_top">
                            <h5 class="text-uppercase"><?php echo $this->__('Billing address'); ?></h5>
                        </div>
                        <div class="order_middle">
                            <div id='onestepcheckout-billing-section'>
                                <?php echo $this->getChildHtml('onestepcheckout.billing'); ?>
                            </div>
                        </div>
                        <div class="order_bottom" id="showhide_shipping" style="display: none">
                            <h5 class="text-uppercase"><?php echo $this->__('Shipping address'); ?></h5>
                        </div>
                        <div class="order_middle" id="showhide_shipping_content" style="display: none">
                            <div id='onestepcheckout-shipping-section'>
                                <?php echo $this->getChildHtml('onestepcheckout.shipping'); ?>
                            </div>
                        </div>

                    </div>
                </li>

                <li class="col-xs-12 col-sm-6 col-md-4">
                    <div class="order_progress onestepcheckout-shipping-payment-review">
                        <?php if ($this->isVirtual() || !Mage::helper('onestepcheckout')->isHideShippingMethod() || $_helper->enabledDelivery()): ?>
                            <?php if (!$this->isVirtual() && !Mage::helper('onestepcheckout')->isHideShippingMethod()): ?>
                                <div class="odrer_top">
                                    <h5 class="text-uppercase"><?php echo $this->__('Shipping Method'); ?></h5>
                                </div>
                                <div id="shipping-method-container" class="order_middle"
                                     <?php if (Mage::helper('truwallet/giftcard')->plasticInCart()){ ?>style="display: none"<?php } ?>>
                                    <ol>
                                        <li class="shipping-method">
                                            <div class="clear"></div>

                                            <div class="onestepcheckout-shipping-method-section"
                                                 id="onestepcheckout-shipping-method-section">
                                                <?php echo $this->getChildHtml('onestepcheckout.shipping_method'); ?>
                                            </div>
                                            <div id="control_overlay_shipping"
                                                 style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 9998; display: none;"></div>
                                        </li>
                                        <?php if ($_helper->enabledDelivery()): ?>
                                            <li class="delivery">
                                                <div class="delivery_time_date">
                                                    <label for="delivery_date"><?php echo $this->__('Select a date') ?>
                                                        : </label>

                                                    <p class="datetime-delivery">
                                                        <input readonly="readonly" id="delivery_date" type="text"
                                                               size="7"
                                                               style="background: none repeat scroll 0 center rgba(0, 0, 0, 0); border: medium none; box-shadow: none; cursor: default; font-weight: bold;"
                                                               value="<?php echo date('m.d.Y') ?>"
                                                               name="delivery[onestepcheckout-date]"/>
                                                        <img
                                                                src="<?php echo Mage::getBaseUrl('skin') ?>frontend/base/default/images/onestepcheckout/flatnew/calendar.png"
                                                                alt="dateinput" class="v-middle" id="delivery_date_trig"
                                                                title="dateinput" width="21" height="21"/>
                                                    </p>
                                                    <select name="delivery[onestepcheckout-time]"
                                                            style="margin-left:6px;">
                                                        <?php for ($i = 0; $i <= 23; $i++): if (!$this->isEnableHour($i)) continue; ?>
                                                            <option
                                                                    value="<?php echo str_pad($i, 2, '0', STR_PAD_LEFT) ?>:00"><?php echo str_pad($i, 2, '0', STR_PAD_LEFT) ?>
                                                                :00
                                                            </option>
                                                        <?php endfor; ?>
                                                    </select>
                                                </div>
                                                <?php if ($this->enableDeliverySecurityCode()): ?>
                                                    <div class="clear"></div>
                                                    <div class="delivery-sercurity-box"
                                                         style="padding: 0px 4%;margin-bottom:10px">
                                                        <div class="input-box ">
                                                            <label class="label"
                                                                   for="delivery_security_code"><?php echo $this->__('Security access code (Buildings/gated communities)'); ?></label>
                                                            <input id="delivery_security_code" class="input-text"
                                                                   type="text" size="25" name="delivery_security_code"/>
                                                        </div>
                                                    </div>
                                                <?php endif; ?>
                                                <link rel="stylesheet" type="text/css"
                                                      href="<?php echo Mage::getBaseUrl('js') ?>calendar/calendar-win2k-1.css"/>

                                                <script type="text/javascript">
                                                    //<![CDATA[
                                                    enUS = {
                                                        "m": {
                                                            "wide": ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
                                                            "abbr": ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
                                                        }
                                                    }; // en_US locale reference
                                                    Calendar._DN = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]; // full day names
                                                    Calendar._SDN = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"]; // short day names
                                                    Calendar._FD = 0; // First day of the week. "0" means display Sunday first, "1" means display Monday first, etc.
                                                    Calendar._MN = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]; // full month names
                                                    Calendar._SMN = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]; // short month names
                                                    Calendar._am = "AM"; // am/pm
                                                    Calendar._pm = "PM";

                                                    // tooltips
                                                    Calendar._TT = {};
                                                    Calendar._TT["INFO"] = "About the calendar";

                                                    Calendar._TT["ABOUT"] =
                                                        "DHTML Date/Time Selector\n" +
                                                        "(c) dynarch.com 2002-2005 / Author: Mihai Bazon\n" +
                                                        "For latest version visit: http://www.dynarch.com/projects/calendar/\n" +
                                                        "Distributed under GNU LGPL. See http://gnu.org/licenses/lgpl.html for details." +
                                                        "\n\n" +
                                                        "Date selection:\n" +
                                                        "- Use the \xab, \xbb buttons to select year\n" +
                                                        "- Use the " + String.fromCharCode(0x2039) + ", " + String.fromCharCode(0x203a) + " buttons to select month\n" +
                                                        "- Hold mouse button on any of the above buttons for faster selection.";
                                                    Calendar._TT["ABOUT_TIME"] = "\n\n" +
                                                        "Time selection:\n" +
                                                        "- Click on any of the time parts to increase it\n" +
                                                        "- or Shift-click to decrease it\n" +
                                                        "- or click and drag for faster selection.";

                                                    Calendar._TT["PREV_YEAR"] = "Prev. year (hold for menu)";
                                                    Calendar._TT["PREV_MONTH"] = "Prev. month (hold for menu)";
                                                    Calendar._TT["GO_TODAY"] = "Go Today";
                                                    Calendar._TT["NEXT_MONTH"] = "Next month (hold for menu)";
                                                    Calendar._TT["NEXT_YEAR"] = "Next year (hold for menu)";
                                                    Calendar._TT["SEL_DATE"] = "Select date";
                                                    Calendar._TT["DRAG_TO_MOVE"] = "Drag to move";
                                                    Calendar._TT["PART_TODAY"] = ' (' + "Today" + ')';

                                                    // the following is to inform that "%s" is to be the first day of week
                                                    Calendar._TT["DAY_FIRST"] = "Display %s first";

                                                    // This may be locale-dependent. It specifies the week-end days, as an array
                                                    // of comma-separated numbers. The numbers are from 0 to 6: 0 means Sunday, 1
                                                    // means Monday, etc.
                                                    Calendar._TT["WEEKEND"] = "0,6";

                                                    Calendar._TT["CLOSE"] = "Close";
                                                    Calendar._TT["TODAY"] = "Today";
                                                    Calendar._TT["TIME_PART"] = "(Shift-)Click or drag to change value";

                                                    // date formats
                                                    Calendar._TT["DEF_DATE_FORMAT"] = "%b %e, %Y";
                                                    Calendar._TT["TT_DATE_FORMAT"] = "%B %e, %Y";

                                                    Calendar._TT["WK"] = "Week";
                                                    Calendar._TT["TIME"] = "Time:";

                                                    CalendarDateObject._LOCAL_TIMZEONE_OFFSET_SECONDS = -28800;

                                                    var disableDays = JSON.parse('<?php echo $this->getDisableDayJson();?>');

                                                    Calendar.setup({
                                                        inputField: "delivery_date",
                                                        ifFormat: "%m.%d.%Y",
                                                        showsTime: false,
                                                        button: "delivery_date_trig",
                                                        electric: false,
                                                        singleClick: true,
                                                        disableFunc: function (date) {
                                                            var today = new Date();

                                                            if (disableDays && disableDays.length > 0) {
                                                                var day = date.getDay();
                                                                if (disableDays.indexOf(day.toString()) >= 0) {
                                                                    return true;
                                                                }
                                                            }

                                                            if (date.getFullYear() < today.getFullYear()) {
                                                                return true;
                                                            } else if (date.getMonth() < today.getMonth() && date.getFullYear() <= today.getFullYear()) {
                                                                return true;
                                                            } else if (date.getDate() < today.getDate() && date.getMonth() <= today.getMonth() && date.getFullYear() <= today.getFullYear()) {
                                                                return true;
                                                            }
                                                            if (today.getDate() == date.getDate()) {
                                                                return false;
                                                            }

                                                        }
                                                    });
                                                    //]]>
                                                </script>

                                            </li>
                                        <?php endif; ?>

                                    </ol>
                                    <p style="padding: 0 15px;"><?php echo Mage::helper('customshipping')->getShippingCutOffText();?></p>
                                </div>
                            <?php endif; ?>
                        <?php endif; ?>

                        <!-- When do you want it -->

                        <!-- When do you want it -->

                        <?php if (Mage::helper('onestepcheckout')->isHideShippingMethod()): ?>
                            <?php $_shippingMethod = $this->hasOnlyOneShippingMethod(); ?>
                            <!-- <span class="no-display"> -->
                                <input name="shipping_method" type="radio" value="<?php echo $_shippingMethod; ?>"
                                       id="s_method_<?php echo $_shippingMethod; ?>" checked="checked"/>
                            <!-- </span> -->
                        <?php endif; ?>

                        <!-- Trunited Discounts -->
                        <?php if (Mage::helper('trugiftcard')->isShowTrunitedDiscountSection()) { ?>
                            <?php
                            $_notifyMessage = Mage::helper('custompromotions/configuration')->getNotifyMessage();
                            ?>
                            <div class="clear"></div>
                            <div id="order-trunited-discounts-section" class="order-trunited-discounts-section">
                                <div class="order_bottom" >
                                    <h5 class="text-uppercase"><?php echo $this->__('Trunited Discounts'); ?></h5>
                                </div>
                                <div class="order_middle">
                                    <div class="clear"></div>
                                    <div id="onestepcheckout-trunited-discounts"
                                         class="onestepcheckout-trunited-discounts">
                                        <?php if (Mage::helper('trugiftcard')->isShowTruWallet()) { ?>
                                            <?php echo $this->getLayout()->createBlock('truwallet/payment_form')->renderView(); ?>
                                        <?php } else if (Mage::helper('trugiftcard')->isShowWarningTruWallet()) { ?>
                                            <div id="notify_message_truwallet" class="notice-msg"
                                                 <?php if (false){ ?>style="display: none"<?php } ?>
                                            ><?php echo $_notifyMessage; ?></div>
                                        <?php } ?>
                                        <?php if (Mage::helper('trugiftcard')->isShowTruGiftCard()) { ?>
                                            <?php echo $this->getLayout()->createBlock('trugiftcard/payment_form')->renderView(); ?>
                                        <?php } ?>

                                    </div>
                                    <div id="control_overlay_trunited_discounts"
                                         style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 9998; display: none;"></div>
                                </div>
                            </div>
                        <?php } ?>
                        <!-- Trunited Discounts -->

                        <div class="order-review-section"
                             style="<?php if (Mage::helper('onestepcheckout')->isHideShippingMethod() && !$_helper->enabledDelivery()) if ($this->hasOnlyOneShippingMethod()) echo 'width: 100% !important'; ?>">
                            <div class="order_bottom" >
                                <h5 class="text-uppercase"><?php echo $this->__('Payment Methods'); ?></h5>
                            </div>
                            <div class="order_middle">
                                <div class="clear"></div>
                                <div id="onestepcheckout-payment-methods" class="onestepcheckout-payment-methods">
                                    <?php echo $this->getChildHtml('onestepcheckout.payment_method'); ?>
                                </div>
                                <div id="control_overlay_payment"
                                     style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 9998; display: none;"></div>
                            </div>
                        </div>

                    </div>
                </li>

                <li class="col-xs-12 col-sm-6 col-md-4">
                    <div class="order_progress onestepcheckout-review-info">
                        <div class="odrer_top">
                            <h5 class="text-uppercase"><?php echo $this->__('Order Review'); ?></h5>
                        </div>
                        <div class="progress_in order_middle">
                            <div class="clearfix"></div>
                            <!--<ul>
                                <li class="col-xs-12">
                                    <div class="order_product pull-left">
                                        <h6>Product</h6>
                                    </div>
                                    <div class="order_qty pull-left">
                                        <h6>Qty</h6>
                                    </div>
                                    <div class="order_subtotal pull-left">
                                        <h6>Subtotal</h6>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>

                                <li class="col-xs-12">
                                    <div class="order_product pull-left">
                                        <span>Ciela Revitalizing Facial Cleanser</span>
                                    </div>
                                    <div class="order_qty pull-left">
                                        <div class="increse">
                                            <input name="name" type="text" class="input-quantity" value="1">
                                            <span class="up">&nbsp;</span>
                                            <span class="down">&nbsp;</span>
                                        </div>
                                    </div>
                                    <div class="order_subtotal pull-left">
                                        <span>$29.99</span>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>

                                <li class="col-xs-12">
                                    <div class="shipping">
                                        <div class="shipping_left">
                                            <span>Subtotal</span>
                                        </div>
                                        <div class="order_subtotal">
                                            <span>$29.99</span>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="shipping">
                                        <div class="shipping_left">
                                            <span>Shipping &amp; Handling (StorePickup - Best Way Pickup Time: 08-09-2017)</span>
                                        </div>
                                        <div class="order_subtotal">
                                            <span>$0.00</span>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="shipping">
                                        <div class="shipping_left">
                                            <span>Ship with My TruBox</span>
                                        </div>
                                        <div class="order_subtotal">
                                            <span>$0.00</span>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="shipping">
                                        <div class="shipping_left">
                                            <span><b>You will earn:</b></span>
                                        </div>
                                        <div class="order_subtotal">
                                            <span>1 Point</span>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="shipping">
                                        <div class="shipping_left">
                                            <span><b>Bonus</b></span>
                                        </div>
                                        <div class="order_subtotal">
                                            <span>1 Point</span>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="shipping">
                                        <div class="shipping_left">
                                            <span>TruWallet Rewards</span>
                                        </div>
                                        <div class="order_subtotal">
                                            <span>-$3.30</span>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>

                                <li class="col-xs-12">
                                    <div class="grand_total">
                                        <div class="shipping_left">
                                            <h6>GRAND TOTAL</h6>
                                        </div>

                                        <div class="order_subtotal">
                                            <h6>$26.69</h6>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>

                                <li class="col-xs-12">
                                    <span>Coupon Code:</span>
                                    <input type="text" value="Enter Coupon Code"
                                           onClick="if(this.value=='Enter Coupon Code'){this.value=''}"
                                           onBlur="if(this.value==''){this.value='Enter Coupon Code'}">
                                    <a href="javascript:void(0)">Apply</a>
                                    <button type="button" class="btn transition text-uppercase">Continue Order</button>
                                </li>
                            </ul>-->

                            <?php echo $this->getChildHtml('onestepcheckout.review') ?>
                            <div id="control_overlay_review"
                                 style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 9998; display: none;"></div>

                            <?php if (Mage::helper('fundraiser')->isShowHelpAffiliateFundraiser()) { ?>
                                <?php echo $this->getLayout()->createBlock('fundraiser/payment_form')->renderView(); ?>
                            <?php } ?>

                            <button onclick="oscPlaceOrder(this);" id="onestepcheckout-button-place-order"
                                    type="button" title="<?php echo $this->__('PROCESS ORDER') ?>"
                                    class="btn">
                                <?php
                                $default_text = $this->__('PROCESS ORDER');

//                                if (Mage::getModel('checkout/session')->getQuote()->getGrandTotal() > 0) {
//                                    if ($_helper->getTextButtGreaterZero() != '')
//                                        echo $_helper->getTextButtGreaterZero();
//                                    else
//                                        echo $default_text;
//                                } else {
//                                    if ($_helper->getTextButtonOnZero() != '')
//                                        echo $_helper->getTextButtonOnZero();
//                                    else
//                                        echo $default_text;
//                                }

                                echo $default_text;


                                ?>
                            </button>
                            <div id="onestepcheckout-place-order-loading" style="display:none;    margin: -35px 0 0 3px; ">
                                <p style="float:left;padding-top:5px;">
                                    &nbsp;&nbsp;<?php echo $this->__('Please wait, processing your order...') ?></p>
                            </div>
                        </div>


                    </div>


                </li>
            </ul>
        </form>
        <div class="clearfix"></div>
    </div>
</div>
<div class="modal fade osc-modal" id="myModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <iframe style="border:none; width:100%; height:1000px;" id="load-skrill-form"
                    src=""></iframe>
        </div>
    </div>
</div>
<script type="text/javascript">

    //<![CDATA[	
    var preloadImage = '<?php echo $this->getSkinUrl('images/onestepcheckout/preload.gif') ?>';
    var shipping_method_url = '<?php echo $this->getUrl('onestepcheckout/index/save_shipping', array('_secure' => true)); ?>';
    var enable_update_payment = <?php echo $this->configData['update_payment'] ? 'true' : 'false'; ?>;
    var login_url = '<?php echo $this->getUrl('onestepcheckout/index/show_login', array('_secure' => true)); ?>';
    var show_login_link = <?php echo $this->configData['show_login_link'] ? 'true' : 'false'; ?>;
    var show_term_condition_url = '<?php echo $this->getUrl('onestepcheckout/index/show_term_condition', array('_secure' => true)); ?>';
    var form = $('one-step-checkout-form');
    var reload_payment = <?php echo $this->configData['reload_payment']; ?>;

    function showloginbox() {
        var url = '<?php echo $this->getUrl('onestepcheckout/index/show_login', array('_secure' => true)); ?>';
        showLogin(url);
    }

    function showforgotpwd() {
        var url = '<?php echo $this->getUrl('onestepcheckout/index/show_password', array('_secure' => true)); ?>';
        showpwdbox(url);
    }

    function showPasswordForm() {
        $('onestepcheckout-login').hide();
        $('onestepcheckout-forgot-password').show();
    }

    function showloginform() {
        $('onestepcheckout-forgot-password').hide();
        $('onestepcheckout-login').show();
    }

    function submitLoginForm() {
        var login_validator = new Validation('onestepcheckout-login-form');
        if (login_validator.validate()) {
            showLoginLoading();
            var url = '<?php echo $this->getUrl('onestepcheckout/index/loginPost', array('_secure' => true)) ?>';
            var email = $('osclogin:email_address').value;
            var password = $('osclogin:password').value;
            var parameters = {email: email, password: password};
            var loginRequest = new Ajax.Request(url, {
                parameters: parameters,
                onComplete: loginProcess.bindAsEventListener(this),
                onFailure: ""
            });
        }
    }

    function retrievePassword() {
        var passwordValidator = new Validation('osc-forgotpassword-form');
        if (passwordValidator.validate()) {
            showPassLoading();
            var url = '<?php echo $this->getUrl('onestepcheckout/index/retrievePassword', array('_secure' => true)) ?>';
            var email = $('forgotpassword_email_address').value;
            var parameters = {email: email};
            var loginRequest = new Ajax.Request(url, {
                parameters: parameters,
                onComplete: passwordProcess.bindAsEventListener(this),
                onFailure: ""
            });
        }
    }


    <?php $storeId = Mage::app()->getStore(true)->getStoreId() ?>
    var save_address_url = '<?php echo $this->getUrl('onestepcheckout/index/saveAddressOnestepcheckout', array('_secure' => true)) ?>';
    var update_address_shipping = '<?php echo Mage::getStoreConfig('onestepcheckout/ajax_update/address_shipping', $storeId) ?>';
    var update_address_payment = '<?php echo Mage::getStoreConfig('onestepcheckout/ajax_update/address_payment', $storeId) ?>';
    var update_address_review = '<?php echo Mage::getStoreConfig('onestepcheckout/ajax_update/address_review', $storeId) ?>';
    var update_shipping_payment = '<?php echo Mage::getStoreConfig('onestepcheckout/ajax_update/shipping_payment', $storeId) ?>';
    var update_shipping_review = '<?php echo Mage::getStoreConfig('onestepcheckout/ajax_update/shipping_review', $storeId) ?>';
    var update_payment_review = '<?php echo Mage::getStoreConfig('onestepcheckout/ajax_update/payment_review', $storeId) ?>';

    <?php if (Mage::getStoreConfig('onestepcheckout/ajax_update/enable_ajax', $storeId)): ?>

    //save address when change country field
    <?php if ($this->isAjaxBillingField('country')): ?>
    //2014.18.11 fix VAT apply start
    if ($('billing:taxvat'))
        Event.observe('billing:taxvat', 'change', function () {
            //check empty fields
            var empty = checkEmptyFields($('billing-new-address-form'));
            if (empty == false || reload_payment == 2)
                save_address_information(save_address_url, update_address_shipping, update_address_payment, update_address_review);
        });
    //2014.18.11 fix VAT apply end

    //save billing when country is changed
    if ($('billing:country_id'))
        Event.observe('billing:country_id', 'change', function () {
            //check empty fields
            var empty = checkEmptyFields($('billing-new-address-form'));
            if (empty == false || reload_payment == 2)
                save_address_information(save_address_url, update_address_shipping, update_address_payment, update_address_review);
            //Thinhnd
            <?php if (Mage::getStoreConfig('onestepcheckout/field_require_management/region')): ?>
            if ($('billing:region').style.display != 'none') {
                $('billing:region').addClassName('required-entry');
                $$('span.required')[8].style.display = '';
            }
            <?php endif; ?>
            //end
        });
    <?php if ($this->isShowShippingAddress()): ?>
    if ($('shipping:country_id'))
        Event.observe('shipping:country_id', 'change', function () {
            //check empty fields
            var empty = checkEmptyFields($('shipping-new-address-form'));
            if (empty == false || reload_payment == 2)
                save_address_information(save_address_url, update_address_shipping, update_address_payment, update_address_review);
        });
    <?php endif; ?>
    <?php endif; ?>

    //save address when change state/region field
    <?php if ($this->isAjaxBillingField('state/region')): ?>
    //save billing when state / region is changed
    if ($('billing:region_id'))
        Event.observe('billing:region_id', 'change', function () {
            //check empty fields
            var empty = checkEmptyFields($('billing-new-address-form'));
            if (empty == false || reload_payment == 2)
                save_address_information(save_address_url, update_address_shipping, update_address_payment, update_address_review);
        });
    if ($('billing:region'))
        Event.observe('billing:region', 'change', function () {
            //check empty fields
            var empty = checkEmptyFields($('billing-new-address-form'));
            if (empty == false || reload_payment == 2)
                save_address_information(save_address_url, update_address_shipping, update_address_payment, update_address_review);
        });
    <?php if ($this->isShowShippingAddress()): ?>
    if ($('shipping:region_id'))
        Event.observe('shipping:region_id', 'change', function () {
            //check empty fields
            var empty = checkEmptyFields($('shipping-new-address-form'));
            if (empty == false || reload_payment == 2)
                save_address_information(save_address_url, update_address_shipping, update_address_payment, update_address_review);
        });
    if ($('shipping:region'))
        Event.observe('shipping:region', 'change', function () {
            //check empty fields
            var empty = checkEmptyFields($('shipping-new-address-form'));
            if (empty == false || reload_payment == 2)
                save_address_information(save_address_url, update_address_shipping, update_address_payment, update_address_review);
        });
    <?php endif; ?>
    <?php endif; ?>

    //save address when change postcode field
    <?php if ($this->isAjaxBillingField('postcode')): ?>
    //save billing when postcode is changed
    if ($('billing:postcode'))
        Event.observe('billing:postcode', 'change', function () {
            //check empty fields
            var empty = checkEmptyFields($('billing-new-address-form'));
            if (empty == false || reload_payment == 2)
                save_address_information(save_address_url, update_address_shipping, update_address_payment, update_address_review);
        });
    <?php if ($this->isShowShippingAddress()): ?>
    if ($('shipping:postcode'))
        Event.observe('shipping:postcode', 'change', function () {
            //check empty fields
            var empty = checkEmptyFields($('shipping-new-address-form'));
            if (empty == false || reload_payment == 2)
                save_address_information(save_address_url, update_address_shipping, update_address_payment, update_address_review);
        });
    <?php endif; ?>
    <?php endif; ?>

    //save address when change city field
    <?php if ($this->isAjaxBillingField('city')): ?>
    //save billing when city is changed
    if ($('billing:city'))
        Event.observe('billing:city', 'change', function () {
            //check empty fields
            var empty = checkEmptyFields($('billing-new-address-form'));
            if (empty == false || reload_payment == 2)
                save_address_information(save_address_url, update_address_shipping, update_address_payment, update_address_review);
        });
    <?php if ($this->isShowShippingAddress()): ?>
    if ($('shipping:city'))
        Event.observe('shipping:city', 'change', function () {
            //check empty fields
            var empty = checkEmptyFields($('shipping-new-address-form'));
            if (empty == false || reload_payment == 2)
                save_address_information(save_address_url, update_address_shipping, update_address_payment, update_address_review);
        });
    <?php endif; ?>
    <?php endif; ?>

    //2014.18.11 delete reload when change telephone
    <?php endif ?>

    //document.observe('dom:loaded', function() {
    //fix for IE9
    Event.observe(window, 'load', function () {
        if ($('create_account_checkbox_id')) {
            if ($('create_account_checkbox_id').checked)
                $('password_section_id').show();
            else
                $('password_section_id').hide();
        }
        if ($RF(form, 'payment[method]') != null) {
            var payment_method = $RF(form, 'payment[method]');
            if ($('container_payment_method_' + payment_method)) {
                $('container_payment_method_' + payment_method).show();
            }
            if ($('payment_form_' + payment_method)) {
                $('payment_form_' + payment_method).show();
            }
        }
    });

    function disable_payment() {
        var options = document.getElementsByName('payment[method]');
        for (var i = 0; i < options.length; i++) {
            if (!$(options[i].id).checked) {
                var container = options[i].id.replace('p_method', 'container_payment_method');
                if ($(container)) {
                    $(container).innerHTML = '';
                }
            }
        }
    }

    /* isUseAmazon() return true if use Amazon payment method */
    function isUseAmazon() {
        var options = document.getElementsByName('payment[method]');
        var pay = true;
        for (var i = 0; i < options.length; i++) {
            if ($(options[i].id).checked) {
                if (options[i].value == 'amazon_payments')
                    pay = false;
                break;
            }
        }
        if (pay == true) {
            return false;
        }
        return true;
    }

    /* end */

    function checkpayment() {
        var options = document.getElementsByName('payment[method]');
        var pay = true;
        for (var i = 0; i < options.length; i++) {
            if ($(options[i].id).checked) {
                pay = false;
                break;
            }
        }
        if (pay == true) {
            return false;
        }
        return true;
    }

    function oscPlaceOrder(element) {

        var validator = new Validation('one-step-checkout-form');
        var form = $('one-step-checkout-form');
        if (validator.validate()) {

            if (($('p_method_hosted_pro') && $('p_method_hosted_pro').checked) || ($('p_method_payflow_advanced') && $('p_method_payflow_advanced').checked)) {
                $('onestepcheckout-place-order-loading').show();
                $('onestepcheckout-button-place-order').removeClassName('onestepcheckout-btn-checkout');
                $('onestepcheckout-button-place-order').addClassName('place-order-loader');
                $('ajaxcart-load-ajax').show();
                checkAjax('<?php echo $this->getUrl('onestepcheckout/index/saveOrderPro', array('_secure' => true)); ?>');
            } else {

                if (checkpayment()) {
                    element.disabled = true;
                    var already_placing_order = true;
                    disable_payment();
                    $('onestepcheckout-place-order-loading').show();
                    $('onestepcheckout-button-place-order').removeClassName('onestepcheckout-btn-checkout');
                    $('onestepcheckout-button-place-order').addClassName('place-order-loader');
                    //$('one-step-checkout-form').submit();
                    var options = document.getElementsByName('payment[method]');
                    var is_skrill_lightbox = <?php if(Mage::helper('core')->isModuleEnabled('Skrill') && Mage::getStoreConfig('payment/skrill_settings/display', Mage::app()->getStore()) == 'LIGHTBOX'){?>1<?php }else{?>0<?php }?>;
                    for (var i = 0; i < options.length; i++) {
                        if ($(options[i].id).checked) {
                            if (options[i].id.indexOf("tco") != -1) {
                                var params = Form.serialize('one-step-checkout-form');
                                var request = new Ajax.Request(
                                    '<?php echo $this->getCheckoutUrl() . 'isAjax/tco'; ?>',
                                    {
                                        method: 'post',
                                        onComplete: this.onComplete,
                                        onSuccess: function (transport) {
                                            if (transport.status == 200) {
                                                if (transport.responseText.isJSON) {
                                                    var response = JSON.parse(transport.responseText);
                                                    $('onestepcheckout-place-order-loading').style.display = 'none';
                                                    $('checkout-' + response.update_section.name + '-load').update(response.update_section.html);
                                                    $('onestepcheckout-button-place-order').removeAttribute('onclick');
                                                    $('onestepcheckout-button-place-order').observe('click', formsubmit());
                                                    $('onestepcheckout-button-place-order').disabled = false;
                                                }
                                            }
                                        },
                                        onFailure: '', //checkout.ajaxFailure.bind(checkout),
                                        parameters: params
                                    });
                            }
                            else if (options[i].id.indexOf("wirecard") != -1) {
                                var params = Form.serialize('one-step-checkout-form');
                                var request = new Ajax.Request(
                                    '<?php echo $this->getCheckoutUrl() . 'isAjax/wirecard'; ?>',
                                    {
                                        method: 'post',
                                        onComplete: this.onComplete,
                                        onSuccess: function (transport) {
                                            var response = JSON.parse(transport.responseText);
                                            if (response.url) {
                                                window.location.href = response.url;
                                            } else {
                                                var payment_method = $RF(form, 'payment[method]');
                                                var wireparams = {'paymentMethod': payment_method};
                                                url = '<?php echo Mage::getBaseUrl() . 'wirecard_checkout_page/processing/wirecard_checkout_pagecheckout/'; ?>';
                                                var wirerequest = new Ajax.Request(
                                                    qmoreIsIframe,
                                                    {
                                                        method: 'get',
                                                        parameters: wireparams,
                                                        onSuccess: function (innerTransport) {
                                                            if (innerTransport && innerTransport.responseText) {
                                                                try {
                                                                    var innerResponse = eval('(' + innerTransport.responseText + ')');
                                                                }
                                                                catch (e) {
                                                                    innerResponse = {};
                                                                }
                                                                if (innerResponse.isIframe) {
                                                                    toggleQMoreIFrame();
                                                                    $('qmore-iframe').src = url;
                                                                } else {
                                                                    window.location.href = url;
                                                                }
                                                            }
                                                        },
                                                        onFailure: ''
                                                    });
                                            }
                                        },
                                        onFailure: '', //checkout.ajaxFailure.bind(checkout),
                                        parameters: params
                                    });
                            }
                            else if (options[i].id.indexOf("skrill") != -1 && is_skrill_lightbox > 0) {
                                var params = Form.serialize('one-step-checkout-form');

                                var request = new Ajax.Request(
                                    '<?php echo $this->getCheckoutUrl() . 'isAjax/skrill'; ?>',
                                    {
                                        method: 'post',
                                        onComplete: this.onComplete,
                                        onSuccess: function (transport) {
                                            var response = JSON.parse(transport.responseText);
                                            if (response.url) {
                                                var $jD = jQuery.noConflict();
                                                $jD('#load-skrill-form').attr('src', response.url);
                                                $jD('#myModal').modal('show');
                                                return false;
                                            }
                                        },
                                        onFailure: '',
                                        parameters: params
                                    });
                            } else {
                                if (isUseAmazon() == false) {
                                    $('one-step-checkout-form').submit();
                                }
                                else {

                                    <?php

                                    if (Mage::helper('core')->isModuleEnabled('Amazon_Payments')) {
                                        $helperAmz = new Amazon_Payments_Helper_Data();
                                        if (isset($helperAmz))
                                            $checkoutUrl = $helperAmz->getCheckoutUrl(false);
                                    }
                                    ?>
                                    window.location.href = "<?php if (isset($checkoutUrl)) echo $checkoutUrl;?>";
                                }

                            }
                            break;
                        }
                    }

                }
            }
        }
    }

    function checkAjax(url) {
        var form = $('one-step-checkout-form');
        var payment_method = $RF(form, 'payment[method]');
        var shipping_method = $RF(form, 'shipping_method');
        var parameters = {
            payment: payment_method,
            shipping_method: shipping_method
        }
        get_billing_data(parameters);
        get_shipping_data(parameters);

        if ($('giftmessage-type') && $('giftmessage-type').value != '') {
            parameters[$('giftmessage-type').name] = $('giftmessage-type').value;
        }
        if ($('create_account_checkbox_id') && $('create_account_checkbox_id').checked) {
            parameters['create_account_checkbox'] = 1;
        }
        if ($('gift-message-whole-from') && $('gift-message-whole-from').value != '') {
            parameters[$('gift-message-whole-from').name] = $('gift-message-whole-from').value;
        }
        if ($('gift-message-whole-to') && $('gift-message-whole-to').value != '') {
            parameters[$('gift-message-whole-to').name] = $('gift-message-whole-to').value;
        }
        if ($('gift-message-whole-message') && $('gift-message-whole-message').value != '') {
            parameters[$('gift-message-whole-message').name] = $('gift-message-whole-message').value;
        }
        if ($('billing-address-select') && $('billing-address-select').value != '') {
            parameters[$('billing-address-select').name] = $('billing-address-select').value;
        }
        if ($('shipping-address-select') && $('shipping-address-select').value != '') {
            parameters[$('shipping-address-select').name] = $('shipping-address-select').value;
        }

        new Ajax.Request(url, {
            method: 'post',
            evalJS: 'force',
            onSuccess: function (transport) {
                // alert(JSON.parse(transport.responseText).url);
                // Huy - Edit+add JS, CSS to display iFrame for PayPal Hosted Pro
                if (JSON.parse(transport.responseText).url == 'null' || JSON.parse(transport.responseText).url == null) {
                    $('ajaxcart-loading').style.display = 'block';
                    $('ajaxcart-loading').style.top = '10%';
                    $('ajaxcart-loading').style.left = '40%';
                    $('ajaxcart-loading').style.width = '580px';
                    $('ajaxcart-loading').style.height = '550px';
                    $('ajaxcart-loading').style.overflow = 'scroll';
                    $('ajaxcart-loading').style.padding = '5px';
                    $('ajaxcart-loading').innerHTML = JSON.parse(transport.responseText).html;
                    $('iframe-warning').style.textAlign = 'left';
                    $('hss-iframe').style.display = 'block';
                }
                else {
                    window.location.href = JSON.parse(transport.responseText).url;
                }
            },
            onFailure: function (transport) {
            },
            parameters: parameters
        });
    }

    save_address_information(save_address_url, update_address_shipping, update_address_payment, update_address_review);

</script>

<div id="onestepcheckout_popup_overlay" style="display: none;">&nbsp;</div>
<div id="loading-process" style="display: none;"></div>
<?php echo $this->getChildHtml('tco_iframe'); ?>
<div id="notify-email-invalid" style="display:none;">
    <p style="float:left;padding-top:27px;color:#000;font-family:tahoma;margin-left:10px;"><span
                style="display:block;float:left;margin-right:2px;"><?php echo $this->__('Email is ') ?></span><img
                style="float:left;margin-right:2px;"
                src="<?php echo $this->getSkinUrl('images/onestepcheckout/flatnew/invalidIcon.jpg'); ?>"/><?php echo $this->__(' please check it again!') ?>
    </p>
</div>
<div id="notify-email-invalid-overlay" style="display:none;"></div>
<!-- Terms and conditions -->
<?php $_helper = Mage::helper('onestepcheckout'); ?>
<?php $width = $_helper->getTermPopupWidth() ? $_helper->getTermPopupWidth() : 482; ?>
<?php $height = $_helper->getTermPopupHeight() ? $_helper->getTermPopupHeight() : 530; ?>

<?php if ($_helper->enableTermsAndConditions()): ?>
    <script type="text/javascript">
        //<![CDATA[
        Event.observe(window, 'load', function () {

            var termsPopup = new Control.Modal($('onestepcheckout-toc-popup'), {
                overlayOpacity: 0.65,
                fade: true,
                fadeDuration: 0.3
            });

            $('onestepcheckout-toc-link').observe('click', function (e) {
                e.preventDefault();
                termsPopup.open();
                var controlOverlay = $('control_overlay');
                controlOverlay.style.opacity = 0.65;
                /*window.scrollTo(0, 20);*/
            });

            $$('div#onestepcheckout-toc-popup p.close a').invoke('observe', 'click', function (e) {
                e.preventDefault();
                termsPopup.close();
            });

        });

        Event.observe(window, 'scroll', function () {
            var toc_popup = $('onestepcheckout-toc-popup');
            if (toc_popup) {
                var toc_popup_height = toc_popup.clientHeight;
                var window_height = window.innerHeight;
                var document_height = document.documentElement.clientHeight;
                if (typeof(window_height) == 'undefined') {
                    window_height = document_height;
                }
                if (toc_popup_height <= window_height) {
                    toc_popup.addClassName('fix-possition-toc-popup');
                } else {
                    toc_popup.removeClassName('fix-possition-toc-popup');
                }
            }

        });

        //]]>
    </script>
<?php endif; ?>
<?php if (Mage::getStoreConfig('onestepcheckout/general/suggest_address', Mage::app()->getStore()->getStoreId())): ?>
    <script type="text/javascript">
        function fillAddress(type, street, city, region_id, region, country, postal_code, sublocality) {
            if (street) {
                document.getElementById(type + ':street1').value = street;
            } else {
                document.getElementById(type + ':street1').value = '';
            }
            if (sublocality) {
                document.getElementById(type + ':street2').value = sublocality;
            } else {
                document.getElementById(type + ':street2').value = '';
            }
            if (city) {
                document.getElementById(type + ':city').value = city;
            } else {
                document.getElementById(type + ':city').value = '';
            }
            if (country)
                document.getElementById(type + ':country_id').value = country;
            if (type == 'billing')
                billingRegionUpdater.update();
            if (type == 'shipping')
                shippingRegionUpdater.update();
            if (region) {
                document.getElementById(type + ':region').value = region;
            } else {
                document.getElementById(type + ':region').value = '';
            }
            if (postal_code) {
                document.getElementById(type + ':postcode').value = postal_code;
            } else {
                document.getElementById(type + ':postcode').value = '';
            }
            var params = {country: country, region_id: region_id};
            var request = new Ajax.Request(
                '<?php echo $this->getUrl('onestepcheckout/index/getreionid'); ?>',
                {
                    method: 'post',
                    onSuccess: function (transport) {
                        if (transport.status == 200) {
                            var id = JSON.parse(transport.responseText).id;
                            if (region_id) {
                                document.getElementById(type + ':region_id').value = id;
                            } else {
                                document.getElementById(type + ':region_id').value = '';
                            }
                            if (street) {
                                document.getElementById(type + ':street1').value = street;
                            } else {
                                //document.getElementById(type + ':street1').value = '';
                            }
                        }
                    },
                    onComplete: function (transport) {
                        save_address_information(save_address_url, update_address_shipping, update_address_payment, update_address_review);
                    },
                    onFailure: '',
                    parameters: params
                });
        }
    </script>
<?php endif; ?>
<script type="text/javascript">
    var invalidEmailPopup = new Control.Modal($('notify-email-invalid'), {
        overlayOpacity: 0.65,
        fade: true,
        fadeDuration: 0.3
    });

    function check_valid_email(transport) {
        var response = getResponseText(transport);
        var message = response.message;
        if (message == 'valid') {
            $('email-error-message').update('');
            $('valid_email_address_image').show();
            $('onestepcheckout-button-place-order').disabled = false;
            $('onestepcheckout-button-place-order').addClassName('onestepcheckout-btn-checkout');
            $('onestepcheckout-button-place-order').removeClassName('place-order-loader');
            if ($('emailvalid'))
                $('emailvalid').value = 'valid';
            invalidEmailPopup.close();

        }
        else if (message == 'invalid') {
            $('valid_email_address_image').hide();
            $('email-error-message').update('<?php echo $this->__('<p>Invalid Email Address</p>') ?>');
            $('onestepcheckout-button-place-order').disabled = true;
            $('onestepcheckout-button-place-order').removeClassName('onestepcheckout-btn-checkout');
            $('onestepcheckout-button-place-order').addClassName('place-order-loader');
            if ($('emailvalid'))
                $('emailvalid').value = 'invalid';
            invalidEmailPopup.open();

        }
        else if (message == 'exists') {
            if ($('emailvalid'))
                $('emailvalid').value = 'valid';
            $('valid_email_address_image').hide();
            if (show_login_link)
                $('email-error-message').update('<?php echo $this->__('<p>Email address already registered. You may <a href="" onclick="login_popup.show(); return false;">login</a> if you wish to do so </p>') ?>');
            else {
                $('email-error-message').update('<?php echo $this->__('<p>Email address already registered. Please use another email address.</p>') ?>');
            }
        }
    }

</script>

<script type="text/javascript">
    $j = jQuery.noConflict();
    $j('.main-container.col1-layout').addClass(' main_content');
    $j('.main').addClass(' travel');
</script>
