<?php 
 echo $this->getMessagesBlock()->toHtml();
 $status = (int) $_GET['status'];
 $_orders = $this->getOrders();
?>
<?php if( $_orders ): ?>
    
<div class="right_block_in col-xs-12">
    <div class="search_bar last padd_bot text-center">
        <h3 class="ord_lt"><?php echo $this->__('ORDERS');?></h3>
        <div class="clearfix"></div>
        <?php 
        /*
        <div class="sort_by pad_last">
            <label>SORT BY</label>
            <form action="<?php echo Mage::helper('core/url')->getCurrentUrl();?>" method="get" id='search_form'>
                <select class="selectpicker" name='status' tabindex="-98" id ='getorder'>
                    <option value='0' <?php echo ( $status == 0 ) ? 'selected' : '';?> >All</option>
                    <option value='1' <?php echo ( $status == 1 ) ? 'selected' : '';?> >Complete</option>
                    <option value='2' <?php echo ( $status == 2 ) ? 'selected' : '';?> >Closed</option>
                    <option value='3' <?php echo ( $status == 3 ) ? 'selected' : '';?> >Pending</option>
                    <option value='4' <?php echo ( $status == 4 ) ? 'selected' : '';?> >Processing</option>
                    <option value='5' <?php echo ( $status == 5 ) ? 'selected' : '';?> >Canceled</option>
                </select>
            </form>
            <div class="clearfix"></div>
        </div>
        */ ?>
       <div class="trans_report">
            <?php echo $this->getPagerHtml();?>
            <div class="clearfix"></div>
        </div>
    </div><!-- end search_bar -->

    <div class="trancaction_table">
        <table class="main_table">
            <tbody><tr>
                <td>
                    <table class="main_table_in1">
                        <tbody><tr>
                            <td class="top_head1"><?php echo $this->__('Order #') ?></td>
                            <td class="top_head2"><?php echo $this->__('Ship To') ?></td>
                            <td class="top_head3"><?php echo $this->__('Date') ?></td>
                            <td class="top_head4"><?php echo $this->__('Order Total') ?></td>
                            <td class="top_head5"><?php echo $this->__('Order Status') ?></td>
                            <td class="top_head6"></td>
                        </tr>
                    </tbody></table>
                </td>
            </tr>
            <tr>
                <td>
                    <table class="sample_product_main">
                        <tbody>
                             <?php foreach ($_orders as $_order):?>
                                 <?php /*if($_order->getCreatedBy() == Magestore_TruBox_Model_Status::ORDER_CREATED_BY_ADMIN_YES){ 
                                    //class="trubox_order"  
                                    }
                                    */
                                   ?>           
                            <tr>
                                <td>
                                    <table class="main_table_in2">
                                        <tbody><tr>
                                            <td class="sample_product1"><?php echo $_order->getRealOrderId() ?></td>
                                            <td class="sample_product2"><?php echo $_order->getShippingAddress() ? $this->escapeHtml($_order->getShippingAddress()->getName()) : '&nbsp;' ?></td>
                                            <td class="sample_product3"><?php echo $this->formatDate($_order->getCreatedAtStoreDate()) ?></td>
                                            <td class="sample_product4"><?php echo $_order->formatPrice($_order->getGrandTotal()) ?></td>
                                            <td class="sample_product5"><?php echo $_order->getStatusLabel() ?></td>
                                            <td class="sample_product6"><a href="<?php echo $this->getViewUrl($_order) ?>"><?php echo $this->__('View Order') ?></a></td>
                                        </tr>
                                    </tbody></table>
                                </td>
                            </tr>
                        <?php endforeach;?>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody></table>
        </div>
        <?php echo $this->getLayout()->createBlock('core/template')->setTemplate('customer/account/link/back.phtml')->toHtml(); ?>


    
</div>
<?php
/*
    <script>
    jQuery(document).ready(function(){
        jQuery('#getorder').on('change',function(){
            jQuery('#search_form').submit();
        });
    });
    </script>
    <script type="text/javascript">decorateTable('my-orders-table');</script> 
 */
?>
<?php else: ?>
    <p><?php echo $this->__('You have placed no orders.'); ?></p>
<?php endif ?>
<script type="text/javascript">
    $j = jQuery.noConflict();
    
    $j('.direct_comsumer').addClass('pull-right');
    $j('.direct_comsumer').html('<h1 class="text-uppercase"><?php echo $this->__('Orders Report') ?></h1>');
</script>
