<div class="sidebar active">
<h6>Training files</h6>
<div class="sub_blk">
<ul>
	<li><a href="<?php echo Mage::getBaseUrl().'trainingvideo';?>"><small><img src="<?php echo $this->getSkinUrl('images/icon1.png');?>" width="30" height="32" alt="icon"></small><span>Video</span></a></li>
    <li><a href="#"><small><img src="<?php echo $this->getSkinUrl('images/icon2.png');?>" width="30" height="32" alt="icon"></small><span>TruLessons</span></a></li>
    <li><a href="#"><small><img src="<?php echo $this->getSkinUrl('images/icon3.png');?>" width="30" height="32" alt="icon"></small><span>TruTips</span></a></li>
    <li><a href="<?php echo Mage::getBaseUrl().'training-pdf';?>"><small><img src="<?php echo $this->getSkinUrl('images/icon4.png');?>" width="30" height="32" alt="icon"></small><span>Pdf Files</span></a></li>
</ul>
</div>
</div>    
<script type="text/javascript">
       $j = jQuery.noConflict()
    $j(document).ready(function(e) {
        $j(".sidebar.active .sub_blk").show();
        $j(".sidebar h6").click(function() {
            $j(this).parent().toggleClass('active');
            $j(this).parent().siblings().removeClass('active');
            $j(this).parent().find('.sub_blk').slideToggle();
            $j(this).parent().siblings().find('.sub_blk').slideUp();
        });
  } );
</script>