<?php 
    $collection = Mage::registry('product_collection');
    $searchtext = Mage::registry('searchtext');
    $lang       = Mage::registry('lang');
?>
    <div class="right_block_in pad_in_blk">
	    <div class="search_bar">
            <h3 class="text-uppercase">Training Files</h3>
            <form action='<?php echo Mage::helper('core/url')->getCurrentUrl();?>' method="POST" id='pdf_search_form' autocomplete="off">
                <div class="prices language">
                	<label>LANGUAGE</label>
                    <select class="selectpicker" name='lang' id='lang'>
                            <option value='0' <?php echo ($lang==0) ? 'selected': '';?>>All</option>
                            <option value='1' <?php echo ($lang==1) ? 'selected': '';?>>English</option>
                            <option value='2' <?php echo ($lang==2) ? 'selected': '';?>>Spanish</option>
                            <option value='3' <?php echo ($lang==3) ? 'selected': '';?>>French</option>
                    </select>
                   <div class="clearfix"></div> 
                </div>
                <div class="prices language">
                	<label>SEARCH</label>
                    <input type="text" name = 'searchtext1' id='searchtext1' value="<?php echo ($searchtext) ? $searchtext : 'Search Product';?>" onClick="if(this.value=='Search Product'){this.value=''}" onBlur="if(this.value==''){this.value='Search Product'}">
                   <div class="clearfix"></div> 
                </div>
            </form>
            <div class="clearfix"></div>
        </div>
	<?php
    if (count($collection)>0){ ?>
        <div class="pdf_files_sec">
            <ul class="clearfix">
                <?php foreach($collection as $_product){
                    $_myprodlinks = Mage::getModel('downloadable/link');
                    $_myLinksCollection = $_myprodlinks->getCollection()->addProductToFilter($_product->getId());
                    $_linkpath = '';


                    if (sizeof($_myLinksCollection)>0){
                        foreach ($_myLinksCollection as $_link){
                            $mediaUrl = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA);
                            $_linkpath = $_link->getLinkUrl();
                            break;
                        }
                    }
                    /*$links=Mage::getModel('downloadable/link')
                      ->getCollection()
                      ->addFieldToFilter('product_id',array('eq'=>$_product->getId()))*/;
                ?>
                <li class="col-xs-6 col-lg-4">
                    <div class="pdf_files_in">
                        <img src="<?php echo $this->getSkinUrl('images/pdf_img.png'); ?>" width="137" height="167" alt="img">
                        <span class="pull-left">
                            <?php echo $_product->getName().' ';
                            // if (!$lang){  
                                echo ucfirst($_product->getLanguage());
                            // }

                            ?>
                        </span>
                        <div class="clearfix"></div>
                        <?php if($_linkpath != ''){?>
                        <button name="name" type="button" class="pdf_files_btn transition" onclick = "window.open('<?php echo $_linkpath;?>','_blank');"><img src="<?php echo $this->getSkinUrl('images/download_img.png'); ?>" width="20" height="21" alt="image">Download</button>
                        <?php }?>
                    </div>
                </li>
                <?php } ?>
            </ul>
            <div class="clearfix"></div>
        </div>
        <?php
    }else{
            echo '<p>Sorry There is no PDF Available right now</p>';
    }
    ?>
</div>
<script type="text/javascript">
    $j = jQuery.noConflict();
    $j('#lang').on('change',function(){
        $j('#pdf_search_form').submit();
    });
</script>
