<h3><?php echo $this->__('My Payment Data') ?><span><?php echo Mage::getStoreConfig( 'payment/' . Mage::registry('tokenbase_method') . '/title' ); ?></span></h3>

<?php if( count( $this->getCards() ) > 0 ): ?>
	<?php foreach( $this->getCards() as $card ): ?>
		<?php $card = $card->getTypeInstance(); ?>
		<div class="pament_box <?php if( $card->getExpires() != '' && strtotime( $card->getExpires() ) < time() ): ?>expired<?php endif; ?>">
			<div class="date_2020"><span><?php echo date( 'm/Y', strtotime( $card->getExpires() ) ); ?></span></div>
			<div class="pament_box_cnt">
				<strong><?php echo $this->__( 'Card: %s', $card->getLabel() ) ?></strong>
				<p><?php echo $card->getAddressObject()->format('html'); ?></p>
				<div class="clearfix"></div>
				<ul class="pull-right">
					<?php if( $card->isInUse() ): ?>
						<abbr title="<?php echo $this->__('This payment record cannot be modified while associated with pending orders.'); ?>"><?php echo $this->__('Card In Use'); ?></abbr>
					<?php else: ?>
						<form action="<?php echo Mage::getUrl('*/*', array('_secure' => true, 'method' => $card->getMethod())) ?>" method="post">
							<input type="hidden" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
							<input type="hidden" name="id" value="<?php echo $card->getId() ?>" />
							<input type="hidden" name="method" value="<?php echo $card->getMethod(); ?>" />
							<li><button class="delete_btn transition" type="submit"><span><span><?php echo $this->__('Edit'); ?></span></span></button></li>
						</form>
						<form action="<?php echo Mage::getUrl('*/*/delete', array('_secure' => true, 'method' => $card->getMethod())) ?>" method="post" onsubmit="return confirm('<?php echo $this->__('Are you sure you want to delete this payment record?'); ?>');">
							<input type="hidden" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
							<input type="hidden" name="id" value="<?php echo $card->getId() ?>" />
							<input type="hidden" name="method" value="<?php echo $card->getMethod(); ?>" />
							<li><button class="delete_btn transition" type="submit"><span><span><?php echo $this->__('Delete'); ?></span></span></button></li>
						</form>
					<?php endif; ?>
				</ul>
				<div class="clearfix"></div>
			</div>
		</div>
	<?php endforeach; ?>
<?php else: ?>
	<div><?php echo $this->__('You do not have any payment data saved yet.') ?></div>
<?php endif; ?>

