<div class="inner_blk51_left">
	<?php echo $this->getChildHtml('tokenbase_customer_method_left'); ?>
</div>
<div class="inner_blk51_right">
	<?php echo $this->getChildHtml('tokenbase_customer_method_right'); ?>
</div>