<div class="direct_comsumer">

</div>
<div class="clearfix"></div>
<div class="left_block col-sm-3 col-xs-12">
	<div class="sidebar active">
		<h6><?php echo $this->__('BUSINESS TOOL');?></h6>
		<div class="sub_blk">
			<ul>
				<li><a href="<?php echo $this->getUrl('customer/account/edit');?>">
						<small>
							<img src="<?php echo $this->getSkinUrl('images/icon35.png');?>" width="26" height="26" alt="icon">
						</small>
						<span><?php echo $this->__('Account Information');?></span>
					</a></li>
				<li><a href="<?php echo $this->getUrl('customer/paymentinfo/');?>">
						<small>
							<img src="<?php echo $this->getSkinUrl('images/icon37.png');?>" width="26" height="26" alt="icon">
						</small>
						<span><?php echo $this->__('Payment Profile');?></span>
					</a></li>
				<li><a href="<?php echo $this->getUrl('interest');?>">
						<small>
							<img src="<?php echo $this->getSkinUrl('images/icon39.png');?>" width="26" height="26" alt="icon">
						</small>
						<span><?php echo $this->__('Interests and Leisure');?></span>
					</a></li>
				<li><a href="<?php echo $this->getUrl('mytrubox');?>">
						<small>
							<img src="<?php echo $this->getSkinUrl('images/icon5.png');?>" width="26" height="26" alt="icon">
						</small>
						<span><?php echo $this->__('My Trubox');?></span>
					</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="right_block col-sm-9 col-xs-12">
	<div class="inner_blk51">

		<?php if( count( $this->getActiveMethods() ) > 1 ): ?>
			<ul class="links">
				<?php foreach( $this->getActiveMethods() as $method ): ?>
					<li <?php if( Mage::registry('method') == $method ): ?>class="active"<?php endif; ?>>
						<a href="<?php echo $this->getUrl( '*/*/*', array( 'method' => $method ) ); ?>">
							<?php echo Mage::getStoreConfig( 'payment/' . $method . '/title' ); ?>
						</a>
					</li>
				<?php endforeach; ?>
			</ul>
		<?php endif; ?>

		<?php echo $this->getChildHtml(); ?>
	</div>
</div>

<script type="text/javascript">
	//<![CDATA[
	$j = jQuery.noConflict();
	$j('.main-container').addClass('main_block main_bg2');
	$j('.main').addClass('container');
	$j('.main .col-main').addClass('row');
	$j('.page').addClass('main_content');

	$j(document).ready(function (e) {
		$j(".sidebar.active .sub_blk").show();

		$j(".sidebar h6").click(function () {
			$j(this).parent().toggleClass('active');
			$j(this).parent().siblings().removeClass('active');
			$j(this).parent().find('.sub_blk').slideToggle();
			$j(this).parent().siblings().find('.sub_blk').slideUp();
		});

		$j(window).scroll(function () {
			if ($j(this).scrollTop() > 100) {
				$j('.BaclToTop').fadeIn();
			} else {
				$j('.BaclToTop').fadeOut();
			}
		});
	});
</script>