*{
	margin: 0;
	padding: 0;
}

body{
	font-size: 11px;
	background: #f6f6f6;
}

/*---------------------------------------
   HEADER AREA            
-----------------------------------------*/
.header-area{
	padding: 75px 0px;
	background: url(../../../images/cms/walmart/banner.jpg) no-repeat;
	background-size: cover;
}
.header-area{}
.header-logo{ text-align: left;}
.history{
	margin-top: 0 !important;
}
.header-logo h1{
	display: inline-block;
	background: url(../../../images/cms/walmart/logo-arrow.png) no-repeat;
	background-position: center bottom; 
	padding-bottom: 20px;
}
.header-logo h1 a{
	font-size: 60px;
	color: #ec7b42;
	/*font-family: 'Poppins semibold';*/
	display: inline-block;
	text-decoration: none;
	font-weight: bold;
}
/*---------------------------------------
   MAIN CONTENT AREA            
-----------------------------------------*/
.main-content-area{
	margin-top: 80px;
}
.main-content-area{}
.main-content-left{
	background: #fff;
	border: 1px solid #e1e1e1;
	padding: 30px 0px 30px 30px
}
.main-content-heading{
	border-bottom: 1px solid #e1e1e1;
	padding-bottom: 30px;
}
.main-content-heading span{
	font-size: 18px;
	color: #ec7b42;
	/*font-family: 'Montserrat';*/
	font-weight: bold;
}
.main-content-heading > h1{
	font-weight: bold;
	font-size: 36px;
	color: #484949;
	/*font-family: 'Roboto bold';*/
	margin-top: 0;
	text-transform: uppercase;
	position: relative;
	padding-bottom: 20px;
}
.main-content-heading > h1:after{
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	height: 2px;
	width: 100px;
	background: #ec7b42;
}
.main-content-text{
	padding: 50px 0px;	
	border-bottom: 1px solid #e1e1e1;	
}
.main-content-text:last-child{
	border-bottom: 0px solid #e1e1e1;	
}
.content-logo{
	float: left;
	width: 22%;	
	padding-top: 40px;
}
.content-logo img{
	margin-right: 20px;
}
.content-inner-text{
	float: left;
	width: 52%;
}
.content-inner-text{
}
.content-inner-text h2{
	font-size: 23px;
	color: #484949;
	/*font-family: 'Roboto bold';*/
	margin-top: 0;
}
.content-inner-text p{
		font-size: 18px;
	color: #ec7b42;
	/*font-family: 'Roboto regular';*/
}
.content-inner-text p span{
	font-weight: bold;
}
.content-inner-text > span {
	font-size: 18px;
	color: #b8b8b8;
	/*font-family: 'Montserrat';*/
	display: inline-block;
	font-weight: bold;
}
.content-inner-text > span img{
	margin-right: 15px;
}
.shop-now{
    float: left;
	width: 26%;	
	padding-top: 40px;
}
.shop-now a{
	font-size: 15px;
	color: #ffffff;
	/*font-family: 'Montserrat';*/
	height: 43px;
	width: 154px;
	background: #00b5cb;
	text-align: center;
	display: inline-block;
	text-transform: uppercase;
	border-radius: 35px;
	text-decoration: none;
	padding-top: 12px;
	-webkit-transition: all .3s ;
	-o-transition: all .3s ;
	transition: all .3s ;
}
.shop-now a:hover{
	background: #ec7b42;
}

@media(max-width: 991px){
	.content-logo{
		float: left;
		width: 100%;	
		padding-top: 0px;
		margin-bottom: 30px;
	}
	.content-inner-text{
		float: left;
		width:100%;
	}
	.shop-now{
	    float: left;
		width: 100%;	
		padding-top: 40px;
	}	
}
/*---------------------------------------
  SIDEBAR AREA            
-----------------------------------------*/
.sidebar-cashback{
	border: 1px solid #e1e1e1;
	padding: 20px 0px;
	background: #fff;	
	margin-bottom: 20px;
}
.sidebar-cashback img{}
.sidebar-cashback  p {
	font-size: 18px;
    color: #ec7b42;
    /*font-family: 'Roboto regular';*/
    padding: 10px 0px;
}
.sidebar-cashback  p span {
	    font-weight: bold;
}
.sidebar-cashback  a {}
.sidebar-cashback a{
	font-size: 15px;
	color: #ffffff;
	/*font-family: 'Montserrat';*/
	height: 43px;
	width: 154px;
	background: #00b5cb;
	text-align: center;
	display: inline-block;
	text-transform: uppercase;
	border-radius: 35px;
	text-decoration: none;
	padding-top: 12px;
	-webkit-transition: all .3s ;
	-o-transition: all .3s ;
	transition: all .3s ;
}
.sidebar-cashback a:hover{
	background: #ec7b42;
}
.sidebar-content{
	padding: 15px 5px 40px 15px;
	border: 1px solid #e1e1e1;
	background: #fff;	
	margin-bottom: 20px;	
}
.sidebar-content h2{}
.sidebar-content h2 a{
	font-size: 20px;
	color: #333333;
	display: block;
	/*font-family: 'Roboto bold';	*/
	text-decoration: none;
	font-weight: bold;

}
.sidebar-content h2 a img{
	margin-right: 10px;
}
.sidebar-content p{
	font-size: 16px;
	color: #9b9b9b;
	/*font-family: 'Roboto regular';*/
	line-height: 26px;
}

/*---------------------------------------
  FOOTER AREA            
-----------------------------------------*/
.footer-area{
	margin: 60px 0px;
}
.footer-logo{}
.footer-logo{
	padding-top: 30px;
}
.footer-text{}
.footer-text h2{
	/*font-family: 'Poppins regular';*/
	font-size: 36px;
	color: #ffffff;
	font-weight: bold;
	text-transform: uppercase;	
}
.footer-text h2 span{
	font-weight: normal;
	/*font-family: 'Roboto light';	*/
}
.footer-bg{
	background: url(../../../images/cms/walmart/footer-bg.png) no-repeat;
	background-size: cover;
	padding: 50px 0px;
}
.footer-bg{}
.footer-right{
	padding-top: 30px;	
}
.footer-right a img{
	padding-left: 8px;
}
.footer-right a{
	display: inline-block;
	width: 215px;
	height: 60px;
	background: #00b5cb;
	font-size: 18px;
	color: #ffffff;
	text-transform: uppercase;
	/*font-family: 'Montserrat';*/
	border: 2px solid #ffffff;
	border-radius: 35px;
	text-align: center;
	text-decoration: none;
	padding-top: 15px;	
}
.no-padding{
	padding-left: 0;
	padding-right: 0;
}

.main-content-area p {
	margin: 0 0 20px 0 !important;
}