

<h2>Affiliate Agreement Terms and Conditions</h2>
<p>
I hereby acknowledge that I have received or will be receiving payment as a Trunited Affiliate for all commerce that I have created in since beginning my journey as an Affiliate from September and October of 2016. By accepting this payment, I agree to provide Trunited with all information necessary to complete my Affiliation Registration Agreement, including my tax information, social security number, a signed Affiliate Registration Agreement, and the $99 annual fee required to maintain standing as a Trunited Affiliate. I understand that by accepting payment, I will have to complete and submit the Affiliate Registration Agreement before <strong>midnight on December 31, 2016</strong>.  I understand that failure to sign the Affiliate Registration Agreement, agree to all terms, and pay the $99 annual fee may result in termination of my Affiliate position with Trunited and forfeiture of all commerce creation payments I may receive in the future. I may also be required to return payments received.  I acknowledge that by signing this, I am agreeing to these terms.  I also agree to review and accept all applicable terms and conditions before <strong>midnight on December 31, 2016</strong>. I understand that payments made to me are for agreeing to all applicable Trunited terms.  If I do not agree to all applicable terms, then I must return all payments received and discontinue operating as a Trunited Affiliate. 
</p>
<br />
<br />
<input type="checkbox" style= "margin: 0px !important; height:15px; width:15px;" name="yousendit" id="yousendit" value="1" onclick="return yousendit();"/>&nbsp; I have read and agree to the Terms and Conditions and Privacy Policy
<br />
<br />
<script>
function yousendit(){
    if(document.getElementById('yousendit').checked){
        window.location='https://trunited.com/add/';
        return false;
    }
    return true;

}
</script>