<?php
      if($_POST['result']){
          $results = $_POST['result'];

        }else{
        $results = "You haven't completed the quiz!";
      }?>

<div class="main_content">
      <div class="main_block main_block2 ">
      <?php if($_POST['result']){ ?>
          <div class="container">
              <div class="row">
                  <div class="monthlyearning">
                        <h2>CONGRATULATIONS!</h2>
                        <span>YOUR DAILY PRODUCTS EARNING POTENTIAL</span>
                        <h3><?php echo $results ?>/100</h3>
                        <div class="category_sec">
                          <ul class="clearfix">
                             <li>
                                <ul class="clearfix">
                                  <li><small class="fnt_wt">category</small></li>
                                  <li><small class="fnt_wt">RANGE</small></li>
                                 </ul>
                              </li>
                              <li>
                                <ul class="clearfix">
                                  <li><small>Incredible</small></li>
                                  <li><small>80 or above</small></li>
                                 </ul>
                              </li>
                              <li>
                                <ul class="clearfix">
                                  <li><small>great</small></li>
                                  <li><small>60-79</small></li>
                                 </ul>
                              </li>
                              <li>
                                <ul class="clearfix">
                                  <li><small>good</small></li>
                                  <li><small>40-69</small></li>
                                 </ul>
                              </li>
                              <li>
                                <ul class="clearfix">
                                  <li><small>below average</small></li>
                                  <li><small>below 40</small></li>
                                 </ul>
                              </li>
                            </ul>
                        </div>
                        <div class="joinnow">
                         <ul class="clearfix">
                            <li><a href="/daily-deals.html">SHOP NOW</a></li>
                             <li><a href="/customer/account/create/">JOIN NOW</a></li>
                            </ul>
                        </div>
                        <strong>Take Other quizzes</strong>
                        <div class="brand_sec">
                          <ul class="clearfix">
                           <li><a href="/quiz-global">GLOBAL<br>BRANDS</a> </li> 
                            <li><a href="/quiz-giftcards">GIFT <br>CARDS</a> </li> 
                              <li><a href="/quiz-monthly">MONTHLY <br>
SERVICES</a> </li> 
                          </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="your_score">
             <small>EVERYDAY PRODUCTS</small>
                <h2>YOUR SCORE</h2>
            </div>
        </div>
      <?php }else{ ?>
      <div class="container">
              <div class="row">
                  <div class="monthlyearning">
                        <span><?php echo $results ?></span>
                        <span><a href="/quiz-d2c">Take me to the quiz</a></span>
                  </div>
              </div>
      </div>
      <?php } ?>
        </div>
  </div>
    <!-- Main Content end -->