<!--@subject Special Occasions Order Pending @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image",
"htmlescape var=$customer.name":"Customer Name",
"var title":"Transaction Title",
"var amount":"Transaction Amount",
"var status":"Transaction Status",
"var point_amount":"Point Amount Formated",
"var total":"Customer Balance",
"var point_balance":"Customer Balance Formated",
"store url=\"customer/account/\"":"Customer Account Url"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:13px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<div style="font:13px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:13px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="left" valign="top">
                <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p><strong>Dear {{htmlescape var=$customer_name}}</strong>,<br/></p>

                            <p>The following order is currently pending and will be created on {{htmlescape var=$order_date}}. We will attempt to charge the card on file ending in {{htmlescape var=$last_modified}}.</p>

                            <p><table cellspacing="0"  cellpadding="5" border="1" width="650" style="text-align: left;margin: 30px 0;   border-collapse: collapse;">
                            <tr bgcolor="#70bbd9">
                                <th>Product Name</th>
                                <th>Qty</th>
                                <th>Price</th>
                            </tr>
                            <tr>
                                <td>{{htmlescape var=$product_name}}</td>
                                <td>{{htmlescape var=$product_qty}}</td>
                                <td>{{htmlescape var=$product_price}}</td>
                            </tr>
                        </table></p>

                            <p>Thank you for saving time and planning ahead with the Trunited Special Occasions tool.</p>

                            <p>Regards,<br/>
                                Member Success Team<br/>
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
