<?php
$sents = $this->getMessages();
if(sizeof($sents) > 0){?>
    <?php foreach ($sents as $sent) { ?>
        <?php $recipient = Mage::getModel('customer/customer')->load($sent->getRecipientId());
        if ($recipient != null && $recipient->getId()) {
            ?>
            <div class="media">
                <div class="media-body">
                    <h4 class="media-heading"><?php echo $recipient->getName(); ?></h4>
                    <div><?php echo $sent->getSubject(); ?> <span
                            class="sent-date"><?php echo date('Y, M d', strtotime($sent->getCreatedAt())); ?></span>
                    </div>
                    <div id="body-<?php echo $sent->getId(); ?>"
                         class="collapse"><?php echo $sent->getBody(); ?></div>
                    <a href="#body-<?php echo $sent->getId(); ?>" data-toggle="collapse"
                       aria-expanded="false"
                       role="button" aria-controls="body-<?php echo $sent->getId(); ?>">
                        <?php echo $this->__('View message'); ?>
                    </a>
                </div>
            </div>
        <?php } ?>
    <?php } ?>
<?php } else {?>
    <p><?php echo $this->__('No messages found!'); ?></p>
<?php }?>
