<?php
$inboxs = $this->getMessages();
if(sizeof($inboxs) > 0){?>
    <?php foreach ($inboxs as $inbox) { ?>
        <?php $sender = Mage::getModel('customer/customer')->load($inbox->getCustomerId());
        if ($sender != null && $sender->getId()) {
            ?>
            <div class="media">
                <div class="media-body">
                    <h4 class="media-heading"><?php echo $sender->getName(); ?></h4>
                    <div><?php echo $inbox->getSubject(); ?>
                        <span class="sent-date">
                            <?php echo date('Y, M d', strtotime($inbox->getCreatedAt())); ?>
                        </span>
                    </div>
                    <div id="body-<?php echo $inbox->getId(); ?>"
                         class="collapse"><?php echo $inbox->getBody(); ?></div>
                    <?php if ($inbox->getStatus() == Magestore_Nationpassport_Model_Status::STATUS_ENABLED) { ?>
                        <a href="#body-<?php echo $inbox->getId(); ?>"
                           data-toggle="collapse" aria-expanded="false"
                           role="button" aria-controls="body-<?php echo $inbox->getId(); ?>"
                           class="unread-sms" id="<?php echo $inbox->getId(); ?>">
                            <?php echo $this->__('Read message'); ?>
                        </a>
                    <?php } else { ?>
                        <a href="#body-<?php echo $inbox->getId(); ?>"
                           data-toggle="collapse" aria-expanded="false"
                           role="button"
                           aria-controls="body-<?php echo $inbox->getId(); ?>">
                            <?php echo $this->__('View message'); ?>
                        </a>
                    <?php } ?>
                </div>
            </div>
        <?php } ?>
    <?php } ?>
<?php } else {?>
    <p><?php echo $this->__('No messages found!'); ?></p>
<?php }?>
