<?php 
//$_image_helper = $this->helper('catalog/image');
//$products = Mage::getModel('catalog/category')->load(98)
// ->getProductCollection()
// ->addAttributeToSelect('*') // add all attributes - optional
// ->addAttributeToFilter('status', 1) // enabled
// ->addAttributeToFilter('visibility', 4) //visibility in catalog,search
 ?>
<!--<div class="popular_deals">-->
<!--     <div class="sidebar">-->
<!--        <h6>--><?php //echo $this->__('TOP PROMO CODES'); ?><!--</h6>-->
<!--        <div class="clearfix"></div>-->
<!--    </div>-->
<?php //foreach($products as $_product) : ?>
<!--    <div class="deals_end">-->
<!--          <a href="--><?php //echo $_product->getProductUrl();?><!--" title="--><?php //echo $_product->getName();?><!--">-->
<!--             <div class="end_left promo_lt col-xs-5">-->
<!--                 <figure>-->
<!--                     <img src="--><?php
//                     $image_src = $_product->getData('external_image_url');
//                     if($image_src != null)
//                         echo $image_src;
//                     else if($_product->getManufacturer() > 0)
//                         echo Mage::helper('attributeoptionimage')->getAttributeOptionImage($_product->getManufacturer());
//                     ?><!--"  alt="--><?php //echo $_product->getName();?><!--" width="109px" height="63px"></figure>-->
<!--             </div>-->
<!--             <div class="end_right promo_rt col-xs-7">-->
<!--               <a href="--><?php //echo $_product->getProductUrl();?><!--" title="--><?php //echo $_product->getName();?><!--">-->
<!--                    <p>--><?php //echo $_product->getName();?><!--</p>-->
<!--               </a>-->
<!--             </div>-->
<!--               <div class="clearfix"></div>-->
<!--          </a>-->
<!--    </div>-->
<?php //endforeach;?>
<!--</div>-->
