<?php
/**
 Made by Smartwave.
 */
?>
<?php
    $store = Mage::app()->getStore();
    $code  = $store->getCode();
    $footer = Mage::getStoreConfig('porto_settings/footer',$code);
    // $affiliate_cookie = Mage::helper('affiliateplus/account')->getAffiliateInfoFromCookie();
    $accountCode = Mage::helper('affiliateplus/cookie')->getCurrentCookie();
?>
<div class="block block-subscribe">
     <div class="footer_in">
         <h3 class="text-uppercase">
             <?php if($accountCode != null){?>
                <?php echo $this->__('POWERED BY %s', $accountCode)?>
             <?php } else {?>
                <?php echo $this->__('POWERED BY #SOCOMM');?>
             <?php }?>
         </h3>
    
    <form action="<?php echo $this->getFormActionUrl() ?>" method="post" id="footer-newsletter-validate-detail" onsubmit="setNewsletterCookie()">
       <div class="footer_updates">
            <p><?php echo $footer['footer_newsletter']; ?></p>
			<ul>
			<li>
            <span>enter your email address</span>
            </li>
                        <li>
                            <div class="input-group">
                                <input id="email" type="text" class="form-control" name="email">
                                <button type="button" class="email_sub">SUBMIT</button>
                             </div>
                        </li>
			</ul>
        </div>
    </form>
	</div>
    <script type="text/javascript">
    //<![CDATA[
        var footernewsletterSubscriberFormDetail = new VarienForm('footer-newsletter-validate-detail');
    //]]>
    </script>
</div>
