<div class="col-left sidebar">
	<div class="sidebar active">
	<h6>Truewallet</h6>
	    <div class="sub_blk" style="display: block;">
	        <ul>
	            <li><a href="<?php echo Mage::getBaseUrl().'customer/account';?>"><small><img src="<?php echo $this->getSkinUrl('images/icon41.png');?>" width="32" height="32" alt="icon"></small><span>Account Dashboard</span></a></li>
	            <li><a href="<?php echo Mage::getBaseUrl().'truwallet';?>"><small><img src="<?php echo $this->getSkinUrl('images/icon42.png');?>" width="32" height="32" alt="icon"></small><span>My TruWallet</span></a></li>
	            <li><a href="<?php echo Mage::getBaseUrl().'truwallet/index/transactions';?>"><small><img src="<?php echo $this->getSkinUrl('images/icon43.png');?>" width="32" height="32" alt="icon"></small><span>Transaction</span></a></li>
	        </ul>
	    </div>
	</div>
</div>
<script type="text/javascript">
    $j = jQuery.noConflict();
    $j(document).ready(function(e) {
        $j(".sidebar h6").click(function() {
            $j(this).parent().toggleClass('active');
            $j(this).parent().siblings().removeClass('active');
            $j(this).parent().find('.sub_blk').slideToggle();
            $j(this).parent().siblings().find('.sub_blk').slideUp();
        });
    } );
</script>
