<?php /* @var $this Trunited_ConnectionMap_Block_Tree */?>
<?php
$treeModel = $this->getTreeModel();
$customer_id = $treeModel->getCustomerId();
$customerData = $this->getCustomerData();
$treeMap = $treeModel->buildTreeMap($customerData);
$rootCustomer = isset($treeMap[0][$customer_id][0]) ? $treeMap[0][$customer_id][0] : false;
$customer_name = $customer_badge = "";
if($rootCustomer){
    $customer_name = $this->getCustomerName($rootCustomer['name']);
    $customer_badge = $rootCustomer['badge'];
}
?>
<script src="<?= $this->getSkinUrl('truinted_cm/slick/slick.js'); ?>"></script>
<div class="main-container">
    <div class="main container">

        <div class="row">
            <div class="right_block col-sm-12 col-xs-12 width_full">
                <div class="right_block_in margin_top">
                    <div class="search_bar last">
                        <div class="head_txt">
                            <h3 class="text-uppercase">my connections map</h3>
                        </div>
                        <div class="prices_blk text_cen">
                            <div class="prices flt_none">
                                <label>SORT BY</label>
                                <select class="selectpicker">
                                    <option>ALL</option>
                                    <option>ALL</option>
                                    <option>ALL</option>
                                    <option>ALL</option>
                                </select>

                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="connection_map" id="connection-map-filter">
                        <div class="cmap_bar">
                            <ul>
                                <li>
                                    <div class="chek_box1">
                                        <label><input type="checkbox" class="select_all"><span>Badge</span></label>
                                    </div>
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                    <div class="clearfix"></div>

                                    <ul style="display:block">
                                        <li>
                                            <div class="chek_box1">
                                                <label><input type="checkbox" class="chk_bok" id="filter_badge_1"><span>Customer</span></label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="chek_box1">
                                                <label><input type="checkbox" class="chk_bok" id="filter_badge_2"><span>Affiliate</span></label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="chek_box1">
                                                <label><input type="checkbox" class="chk_bok" id="filter_badge_3"><span>Promoter</span></label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="chek_box1">
                                                <label><input type="checkbox" class="chk_bok" id="filter_badge_4"><span>Pacesetter</span></label>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="chek_box1">
                                                <label><input type="checkbox" class="chk_bok" id="filter_badge_5"><span>Influencer</span></label>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="chek_box1">
                                                <label><input type="checkbox" class="chk_bok" id="filter_badge_6"><span>Partner</span></label>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="chek_box1">
                                                <label><input type="checkbox" class="chk_bok" id="filter_badge_7"><span>Icon</span></label>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="chek_box1">
                                                <label><input type="checkbox" class="chk_bok" id="filter_badge_8"><span>Legend</span></label>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <div class="chek_box1">
                                        <label><input type="checkbox" id="filter_trubox_point"><span>Trubox Club Member</span></label>
                                    </div>
                                </li>
                                <li>
                                    <div class="chek_box1">
                                        <label><input type="checkbox" class="select_all"><span>Personal Points</span></label>
                                    </div>
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                    <div class="clearfix"></div>

                                    <ul >
                                        <li>
                                            <div class="chek_box1">
                                                <div class="col-sm-6"><input type="text" class="input-text" style="width: 100%" placeholder="Min.." id="filter-personal-point-min"/></div>
                                                <div class="col-sm-6"><input type="text" class="input-text" style="width: 100%" placeholder="Max.."  id="filter-personal-point-max"/></div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <div class="chek_box1">
                                        <label><input type="checkbox" class="select_all"><span>Connection Points</span></label>
                                    </div>
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                    <div class="clearfix"></div>

                                    <ul>
                                        <li>
                                            <div class="chek_box1">
                                                <div class="col-sm-6"><input type="text" class="input-text" style="width: 100%" placeholder="Min.." id="filter-connection-point-min" /></div>
                                                <div class="col-sm-6"><input type="text" class="input-text" style="width: 100%" placeholder="Max.." id="filter-connection-point-max"/></div>
                                            </div>
                                        </li>

                                    </ul>
                                </li>

                            </ul>
                            <div class="filter_btn">
                                <button type="button" class="btn transition" id="filter-connection-map">FILTER</button>
                            </div>
                        </div>
                        <div class="cmap_right">
                            <div class="count" id="circle_filter">
                                <h2 id="tree-map-count"><?= $this->getCustomerCount($customerData) ?></h2>
                            </div>
                        </div>
                    </div>

                    <div class="connection_map connection_map_adjst" id="connection-map-content" style="display: none;">
                        <div class="connection_map_in">
                            <a class="customer_root_map" href="#" title="<?= $customer_name ?>">
                                <?php $customer_badge_img = $this->getBadgeImage($customer_badge) ?>
                                <?php if($customer_badge_img){ ?>
                                    <figure><img src="<?= $customer_badge_img; ?>" width="150" height="150" alt="<?= $customer_name ?>"></figure>
                                <?php } ?>
                                <span><?= $customer_name ?></span>
                            </a>
                            <ul>
                                <li class="show">
                                    <div class="left_no pull-left">
                                        <strong class="color_white">1</strong>
                                    </div>
                                    <div class="map_middle pull-left ">
                                        <?= $this->renderTreeItem($treeMap, 1)?>
                                    </div>
                                    <div class="left_no pull-right">
                                        <strong class="color_white">1</strong>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>

                                <li>
                                    <div class="left_no pull-left">
                                        <strong class="color_white">2</strong>
                                    </div>
                                    <div class="map_middle pull-left ">
                                        <?= $this->renderTreeItem($treeMap, 2) ?>
                                    </div>
                                    <div class="left_no pull-right">
                                        <strong class="color_white">2</strong>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>

                                <li>
                                    <div class="left_no pull-left">
                                        <strong class="color_white">3</strong>
                                    </div>
                                    <div class="map_middle pull-left ">
                                        <?= $this->renderTreeItem($treeMap, 3) ?>
                                    </div>
                                    <div class="left_no pull-right">
                                        <strong class="color_white">3</strong>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>

                                <li>
                                    <div class="left_no for_after pull-left ">
                                        <strong class="color_white">4</strong>
                                    </div>
                                    <div class="map_middle pull-left">
                                        <?= $this->renderTreeItem($treeMap, 4) ?>
                                    </div>
                                    <div class="left_no for_before pull-right">
                                        <strong class="color_white">4</strong>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>

                                <li>
                                    <div class="left_no pull-left">
                                        <strong class="color_white">5</strong>
                                    </div>
                                    <div class="map_middle pull-left ">
                                        <?= $this->renderTreeItem($treeMap, 5) ?>
                                    </div>
                                    <div class="left_no pull-right">
                                        <strong class="color_white">5</strong>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>

                                <li>
                                    <div class="left_no pull-left">
                                        <strong class="color_white">6</strong>
                                    </div>
                                    <div class="map_middle pull-left ">
                                        <?= $this->renderTreeItem($treeMap, 6) ?>
                                    </div>
                                    <div class="left_no pull-right">
                                        <strong class="color_white">6</strong>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>

                                <li>
                                    <div class="left_no for_after pull-left">
                                        <strong class="color_white">7</strong>
                                    </div>
                                    <div class="map_middle pull-left ">
                                        <?= $this->renderTreeItem($treeMap, 7) ?>
                                    </div>
                                    <div class="left_no for_before pull-right">
                                        <strong class="color_white">7</strong>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>

                                <li>
                                    <div class="left_no pull-left">
                                        <strong class="color_white">8</strong>
                                    </div>
                                    <div class="map_middle pull-left ">
                                        <?= $this->renderTreeItem($treeMap, 8) ?>
                                    </div>
                                    <div class="left_no pull-right">
                                        <strong class="color_white">8</strong>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>

                                <li>
                                    <div class="left_no pull-left">
                                        <strong class="color_white">9</strong>
                                    </div>
                                    <div class="map_middle pull-left ">
                                        <?= $this->renderTreeItem($treeMap, 9) ?>
                                    </div>
                                    <div class="left_no pull-right">
                                        <strong class="color_white">9</strong>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>

                                <li>
                                    <div class="left_no for_after pull-left">
                                        <strong class="color_lightdark">10</strong>
                                    </div>
                                    <div class="map_middle pull-left ">
                                        <?= $this->renderTreeItem($treeMap, 10) ?>
                                    </div>
                                    <div class="left_no for_before pull-right">
                                        <strong class="color_lightdark">10</strong>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>

                                <li>
                                    <div class="left_no pull-left">
                                        <strong class="color_lightdark">11</strong>
                                    </div>
                                    <div class="map_middle pull-left ">
                                        <?= $this->renderTreeItem($treeMap, 11) ?>
                                    </div>
                                    <div class="left_no pull-right">
                                        <strong class="color_lightdark">11</strong>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>

                                <li>
                                    <div class="left_no pull-left">
                                        <strong class="color_lightdark">12</strong>
                                    </div>
                                    <div class="map_middle pull-left ">
                                        <?= $this->renderTreeItem($treeMap, 12) ?>
                                    </div>
                                    <div class="left_no pull-right">
                                        <strong class="color_lightdark">12</strong>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>

                                <li>
                                    <div class="left_no for_after pull-left">
                                        <strong class="color_lightdark">13</strong>
                                    </div>
                                    <div class="map_middle pull-left ">
                                        <?= $this->renderTreeItem($treeMap, 13) ?>
                                    </div>
                                    <div class="left_no for_before pull-right">
                                        <strong class="color_lightdark">13</strong>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>

                                <li>
                                    <div class="left_no pull-left">
                                        <strong class="color_lightdark">14</strong>
                                    </div>
                                    <div class="map_middle pull-left ">
                                        <?= $this->renderTreeItem($treeMap, 14) ?>
                                    </div>
                                    <div class="left_no pull-right">
                                        <strong class="color_lightdark">14</strong>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>

                                <li>
                                    <div class="left_no pull-left">
                                        <strong class="color_lightgold for_border">15</strong>
                                    </div>
                                    <div class="map_middle pull-left ">
                                        <?= $this->renderTreeItem($treeMap, 15) ?>
                                    </div>
                                    <div class="left_no pull-right">
                                        <strong class="color_lightgold for_border">15</strong>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<?= $this->renderTreePopup($customerData, $treeMap) ?>
<script type="text/javascript">

    (function($){
        $(document).ready(function(e) {
            $(".cmap_bar ul li .fa").click(function() {
                $(this).parent().find("ul").slideToggle();
                $(this).parent().siblings().find("ul").slideUp();
                $(this).toggleClass('arrow_up');
                $(this).parent().siblings().find('.fa').removeClass('arrow_up');
            });

            $(".select_all").change(function(){
                var status = this.checked;
                $(this).closest('li').find('.chk_bok').each(function(){
                    this.checked = status;
                });
            });

            $('.chk_bok').change(function(){
                if(this.checked == false){
                    $(this).closest('ul').parent().find(".select_all")[0].checked = false;
                }
                if ( $(this).closest('ul').find('.chk_bok:checked').length == $(this).closest('ul').find('.chk_bok').length ){
                    $(this).closest('ul').parent().find(".select_all")[0].checked = true;
                }
            });

            $(window).scroll(function () {
                if ($(this).scrollTop() > 100) {
                    $('.BaclToTop').fadeIn();
                } else {
                    $('.BaclToTop').fadeOut();
                }
            });

            $('#circle_filter').click(function(){
                $('#connection-map-filter').css({display: "none"});
                $('#connection-map-content').css({display: "block"});
            });

            $('.tree-map-circle').click(function(){
                var _this = $(this);
                var child_level = _this.data('child-level');
                var tab = _this.data('tab');
                hideAllChildLevelHigher(child_level);
                if(tab){
                    var child_tab = $('#' + tab);
                    if(child_tab.length > 0){
                        child_tab.css({display: "block"});
                    }
                }
            });

            $('.cust_slider').slick({
                infinite: true,
                slidesToShow: 12,
                slidesToScroll: 12,
                centerMode: false,
                variableWidth: true,
                responsive: [
                    {breakpoint: 1600, settings: {slidesToShow: 10, slidesToScroll: 10}},
                    {breakpoint: 1300, settings: {slidesToShow: 8, slidesToScroll: 8}},
                    {breakpoint: 1100, settings: {slidesToShow: 6, slidesToScroll: 6}},
                    {breakpoint: 991, settings: {slidesToShow: 5, slidesToScroll: 5}},
                    {breakpoint: 640, settings: {slidesToShow: 4, slidesToScroll: 4}},
                    {breakpoint: 599, settings: {slidesToShow: 3, slidesToScroll: 3}},
                    {breakpoint: 479, settings: {slidesToShow: 3, slidesToScroll: 3}}
                ]
            });

            $('.nicolas_in').click(function(e) {
                if( $(this).closest('li').next().hasClass('show') ){
                    $(this).removeClass('active');
                    $(this).parent().siblings().find('.nicolas_in').removeClass('active');
                    $(this).closest('li').nextAll().removeClass('show');
                    $(this).closest('li').nextAll().find('.nicolas_in').removeClass('active');
                } else {
                    $(this).addClass('active');
                    $(this).closest('li').next().addClass('show');
                }
            });

            $(".nicolas_up").hover(function(){
                var _this = $(this);
                setTimeout(function(){
                    if(!_this.is(":hover")){
                        return false;
                    }
                    if($('.pop_up_trained').is(':visible')){
                        return false;
                    }
                    var popup_id = _this.data('popup');
                    var lt = _this.offset().left + 0;
                    var tp = _this.offset().top +90;
                    popup_id = '#' + popup_id;
                    var popup = $(popup_id);
                    if(popup.length > 0){
                        popup.css({ 'top':tp,'left':lt });
                        if($(window).width() < 768){
                            popup.css({ 'top':tp,'left':0,'right':0 })
                        }
                        popup.fadeIn();
                    }
                }, 3000);
            }, function(e){
                var _this = $(this);
                var popup_id = _this.data('popup');
                popup_id = '#' + popup_id;
                var popup = $(popup_id);
                if(popup.length > 0){
                    popup.fadeOut();
                }
            });
            $(window).resize(function(e) {
                $(".nicolas_up").each(function(index, element) {
                    var _this = $(this);
                    var popup_id = _this.data('popup');
                    var lt = $(this).offset().left + 0;
                    var tp = $(this).offset().top +90;
                    popup_id = '#' + popup_id;
                    var popup = $(popup_id);
                    if(popup.length > 0){
                        popup.css({ 'top':tp,'left':lt });
                        if($(window).width() < 768){
                            popup.css({ 'top':tp,'left':0,'right':0 })
                        }
                    }
                });
            });

            $(".nicolas_close").click(function(){
                $(this).parent().parent().fadeOut();
            });

            $('#filter-connection-map').click(function(){
                var badge_filter = getBadgeFilterValues();
                var personal_point_min = $('#filter-personal-point-min').val();
                var personal_point_max = $('#filter-personal-point-max').val();
                var connection_point_min = $('#filter-connection-point-min').val();
                var connection_point_max = $('#filter-connection-point-max').val();
                var trubox_point = $('#filter_trubox_point').is(':checked');
                var total = 0;
                $('.tree-map-circle').each(function(index, elm){
                    var element = $(this);
                    var circle_badge = element.data('filter-badge');
                    var circle_personal_point = element.data('filter-personal-point');
                    var circle_connection_point = element.data('filter-connection-point');
                    var circle_trubox_point = element.data('filter-trubox-point');
                    var popup_id = element.data('popup');
                    var popup = $('#' + popup_id);
                    var filter_badge_result = true;
                    if(badge_filter && badge_filter.length > 0){
                        filter_badge_result = (badge_filter.indexOf(circle_badge) != -1);
                    }
                    var filter_personal_result = isPointRange(circle_personal_point, personal_point_min, personal_point_max);
                    var filter_connection_result = isPointRange(circle_connection_point, connection_point_min, connection_point_max);
                    var filter_trubox_result = isTruBoxFilter(trubox_point, circle_trubox_point);
                    if(filter_badge_result && filter_personal_result && filter_connection_result && filter_trubox_result){
                        element.removeClass('circle_filter_out');
                        if(popup.length > 0){
                            popup.find('.trained_middle').removeClass('circle_filter_out');
                        }
                        total++;
                    } else {
                        element.addClass('circle_filter_out');
                        if(popup.length > 0){
                            popup.find('.trained_middle').addClass('circle_filter_out');
                        }
                    }
                });
                $('#tree-map-count').html(total);
            });
        });

        function isPointRange(point, min_point, max_point){
            if(point == ""){
                return false;
            }
            var min_true = true,
            max_true = true;
            point = parseFloat(point);
            if(min_point){
                min_point = parseFloat(min_point);
                if(min_point > point){
                    min_true = false;
                }
            }
            if(max_point){
                max_point = parseFloat(max_point);
                if(max_point < point){
                    max_true = false;
                }
            }
            return (min_true && max_true);
        }
        function getBadgeFilterValues(){
            var badge_filter = [];
            var badge_filter_id;
            for(i =1; i <= 8; i++){
                badge_filter_id = '#filter_badge_' + i;
                if($(badge_filter_id).is(':checked')){
                    badge_filter.push(i);
                }
            }
            return badge_filter;
        }

        function isTruBoxFilter(trubox_check, point){
            if(!trubox_check){
                return true;
            }
            if(!point)
                return false;
            var point_float = parseFloat(point);
            return point_float > 0;
        }

        function hideAllChildLevelHigher(level){
            for(i = level; i <= 15; i++){
                var child_class = ".tree-map-lv" + i;
                $(child_class).css({display: "none"});
            }
        }
    })(jQuery);
</script>