<?php /* @var $this Trunited_ConnectionMap_Block_Tree_Item */ ?>
<?php $treeMap = $this->getTreeMap() ?>
<?php $level = $this->getLevel() ?>
<?php $next_level = $level + 1 ?>
<?php $treeMapLevel = isset($treeMap[$level]) ? $treeMap[$level] : null ?>
<?php if($treeMapLevel): ?>
    <?php foreach($treeMapLevel as $parent_id => $items): ?>
        <div class="tree-map-lv<?php echo $level?> cust_slider pull-left" id="tree-map-wrap-<?= $parent_id ?>" style="<?php if($level != 1){ ?>display: none;<?php }?>width: 100%;">
            <?php foreach($items as $item){ ?>
                <?php $item_id = $item['customer_id']?>
                <?php $item_child = isset($treeMap[$next_level][$item_id]) ? $treeMap[$next_level][$item_id] : array(); ?>
                <?php $item_child_count = count($item_child) ?>
                <div style="display: inline-block;">
                    <div class="nicolas_in" id="circle-<?php echo $item_id ?>">
                        <div class="nicolas_in_adjst">
                            <h2><?= $level ?></h2>
                            <div class="nicolas_up <?= $this->getBackgroundClass($item_child_count, $item) ?> tree-map-circle"
                                 data-child-level="<?php echo $next_level ?>"
                                 data-tab="<?php if($item_child_count){?>tree-map-wrap-<?= $item_id ?><?php } ?>"
                                 data-popup="circle-pop-<?php echo $item_id ?>"
                                 data-filter-badge="<?= $this->getCustomerBadgeFilter($item)?>"
                                 data-filter-personal-point="<?= $item['personal_points'] ?>"
                                 data-filter-connection-point="<?= $item['match_points']?>"
                                 data-filter-trubox-point="<?= $item['trubox_points'] ?>">
                                <h4><?= $item_child_count ?></h4>
                                <h6><?= $this->splitFirstname($item['name']) ?></h6>
                            </div>
                        </div>
                    </div>
                </div>
            <?php } ?>
        </div>
    <?php endforeach; ?>
<?php endif; ?>
