<?php /* @var $this Trunited_ConnectionMap_Block_Tree_Popup */ ?>
<?php $customerData = $this->getCustomerData() ?>
<?php $treeMap = $this->getTreeMap() ?>
<?php foreach($customerData as $customer_data):?>
    <?php $customer_id = $customer_data['customer_id'] ?>
    <div class="pop_up_trained popup-only-name" id="circle-pop-<?php echo $customer_id ?>">
        <div class="trained_middle <?= $this->getBackgroundClass($customer_data, $treeMap) ?>">
            <div class="trained_middle_left pull-left" style="margin-right: -3px;">
                <h3><?= $this->getCustomerName($customer_data['name']) ?></h3>
            </div>
        </div>
    </div>
<?php endforeach; ?>