@media(max-width:1750px){
    .wrapper{overflow: hidden;}
    .wrapper > figure{background-position: 93% 20%;}
    .wrapper > figure.bg2{background-position: 25% 0;}
    }
@media(max-width:1600px){
    .left_sec {padding: 20px 70px 0px;}
    .wrapper > figure{background-position: 86% 20%;}
    .wrapper > figure.bg2 {background-position: 35% 0;}
    .wrapper > figure.bg3{background-position: 50% 10%;}
    }
@media(max-width:1400px){
    .left_sec {padding: 20px 20px 0px;}
    .wrapper > figure.bg2 {background-position: 44% 0;}
    .wrapper > figure.bg3 {background-position: 59% 10%;}
    }
@media(max-width:1200px){
    .video_blk {padding: 40px 20px 0;}
    .video_sec {width: 540px;}
    h2 {font-size: 30px;line-height: 35px;}
    #video {width: 100%;height: 330px;}
    .social li a i {font-size: 50px;}
    .media label {font-size: 34px;line-height: 28px;}
    .thanks{padding: 15px 0;}
    .donate{padding: 10px 0;max-width: 240px;}
    .wrapper > figure{background-position: -400px 0px;}
    .wrapper > figure.bg2 {background-position: 66% 0;}
    
    
    }
@media(max-width:991px){
    .video_sec{width: 60%}
    h2 {font-size: 24px;line-height: 30px;}
    .video_blk {padding: 30px 15px 0;}
    .media label{font-size: 26px;line-height: 26px;}
    .media label span{font-size: 17px;line-height: 26px;padding: 4px 0 0 0;}
    .social li a i{font-size: 43px;}
    .social li{padding: 0 0 0 15px;}
    p {font-size: 19px;line-height: 25px;}
    #video{height: 280px;}
    .video_blk p {padding: 0 0 20px 0;}
    .thanks {background: #fafafa;text-align: center;padding: 10px 0;}
    .info_txt {right: 1%; font-size: 31.62px; line-height: 48px;bottom: 245px;}
    .left_sec {padding: 20px 20px 10px;}    
    .wrapper > figure.bg2 {background-position: 76% 0;}
    }
@media(max-width:767px){
   .left_sec{float: none;width: 100%;padding: 30px;background:#cdcdcd;}
    .bg1{background: none}
    .info_txt{display: none;}
    .video_sec{width: 100%;}
    .video_blk{padding: 40px 25px 0;}
    .wrapper figure{display: none;}
}

@media(max-width:599px){
    h2 {font-size: 23px;line-height: 30px;}
    #video{height: 250px;}
    .media label { font-size: 24px;line-height: 29px;}
    .media label span {font-size: 15px;line-height: 26px;padding: 0px 0 0 0;}
    .social li { padding: 0 0 0 9px;}
    .social li a i { font-size: 41px;}
    .video_blk h2 br{display: none;}
    p {font-size: 18px;line-height: 24px;}
    .video_blk p {padding: 0 0 25px 0;}
    .donate {padding: 8px 0;max-width: 220px;}
    .thanks{padding: 12px 0;}
    
    }

@media(max-width:479px){
    h2 {font-size: 20px;line-height: 27px;}
    .left_sec{padding:15px;}
    .video_blk {padding: 20px 15px 0;}
    #video { height: 165px;}
    .media label{float: none;width: 100%;text-align: center;padding: 0 0 15px 0;}
    .social{float: none;width: 100%;text-align: center;}
    .thanks span{font-size: 16px;}
    .progress {height: 17px;}
    .media{padding: 10px 0 15px;}
    p {font-size: 15px;line-height: 19px;}
    .thanks { padding: 10px 0;}
    
    }


@media(min-width:768px) and (max-width:1024px){
    .video_blk {padding: 10px 15px 0;}
    .social li a i { font-size: 43px;}
    .media label {font-size: 30px;line-height: 18px;}
    .media label span{font-size: 17px;line-height: 25px;}
    .video_blk .progress{margin-bottom: 13px;}
    h2 {font-size: 23px;line-height: 27px;}
    .thanks {padding: 10px 0;}
    #video {height: 210px;}
    p {font-size: 19px;line-height: 24px;}
    .info_txt.info_txt1{bottom: 19px;}
    .video_blk p {padding: 0 0 15px 0;}
    .donate{padding: 6px 0;margin: 0 auto 10px;}
    .left_sec{padding: 10px 20px 0px;}
    .media{padding: 7px 0 7px;}
    body, html{overflow-y: hidden;}
    .wrapper > figure{background-position: -100px 0px;}
}
















