/* reset.css is here */
*{margin:0; padding:0; box-sizing:border-box; }
ol,ul { list-style:none;}
a{display:inline-block;text-decoration:none;}
a:hover, a:focus {text-decoration:none; outline:0 none !important;}
ul,h1,h2,h3,h4,h5,h6,label,p{margin: 0;}
figure{line-height: 0;}

h1{font-size: 109.16px;line-height: 110px;color: #db0b00;}
h2{font-size:38px;line-height: 40px;font-weight: 700;color: #000000;text-align: center;}
h3{font-size:30px;line-height: 34px;font-weight: 400;color: #fff;}
h4{font-size:26px;line-height: 30px;font-weight: 400; color: #19497e;}
h5{font-size:24px;line-height: 27px;font-weight:400;color: #f7a721;}
h6{font-size:15px;line-height: 17px;font-weight:600;}
p{font-size: 24px;line-height: 26px;font-weight: 400;margin: 0;color: #343434;}
span,label{display: inline-block;font-weight: normal;}
label{color: #000;font-weight: bold;}



input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"],input[type="radio"], textarea, button{-webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; -o-appearance: none;appearance: none;-webkit-border-radius: 0; 	outline:none;}

body {color: #000;font-weight: 400;font-family: 'Lato', sans-serif;background: #ffffff;position: relative;height: 100%;}
html{height: 100%;}
.wrapper{width: 100%;position: relative;height: auto;min-height: 100%;}

/*====================================================== Index page is here =========================================*/

.overlay1{position: absolute;top:0;bottom: 0;left: 0;right: 0;height: 100%;background: rgba(175,175,178,0.6);width: 100%;}
.left_sec{padding: 20px 158px 0px;float: left;}
.video_sec{width: 638px;background: #fff;border-radius: 10px;position: relative;z-index: 1;}
.video_blk{padding: 40px 34px 0;width: 100%;}
.video_blk h2{padding: 0 0 9px 0;}
#video{width: 100%;height: 340px;border: none;}
.media{width: 100%;margin: 0;padding: 10px 0 7px;}
.media label{float: left;font-size: 36px;color: #f15b20;line-height: 36px;}
.media label span{color: #454543;display: block;font-size: 20px;line-height: 26px;padding: 9px 0 0 0;}
.social{float: right;text-align: right;}
.social li{display: inline-block;padding: 0 0 0 20px;}
.social li a i{font-size: 61px;}
.twitter a i{color: #4a8eff;}
.facebk a i{color: #1349ab;}
.pint a i{color: #e61515;}
.linkedin a i{color: #1274ee;}
.plus a i{color: #ff424b;}

.video_blk .progress{background: #cdcdcd;}
.video_blk .progress-bar{background-color: #00b5cb !important;background-image: none;width: 65%;}
.donate{background: #f15c22;padding: 13px 0;max-width: 276px;color: #fff !important;margin: 0 auto 19px;display: block;text-align: center;font-size: 18px;vertical-align: middle;border-radius: 9px;font-family: 'Open Sans', sans-serif;}
.donate i{font-size: 25px;vertical-align: middle;padding: 0 9px;}
.video_blk p{padding: 0 0 33px 0;}
.thanks{background: #fafafa;text-align: center;padding: 19px 0;border-radius: 0 0 10px 10px;}
.thanks a{color: #b7b7b7;font-size: 20px;font-family: 'Open Sans', sans-serif;font-style: italic;}

/* Inner */
.wrapper > figure{position: fixed;left:0;width: 100%;height: 100%;background: url(../../../images/cms/fundraiser/bg1.jpg) no-repeat;background-position: 90% 10%;background-size: cover;}
.wrapper > figure.bg2{background: url(../../../images/cms/fundraiser/bg2.jpg) no-repeat;background-position: 90% 10%;background-size: cover;}
.wrapper > figure.bg3{background: url(../../../images/cms/fundraiser/bg3.jpg) no-repeat;background-position: 90% 10%;background-size: cover;}
    
.left_sec{position: static;}










