<?php
$customers = $this->getCustomers();
?>
<?php if($customers != null && sizeof($customers) > 0){?>
    <h6 class="count-result"><?php echo $this->__('Total %s members found', sizeof($customers));?></h6>
    <?php foreach ($customers as $customer){?>
        <div class="media col-md-6">
            <div class="media-body">
                <h4 class="media-heading"><?php echo $customer->getName();?></h4>
                <a href="<?php echo $this->getMemberInfo($customer->getId());?>" title="<?php echo $this->__('See more');?>" target="_blank">
                    <?php echo $this->__('See more');?>
                </a>
            </div>
        </div>
    <?php }?>
<?php } else {?>
    <p><?php echo $this->__('No members found.');?></p>
<?php }?>