<?php
/**
 * nationpassport template
 */
$customer = $this->getCurrentCustomer();
$refer_affiliate = $this->getAffiliateRefer();
$refer_affiliate_name = '';
if ($refer_affiliate != null && $refer_affiliate->getId()){
    if(strpos(strtolower($refer_affiliate->getName()), 'socomm') === 0)
        $refer_affiliate_name = $this->__('Trunited');
    else
        $refer_affiliate_name = $refer_affiliate->getName();
}

$customer_stats = $this->getCustomerStats();
$customer_badges = $this->getCustomerBadgesHistory();
$badge = $this->getBadgeFromStats($customer_stats['badge']);

$district = null;
if($customer_stats != null && isset($customer_stats['district']))
    $district = $customer_stats['district'];

$affliate_renewal = null;
if($customer_stats != null && isset($customer_stats['affiliate_renewal']))
    $affliate_renewal = date('F Y', strtotime($customer_stats['affiliate_renewal']));

?>

<div class="dashboard_block">
    <div class="dashboard">
        <h2><?php echo $this->__('Member Information');?>?</h2>
    </div>
    <div class="nation_passport">
        <div class="top_bar pad_last mob_pad">
            <h4><?php echo $this->__('TRUNITED NATION PASSPORT'); ?></h4>
        </div>
        <div class="inner28_nation_passport_bgr">
            <div class="inner28_nation_passport_left col-md-7 col-xs-12">
                <div class="inner28_nicolas inner16_nicolas">
                    <label><?php echo $this->__('member profile'); ?></label>
                    <input name="name" type="text" value="">
                    <div class="clearfix"></div>
                    <div class="inner28_nicolas_left">
                        <h3><?php echo $customer->getName();?></h3>
                        <button name="name" type="button" class="pacesetter">
                            <?php 
                            if($customer_stats['badge'] != null)
                                echo $customer_stats['badge']; 
                            else
                                echo $this->__('Customer');
                            ?>
                                
                        </button>
                        <p><?php echo $this->__('Member Since: %s', date('m/d/Y', strtotime($customer->getCreatedAt()))); ?></p>
                        <p><?php if($affliate_renewal != null) echo $this->__('Affiliate Renewal: %s', $affliate_renewal); ?></p>

                        <p><?php echo $this->__('Connected By: %s', $refer_affiliate_name); ?></p>

                        <p><b><?php if($district != null) echo $this->__('Familia: District %s', $district); ?></b></p>
                    </div>
                    <div class="inner28_nicolas_right">
                        <img src="<?php if($badge != null && $badge->getImageName() != null) echo $this->getImagePath($badge->getImageName()); ?>" alt="img">

                        <div class="find_messages">
                            <?php if($customer_stats != null && isset($customer_stats['ems_score'])){?>
                            <p><?php echo $this->__('EMS: %s', ceil($customer_stats['ems_score']));?></p>
                            <?php }?>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="inner28_members_badges inner16_members_badges">
                    <label><?php echo $this->__('member BADGES'); ?></label>
                    <input name="name" type="text" value="">
                    <div class="clearfix"></div>
                    <div class="inner28_members_badges_logos">
                        <?php if($customer_badges != null && sizeof($customer_badges) > 0){?>
                            <ul>
                                <?php foreach ($customer_badges as $badge) {?>
                                    <li>
                                        <a href="#">
                                            <img src="<?php echo $this->getImagePath($badge->getImageName()); ?>"
                                                 alt="img">
                                        </a>
                                    </li>
                                <?php }?>
                            </ul>
                        <?php }?>
                        <div class="clearfix"></div>
                    </div>
                    <div class="social_stock">
                        <ul>
                            <li>
                                <span>
                                <?php
                                if ($customer_stats != null)
                                    echo number_format($customer_stats['social_stock'] == null ? 0 : $customer_stats['social_stock']);
                                else
                                    echo '0';
                                ?>
                                </span>
                                <small><?php echo $this->__('social stock'); ?></small>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <p><?php echo $this->__('Earning Badges Increases Your Social Stock.  Social Stock Increases Your Influence and Wins You Prizes.'); ?></p>
                </div>
            </div>
            <div class="inner28_nation_passport_right inner16_passport col-md-5 col-xs-12">
                <div class="inner28_monthly_status">
                    <label><?php echo $this->__('Member Monthly Stats'); ?></label>
                    <input name="name" type="text" value="">

                    <div class="clearfix"></div>
                    <ul>
                        <li class="col-xs-4">
                            <span>
                                <?php
                                if ($customer_stats != null && isset($customer_stats['depth_credit']))
                                    echo number_format($customer_stats['depth_credit']);
                                else
                                    echo '0';
                                ?>
                            </span>
                            <small><?php echo $this->__('Current Depth<br>Credit'); ?></small>
                        </li>
                        <li class="col-xs-4">
                            <span>
                                <?php
                                if ($customer_stats != null && isset($customer_stats['personal_points']))
                                    echo number_format($customer_stats['personal_points'], 1);
                                else
                                    echo '0';
                                ?>
                            </span>
                            <small><?php echo $this->__('personal<br> points'); ?></small>
                        </li>
                        <li class="col-xs-4">
                            <span>
                                <?php
                                if ($customer_stats != null && isset($customer_stats['match_points']))
                                    echo number_format($customer_stats['match_points'], 1);
                                else
                                    echo '0';
                                ?>
                            </span>
                            <small><?php echo $this->__('connection<br> points'); ?></small>
                        </li>

                        <li class="col-xs-4">
                            <span>
                                <?php
                                if ($customer_stats != null && isset($customer_stats['guest_commission']))
                                    echo number_format($customer_stats['guest_commission'], 1);
                                else
                                    echo '0';
                                ?>
                            </span>
                            <small><?php echo $this->__('Guest<br>Points'); ?></small>
                        </li>
                        <li class="col-xs-4">
                            <span>
                                <?php
                                if ($customer_stats != null && isset($customer_stats['next_level_points']))
                                    echo number_format($customer_stats['next_level_points']);
                                else
                                    echo '0';
                                ?>
                            </span>
                            <small><?php echo $this->__('next level<br> points'); ?></small>
                        </li>
                        <li class="col-xs-4">
                            <span>
                                <?php
                                if ($customer_stats != null && isset($customer_stats['unearned_points']))
                                    echo number_format($customer_stats['unearned_points']);
                                else
                                    echo '0';
                                ?>
                            </span>
                            <small><?php echo $this->__('UNEARNED<br> point'); ?></small>
                        </li>

                        <li class="col-xs-4">
                            <span>
                                <?php
                                if ($customer_stats != null && isset($customer_stats['customer_engagement_pct']))
                                    echo number_format($customer_stats['customer_engagement_pct'], 1);
                                else
                                    echo '0';
                                ?>
                            </span>
                            <small><?php echo $this->__('Guest Points<br>Pending'); ?></small>
                        </li>
                        <li class="col-xs-4 more_stats">
                            <span><img src="<?php echo $this->getSkinUrl('images/icon61.png'); ?>" width="92"
                                       height="68" alt="icon"></span>
                            <a href="<?php echo $this->getUrl('yourstats');?>"><small><?php echo $this->__('see more stats'); ?></small></a>
                        </li>
                        <li class="col-xs-4">
                            <span>
                                <?php
                                if ($customer_stats != null && isset($customer_stats['on_hold_points']))
                                    echo number_format($customer_stats['on_hold_points']);
                                else
                                    echo '0';
                                ?>
                            </span>
                            <small><?php echo $this->__('points<br> Pending'); ?></small>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="inner28_member_balance">
                    <label><?php echo $this->__('member BALANCES'); ?></label>
                    <div class="clearfix"></div>
                    <ul>
                        <li class="col-xs-4">
                            <div class="balance_con">
                                <img src="<?php echo $this->getSkinUrl('images/icon_img4.png'); ?>" alt="icon">
                                <span><?php echo $this->getBalance(); ?></span>
                                <small><?php echo $this->__('Income<br> Balance'); ?></small>
                            </div>
                        </li>
                        <li class="col-xs-4">
                            <div class="balance_con">
                                <img src="<?php echo $this->getSkinUrl('images/icon_img5.png'); ?>" alt="icon">
                                <span><?php echo $this->getTruWalletCredit(); ?></span>
                                <small><?php echo $this->__('truwallet<br> earnings'); ?></small>
                            </div>
                        </li>
                        <li class="col-xs-4">
                            <div class="balance_con">
                                <img src="<?php echo $this->getSkinUrl('images/icon_img6.png'); ?>" alt="icon">
                                <span><?php echo $this->getTruGiftCardCredit(); ?></span>
                                <small><?php echo $this->__('trunited<br> gift card'); ?></small>
                            </div>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<?php if($badge != null && $badge->getHexColor() != null){?>
    <style type="text/css">
        .inner28_nicolas{
            background: <?php echo $badge->getHexColor();?> !important;
        }
    </style>
<?php }?>
<script type="text/javascript">
    $j = jQuery.noConflict();
    $j('.main-container').addClass('main_block main_bg2');
    $j('.main').addClass('container');
    $j('.main .col-main').addClass('row');
</script>
