<?php
$list = $this->getList();
?>
<?php if ($list != null && sizeof($list) > 0) { ?>
    <?php $start = time();
    foreach ($list as $rs) { ?>
        <li>
            <div class="nicolas_con"
                 <?php if ($rs['hex_color'] != null){ ?>style="background: <?php echo $rs['hex_color']; ?>"<?php } ?>>
                <!-- <a href="<?php echo $this->getMemberInfoURL($rs['customer_id']);?>"
                   title="<?php echo $rs['fullname'];?>" target="_blank"> -->
                    <div class="nicolas_con_left">
                        <h3 title="<?php echo $rs['fullname']; ?>"><?php
                            $name = $rs['fullname'];
                            if (strlen($name) > 20) {
                                echo substr($name, 0, 15) . '...';
                            } else {
                                echo $name;
                            } ?></h3>
                        <!--<button name="name" type="button" class="pacesetter">
                        <?php /*if($customer_stats != null && isset($customer_stats['badge'])){*/ ?>
                            <?php /*echo $customer_stats['badge'];*/ ?>
                        <?php /*} else if($badge != null && $badge->getId()){*/ ?>
                            <?php /*echo $badge->getName();*/ ?>
                        <?php /*}*/ ?>
                    </button>-->
                        <h2>
                            <?php
                            if (isset($rs['personal_points'])) {
                                echo number_format($rs['personal_points'], 1);
                            } else if (isset($rs['depth_credit'])) {
                                echo $this->__('Level %s', number_format($rs['depth_credit']));
                            } else if (isset($rs['avg_team_points'])) {
                                echo number_format($rs['avg_team_points'], 1);
                            } else if (isset($rs['rewardpoints_earn'])) {
                                echo number_format($rs['rewardpoints_earn'], 1);
                            } else if (isset($rs['on_hold_points'])) {
                                echo number_format($rs['on_hold_points'], 1);
                            }
                            ?>
                        </h2>
                    </div>
                    <div class="nicolas_con_right">
                        <img src="<?php echo $this->getImagePath($rs['image_name']); ?>" alt="img">
                    </div>
                    <div class="clearfix"></div>
                <!-- </a> -->
            </div>
        </li>
    <?php } ?>
<?php } else { ?>
    <p><?php echo $this->__('No records found.'); ?></p>
<?php } ?>
