<?php $_collection = $this->getCollection();
$status = (int)$_GET['status']; ?>
<?php if (count($_collection)): ?>
<div class="right_block_in col-xs-12">
  <div class="search_bar last padd_bot text-center">
    <h3 class="ord_lt"><?php echo $this->__('Orders') ?></h3>
      <div class="clearfix"></div>
              <!-- <div class="sort_by pad_last">
                  <label>SORT BY</label>
                  <form action="<?php echo Mage::helper('core/url')->getCurrentUrl();?>" method="get" id='search_form'>
                      <select class="selectpicker" name='status' tabindex="-98" id ='getorder'>
                          <option value='0' <?php echo ( $status == 0 ) ? 'selected' : '';?> >All</option>
                          <option value='1' <?php echo ( $status == 1 ) ? 'selected' : '';?> >Complete</option>
                          <option value='2' <?php echo ( $status == 2 ) ? 'selected' : '';?> >Pending</option>
                      </select>
                  </form>
              </div> -->
      <div class="trans_report">
          <?php echo $this->getPagerHtml();?>
          <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
  </div>
  <div class="trancaction_table">
    <table class="main_table">
        <tbody>
          <tr>
            <td>
              <table class="main_table_in1">
                  <tbody><tr>
                      <td class="amount_head1">TITLE</td>
                      <td class="amount_head2">TYPE</td>
                      <td class="amount_head3">AMOUNT</td>
                      <td class="amount_head4">UPDATED ON</td>
                      <td class="amount_head5">EMAIL</td>
                      <td class="amount_head6">STATUS</td>
                  </tr>
              </tbody></table>
            </td>
        </tr>
        <tr>
          <td>
            <table class="sample_product_main">
                <tbody>
                  <?php
                      $types = Magestore_TruWallet_Model_Type::getOptionArray();
                      $statuses = Magestore_TruWallet_Model_Status::getTransactionOptionArray();
                  ?>
                  <?php foreach ($_collection as $_transaction): ?>
                  <tr>
                    <td>
                      <table class="main_table_in2">
                          <tbody>
                              
                              <tr>
                                  <td class="sample_order1"> <?php
                                  $title = "&nbsp;";
                                  if ( $this->__($_transaction->getTitle()) ){
                                      $title = $this->__($_transaction->getTitle());
                                  } 
                                  echo $title;?></td>
                                  <td class="sample_order2"><?php echo $types[$_transaction->getActionType()]; ?></td>
                                  <td class="sample_order3"><?php echo Mage::helper('core')->currency($_transaction->getChangedCredit(), true, false); ?></td>
                                  <td class="sample_order4"><?php echo $this->formatTime($_transaction->getUpdatedTime(), 'medium', true) ?></td>
                                  <td class="sample_order5"> <?php 
                                if ($_transaction->getReceiverEmail()){
                                    echo "<a href=\"mailto:{$_transaction->getReceiverEmail()}\">{$_transaction->getReceiverEmail()}</a>";
                                }else{
                                    echo "&nbsp;&nbsp;";
                                }
                                ?></td>
                                  <td class="sample_order6"><?php echo $statuses[$_transaction->getStatus()]; ?></td>
                              </tr>
                         
                      </tbody></table>
                  </td>
              </tr>
            <?php endforeach;?>
            </tbody></table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
<?php echo $this->getLayout()->createBlock('core/template')->setTemplate('customer/account/link/back.phtml')->toHtml(); ?>
</div>

<?php
/*
<script>
jQuery(document).ready(function(){
    jQuery('#getorder').on('change',function(){
        jQuery('#search_form').submit();
    });
});
</script>
*/
?>
<?php else: ?>               
    <p><?php echo $this->__('Your truWallet balance hasn\'t had any transaction yet.') ?></p>
<?php endif; ?>