<!--@subject Default Subject Marketer Central Agreement to LLC @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image",
"htmlescape var=$customer.name":"Customer Name",
"var sender_name":"Sender Name",
"store url=\"customer/account/\"":"Customer Account Url"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:13px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<div style="font:13px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:13px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="left" valign="top">
                <!-- [ content starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p><strong>Hi {{htmlescape var=$customer_name}}</strong>,</p>

                            <p>Content here!</p>

                            <p>You can see the PDF file in attachment for more details information.</p>

                            <p>Enjoy!</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
