<?php
/**
 * @methods
 * - getValue($key, $default)
 * - getSelected($key, $value)
 * - getChecked($key)
 * - getAttributes()
 * - getMappings()
 * - getAddMapButtonHtml()
 * - getRemoveMapButtonHtml()
 */
?>

<script type="text/javascript">
//<![CDATA[
var profileImportOnly = ['profile_number_of_records', 'profile_decimal_separator'];
function showOption(select)
{
    select = $(select);
    for (var i = 0, l = select.options.length; i<l; i++) {
        $$('.'+select.id+'_'+select.options[i].value).each(function (el) {
            el.style.display = select.selectedIndex==i ? '' : 'none';
        });
    }

}

function addFieldMapping()
{
    var entityType = $('profile_entity_type').value;
    Element.insert($('map_container_'+entityType), {bottom: $('map_template_'+entityType).innerHTML});
}

function removeFieldMapping(button)
{
    Element.remove(button.parentNode);
}

function setMapFileField(select)
{
    select.parentNode.getElementsByTagName('input')[0].value = select.value;
}

function toggleSelectOption(type, source, target, sourceValue, targetValue, targetText)
{
    source = $(source);
    target = $(target);

    var i, ex, option, present;
    var selectValue = source.options[source.selectedIndex].value;

    if('remove'==type && selectValue==sourceValue || 'add'==type && selectValue!=sourceValue) {
        for(i=0;i<target.options.length;i++){
            if(target.options[i].value==targetValue){
                target.remove(i);
                break;
            }
        }
    } else {
        for(i=0;i<target.options.length;i++){
            if(target.options[i].value==targetValue){
                present = true;
                break;
            } else {
                present = false;
            }
        }
        if(!present){
            option = document.createElement("OPTION");
            option.text = targetText;
            option.value = targetValue;
            try {
                target.add(option, null); // standards compliant; doesn't work in IE
            } catch(ex) {
                target.add(option); // IE only
            }
        }
    }
    showOption(target);
}

function exportUrlField()
{
    var urlFieldEl = $('profile_add_url_field').up();
    var entityType = $('profile_entity_type').value;
    var direction  = $('profile_direction').value;
    var storeId    = $('profile_store_id').value;

    if (entityType == 'product' && direction == 'export' && storeId > 0) {
        urlFieldEl.show();
    }
    else {
        urlFieldEl.hide();
    }
}

function changeEntityType()
{
    //toggleSelectOption('remove', 'profile_entity_type', 'profile_direction', 'customer', 'import', '<?php echo $this->__('Import') ?>');
    //toggleSelectOption('remove', 'profile_entity_type', 'profile_store_id', 'customer', '0', '<?php echo $this->__('Default Values') ?>');
    //showOption('profile_direction');
    changeDirection();
}


function changeDirection()
{
    toggleSelectOption('remove', 'profile_direction', 'profile_data_transfer', 'export', 'interactive', '<?php echo $this->__('Interactive') ?>');
    //showOption('profile_data_transfer');
    if ($('profile_direction').value == 'import') {
        profileImportOnly.each(function(id){if ($(id))$(id).up(1).show();});
    }
    else {
        profileImportOnly.each(function(id){if ($(id))$(id).up(1).hide();});
    }
    exportUrlField();
}

function updateRun(select)
{
    if ($('file_list') != null){
        if ($(select).value=='interactive') {
            $('file_list').show();
        } else {
            $('file_list').hide();
        }
    }
}

Event.observe(window, 'load', function(){
    if($('profile_data_transfer')) {
        updateRun('profile_data_transfer');
    }
});
//]]>
</script>

<div id="profile-generator" class="entry-edit profile-generator">
    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__("Profile Information") ?></h4>
    </div>
    <fieldset>
        <input type="hidden" id="profile_entity_type" name="entity_type" value="product"/>
        <input type="hidden" id="profile_is_intersec" name="is_intersec" value="1"/>
        <legend><?php echo $this->__("Profile Information") ?></legend>
        <span class="field-row">
            <label for="profile_name"><?php echo $this->__("Name:") ?> <span class="required">*</span></label>
            <input class="required-entry required-entry input-text" id="profile_name" name="name" value="<?php echo $this->getValue('name') ?>"/>
        </span>
        <span class="field-row">
            <label for="profile_direction"><?php echo $this->__("Direction:") ?></label>
            <select id="profile_direction" name="direction" onchange="showOption(this);changeDirection();" class="option-control">
                <option value="import" <?php echo $this->getSelected('direction', 'import') ?>><?php echo $this->__("Import") ?></option>
                <option value="export" <?php echo $this->getSelected('direction', 'export') ?>><?php echo $this->__("Export") ?></option>
            </select>
        </span>
        <span class="field-row">
            <label for="profile_store_id"><?php echo $this->__("Store:") ?></label>
            <span class="with-tip">
                <select id="profile_store_id" name="store_id" onchange="exportUrlField();">
                <option value="0"><?php echo $this->__('Default (Admin) Values') ?></option>
                    <?php foreach ($this->getWebsiteCollection() as $_website): ?>
                        <?php $_websiteShow=false; ?>
                        <?php foreach ($this->getGroupCollection() as $_group): ?>
                            <?php if ($_website->getId() != $_group->getWebsiteId()) continue; ?>
                            <?php $_groupShow=false; ?>
                            <?php foreach ($this->getStoreCollection() as $_store): ?>
                                <?php if ($_group->getId() != $_store->getGroupId()) continue; ?>
                                <?php if (!$_websiteShow): ?>
                                    <?php $_websiteShow=true; ?>
                                    <optgroup label="<?php echo $_website->getName() ?>"></optgroup>
                                <?php endif; ?>
                                <?php if (!$_groupShow): ?>
                                    <?php $_groupShow=true; ?>
                                    <optgroup label="&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $_group->getName() ?>">
                                <?php endif; ?>
                                <option value="<?php echo $_store->getId() ?>" <?php echo $this->getSelected('store_id', $_store->getId()) ?>>&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $_store->getName() ?></option>
                            <?php endforeach; ?>
                            <?php if ($_groupShow): ?>
                                </optgroup>
                            <?php endif; ?>
                        <?php endforeach; ?>
                    <?php endforeach; ?>
                </select>
                <small class="profile_direction_import profile_entity_type_product">
                        <?php echo $this->__("(Products will be added/updated to this store if 'store' column is blank or missing in the import file.)") ?>
                </small>
            </span>
        </span>
        <span class="field-row">
            <label for="profile_add_url_field"><?php echo $this->__("Add Field with URL:") ?></label>
            <select id="profile_add_url_field" name="gui_data[export][add_url_field]" class="option-control">
                <option value="0"<?php echo $this->getSelected('gui_data/export/add_url_field', 0) ?>><?php echo $this->__("No") ?></option>
                <option value="1"<?php echo $this->getSelected('gui_data/export/add_url_field', 1) ?>><?php echo $this->__("Yes") ?></option>
            </select>
        </span>
        <span class="field-row">
            <label for="profile_number_of_records"><?php echo $this->__("Number of records:") ?></label>
            <span class="with-tip">
                <input class="required-entry validate-number input-text" id="profile_number_of_records" name="gui_data[import][number_of_records]" value="<?php echo (($numbers = $this->getValue('gui_data/import/number_of_records')) ? $numbers : 1) ?>"/>
                <small><?php echo $this->__("(You have to increase php memory_limit before changing this value)") ?></small>
            </span>
        </span>
        <span class="field-row">
            <label for="profile_decimal_separator"><?php echo $this->__("Decimal separator:") ?></label>
            <span class="with-tip">
                <input class="required-entry input-text" id="profile_decimal_separator" name="gui_data[import][decimal_separator]" value="<?php echo (($separator = $this->getValue('gui_data/import/decimal_separator')) ? $separator : '.') ?>"/>
            </span>
        </span>
        <span class="field-row profile_direction_import">
            <label for="profile_update_orders"><?php echo $this->__("Update Orders:") ?></label>
            <select id="profile_update_orders" name="gui_data[parse][update_orders]" class="option-control">
                <option value="false"<?php echo $this->getSelected('gui_data/parse/update_orders', 'false') ?>><?php echo $this->__('No') ?></option>
                <option value="true"<?php echo $this->getSelected('gui_data/parse/update_orders', 'true') ?>><?php echo $this->__('Yes') ?></option>
            </select>
        </span>
        <span class="field-row profile_direction_import">
            <label for="profile_update_customer_address"><?php echo $this->__("Update Customer Address:") ?></label>
            <select id="profile_update_customer_address" name="gui_data[parse][update_customer_address]" class="option-control">
                <option value="false"<?php echo $this->getSelected('gui_data/parse/update_customer_address', 'false') ?>><?php echo $this->__('No') ?></option>
                <option value="true"<?php echo $this->getSelected('gui_data/parse/update_customer_address', 'true') ?>><?php echo $this->__('Yes') ?></option>
            </select>
        </span>
        <span class="field-row profile_direction_import">
            <label for="profile_create_invoice"><?php echo $this->__("Create Invoice:") ?></label>
            <select id="profile_create_invoice" name="gui_data[parse][create_invoice]" class="option-control">
                <option value="false"<?php echo $this->getSelected('gui_data/parse/create_invoice', 'false') ?>><?php echo $this->__('No') ?></option>
                <option value="true"<?php echo $this->getSelected('gui_data/parse/create_invoice', 'true') ?>><?php echo $this->__('Yes') ?></option>
            </select>
        </span>
        <span class="field-row profile_direction_import">
            <label for="profile_create_shipment"><?php echo $this->__("Create Shipment:") ?></label>
            <select id="profile_create_shipment" name="gui_data[parse][create_shipment]" class="option-control">
                <option value="false"<?php echo $this->getSelected('gui_data/parse/create_shipment', 'false') ?>><?php echo $this->__('No') ?></option>
                <option value="true"<?php echo $this->getSelected('gui_data/parse/create_shipment', 'true') ?>><?php echo $this->__('Yes') ?></option>
            </select>
        </span>
        <span class="field-row profile_direction_import">
            <label for="profile_use_historic_tax"><?php echo $this->__("Use Historic Tax:") ?></label>
            <select id="profile_use_historic_tax" name="gui_data[parse][use_historic_tax]" class="option-control">
                <option value="false"<?php echo $this->getSelected('gui_data/parse/use_historic_tax', 'false') ?>><?php echo $this->__('No') ?></option>
                <option value="true"<?php echo $this->getSelected('gui_data/parse/use_historic_tax', 'true') ?>><?php echo $this->__('Yes') ?></option>
            </select>
        </span>
        <span class="field-row profile_direction_import">
            <label for="profile_skip_product_lookup"><?php echo $this->__("Skip Product Lookup:") ?></label>
            <select id="profile_skip_product_lookup" name="gui_data[parse][skip_product_lookup]" class="option-control">
                <option value="false"<?php echo $this->getSelected('gui_data/parse/skip_product_lookup', 'false') ?>><?php echo $this->__('No') ?></option>
                <option value="true"<?php echo $this->getSelected('gui_data/parse/skip_product_lookup', 'true') ?>><?php echo $this->__('Yes') ?></option>
            </select>
        </span>
        <span class="field-row profile_direction_export">
            <label for="profile_date_from"><?php echo $this->__("Date From:") ?></label>
            <input class="input-text" id="profile_date_from" name="gui_data[unparse][date_from]" value="<?php echo (($dateFrom = $this->getValue('gui_data/unparse/date_from')) ? $dateFrom : '') ?>"/>
            <img title="Select date" id="profile_date_from_trig" src="<?php echo $this->getSkinUrl('images/grid-cal.gif') ?>" class="v-middle"/>
        </span>
        <script type="text/javascript">
        //<![CDATA[
         Calendar.setup({
                inputField : 'profile_date_from',
                ifFormat : '%Y-%m-%d',
                button : 'profile_date_from_trig',
                align : 'Bl',
                singleClick : true
            });
        //]]>
        </script>
        <span class="field-row profile_direction_export">
            <label for="profile_date_to"><?php echo $this->__("Date To:") ?></label>
            <input class="input-text" id="profile_date_to" name="gui_data[unparse][date_to]" value="<?php echo (($dateTo = $this->getValue('gui_data/unparse/date_to')) ? $dateTo : '') ?>"/>
            <img title="Select date" id="profile_date_to_trig" src="<?php echo $this->getSkinUrl('images/grid-cal.gif') ?>" class="v-middle"/>
        </span>
        <script type="text/javascript">
        //<![CDATA[
         Calendar.setup({
                inputField : 'profile_date_to',
                ifFormat : '%Y-%m-%d',
                button : 'profile_date_to_trig',
                align : 'Bl',
                singleClick : true
            });
        //]]>
        </script>
        <span class="field-row profile_direction_export">
            <label for="profile_recordlimit"><?php echo $this->__("Record Limit:") ?></label>
            <input class="required-entry input-text" id="profile_recordlimit" name="gui_data[unparse][recordlimit]" value="<?php echo (($recordLimit = $this->getValue('gui_data/unparse/recordlimit')) ? $recordLimit : 0) ?>"/>
        </span>
        <span class="field-row profile_direction_export">
            <label for="profile_export_product_pricing"><?php echo $this->__("Export Product Pricing") ?></label>
            <select id="profile_export_product_pricing" name="gui_data[unparse][export_product_pricing]" class="option-control">
                <option value="false"<?php echo $this->getSelected('gui_data/unparse/export_product_pricing', 'false') ?>><?php echo $this->__('No') ?></option>
                <option value="true"<?php echo $this->getSelected('gui_data/unparse/export_product_pricing', 'true') ?>><?php echo $this->__('Yes') ?></option>
            </select>
        </span>
        <span class="field-row profile_direction_export">
            <label for="profile_export_product_tax_percent"><?php echo $this->__("Export Product Tax Percent") ?></label>
            <select id="profile_export_product_tax_percent" name="gui_data[unparse][export_product_tax_percent]" class="option-control">
                <option value="false"<?php echo $this->getSelected('gui_data/unparse/export_product_tax_percent', 'false') ?>><?php echo $this->__('No') ?></option>
                <option value="true"<?php echo $this->getSelected('gui_data/unparse/export_product_tax_percent', 'true') ?>><?php echo $this->__('Yes') ?></option>
            </select>
        </span>
        <span class="field-row profile_direction_export">
            <label for="profile_export_order_address_always"><?php echo $this->__("Export Order Address Always") ?></label>
            <select id="profile_export_order_address_always" name="gui_data[unparse][export_order_address_always]" class="option-control">
                <option value="false"<?php echo $this->getSelected('gui_data/unparse/export_order_address_always', 'false') ?>><?php echo $this->__('No') ?></option>
                <option value="true"<?php echo $this->getSelected('gui_data/unparse/export_order_address_always', 'true') ?>><?php echo $this->__('Yes') ?></option>
            </select>
        </span>
        <span class="field-row profile_direction_export">
            <label for="profile_filter_by_payment_method"><?php echo $this->__("Filter By Payment Method:") ?></label>
            <input class="input-text" id="profile_filter_by_payment_method" name="gui_data[unparse][filter_by_payment_method]" value="<?php echo (($filter_by_payment_method = $this->getValue('gui_data/unparse/filter_by_payment_method')) ? $filter_by_payment_method : '') ?>"/>
        </span>
		
        <?php $orderStatuses = Mage::getModel('sales/order_status')->getResourceCollection() ?>
        <span class="field-row profile_direction_export">
            <label for="profile_filter_by_order_status"><?php echo $this->__("Filter By Order Status:") ?></label>
            <select id="profile_filter_by_order_status" name="gui_data[unparse][filter_by_order_status]" class="option-control">
                <option value=""></option>
                <?php foreach ($orderStatuses as $orderStatus): ?>
                <option value="<?php echo $orderStatus->getStatus() ?>"<?php echo $this->getSelected('gui_data/unparse/filter_by_order_status', $orderStatus->getStatus()) ?>><?php echo $orderStatus->getLabel() ?></option>
                <?php endforeach; ?>
            </select>
        </span>
    </fieldset>

    <div class="entry-edit-head">
    <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__("File Information") ?></h4>
    </div>
    <fieldset>
        <legend><?php echo $this->__("File Information") ?></legend>
        <span class="field-row">
            <label for="profile_data_transfer"><?php echo $this->__("Data transfer:") ?></label>
            <select id="profile_data_transfer" name="data_transfer" onchange="showOption(this);updateRun(this)" class="option-control">
                <option value="interactive" <?php echo $this->getSelected('data_transfer', 'interactive') ?>><?php echo $this->__("Interactive") ?></option>
                <option value="file" <?php echo $this->getSelected('data_transfer', 'file') ?>><?php echo $this->__("Local/Remote Server") ?></option>
            </select>
        </span>
        <!--
        <div class="profile_data_transfer_interactive">
            <span class="field-row">
                <label for="interactive_filename"><?php echo $this->__("Archive file name:") ?></label>
                <input class="input-text" id="interactive_filename" name="gui_data[interactive][filename]" value="<?php echo $this->getValue('gui_data/interactive/filename') ?>"/>
                <?php echo $this->__('(If left empty will be auto-generated)') ?>
            </span>
        </div>
        -->
        <div class="profile_data_transfer_file">
            <span class="field-row">
                <label for="file_type"><?php echo $this->__("Type:") ?></label>
                <select id="file_type" name="gui_data[file][type]" onchange="showOption(this)" class="option-control">
                    <option value="file" <?php echo $this->getSelected('gui_data/file/type', 'file') ?>><?php echo $this->__("Local Server") ?></option>
                    <option value="ftp" <?php echo $this->getSelected('gui_data/file/type', 'ftp') ?>><?php echo $this->__("Remote FTP") ?></option>
                </select>
            </span>
            <span class="field-row">
                <label for="file_filename"><?php echo $this->__("File name:") ?></label>
                <input class="input-text" id="file_filename" name="gui_data[file][filename]" value="<?php echo $this->getValue('gui_data/file/filename') ?>"/>
            </span>
            <span class="field-row">
                <label for="file_path"><?php echo $this->__("Path:") ?></label>
                <span class="with-tip">
                    <input class="input-text" id="file_path" name="gui_data[file][path]" value="<?php echo $this->getValue('gui_data/file/path') ?>"/>
                    <small class="file_type_file">
                        <?php echo $this->__('(For Type "Local Server" need to use relative path to Magento install var/export or var/import, e.g. var/export, var/import, var/export/some/dir, var/import/some/dir)') ?>
                    </small>
                </span>
            </span>
            <div class="file_type_ftp">
                <span class="field-row">
                    <label for="file_host"><?php echo $this->__("FTP Host[:Port]") ?></label>
                    <input class="input-text" id="file_host" name="gui_data[file][host]" value="<?php echo $this->getValue('gui_data/file/host') ?>"/>
                </span>
                <span class="field-row">
                    <label for="file_user"><?php echo $this->__("User name") ?></label>
                    <input class="input-text" id="file_user" name="gui_data[file][user]" value="<?php echo $this->getValue('gui_data/file/user') ?>"/>
                </span>
                <span class="field-row">
                    <label for="file_password"><?php echo $this->__("Password") ?></label>
                    <input class="input-text" type="password" id="io_password" name="gui_data[file][password]" value="<?php echo $this->getValue('gui_data/file/password') ?>"/>
                </span>
                <span class="field-row">
                    <label for="file_mode"><?php echo $this->__("File mode") ?></label>
                    <select id="file_mode" name="gui_data[file][file_mode]" onchange="showOption(this)" class="option-control">
                        <option value="<?php echo FTP_BINARY ?>" <?php echo $this->getSelected('gui_data/file/file_mode', FTP_BINARY) ?>><?php echo $this->__('BINARY') ?></option>
                        <option value="<?php echo FTP_ASCII ?>" <?php echo $this->getSelected('gui_data/file/file_mode', FTP_ASCII) ?>><?php echo $this->__('ASCII') ?></option>
                    </select>
                </span>
                <span class="field-row">
                    <label for="file_passive"><?php echo $this->__("Passive mode") ?></label>
                    <select id="file_passive" name="gui_data[file][passive]" onchange="showOption(this)" class="option-control">
                        <option value="" <?php echo $this->getSelected('gui_data/file/passive', false) ?>><?php echo $this->__("No") ?></option>
                        <option value="true" <?php echo $this->getSelected('gui_data/file/passive', true) ?>><?php echo $this->__("Yes") ?></option>
                    </select>
                </span>
            </div>
        </div>
    </fieldset>

    <div class="entry-edit-head">
    <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__("Data Format") ?></h4>
    </div>
    <fieldset>
        <legend><?php echo $this->__("Data Format") ?></legend>
        <span class="field-row">
            <label for="parse_type"><?php echo $this->__("Type:") ?></label>
            <select id="parse_type" name="gui_data[parse][type]" onchange="showOption(this)" class="option-control">
                <option value="excel_xml" <?php echo $this->getSelected('gui_data/parse/type', 'excel_xml') ?>><?php echo $this->__("MS Excel XML") ?></option>
                <option value="csv" <?php echo $this->getSelected('gui_data/parse/type', 'csv') ?>><?php echo $this->__("CSV / Tab separated") ?></option>
            </select>
        </span>
        <div class="parse_type_excel_xml">
            <span class="field-row">
                <label for="parse_single_sheet"><?php echo $this->__("Spreadsheet Name:") ?></label>
                <span class="with-tip">
                    <input class="input-text" id="parse_single_sheet" name="gui_data[parse][single_sheet]" value="<?php echo $this->getValue('gui_data/parse/single_sheet') ?>"/>
                    <small><?php echo $this->__("(Leave empty for first spreadsheet)") ?></small>
                </span>
            </span>
        </div>
        <div class="parse_type_csv">
            <span class="field-row">
                <label for="parse_delimiter"><?php echo $this->__("Value Delimiter:") ?></label>
                <input class="input-text" style="width:3em" id="parse_delimiter" name="gui_data[parse][delimiter]" value="<?php echo $this->getValue('gui_data/parse/delimiter', ',') ?>"/>
                <small><?php echo $this->__("(\\t for tab)") ?></small>
            </span>
            <span class="field-row">
                <label for="parse_enclose"><?php echo $this->__("Enclose Values In:") ?></label>
                <input class="input-text" style="width:3em" id="parse_enclose" name="gui_data[parse][enclose]" value="<?php echo $this->getValue('gui_data/parse/enclose', '', '"') ?>"/>
                <small><?php echo $this->__("Warning! Empty value can cause problems with CSV format.") ?></small>
            </span>
        </div>
    </fieldset>

</div>

<script type="text/javascript">
//<![CDATA[
    $$('.option-control').each(showOption);
    changeEntityType();

    function showFeildMapping() {
        var direction = $('profile_direction').options[$('profile_direction').options.selectedIndex].value;
        var value = $('parse_fieldnames').options[$('parse_fieldnames').options.selectedIndex].value;
        var map = $('map_only_specified').options[$('map_only_specified').options.selectedIndex].value;

        if (direction == 'export') {
            if (map) {
                Element.show($('__fieldmapping'));
            } else {
                deleteAllAddedMappingFields();
                Element.hide($('__fieldmapping'));
            }
        } else {
            if (value) {
                Element.hide($('__fieldmapping'));
                deleteAllAddedMappingFields();
            } else {
                Element.show($('__fieldmapping'));
            }
        }

    }

    function deleteAllAddedMappingFields()
    {
        var type = $('profile_entity_type').options[$('profile_entity_type').options.selectedIndex].value;

        var elems = $('map_container_'+type).childElements();
        if (elems.length > 0) for (var idx in elems) {
            if (elems[idx] != undefined && elems[idx].tagName != undefined) {
                elems[idx].remove();
            }
        }
    }
    var direction = $('profile_direction').options[$('profile_direction').options.selectedIndex].value;
    if (direction == 'import') {
        if ($('parse_fieldnames').options[$('parse_fieldnames').options.selectedIndex].value) {
            Element.hide($('__fieldmapping'));
            deleteAllAddedMappingFields();
        } else {
            Element.show($('__fieldmapping'));
        }
    } else {
        var map = $('map_only_specified').options[$('map_only_specified').options.selectedIndex].value;
        if (map) {
            Element.show($('__fieldmapping'));
        } else {
            deleteAllAddedMappingFields();
            Element.hide($('__fieldmapping'));
        }
    }
//]]>
</script>
