<!--@subject Wow, a friend just sent you a Trunited Gift Card @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image",
"var title":"Transaction Title",
"var amount":"Transaction Amount",
"var status":"Transaction Status",
"var point_amount":"Point Amount Formated",
"var total":"Customer Balance",
"var point_balance":"Customer Balance Formated",
"store url=\"customer/account/\"":"Customer Account Url"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:13px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<div style="font:13px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:13px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var store.getFrontendName()}}"  style="margin-bottom:10px;" border="0"/></a></td>
                    </tr>
                </table>

                <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p><strong>Hi!</strong></p>
                            <p>You have just received the new gift code <b>{{htmlescape var=$coupon_code}} ({{htmlescape var=$amount}})</b> by refunding order #{{htmlescape var=$order_id}}.

                            <p>The gift card expires in X days just in case you don't like free money :-)  After the expiration the <b>{{htmlescape var=$amount}}</b> will simply be returned to {{htmlescape var=$sender_email}}. If you have any questions, please feel free to <a href="https://trunited.com/contacts">contact us</a> anytime.</p>
                            <p>Enjoy!</p>
                                <p><strong>{{var store.getFrontendName()}}</strong>
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
