
@font-face {
  font-family: 'EraserDust';
  src: url('EraserDust.eot?#iefix') format('embedded-opentype'),  url('EraserDust.woff') format('woff'), url('EraserDust.ttf')  format('truetype'), url('EraserDust.svg#EraserDust') format('svg');
  font-weight: normal;
  font-style: normal;
}
