
@font-face {
  font-family: 'DroidSerif-Bold';
  src: url('DroidSerif-Bold.eot?#iefix') format('embedded-opentype'),  url('DroidSerif-Bold.woff') format('woff'), url('DroidSerif-Bold.ttf')  format('truetype'), url('DroidSerif-Bold.svg#DroidSerif-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
