<?php $_code = 'fundraiser'; ?>
<?php if (Mage::helper('fundraiser')->isEnable()): ?>
	<?php $default_checked = Mage::getSingleton('checkout/session')->getIsHelpFundraiser();?>
    <div id="<?php echo $_code ?>_container" class="col-xs-12">
        <div class="<?php echo $_code ?>_wrapper">
            <div class="check_used chek_box">
                <input type="checkbox" id="help_fundraiser" name="help_fundraiser" title="<?php echo $this->getLabelText()?>"
                       onclick="helpAffiliateFundraiser('<?php echo $this->getUpdateUrl(); ?>'); return false;"
					   <?php if($default_checked != null && $default_checked){?>checked="checked"<?php }?>
                />
                <label for="help_fundraiser"><?php echo $this->getLabelText()?></label>
            </div>
            <div id="loading-fundraiser-credit" style="display: none;">
                <p id="fundraiser_cc_show_loading">
                    <img src="<?php echo $this->getSkinUrl('images/trugiftcard/opc-ajax-loader.gif')?>"/>
                    <?php echo $this->__('Loading...')?>
                </p>
            </div>
        </div>
    </div>
<?php endif; ?>

