/**
 * Plumrocket Inc.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End-user License Agreement
 * that is available through the world-wide-web at this URL:
 * http://wiki.plumrocket.net/wiki/EULA
 * If you are unable to obtain it through the world-wide-web, please
 * send an email to support@plumrocket.com so we can send you a copy immediately.
 *
 * @package     Plumrocket_SocialLogin
 * @copyright   Copyright (c) 2017 Plumrocket Inc. (http://www.plumrocket.com)
 * @license     http://wiki.plumrocket.net/wiki/EULA  End-user License Agreement
 */

.pslogin-addedoverlay {
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 2010;
	background-color: black;
	filter: alpha(opacity=60);
	opacity: 0.6;
	/*display: none;*/
}

.pslogin-pop-up-form {
	left: 0px;
	top: 0px; 
	position:fixed; 
	width: 100%; 
	z-index: 2020; 
	height:100%; 
	color:#666666; 
	text-align:left;
	/*display:none;*/
	overflow-y: auto; 
} 

#pslogin-pop-up-bg {
	max-width: 460px;
	font-size: 12px;
	padding: 0 10px 0 10px;
	margin: 10% auto 5% auto;
	color: #444;
	font-family: Arial, Helvetica, sans-serif;
	height: 100%;
	box-sizing: border-box;
}

#pslogin-pop-up-bg .pslogin-share a {
	margin: 0;
}

.pslogin-share {
	background-color: white;
	min-height: 270px;
	padding: 18px 21px;
	position: relative;
}

.pslogin-fake-email-message {
	position: fixed;
	top: 20px;
	width: 100%;
	padding: 0 5%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	z-index: 9999;
}

	.pslogin-fake-email-message .content {
		padding: 5px 10px;
		background: #fff;
		max-width: 960px;
		min-width: 250px;
		margin: 0 auto;
		box-shadow: 0 2px 15px 0px rgba(0, 0, 0, 0.42);
		-webkit-box-shadow: 0 2px 15px 0px rgba(0, 0, 0, 0.42);
		-moz-box-shadow: 0 2px 15px 0px rgba(0, 0, 0, 0.42);
		font-size: 14px;
		color: #636363;
		z-index: 9999;
	}

	.pslogin-fake-email-message p {
		margin: 10px auto;
		text-align: left;
	}

	.pslogin-fake-email-message .close-message {
		float: right;
	}

	.pslogin-fake-email-message .close-message:hover {
		cursor: pointer;
		color: #AEAEAE;
	}


/* general classes */
.pslogin-share .ta-center {
	text-align: center;
}
    
    .pslogin-share h2 {
		padding: 0px 0px 7px 0px;
		color: #3399cc;
		font-weight: 400;
		font-size: 15px;
		text-transform: uppercase;
		border-bottom: 1px solid #DDD;
		margin-bottom: 10px;
    }


	.pslogin-share .prpop-close-btn {
		position: absolute;
		right: 9px;
		left: auto;
		margin-right: 10px;
		top: 14px;
		text-decoration: none;
		color: #727272;
		font-size: 16px;
		background: none;
	}

	.pslogin-share .prpop-close-btn:hover {
		color: #b6aba5;
	}

	.pslogin-share p {
		margin-bottom: 7px;
	}
	
	.pslogin-share img {
		max-width: 100%;
		height: auto;
	}

	.pslogin-share .button-top {
		height: 7px;
	}

	.pslogin-share a {
		display: inline-block;
		height: 30px;
		color: white;
		margin: 0 10px 10px 0;
	}
	
	.pslogin-share a:hover {
		cursor: pointer;
		opacity: 0.7;
		filter: apha(filter=70);
	}

	/*
	.pslogin-share .soc-button {
		background-image: url("images/social_retina.png");
		background-size: 328px 185px;
		display: block;
		height: 30px;
		width: 30px;
		float: left;
	}
	*/

/*form*/
.w25 { width: 25px!important; }
.w100 { width: 100px; }

.pslogin-block.account-login .content {
	margin: 0;
}

.pslogin-form .registered-users .content {
	margin: 0!important;
}

.pslogin-block.account-login .form-list label,
#checkout-step-login .pslogin-block .form-list label { 
	width: auto;
	float: none; 
}

.pslogin-block.account-login .form-list .input-box,
#checkout-step-login .pslogin-block .form-list .input-box {
	float: none;
}

#checkout-step-login .col2-set {
	box-sizing: border-box;
}

.pslogin-block.account-login .buttons-set {
	min-height: 40px;
}

.pslogin-block.col2-set {
	margin: 0;
}

.pslogin-block.col2-set .buttons-set {
	padding: 0;
}

.pslogin-block.col2-set .fieldset {
	margin: 15px 0;
}

	.pslogin-block button.button span,
	.pslogin-block button.button span span {
		height: auto;
	}

	.pslogin-share .soc-name {
		height: 30px;
		line-height: 30px;
		padding: 0 7px;
		display: block;
		float: left;
		box-sizing: border-box;
	}

		.pslogin-share .vkontakte {
			background-position: -77px -78px;
		}

		.pslogin-share .facebook {
			background-position: -5px -5px
		}

		.pslogin-share .twitter {
			background-position: -41px -5px;
		}

		.pslogin-share .googleplus {
			background-position: -113px -5px;
		}

/* welcome message */
.pslogin-welcome-msg {
	height: 25px;
	line-height: 25px;
	float: none;
	display: inline-block;
	margin: 0 0 5px 0;
}

.pslogin-welcome-msg:after {
	clear: both;
	content: "";
}

.pslogin-welcome-msg img {
	height: 25px;
	display: inline-block;
	padding: 0 5px 0 0;
	float: left;
}

/* Buttons */
.pslogin-block {
	width: 100%;
	margin: 0 0 20px 0;
}

.pslogin-block * {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.pslogin-block.pslogin-hidden-text .pslogin-button-text {
	display: none!important;
}

.pslogin-block .pslogin-xs {
	display: none!important;
}

.pslogin-block .pslogin-button-image {
	display: block;
}

.pslogin-block .pslogin-clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.pslogin-block .title {
	text-align: center;
	margin-bottom: 10px;
	font-size: 12px;
}

.pslogin-spacer {
	display: block;
	margin: 10px auto;
	position: relative;
	text-align: center;
	line-height: 16px!important;
	top: auto;
	left: auto;
	height: auto;
	width: auto;
	line-height: normal;
	overflow: visible;
	font-size: 13px;
}

	.pslogin-spacer table {
		width: 100%;
	}
	
	.pslogin-spacer table td {
		vertical-align: middle;
	}

	.pslogin-spacer .pslogin-border {
		border-top: 1px solid #e5e2e2;
		width: 100%;
	}
	
	.pslogin-spacer .pslogin-bordertext {
		color: #b2b2b2;
		text-align: center;
		font-size: 11px;
	}

	.pslogin-spacer.pslogin-showmore .pslogin-bordertext {
		height: 20px;
		line-height: 17px;
		padding: 0;
		border: 1px solid #e5e2e2;
		border-radius: 9px;
		-moz-border-radius: 9px;
		-webkit-border-radius: 9px;
	}

	.pslogin-spacer.pslogin-showmore .pslogin-bordertext:hover {
		color: #989898;
		cursor: pointer;
	}

	.pslogin-spacer .circle {
		width: 90%;
		height: 25px;
		line-height: 22px;
		font-size: 11px;
		border: 1px solid #b2b2b2;
		border-radius: 0px 7px;
		margin: 0 auto;
		background-color: #eeeeee;
	}

	.pslogin-spacer .circle:hover {
		cursor: pointer;
		background-color: #FAFAFA;
	}

.my-account .dashboard .pslogin-block {
	margin-top:20px;
}

.pslogin-block .linked-account {
	width: 100%;
	display: inline-block;
}

.pslogin-account-view  h2 {margin-top:20px;}

.pslogin-block .pslogin-showmore {
	margin-top: 20px;
}

.pslogin-block.pslogin-login .pslogin-buttons {
	display: block;
}

.pslogin-block.pslogin-register .pslogin-buttons {
	display: inline-block;
}

	.pslogin-block .pslogin-buttons ul {
		padding: 0;
		font-size: 0;
	}

	.pslogin-block .pslogin-buttons ul li {
		display: inline-block;
		line-height: normal;
		list-style: none!important;
		padding: 0!important;
		background: none!important;
		height: 32px;
		margin: 0 3px 3px 0;
	}

	.pslogin-block .pslogin-buttons ul li.show-button-image {
		background: none!important;
	}

	.pslogin-block .pslogin-buttons ul li:hover {
		opacity: 0.9;
		filter: alpha(opacity=90);
	}

	.pslogin-block .pslogin-buttons ul li span.pslogin-button-auto {
		background-color: #3399cc;
		display: inline-block;
	}

	.pslogin-block .pslogin-buttons ul li .pslogin-button-icon {
		background: url('../../../images/plumrocket/pslogin/social.png');
		display: block;
		float: left;
		width: 32px;
		height: 32px;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	
	.pslogin-block .pslogin-buttons ul li .pslogin-button-icon img {
		width: 100%;
	}

	.pslogin-block .pslogin-buttons ul li a>img {

	}

	.pslogin-block .pslogin-buttons ul li .pslogin-button-text {
		display: none;
		float: left;
		height: 32px;
		line-height: 32px;
		vertical-align: top;
		padding: 0;
		text-align: center;
		min-width: 144px;
		box-sizing: border-box;
		font-size: 11px;
		color: white;
		background-color: rgba(255,255,255, 0.2);
	}

	.pslogin-block .pslogin-buttons.pslogin-buttons-showfull .pslogin-button-auto .pslogin-button-text {
		display: inline-block;
	}

	.pslogin-block .pslogin-buttons .pslogin-button-image { 
		display: none; 
	}

	.pslogin-block .pslogin-buttons.pslogin-buttons-showfull .pslogin-button-image {
		display: inline-block;
	}

	.pslogin-block .pslogin-buttons .pslogin-button-icon-image { 
		display: inline-block; 
	}

	.pslogin-block .pslogin-buttons.pslogin-buttons-showfull .pslogin-button-icon-image {
		display: none;
	}

	.pslogin-block .pslogin-buttons.pslogin-buttons-showfull .pslogin-button-auto.pslogin-has-button-image {
		display: none;
	}

 	.pslogin-block .pslogin-buttons.pslogin-buttons-showfull .pslogin-button-auto.pslogin-has-button-icon-image {  
 		display: inline-block;
 	}

	.pslogin-block .pslogin-buttons .pslogin-button-auto.pslogin-has-button-icon-image {
		display: none;
	}

	.pslogin-block .pslogin-buttons .pslogin-button-auto .pslogin-button-icon-image {
		display: inline-block;
		width: 32px;
		height: 32px;
	}

	.pslogin-block .pslogin-buttons .facebook .pslogin-button-auto { background-color: #1e4389; }
	.pslogin-block .pslogin-buttons .facebook .pslogin-button-icon { background-position: 0px 0px; }

	.pslogin-block .pslogin-buttons .twitter .pslogin-button-auto { background-color: #28a9e2; }
	.pslogin-block .pslogin-buttons .twitter .pslogin-button-icon { background-position: -34px 0px; }

	.pslogin-block .pslogin-buttons .linkedin .pslogin-button-auto { background-color: #11669c; }
	.pslogin-block .pslogin-buttons .linkedin .pslogin-button-icon { background-position: -168px 0px; }

	.pslogin-block .pslogin-buttons .yahoo .pslogin-button-auto { background-color: #85228f; }
	.pslogin-block .pslogin-buttons .yahoo .pslogin-button-icon { background-position: -204px 0px; }

	.pslogin-block .pslogin-buttons .vkontakte .pslogin-button-auto { background-color: #3f658c; }
	.pslogin-block .pslogin-buttons .vkontakte .pslogin-button-icon { background-position: -68px 0px; }

	.pslogin-block .pslogin-buttons .googleplus .pslogin-button-auto { background-color: #df4b38; }
	.pslogin-block .pslogin-buttons .googleplus .pslogin-button-icon { background-position: -135px 0px; }


	.pslogin-block .pslogin-buttons .hotmail .pslogin-button-auto { background-color: #f67d20; }
	.pslogin-block .pslogin-buttons .hotmail .pslogin-button-icon { background-position: 0px -34px; }

	.pslogin-block .pslogin-buttons .live .pslogin-button-auto { background-color: #0cb3ee; }
	.pslogin-block .pslogin-buttons .live .pslogin-button-icon { background-position: -35px -205px; }

	.pslogin-block .pslogin-buttons .pinterest .pslogin-button-auto { background-color: #cb2028; }
	.pslogin-block .pslogin-buttons .pinterest .pslogin-button-icon { background-position: -34px -34px; }

	.pslogin-block .pslogin-buttons .amazon .pslogin-button-auto { background-color: #ff8e2e; }
	.pslogin-block .pslogin-buttons .amazon .pslogin-button-icon { background-position: -68px -34px; }

	.pslogin-block .pslogin-buttons .aol .pslogin-button-auto { background-color: #008bd3; }
	.pslogin-block .pslogin-buttons .aol .pslogin-button-icon { background-position: -102px -34px; }
	.pslogin-openid.aol input[type=submit] { background-color: #008bd3; -webkit-appearance: none; } 

	.pslogin-block .pslogin-buttons .github .pslogin-button-auto { background-color: black; }
	.pslogin-block .pslogin-buttons .github .pslogin-button-icon { background-position: -135px -35px; }

	.pslogin-block .pslogin-buttons .instagram .pslogin-button-auto { background-color: #9a6e51; }
	.pslogin-block .pslogin-buttons .instagram .pslogin-button-icon { background-position: -168px -34px; }

	.pslogin-block .pslogin-buttons .foursquare .pslogin-button-auto { background-color: #3472ad; }
	.pslogin-block .pslogin-buttons .foursquare .pslogin-button-icon { background-position: -203px -34px; }

	.pslogin-block .pslogin-buttons .dropbox .pslogin-button-auto { background-color: #008bd3; }
	.pslogin-block .pslogin-buttons .dropbox .pslogin-button-icon { background-position: -0px -68px; }

	.pslogin-block .pslogin-buttons .disqus .pslogin-button-auto { background-color: #3d7198; }
	.pslogin-block .pslogin-buttons .disqus .pslogin-button-icon { background-position: -32px -69px; }

	.pslogin-block .pslogin-buttons .livejournal .pslogin-button-auto { background-color: #104378; }
	.pslogin-block .pslogin-buttons .livejournal .pslogin-button-icon { background-position: -66px -69px; }
	.pslogin-openid.livejournal input[type=submit] { background-color: #104378; -webkit-appearance: none; } 

	.pslogin-block .pslogin-buttons .tumblr .pslogin-button-auto { background-color: #304e6c; }
	.pslogin-block .pslogin-buttons .tumblr .pslogin-button-icon { background-position: -102px -69px; }

	.pslogin-block .pslogin-buttons .openid .pslogin-button-auto { background-color: #f8931f; }
	.pslogin-block .pslogin-buttons .openid .pslogin-button-icon { background-position: -135px -69px; }

	.pslogin-block .pslogin-buttons .flickr .pslogin-button-auto { background-color: #ff0084; }
	.pslogin-block .pslogin-buttons .flickr .pslogin-button-icon { background-position: -169px -69px; }

	.pslogin-block .pslogin-buttons .wordpress .pslogin-button-auto { background-color: #1b3f57; }
	.pslogin-block .pslogin-buttons .wordpress .pslogin-button-icon { background-position: -204px -69px; }

	.pslogin-block .pslogin-buttons .blogger .pslogin-button-auto { background-color: #ec7825; }
	.pslogin-block .pslogin-buttons .blogger .pslogin-button-icon { background-position: 0px -103px; }

	.pslogin-block .pslogin-buttons .odnoklassniki .pslogin-button-auto { background-color: #ee6600; }
	.pslogin-block .pslogin-buttons .odnoklassniki .pslogin-button-icon { background-position: -34px -103px; }

	.pslogin-block .pslogin-buttons .mailru .pslogin-button-auto { background-color: #00468c; }
	.pslogin-block .pslogin-buttons .mailru .pslogin-button-icon { background-position: -67px -103px; }

	.pslogin-block .pslogin-buttons .yandex .pslogin-button-auto { background-color: #dd0000; }
	.pslogin-block .pslogin-buttons .yandex .pslogin-button-icon { background-position: -102px -103px; }

	.pslogin-block .pslogin-buttons .paypal .pslogin-button-auto { background-color: #195d82; }
	.pslogin-block .pslogin-buttons .paypal .pslogin-button-icon { background-position: -134px -103px; }

	.pslogin-block .pslogin-buttons .myspace .pslogin-button-auto { background-color: #0022a0;}
	.pslogin-block .pslogin-buttons .myspace .pslogin-button-icon { background-position: -169px -103px; }

	.pslogin-block .pslogin-buttons .salesforce .pslogin-button-auto { background-color: #00a0de; }
	.pslogin-block .pslogin-buttons .salesforce .pslogin-button-icon { background-position: -203px -103px; }

	.pslogin-block .pslogin-buttons .steamcommunity .pslogin-button-auto { background-color: #282828; }
	.pslogin-block .pslogin-buttons .steamcommunity .pslogin-button-icon { background-position: -1px -137px; }

	.pslogin-block .pslogin-buttons .hyves .pslogin-button-auto { background-color: #ffca63; }
	.pslogin-block .pslogin-buttons .hyves .pslogin-button-icon { background-position: -33px -137px; }

	.pslogin-block .pslogin-buttons .stackoverflow .pslogin-button-auto { background-color: #e6eef1; }
	.pslogin-block .pslogin-buttons .stackoverflow .pslogin-button-icon { background-position: -67px -137px; }
	.pslogin-block .pslogin-buttons .stackoverflow .pslogin-button-text { color: #000000; }

	.pslogin-block .pslogin-buttons .evernote .pslogin-button-auto { background-color: #7ac141; }
	.pslogin-block .pslogin-buttons .evernote .pslogin-button-icon { background-position: -101px -137px; }

	.pslogin-block .pslogin-buttons .mixi .pslogin-button-auto { background-color: #d1ac5b; }
	.pslogin-block .pslogin-buttons .mixi .pslogin-button-icon { background-position: -135px -137px; }

	.pslogin-block .pslogin-buttons .mydigipass .pslogin-button-auto { background-color: #49bbeb; }
	.pslogin-block .pslogin-buttons .mydigipass .pslogin-button-icon { background-position: -169px -137px; }

	.pslogin-block .pslogin-buttons .netlog .pslogin-button-auto { background-color: #bb2026; }
	.pslogin-block .pslogin-buttons .netlog .pslogin-button-icon { background-position: -203px -137px; }

	.pslogin-block .pslogin-buttons .qq .pslogin-button-auto { background-color: #c46f1c; }
	.pslogin-block .pslogin-buttons .qq .pslogin-button-icon { background-position: 0px -171px; }

	.pslogin-block .pslogin-buttons .sinaweibo .pslogin-button-auto { background-color: #bd4342; }
	.pslogin-block .pslogin-buttons .sinaweibo .pslogin-button-icon { background-position: -34px -171px; }

	.pslogin-block .pslogin-buttons .soundcloud .pslogin-button-auto { background-color: #ff5419; }
	.pslogin-block .pslogin-buttons .soundcloud .pslogin-button-icon { background-position: -66px -171px; }

	.pslogin-block .pslogin-buttons .tencentweibo .pslogin-button-auto { background-color: #28a4e4; }
	.pslogin-block .pslogin-buttons .tencentweibo .pslogin-button-icon { background-position: -100px -171px; }

	.pslogin-block .pslogin-buttons .verisign .pslogin-button-auto { background-color: #b22253; }
	.pslogin-block .pslogin-buttons .verisign .pslogin-button-icon { background-position: -134px -171px; }
	.pslogin-openid.verisign input[type=submit] { background-color: #b22253; -webkit-appearance: none; } 

	.pslogin-block .pslogin-buttons .xing .pslogin-button-auto { background-color: #005d5e;}
	.pslogin-block .pslogin-buttons .xing .pslogin-button-icon { background-position: -168px -171px; }

	.pslogin-block .pslogin-buttons .kaixin001 .pslogin-button-auto { background-color: #e2332e; }
	.pslogin-block .pslogin-buttons .kaixin001 .pslogin-button-icon { background-position: -203px -171px; }

	.pslogin-block .pslogin-buttons .orange .pslogin-button-auto { background-color: #ff6600; }
	.pslogin-block .pslogin-buttons .orange .pslogin-button-icon { background-position: -1px -205px; }

	.pslogin-block .pslogin-buttons .bitbucket .pslogin-button-auto { background-color: #013567; }
	.pslogin-block .pslogin-buttons .bitbucket .pslogin-button-icon { background-position: -67px -205px; }

	.pslogin-block .pslogin-buttons .bitly .pslogin-button-auto { background-color: #ed6022; }
	.pslogin-block .pslogin-buttons .bitly .pslogin-button-icon { background-position: -101px -205px; }
	
	.pslogin-block .pslogin-buttons .boxcom .pslogin-button-auto { background-color: #00b9f2; }
	.pslogin-block .pslogin-buttons .boxcom .pslogin-button-icon { background-position: -135px -205px; }
	
	.pslogin-block .pslogin-buttons .vimeo .pslogin-button-auto { background-color: #1fb9eb; }
	.pslogin-block .pslogin-buttons .vimeo .pslogin-button-icon { background-position: -170px -205px; }
	
	.pslogin-block .pslogin-buttons .reddit .pslogin-button-auto { background-color: #337fb9; }
	.pslogin-block .pslogin-buttons .reddit .pslogin-button-icon { background-position: -203px -205px; }
	
	.pslogin-block .pslogin-buttons .odesk .pslogin-button-auto { background-color: #6fda44; }
	.pslogin-block .pslogin-buttons .odesk .pslogin-button-icon { background-position: -169px -273px; }
	.pslogin-block .pslogin-buttons .odesk .pslogin-button-text { color: #4c4c4c; }
	
	.pslogin-block .pslogin-buttons .teamviewer .pslogin-button-auto { background-color: #0171b9; }
	.pslogin-block .pslogin-buttons .teamviewer .pslogin-button-icon { background-position: -34px -239px; }

	.pslogin-block .pslogin-buttons .skyrock .pslogin-button-auto { background-color: #009afe; }
	.pslogin-block .pslogin-buttons .skyrock .pslogin-button-icon { background-position: -67px -239px; }

	.pslogin-block .pslogin-buttons .renren .pslogin-button-auto { background-color: #153765; }
	.pslogin-block .pslogin-buttons .renren .pslogin-button-icon { background-position: -101px -239px; }

	.pslogin-block .pslogin-buttons .etsy .pslogin-button-auto { background-color: #ee5931; }
	.pslogin-block .pslogin-buttons .etsy .pslogin-button-icon { background-position: -134px -239px; }

	.pslogin-block .pslogin-buttons .imgur .pslogin-button-auto { background-color: #312e2f; }
	.pslogin-block .pslogin-buttons .imgur .pslogin-button-icon { background-position: -170px -239px; }
 
	.pslogin-block .pslogin-buttons .intuit .pslogin-button-auto { background-color: #B8B8B8; }
	.pslogin-block .pslogin-buttons .intuit .pslogin-button-icon { background-position: -204px -239px; }
	.pslogin-block .pslogin-buttons .intuit .pslogin-button-text { color: #000000; }

	.pslogin-block .pslogin-buttons .mailchimp .pslogin-button-auto { background-color: #73cff4; }
	.pslogin-block .pslogin-buttons .mailchimp .pslogin-button-icon { background-position: 0px -273px; }
	.pslogin-block .pslogin-buttons .mailchimp .pslogin-button-text { color: #000000; }

	.pslogin-block .pslogin-buttons .persona .pslogin-button-auto { background-color: #ee5931; }
	.pslogin-block .pslogin-buttons .persona .pslogin-button-icon { background-position: -34px -273px; }

	.pslogin-block .pslogin-buttons .dribbble .pslogin-button-auto { background-color: #f26798; }
	.pslogin-block .pslogin-buttons .dribbble .pslogin-button-icon { background-position: -67px -273px; }

	.pslogin-block .pslogin-buttons .goodreads .pslogin-button-auto { background-color: #743900; }
	.pslogin-block .pslogin-buttons .goodreads .pslogin-button-icon { background-position: -100px -273px; }
 
	.pslogin-block .pslogin-buttons .lastfm .pslogin-button-auto { background-color: #c02c0c; }
	.pslogin-block .pslogin-buttons .lastfm .pslogin-button-icon { background-position: -135px -273px; }

	.pslogin-block .pslogin-buttons .alipay .pslogin-button-auto { background-color: #00a0e9; }
	.pslogin-block .pslogin-buttons .alipay .pslogin-button-icon { background-position: -202px -274px; }

	.pslogin-block .pslogin-buttons .wechat .pslogin-button-auto { background-color: #4ec034; }
	.pslogin-block .pslogin-buttons .wechat .pslogin-button-icon { background-position: -1px -306px; }

	.pslogin-block .pslogin-buttons .naver .pslogin-button-auto { background-color: #23b300; }
	.pslogin-block .pslogin-buttons .naver .pslogin-button-icon { background-position: -34px -307px; }

	.pslogin-unlinked-buttons.pslogin-buttons ul li .pslogin-button-text {min-width: 160px;}

/*======= social buttons =======*/
#prpop-pop-up-bg .pslogin-block {
	text-align: center;
	clear: both;
	margin-bottom: 5px;
}

#prpop-pop-up-bg .prpop-account-create .pslogin-block {
	display: none;
}

#prpop-pop-up-bg .pslogin-block .pslogin-buttons.pslogin-buttons-showfull {
	width: 100%;
}

	#prpop-pop-up-bg .pslogin-block li a span.pslogin-button-auto {
		width: 100%;
		position: relative;
		display: block;		
		height: 32px;
	}

	#prpop-pop-up-bg .pslogin-block li a span.pslogin-button-icon {
		position: absolute;
		background-color: inherit;
	}

	#prpop-pop-up-bg .pslogin-block li a span.pslogin-button-text {
		width: 100%;
		padding-left: 32px;
		font-size: 12px;
	}

	/*=== modern blue ===*/
	#prpop-pop-up-bg.prpop-default .pslogin-spacer {
		margin: 0 auto 10px;
		width: 100%;
	}

	#prpop-pop-up-bg.prpop-default .pslogin-spacer:before {
		display: block;
		content: "";
		clear: both;
		width: 100%;
	}

	#prpop-pop-up-bg.prpop-default .pslogin-spacer table {
		margin-top: 15px;
	}

	#prpop-pop-up-bg.prpop-default .pslogin-block {
		padding-top: 10px;
		clear: both;
	}

	#prpop-pop-up-bg.prpop-default .pslogin-block .pslogin-buttons {
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}

		#prpop-pop-up-bg.prpop-default .pslogin-block li a span.pslogin-button-auto {
			min-width: 32px;
		}

		#prpop-pop-up-bg.prpop-default .pslogin-block .pslogin-buttons.pslogin-buttons-showfull li {
			width: 70%;
			min-height: 32px;
			margin-bottom: 0px;
			vertical-align: inherit;
			display: inline-block;
			float: none;
		}

		#prpop-pop-up-bg.prpop-default .pslogin-block .pslogin-buttons li {
			width: auto;
			min-height: 32px;
			margin-bottom: 5px;
			vertical-align: middle;
		}

		#prpop-pop-up-bg.prpop-default .pslogin-buttons .pslogin-spacer {
			width: 100%;
		}

	/*=== glamour gray ===*/
	#prpop-pop-up-bg.glamour-grey .pslogin-spacer {
		margin: 0 auto 10px;
		width: 100%;
		float: left;
	}

	#prpop-pop-up-bg.glamour-grey .pslogin-spacer.pslogin-showmore .pslogin-bordertext:hover {
		color: white;
	}

	#prpop-pop-up-bg.glamour-grey .pslogin-spacer:before {
		display: block;
		content: "";
		clear: both;
		width: 100%;
	}

	#prpop-pop-up-bg.glamour-grey .pslogin-spacer table {
		margin-top: 15px;
	}

	#prpop-pop-up-bg.glamour-grey .pslogin-block {
		margin-top: 10px;
	}


	#prpop-pop-up-bg.glamour-grey .pslogin-block .pslogin-buttons {
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}

	#prpop-pop-up-bg.glamour-grey .pslogin-block .pslogin-buttons.pslogin-buttons-showfull li {
		width: 70%;
		min-height: 32px;
		margin-bottom: 5px;
	}

	#prpop-pop-up-bg.glamour-grey .pslogin-block .pslogin-buttons li {
		width: auto;
		min-height: 32px;
		margin: 0 5px 5px 0;
		vertical-align: middle;
	}

		#prpop-pop-up-bg.glamour-grey .pslogin-block li a span.pslogin-button-auto {
			border-radius: 3px;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			min-width: 32px;
		}
	
		#prpop-pop-up-bg.glamour-grey .pslogin-block li a span.pslogin-button-text {
			border-radius: 3px;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
		}

		#prpop-pop-up-bg.glamour-grey .pslogin-block li a span.pslogin-button-icon {
			border-radius: 3px;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;			
		}

		#prpop-pop-up-bg.glamour-grey .pslogin-buttons.pslogin-buttons-showfull li a span.pslogin-button-icon {
			border-radius: 3px 0 0 3px;
			-webkit-border-radius: 3px 0 0 3px;
			-moz-border-radius: 3px 0 0 3px;
		}

		#prpop-pop-up-bg.glamour-grey .pslogin-buttons .pslogin-spacer {
			width: 100%;
		}


	/*=== light silver ===*/
	#prpop-pop-up-bg.simple-form-logo .pslogin-block .pslogin-spacer {
		margin: 10px auto;
		width: 70%;
	}

	#prpop-pop-up-bg.simple-form-logo .pslogin-border {
		border-top: 1px solid #A5A5A5;
	}

	#prpop-pop-up-bg.simple-form-logo .pslogin-bordertext {
		color: #444;
	}

	#prpop-pop-up-bg.simple-form-logo .pslogin-spacer {
		width: 70%;
		
	}

	#prpop-pop-up-bg.simple-form-logo .pslogin-block .pslogin-buttons .pslogin-spacer:before {
		display: none;
	}

	#prpop-pop-up-bg.simple-form-logo .pslogin-block .pslogin-spacer .pslogin-border {
		border-top: 1px solid #A5A5A5;
	}
	
	#prpop-pop-up-bg.simple-form-logo .pslogin-block .pslogin-spacer.pslogin-showmore .pslogin-bordertext {
		border: 1px solid #A5A5A5;
		color: #444;
	}

	#prpop-pop-up-bg.simple-form-logo .pslogin-block .pslogin-spacer.pslogin-showmore .pslogin-bordertext:hover {
		color: black;
	}

	#prpop-pop-up-bg.simple-form-logo .pslogin-block .pslogin-buttons {
		width: 70%;
		margin: 0 auto;
		text-align: center;
	}

	#prpop-pop-up-bg.simple-form-logo .pslogin-block .pslogin-buttons.pslogin-buttons-showfull li {
		width: 100%;
		min-width: 32px;
		min-height: 34px;
		margin-bottom: 5px;
	}

	#prpop-pop-up-bg.simple-form-logo .pslogin-block .pslogin-buttons li {
		width: auto;
		min-width: 34px;
		height: 34px;
		margin: 0 0 5px 0;
	}

	#prpop-pop-up-bg.simple-form-logo .pslogin-block .pslogin-buttons ul li a {
		display: inline-block;
		width: 100%;
	}


	#prpop-pop-up-bg.simple-form-logo .pslogin-block li a span.pslogin-button-auto {
		border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-box-shadow: 0px 1px 1px 0px rgba(31, 31, 31, 0.47),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.33);
		-moz-box-shadow: 0px 1px 1px 0px rgba(31, 31, 31, 0.47),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.33);
		box-shadow: 0px 1px 1px 0px rgba(31, 31, 31, 0.47),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.33);	
		
	}


	#prpop-pop-up-bg.simple-form-logo .pslogin-block .pslogin-buttons.pslogin-buttons-showfull li a span.pslogin-button-auto {
		border: 1px solid rgba(0, 0, 0, 0.09);
		height: 34px;
	}

		#prpop-pop-up-bg.simple-form-logo .pslogin-block li a span.pslogin-button-text {
			height: 34px;
		}

		#prpop-pop-up-bg.simple-form-logo .pslogin-block li a span.pslogin-button-icon {
			box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.33);
		}
	
		#prpop-pop-up-bg.simple-form-logo .pslogin-block .pslogin-buttons.pslogin-buttons-showfull li a span.pslogin-button-icon {
			border: none;
			border-radius: 5px 0 0 5px;
			-webkit-border-radius: 5px 0 0 5px;
			-moz-border-radius: 5px 0 0 5px;
		}

		#prpop-pop-up-bg.simple-form-logo .pslogin-block .pslogin-buttons.pslogin-buttons-showfull li a span.pslogin-button-icon {
			height: 32px;
			width: 32px;
		}

		#prpop-pop-up-bg.simple-form-logo .pslogin-block li a span.pslogin-button-icon {
			border: 1px solid rgba(0, 0, 0, 0.09);
			border-radius: 5px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			height: 34px;
			width: 34px;
		}

		#prpop-pop-up-bg.simple-form-logo .pslogin-buttons .pslogin-spacer {
			width: 100%;
		}

/*=== open-id Page ===*/
.pslogin-openid {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align: center;
	padding: 20px;
}

	.pslogin-openid .network-logo {
		background: url('../../../images/plumrocket/pslogin/social_openid.png');
		width: 180px;
		height: 70px;
		margin: 0 auto 15px auto;
	}
	
	.pslogin-openid.livejournal .network-logo { background-position: -180px 0; }
	.pslogin-openid.verisign .network-logo { background-position: 0 -70px; }

	.pslogin-openid input[type=submit] {
		height: 32px;
		line-height: 32px;
		vertical-align: top;
		padding: 0;
		text-align: center;
		min-width: 144px;
		box-sizing: border-box;
		font-size: 12px;
		color: white;
		border-radius: 0;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		border: 0px;
	}
	
	.pslogin-openid input[type=submit]:hover {
		opacity: 0.8;
		filter: alpha(opacity=80);
	}

	.pslogin-openid input[type=text] {
		width: 100%;
		border: 1px solid #D0D0D0;
		height: 30px;
		line-height: 25px;
		margin-bottom: 5px;
		margin-top: 10px;
		padding: 2px;
		box-sizing: border-box;
		font-size: 14px;
	}
	
	.pslogin-openid .form-wrapper {
		background-color: #f3f3f3;
		color: #464646;
		width: 300px;
		margin: 0 auto;
		padding: 25px;
		box-shadow: 0px 2px 7px 0px #c1c1c1;
		-moz-box-shadow: 0px 2px 7px 0px #c1c1c1;
		-webkit-box-shadow: 0px 2px 7px 0px #c1c1c1;
		border-radius: 15px;
		font-size: 14px;
	}

	.pslogin-openid .ajax-loader {
		width: 110px;
		height: 14px;
		margin: 0 auto 5px auto;
	}

		.pslogin-openid .ajax-loader .image-gif {
			background: url('../../../images/plumrocket/pslogin/ajax-loader-h.gif');
			width: 110px;
			height: 14px;
			display: none;
		}

		.pslogin-openid .ajax-loader .error-text {
			color: red;
			font-size: 11px;
			/*display: none;*/
		}

/* Social account section */
.pslogin-block .custinfo.social {
    color: white;
    text-align: center;
    text-transform: capitalize;
    font-size: 12px;
    float: left;
    width: 82px;
    margin-right: 8px;
    margin-bottom: 8px;
    position: relative;
}

.pslogin-block .custinfo.social a {
	color: white;
	text-decoration: none;
}

.pslogin-block .custinfo.social:hover {
	cursor: pointer
}

.pslogin-block .custinfo.social .unlink-link {
    content: "x";
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    top: -5px;
    position: absolute;
    right: -4px;
    font-size: 10px;
    line-height: 25px;
    cursor: pointer;
    opacity: 0.4;
}

.pslogin-block .custinfo.social .unlink-link:hover {
	opacity: 1;
}

.pslogin-block .custinfo .pslogin-button-auto {
	padding: 11px 0 6px 0;
	background: #ffffff;
}

.pslogin-block .custinfo.social .user-photo {
    background-image: url("../../../images/plumrocket/pslogin/user_icon.png");
    background-size: cover;
    background-position: center;
    width: 56px;
    height: 56px;
    vertical-align: middle;
    float: none;
    margin: 0 auto;
    border-radius: 50%;
    display: block;
    border: 3px solid #fff;
    box-sizing: content-box;
    margin-bottom: 3px;
}


@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {

	.pslogin-block .pslogin-buttons ul li .pslogin-button-icon {
		background: url('../../../images/plumrocket/pslogin/social_retina.png');
		background-size: 236px 340px;
		-webkit-background-size: 236px 340px;
		-moz-background-size: 236px 340px;
	}

}

@media screen and ( max-width: 767px ) {

	.pslogin-block .pslogin-buttons {
		width: 100%;
	}

	.pslogin-block .pslogin-buttons.show-button-text ul li .pslogin-button-text {
		display: inline-block;
	}

	.pslogin-block .pslogin-xs {
		display: inline-block!important;
	}

	.pslogin-block .pslogin-spacer .pslogin-bordertext {

	}

}


@media screen and (max-width: 640px) {

	/*=== social login ===*/
	#prpop-pop-up-bg.prpop-default .pslogin-spacer,
	#prpop-pop-up-bg.prpop-default .pslogin-block .pslogin-buttons {
		width: 60%;
	}

	#prpop-pop-up-bg.glamour-grey .pslogin-spacer {
		float: none;
	}

	#prpop-pop-up-bg.glamour-grey .pslogin-spacer,
	#prpop-pop-up-bg.glamour-grey .pslogin-block .pslogin-buttons {
		width: 60%;
	}

	#prpop-pop-up-bg.prpop-default .pslogin-block .pslogin-buttons.pslogin-buttons-showfull li,
	#prpop-pop-up-bg.glamour-grey .pslogin-block .pslogin-buttons.pslogin-buttons-showfull li {
		width: 100%;
	}

}


@media screen and (max-width: 480px) {

	/*=== social buttons ===*/
	#prpop-pop-up-bg.prpop-default .pslogin-spacer,
	#prpop-pop-up-bg.prpop-default .pslogin-block .pslogin-buttons {
		width: 100%;
	}

	#prpop-pop-up-bg.glamour-grey .pslogin-spacer,
	#prpop-pop-up-bg.glamour-grey .pslogin-block .pslogin-buttons {
		width: 100%;
	}

	#prpop-pop-up-bg.simple-form-logo .pslogin-spacer,
	#prpop-pop-up-bg.simple-form-logo .pslogin-block .pslogin-buttons {
		width: 100%;
	}

}

/*=== animate ===*/
#pslogin-pop-up-bg {
  -webkit-animation-duration: 1s;
  -moz-animation-duration:1s;
		animation-duration: 1s;
  -webkit-animation-fill-mode: both;
		animation-fill-mode: both;
}

@-webkit-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    -moz-transform: translate3d(0, -2000px, 0);
            transform: translate3d(0, -2000px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
            transform: none;
  }
}

@-moz-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    -moz-transform: translate3d(0, -2000px, 0);
            transform: translate3d(0, -2000px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
            transform: none;
  }
}

@keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    -moz-transform: translate3d(0, -2000px, 0);
            transform: translate3d(0, -2000px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
            transform: none;
  }
}

.fadeInDownBig {
  -webkit-animation-name: fadeInDownBig;
  -moz-animation-name: fadeInDownBig;
          animation-name: fadeInDownBig;
}