<?php
$data_left = $this->getDataLeft();
$search_array = array('#', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z');
$collection = $this->getCollection();
$a = $this->getRequest()->getParam('a');
$active_category = $this->getActiveCategory();
$current_filter_cat = $this->filterCurrentCat();
$is_logged = Mage::getSingleton('customer/session')->isLoggedIn();
$is_help_fundraiser = Mage::helper('fundraiser')->isShowHelpAffiliateFundraiser();
$login_url = Mage::helper('customproduct')->getLoginUrl();
$_image_helper = $this->helper('catalog/image');
?>
<div class="main_block inn_pad mob_bg">
    <div class="inner52_mob">
        <div class="mobile_hedding mrg111">
            <h2><?php echo $this->__('EARN UP TO <br />5% PROFIT POINTS'); ?></h2>
        </div>
    </div>
    <div class="container">

        <div class="row">

            <div class="giftcard_mall hidden-xs clearfix">
                <?php echo $this->getTopHtml(); ?>
            </div>
            <div class="left_block col-sm-3 col-xs-12 hidden-xs">
                <?php if (sizeof($data_left) > 0) { ?>
                    <?php
                    $first = 0;
                    foreach ($data_left as $left) { ?>
                        <div class="sidebar <?php if (($active_category == null && $first == 0) || ($active_category
                                != null && $active_category == $left->getId())
                        ) { ?>active<?php
                        } ?>">
                            <h6><?php echo $left->getName(); ?></h6>
                            <?php
                            $sub_categories = $this->getChildCategories($left);
                            if (sizeof($sub_categories) > 0) {
                                ?>
                                <div class="sub_blk">
                                    <ul>
                                        <?php if ($current_filter_cat != null && ($active_category == null && $first == 0) ||
                                            ($active_category != null && $active_category == $left->getId())
                                        ) { ?>
                                            <li>
                                                <a href="<?php echo $this->getMainPage(); ?>">
                                                <span>
                                                    <?php echo $this->__('Clear'); ?>
                                                </span>
                                                </a>
                                            </li>
                                        <?php } ?>
                                        <?php foreach ($sub_categories as $sub) { ?>
                                            <?php if (($active_category == null && $first == 0) ||
                                                ($active_category != null && $active_category == $left->getId())
                                            ) { ?>
                                                <?php if ($current_filter_cat != null && $current_filter_cat == $sub->getId()) { ?>
                                                    <li>
                                                        <a href="<?php echo $this->getUrlCategoryPage($sub->getId()); ?>">
                                                    <span>
                                                        <?php echo $sub->getName(); ?>
                                                        (<?php echo $sub->getProductCount(); ?>)
                                                    </span>
                                                        </a>
                                                    </li>
                                                <?php } else if ($current_filter_cat == null) { ?>
                                                    <li>
                                                        <a href="<?php echo $this->getUrlCategoryPage($sub->getId()); ?>">
                                                        <span>
                                                            <?php echo $sub->getName(); ?>
                                                            (<?php echo $sub->getProductCount(); ?>)
                                                        </span>
                                                        </a>
                                                    </li>
                                                <?php } ?>
                                            <?php } else { ?>
                                                <li>
                                                    <a href="<?php echo $this->getUrlCategoryPage($sub->getId()); ?>">
                                                <span>
                                                    <?php echo $sub->getName(); ?>
                                                    (<?php echo $sub->getProductCount(); ?>)
                                                </span>
                                                    </a>
                                                </li>
                                            <?php } ?>
                                        <?php } ?>
                                    </ul>
                                </div>
                            <?php } ?>
                        </div>
                        <?php $first++;
                    } ?>
                <?php } ?>
            </div>

            <div class="right_block col-sm-9 col-xs-12">
                <div class="right_block_in">
                    <div class="search_bar last padd_bot">
                        <h3 class="padd232 hidden-xs"><?php echo $this->__('All BRANDS'); ?></h3>

                        <h3 class="padd232 visible-xs"><?php echo $this->__('Gift Cards'); ?></h3>

                        <div class="clearfix"></div>
                    </div>
                    <div class="all_brands_blk new_gift_card">
                        <?php echo $this->getToolbarHtml(); ?>
                        <div class="atoz_block">
                            <ul>
                                <?php
                                foreach ($search_array as $search_array_value) {
                                    ?>
                                    <li class="<?php if (strcasecmp($a, $search_array_value) == 0 || ($a == null &&
                                            $search_array_value == '#')
                                    ) {
                                        ?>active<?php }
                                    ?>">
                                        <a href="<?php echo $this->getUrlPage(array('a' => $search_array_value)); ?>"
                                           title="<?php echo '' ?>"
                                           class="<?php echo 'ap'; ?>">
                                            <?php echo $search_array_value; ?>
                                        </a>
                                    </li>
                                <?php } ?>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <?php if (sizeof($collection) > 0) { ?>
                            <div class="membership_card">
                                <ul>
                                    <?php foreach ($collection as $_product) { ?>
                                        <?php
                                        $shop_now_url = Mage::helper('customproduct')->getShopNowUrl($_product);
                                        $image_src = $_image_helper->init($_product, 'small_image')->constrainOnly(FALSE)
                                            ->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize(375, 234);
                                        if ($image_src == '')
                                            $image_src = $this->getSkinUrl('images/no_image.png');
                                        ?>
                                        <li class="col-md-4 col-xs-6">
                                            <a href="<?php echo $shop_now_url; ?>" class="custom-url"
                                               title="<?php echo $_product->getName(); ?>"
                                               id="<?php echo $_product->getId();?>" target="_blank">
                                                <img src="<?php echo $image_src; ?>"
                                                     alt="<?php echo $_product->getName(); ?>">
                                                <span><?php echo $this->displayName($_product->getName()); ?></span>
                                            </a>
                                        </li>
                                    <?php } ?>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="item_total mrg33">
                                <div class="clearfix"></div>
                            </div>
                        <?php } else { ?>
                            <div class="membership_card">
                                <ul>
                                    <li class="col-md-12 col-xs-12">
                                        <p><?php echo $this->__('No products found.'); ?></p>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                        <?php } ?>

                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $j = jQuery.noConflict();
    $j('.main').addClass('main_content');

    $j(document).ready(function (e) {
        $j('nav').clone().appendTo('.left_bar');
        $j('.orange_nav').clone().appendTo('.left_bar');
        $j('.bluebar_nav').clone().appendTo('.left_bar');
        $j('.menu_icon').click(function (e) {
            $j('body').toggleClass('openclass')
        });

        $j('.mrg33').html($j('.item_total').html());

        $j(".sidebar.active .sub_blk").show();
        $j(".sidebar h6").click(function () {
            $j(this).parent().toggleClass('active');
            $j(this).parent().siblings().removeClass('active');
            $j(this).parent().find('.sub_blk').slideToggle();
            $j(this).parent().siblings().find('.sub_blk').slideUp();
        });
        $j(window).scroll(function () {
            if ($j(this).scrollTop() > 100) {
                $j('.BaclToTop').fadeIn();
            } else {
                $j('.BaclToTop').fadeOut();
            }
        });
        
        var get_content_url = '<?php echo $this->getUrl('fundraiser/index/getContentPopup');?>';

        <?php if (!$is_logged) { ?>
            <?php if($is_help_fundraiser){?>
            $j(document).on('click', 'a.custom-url', function () {
                $j.ajax({
                    url: get_content_url,
                    data: {id: $j(this).attr('id'), gift_card_mall: true},
                    success: function (result) {
                        $j(this).fancybox({
                            autoHeight: true,
                            minHeight: 10,
                            content: result
                        }).trigger('click');
                    }
                });

                return false;
            });
            <?php } else {?>

            $j(document).on('click', 'a.custom-url', function () {
                $j.ajax({
                    url: get_content_url,
                    data: {id: $j(this).attr('id'), gift_card_mall: true},
                    success: function (result) {
                        $j(this).fancybox({
                            autoHeight: true,
                            minHeight: 10,
                            content: result
                        }).trigger('click');
                    }
                });

                return false;
            });
            <?php }?>
        <?php } else { ?>
            $j(document).on('click', 'a.custom-url', function () {
                $j.ajax({
                    url: get_content_url,
                    data: {id: $j(this).attr('id'), gift_card_mall: true},
                    success: function (result) {
                        $j(this).fancybox({
                            autoHeight: true,
                            minHeight: 10,
                            content: result
                        }).trigger('click');
                    }
                });

                return false;
            });
        <?php } ?>
    });
</script>
