<?php
$is_logged = Mage::getSingleton('customer/session')->isLoggedIn();
$is_help_fundraiser = Mage::helper('fundraiser')->isShowHelpAffiliateFundraiser();
$login_url = Mage::helper('customproduct')->getLoginUrl();

?>
<script type="text/javascript">
    $j = $j.noConflict();

    var get_content_url_search = '<?php echo $this->getUrl('fundraiser/index/getContentSearchPopup');?>';
    var auto_open;

	$j(document).ready(function(e) {
        var _new_content = $j('#myTabContent').html().replace(/{{customer_id}}/g, '<?php echo $this->getCustomerIdInUrl();?>');
        $j('#myTabContent').html(_new_content);

        $j('nav').clone().appendTo('.left_bar');
        $j('.orange_nav').clone().appendTo('.left_bar');
        $j('.bluebar_nav').clone().appendTo('.left_bar');

        $j('.menu_icon').click(function(e) {
            $j('body').toggleClass('openclass')
        });

        // $j('#myTab').tabCollapse();

        $j(window).scroll(function () {
            if ($j(this).scrollTop() > 100) {
                $j('.BaclToTop').fadeIn();
            } else {
                $j('.BaclToTop').fadeOut();
            } 
        });
    });

    <?php if (!$is_logged) { ?>
        <?php if($is_help_fundraiser){?>
        $j(document).on('click', 'a.custom-url', function () {
            $j.ajax({
                url: get_content_url_search,
                data: {name: $j(this).attr('title'), url: $j(this).attr('href')},
                success: function (result) {
                    $j(this).fancybox({
                        autoHeight: true,
                        minHeight: 10,
                        content: result
                    }).trigger('click');
                }
            });

            return false;
        });
        <?php } else {?>
        $j(document).on('click', 'a.custom-url', function () {
            // document.getElementById("overlay").style.display = "block";
            $j.ajax({
                url: get_content_url_search,
                data: {name: $j(this).attr('title'), url: $j(this).attr('href')},
                success: function (result) {
                    // document.getElementById("overlay").style.display = "none";
                    $j(this).fancybox({
                        autoHeight: true,
                        minHeight: 10,
                        content: result
                    }).trigger('click');

                    auto_open = setTimeout(function(){
                        if(typeof $j('.fancybox-opened .sn_continue').attr('href') != 'undefined'){
                            var win = window.open($j('.fancybox-opened .sn_continue').attr('href'), '_blank');
                            win.focus();
                            // win.location;
                        }
                    }, 5000);
                }
            });

            return false;
        });

        
        
        <?php }?>
    <?php } else { ?>
        $j(document).on('click', 'a.custom-url', function () {
        $j.ajax({
            url: get_content_url_search,
            data: {name: $j(this).attr('title'), url: $j(this).attr('href')},
            success: function (result) {
                $j(this).fancybox({
                    autoHeight: true,
                    minHeight: 10,
                    content: result
                }).trigger('click');
            }
        });

        return false;
    });
    <?php } ?>

    $j(document).on('click', '.sn_continue', function () {
        clearTime();
    });

    $j(document).on('click', '.fancybox-close', function () {
        clearTime();
    });

    function clearTime()
    {
        clearTimeout(auto_open);
    }
</script>