<?php
$store = Mage::app()->getStore();
$code  = $store->getCode();
?>

<?php if($this->getCollection()->getSize()): ?>

    <?php if($this->getLastPageNum()>1): ?>
        <ul>
            <?php if (!$this->isFirstPage()): ?>
                <li><a class="first" href="<?php echo $this->getFirstPageUrl() ?>">
                        <span><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
                    </a></li>
            <?php endif;?>
            <?php if (!$this->isFirstPage()): ?>
                <li>
                    <a class="previous<?php if(!$this->getAnchorTextForPrevious()): ?> i-previous<?php endif;?>" href="<?php echo $this->getPreviousPageUrl() ?>" title="<?php echo $this->__('Previous') ?>">
                        <span><i class="fa fa-angle-left" aria-hidden="true"></i></span>
                    </a>
                </li>
            <?php endif;?>

            <?php foreach ($this->getFramePages() as $_page): ?>
                <?php if ($this->isPageCurrent($_page)): ?>
                    <li class="current"><?php echo $_page ?></li>
                <?php else: ?>
                    <li><a href="<?php echo $this->getPageUrl($_page) ?>"><?php echo $_page ?></a></li>
                <?php endif;?>
            <?php endforeach;?>

            <?php if (!$this->isLastPage()): ?>
                <li>
                    <a class="next<?php if(!$this->getAnchorTextForNext()): ?> i-next<?php endif; ?>" href="<?php echo $this->getNextPageUrl() ?>" title="<?php echo $this->__('Next') ?>">
                        <i class="fa fa-angle-right" aria-hidden="true"></i></span>
                    </a>
                </li>
            <?php endif;?>

            <?php if (!$this->isLastPage()): ?>
                <li><a class="last" href="<?php echo $this->getLastPageUrl() ?>">
                        <span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                    </a></li>
            <?php endif;?>
        </ul>
    <?php endif; ?>
<?php endif ?>
