<?php 
if(Mage::getSingleton('core/session')->getIsPopupSuspended() == 2 && Mage::helper('other')->getConfigData('customer_suspended', 'enable')){?>
<?php 
$content_popup = Mage::helper('other')->getConfigData('customer_suspended', 'content_popup');
?>
<div id="show_suspended_popup"></div>
<script type="text/javascript">
	$j = jQuery.noConflict();
	var get_content_url = '<?php echo $this->getUrl('other/index/getContentSuspendedPopup');?>';
	$j(document).ready(function(){
		$j.ajax({
            url: get_content_url,
            data: {},
            success: function (result) {
                $j('#show_suspended_popup').fancybox({
			        autoHeight: true,
			        minHeight: 10,
			        content: result
			    }).trigger('click');
            }
        });
	});
	

</script>
<?php }?>