<?php if($this->getCollection()->getSize()): ?>
    <div class="item_per_page">
        <div class="item_slt pull-left">
            <select class="selectpicker" onchange="setLocation(this.value)">
                <option><?php echo $this->__('Item Per Page') ?></option>
                <?php foreach ($this->getAvailableLimit() as  $_key=>$_limit): ?>
                    <option value="<?php echo $this->getLimitUrl($_key) ?>"<?php if($this->isLimitCurrent($_key)): ?> selected="selected"<?php endif ?>>
                        <?php echo $_limit ?>
                    </option>
                <?php endforeach; ?>
            </select>
        </div>
        <?php if( $this->isExpanded() ): ?>
        <div class="item_slt pull-right">
            <select class="selectpicker" onchange="setLocation(this.value)">
                <?php foreach($this->getAvailableOrders() as $_key=>$_order): ?>
                    <option value="<?php echo $this->getOrderUrl($_key, null) ?>"<?php if($this->isOrderCurrent($_key)): ?> selected="selected"<?php endif; ?>>
                        <?php echo $this->__($_order) ?>
                    </option>
                <?php endforeach; ?>
            </select>
        </div>
        <?php endif; ?>
        <div class="clearfix"></div>
    </div>
    <div class="item_total">
        <div class="item_total_left pull-left">
            <span>
                <?php if($this->getLastPageNum()>1): ?>
                    <?php echo $this->__('Items %s to %s of %s total', $this->getFirstNum(), $this->getLastNum(), $this->getTotalNum()) ?>
                <?php else: ?>
                    <?php echo $this->__('%s Item(s)', $this->getTotalNum()) ?>
                <?php endif; ?>
            </span>
        </div>
        <div class="page_num pull-right">
            <?php echo $this->getPagerHtml() ?>
        </div>
        <div class="clearfix"></div>
    </div>
<?php endif; ?>
