<?php 
	/**
	 * yourstats template
	 */
$customer_stats = $this->getCustomerStats();
?>

<div class="right_block col-sm-12 col-xs-12 width_full">
	<div class="right_block_in margin_top">
		<div class="search_bar last">
			<div class="head_txt">
				<h3 class="text-uppercase"><?php echo $this->__('YOUR STATS NUMBER'); ?></h3>
			</div>
		</div>
		<div class="your_starts">
			<div class="your_starts_info">
				<ul>
					<li class="col-xs-4">
						<div class="points_list">
							<strong>
								<?php
								if ($customer_stats != null && isset($customer_stats['personal_points']))
									echo number_format($customer_stats['personal_points'], 1);
								else
									echo '0';
								?>
							</strong>
							<small><?php echo $this->__('personal<br>points'); ?></small>
						</div>

						<div class="points_list">
							<strong>
								<?php
								if ($customer_stats != null && isset($customer_stats['next_level_points']))
									echo number_format($customer_stats['next_level_points']);
								else
									echo '0';
								?>
							</strong>
							<small><?php echo $this->__('next level <br>points'); ?></small>
						</div>

						<div class="points_list">
							<strong>
								<?php
								if ($customer_stats != null && isset($customer_stats['trubox_engagement_pct']))
									echo number_format(($customer_stats['trubox_engagement_pct'] * 100)) . '%';
								else
									echo '0';
								?>
							</strong>
							<small><?php echo $this->__('trubox<br>engagement'); ?></small>
						</div>
					</li>

					<li class="col-xs-4">
						<div class="points_list">
							<strong>
								<?php
								if ($customer_stats != null && isset($customer_stats['match_points']))
									echo number_format($customer_stats['match_points'], 1);
								else
									echo '0';
								?>
							</strong>
							<small><?php echo $this->__('connection <br>points'); ?></small>
						</div>

						<div class="points_list">
							<strong>
								<?php
								if ($customer_stats != null && isset($customer_stats['unearned_points']))
									echo number_format($customer_stats['unearned_points']);
								else
									echo '0';
								?>
							</strong>
							<small><?php echo $this->__('unearned <br>points'); ?></small>
						</div>

						<div class="points_list">
							<strong>
								<?php
								if ($customer_stats != null && isset($customer_stats['customer_engagement_pct']))
									echo number_format(($customer_stats['customer_engagement_pct'] * 100)) . '%';
								else
									echo '0';
								?>
							</strong>
							<small><?php echo $this->__('customer<br>engagement'); ?></small>
						</div>
					</li>

					<li class="col-xs-4">
						<div class="points_list">
							<strong>
								<?php
								if ($customer_stats != null && isset($customer_stats['guest_commission']))
									echo number_format($customer_stats['guest_commission']);
								else
									echo '0';
								?>
							</strong>
							<small><?php echo $this->__('guest<br>commission'); ?></small>
						</div>

						<div class="points_list">
							<strong>
								<?php
								if ($customer_stats != null && isset($customer_stats['efficient_match_points']))
									echo number_format($customer_stats['efficient_match_points']);
								else
									echo '0';
								?>
							</strong>
							<small><?php echo $this->__('your efficient<br>point match'); ?></small>
						</div>

						<div class="points_list">
							<strong>
								<?php
								if ($customer_stats != null && isset($customer_stats['on_hold_points']))
									echo number_format($customer_stats['on_hold_points']);
								else
									echo '0';
								?>
							</strong>
							<small><?php echo $this->__('points<br>on hold'); ?></small>
						</div>
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<div class="your_starts_depth">
				<ul>
					<li class="col-xs-4">
						<h3><?php echo $this->__('DEPTH CREDIT'); ?></h3>
						<div class="depth_in">
							<div class="points_list">
								<strong>
									<?php
									if ($customer_stats != null && isset($customer_stats['trubox_engagement_pct']))
										echo number_format(($customer_stats['trubox_engagement_pct'] * 100)) . '%';
									else
										echo '0';
									?>
								</strong>
								<small><?php echo $this->__('TRUBOX<br>ENGAGEMENT'); ?></small>
							</div>

							<div class="points_list">
								<strong>0</strong>
								<small class="depth_pad"><?php echo $this->__('points'); ?></small>
							</div>

							<div class="points_list">
								<strong>
									<?php
									if ($customer_stats != null && isset($customer_stats['customer_engagement_pct']))
										echo number_format(($customer_stats['customer_engagement_pct'] * 100)) . '%';
									else
										echo '0';
									?>
								</strong>
								<small><?php echo $this->__('CUSTOMER<br>engagement'); ?></small>
							</div>
						</div>
					</li>

					<li class="col-xs-4">
						<h3><?php echo $this->__('SWEET 15 DEPTH'); ?></h3>
						<div class="depth_in">
							<div class="points_list">
								<strong>
									<?php
									if ($customer_stats != null && isset($customer_stats['sweet15_trubox_engagement_pct']))
										echo number_format(($customer_stats['sweet15_trubox_engagement_pct'] * 100)) . '%';
									else
										echo '0';
									?>
								</strong>
								<small><?php echo $this->__('TRUBOX<br>ENGAGEMENT'); ?></small>
							</div>

							<div class="points_list">
								<strong>0</strong>
								<small class="depth_pad"><?php echo $this->__('points'); ?></small>
							</div>

							<div class="points_list">
								<strong>
									<?php
									if ($customer_stats != null && isset($customer_stats['sweet15_customer_engagement_pct']))
										echo number_format(($customer_stats['sweet15_customer_engagement_pct'] * 100)) . '%';
									else
										echo '0';
									?>
								</strong>
								<small><?php echo $this->__('CUSTOMER<br>engagement'); ?></small>
							</div>
						</div>
					</li>

					<li class="col-xs-4">
						<h3><?php echo $this->__('TOTAL DEPTH'); ?></h3>
						<div class="depth_in">
							<div class="points_list">
								<strong>
									<?php
									if ($customer_stats != null && isset($customer_stats['all_trubox_engagement_pct']))
										echo number_format(($customer_stats['all_trubox_engagement_pct'] * 100)) . '%';
									else
										echo '0';
									?>
								</strong>
								<small><?php echo $this->__('TRUBOX<br>ENGAGEMENT'); ?></small>
							</div>

							<div class="points_list">
								<strong>0</strong>
								<small class="depth_pad"><?php echo $this->__('points'); ?></small>
							</div>

							<div class="points_list">
								<strong>
									<?php
									if ($customer_stats != null && isset($customer_stats['all_customer_engagement_pct']))
										echo number_format(($customer_stats['all_customer_engagement_pct'] * 100)) . '%';
									else
										echo '0';
									?>
								</strong>
								<small><?php echo $this->__('CUSTOMER<br>engagement'); ?></small>
							</div>
						</div>
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<button type="button" class="btn_back transition"><?php echo $this->__('BACK'); ?></button>
		</div>
	</div>
</div>

<script type="text/javascript">
	$j = jQuery.noConflict();
	$j('.main-container').addClass('main_block inn_pad');
	$j('.main').addClass('container');
	$j('.main .col-main').addClass('row');
	$j('.page').addClass('main_content');

	$j('.btn_back').click(function () {
		history.back();
		return false;
	});
</script>
