/**
 * WARNING: Do not change this file. Your changes will be lost.
 * 2017-10-06 08:21:54 */

.header .form-search #search { width: 340px; height: 35px; }
.header>.logo { margin-right: 20px; }
.footer-middle .block.block-subscribe .input-box button { border-left: 0; }
.footer-middle .block.block-subscribe .input-box button span { background-color: #65829d; color: #fff; }
.footer-middle .block.block-subscribe .input-box input.input-text { border: 0; background-color: #fff; }
.header-container.type6 { border-top: 5px solid #56738e; }