<?php
$q = $this->getRequest()->getPost('q');
$is_logged = Mage::getSingleton('customer/session')->isLoggedIn();
$is_help_fundraiser = Mage::helper('fundraiser')->isShowHelpAffiliateFundraiser();
$login_url = Mage::helper('customproduct')->getLoginUrl();

if ($q == null) {
    $category = Mage::registry('current_category');
    $subcategoryIds = $category->getChildren();
    $subcategoryIds = explode(",", $subcategoryIds);

    $manufacturer = $this->getRequest()->getParam('manufacturer');
    $promotion_type = $this->getRequest()->getParam('promotion_type');
    $cat = $this->getRequest()->getParam('cat');
    $walmart = $this->getRequest()->getParam('walmart');
    $bestsellers = $this->getRequest()->getParam('bestsellers');

    $todayStartOfDayDate = Mage::app()->getLocale()->date()
        ->setTime('00:00:00')
        ->toString(Varien_Date::DATETIME_INTERNAL_FORMAT);

    $todayEndOfDayDate = Mage::app()->getLocale()->date()
        ->setTime('23:59:59')
        ->toString(Varien_Date::DATETIME_INTERNAL_FORMAT);
    $_productCollection = $this->getLoadedProductCollection();

    if ($manufacturer != null) {
        $_productCollection->addAttributeToFilter('manufacturer', base64_decode($manufacturer));
    }

    if ($promotion_type != null) {
        $_productCollection->addAttributeToFilter('primary_promotion_type', base64_decode($promotion_type));
    }

    if ($cat != null) {
        $_productCollection->addAttributeToFilter('primary_category', array('like' => '%' . base64_decode($cat) . '%'));
    }

    if ($walmart != null) {
        $_productCollection->addAttributeToFilter('specialOffer', array('like' => '%' . base64_decode($walmart) . '%'));
    }

    if ($bestsellers != null) {
        $_productCollection->addAttributeToFilter('is_bestsellers', array('eq' => $bestsellers));
    }

    $random_attr = array(
        'entity_id',
        'name',
        'manufacturer',
        'primary_promotion_type',
        'primary_category',
        'specialOffer',
        'is_bestsellers',
        'daily_deals_msrp',
        'daily_deals_sale_price',
        'sku',
        'url_key',
    );

    $_random = $random_attr[array_rand($random_attr, 1)];

    $_productCollection->clear()->addAttributeToFilter('news_from_date', array('or' => array(
        0 => array('date' => true, 'to' => $todayEndOfDayDate),
        1 => array('is' => new Zend_Db_Expr('null')))
    ), 'left')
        ->addAttributeToFilter('news_to_date', array('or' => array(
            0 => array('date' => true, 'from' => $todayStartOfDayDate),
            1 => array('is' => new Zend_Db_Expr('null')))
        ), 'left')
        ->setOrder($_random, 'asc')
        ->setPageSize(150)
        ->load();


    $_helper = $this->helper('catalog/output');
    $_image_helper = $this->helper('catalog/image');
    $store = Mage::app()->getStore();
    $code = $store->getCode();

} else {
    $params = $this->getRequest()->getPost();
    $data = Mage::helper('manageapi/product')->processAPI($params);
}

$_coreHelper = $this->helper('core');
?>

<script src="<?php echo $this->getSkinUrl('js/jquery.simplePagination.js'); ?>"></script>

<?php if ($q == null) { ?>
    <?php if ($_coreHelper->isModuleEnabled("Magegiant_Dailydeal")): ?>
        <script type="text/javascript">
            //<![CDATA[
            var dailydealTimeCountersCategory = new Array();
            var i = 0;
            //]]>
        </script>
    <?php endif; ?>
    <?php if (!$_productCollection->count()): ?>
        <div class="category-products">
            <p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
        </div>
    <?php else: ?>
        <div class="category-products">
            <?php
            foreach ($subcategoryIds as $cat_id):
                $cat = Mage::getModel('catalog/category')->load($cat_id);
                $cat_name = strtoupper($cat->getName());
                ?>
                <div class="search_bar text-center padd_bot">
                    <h3 class="pad_last"><?php echo $cat_name; ?></h3>
                    <div class="clearfix"></div>
                </div>
                <?php // List mode
                ?>
                <?php if ($this->getMode() == 'grid'): ?>
                <?php // Grid Mode ?>
                <?php $_collectionSize = $_productCollection->count() ?>
                <?php $_columnCount = Mage::getStoreConfig("porto_settings/category_grid/columns", $code); ?>
                <div class="product_blk1 no_load_more daily_deals_list">
                    <ul>
                        <?php $i = 0;
                        $flag_shop_now = false;
                        foreach ($_productCollection as $_product): ?>
                            <?php if (!in_array($cat_id, $_product->getCategoryIds())) continue; ?>
                            <?php
                            $product = $_product;
                            $share_url = '';
                            if (Mage::helper('customproduct')->isAppliedToProductType($_product->getTypeId())) {
                                $shop_now_url = Mage::helper('customproduct')->getShopNowUrl($_product);
                                $share_url = Mage::helper('customproduct')->getShopNowUrl($_product, true);
                            } else {
                                $shop_now_url = $_product->getProductUrl();
                            }
                            ?>
                            <li class="col-sm-3 col-xs-12">
                                <div class="product">
                                    <a href="<?php echo $shop_now_url ?>" class="custom-url" target="_blank"
                                       url-id="<?php echo $_product->getId(); ?>"
                                       title="<?php echo $this->stripTags($_product->getName(), null, true) ?>">
                                        <img id="product-collection-image-<?php echo $_product->getId(); ?>"
                                             src="<?php
                                             $image_src = $_product->getData('external_image_url');

                                             if ($image_src != null)
                                                 echo $image_src;
                                             else if ($_product->getManufacturer() > 0)
                                                 echo Mage::helper('attributeoptionimage')->getAttributeOptionImage($_product->getManufacturer()); ?>"
                                             alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"/>
                                    </a>

                                    <div class="price-box">
                                        <?php if ($_product->getData('daily_deals_msrp') > 0) { ?>
                                            <?php if ($_product->getData('daily_deals_sale_price') > 0) { ?>
                                                <p class="regular-price">
                                    <span>
                                        <?php echo $this->__('Was %s', Mage::helper('core')->currency(
                                            $_product->getData('daily_deals_msrp'),
                                            true,
                                            false
                                        )); ?>
                                        </span>
                                                </p>

                                                <p class="regular-price dd-price">
                                        <span>
                                            <?php
                                            $_discount = floatval($_product->getData('daily_deals_msrp')) - floatval($_product->getData('daily_deals_sale_price'));
                                            $discount = number_format(
                                                ($_discount / floatval($_product->getData('daily_deals_msrp'))) * 100,
                                                1
                                            );
                                            echo $this->__('Save %s', $discount) . '%';
                                            ?>
                                        </span>
                                                </p>
                                                <p class="sale_price">
                                        <span>
                                            <?php echo Mage::helper('core')->currency(
                                                $_product->getData('daily_deals_sale_price'),
                                                true,
                                                false
                                            ); ?>
                                            </span>
                                                </p>
                                            <?php } else { ?>
                                                <p class="regular-price"><span></span></p>
                                                <p class="regular-price dd-price"><span></span></p>
                                                <p class="sale_price">
                                            <span>
                                                <?php echo Mage::helper('core')->currency(
                                                    $_product->getData('daily_deals_msrp'),
                                                    true,
                                                    false
                                                ); ?>
                                                </span>
                                                </p>
                                            <?php } ?>
                                        <?php } else if ($_product->getData('daily_deals_sale_price') > 0) { ?>
                                            <p class="regular-price"><span></span></p>
                                            <p class="regular-price dd-price"><span></span></p>
                                            <p class="sale_price">
                                                <span>
                                                    <?php echo Mage::helper('core')->currency(
                                                        $_product->getData('daily_deals_sale_price'),
                                                        true,
                                                        false
                                                    ); ?>
                                                    </span>
                                            </p>
                                        <?php } ?>
                                    </div>
                                    <div class="clearfix"></div>

                                    <h5>
                                        <a href="<?php echo $shop_now_url ?>" class="custom-url" target="_blank"
                                           url-id="<?php echo $_product->getId(); ?>"
                                           title="<?php echo $this->stripTags($_product->getName(), null, true) ?>">
                                            <?php
                                            $origin_name = $_helper->productAttribute($_product, $_product->getName(), 'name');
                                            if (strlen($origin_name) > 30) {
                                                echo trim(substr($origin_name, 0, 30)) . '...';
                                            } else {
                                                echo $origin_name;
                                            }
                                            ?>
                                        </a>
                                    </h5>
                                    <div class="clearfix"></div>
                                    <?php if ($is_logged) { ?>
                                        <div class="get_link_wrapper">
                                            <span class="result_copy"></span>
                                            <a href="<?php echo $share_url; ?>"
                                               title="<?php echo $this->__('Get Link'); ?>"
                                               class="get_link" onclick="copyToClipboard(this); return false;">
                                                <?php echo $this->__('Get Link'); ?>
                                            </a>
                                        </div>
                                    <?php } ?>
                                    <div class="clearfix"></div>
                                    <a href="<?php echo $shop_now_url ?>" rel="nofollow"
                                       class=" custom-url view_details"
                                       target="_blank" url-id="<?php echo $_product->getId(); ?>">
                                        <span><?php echo $this->__('View Details'); ?></span>
                                    </a>
                                </div>
                            </li>
                        <?php endforeach ?>
                    </ul>
                </div>
            <?php endif; ?>
                <?php if (Mage::getStoreConfig("ajax_catalog/price_slider_settings/infinitescroll", $code)): ?>
                <div class="infinite-loader"><span class="loading"><i
                                class="ajax-loader small animate-spin"></i><?php echo $this->__("Loading ..."); ?></span><a
                            href="javascript:void(0)"
                            class="btn-load-more"><?php echo $this->__("Load More ..."); ?></a>
                </div>
            <?php endif; ?>
            <?php endforeach; ?>
        </div>
    <?php endif; ?>
<?php } else { ?>
    <?php
    $merchants = $data['resources']['merchants']['merchant'];
    $_list = $data['results']['products']['product'];
    if (!isset($_list) || sizeof($_list) == 0) {
        ?>
        <div class="category-products">
            <div class="search_bar text-center padd_bot">
                <h3 class="pad_last"><?php echo $this->__('Search results for %s', $q) ?></h3>
                <div class="clearfix"></div>
            </div>
            <div class="product_blk1 no_load_more daily_deals_list">
                <p class="note-msg"><?php echo $this->__('Your search returns no results.') ?></p>
            </div>
        </div>
    <?php } else { ?>
        <?php
        $current_page = 0;
        $items_per_page = 0;
        foreach ($data['parameters'] as $param) {
            if (strcasecmp($param['name'], 'page') == 0 && strcasecmp($param['kind'], 'pagination') == 0) {
                $current_page = $param['value'];
            }

            if (strcasecmp($param['name'], 'results_per_page') == 0 && strcasecmp($param['kind'], 'pagination') == 0) {
                $items_per_page = $param['value'];
            }
        }
        $total_items = $data['results']['products']['count'] > 1000 ? 1000 : $data['results']['products']['count'];
        $last_page = ceil($total_items / $items_per_page);
        ?>
        <div class="category-products">
            <div class="search_bar text-center padd_bot">
                <h3 class="pad_last"><?php echo $this->__('Search results for %s', $q) ?></h3>
                <div class="clearfix"></div>
            </div>
            <div class="item_total">
                <div class="item_total_left pull-left">
                    <span><?php echo $this->__('Items %s to %s of %s total', ($current_page * $items_per_page - $items_per_page + 1), $current_page * $items_per_page, $total_items); ?></span>
                </div>
                <div class="page_num pull-right">
                    <ul class="paginationdd"></ul>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="product_blk1 no_load_more">
                <div class="daily_deals_list">
                    <ul>
                        <?php foreach ($_list as $p) { ?>
                            <?php
                            $merchant_name = '';
                            foreach ($merchants as $merchant) {
                                if ($merchant['id'] == $p['offers']['offer'][0]['merchant']) {
                                    $merchant_name .= $merchant['name'];
                                    break;
                                }
                            }

                            $url = '';
                            $class_btn = '';
                            if ($p['offer_count'] == 1 || isset($p['offers']['offer'][0])) {
                                $url = $p['offers']['offer'][0]['url'];
                                $url .= '&tracking_id=';
                                if ($is_logged) {
                                    $url .= Mage::getSingleton('customer/session')->getCustomer()->getId();
                                } else {
                                    $affiliate_account = Mage::helper('affiliateplus/account')->getAffiliateInfoFromCookie();

                                    if ($affiliate_account != null && $affiliate_account->getId()) {
                                        $url .= $affiliate_account->getCustomerId() . '_aff';
                                    } else {
                                        $url .= 'guest';
                                    }
                                }
                                $class_btn .= 'custom-url-search';
                            } else {
                                $class_btn .= 'custom-url-search-offer';
                            }
                            ?>
                            <li class="col-sm-3 col-xs-12">
                                <div class="product">
                                    <a href="<?php echo $url ?>" class="<?php echo $class_btn; ?>" target="_blank"
                                       url-id="<?php echo $p['id']; ?>"
                                       title="<?php echo $this->stripTags($p['name'], null, true) ?>">
                                        <img id="product-collection-image-<?php echo $p['id']; ?>"
                                             src="<?php echo $p['image_url_large'] ?>"
                                             alt="<?php echo $this->stripTags($p['name'], null, true) ?>"/>
                                    </a>
                                    <div class="merchant_name">
                                        <?php echo $merchant_name; ?>
                                    </div>

                                    <div class="price-box">
                                        <?php if ($p['offer_count'] == 1 || isset($p['offers']['offer'][0])) { ?>
                                            <?php $offers = $p['offers']['offer'][0];
                                            if (isset($offers['percent_off']) && $offers['percent_off'] > 0) { ?>
                                                <p class="regular-price">
                            <span>
                                <?php echo $this->__('Was %s', Mage::helper('core')->currency(
                                    $offers['price_retail'],
                                    true,
                                    false
                                )); ?>
                                </span>
                                                </p>

                                                <p class="regular-price dd-price">
                                <span>
                                    <?php
                                    echo $this->__('Save %s', $offers['percent_off']) . '%';
                                    ?>
                                </span>
                                                </p>
                                                <p class="sale_price">
                                <span>
                                    <?php echo Mage::helper('core')->currency(
                                        $offers['price_merchant'],
                                        true,
                                        false
                                    ); ?>
                                    </span>
                                                </p>
                                            <?php } else { ?>
                                                <p class="regular-price"><span></span></p>
                                                <p class="regular-price dd-price"><span></span></p>
                                                <p class="sale_price">
                                    <span>
                                        <?php echo Mage::helper('core')->currency(
                                            $offers['price_retail'],
                                            true,
                                            false
                                        ); ?>
                                        </span>
                                                </p>
                                            <?php } ?>
                                        <?php } ?>
                                    </div>
                                    <div class="clearfix"></div>

                                    <h5>
                                        <a href="<?php echo $url ?>" class="<?php echo $class_btn; ?>" target="_blank"
                                           url-id="<?php echo $p['id']; ?>"
                                           title="<?php echo $this->stripTags($p['name'], null, true) ?>">
                                            <?php
                                            $origin_name = $p['name'];
                                            if (strlen($origin_name) > 30) {
                                                echo trim(substr($origin_name, 0, 30)) . '...';
                                            } else {
                                                echo $origin_name;
                                            }
                                            ?>
                                        </a>
                                    </h5>
                                    <div class="clearfix"></div>
                                    <?php if ($is_logged && ($p['offer_count'] == 1 || isset($p['offers']['offer'][0]))) { ?>
                                        <div class="get_link_wrapper">
                                            <span class="result_copy"></span>
                                            <a href="<?php echo $url . '_aff'; ?>"
                                               title="<?php echo $this->__('Get Link'); ?>"
                                               class="get_link" onclick="copyToClipboard(this); return false;">
                                                <?php echo $this->__('Get Link'); ?>
                                            </a>
                                        </div>
                                    <?php } ?>
                                    <div class="clearfix"></div>
                                    <?php if ($p['offer_count'] == 1 || isset($p['offers']['offer'][0])) { ?>
                                        <a href="<?php echo $url ?>" rel="nofollow"
                                           class=" <?php echo $class_btn; ?> view_details"
                                           target="_blank"
                                           title="<?php echo $this->stripTags($p['name'], null, true) ?>">
                                            <span><?php echo $this->__('View Details'); ?></span>
                                        </a>
                                    <?php } else { ?>
                                        <a href="<?php echo '#' ?>" rel="nofollow"
                                           class=" <?php echo $class_btn; ?> view_details"
                                           target="_blank" url-id="<?php echo $p['id']; ?>">
                                            <span><?php echo $this->__('View Offers'); ?></span>
                                        </a>
                                    <?php } ?>
                                </div>
                            </li>
                        <?php } ?>
                    </ul>
                </div>
                <div class="clearfix"></div>
                <div class="item_total dd_page">
                    <div class="item_total_left pull-left">
                        <span><?php echo $this->__('Items %s to %s of %s total', ($current_page * $items_per_page - $items_per_page + 1), $current_page * $items_per_page, $total_items); ?></span>
                    </div>
                    <div class="page_num pull-right">
                        <ul class="paginationdd"></ul>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>
        </div>
    <?php } ?>
<?php } ?>
<div id="overlay">
    <img src="<?php echo $this->getSkinUrl('images/loading.gif'); ?>"/>
</div>
<style type="text/css">
    a.addtocart {
        font-size: 13px !important;
        color: #ffffff !important;
        height: 43px !important;
        width: 154px !important;
        background: #00b5cb !important;
        text-align: center !important;
        display: inline-block !important;
        text-transform: uppercase !important;
        border-radius: 35px !important;
        text-decoration: none !important;
        padding-top: 5px !important;
        -webkit-transition: all .3s !important;
        -o-transition: all .3s !important;
        transition: all .3s !important;
    }

    a.addtocart:hover {
        border: 0px !important;
        background: #ec7b42 !important;
    }

    .product_blk ul li {
        min-height: 415px;
        padding: 2px 0 12px 0;
        margin: 0 0.5% 20px 0.5%;
        width: 24%;
        background: #ffffff;
        border: 1px solid #b7b7b7;
        border-radius: 5px;
        box-shadow: 0 5px 3px #b7b7b7;
    }

    .discount_price {
        color: red;
        font-size: 20px;
        font-family: 'Helvetica75Bold';
        padding: 9px 0 0 6px;
        display: inline-block;
        vertical-align: top;
    }

    #overlay {
        position: fixed; /* Sit on top of the page content */
        display: none; /* Hidden by default */
        width: 100%; /* Full width (cover the whole page) */
        height: 100%; /* Full height (cover the whole page) */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
    }

    #overlay img {
        position: fixed;
        top: 50%;
        left: 50%;
        width: 100px;
        height: auto;
    }

    .merchant_name {
        font-size: 13px;
        margin: 7px;
        min-height: 38px;
    }

    #advanced_search .range-search {
        border: 0;
        color: #15b6cb;
        font-weight: bold;
        margin: 0 0 4px 6px;
        font-size: 13px;
    }

    #price-range .ui-widget-header, #percent-range .ui-widget-header {
        background: none !important;
        background-color: #15b6cb !important;
    }

    .advanced_search_txt.collapsed.advs {
        color: #23527c;
    }

    .advanced_search_txt.advs {
        color: #15b6cb;
    }

    #advanced_search .btn {
        margin: 0;
        width: auto;
        background-color: #15b6cb;
        color: white;
        border-color: #15b6cb;
        float: right;
    }

    #search_dd_wrapper {
        margin-bottom: 30px;
    }
</style>
<script type="text/javascript">
    $j = jQuery.noConflict();

    $j(document).ready(function () {
        $j('.paginationdd').pagination({
            items: <?php echo $total_items;?>,
            itemsOnPage: <?php echo $items_per_page;?>,
            currentPage: <?php echo $current_page;?>,
            hrefTextPrefix: '',
            prevText: '<i class="fa fa-angle-left" aria-hidden="true"></i>',
            nextText: '<i class="fa fa-angle-right" aria-hidden="true"></i>',
        });

        $j(document).on('click', '.page-link', function () {
            var _page = $j(this).attr('href');
            $j('#current_page_dd').val(_page);

            if ($j('#advs').attr('aria-expanded') == 'true') {
                $j('#is_advanced_search').val(1);
            } else {
                $j('#is_advanced_search').val(0);
            }

            $j('#search_dd_form').submit();
            return false;
        });
    });

    <?php if($is_logged){?>
    function copyToClipboard(e) {
        var temp = $j("<input>");
        $j("body").append(temp);
        temp.val($j(e).attr('href')).select();
        document.execCommand("copy");
        temp.remove();

        var result_copy = $j(e).prev('.result_copy');
        result_copy.html('Copied!');

        var _result_copy = $j(e).next('.result_copy');
        _result_copy.html('Copied!');

        setTimeout(function () {
            result_copy.html('');
            _result_copy.html('');
        }, 2000);

        return false;
    }
    <?php }?>

    var get_content_url = '<?php echo $this->getUrl('fundraiser/index/getContentPopup');?>';
    var get_content_url_search = '<?php echo $this->getUrl('fundraiser/index/getContentSearchPopup');?>';
    var get_content_url_search_offers = '<?php echo $this->getUrl('fundraiser/index/getContentSearchOffersPopup');?>';
    var auto_open;

    <?php if (!$is_logged) { ?>
    <?php if($is_help_fundraiser){?>
    $j(document).on('click', 'a.custom-url', function () {
        $j.ajax({
            url: get_content_url,
            data: {id: $j(this).attr('url-id')},
            success: function (result) {
                $j(this).fancybox({
                    autoHeight: true,
                    minHeight: 10,
                    content: result
                }).trigger('click');
            }
        });

        return false;
    });
    <?php } else {?>
    $j(document).on('click', 'a.custom-url', function () {
        document.getElementById("overlay").style.display = "block";
        $j.ajax({
            url: get_content_url,
            data: {id: $j(this).attr('url-id')},
            success: function (result) {
                document.getElementById("overlay").style.display = "none";
                $j(this).fancybox({
                    autoHeight: true,
                    minHeight: 10,
                    content: result
                }).trigger('click');

                auto_open = setTimeout(function () {
                    if (typeof $j('.fancybox-opened .sn_continue').attr('href') != 'undefined') {
                        var win = window.open($j('.fancybox-opened .sn_continue').attr('href'), '_blank');
                        win.focus();
                        win.location;
                    }
                }, 5000);
            }
        });

        return false;
    });



    <?php }?>
    <?php } else { ?>

    $j(document).on('click', 'a.custom-url', function () {
        $j.ajax({
            url: get_content_url,
            data: {id: $j(this).attr('url-id')},
            success: function (result) {
                $j(this).fancybox({
                    autoHeight: true,
                    minHeight: 10,
                    content: result
                }).trigger('click');
            }
        });

        return false;
    });
    <?php } ?>

    $j(document).on('click', 'a.custom-url-search', function () {
        document.getElementById("overlay").style.display = "block";
        $j.ajax({
            url: get_content_url_search,
            data: {name: $j(this).attr('title'), url: $j(this).attr('href')},
            success: function (result) {
                document.getElementById("overlay").style.display = "none";
                $j(this).fancybox({
                    autoHeight: true,
                    minHeight: 10,
                    content: result
                }).trigger('click');

                auto_open = setTimeout(function () {
                    if (typeof $j('.fancybox-opened .sn_continue').attr('href') != 'undefined') {
                        var win = window.open($j('.fancybox-opened .sn_continue').attr('href'), '_blank');
                        win.focus();
                        win.location;
                    }
                }, 5000);
            }
        });

        return false;
    });

    $j(document).on('click', 'a.custom-url-search-offer', function () {
        document.getElementById("overlay").style.display = "block";
        $j.ajax({
            url: get_content_url_search_offers,
            data: {id: $j(this).attr('url-id')},
            success: function (result) {
                document.getElementById("overlay").style.display = "none";
                $j(this).fancybox({
                    autoHeight: true,
                    minHeight: 10,
                    content: result
                }).trigger('click');
            }
        });

        return false;
    });

    $j(document).on('click', '.sn_continue', function () {
        clearTime();
    });

    $j(document).on('click', '.fancybox-close', function () {
        clearTime();
    });

    function clearTime() {
        clearTimeout(auto_open);
    }
</script>
