<?php
/*$currentCategory = Mage::registry('current_category');
$currentCategoryId = '';
if ($currentCategory){
    $currentCategoryId = $currentCategory->getId();
}

$directToConsumer = Mage::getModel('catalog/category')->load(42);
$directToConsumerChildrens = $directToConsumer->getChildren();
$directToConsumerChildrens = explode(',',$directToConsumerChildrens);
$directToConsumerChildrens[] = 42;

$globalBrand = Mage::getModel('catalog/category')->load(41);
$globalBrandChildrens = $globalBrand->getChildren();
$globalBrandChildrens = explode(',',$globalBrandChildrens);
$globalBrandChildrens[] = 41;*/

    $_helper = $this->helper('catalog/output');
    $helper_richsnippets = $this->helper('porto/richsnippets');
    $store = Mage::app()->getStore();
    $code  = $store->getCode();
    $is_logged = Mage::getSingleton('customer/session')->isLoggedIn();
    $customer_id = $is_logged ? Mage::getSingleton('customer/session')->getCustomer()->getId() : '#';
    $login_url = Mage::helper('customproduct')->getLoginUrl();
    $is_help_fundraiser = Mage::helper('fundraiser')->isShowHelpAffiliateFundraiser();

?>
<?php 
        $_product = $this->getProduct(); 
        $productType = ($_product) ? $_product->getTypeId() : '';
        $productType = trim($productType);
?>
<?php
    $product = Mage::getModel('catalog/product')->load($_product->getId());
    $product_type = $_product->getTypeId();
    $enabled_richsnippets = ($helper_richsnippets->isEnabled() && $product_type !== "grouped");
    $price_properties = "";
    
    if($enabled_richsnippets){
        $price_properties = $helper_richsnippets->getPriceProperties($_product);
    }
    
    $enable_addtocart_sticky = Mage::getStoreConfig("porto_settings/product_view/enable_addtocart_sticky",$code);
    $move_product_tab = Mage::getStoreConfig("porto_settings/product_view/move_product_tab",$code);
    $sticky_header = "";
    if(!Mage::getStoreConfig("porto_settings/header/sticky_header", $code))
        $sticky_header = "no-sticky-header";

    $is_applied_product_type = Mage::helper('customproduct')->isAppliedToProductType($product->getTypeId());
    $shop_now_url = Mage::helper('customproduct')->getShopNowUrl($_product);
    $help_content = Mage::helper('fundraiser')->getContentPopup($product);

?>
<div class="container ">

<?php if(!$is_applied_product_type){?>
<script type="text/javascript">
    var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>
<?php }?>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div class="product-view gift_card_blk <?php if($move_product_tab): ?>moved-tab<?php endif;?>" <?php if($enabled_richsnippets): ?><?php echo $helper_richsnippets->getProductItemscope(); ?><?php endif; ?>>
    <div class="product-essential">
    <form action="<?php echo $this->getSubmitUrl($_product) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
        <?php echo $this->getBlockHtml('formkey') ?>
        <div class="no-display">
            <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
            <input type="hidden" name="related_product" id="related-products-field" value="" />
        </div>
<?php
if($enable_addtocart_sticky){
?>
        <div class="sticky-product hide <?php echo $sticky_header; ?>">
            <div class="container">
<?php
    $aspect_ratio = Mage::getStoreConfig("porto_settings/product_view/aspect_ratio", $code);
    $ratio_width = 600;
    $ratio_height = 600;
    if(Mage::getStoreConfig("porto_settings/product_view/ratio_width", $code))
        $ratio_width = Mage::getStoreConfig("porto_settings/product_view/ratio_width", $code);
    if(!$aspect_ratio){
        if(Mage::getStoreConfig("porto_settings/product_view/ratio_height", $code))
            $ratio_height = Mage::getStoreConfig("porto_settings/product_view/ratio_height", $code);
    }
    $ratio = $ratio_height / $ratio_width;
    $ratio_width = 50;
    $ratio_height = $ratio_width * $ratio;
?>
                <div class="sticky-image">
                    <img src="<?php $image_src = $_product->getData('external_image_url');

                    if($image_src != null)
                        echo $image_src;
                    else if($_product->getManufacturer() > 0)
                        echo Mage::helper('attributeoptionimage')->getAttributeOptionImage($_product->getManufacturer());  ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"/>
                </div>
                <div class="sticky-detail">
                    <div class="product-name-area">
                        <h2 class="product-name"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h2>
                        <?php echo $this->getPriceHtml($_product, false, '_clone') ?>
                    </div>
                    <?php 
                    if (Mage::helper('catalog')->isModuleEnabled('Mage_Review')):
                    ?>
                    <?php 
                        $review_html = $this->getReviewsSummaryHtml($product, 'short');
                        if($review_html){
                            echo $review_html;
                        }else{
                    ?>
                        <div class="ratings">
                            <div class="rating-box">
                                <div class="rating" style="width:0"></div>
                            </div>
                        </div>
                    <?php                            
                        }
                    ?>
                    <?php else: ?>
                        <div class="ratings">
                            <div class="rating-box">
                                <div class="rating" style="width:0"></div>
                            </div>
                        </div>
                    <?php endif; ?>
                    <?php if($enabled_richsnippets): ?>
                    <?php if ($this->getReviewsCount()): ?>
                        <span itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                            <meta itemprop="ratingValue" content="<?php echo $this->getRatingSummary(); ?>"/>
                            <meta itemprop="reviewCount" content="<?php echo $this->getReviewsCount(); ?>" />
                            <meta itemprop="bestRating" content="100"/>
                            <meta itemprop="worstRating" content="0"/>
                        </span>
                    <?php endif; ?>
                    <?php endif; ?>
                    <?php if ($_product->isAvailable()): ?>
                        <p class="availability in-stock"><span>(<?php echo $this->__('In stock') ?>)</span></p>
                    <?php else: ?>
                        <p class="availability out-of-stock"><span>(<?php echo $this->__('Out of stock') ?>)</span></p>
                    <?php endif; ?>
                </div>
                <?php if($_product->isSaleable()): ?>
                <?php $buttonTitle = $this->__('Add to Cart'); ?>
                    <div class="add-to-cart">
                        <button type="button" title="<?php echo $buttonTitle ?>" class="button btn-cart" onclick="productAddToCartForm.submit(this)"><span><span><i class="icon-cart"></i><?php echo $buttonTitle ?></span></span></button>
                    </div>
                <?php endif; ?>
            </div>
        </div>
<?php
}
?>
        <div class="row">
            <div class="product-img-box col-sm-<?php echo Mage::getStoreConfig("porto_settings/product_view/product_image_size", $code); ?> <?php echo Mage::getStoreConfig("porto_settings/product_view/thumbnail_image_type", $code); ?>">
                <?php echo $this->getChildHtml('media') ?>
            </div>
            <?php $class = ($productType == 'simple' || $productType == 'gfitcardproduct' || $productType == 'virtual') ? 'gift_card_top_right' : 'product-shop'; ?>
            <div class="<?php echo $class;?> col-sm-<?php echo 12-Mage::getStoreConfig("porto_settings/product_view/product_image_size", $code); ?>">
            <?php
            /*
                if (Mage::getStoreConfig("porto_settings/product_view/prev_next",$code)){
            ?>
                <div class="prev-next-products">
                    <?php $_prev = Mage::helper('porto')->getPreviousProduct(); ?>
                    <?php $_next = Mage::helper('porto')->getNextProduct(); ?>
                     
                    <?php if($_prev): ?>
                    <div class="product-nav product-prev">
                        <a href="<?php echo $_prev->getProductUrl();?>" title="<?php echo $this->__("Previous Product"); ?>">
                            <?php echo Mage::getStoreConfig("porto_settings/product_view/prev_text",$code); ?>
                        </a>
                        <div class="product-pop theme-border-color">
                            <?php
                            $image_src = $this->helper('catalog/image')->init($_prev, 'image')->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize(80);
                            ?>
                            <img class="product-image" src="<?php echo $image_src; ?>" alt="<?php echo $this->__('Previous');?>"/>
                            <h3 class="product-name"><?php echo $_helper->productAttribute($_prev, $_prev->getName(), 'name') ?></h3>
                        </div>
                    </div>
                    <?php endif; ?>
                    <?php if($_next): ?>
                    <div class="product-nav product-next">
                        <a class="product-next" href="<?php echo $_next->getProductUrl();?>" title="<?php echo $this->__("Next Product"); ?>"><?php echo Mage::getStoreConfig("porto_settings/product_view/next_text",$code); ?></a>
                        <div class="product-pop theme-border-color">
                            <?php
                            $image_src = $this->helper('catalog/image')->init($_next, 'image')->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize(80);
                            ?>
                            <img class="product-image" src="<?php echo $image_src; ?>" alt="<?php echo $this->__('Previous');?>"/>
                            <h3 class="product-name"><?php echo $_helper->productAttribute($_next, $_next->getName(), 'name') ?></h3>
                        </div>
                    </div>
                    <?php endif; ?>
                </div>
            <?php
                }
                */
            ?>
                <?php if ($productType == 'simple'|| $productType =='gfitcardproduct' || $productType == 'virtual'){
                    echo '<div class = "buffalo">';
                }
                if ($productType == 'simple'){
                    echo '<div class ="vengo_right_top">';
                    echo '<div class ="vengo_right_top_lt col-xs-6">';
                }?>
                <?php 
                if ($productType == 'simple' || $productType == 'customproduct' || $productType =='gfitcardproduct' || $productType == 'virtual'){ ?>
                    <h4 <?php if($enabled_richsnippets): ?>itemprop="name"<?php endif; ?>><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h4>
                <?php }else{ ?>
                    <div class="product-name">
                        <h1 <?php if($enabled_richsnippets): ?>itemprop="name"<?php endif; ?>><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
                    </div>
                <?php } ?>
                <?php $this->helper('yotpo')->showBottomline($this, $_product); ?>
                
                <?php if($enabled_richsnippets): ?>
                <?php
                    $storeId = Mage::app()->getStore()->getId();
                    $summaryData = Mage::getModel('review/review_summary')->setStoreId($storeId)->load($_product->getId());
                ?>
                <?php if ($summaryData['reviews_count']): ?>
                    <span itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating" class="no-display">
                        <span itemprop="ratingValue"><?php echo $summaryData['rating_summary']; ?></span>
                        <span itemprop="reviewCount"><?php echo $summaryData['reviews_count']; ?></span>
                        <span itemprop="bestRating">100</span>
                        <span itemprop="worstRating">0</span>
                    </span>
                <?php endif; ?>
                <?php endif; ?>

                <?php echo $this->getReviewsSummaryHtml($_product, false, true)?>
                <?php if ($_product->getShortDescription()):?>
                    <div class="short-description">
                        <?php if ($productType != 'simple' && $productType != 'gfitcardproduct' && $productType != 'virtual'){ ?>
                            <h2><?php echo $this->__('Quick Overview')." ".$productType." product type"; ?></h2>
                        <?php } ?>

                        <?php 
                        $tag      = ( $productType == 'simple' || $productType =='gfitcardproduct' || $productType == 'virtual' ) ? '<p' : '<div class ="std"';
                        $closeTag = ( $productType == 'simple' || $productType == 'gfitcardproduct' || $productType == 'virtual' ) ? '</p>' : '</div>';
                        ?>
                        <?php echo $tag;?> <?php if($enabled_richsnippets): ?>itemprop="description"<?php endif; ?>
                            <?php
                            // echo str_replace('{{customer_id}}', $customer_id, $_helper->productAttribute($_product, nl2br($_product->getShortDescription()), 'short_description'));
                            echo str_replace('{{customer_id}}', $customer_id, $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description'));
                            ?>
                        <?php echo $closeTag;?>
                    </div>
                <?php endif;?>
                <?php 
                if ($productType == 'simple'){
                    echo '</div>'; //vengo_right_top_lt col-xs-6 closed
                    ?>
                    <div class="tru_box col-xs-6">
                        <div class="tru_box_in">
<!--                            <input name="check" type="checkbox" id="chk">-->
<!--                            <label for="chk">Add This Item To TruBox<br> And Earn 10% More</label> -->
                            <img src="<?php echo $this->getSkinUrl('images/new_design/tru_box.png');?>" alt="tru_box">
                        </div>
                    </div>
                    <?php echo '</div>'; //vengo_right_top closed
                } 
                ?>
                <?php if(!$is_applied_product_type){?>
                <div class="product-info" style="border:0px;">
                <?php if ($productType == 'simple'|| $productType =='gfitcardproduct' || $productType == 'virtual'){
                        echo '<div class = "giftcard_shop">';
                        echo '<div class = "giftcard_shop_lft col-xs-5">';
                    }?>
                    <div <?php if($enabled_richsnippets) echo $helper_richsnippets->getOfferItemscope(); ?>>
                        <?php echo $this->getChildHtml('product_type_data'); ?>
                        <?php echo $this->getTierPriceHtml(); ?>
                        <?php echo $price_properties; ?>
                    </div>
                    <?php echo $this->getChildHtml('extrahint') ?>
                    <?php if ($this->canEmailToFriend()): ?>
                        <p class="email-friend"><a href="<?php echo $this->helper('catalog/product')->getEmailToFriendUrl($_product) ?>"><?php echo $this->__('Email to a Friend') ?></a></p>
                    <?php endif; ?>
                    <?php if($sku = $_product->getSku()): ?>
                        <?php if($enabled_richsnippets): ?><meta itemprop="productID" content="sku:<?php echo $sku; ?>" /><?php endif; ?>
                    <?php endif; ?>
                    <?php echo $this->getChildHtml('alert_urls') ?>
                    <?php echo $this->getChildHtml('other');?>
                <!-- </div> -->
                <?php }?>
                <?php if (!$this->hasOptions()):?>
                    <?php
                    if ($productType == 'customproduct'|| $productType =='gfitcardproduct' ){
                        echo '<div class = "giftcard_shop">';
                        echo '<div class = "giftcard_shop_lft col-xs-5">';
                    }
                    ?>
                    <div class="clearer"></div>
                    <div class="add-to-box">
                        <?php if($is_applied_product_type ){?>
                            <?php if($shop_now_url != null){?>
                                <div class="shop-now">
                                    <a href="<?php echo $shop_now_url;?>"
                                       rel="nofollow" target="_blank" class="custom-url">
                                        <?php echo $this->__('SHOP NOW');?></a>
                                </div>
                            <?php }?>
                        <?php } else { ?>
                            <?php if($_product->isSaleable()): ?>
                                <?php echo $this->getChildHtml('addtocart') ?>
                                <?php if( $this->helper('wishlist')->isAllow() || $_compareUrl=$this->helper('catalog/product_compare')->getAddUrl($_product)): ?>
                                <?php endif; ?>
                            <?php endif; ?>
                            <?php echo $this->getChildHtml('addto') ?>
                        <?php } ?>
                    </div>
                    <?php echo $this->getChildHtml('extra_buttons'); ?>
                <?php elseif (!$_product->isSaleable()): ?>
                    <div class="clearer"></div>
                    <div class="add-to-box">
                        <?php if($is_applied_product_type){?>
                            <?php if($shop_now_url != null){?>
                            <div class="shop-now">
                                <a href="<?php echo $shop_now_url;?>"
                                   rel="nofollow" target="_blank" class="custom-url">
                                    <?php echo $this->__('SHOP NOW');?></a>
                            </div>
                            <?php }?>

                        <?php } else{?>
                            <?php echo $this->getChildHtml('addto') ?>
                        <?php }?>
                    </div>
                <?php endif; ?>

                <?php if ($_product->isSaleable() && $this->hasOptions()):?>
                    <?php echo $this->getChildChildHtml('container1', '', true, true) ?>
                <?php endif;?>
                <div class="clearer"></div>
                <?php echo $this->getChildHtml('addthis_sharetool'); ?>
                <?php if ($productType == 'simple' || $productType == 'customproduct' || $productType == 'virtual' || $productType =='gfitcardproduct'){
                    echo '</div>'; // giftcard_shop_left col-xs-5 div clsosed
                    ?>
                    <?php
                    if ($productType == 'simple'){
                        echo $this->getLayout()->createBlock('cms/block')->setBlockId('direct-to-consumer-simple-static-content')->toHtml();
                    }elseif($productType =='customproduct'){
                        echo $this->getLayout()->createBlock('cms/block')->setBlockId('global-brand-static-detail-content')->toHtml();
                    }elseif($productType =='gfitcardproduct' || $productType == 'virtual'){
                            echo $this->getLayout()->createBlock('cms/block')->setBlockId('simple-product-detail-static-content')->toHtml();
                    }else{
                        echo $this->getLayout()->createBlock('cms/block')->setBlockId('direct-to-consumer-simple-static-content')->toHtml();
                    }
                
                    echo '</div>'; //giftcard_shop div closed
                } ?>
            <?php 
            if ($productType == 'simple' || $productType =='gfitcardproduct' || $productType == 'virtual'){
                echo '</div>'; // buffallo div closed
            }
            ?>
            </div>
            </div>



        </div>
        <?php if ($_product->isSaleable() && $this->hasOptions()):?>
            <?php echo $this->getChildChildHtml('container2', '', true, true) ?>
        <?php endif;?>
    </form>
<?php if(Mage::getStoreConfig('ajaxcart/addtocart/enableproduct') && (Mage::app()->getFrontController()->getRequest()->getModuleName() == "catalog") || (Mage::app()->getFrontController()->getRequest()->getModuleName() == "quickview")): ?>
    <script type="text/javascript">
    //<![CDATA[
        var productAddToCartForm = new VarienForm('product_addtocart_form');
        productAddToCartForm.submit = function(button, url) {
            if (this.validator.validate()) {
                var form = this.form;
                var oldUrl = form.action;

                if (url) {
                   form.action = url;
                }
                var e = null;
                if (!url) {
                    url = jQuery('#product_addtocart_form').attr('action');
                }
                if(url.indexOf("wishlist/index/cart") != -1){
                    url = url.replace("wishlist/index/cart","ajaxcart/index/add"); // New Code
                } else {
                    url = url.replace("checkout/cart","ajaxcart/index"); // New Code
                }
                url = url.replace("http://", "//");
                url = url.replace("https://", "//");
                var data = jQuery('#product_addtocart_form').serialize();
                data += '&isAjax=1';
                var is_quickview = false;
                if(jQuery("body").hasClass("quickview-index-view")){
                    is_quickview = true;
                }
                if(is_quickview)
                    window.parent.jQuery("#loading-mask").show();
                else
                    jQuery('#loading-mask').show();
                try {
                    jQuery.ajax({
                        url : url,
                        dataType : 'json',
                        type : 'post',
                        data : data,
                        success : function(data) {
                            if(is_quickview)
                                window.parent.jQuery('#loading-mask').hide();
                            else
                                jQuery('#loading-mask').hide();
                            if(data.status == 'ERROR'){
                                if(is_quickview)
                                    window.parent.alert(data.message.replace("<br/>",""));
                                else
                                    alert(data.message.replace("<br/>",""));
                            }else{
                                if(is_quickview){
                                    if(window.parent.jQuery('.header-container .mini-cart')){
                                        window.parent.jQuery('.header-container .mini-cart').replaceWith(data.toplink);
                                    }
                                    if(window.parent.jQuery('.fixed-header .mini-cart')){
                                        window.parent.jQuery('.fixed-header .mini-cart').replaceWith(data.toplink);
                                    }
                                    if(window.parent.jQuery('.sticky-header .mini-cart')){
                                        window.parent.jQuery('.sticky-header .mini-cart').replaceWith(data.toplink);
                                    }
                                    if(window.parent.jQuery('.col-right .block.block-cart')){
                                        window.parent.jQuery('.col-right .block.block-cart').replaceWith(data.cart_sidebar);
                                    }
                                    window.parent.jQuery('#after-loading-success-message #success-message-container .msg-box').html(data.message);
                                    <?php $autoclose = Mage::getStoreConfig('ajaxcart/addtocart/autoclose', $code);?>
                                    ajaxcart_sec = <?php echo ($autoclose && is_numeric($autoclose))?$autoclose:5; ?>;
                                    timer_sec = ajaxcart_sec;
                                    window.parent.jQuery('#after-loading-success-message').fadeIn(200);
                                    ajaxcart_timer = setInterval(function(){
                                        timer_sec --;
                                        window.parent.jQuery('#after-loading-success-message .timer').html(timer_sec);
                                    },1000)
                                    setTimeout(function(){
                                        window.parent.jQuery('#after-loading-success-message').fadeOut(200);
                                        clearTimeout(ajaxcart_timer);
                                        setTimeout(function(){
                                            window.parent.jQuery('#after-loading-success-message .timer').html(ajaxcart_sec);
                                        }, 1000);
                                    },ajaxcart_sec*1000);
                                }
                                else {
                                    if(jQuery('.header-container .mini-cart')){
                                        jQuery('.header-container .mini-cart').replaceWith(data.toplink);
                                    }
                                    if(jQuery('.fixed-header .mini-cart')){
                                        jQuery('.fixed-header .mini-cart').replaceWith(data.toplink);
                                    }
                                    if(jQuery('.sticky-header .mini-cart')){
                                        jQuery('.sticky-header .mini-cart').replaceWith(data.toplink);
                                    }
                                    if(jQuery('.col-right .block.block-cart')){
                                        jQuery('.col-right .block.block-cart').replaceWith(data.cart_sidebar);
                                    }
                                    jQuery('#after-loading-success-message #success-message-container .msg-box').html(data.message);
                                    <?php $autoclose = Mage::getStoreConfig('ajaxcart/addtocart/autoclose', $code);?>
                                    ajaxcart_sec = <?php echo ($autoclose && is_numeric($autoclose))?$autoclose:5; ?>;
                                    timer_sec = ajaxcart_sec;
                                    jQuery('#after-loading-success-message').fadeIn(200);
                                    ajaxcart_timer = setInterval(function(){
                                        timer_sec --;
                                        jQuery('#after-loading-success-message .timer').html(timer_sec);
                                    },1000)
                                    setTimeout(function(){
                                        jQuery('#after-loading-success-message').fadeOut(200);
                                        clearTimeout(ajaxcart_timer);
                                        setTimeout(function(){
                                            jQuery('#after-loading-success-message .timer').html(ajaxcart_sec);
                                        }, 1000);
                                    },ajaxcart_sec*1000);
                                }
                            }
                        }
                    });
                } catch (e) {
                }                
                this.form.action = oldUrl;
                if (e) {
                    throw e;
                }
            } else {
                if(jQuery('#product-options-wrapper'))
                    jQuery('#product-options-wrapper').scrollToMe();
            }
        }.bind(productAddToCartForm);
    //]]>
    </script>
<?php else : ?>
    <script type="text/javascript">
    //<![CDATA[
        var productAddToCartForm = new VarienForm('product_addtocart_form');
        productAddToCartForm.submit = function(button, url) {
            if (this.validator.validate()) {
                var form = this.form;
                var oldUrl = form.action;

                if (url) {
                   form.action = url;
                }
                var e = null;
                try {
                    this.form.submit();
                } catch (e) {
                }
                this.form.action = oldUrl;
                if (e) {
                    throw e;
                }

                if (button && button != 'undefined') {
                    button.disabled = true;
                }
            } else {
                if(jQuery('#product-options-wrapper'))
                    jQuery('#product-options-wrapper').scrollToMe();
            }
        }.bind(productAddToCartForm);
        //]]>
        </script>
        <?php endif; ?>
        <script type="text/javascript">
        productAddToCartForm.submitLight = function(button, url){
            if(this.validator) {
                var nv = Validation.methods;
                delete Validation.methods['required-entry'];
                delete Validation.methods['validate-one-required'];
                delete Validation.methods['validate-one-required-by-name'];
                // Remove custom datetime validators
                for (var methodName in Validation.methods) {
                    if (methodName.match(/^validate-datetime-.*/i)) {
                        delete Validation.methods[methodName];
                    }
                }

                if (this.validator.validate()) {
                    if (url) {
                        this.form.action = url;
                    }
                    this.form.submit();
                }
                Object.extend(Validation.methods, nv);
            } else {
                if(jQuery('#product-options-wrapper'))
                    jQuery('#product-options-wrapper').scrollToMe();
            }
        }.bind(productAddToCartForm);
    </script>
    </div>

    <div class="product-collateral">
        <?php if ($productType == 'gfitcardproduct'){
            echo '<div class="tabs_blk_main col-md-8 col-xs-12">';
        }
        echo $this->getChildHtml('product_additional_data');
        if ($productType == 'gfitcardproduct'){

            echo '</div>';
        }
        if ($productType == 'gfitcardproduct'){ ?>
        <div class="giftcard_partners col-md-4 col-xs-12">
            <div class="giftcard_partners_in">
                <h4>gift card PARTNER</h4>
                <div class="partners">
                    <div class="partners_left pull-left col-xs-4"><a><img src="<?php echo $this->getSkinUrl('images/new_design/partners_logo1.png');?>" alt="logo"></a></div>
                    <div class="partners_right pull-right col-xs-8">
                        <ul>
                            <li><span>Largest Site For Pre-Owned Cards</span></li>
                            <li><span>Instant Savings Up To 40%</span></li>
                            <li><span>Thousand On Hold Up To 2%</span></li>
                            <li><span>Thousands of Brands and Cards</span></li>
                            <li><span>1-year Invalid Card Replacement</span></li>
                        </ul>
                        <?php if ($_product->raise_url){?>
                            <a href="<?php echo $_product->raise_url;?>">Shop now</a>
                        <?php }else{ ?>
                            <a>NOT AVAILABLE</a>
                        <?php } ?>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="partners">
                    <div class="partners_left pull-left col-xs-4"><a href="#"><img src="<?php echo $this->getSkinUrl('images/new_design/partners_logo2.png');?>" alt="logo"></a></div>
                    <div class="partners_right pull-right col-xs-8">
                        <ul>
                            <li><span>Pre-Owned Discount Gift Cards</span></li>
                            <li><span>Instant Savings Up To 45%</span></li>
                            <li><span>Earn Points On Hold Up To 1.5%</span></li>
                            <li><span>Stocked With Your Favorite Brands</span></li>
                            <li><span>60-Day Replacement Promise</span></li>
                        </ul>
                        <?php if ($_product->gcspread_url){?>
                            <a href="<?php echo $_product->gcspread_url;?>">Shop now</a>
                        <?php }else{ ?>
                            <a>NOT AVAILABLE</a>
                        <?php } ?>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="partners">
                    <div class="partners_left pad_last pull-left col-xs-4"><a href="#"><img src="<?php echo $this->getSkinUrl('images/new_design/partners_logo3.png');?>" alt="logo"></a></div>
                    <div class="partners_right pull-right col-xs-8">
                        <ul>
                            <li><span> Founded in 2001</span></li>
                            <li><span>Sells Cards in 180,000 Stores</span></li>
                            <li><span>Thousands of Brands and Cards</span></li>
                            <li><span>Earn Up To 5% Profit Points</span></li>
                            <li><span>100% Satisfaction Guaranteed</span></li>
                        </ul>
                        <?php if ($_product->giftcardmall_url) { ?>
                            <a href="<?php echo $_product->giftcardmall_url;?>">Shop now</a>
                        <?php }else{ ?>
                            <a>NOT AVAILABLE</a>
                        <?php } ?>
                    </div>
                    <div class="clearfix"></div>
                </div>                
                <div class="partners">
                    <div class="partners_left pull-left col-xs-4"><a href="#"><img src="<?php echo $this->getSkinUrl('images/new_design/partners_logo4.png');?>" alt="logo"></a></div>
                    <div class="partners_right pull-right col-xs-8">
                        <ul>
                            <li><span>Founded in 1999</span></li>
                            <li><span>Most Visited Gift Card Site</span></li>
                            <li><span>Earn Up To 2% Profit Points</span></li>
                            <li><span>Thousands of Brands and Cards</span></li>
                            <li><span>100% Satisfaction Guarantee</span></li>
                        </ul>
                        <?php if ($_product->giftcardscom_url){ ?>
                            <a href="<?php echo $_product->giftcardscom_url;?>">Shop now</a>
                        <?php }else{ ?>
                            <a>NOT AVAILABLE</a>
                        <?php } ?>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    <?php } ?>
    </div>
    <?php echo $this->getChildHtml('upsell_products'); ?>
</div>

</div>
<?php if (!$is_logged) { ?>
    <script type="text/javascript">
        $j = jQuery.noConflict();
        $j(document).ready(function () {
            <?php if($is_help_fundraiser){?>
            $j('a.custom-url').fancybox({
                autoHeight: true,
                minHeight: 10,
                content: '<?php echo $help_content;?>'
            });
            <?php } else {?>
//            $j('a.custom-url').fancybox({
//                autoHeight: true,
//                minHeight: 10,
//                content: '<?php //echo $login_url;?>//'
//            });
            <?php }?>
        });

    </script>
<?php } else { ?>
    <script type="text/javascript">
        $j = jQuery.noConflict();
        $j(document).ready(function () {
            $j('a.custom-url').fancybox({
                autoHeight: true,
                minHeight: 10,
                content: '<?php echo $help_content;?>'
            });
        });
    </script>
<?php } ?>
<script type="text/javascript">
    $j = jQuery.noConflict();
    $j('.main-container').addClass('main_block');
    jQuery(function($){
        $("body.quickview-index-view .no-rating a, body.quickview-index-view .ratings a").off('click').on("click",function(e){
            window.parent.location.href = $(this).attr("href");
            window.parent.jQuery.fancybox.close();
        });
    <?php
    if($enable_addtocart_sticky){
    ?>
        p_scrolled = false;
        $(window).scroll(function(){
            if(400<$(window).scrollTop() && !p_scrolled){
                $('.sticky-product').removeClass("hide");
                p_scrolled = true;
            }
            if(400>=$(window).scrollTop() && p_scrolled){
                $('.sticky-product').addClass("hide");
                p_scrolled = false;
            }
        });
    <?php
    }
    ?>
    <?php
    if($move_product_tab){
    ?>
        $(".product-info").before($(".product-tabs"));
    <?php
    }
    ?>
    });
</script>
<link rel="stylesheet" type="text/css" href="<?php echo $this->getSkinUrl('new_design/style.css') ?>" />
<link rel="stylesheet" type="text/css" href="<?php echo $this->getSkinUrl('new_design/responsive.css');?>">