<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/solid-gauge.js"></script>

<?php
$customer_stats = $this->getCustomerStats();
$badge = $this->getBadgeFromStats($customer_stats['badge']);

$current_personal_points = $customer_stats['personal_points'] == null ? 0 : $customer_stats['personal_points'];
$max_personal_points = intval($current_personal_points) * 2;

$current_connection_points = $customer_stats['match_points'] == null ? 0 : $customer_stats['match_points'];
$max_connection_points = $current_connection_points * 2;

$current_unearned_points = $customer_stats['unearned_points'] == null ? 0 : $customer_stats['unearned_points'];
$max_unearned_points = $current_unearned_points * 2;

$current_truWallet = $this->getTruWalletPoints();
$max_truWallet = $current_truWallet * 2;

$current_affiliate_balance = $this->getAffiliateIncome();
$max_affiliate_balance = $current_affiliate_balance * 2;

$current_total_earnings = $current_affiliate_balance + $current_truWallet;
$max_total_earnings = $current_total_earnings * 2;

$list_years = $this->getListYears();
$count_years = sizeof($list_years);
?>

<div class="main_content">
    <div class="main_block main_bg2">
        <div class="container">
            <div class="row">
                <div class="direct_comsumer">
                </div>
                <div class="clearfix"></div>
                <div class="left_block col-sm-3 col-xs-12">
                    <?php if($count_years > 0){?>
                        <?php $is_last_year = 1;?>
                        <?php foreach ($list_years as $year) {?>
                            <div class="sidebar <?php if($this->getActiveYear() == $year){?>active<?php }?>">
                                <h6><?php echo $year.' Reports'?></h6>

                                <div class="sub_blk" <?php if($this->getActiveYear() == $year){?>style="display: block;"<?php }?>>
                                    <?php $list_months = $this->getListMonthsByYear($year);?>
                                    <?php if(sizeof($list_months) > 0){?>
                                        <ul>
                                            <?php foreach ($list_months as $id => $month) {?>
                                            <li><a href="<?php echo $this->getByMonth($id, $year)?>"><span><?php echo $month;?></span></a></li>
                                            <?php }?>
                                        </ul>
                                    <?php }?>
                                </div>
                            </div>
                        <?php $is_last_year++;}?>
                    <?php }?>
                </div>

                <div class="right_block col-sm-9 col-xs-12">
                    <div class="right_block_in">
                        <div class="search_bar last padd_bot text-center">
                            <h3 class="pad_last"><?php echo $this->__('EARNINGS REPORTS');?></h3>

                            <div class="clearfix"></div>
                        </div>
                        <div class="earning_points">
                            <h2><?php echo $this->getCurrentMonth();?></h2>
                            <ul>
                                <li>
                                    <ul>
                                        <li>
                                            <div class="earning_in">
                                                <div id="personal_points" class="earning_chart"></div>
                                                <h3><?php echo $this->__('Personal Points');?></h3>
                                                <strong>
                                                    <?php echo number_format($current_personal_points, 1);?>
                                                </strong>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="earning_in no_bor">
                                                <div id="connection_points" class="earning_chart"></div>
                                                <h3><?php echo $this->__('Connection Points');?></h3>
                                                <strong>
                                                    <?php echo number_format($current_connection_points, 1);?>
                                                </strong>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li>
                                            <div class="earning_in">
                                                <div id="unearned_points" class="earning_chart"></div>
                                                <h3><?php echo $this->__('Unearned Points');?></h3>
                                                <strong>
                                                    <?php echo number_format($current_unearned_points, 1);?>
                                                </strong>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="earning_in no_bor text-center">
                                                <figure><img
                                                        src="<?php if($badge != null && $badge->getImageName() != null) echo $this->getImagePath($badge->getImageName()); ?>"
                                                        width="223" height="224" alt="earning_graph"></figure>
                                                <strong class="text-center margin_top2">
                                                    <?php echo $this->__('Depth Credit Level: %s',
                                                        $customer_stats['depth_credit'] == null ? 0 : $customer_stats['depth_credit']);?></strong>
                                            </div>
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    <ul>
                                        <li>
                                            <div class="earning_in">
                                                <div id="truwallet_points" class="earning_chart"></div>
                                                <h3><?php echo $this->__('Truwallet Earnings');?></h3>
                                                <strong>
                                                    <?php echo Mage::helper('core')->currency($current_truWallet,true,false);?>
                                                </strong>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="earning_in no_bor">
                                                <div id="affiliate_points" class="earning_chart"></div>
                                                <h3><?php echo $this->__('Affiliate Income Earnings');?></h3>
                                                <strong>
                                                    <?php echo Mage::helper('core')->currency($current_affiliate_balance,true,false);?>
                                                </strong>
                                            </div>
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    <ul>
                                        <li>
                                            <div class="earning_in">
                                                <div id="total_earnings" class="earning_chart"></div>
                                                <h3><?php echo $this->__('Total Earnings');?></h3>
                                                <strong>
                                                    <?php echo Mage::helper('core')->currency($current_total_earnings,true,false);?>
                                                </strong>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
    $j = jQuery.noConflict()
    $j(document).ready(function (e) {
        $j(".sidebar.active .sub_blk").show();
        $j(".sidebar h6").click(function () {
            $j(this).parent().toggleClass('active');
            $j(this).parent().siblings().removeClass('active');
            $j(this).parent().find('.sub_blk').slideToggle();
            $j(this).parent().siblings().find('.sub_blk').slideUp();
        });
        $j(window).scroll(function () {
            if ($j(this).scrollTop() > 100) {
                $j('.BaclToTop').fadeIn();
            } else {
                $j('.BaclToTop').fadeOut();
            }
        });
    });


    var gaugeOptions = {

        chart: {
            type: 'solidgauge'
        },

        title: null,

        pane: {
            center: ['50%', '85%'],
            size: '140%',
            startAngle: -90,
            endAngle: 90,
            background: {
                backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
                innerRadius: '60%',
                outerRadius: '100%',
                shape: 'arc'
            }
        },

        tooltip: {
            enabled: false
        },

        // the value axis
        yAxis: {
            stops: [
                [0.1, '#55BF3B'], // green
                [0.5, '#DDDF0D'], // yellow
                [0.9, '#DF5353'] // red
            ],
            lineWidth: 0,
            minorTickInterval: null,
            tickAmount: 2,
            title: {
                y: -70
            },
            labels: {
                y: 16
            }
        },

        plotOptions: {
            solidgauge: {
                dataLabels: {
                    y: 5,
                    borderWidth: 0,
                    useHTML: true
                }
            }
        }
    };

    // The personal points gauge
    var chartPersonal = Highcharts.chart('personal_points', Highcharts.merge(gaugeOptions, {
        yAxis: {
            min: 0,
            max: <?php echo $max_personal_points > 0 ? $max_personal_points : 1;?>,
            tickPositioner: function() {
                return [this.min, this.max];
            }
        },

        credits: {
            enabled: false
        },

        series: [{
            name: '<?php echo $this->__('Personal Points')?>',
            data: [<?php echo $current_personal_points;?>],
            dataLabels: {
                format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y:.1f}</span><br/>' +
                '<span style="font-size:12px;color:silver"></span></div>'
            },
            tooltip: {
                valueSuffix: ' <?php echo $this->__('points')?>'
            }
        }]

    }));

    // The Connection gauge
    var chartConnection = Highcharts.chart('connection_points', Highcharts.merge(gaugeOptions, {
        yAxis: {
            min: 0,
            max: <?php echo $max_connection_points  == 0 ? 1 : $max_connection_points;?>,
            tickPositioner: function() {
                return [this.min, this.max];
            }
        },

        series: [{
            name: '<?php echo $this->__('Connection')?>',
            data: [<?php echo $current_connection_points;?>],
            dataLabels: {
                format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y:.1f}</span><br/>' +
                '<span style="font-size:12px;color:silver"></span></div>'
            },
            tooltip: {
                valueSuffix: ' <?php echo $this->__('points')?>'
            }
        }]

    }));

    // The Unrearned gauge
    var chartUnEarned = Highcharts.chart('unearned_points', Highcharts.merge(gaugeOptions, {
        yAxis: {
            min: 0,
            max: <?php echo $max_unearned_points == 0 ? 1 : $max_unearned_points;?>,
            tickPositioner: function() {
                return [this.min, this.max];
            }
        },

        series: [{
            name: '<?php echo $this->__('Unearned Points')?>',
            data: [<?php echo $current_unearned_points;?>],
            dataLabels: {
                format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y:.1f}</span><br/>' +
                '<span style="font-size:12px;color:silver"></span></div>'
            },
            tooltip: {
                valueSuffix: ' <?php echo $this->__('points')?>'
            }
        }]

    }));

    // The TruWallet gauge
    var chartWallet = Highcharts.chart('truwallet_points', Highcharts.merge(gaugeOptions, {
        yAxis: {
            min: 0,
            max: <?php echo $max_truWallet == 0 ? 1 : $max_truWallet;?>,
            tickPositioner: function() {
                return [this.min, this.max];
            }
        },

        series: [{
            name: '<?php echo $this->__('TruWallet.bk Points')?>',
            data: [<?php echo $current_truWallet;?>],
            dataLabels: {
                format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">${y:.2f}</span><br/>' +
                '<span style="font-size:12px;color:silver"></span></div>'
            },
            tooltip: {
                valueSuffix: ''
            }
        }]

    }));

    // The Affiliate gauge
    var chartAffiliate = Highcharts.chart('affiliate_points', Highcharts.merge(gaugeOptions, {
        yAxis: {
            min: 0,
            max: <?php echo $max_affiliate_balance == 0 ? 1 : $max_affiliate_balance;?>,
            tickPositioner: function() {
                return [this.min, this.max];
            }
        },

        series: [{
            name: '<?php echo $this->__('Affiliate Points')?>',
            data: [<?php echo $current_affiliate_balance;?>],
            dataLabels: {
                format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">${y:.2f}</span><br/>' +
                '<span style="font-size:12px;color:silver"></span></div>'
            },
            tooltip: {
                valueSuffix: ''
            }
        }]

    }));

    // The total earnings chart
    var chartTotalEarnings = Highcharts.chart('total_earnings', Highcharts.merge(gaugeOptions, {
        yAxis: {
            min: 0,
            max: <?php echo $max_total_earnings == 0 ? 1 : $max_total_earnings;?>,
            tickPositioner: function() {
                return [this.min, this.max];
            }
        },

        series: [{
            name: '<?php echo $this->__('Total Earnings')?>',
            data: [<?php echo $current_total_earnings;?>],
            dataLabels: {
                format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">${y:.2f}</span><br/>' +
                '<span style="font-size:12px;color:silver"></span></div>'
            },
            tooltip: {
                valueSuffix: ''
            }
        }]

    }));

</script>
