<?php $level=99; 
$memberChildCountArr = $this->getMemberChildCountArr();

?>
<div class="tree-map-lv<?php echo $level?> cust_slider pull-left" id="tree-map-wrap-<?= $parent_id ?>" style="width: 100%;">
            <?php foreach($items as $item){ ?>
            <?php $item_child_count = $memberChildCountArr[$item['customer_id']] ?>
                <?php $item_id = $item['customer_id']?>
            
                <div style="display: inline-block;">
                    <div class="nicolas_in">
                        <div class="nicolas_in_adjst">
                            <h2><level-999/h2>
                            <div class="nicolas_up <?= getBackgroundClass($item_child_count, $item) ?> tree-map-circle"
                                 data-child-level="<?php echo $next_level ?>"
                                 data-tab="<?php if($item_child_count){?>tree-map-wrap-<?= $item_id ?><?php } ?>"
                                 data-popup="circle-pop-<?php echo $item_id ?>" customer-id="<?php echo $item_id ?>" data-filter-badge="<?= $this->getCustomerBadgeFilter($item)?>"
                                 data-filter-personal-point="<?= $item['personal_points'] ?>"
                                 data-filter-connection-point="<?= $item['match_points']?>"
                                 data-filter-trubox-point="<?= $item['trubox_points'] ?>">
                                <h4><?= $item_child_count ?></h4>
                                <h6><?=  $item['name'] ?></h6>
                            </div>
                        </div>
                    </div>
                </div>
            <?php } ?>
</div>

<?php
 function getBackgroundClass($count_child, $item)
    {
        if(!$count_child){
            return "circle_no_child";
        }
        $badge = $item['badge'];
        $badge = strtolower($badge);
        $class = "circle_" . $badge;
        return $class;
    }
?>