<?php /* @var $this Trunited_ConnectionMap_Block_Tree */?>
<?php
$treeModel = $this->getTreeModel();
$customerData = $treeModel->getCurrentCustomerData();
$customer_id = $customerData['customer_id'];
$customerCount =$treeModel->countFilterCustomer();

/*$customer_id = $treeModel->getCustomerId();
$customerData = $this->getCustomerData();
$treeMap = $treeModel->buildTreeMap($customerData);

$rootCustomer = isset($treeMap[0][$customer_id][0]) ? $treeMap[0][$customer_id][0] : false;
$customer_name = $customer_badge = "";
if($rootCustomer){
    $customer_name = $this->getCustomerName($rootCustomer['name']);
    $customer_badge = $rootCustomer['badge'];
}*/
 
$customer_name = $this->getCustomerName($customerData['name']);
$customer_badge = $customerData['badge'];
?>
<script src="<?= $this->getSkinUrl('truinted_cm/slick/slick.js'); ?>"></script>
<div class="main-container">
    <div class="main container">

        <div class="row">
            <div class="right_block col-sm-12 col-xs-12 width_full">
                <div class="right_block_in margin_top">
                    <div class="search_bar last">
                        <div class="head_txt">
                            <h3 class="text-uppercase">my connections map</h3>
                        </div>
                        <div class="prices_blk text_cen">
                            <div class="prices flt_none">
                                <label>SORT BY</label>
                                <select class="selectpicker">
                                    <option>ALL</option>
                                    <option>ALL</option>
                                    <option>ALL</option>
                                    <option>ALL</option>
                                </select>

                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="connection_map" id="connection-map-filter">
                        <div class="cmap_bar">
                            <ul>
                                <li>
                                    <div class="chek_box1">
                                        <label><input type="checkbox" class="select_all"><span>Badge</span></label>
                                    </div>
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                    <div class="clearfix"></div>

                                    <ul style="display:block">
                                        <li>
                                            <div class="chek_box1">
                                                <label><input type="checkbox" class="chk_bok" id="filter_badge_1" badge="customer"><span>Customer</span></label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="chek_box1">
                                                <label><input type="checkbox" class="chk_bok" id="filter_badge_2" badge="affiliate"><span>Affiliate</span></label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="chek_box1">
                                                <label><input type="checkbox" class="chk_bok" id="filter_badge_3" badge="promoter"><span>Promoter</span></label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="chek_box1">
                                                <label><input type="checkbox" class="chk_bok" id="filter_badge_4" badge="pacesetter"><span>Pacesetter</span></label>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="chek_box1">
                                                <label><input type="checkbox" class="chk_bok" id="filter_badge_5" badge="influencer"><span>Influencer</span></label>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="chek_box1">
                                                <label><input type="checkbox" class="chk_bok" id="filter_badge_6" badge="partner"><span>Partner</span></label>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="chek_box1">
                                                <label><input type="checkbox" class="chk_bok" id="filter_badge_7" badge="icon"><span>Icon</span></label>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="chek_box1">
                                                <label><input type="checkbox" class="chk_bok" id="filter_badge_8" badge="legend"><span>Legend</span></label>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <div class="chek_box1">
                                        <label><input type="checkbox" id="filter_trubox_point" ><span>Trubox Club Member</span></label>
                                    </div>
                                </li>
                                <li>
                                    <div class="chek_box1">
                                        <label><input type="checkbox" class="select_all"><span>Personal Points</span></label>
                                    </div>
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                    <div class="clearfix"></div>

                                    <ul >
                                        <li>
                                            <div class="chek_box1">
                                                <div class="col-sm-6"><input type="text" class="input-text" style="width: 100%" placeholder="Min.." id="filter-personal-point-min"/></div>
                                                <div class="col-sm-6"><input type="text" class="input-text" style="width: 100%" placeholder="Max.."  id="filter-personal-point-max"/></div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <div class="chek_box1">
                                        <label><input type="checkbox" class="select_all"><span>Connection Points</span></label>
                                    </div>
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                    <div class="clearfix"></div>

                                    <ul>
                                        <li>
                                            <div class="chek_box1">
                                                <div class="col-sm-6"><input type="text" class="input-text" style="width: 100%" placeholder="Min.." id="filter-connection-point-min" /></div>
                                                <div class="col-sm-6"><input type="text" class="input-text" style="width: 100%" placeholder="Max.." id="filter-connection-point-max"/></div>
                                            </div>
                                        </li>

                                    </ul>
                                </li>

                            </ul>
                            <div class="filter_btn">
                                <button type="button" class="btn transition" id="filter-connection-map">FILTER</button>
                            </div>
                        </div>
                        <div class="cmap_right">
                            <div class="count" id="circle_filter" onclick="getFilterChildMember(<?php echo $customer_id;?>)">
                                <h2 id="tree-map-count"><?= $customerCount ?></h2>
                            </div>
                        </div>
                    </div>

                    <div class="connection_map connection_map_adjst" id="connection-map-content" style="display: none;">
                        <div class="connection_map_in">
                            <a class="customer_root_map" href="#" title="<?= $customer_name ?>">
                                <?php $customer_badge_img = $this->getBadgeImage($customer_badge) ?>
                                <?php if($customer_badge_img){ ?>
                                    <figure><img src="<?= $customer_badge_img; ?>" width="150" height="150" alt="<?= $customer_name ?>"></figure>
                                <?php } ?>
                                <span><?= $customer_name ?></span>
                            </a>
                            <ul id="item-tree-list">
                                

                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

   
        jQuery(document).ready(function(e) {
            jQuery(".cmap_bar ul li .fa").click(function() {
                jQuery(this).parent().find("ul").slideToggle();
                jQuery(this).parent().siblings().find("ul").slideUp();
                jQuery(this).toggleClass('arrow_up');
                jQuery(this).parent().siblings().find('.fa').removeClass('arrow_up');
            });

            jQuery(".select_all").change(function(){
                var status = this.checked;
                jQuery(this).closest('li').find('.chk_bok').each(function(){
                    this.checked = status;
                });
            });

            jQuery('.chk_bok').change(function(){
                if(this.checked == false){
                    jQuery(this).closest('ul').parent().find(".select_all")[0].checked = false;
                }
                if ( jQuery(this).closest('ul').find('.chk_bok:checked').length == jQuery(this).closest('ul').find('.chk_bok').length ){
                    jQuery(this).closest('ul').parent().find(".select_all")[0].checked = true;
                }
            });

            jQuery(window).scroll(function () {
                if (jQuery(this).scrollTop() > 100) {
                    jQuery('.BaclToTop').fadeIn();
                } else {
                    jQuery('.BaclToTop').fadeOut();
                }
            });

            jQuery('#circle_filter').click(function(){
                jQuery('#connection-map-filter').css({display: "none"});
                jQuery('#connection-map-content').css({display: "block"});
            });

            jQuery('.tree-map-circle').click(function(){
                var _this = jQuery(this);
                var child_level = _this.data('child-level');
                var tab = _this.data('tab');
                hideAllChildLevelHigher(child_level);
                if(tab){
                    var child_tab = jQuery('#' + tab);
                    if(child_tab.length > 0){
                        child_tab.css({display: "block"});
                    }
                }
            });

         

            jQuery('.nicolas_in').click(function(e) {
                if( jQuery(this).closest('li').next().hasClass('show') ){
                    jQuery(this).removeClass('active');
                    jQuery(this).parent().siblings().find('.nicolas_in').removeClass('active');
                    jQuery(this).closest('li').nextAll().removeClass('show');
                    jQuery(this).closest('li').nextAll().find('.nicolas_in').removeClass('active');
                } else {
                    jQuery(this).addClass('active');
                    jQuery(this).closest('li').next().addClass('show');
                }
            });           

            jQuery(".nicolas_close").click(function(){
                jQuery(this).parent().parent().fadeOut();
            });

            jQuery('#filter-connection-map').click(function(){
                var badge_filterArr = getBadgeFilterValuesStr();
                var badge_filter  = badge_filterArr.join('|');
                var personal_point_min = jQuery('#filter-personal-point-min').val();
                var personal_point_max = jQuery('#filter-personal-point-max').val();
                var connection_point_min = jQuery('#filter-connection-point-min').val();
                var connection_point_max = jQuery('#filter-connection-point-max').val();
                var trubox_point = (!jQuery('#filter_trubox_point').is(':checked'))?0:1;
                jQuery.ajax({
                        type: "GET",
                        url: "/customerconnection/connectionmap/countfilterajax",
                        dataType: "json",
                        data: {badge_filter :  badge_filter, personal_point_min :  personal_point_min, personal_point_max :  personal_point_max, connection_point_min : connection_point_min, connection_point_max : connection_point_max, trubox_point : trubox_point},
                        success: function (result) {
                           jQuery('#tree-map-count').html(result);
                        }
                });
                
            });
        });

      
        function getBadgeFilterValues(){
            var badge_filter = [];
            var badge_filter_id;
            for(i =1; i <= 8; i++){
                badge_filter_id = '#filter_badge_' + i;
                if(jQuery(badge_filter_id).is(':checked')){
                    badge_filter.push(i);
                }
            }
            return badge_filter;
        }
        function getBadgeFilterValuesStr(){
            var badge_filter = [];
            var badge_filter_id;
            for(i =1; i <= 8; i++){
                badge_filter_id = '#filter_badge_' + i;
                if(jQuery(badge_filter_id).is(':checked')){
                    badge_filter.push(jQuery(badge_filter_id).attr('badge'));
                }
            }
            return badge_filter;
        }

        function hideAllChildLevelHigher(level){
            for(i = level; i <= 15; i++){
                var child_class = ".tree-map-lv" + i;
                jQuery(child_class).css({display: "none"});
            }
        }

</script>


<script id="tree-item-template" type="text/x-handlebars-template">
        <li class="show" id="tree-map-wrap-{{parent_id}}">
            <div class="left_no pull-left">
                <strong class="color_white" class="parent_level">{{level}}</strong>
            </div>
            <div class="map_middle pull-left ">
          

              <div id="cust_slider-{{parent_id}}" class="cust_slider pull-left"  style="width: 100%;">
                {{#each this.items}}
                    <div style="display: inline-block;">
                        <div class="nicolas_in" {{#if child_count}}onclick="showNextChildrenTree({{parent_id}},{{customer_id}},this)"{{/if}}>
                            <div class="nicolas_in_adjst">
                                <h2>{{Level}}</h2>
                                <div class="nicolas_up {{backgroundClass}} tree-map-circle"
                                     data-child-level="{{next_level}}"
                                     data-tab="{{#if child_count}}tree-map-wrap-{{customer_id}}{{/if}}"
                                     data-popup="circle-pop-{{customer_id}}" customer-id="{{customer_id}}" data-filter-badge="{{customerBadgeFilter}}"
                                     data-filter-personal-point="{{personal_points}}"
                                     data-filter-connection-point="{{match_points}}"
                                     data-filter-trubox-point="{{trubox_points}}" >
                                    <h4>{{child_count}}</h4>
                                    <h6>{{name}}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
         </div>
        <div class="left_no pull-right">
            <strong class="color_white" class="parent_level">{{level}}</strong>
        </div>
        <div class="clearfix"></div>
    </li>

</script>

<script id="popup-item-template" type="text/x-handlebars-template">
 {{#each this.items}}
    <div class="pop_up_trained" id="circle-pop-{{customer_id}}">
        <div class="trained_head">
            <h5 class="text-uppercase">TRUNITED NATION PASSPORT</h5>
            <button type="button" class="btn nicolas_close">X</button>
        </div>
        <div class="trained_middle {{backgroundClass}} ?>">
            <div class="trained_middle_left pull-left" style="margin-right: -3px;">
                <div class="trained_middle_top">
                    <h6 class="color_white">MEMBER PROFILE</h6>
                    <div class="trained_middle_top_left text-left pull-left">
                        <h3>{{display_name}}</h3>
                        <a href="#">{{badge}}</a>
                        <small>Member Since:{{member_since}}</small>
                        <small>Affiliate Renewal:{{affiliate_renewal}}</small>
                        <small>Connected By: {{parent_name}}</small>
                        <small>Familia: District {{district}}</small>
                    </div>
                    <div class="trained_middle_top_right pull-left">
                       {{#if customer_badge_img}}
                            <figure><img src="{{customer_badge_img}}"></figure>
                        {{/if}}
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="trained_middle_right pull-left">
                <h6 class="color_lightdark">MEMBER MONTHLY STATS</h6>
                <ul>
                    <li class="col-xs-4">
                        <div class="monthly_stats">
                            <span>{{depth_credit}}</span>
                            <small>current depth<br> credit</small>
                        </div>
                    </li>

                    <li class="col-xs-4">
                        <div class="monthly_stats">
                            <span>{{personal_points}}</span>
                            <small>personal <br> points</small>
                        </div>
                    </li>

                    <li class="col-xs-4">
                        <div class="monthly_stats">
                            <span>{{match_points}}</span>
                            <small>connection<br> points</small>
                        </div>
                    </li>

                    <li class="col-xs-4">
                        <div class="monthly_stats">
                            <span>{{affiliate_points}}</span>
                            <small>AFFILIATE<br> points</small>
                        </div>
                    </li>

                    <li class="col-xs-4">
                        <div class="monthly_stats">
                            <span>{{next_level_points}}</span>
                            <small>next level<br> points</small>
                        </div>
                    </li>

                    <li class="col-xs-4">
                        <div class="monthly_stats">
                            <span>{{unearned_points}}</span>
                            <small>UNEARNED <br>POINTs</small>
                        </div>
                    </li>

                    <li class="col-xs-4">
                        <div class="monthly_stats">
                            <span>{{trubox_engagement_pct}}%</span>
                            <small>TRUBOX<br>ENGAGEMENT</small>
                        </div>
                    </li>

                    <li class="col-xs-4">
                        <div class="monthly_stats">
                            <span>{{customer_engagement_pct}}%</span>
                            <small>CUSTOMER<br>ENGAGEMENT</small>
                        </div>
                    </li>

                    <li class="col-xs-4">
                        <div class="monthly_stats">
                            <span>{{on_hold_points}}</span>
                            <small>points<br>on hold</small>
                        </div>
                    </li>
                </ul>

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
 {{/each}}
</script>

<script type="text/javascript">
var a;
var popupIdArr = [];
function getFilterChildMember(parent_id){
    var badge_filterArr = getBadgeFilterValuesStr();
    var badge_filter  = badge_filterArr.join('|');
    var personal_point_min = jQuery('#filter-personal-point-min').val();
    var personal_point_max = jQuery('#filter-personal-point-max').val();
    var connection_point_min = jQuery('#filter-connection-point-min').val();
    var connection_point_max = jQuery('#filter-connection-point-max').val();
    var trubox_point = (!jQuery('#filter_trubox_point').is(':checked'))?0:1;
 jQuery.ajax({
            type: "GET",
            url: "/customerconnection/connectionmap/getFilterChildMember",
            dataType: "json",
             data: {badge_filter :  badge_filter, personal_point_min :  personal_point_min, personal_point_max :  personal_point_max, connection_point_min : connection_point_min, connection_point_max : connection_point_max, trubox_point : trubox_point,parent_id:parent_id},
            success: function (result) {
 
                var sourceFilterChildMember = jQuery("#tree-item-template").html();
                var templateFilterChildMember = Handlebars.compile(sourceFilterChildMember);
                var filterChildMemberDataHtml = templateFilterChildMember(result);
                jQuery('#item-tree-list').append(filterChildMemberDataHtml);


                  jQuery('#cust_slider-'+parent_id).slick({
                    infinite: false,
                    slidesToShow: 12,
                    slidesToScroll: 12,
                    centerMode: false,
                    variableWidth: true,
                    responsive: [
                        {breakpoint: 1600, settings: {slidesToShow: 10, slidesToScroll: 10}},
                        {breakpoint: 1300, settings: {slidesToShow: 8, slidesToScroll: 8}},
                        {breakpoint: 1100, settings: {slidesToShow: 6, slidesToScroll: 6}},
                        {breakpoint: 991, settings: {slidesToShow: 5, slidesToScroll: 5}},
                        {breakpoint: 640, settings: {slidesToShow: 4, slidesToScroll: 4}},
                        {breakpoint: 599, settings: {slidesToShow: 3, slidesToScroll: 3}},
                        {breakpoint: 479, settings: {slidesToShow: 3, slidesToScroll: 3}}
                    ]
                });
               




                 var sourcePopupItems = jQuery("#popup-item-template").html();
                var templatePopupItems = Handlebars.compile(sourcePopupItems);
                var popupItemsHtml = templatePopupItems(result);

               
                var appendPopUpFlag = 0;
                jQuery.each(result.items, function( key, item ) {
                    if(jQuery.inArray( item.customer_id, result.items )==-1)
                    {
                        console.log(jQuery.inArray( item.customer_id, result.items ));
                        jQuery('#circle-pop-'+item.customer_id).remove();
                        popupIdArr.push(item.customer_id);
                        appendPopUpFlag =1;
                    }
                    else
                         popupIdArr.push(item.customer_id);
                    
                });
                if(appendPopUpFlag)
                {
                     jQuery('.main-container').after(popupItemsHtml);


                        jQuery(".nicolas_up").hover(function(){
                            var _this = jQuery(this);
                            setTimeout(function(){
                                if(!_this.is(":hover")){
                                    return false;
                                }
                                if(jQuery('.pop_up_trained').is(':visible')){
                                    return false;
                                }
                                var popup_id = _this.data('popup');
                                var lt = _this.offset().left + 0;
                                var tp = _this.offset().top +90;
                                popup_id = '#' + popup_id;
                                var popup = jQuery(popup_id);
                                if(popup.length > 0){
                                    popup.css({ 'top':tp,'left':lt });
                                    if(jQuery(window).width() < 768){
                                        popup.css({ 'top':tp,'left':0,'right':0 })
                                    }
                                    popup.fadeIn();
                                }
                            }, 3000);
                        }, function(e){
                            var _this = jQuery(this);
                            var popup_id = _this.data('popup');
                            popup_id = '#' + popup_id;
                            var popup = jQuery(popup_id);
                            if(popup.length > 0){
                                popup.fadeOut();
                            }
                        });
                }
   
               // reAssignClickEvent();
             
            }
        });

}

function showNextChildrenTree(parent_id,current_id,el)
{
    a= jQuery(el);
    var parentWrapId = "tree-map-wrap-"+parent_id;

    jQuery('#'+parentWrapId).next().remove();
     if(jQuery(el).hasClass('active'))
    {
         jQuery('#'+parentWrapId+' .active').removeClass('active');
        jQuery(el).removeClass('active');
    }
    else
    {
         jQuery('#'+parentWrapId+' .active').removeClass('active');
        jQuery(el).addClass('active');
       
        getFilterChildMember(current_id);
    }
   
}


</script>