<?php /* @var $this Trunited_ConnectionMap_Block_Tree_Popup */ ?>
<?php $customerData = $this->getCustomerData() ?>
<?php $treeMap = $this->getTreeMap() ?>
<?php foreach($customerData as $customer_data):?>
    <?php $customer_id = $customer_data['customer_id'] ?>
    <div class="pop_up_trained" id="circle-pop-<?php echo $customer_id ?>">
        <div class="trained_head">
            <h5 class="text-uppercase">TRUNITED NATION PASSPORT</h5>
            <button type="button" class="btn nicolas_close">X</button>
        </div>
        <div class="trained_middle <?= $this->getBackgroundClass($customer_data, $treeMap) ?>">
            <div class="trained_middle_left pull-left" style="margin-right: -3px;">
                <div class="trained_middle_top">
                    <h6 class="color_white">MEMBER PROFILE</h6>
                    <div class="trained_middle_top_left text-left pull-left">
                        <h3><?= $this->getCustomerName($customer_data['name']) ?></h3>
                        <a href="#"><?= $customer_data['badge'] ?></a>
                        <small>Member Since: <?= $this->formatPopupDate($customer_data['member_since']) ?></small>
                        <small>Affiliate Renewal: <?= $this->formatPopupDate($customer_data['affiliate_renewal']) ?></small>
                        <small>Connected By: <?= $this->getParentName($customer_data, $customerData) ?></small>
                        <small>Familia: District <?= $customer_data['district'] ?></small>
                    </div>
                    <div class="trained_middle_top_right pull-left">
                        <?php $customer_badge_img = $this->getBadgeImage($customer_data['badge']) ?>
                        <?php if($customer_badge_img){ ?>
                            <figure><img src="<?= $customer_badge_img ?>"></figure>
                        <?php } ?>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="trained_middle_right pull-left">
                <h6 class="color_lightdark">MEMBER MONTHLY STATS</h6>
                <ul>
                    <li class="col-xs-4">
                        <div class="monthly_stats">
                            <span><?= $customer_data['depth_credit'] ?></span>
                            <small>current depth<br> credit</small>
                        </div>
                    </li>

                    <li class="col-xs-4">
                        <div class="monthly_stats">
                            <span><?= $this->formatPoint($customer_data['personal_points']) ?></span>
                            <small>personal <br> points</small>
                        </div>
                    </li>

                    <li class="col-xs-4">
                        <div class="monthly_stats">
                            <span><?= $this->formatPoint($customer_data['match_points']) ?></span>
                            <small>connection<br> points</small>
                        </div>
                    </li>

                    <li class="col-xs-4">
                        <div class="monthly_stats">
                            <span><?= $this->formatPoint($customer_data['affiliate_points']) ?></span>
                            <small>AFFILIATE<br> points</small>
                        </div>
                    </li>

                    <li class="col-xs-4">
                        <div class="monthly_stats">
                            <span><?= $this->formatPoint($customer_data['next_level_points']) ?></span>
                            <small>next level<br> points</small>
                        </div>
                    </li>

                    <li class="col-xs-4">
                        <div class="monthly_stats">
                            <span><?= $this->formatPoint($customer_data['unearned_points']) ?></span>
                            <small>UNEARNED <br>POINTs</small>
                        </div>
                    </li>

                    <li class="col-xs-4">
                        <div class="monthly_stats">
                            <span><?= $this->formatPercent($customer_data['trubox_engagement_pct'] * 100) ?>%</span>
                            <small>TRUBOX<br>ENGAGEMENT</small>
                        </div>
                    </li>

                    <li class="col-xs-4">
                        <div class="monthly_stats">
                            <span><?= $this->formatPercent($customer_data['customer_engagement_pct'] * 100) ?>%</span>
                            <small>CUSTOMER<br>ENGAGEMENT</small>
                        </div>
                    </li>

                    <li class="col-xs-4">
                        <div class="monthly_stats">
                            <span><?= $this->formatPoint($customer_data['on_hold_points'])?></span>
                            <small>points<br>on hold</small>
                        </div>
                    </li>
                </ul>

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
<?php endforeach; ?>