<head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<!--    <link rel="stylesheet" href="/resources/demos/style.css">-->
    <style type="text/css">
        #project-label {
            display: block;
            font-weight: bold;
            margin-bottom: 1em;
        }

        .form-list .input-box label{
            padding-top: 5px;
            font-size: 12px;
            font-style: italic;
        }
    </style>
</head>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<?php
$names = $this->getAffiliateName();
$accountInfo = Mage::helper('affiliateplus/account')->getAffiliateInfoFromCookie();
$cookie = Mage::getSingleton('core/cookie');
$account_code = $cookie->get('account_code');
$display = true;
if(isset($accountInfo) && $accountInfo != null && $accountInfo->getId() && $account_code)
    $display = false;
?>
<div class="clearfix"></div>
<div class="verify_mobile register_content affiliat_referral" <?php if(!$display){?> style="display: none"<?php }?>>
    <h4 class="legend"><?php echo $this->__('Affiliate Referral Information') ?></h4>

    <ul>
        <li class="fields">
            <div class="field">
                <label for="affiliate_name" class=""><?php echo $this->__('Who Referred Me:') ?></label>

                <div class="input-box who_refers_me">
                    <?php

                    $email_refer = Mage::getSingleton('core/session')->getEmailRefer();
                    $affiliate_account = null;
                    if ($email_refer != null) {
                        $customer_refer = Mage::getModel("customer/customer");
                        $customer_refer->setWebsiteId(Mage::app()->getStore()->getWebsiteId());
                        $customer_refer->loadByEmail($email_refer);
                        if ($customer_refer->getId()) {
                            $affiliate_account = Mage::getModel('affiliateplus/account')->loadByCustomerId($customer_refer->getId());
                        }
                    }

                    $default_name = '';
                    $default_id = '';
                    if ($accountInfo) {
                        $default_name = $accountInfo->getName();
                        $default_id = $accountInfo->getId();
                    } else if ($affiliate_account != null && $affiliate_account->getId()) {
                        $default_name = $affiliate_account->getName();
                        $default_id = $affiliate_account->getId();
                    }
                    ?>
                    <input type="text" name="affiliate_name" id="affiliate_name"
                           placeholder="<?php echo $this->__('Enter the mobile #'); ?>"
                           value="<?php echo $default_name ?>" title="<?php echo $this->__('Affiliate Name') ?>"
                           class="input-text wrm"/>
                    <button class="search_icon button" onClick="searchPerson();return false;"><i class="fa fa-search"></i></button>

                    <br/><label id="label_affiliate_name" for="affiliate_name" class="for_affiliate_name"
                        <?php if($accountInfo){?>style="display: none" <?php }?>>
                        <?php echo $this->__('Please enter the mobile # of the person who referred you and click the search icon') ?>
                    </label>

                    <div id="refers_error"
                         class="error_refers_me"><?php echo $this->__('You must select an Affiliate or check the box ‘no one referred me'); ?></div>
                    <div id="refers_mobile_error"
                         class="error_refers_me"><?php echo $this->__('Please enter a valid phone number. For example (123) 456-7890 or 123-456-7890.'); ?></div>
                    <input type="hidden" id="affiliate_id" name="affiliate_id" value="<?php echo $default_id ?>">
                    <button class="close-icon" type="button" onclick="hideClose(this);">
                </div>
                <span id="affiliate-please-wait-email" style="display:none;" class="opc-please-wait">
                    <img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" class="v-middle" alt=""/>
                </span>

                <div id="affiliate_message_hidden_email" class="affiliate_message">
                    <?php if($accountInfo){?>
                    <div class="success-msg"><?php echo Mage::helper('affiliateplus')->__('Person found: <b>%s</b>', $accountInfo->getName());?></div>
                    <?php }?>
                </div>
                <?php //if (!$accountInfo): ?>
                <input style="float: left" type="checkbox" class="checkbox" name="no_refers_me" id="no_refers_me" value="1" onclick="checkNoRefer()"/>
                <label for="no_refers_me" class="for_refers_me"><?php echo $this->__('No one referred me.') ?></label>
                <?php //endif; ?>
            </div>
        </li>
    </ul>
</div>

<script type="text/javascript">
    $j = jQuery.noConflict();
    $j(document).ready(function(){
        if($j('#affiliate_id').val() == '' && !$j('#no_refers_me').is(":checked"))
        {
            changeClassSubmitButton(true);
        } else {
            changeClassSubmitButton(false);
        }
    });

    function changeClassSubmitButton(is_disabled)
    {
        var obj_btn = $j('#form-validate-new').find('button[type="submit"]');
        if(is_disabled)
        {
            obj_btn.prop('disabled', true);
            obj_btn.children(":first").addClass(' no_referred_me_check');
        } else {
            obj_btn.removeProp('disabled');
            obj_btn.children(":first").removeClass('no_referred_me_check');
        }
    }

    if ($j('.wrm').val() == '') {
        $j('.close-icon').css({display: "none"});
    }

    $j(".wrm").on("input", function (e) {
        var value = $j(this).val();
        if ($j(this).data("lastval") != value) {
            $j(this).data("lastval", value);
        }

        if (value == '') {
            $j('.close-icon').css({display: "none"});
        } else {
            $j('.close-icon').css({display: "inline-block"});
        }
    });

    $j('.close-icon').click(function () {
        $j('.close-icon').hide();
        $('affiliate_name').value = '';
        $('affiliate_id').value = '';
        $j('#refers_error').hide();
        $j('#label_affiliate_name').show();

        $j('#refers_mobile_error').hide();
        $j("#affiliate_message_hidden_email").hide();
        $j(".success-msg").hide();

        if(!$j('#no_refers_me').is(":checked"))
            changeClassSubmitButton(true);
    });

    function hideClose(el){
        $j(el).hide();
        $('affiliate_name').value = '';
        $('affiliate_id').value = '';
        $j('#label_affiliate_name').show();
        $j('#refers_error').hide();
        $j('#refers_mobile_error').hide();
        $j("#affiliate_message_hidden_email").hide();
        $j(".success-msg").hide();
        if(!$j('#no_refers_me').is(":checked"))
            changeClassSubmitButton(true);
    }

    $j('#form-validate-new').submit(function () {
        var affiliate_name = $('affiliate_name').value;
        var no_refers_me = $('no_refers_me').checked;
        if (affiliate_name == '' && no_refers_me === false) {
            $j('#refers_error').slideDown().delay(30000).slideUp();
            $j('#refers_mobile_error').hide();
            return false;
        }
    });

    function checkMobileNumber(e)
    {
        var er = /^\d+$/;

        if (!er.test(e.val().replace(/[\(\)-\s]/g,''))) {
            if (e.val().length >= 3) {
                e.val('');
                $j('#refers_mobile_error').slideDown().delay(3000).slideUp();
            } else {
                $j('#refers_mobile_error').show();
            }
            $j(".success-msg").hide();
            return false;
        } else {
            $j('#refers_mobile_error').hide();
        }

        var _number = e.val().replace(/^(\d{3})(\d{3})(\d{4})+$/, "($1) $2-$3");
        if (_number.length <= 14)
            e.val(_number);
        else {
            e.val(_number.substr(0, 14));
        }
    }

    $j(function () {
        $j("#affiliate_name").keyup(function (e) {
            checkMobileNumber($j(this));
        });
    });

    function checkNoRefer() {
        $j('#affiliate_name').val('');
        $j('#affiliate_id').val('');
        $j('.close-icon').hide();
        if ($('no_refers_me').checked == false) {
            $('affiliate_name').addClassName('required-entry');
            changeClassSubmitButton(true);
        } else {
            $('affiliate_name').removeClassName('required-entry');
            $('affiliate_message_hidden_email').hide();
            changeClassSubmitButton(false);
        }
    }

    function endCheckEmailRegister() {
        setTimeout(function(){
            $j('#affiliate_id').val($j('#is_valid_account_id').val());
            /*$j('#affiliate_name').val($j('#valid_name').val());*/
        },1000);
        $('affiliate-please-wait-email').hide();
        $('affiliate_message_hidden_email').show();
        if ($('is_valid_email').value == '0') {}
    }
    
    function searchPerson() {
        var affiliate_name = $('affiliate_name').value;
        var affiliate_id = $('affiliate_id').value;
        var no_refers_me = $('no_refers_me').checked;
        var requestUrl = '<?php echo $this->getUrl('affiliateplus/account/checkAffiliateName') ?>';

        if(affiliate_name == '')
        {
            $j('#refers_mobile_error').show();
            $j('#refers_error').hide();
            $j("#affiliate_message_hidden_email").hide();
            $j('#affiliate_name').focus();
            return false;

        }

        checkMobileNumber($j("#affiliate_name"));
        var params = {affiliate_name: affiliate_name, affiliate_id: affiliate_id};
        $('affiliate-please-wait-email').show();
        $('affiliate_message_hidden_email').hide();

        $j('#form-validate-new').find('button[type="submit"]').prop('disabled', true);
        new Ajax.Updater(
            'affiliate_message_hidden_email',
            requestUrl,
            {
                method: 'get',
                onComplete: function () {
                    endCheckEmailRegister();
                    if ($j('#is_valid_email').val() == 0 && no_refers_me === false){
//                        $j('.error_refers_me').show();
                        changeClassSubmitButton(true);
                    } else{
                        changeClassSubmitButton(false);
                    }
                },
                onSuccess: '',
                onFailure: '',
                parameters: params,
                postBody: params
            }
        );

        return false;
    }
</script>
