<?php
$items = $this->getItems();
$customers = $this->getCustomers();
$max_level_customers = $this->getMaxLevelCustomer($items);
$selected_level = $this->getSelectedDefaultLevel($max_level_customers);
?>

<div class="connection_tree">
    <div class="container">
        <div class="row">
            <div class="right_block_in margin_top">
                <div class="search_bar last">

                    <form action="<?php echo $this->getUrl('*/*/'); ?>" method="post" id="connection_tree_form">
                        <div class="cb_option col-md-5">
                            <label>
                                <input name="active_users" value="1" id="active_users" type="checkbox"
                                       <?php if ($this->getRequest()->getParam('active_users') !== null){ ?>checked<?php } ?>>
                                <span></span>
                                <em><?php echo $this->__('Show Active Only') ?></em>
                            </label>

                            <!--<label>
                                <input name="users_30" value="1" id="users_30" type="checkbox"
                                       <?php if ($this->getRequest()->getParam('users_30') !== null) { ?>checked<?php } ?>>
                                <span></span>
                                <em><?php echo $this->__('Show Match 30 Tree') ?></em>
                            </label>-->

                            <div class="clearfix"></div>
                        </div>

                        <div class="head_txt1 col-md-3 hidden-xs">
                            <h3 class="text-uppercase"><?php echo $this->__('Connection Tree'); ?></h3>
                        </div>

                        <div class="sort_by1 pad_last sort_rgt col-md-4">
                            <label><?php echo $this->__('Search Tree'); ?></label>

                            <input type="text" class="form-control" id="person_name"
                                   name="person_name" placeholder="<?php echo $this->__('Enter Name') ?>"
                                   value="<?php echo $this->getRequest()->getParam('person_name'); ?>"
                            />

                            <input type="hidden" id="person_id" value="<?php echo $this->getViewCustomerId(); ?>"
                                   class="required-entry" name="person_id"/>

                            <div class="clearfix"></div>
                        </div>

                        <input type="hidden" id="tree_lvl" name="tree_lvl" value="<?php echo $selected_level;?>" />
                    </form>
                    <div class="clearfix"></div>
                </div>
                <div class="connection_map connection_map_adjst">
                    <div class="connection_map_in" id="connection_map_in">
                        <div class="zoom_basic">
                            <a href="<?php echo $this->getUrl('*/*/'); ?>"
                               id="resetAll"><?php echo $this->__('Reset'); ?></a>

                            <?php if($max_level_customers > 0 && ($max_level_customers >= $this->getDefaultLevel() || $this->getRequest()->getParam('tree_lvl') != null)){?>
                            <span><?php echo $this->__('Display Levels');?></span>
                            <select id="tree_level" name="tree_level">
                                <?php for($i = 1; $i <= $max_level_customers; $i++){?>
                                <option value="<?php echo $i;?>"
                                <?php if($selected_level == $i){?>selected="selected"<?php }?>>
                                    <?php echo $i;?>
                                </option>
                                <?php }?>
                            </select>
                            <?php }?>
                            <span><?php echo $this->__('Zoom:') ?> <span
                                        id="percent"><?php echo $this->__('100%') ?></span></span>
                            <div id="slider"></div>
                        </div>
                        <div class="clearfix"></div>


                        <div id="basicdiagram"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="overlay">
    <img src="<?php echo $this->getSkinUrl('images/loading.gif'); ?>"/>
</div>

<script type="text/javascript">
    $j = jQuery.noConflict();

    $j('.main-container').addClass('main_block main_bg2');

    var details_url = '<?php echo $this->getDetailsUrl();?>';

    $j(function () {
        var projects = [
            <?php if(sizeof($customers) > 0){?>
            <?php foreach ($customers as $customer) {
            $name = stripos($customer->getName(), 'socomm') !== false ? 'Trunited' : $customer->getName();
            ?>
            {
                value: "<?php echo $customer->getId();?>",
                label: "<?php echo str_replace("'", "\'", $name);?>"
            },
            <?php }?>
            <?php }?>
        ];

        $j(document).on('keydown.autocomplete', '#person_name', function () {
            $j(this).autocomplete({
                minLength: 0,
                source: projects,
                focus: function () {
                    return false;
                },
                select: function (event, ui) {
                    this.value = ui.item.label;
                    $j('#person_id').val(ui.item.value);

                    if (document.getElementById("active_users") !== null && document.getElementById("active_users").checked) {
                        $j('#active_users').val(1);
                    } else {
                        $j('#active_users').val(0);
                    }

                    if ( document.getElementById("users_30") !== null && document.getElementById("users_30").checked) {
                        $j('#users_30').val(1);
                    } else {
                        $j('#users_30').val(0);
                    }

                    $j('#connection_tree_form').submit();

                    return false;
                }
            });
        });


        $j("#slider").slider({
            value: <?php echo $this->getDefaultZoom();?>,
            min: <?php echo $this->getMinimumZoom();?>,
            max: <?php echo $this->getMaximumZoom();?>,
            step: <?php echo $this->getStepZoom();?>,
            slide: function (event, ui) {
                $j('#percent').html(ui.value+'%');
                $j("#basicdiagram").orgDiagram({
                    scale: ui.value/100
                });
                $j("#basicdiagram").orgDiagram("update", primitives.orgdiagram.UpdateMode.Refresh);
            }
        });

        $j('#reset').click(function(){
            $j('#percent').html('<?php echo $this->getDefaultZoom();?>%');
            $j("#slider").slider('value',<?php echo $this->getDefaultZoom();?>);
            jQuery("#basicdiagram").orgDiagram("option", {
                cursorItem: 0,
                scale: 1
            });
            jQuery("#basicdiagram").orgDiagram("update", primitives.orgdiagram.UpdateMode.Refresh);
            return false;
        });
    });

    function viewDetails(e) {
        document.getElementById("overlay").style.display = "block";
        $j.ajax({
            url: details_url,
            data: {id: $j(e).attr('href')},
            success: function (result) {
                document.getElementById("overlay").style.display = "none";
                $j(this).fancybox({
                    autoHeight: true,
                    minHeight: 10,
                    content: result
                }).trigger('click');
            }
        });

        return false;
    }

    $j(document).on('change', '#active_users', function () {
        $j(this).val(this.checked === true ? 1 : 0);
        $j('#connection_tree_form').submit();
        return false;
    });

    $j(document).on('change', '#tree_level', function () {

        if (document.getElementById("active_users") !== null && document.getElementById("active_users").checked) {
            $j('#active_users').val(1);
        } else {
            $j('#active_users').val(0);
        }

        if ( document.getElementById("users_30") !== null && document.getElementById("users_30").checked) {
            $j('#users_30').val(1);
        } else {
            $j('#users_30').val(0);
        }

        $j('#tree_lvl').val($j(this).val());

        $j('#connection_tree_form').submit();
        return false;
    });

    var data = [
        <?php $flag = 0; $count = sizeof($items); $parent = 0; foreach ($items as $item) {
            if($flag == 0){$parent=$item['personid'];}?>
        {
            id: <?php if($flag == 0) echo '0'; else  echo $item['personid'];?>,
            parent:  <?php if($flag == 0) echo 'null'; else if ($item['level'] > 0){ if($item['ParentId'] == $parent) echo '0'; else echo $item['ParentId'];}?>,
            title: "<?php echo $item['name'];?>",
            badge: "<?php echo $item['badge'];?>",
            points: "<?php echo $item['personal_points'] . ' Points';?>",
            image: "<?php echo $this->getImage($item['image_name']);?>",
            templateName: <?php if($item['30_points'] >= 30){?>"contactTemplate3"<?php } else if($item['personal_points'] > 0){?>"contactTemplate"<?php } else {?>"contactTemplate2"<?php }?>,
            itemTitleColor: "<?php if ($item['personal_points'] > 0) echo $item['hex_color']; else echo '#aaaaaa';?>",
            details: "View details",
            href: "<?php echo base64_encode($item['personid']);?>",
            isVisible: <?php if($this->isVisible($item)){?>true<?php } else {?>false<?php }?>
        }
        <?php if($flag < ($count - 1)){?>
        ,
        <?php }?>
        <?php $flag++;}?>
    ];

    var optionsRender = primitives.helpers.controls.getOrgDiagramOptionsRender({
            /* Layout */
            pageFitMode: primitives.common.PageFitMode.FitToPage,
            orientationType: primitives.common.OrientationType.Top,
            verticalAlignment: primitives.common.VerticalAlignmentType.Middle,
            horizontalAlignment: primitives.common.HorizontalAlignmentType.Center,
            childrenPlacementType: primitives.common.ChildrenPlacementType.Horizontal,
            leavesPlacementType: primitives.common.ChildrenPlacementType.Horizontal,
            maximumColumnsInMatrix: 6,
            minimalVisibility: primitives.common.Visibility.Dot,
            selectionPathMode: primitives.common.SelectionPathMode.FullStack,

            hasButtons: primitives.common.Enabled.False,
            hasSelectorCheckbox: primitives.common.Enabled.False,
            selectCheckBoxLabel: "",
            itemTitleFirstFontColor: primitives.common.Colors.White,
            itemTitleSecondFontColor: primitives.common.Colors.White,
            buttonsPanelSize: 28,
            groupTitlePanelSize: 24,
            checkBoxPanelSize: 24,

            /* group title options */
            groupTitleOrientation: primitives.text.TextOrientationType.RotateRight,
            groupTitleVerticalAlignment: primitives.common.VerticalAlignmentType.Middle,
            groupTitleHorizontalAlignment: primitives.common.HorizontalAlignmentType.Center,
            groupTitleFontSize: "12px",
            groupTitleFontFamily: "Arial",
            groupTitleColor: primitives.common.Colors.RoyalBlue,
            groupTitleFontWeight: "normal",
            groupTitleFontStyle: "normal",

            /* Template */
            DefaultTemplateOptions: {
                minimizedItemCornerRadius: 10,
                minimizedItemSize: new primitives.common.Size(10, 10),
                highlightPadding: 10,
                minimizedItemShapeType: primitives.common.ShapeType.Circle,
                minimizedItemLineWidth: 1,
                minimizedItemLineType: primitives.common.LineType.Solid,
                minimizedItemBorderColor: null,
                minimizedItemFillColor: null,
                minimizedItemOpacity: 1.0
            },

            /* Intervals */
            normalLevelShift: 20,
            dotLevelShift: 20,
            lineLevelShift: 10,
            normalItemsInterval: 20,
            dotItemsInterval: 6,
            lineItemsInterval: 2,
            cousinsIntervalMultiplier: 2,

            /* Connectors */
            arrowsDirection: primitives.common.GroupByType.Children,
            showExtraArrows: true,
            extraArrowsMinimumSpace: 30,
            connectorType: primitives.common.ConnectorType.Curved,
            elbowType: primitives.common.ElbowType.None,
            bevelSize: 10,
            elbowDotSize: 10,
            lineType: primitives.common.LineType.Solid,
            linesColor: primitives.common.Colors.Silver,
            linesWidth: 1,

            /* Labels */
            showLabels: primitives.common.Enabled.False,
            labelSize: new primitives.common.Size(80, 24),
            labelOrientation: primitives.text.TextOrientationType.Horizontal,
            labelPlacement: primitives.common.PlacementType.Top,
            labelOffset: 2,
            labelFontSize: "10px",
            labelFontFamily: "Arial",
            labelColor: primitives.common.Colors.Black,
            labelFontWeight: "normal",
            labelFontStyle: "normal",

            /* Callout */
            calloutMaximumVisibility: primitives.common.Visibility.Dot,
            showCallout: "true",
            calloutPlacementOffset: 100,
            calloutfillColor: "#000000",
            calloutBorderColor: null,
            calloutOffset: 4,
            calloutCornerRadius: 4,
            calloutPointerWidth: "10%",
            calloutLineWidth: 1,
            calloutOpacity: 0.2,

            /* Interactivity */
            navigationMode: primitives.common.NavigationMode.Default,
            highlightGravityRadius: 40,
            enablePanning: true,

            /* Graphics */
            graphicsType: primitives.common.GraphicsType.SVG,

            scale: 1.0
        },
        /* On property change event handler */
        function () {
            Update(jQuery("#basicdiagram"));
        });
    var m_timer = null;
    var orgDiagram = null;
    var children = {};
    var treeItems = {};
    var default_level = <?php echo $selected_level;?>;

    jQuery(document).ready(function () {

        InitData();

        /* Setup & Run */
        Setup(jQuery("#basicdiagram"));

        /* Load data */
        LoadData(jQuery("#basicdiagram"), 0, []);
    });

    function Setup(selector) {
        orgDiagram = selector.orgDiagram(GetOrgDiagramConfig());
    }

    function InitData() {
        for (var index = 0; index < data.length; index += 1) {
            var item = data[index];
            treeItems[item.id] = item;
            if (item.parent != null) {
                if (children[item.parent] == null) {
                    children[item.parent] = [];
                }
                children[item.parent].push(item);
            }
        }
    }

    function LoadData(selector, cursorItem, selectedItems) {
        var items = [];

        /* Load first 3 layers */
        var currentLevel = 0;
        var itemsToLoad = [treeItems[0]];
        var preloadedItems = {};

        while (itemsToLoad.length > 0) {
            currentLevel += 1;
            var newItemsToLoad = [];
            for (var index = 0; index < itemsToLoad.length; index += 1) {
                var itemToLoad = jQuery.extend({}, itemsToLoad[index]);
                items.push(itemToLoad);
                itemToLoad.hasChildren = children[itemToLoad.id] != null;
                itemToLoad.childrencount = children[itemToLoad.id] != null ? children[itemToLoad.id].length : '0';
                preloadedItems[itemToLoad.id] = itemToLoad;

                if (currentLevel < default_level) {
                    itemToLoad.hasLoaded = true;

                    if (itemToLoad.hasChildren) {
                        newItemsToLoad = newItemsToLoad.concat(children[itemToLoad.id]);
                    }
                } else {
                    itemToLoad.hasLoaded = false;
                }
            }
            itemsToLoad = newItemsToLoad;
        }

        /* load cursor and selected items */
        var itemsToLoad = [];
        itemsToLoad.push(cursorItem);
        itemsToLoad = itemsToLoad.concat(selectedItems);

        for (var index = 0; index < itemsToLoad.length; index += 1) {
            var parentId = itemsToLoad[index];
            while (parentId != null && (!preloadedItems[parentId] || !preloadedItems[parentId].hasLoaded)) {
                var parentItem = jQuery.extend({}, treeItems[parentId]);
                var parentChildren = children[parentId];
                if (parentChildren != null) {
                    for (var childIndex = 0; childIndex < parentChildren.length; childIndex += 1) {
                        var childItem = jQuery.extend({}, parentChildren[childIndex]);
                        if (!preloadedItems[childItem.id]) {
                            items.push(childItem);
                            preloadedItems[childItem.id] = childItem;
                            childItem.hasChildren = (children[childItem.id] != null);
                            childItem.childrencount = children[childItem.id] != null ? children[childItem.id].length : '0';
                        }
                    }
                }
                parentItem.hasLoaded = true;
                parentId = parentItem.parent;
            }
        }

        /* set template for cursor item */
        preloadedItems[cursorItem].templateName = "contactTemplate";

        selector.orgDiagram("option", {
            items: items,
            cursorItem: cursorItem,
            highlightItem: null
        });

        selector.orgDiagram("update");
    }

    function Update(selector, updateMode) {
        selector.orgDiagram("option", GetOrgDiagramConfig());
        selector.orgDiagram("update", updateMode);
    }

    function GetOrgDiagramConfig() {
        var options = optionsRender.defaultValues;

        jQuery.extend(options, {
            templates: [
                getContactTemplate(options),
                getContactTemplate2(options),
                getContactTemplate3(options),
            ],
            defaultTemplateName: "contactTemplate"
        })

        jQuery.extend(options, {
            onCursorChanged: onCursorChanged,
            onItemRender: onTemplateRender,
            onHighlightRender: onHighlightRender
        });

        return options;
    }

    function getContactTemplate() {
        var result = new primitives.orgdiagram.TemplateConfig();
        result.name = "contactTemplate";

        result.itemSize = new primitives.common.Size(220, 137);
        result.minimizedItemSize = new primitives.common.Size(10, 10);
        result.highlightPadding = new primitives.common.Thickness(1, 1, 1, 1);

        var itemTemplate = jQuery(
            '<div class="bp-item bp-corner-all">'
            + '<div class="bp-item bp-corner-all" style="top: 2px; left: 2px; width: 216px; height: 25px;">'
            + '<div name="title" class="bp-item bp-title" style="top: 3px; left: 6px; width: 208px; height: 25px; text-align: center; font-size: 20px;color:white;">'
            + '</div>'
            + '</div>'
            + '<div class="bp-item" style="top: 36px; left: 7px; height:70px; width:90px;">'
            + '<img name="photo" style="height:70px; width:80px;" />'
            + '</div>'
            + '<div name="badge" class="bp-item" style="top: 37px; left: 104px; width: 100px; height: 18px; font-size: 16px;color:white;"></div>'
            + '<div name="points" class="bp-item" style="top: 62px; left: 104px; width: 100px; height: 18px; font-size: 16px;color:white;"></div>'
            + '<div class="bp-item" style="top: 62px; left: 104px; width: 100px; height: 18px; font-size: 16px;"><input type="hidden" name="allowed" value=""  /></div>'
            + '<div  class="bp-item" style="top: 87px; left: 104px; width: 100px; height: 18px; font-size: 16px;color:white;"><a href="" name="details" onclick="viewDetails(this); return false;" class="view_details">View Passport</a></div>'
            + '<div class="bp-item" style="top: 109px; left: 137px; width: 100px; height: 18px; font-size: 16px;color:white;"><i class="fa fa-child" style="font-size:18px"></i> <span name="ccount"></span></div>'
            + '</div>'
        ).css({
            width: result.itemSize.width + "px",
            height: result.itemSize.height + "px"
        }).addClass("bp-item bp-corner-all");

        result.itemTemplate = itemTemplate.wrap('<div>').parent().html();

        var highlightTemplate = jQuery("<div></div>")
            .css({
                position: "absolute",
                overflow: "visible",
                width: (result.itemSize.width + result.highlightPadding.left + result.highlightPadding.right) + "px",
                height: (result.itemSize.height + result.highlightPadding.top + result.highlightPadding.bottom) + "px",
                "border-style": "solid",
                "border-width": "1px"
            }).addClass("bp-item2 bp-corner-all bp-cursor-frame");

        highlightTemplate.append("<div name='children_count' class='bp-badge2 bp-item' style='top:45px; left:114px; z-index: 1000; background-color:green; color: white;'></div>");

        result.highlightTemplate = highlightTemplate.wrap('<div>').parent().html();

        return result;
    }

    function getContactTemplate2() {
        var result = new primitives.orgdiagram.TemplateConfig();
        result.name = "contactTemplate2";

        result.itemSize = new primitives.common.Size(220, 137);
        result.minimizedItemSize = new primitives.common.Size(3, 3);
        result.highlightPadding = new primitives.common.Thickness(1, 1, 1, 1);

        var itemTemplate = jQuery(
            '<div class="bp-item bp-corner-all">'
            + '<div class="bp-item bp-corner-all" style="top: 2px; left: 2px; width: 216px; height: 25px;">'
            + '<div name="title" class="bp-item bp-title" style="top: 3px; left: 6px; width: 208px; height: 25px; text-align: center; font-size: 20px;color:white;">'
            + '</div>'
            + '</div>'
            + '<div class="bp-item" style="top: 36px; left: 7px; height:70px; width:90px;">'
            + '<img name="photo" style="height:70px; width:80px;" />'
            + '</div>'
            + '<div name="badge" class="bp-item" style="top: 37px; left: 104px; width: 100px; height: 18px; font-size: 16px;color:white;"></div>'
            + '<div name="points" class="bp-item" style="top: 62px; left: 104px; width: 100px; height: 18px; font-size: 16px;color:white;"></div>'
            + '<div class="bp-item" style="top: 62px; left: 104px; width: 100px; height: 18px; font-size: 16px;"><input type="hidden" name="allowed" value=""  /></div>'
            + '<div  class="bp-item" style="top: 87px; left: 104px; width: 100px; height: 18px; font-size: 16px;color:white;"><a href="" name="details" onclick="viewDetails(this); return false;" class="view_details">View Passport</a></div>'
            + '<div class="bp-item" style="top: 109px; left: 137px; width: 100px; height: 18px; font-size: 16px;color:white;"><i class="fa fa-child" style="font-size:18px"></i> <span name="ccount"></span></div>'
            + '</div>'
        ).css({
            width: result.itemSize.width + "px",
            height: result.itemSize.height + "px"
        }).addClass("bp-item bp-corner-all");

        result.itemTemplate = itemTemplate.wrap('<div>').parent().html();

        var highlightTemplate = jQuery("<div></div>")
            .css({
                position: "absolute",
                overflow: "visible",
                width: (result.itemSize.width + result.highlightPadding.left + result.highlightPadding.right) + "px",
                height: (result.itemSize.height + result.highlightPadding.top + result.highlightPadding.bottom) + "px",
                "border-style": "solid",
                "border-width": "1px"
            }).addClass("bp-item2 bp-corner-all bp-cursor-frame");

        highlightTemplate.append("<div name='children_count' class='bp-badge2 bp-item' style='top:45px; left:114px; z-index: 1000; background-color:green; color: white;'></div>");

        result.highlightTemplate = highlightTemplate.wrap('<div>').parent().html();

        return result;
    }

    function getContactTemplate3() {
        var result = new primitives.orgdiagram.TemplateConfig();
        result.name = "contactTemplate3";

        result.itemSize = new primitives.common.Size(220, 137);
        result.minimizedItemSize = new primitives.common.Size(10, 10);
        result.highlightPadding = new primitives.common.Thickness(1, 1, 1, 1);
        result.minimizedItemShapeType =  primitives.common.ShapeType.Wedge;

        var itemTemplate = jQuery(
            '<div class="bp-item bp-corner-all">'
            + '<div class="bp-item bp-corner-all" style="top: 2px; left: 2px; width: 216px; height: 25px;">'
            + '<div name="title" class="bp-item bp-title" style="top: 3px; left: 6px; width: 208px; height: 25px; text-align: center; font-size: 20px;color:white;">'
            + '</div>'
            + '</div>'
            + '<div class="bp-item" style="top: 36px; left: 7px; height:70px; width:90px;">'
            + '<img name="photo" style="height:70px; width:80px;" />'
            + '</div>'
            + '<div name="badge" class="bp-item" style="top: 37px; left: 104px; width: 100px; height: 18px; font-size: 16px;color:white;"></div>'
            + '<div name="points" class="bp-item" style="top: 62px; left: 104px; width: 100px; height: 18px; font-size: 16px;color:white;"></div>'
            + '<div class="bp-item" style="top: 62px; left: 104px; width: 100px; height: 18px; font-size: 16px;"><input type="hidden" name="allowed" value=""  /></div>'
            + '<div  class="bp-item" style="top: 87px; left: 104px; width: 100px; height: 18px; font-size: 16px;color:white;"><a href="" name="details" onclick="viewDetails(this); return false;" class="view_details">View Passport</a></div>'
            + '<div class="bp-item" style="top: 109px; left: 137px; width: 100px; height: 18px; font-size: 16px;color:white;"><i class="fa fa-child" style="font-size:18px"></i> <span name="ccount"></span></div>'
            + '</div>'
        ).css({
            width: result.itemSize.width + "px",
            height: result.itemSize.height + "px"
        }).addClass("bp-item bp-corner-all");

        result.itemTemplate = itemTemplate.wrap('<div>').parent().html();

        var highlightTemplate = jQuery("<div></div>")
            .css({
                position: "absolute",
                overflow: "visible",
                width: (result.itemSize.width + result.highlightPadding.left + result.highlightPadding.right) + "px",
                height: (result.itemSize.height + result.highlightPadding.top + result.highlightPadding.bottom) + "px",
                "border-style": "solid",
                "border-width": "1px"
            }).addClass("bp-item2 bp-corner-all bp-cursor-frame");

        highlightTemplate.append("<div name='children_count' class='bp-badge2 bp-item' style='top:45px; left:114px; z-index: 1000; background-color:green; color: white;'></div>");

        result.highlightTemplate = highlightTemplate.wrap('<div>').parent().html();

        return result;
    }

    function onTemplateRender(event, data) {
        var hrefElement = data.element.find("[name=details]");
        var emailElement = data.element.find("[name=email]");
        switch (data.renderingMode) {
            case primitives.common.RenderingMode.Create:
                /* Initialize widgets here */
                hrefElement.click(function (e) {
                    /* Block mouse click propogation in order to avoid layout updates before server postback*/
                    primitives.common.stopPropagation(e);
                });
                emailElement.click(function (e) {
                    /* Block mouse click propogation in order to avoid layout updates before server postback*/
                    primitives.common.stopPropagation(e);
                });
                break;
            case primitives.common.RenderingMode.Update:
                /* Update widgets here */
                break;
        }

        var itemConfig = data.context;
        if (data.templateName === "contactTemplate" || data.templateName === "contactTemplate2" || data.templateName === "contactTemplate3") {
            data.element.css({"background": itemConfig.itemTitleColor});

            data.element.find("[name=photo]").attr({"src": itemConfig.image});
            hrefElement.attr({"href": itemConfig.href});

            data.element.find("[name=allowed]").val(1);
            data.element.find("[name=ccount]").text(itemConfig['childrencount']);

            var fields = ["title", "badge", "points"];
            for (var index = 0; index < fields.length; index++) {
                var field = fields[index];

                var element = data.element.find("[name=" + field + "]");
                if (element.text() !== itemConfig[field]) {
                    element.text(itemConfig[field]);
                }
            }

            var badge = data.element.find("[name=children_count]");
            badge.text(itemConfig['childrencount']);
            badge.css({ "background-color": itemConfig.itemTitleColor });
        }
    }

    function onHighlightRender(event, data) {
        switch (data.renderingMode) {
            case primitives.common.RenderingMode.Create:
                /* Initialize widgets here */
                break;
            case primitives.common.RenderingMode.Update:
                /* Update widgets here */
                break;
        }
        if (data.templateName == "contactTemplate" || data.templateName == "contactTemplate2" || data.templateName == "contactTemplate3") {
            var itemConfig = data.context;

            var badge = data.element.find("[name=children_count]");
            badge.text(itemConfig['childrencount']);
            badge.css({"background-color": itemConfig.itemTitleColor});

            var width = data.element.outerWidth();
            var height = data.element.outerHeight();
            badge.css({"left": Math.round(width / 2) - 16, "top": height - 16});
        }
    }

    function onCursorChanged(e, data) {

        if (!data.context.hasLoaded && data.context.childrencount > 0) {
            if (m_timer == null) {
                m_timer = window.setTimeout(function () {
                    window.clearTimeout(m_timer);
                    var selector = jQuery("#basicdiagram");
                    var cursorItem = selector.orgDiagram("option", "cursorItem");
                    var selectedItems = selector.orgDiagram("option", "selectedItems");
                    LoadData(selector, cursorItem, selectedItems);
                    m_timer = null;
                }, 250);
            }
        }
    }

</script>

