.top-container > .breadcrumbs {
    padding: 0 !important;
    margin: 0 !important;
}

header .navbar.navbar-default {
    float: none;
}

#interest-form #clear_all {
    margin-left: 20px;
}

nav ul li {
    margin: 0 10px 0 0 !important;
}

.shop_now ul li {
    float: none !important;
}

.breadcrumbs .shop_now {
    text-align: left;
}

.trubox_payment ul li input[type="checkbox"]:checked + span {
    background: url(../../images/cheak_box_cheak.png) no-repeat left top;
    background-position-x: left;
    background-position-y: top;
    background-position: 0px 3px;
}

.trubox_payment ul li span {
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    font-weight: 400;
    padding: 3px 11px 3px 34px;
    position: relative;
    background: url(../../images/cheak_box1.png) no-repeat left top;
    background-position: 0px 3px;
    cursor: pointer;
    display: block;
}

.sort_by label {
    padding-right: 214px;
}

.sort_by select {
    position: absolute;
    top: 0;
    margin: 0;
    right: 0px;
    vertical-align: middle;
    width: 200px;
    height: 31px;
    border: 1px solid #00b5cb;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #454543;
    line-height: 20px;
    font-weight: 400;
    float: left;
    display: inline-block;
    border-radius: 5px;
    padding: 0 28px 0 12px;
}

.never_forgot_under h5 {
    margin-bottom: 90px;
}

.never_forgot_under .trubox_payment label, .never_forgot_under .trubox_payment select {
    width: 100%;
}

.never_forgot_under .trubox_payment select {
    height: 38px;
}

.never_forgot_under small {
    margin: -90px 0 90px 0;
}

.middle, #country-occasion {
    margin: 0 0 25px 0;
}

.select_gift_lft::after {
    background: none !important;
}

.gift_info {
    text-align: center;
}

#add-new-occasion-form select, .trubox_index select {
    width: 100%;
    height: 40px;
    border: 3px solid #a6a5a5;
    font-size: 20px;
    color: #a6a5a5;
}

.order_middle a {
    color: #00b5cb !important;
}

.progress_in a {
    color: #ffffff !important;
}

#news-and-testimonials {
    margin-top: 0 !important;
}

.travel_in select {
    width: 100% !important;
    padding: 0 12px !important;
    border: 2px solid #acacac !important;
    height: 36px !important;
    border-radius: 4px !important;
}

#billing-new-address-form ul li, #shipping-new-address-form ul li {
    width: 100%;
    margin: 0 0 25px 0;
}

#billing-new-address-form input, #billing-new-address-form select, #shipping-address-select,
#shipping-new-address-form input, #shipping-new-address-form select, #shipping-address-select {
    width: 100% !important;
    line-height: 18px;
    padding: 0px 12px;
    font-size: 18px !important;
}

#billing-new-address-form input, #shipping-new-address-form input {
    height: 36px;
    border: 2px solid #acacac;
    display: block;
    color: #a6a5a5;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding: 0 13px;
    border-radius: 4px;
}

.chek_box input[type="checkbox"] {
    display: none !important;
}

.chek_box label {
    font-size: 18px !important;
    font-weight: bold !important;
}

.shipping_other_address.chek_box {
    padding: 15px;
}

#billing-new-address-form, #shipping-new-address-form {
    margin-top: 15px;
}

.control.shipping_other_address.chek_box {
    margin: 0 0 0 15px !important;
}

.order_progress {
    background: none !important;
}

.order_bottom, .order_middle, .order_top {
    background: white;
}

.order_middle h5, .order_bottom h5 {
    color: #ffffff;
    font-size: 22px;
    line-height: 24px;
    text-align: center;
    display: block;
    font-weight: bold;
    border-radius: 20px 20px 0 0;
    margin: 0;
}

.order_bottom {
    margin: 25px 0 0 0;
    padding: 0 !important;
    border-radius: 20px 20px 0 0;
}

.lable1 {
    font-size: 20px;
    line-height: 28px;
    color: #454543;
    font-weight: 400;
    padding: 0px 0 10px 0;
    display: block;
    margin: 0;
}

#shipping-new-address-form ul {
    padding-bottom: 0 !important;
    margin: 0 -30px !important;
}

#onestepcheckout-trunited-discounts {
    float: none !important;
}

.used {
    margin-top: 5px;
}

.used span {
    font-size: 15px !important;
}

#checkout-payment-method-load label {
    font-size: 15px !important;
}

.progress_in .btn {
    border: none !important;
    margin: 20px 0 40px 15px;
}

.order_qty .increse .up, .order_qty .increse .down {
    right: -22px !important;
}

#one-step-checkout-form .checkout-review-load .data-table td .qty {
    text-align: center;
    margin-right: 4px;
    float: none !important;
    height: auto !important;
}

#one-step-checkout-form .checkout-review-load .data-table td .box-qty {
    text-align: left;
}

#one-step-checkout-form .checkout-review-load .data-table tfoot tr.last {
    border-top: 1px solid #e0e0e0;
}

.onestepcheckout-discount {
    margin-top: 10px;
}

.discount-form .input-box {
    width: 50% !important;
}

.onestepcheckout-discount label {
    font-size: 20px;
    line-height: 22px;
    color: #454543;
    font-weight: 400;
    padding: 0;
    display: block;
}

.progress_in .btn:hover {
    color: white;
}

.sp-methods .form-list li {
    width: 100%;
}

#payment_form_authnetcim #authnetcim_add_new {
    font-size: 15px !important;
}

#payment_form_authnetcim #authnetcim_cc_number, #payment_form_authnetcim #authnetcim_cc_cid {
    width: 100% !important;
    padding: 0 12px !important;
    border: 2px solid #acacac !important;
    height: 36px !important;
    border-radius: 4px !important;
}

.cvv-what-is-this {
    font-size: 15px !important;
    vertical-align: middle;
    margin: 7px 0 10px 10px !important;
}

.authnetcim_new {
    font-size: 14px;
}

.tool-tip .btn-close a {
    display: unset;
    font-size: 15px;
}

#one-step-checkout-form #select_box_store_pickup, #one-step-checkout-form #shipping_time {
    font-size: 18px !important;
}

#selected_st_info .store-address h3 {
    font-size: 24px !important;
}

#selected_st_info .store-address-info {
    font-size: 18px;
}

#shipping_date {
    width: 50% !important;
    padding: 0 12px !important;
    border: 2px solid #acacac !important;
    border-radius: 4px !important;
    height: 36px;
    display: block;
    color: #616161;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 17px !important;
    margin: 0 !important;
}

.calendar .button {
    background: none !important;
    color: black !important;
    font-size: 12px !important;
    float: none;
    width: auto !important;
    display: table-cell;
}

.dashboard_block .top_bar .sort_by label {
    padding: 0 14px 0 0 !important;
}

.nicolas_con_btns ul li {
    padding: 0 4px !important;
}

.bank-select {
    width: 100%;
    height: 40px;
    border: 2px solid #a6a5a5;
    font-size: 20px;
    color: #a6a5a5;
    border-radius: 5px;
}

.bank_li {
    margin: 0px !important;
}

.monthly_leaderboard {
    padding: 0px !important;
}

.monthly_leaderboard .sort_by label {
    padding-right: 12px;
!important;
}

.search_memeber, .form_share {
    display: none;
}

.choose_member #message {
    width: 100%;
    border: 3px solid #acacac;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #8d8c8c;
    line-height: 25px;
    font-weight: 400;
    margin-top: 0;
}

.choose_member small {
    font-size: 13px;
    color: #8d8c8c;
    font-style: italic;

}

#form_share .trunited_gift_card .btn {
    border: 3px solid #acacac;
}

.modal.in .modal-dialog {
    z-index: 1050 !important;
}

.nationpassport-index-index {
    padding: 0 !important;
}

.nav-pills > li > a {
    display: block !important;
    font-size: 15px;
}

#messageModal .modal-body {
    overflow: auto;
}

#messageModal .btn-send, #sms-popup-content .btn-find {
    width: 100%;
    /* background: #f15b20; */
    display: block;
    margin: 15px auto 0 auto;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #ffffff;
    border: none;
    font-weight: 400;
    border-radius: 10px;
    text-transform: uppercase;
}

#send-sms sup {
    color: #f00;
    position: static !important;
    font-size: 100% !important;
}

#compose-content .alert-success, #compose-content .alert-danger, #sms-popup-content .alert-success, #sms-popup-content .alert-danger {
    font-size: 15px !important;
    padding: 15px !important;
    display: none;
}

.sent-date {
    float: right;
    margin-left: 10px;
}

.nicolas_btns .badge {
    background-color: red !important;
    padding: 5px 7px !important;
    float: right;
}

#messageModal .tab-content {
    max-height: 700px;
}

#find-result {
    max-height: 500px !important;
    overflow: auto !important;
}

.count-result {
    font-style: italic;
}

#list_members .nicolas_con_left h3 {
    font-size: 25px !important;
}

#list_members {
    max-height: 586px;
    overflow: auto;
}

.mini-cart {
    margin-top: 57px !important;
    right: 160px !important;
}

@media (max-width: 767px) {
    .mini-cart {
        margin-top: 40px !important;
        right: 20px !important;
    }
}

@media (max-width: 992px) {
    .mini-cart {
        margin-top: 8px !important;
        right: 20px !important;
    }
}


@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
    /* Styles */
    .mobile-cart{
        display: none !important;
    }

    .mini-cart {
        margin-top: 43px !important;
        right: 20px !important;
    }

    .desktop-cart{
        top: 15px;
        right: -21px;
		height: 32px;
		width: 32px;
    }
	.nav .cart-wrapper .desktop-cart-link{
		font-size: 13px !important;
	}
}

@media only screen
and (min-device-width : 1024px)
and (max-device-width : 1366px) {
    /* Styles */
    .mobile-cart{
        display: none !important;
    }

    .mini-cart {
        margin-top: 69px !important;
        right: 27px !important;
    }

    .desktop-cart{
        top: 15px;
        right: -21px;
		height: 30px;
		width: 30px;
    }
}

@media only screen
and (device-width : 1024px)
and (device-height : 768px) {
    /* Styles */
    .head_bottom_in_rgt #orgmenu{
        margin-right: 0 !important;
    }

    .mini-cart {
        margin-top: 32px !important;
        right: 27px !important;
    }
}

@media only screen  and (min-width : 1224px) {
/* Styles */
.mini-cart{
	    right: 20px !important;
		margin-top: 38px !important;
}
	
}

@media only screen  and (min-width : 1824px) {
/* Styles */
.mini-cart{
	        right: 160px !important;
    margin-top: 41px !important;
}
}

.badge-sms{
display: inline-block;
min-width: 10px;
padding: 4px 8px !important;
font-size: 13px !important;
font-weight: bold;
line-height: 1;
color: #fff;
text-align: center;
white-space: nowrap;
vertical-align: middle;
background-color: red;
border-radius: 10px;
float: right;
margin-top: -8px;
border: none;
margin-right: -7px;

}

.std ul{
list-style: none !important;

}

.orange_btn_blk a.buy_gift{
padding-top: 18px;
}

.box-trugiftcard-history a.orange_back_btn, a.orange_back_btn.transition{
	text-align: center;
padding-top: 14px;
}

.number_of_pages ul li.current{
	display: block;
text-align: center;
width: 35px;
border: 1px solid #00B6DB;
background: #00B6DB;
font-family: 'Lato', sans-serif;
font-size: 16px;
color: #fff;
font-weight: 700;
line-height: 35px;
border-radius: 2px;
	
}

h5.list_giftcards{
    min-height: auto !important;
}

.head_top_in{
    padding: 10px 0 !important;
}

.free_sipping{
    top: 10px !important;
}

.head_bottom_in_rgt #orgmenu{
    margin-right: 9%;
}

.mini-cart .actions a{
    margin-left: 0 !important;
    background-color: #08b4cb !important;
}

.product-tabs > ul li a{
    border: none !important;
}

.product-tabs > ul li{
    border: none !important;
    margin: 12px 12px 0 0 !important;
}