<?php
/**
 * nationpassport template
 */
$helper_truwallet = Mage::helper('trugiftcard');
?>
<div class="right_block_in">
    <div class="search_bar last padd_bot text-center">
        <h3 class="pad_last"><?php echo $this->__('MONEY MOVEMENT : TRANSFER'); ?></h3>
        <div class="clearfix"></div>
    </div>
    <div class="money_share_blk">
        <div class="money_share_blk_in">
            <form id="affiliateplus_payment_transfer_miniform" action="<?php echo $this->getTransferFormActionUrl() ?>"
                  method="post">
                <ul>
                    <li class="col-sm-4">
                        <div class="trunited">
                            <img class="pull-right" src="<?php echo $this->getSkinUrl('images/icon_img7.png'); ?>"
                                 width="155" height="95" alt="icon">
                            <div class="clearfix"></div>
                            <strong><?php echo $this->__('Affiliate Income'); ?></strong>
                            <span><?php echo $this->__('Balance <b>%s</b>', $this->getFormatedBalance()); ?></span>
                        </div>
                    </li>
                    <li class="col-sm-4">
                        <div class="dolar_blk">
                            <img src="<?php echo $this->getSkinUrl('images/dolar_icon_img.png'); ?>" width="237"
                                 height="90"
                                 alt="img">
                        </div>
                    </li>
                    <li class="col-sm-4">
                        <div class="trunited">
                            <img src="<?php echo $this->getSkinUrl('images/icon_img9.png'); ?>" width="153" height="96"
                                 alt="img">
                            <strong class="text-left"><?php echo $this->__('Trunited Gift Card'); ?></strong>
                            <span class="text-left"><?php echo $this->__('Balance <b>%s</b>', $this->getTruGiftCardCredit()); ?></span>
                        </div>
                    </li>
                </ul>
                <div class="clearfix"></div>
                <div class="trunited_gift_card">
                    <?php if ($helper_truwallet->getEnableTransferBonus()) { ?>
                        <h4><?php echo $this->__('Earn ' . $helper_truwallet->getTransferBonus() . '% Bonus'); ?></h4>
                    <?php } else { ?>
                        <h4><?php echo $this->__('Transfer to Trunited Gift Card balance'); ?></h4>
                    <?php } ?>
                    <ul>
                        <li class="col-xs-6"><strong><?php echo $this->__('Amount to Transfer'); ?></strong></li>
                        <li class="col-xs-6">
                            <input id="transfer_amount" name="transfer_amount" value=""
                                   class="required-entry validate-greater-than-zero"
                                   onchange="checkAmountBalance(this);"
                                   placeholder="<?php echo $this->__('Amount'); ?>">
                        </li>
                        <?php if ($helper_truwallet->getEnableTransferBonus()) { ?>
                            <li class="col-xs-6"><strong><?php echo $this->__('Bonus Profit '); ?></strong></li>
                            <li class="col-xs-6"><em><b id="bonus_points"></b> <?php echo $this->__(''); ?></em></li>
                        <?php } ?>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <?php if ($this->isEnableTerm()) { ?>
                    <div class="trubox_payment">
                        <ul>
                            <li class="col-md-12 col-xs-12">
                                <label for="transfer_term">
                                    <input type="checkbox" id="transfer_term" name="transfer_term"
                                           class="input-text required-entry" style="display: table-row-group;"/>
                                    <span><?php echo $this->getContentTerm(); ?></span>
                                </label>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                <?php } ?>
                <div class="orange_btn_blk pad_last">
                    <ul>
                        <li class="col-md-4 col-xs-12">
                            <button name="name" type="button" id="btn-back"
                                    class="buy_gift transition"><?php echo $this->__('BACK'); ?></button>
                        </li>
                        <li class="col-md-5 col-md-offset-3 col-xs-12">
                            <button name="name" type="submit" class="buy_gift transition">
                                <?php echo $this->__('SUBMIT YOUR REQUEST'); ?></button>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="clearfix"></div>

<script type="text/javascript">
    //<![CDATA[
    var affiliateplusPaymentTransferMiniform = new VarienForm('affiliateplus_payment_transfer_miniform', true);

    $j = jQuery.noConflict();
    $j('.main-container').addClass('main_block main_bg2');
    $j('.main').addClass('container');
    $j('.main .col-main').addClass('row');

    $j('#btn-back').click(function () {
        window.location.href = '<?php echo $this->getBackUrl();?>';
        return false;
    });

    var request_amount_max = <?php echo $this->getMaxAmount() ?>;

    function checkAmountBalance(el) {
        el.value = el.value.replace(/[^0-9\\.]/g, '');

        if (el.value.split('.').length > 2){
            el.value = process(el.value);
        }

        var percent = parseFloat(<?php echo $helper_truwallet->getTransferBonus();?>);
        if (el.value < 0)
            el.value = 0;
        else if (el.value > request_amount_max || el.value === 'NaN' || el.value === '')
            el.value = request_amount_max;

        $j('#bonus_points').html('');
        $j('#bonus_points').html((el.value * percent) / 100);

        $j('#transfer_amount').val(currencyFormat(el.value));
    }

    function process( input ) {
        var index = input.indexOf( '.' );

        if ( index > -1 ) {
            input = input.substr( 0, index + 1 ) + input.slice( index ).replace( /\./g, '' );
        }

        return input;
    }

    function currencyFormat (num) {
        return parseFloat(num).toFixed(2).replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,")
    }

    //]]>
</script>
