/*====================================== reset.css is here ========================================*/
*{padding:0; margin:0; box-sizing:border-box;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0;}
table {	border-collapse:collapse; border-spacing:0;}
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal; font-weight:normal;}
ol,ul { list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {	font-size:100%;	font-weight:bold;}
q:before,q:after {content:'';}
abbr,acronym { border:0;}
.clear{clear:both; font-size:1px;line-height:1px; display:block; height:0;}
.clrflt{clear:both;}
.last{padding:0;}
.pad_last{padding:0 !important;}
.no_bg {background:none !important;}
/**************************************************************************************/
a											{color:#000; text-decoration:none; outline:0 none !important;}
a:hover										{color:#000;  text-decoration:none;}
h1											{font-size:35px;  line-height:45px; color:#2f2f2f; font-weight:600; font-family: 'Poppins', sans-serif;}
h2											{font-size:36px; line-height:36px; color:#2f2f2f; font-weight:600; font-family: 'Poppins', sans-serif;}
h3											{font-size:27px; line-height:27px; /*color:#ec7b42;*/ font-weight:600; font-family: 'Poppins', sans-serif;}
h4											{font-size:24px; line-height:24px; color:#2f2f2f; font-weight:600; font-family: 'Poppins', sans-serif;}
h5											{font-size:18px; line-height:18px; /*color:#2f2f2f;*/ font-weight:600; font-family: 'Poppins', sans-serif;}
h6											{font-size:12px;}
/*----------------------------------------------------------------------------------*/
html 										{height:100%;}
body{
    color:#b1b1b1; 
    /*font-family:"Arial", Verdana, Tahoma; */
    font-family: 'Lato', sans-serif;
    /*font-size:12px; */
    font-size: 16px;
    background:#fff;
}
.flt_lt										{float:left; display:inline;}
.flt_rt										{float:right; display:inline;}
/* ---------------------------------------------------------------------------------*/
.wrapper									{width:100%;}
.container									{margin:0 auto;width:1170px;}
/* ----------------------------------HEADER START HERE---------------------------------------------*/
header										{display:block; width:100%; position: relative;}
.header_in									{display:block; width:100%;}
.header_rgt									{float:right;display:inline-block;}
.header_top                                 {background: #00b5cb;}
.header_top_lft								{padding: 15px 0 0;float: left;display: inline-block;}
.header_top_lft	a							{margin:0;padding:0;font-family: 'Open Sans', sans-serif;font-size:14px;line-height:14px;color:#fff;font-weight:400;display:inline-block;letter-spacing: 0.9px;}
.header_top_rgt								{margin:0;padding:0;float: right;display: inline-block;}
.header_top_rgt ul							{margin:0;padding:0; position:relative;}
.header_top_rgt ul li						{margin:0;padding: 0 18px;display: inline-block;position:relative;}
.header_top_rgt ul li a						{margin:0;padding:12px 0;  font-family: 'Open Sans', sans-serif; font-size:14px; line-height:14px; color:#fff; display:inline-block; font-weight:400;}
.header_top_rgt ul li:after			{content:''; position:absolute; top:0; left:0; right:0; width:1px; height:42px; background:#4dcbdb;}
.header_top_rgt ul:after	{content:''; position:absolute; top:0; right:0; width:1px; height:42px; background:#4dcbdb;}
.header_down				{background:#fff; transition:all ease-out 0.5s;-moz-transition:all ease-out 0.5s;-ms-transition:all ease-out 0.5s;-o-transition:all ease-out 0.5s;-webkit-transition:all ease-out 0.5s;}
.header_main					{padding: 25px 0 28PX;}
.logo										{padding:0;}
.logo a										{display:inline-block; }
.logo a img									{display:inline-block; }
/* ----------------------------------NAVIGATION START HERE---------------------------------------------*/
.nav_bg				{padding:0; }
.nav_bg .navbar		{margin:0; min-height:0;}
.nav_bg .navbar-inverse	{background:none; border-color:#fff; border:0;}
.nav_bg	.navbar-inverse .navbar-collapse	{background:none; padding:0;}
.nav_bg .navbar-nav		{float:right;padding: 30px 0 0;}
.nav_bg .navbar-nav > li	{padding: 0 32px;}
.nav_bg .navbar-nav > li:last-child{padding:0 0 0 30px;}
.nav_bg .nav > li > a	{font-family: 'Montserrat', sans-serif; font-size:19px; line-height:19px; color:#4e4949; font-weight:700; display:inline-block; text-transform:uppercase; padding:0;}
.nav_bg .navbar-inverse .navbar-nav > li > a:hover, .nav_bg .navbar-inverse .navbar-nav > li > a.active, .nav_bg .navbar-inverse .navbar-nav > li > a:focus	{background:none; color:#00b5cb;}
.nav_bg .navbar-inverse .navbar-nav > .active > a{background:none; color:#00b5cb;}
.navbar-toggle	{float:none;}
.navbar-toggle .icon-bar:nth-of-type(2) {top: -7px;}
.navbar-toggle .icon-bar:nth-of-type(3) {top: -6px;}
.navbar-toggle .icon-bar {position: relative;transition: all 300ms ease-in-out;top: -8px; background:#f00;}
.navbar-toggle.active .icon-bar:nth-of-type(1) {top:-1px;transform: rotate(45deg);}
.navbar-toggle.active .icon-bar:nth-of-type(2) {background-color: transparent;}
.navbar-toggle.active .icon-bar:nth-of-type(3) {top: -13px;transform: rotate(-45deg);}
.sticky .header_down		{position:fixed; top:0; left:0; width:100%; z-index:999999; background:#fff;	 }
.sticky .header_main		{padding:8px 10px; width:100%;}
.sticky .banner				{padding-top:90px; }
.sticky .banner_soon	{top:90px; height:calc(100% - 90px);}
/* ----------------------------------BANNER START HERE---------------------------------------------*/
.banner					{padding:0 0; margin:0; height:100%;  position:relative;  z-index:1;}
.banner ul li		{width:100%; min-height:615px; position:relative; background-position:center top !important;}
.banner_main			{position:absolute; top:0; left:0; width:100%; height:100%; }
.banner_main .container	{height:100%;}
.banner_main .row		{height:100%;}
.tbl					{display:table; width:100%; height:100%;}
.tbl_cell				{display:table-cell; vertical-align:middle; height:100%;}
.banner_in					{padding:0; display:block;}
.banner .slick-dots{text-align:center; position:absolute; bottom:10px; left:0; right:0;}
.banner .slick-dots	li{	min-height:inherit !important; width:auto !important; display:inline-block; margin:0 3px;}
.banner .slick-dots li button{font-size:0px !important; background:#4e4949; width:10px; height:10px; border-radius:100%; border:0; padding:0; outline:0; display:inline-block;}				
.banner .slick-dots li.slick-active button{background:#fff;}
.banner .slick-arrow	{position:absolute; top:50%; z-index:9999; }
.banner .slick-prev 	{background:url(../../../images/cms/homepage/arrow_lft.png) no-repeat left center; width:30px; height:40px; font-size:0; border:none; left:15px; outline:0 none;}
.banner .slick-next  	{background:url(../../../images/cms/homepage/arrow_rgt.png) no-repeat right center; width:30px; height:40px; font-size:0;  border:none; right:15px; outline:0 none;}
.banner_cont			{padding:0;}
.banner_cont ul			{padding:0; margin:0;}
.banner_cont ul li		{padding:0 33px; float:left; display:inline-block; position:relative; min-height:inherit !important; width:auto;}
.banner_cont ul li a	{padding:0 0 0 0; margin:0; display:inline-block; font-family: 'Poppins', sans-serif; font-size:60px; line-height:60px; color:#00b5cb; font-weight:700;}
.banner_cont ul li:after	{content:''; position:absolute; top:0; left:0; right:0; width:9px; height:54px; background:#00b5cb;}
.banner_cont ul li:first-child	{padding:0 33px 0 0;}
.banner_cont ul li:first-child:after	{display:none;}
.banner_cont1				{padding:0 0 15px 70px; background:url(../../../images/cms/homepage/bg_1.png) no-repeat right bottom;}
.banner_cont1 ul li			{padding:0 19px; position:relative; min-height:inherit !important; width:auto;}
.banner_cont ul li:first-child	{padding:0 19px 0 0;}
.banner_cont1 ul li a	{font-size:36px; color:#ec7b42; font-weight:600;}
.banner_cont1 ul li:after	{top:13px; width:6px; height:32px; background:#ec7b42;}
.banner_cash			{padding: 25px 0 0 95px;position:relative;}
.banner_cash h1			{padding: 0 0 14px 25px;margin:0;text-transform: uppercase;}
.banner_cash h1 span	{display:inline-block; color:#00b5cb;}
.banner_cash h4			{padding: 0 0 42px;margin:0;letter-spacing: 1.1px;}
.banner_cash h4 small			{display:inline-block; color:#00b5cb; font-size:24px;}
.banner_cash h5			{padding:0;margin:0;position:absolute;top: 36px;left: 78px;transform:rotate(-90deg);-moz-transform:rotate(-90deg);-ms-transform:rotate(-90deg);-o-transform:rotate(-90deg);-webkit-transform:rotate(-90deg);text-transform: uppercase;}
.banner_cash a			{padding: 20px 32px;margin:0;display:inline-block;background:#ec7b42;border-radius: 33px;font-family: 'Montserrat', sans-serif;font-size: 20px;line-height: 20px;color:#ffffff;font-weight:400;text-transform: uppercase;letter-spacing: 1.9px;}
.banner_cash a span			{background:url(../../../images/cms/homepage/arrow_bg.png) no-repeat right center;display:inline-block;width:25px;height:10px;padding: 0 0 0 31px;}
.banner_soon		{padding: 11px 20px;background:#ffffff;width:256px;height:100%;position:absolute;top:0;right: 12%;z-index:99;}
.banner_soon h3		{padding:0;margin:0;}
.banner_soon ul		{padding:0; margin:0;}
.banner_soon ul li	{padding: 13px 0;display:block;min-height:inherit !important;width:auto;border-bottom:1px solid #ebeae8;}
.banner_soon ul li:last-child	{border:none;}
.banner_soon ul li a	{display:inline-block;}
.banner_soon ul li a img	{display:block;}
/* ----------------------------------MAIN CONTENT START HERE---------------------------------------------*/
.brand_block		{padding: 30px 0 91px;overflow:hidden;}
.brand_block ul		{padding:0; margin:0 -15px;}
.brand_block ul li	{padding:0 15px;}
.list2 .brand_main	{background:url(../../../images/cms/homepage/brand_bg2.png) no-repeat left top;}
.list3 .brand_main	{background:url(../../../images/cms/homepage/brand_bg3.png) no-repeat left top;}
.list4 .brand_main	 {background:url(../../../images/cms/homepage/brand_bg4.png) no-repeat left top;}
.brand_main				{padding: 17px 0;background:url(../../../images/cms/homepage/brand_bg1.png) no-repeat left top;height: 100%; position:relative;}
.brand_main span		{display:block;padding:0 0 15px;min-height: 102px;}
.brand_main span img	{}
.brand_main span em	{font-family: 'Montserrat', sans-serif; font-size:30px; line-height:30px; color:#ffffff; font-weight:700; display:inline-block; min-height:auto; padding:0 0 0 10px; font-style:normal;}
.brand_main h2			{font-family: 'Montserrat', sans-serif; font-size:40px; line-height:40px; color:#ffffff; font-weight:700; padding:0 0 25px; margin:0; text-transform:uppercase;}	
.brand_main h2 small	{font-size:24px; line-height:24px; display:block; color:#fff; letter-spacing:2px;}
.brand_main a	{font-family: 'Montserrat', sans-serif; font-size:17px; line-height:17px; color:#ffffff; font-weight:400; border:2px solid #fff; padding:14px 0; display:block; max-width:176px; margin:0 auto; text-transform:uppercase; position:relative; z-index:9;}
.brand_main:after		{content:'';position:absolute;top: 10px;left: 12px;border-top: 1px solid #fff;border-left: 1px solid #fff;width: 100%;height: 100%;}
.list2 .brand_main:before{content:'';position:absolute;top: 0;right: 12px;border-left: 1px solid #fff;border-right: 0;width:1px;height: 100%;display: block;}	
.list2 .brand_main:after{top: 0;right:12px;border-left:0;border-right: 1px solid #fff;width:1px;height: 100%;}	
.list3 .brand_main:before{content:'';position:absolute;top: 0;right: 12px;border-left: 1px solid #fff;border-right: 0;width:1px;height: 100%;display: block;}	
.list3 .brand_main:after{top: 0;left:12px;border-left:0;border-right: 1px solid #fff;width:1px;height: 100%;}		
.list4 .brand_main:after{top: 10px;right:12px; left:auto;border-top: 1px solid #fff;border-right: 1px solid #fff; border-left:0;}	
.national_block		{padding:0 0 70px; overflow:hidden;}
.national_block	h2	{padding: 0 0 63px;margin:0;position:relative;text-transform:uppercase;}
.national_block	h2:after	{content:''; position:absolute; bottom:50px; left:0; right:0; margin:0 auto; display:inline-block; width:100px; height:2px; background:#00b5cb;}
.national_block	ul		{padding:0; margin:0 -15px; font-size:0;}
.national_block ul li	{padding: 0 15px 30px;vertical-align:top;float:none;display:inline-block;}
.national_in		{padding: 36px 0;background:#ecf6f9;border:1px solid #cadce0;transition:all ease-out 0.5s;-moz-transition:all ease-out 0.5s;-ms-transition:all ease-out 0.5s;-o-transition:all ease-out 0.5s;-webkit-transition:all ease-out 0.5s;}
.national_in span	{display:block;padding: 0 0 31px;min-height: 101px;}
.national_in span img	{ -webkit-filter: grayscale(100%);  -moz-filter: grayscale(100%); -ms-filter: grayscale(100%);  -o-filter: grayscale(100%);
 filter: grayscale(100%); margin:0 auto;}
.national_in h6		{padding:0 0 30px; margin:0; color:#ec7b42; font-family: 'Roboto', sans-serif; font-size:18px; line-height:18px; font-weight:400;}
.national_in h6 b	{font-weight:900; display:inline-block; font-style:normal;}
.national_in a			{font-family: 'Montserrat', sans-serif; font-size:15px; line-height:15px; color:#ffffff; font-weight:400; padding:14px 0; display:block; max-width:152px; margin:0 auto; text-transform:uppercase; background:#00b5cb; border-radius:20px;}
.national_block ul li:hover	.national_in{background:url(../../../images/cms/homepage/hover_bg.png) no-repeat left top; background-size:cover; border:none;}
.national_block ul li:hover	.national_in a	{background:#f35a22;}
.national_block ul li:hover	.national_in span img{ filter: grayscale(0);}
.national_block ul li:hover .b_block	{display:none}		
.national_block ul li:hover .b_none	{display:block}	
.national_block ul li:hover .national_in h6{color:#fff;}	
.b_block		{display:block;}
.b_none			{display:none;}
.store_block		{padding: 0 0 93px; overflow:hidden;}
.store_block h2		{padding: 0 0 64px;margin:0;position:relative;text-transform:uppercase;}
.store_block h2:after	{content:''; position:absolute; bottom:50px; left:0; right:0; margin:0 auto; display:inline-block; width:100px; height:2px; background:#00b5cb;}
.store_block ul		{margin:0 -15px; padding:0;}
.store_block ul li	{padding:0 15px;}
.store_main			{padding:0; border:1px solid #e2e2e2;}
.store_main figure	{display:block;}
.store_main	figure img	{display:block; width:100%; height:auto;}
.store_in			{padding: 42px 30px 36px;}
.store_in h5		{padding: 0 0 6px;margin:0;font-family: 'Montserrat', sans-serif;text-transform:uppercase;font-size: 25px;line-height: 25px;}
.store_in h6		{font-family: 'Roboto', sans-serif;font-size:18px;line-height:20px;color:#ec7b42;font-weight:400;padding: 0 0 27px;margin:0;}
.store_in h6 strong	 {font-weight:900; font-size:20px; display:inline-block;}
.store_in h3		{padding: 0 0 26px;margin:0;font-family: 'Montserrat', sans-serif;font-size:30px;line-height:30px;color:#00b5cb;font-weight:400;}
.store_in p	{font-family: 'Roboto', sans-serif;font-size:17px;line-height:22px;color:#4e4949;font-weight:400;padding: 0 0 28px;margin:0;letter-spacing: 0.9px;}
.store_in p span	{display:block;}
.store_in a		{font-family: 'Montserrat', sans-serif;font-size:15px;line-height:15px;color:#ffffff;font-weight:400;padding:14px 0;display:block;max-width:152px;margin:0 auto;text-transform:uppercase;background:#00b5cb;border-radius: 22px;}
.store_block ul li:hover .store_main	{box-shadow: 0 0 10px 2px #e9e9e9;}
.store_block ul li:hover .store_in a		{background:#ec7b42;}
.feature_block		{padding: 0 0 125px;}
.feature_block h2		{padding: 0 0 70px;margin:0;position:relative;text-transform:uppercase;}
.feature_block h2:after	{content:''; position:absolute; bottom:50px; left:0; right:0; margin:0 auto; display:inline-block; width:100px; height:2px; background:#00b5cb;}
.feature_block ul		{padding: 21px 0 0;display:inline-block;margin-bottom:-1px;float:left;position:relative;}
.feature_block ul:after{content:''; border-bottom:solid 1px #fff; width:100%; position:absolute; display:block; bottom:0;   }
.feature_block ul li	{ height:220px; border-bottom:1px solid #cadce0; border-right:1px solid #cadce0; transition:all ease-out 0.5s; -moz-transition:all ease-out 0.5s; -ms-transition:all ease-out 0.5s; -o-transition:all ease-out 0.5s; -webkit-transition:all ease-out 0.5s;}
.feature_block ul li:nth-child(4n){border-right:0; }
.feature_block ul li a span	img	{margin:0 auto;}
.feature_block ul li a	{ display:block; height:100%;}
.feature_block ul li:hover{background:#ecf6f9;}
.news_block			{padding: 89px;}
.news_lft			{padding:0; position:relative; }
.news_lft h2		{padding: 0 0 66px;margin:0;position:relative;text-transform:uppercase;}
.news_lft h2:after	{content:''; position:absolute; bottom:50px; left:0; display:inline-block; width:100px; height:2px; background:#00b5cb;}
.news_in		{padding:0;}
.news_lft_in	{padding:0;display:inline-block;float:left;width: 33%;}
.news_lft_in figure	{display:block;}
.news_lft_in figure	img{display:block;}
.news_rgt_in	{padding: 0 0  0 20px;display:inline-block;float:left;width: 66%;}
.news_main		{padding: 0 0 1px;}
.news_date		{float:left; display:inline-block; width:56px;  text-align:center;}
.news_date h3	{display:block; font-family: 'Roboto', sans-serif; font-size:20px; line-height:20px; color:#00b5cb; font-weight:900; padding:10px 0; margin:0; background:#ecf6f9;}
.news_date span	{display:block; background:#00b5cb; font-family: 'Roboto', sans-serif; font-size:20px; line-height:20px; font-weight:900;  color:#fff; padding:9px 0 9px;  }
.news_date_rgt	{padding: 0 0 0 22px;float:left;display:inline-block;width:310px;text-align:left;}
.news_date_rgt h5	{font-family: 'Montserrat', sans-serif; font-size:22px; line-height:28px; color:#00b5cb; font-weight:400; padding:0; margin:0;}
.news_rgt_in p		{font-family: 'Montserrat', sans-serif;font-size:18px;line-height:27px;color:#4e4949;font-weight:400;padding: 0 0 22px;margin:0;letter-spacing: 0.2px;}
.news_rgt_in a 	{font-family: 'Montserrat', sans-serif; font-size:16px; line-height:16px; color:#00b5cb; font-weight:400; padding:0; margin:0; text-transform:uppercase; display:inline-block;}
.news_lft .slick-dots{text-align:center;position:absolute;bottom: -28px;left:0;}
.news_lft .slick-dots	li{	min-height:auto !important; width:auto !important; display:inline-block; margin:0 3px;}
.news_lft .slick-dots li button{font-size:0px !important; background:#848a8c; width:9px; height:9px; border-radius:100%; border:0; padding:0; outline:0; display:inline-block;}				
.news_lft .slick-dots li.slick-active button{background:#00b5cb;}
.news_rgt			{padding: 0 0 0 20px;}
.news_rgt h2		{padding: 0 0 65px;margin:0;position:relative;text-transform:uppercase;}
.news_rgt h2:after	{content:''; position:absolute; bottom:50px; left:0; display:inline-block; width:100px; height:2px; background:#00b5cb;}
.people_block			{padding:0 0 0;}
.people_in				{padding: 41px 48px 30px;margin:0;background:#00b5cb;position:relative;}
.people_in:after		{content:'';position:absolute;bottom: -20px;left: 13%;border-top: 15px solid #00b5cb;border-left: 15px solid transparent;border-right: 15px solid transparent;width: 20px;height: 20px;}
.people_in p			{padding:0;font-family: 'Roboto', sans-serif;font-size:17px;line-height:33px;font-weight:400;color:#fff;padding:0;margin:0;position: relative;}
.people_in p:before		{content:'';position:absolute;top: -14px;left: -25px;background:url(../../../images/cms/homepage/queotes_icon1.png) no-repeat left top;width: 30px;height: 30px;}
.people_in p em			{background:url(../../../images/cms/homepage/queotes_icon2.png) no-repeat right top;width: 30px;height: 30px; display:inline-block; vertical-align:bottom;margin-bottom:-15px;}
.people_main		{padding: 39px 70px 25px;}
.people_main h4		{font-family: 'Montserrat', sans-serif;font-size:20px;line-height: 23px;color:#484949;font-weight:400;padding:0;margin:0; text-transform:uppercase;}
.people_main h4 span	{display:block;font-size:16px;color:#00b5cb;text-transform: uppercase;}
.news_rgt .slick-dots{text-align:center;position:absolute;bottom: -3px;left:0;}
.news_rgt .slick-dots	li{	min-height:auto !important; width:auto !important; display:inline-block; margin:0 3px;}
.news_rgt .slick-dots li button{font-size:0px !important; background:#848a8c; width:9px; height:9px; border-radius:100%; border:0; padding:0; outline:0; display:inline-block;}				
.news_rgt .slick-dots li.slick-active button{background:#00b5cb;}
.cashback_block			{padding: 50px 66px 46px;margin:0 0 87px;background:url(../../../images/cms/homepage/bg_2.png) repeat left top;border-radius:5px;}
.cashback_lft			{padding:0;}
.cashback_lft h2		{padding: 0 0 0 111px;margin:0;background:url(../../../images/cms/homepage/tag_img2.png) no-repeat left  center;color:#fff;line-height: 51px;text-transform: uppercase;letter-spacing: 0.7px;}
.cashback_lft h2 span	{display:block;font-weight:300;letter-spacing: 2px;}
.cashback_rgt			{padding: 19px 0 0;}
.cashback_rgt a			{padding: 20px 29px;display:inline-block;background:#00b5cb;border:2px solid #fff;border-radius:30px;font-family: 'Montserrat', sans-serif;font-size:18px;line-height:18px;color:#fff;font-weight:400;text-transform:uppercase;}
.cashback_rgt a span	{display:inline-block; padding:0 0 0 15px;}
.mobo_nav		{display:none;}

/* ------------------ FOOTER HERE -------------------*/
footer										{display:block;background: #00b5cb;padding: 73px 0 0 0;}
footer h3{font-size:21px;line-height:23px;color:#fff;font-family: 'Roboto', sans-serif;font-weight:700;margin: 0 0 28px 0;}
.footer-top									{display:inline-block;padding: 0; width:100%;}
.footer-top-text 							{display:block;padding: 0;}
.footer-top-text ul 						{ display:block;}
.footer-top-text ul li 						{background: url(../../../images/cms/homepage/arrowicon.png) no-repeat 1% 9%; padding:0 0 18px 24px;}
.footer-top-text ul li a:hover				{text-decoration:underline;}
.footer-top-text ul li a 					{display:inline-block;font-size: 15px;line-height: 17px;color: #fff;padding:0;}
.footer-top-text ul li p 					{display:block;font-size: 15px;line-height: 24px;color: #fff;padding: 0 0 10px 34px;font-family: 'Roboto', sans-serif;font-weight:400;}
.footer-top-text ul li span 					{display:block;font-size: 15px;line-height: 23px;color: #fff;padding: 0 0 11px 0;font-family: 'Roboto', sans-serif;font-weight:400;}
.footer-top-text ul li b 					{display:block;font-size: 15px;line-height: 16px;color: #fff;padding:0;font-family: 'Roboto', sans-serif;font-weight:700;padding: 8px 0 11px 0;}
.footer-top-text ul li.map 					{background: url(../../../images/cms/homepage/mapicon.png) no-repeat 3% 2%;}
.footer-top-text ul li.emailicon 					{background: url(../../../images/cms/homepage/emailicon.png) no-repeat 4% 7%;}
.footer-top-text ul li.timeicon 					{background: url(../../../images/cms/homepage/timeicon.png) no-repeat 3% 5%;}
.footer-top-text ul li .contact 									{margin: 0;padding: 0 0 23px 0;}
.footer-top-text ul li a.email    				 { padding:0;}	
.wyturned  										{ padding:0}
.text-field  									{width: 68%;padding: 13px 7px 11px 9px;display:inline-block;float:left;border:none;outline:none;font-size: 15px;line-height: 17px;color: #000;text-transform: uppercase;}
.button 										{width: 30%;display:inline-block;float:right;border:none;outline:none;padding: 12px 0 13px 0;font-size: 15px;line-height: 17px;color: #fff;text-transform: uppercase;background: #ec7b42;}
.footer-top-text ul li .submint  							{width:100%;border-radius: 3px;overflow: hidden;padding: 0; background:#fff;}
.footer-top-text ul li label  						{display:block;font-size: 15px;line-height: 20px;color: #fff;padding:0;font-family: 'Roboto', sans-serif;font-weight:400;padding: 0 0 14px 0;}
.footer-bottom 								{display:block;display:block; /*border-top: solid 1px #5bc7d5; */padding: 33px 0 37px 0;}
.footer-bottom-left 						{display:inline-block;float: left;padding: 0;}
.trunited  									{display:inline-block;float:left;padding: 0;}
.trunited figure 							{ display:block;}
.trunited figure img 								{display:block;width:auto;height:auto;}
.socialicon  									{display:inline-block;float:left;padding: 0;text-align: center;}
.socialicon ul 								{ display:block; padding:2px 0 0 4px;}
.socialicon ul li 							{ display:inline-block; float:left;}
.socialicon ul li a 						{display:block;margin: 0 5px 0 6px;}
.visacards  									{display:inline-block;float: right;padding: 8px 0 0;text-align: center;}
.visacards ul 								{ display:block;}
.visacards ul li 							{ display:inline-block; float:left; padding:0 0 0 4px;}
.footer-bottom-rigth 						{display:inline-block;float:right;padding: 0;}
.footer-bottom-rigth p 						{font-size:16px;line-height:18px;color:#fff;font-family: 'Roboto', sans-serif;font-weight:400;padding: 12px 0 0 0;text-align: right;}
.footer-top-text ul li:first-child	{padding:0 0 0;}
.footer_main			{padding:0 0 0 27px;}
.footer_main ul li	{padding:0 0 20px;}
.footer_lft			{padding:0 0 0 15px;}

.std ul{
 padding-left: 0 !important;
}

.main-container{
 padding-top: 0 !important;
}

/*---------------Inner20 Page Starts--------------*/
.comsumer_dashboard	{padding:65px 0 0 0; margin:0;}
.dashboard_bar	{padding:10px 0 10px 0; margin:0 0 0 0; background:#454543; border-radius: 22px 22px 0 0; display:inline-block; width:100%;}
.dashboard_bar h3      {font-family: 'Lato', sans-serif; font-size: 30px;line-height: 32px;font-weight: bold;padding: 0 0 0 0;color: #ffffff;display: block; text-transform:uppercase; text-align:center;}

.dashboard_top	{padding:80px 74px 94px 74px; margin:0 0 45px 0; background:url(../images/opacity_bg.png) repeat;}
.dashboard_top ul {padding:0; margin:0 -17px;}
.dashboard_top ul li {padding:0 17px; margin:0;}
.dashboard_top ul li span	{font-family: 'BebasNeueRegular'; font-size:80px; color:#454543; font-weight:normal; text-align:center; line-height:85px; padding:15px 0 8px 0; display:block; border-radius:30px 30px 0 0;}
.dashboard_top ul li small {background:#484342; font-family: 'Lato', sans-serif; font-size:28px; color:#ffffff; line-height:30px; font-weight:700; padding:5px 0; text-align:center; display:block; border-radius:0 0 30px 30px; text-transform:uppercase;}

.cust_rpt			{width:32%;}
.customer_reports	{padding:0; margin:0;}
.customer_reports h6 {font-family: 'Lato', sans-serif; font-size:29px; color:#ffffff; line-height:52px; font-weight:700; background:#454543; border-radius:20px 20px 0 0; text-align:center;} 
.customer_reports ul {padding:22px 20px 28px 20px; margin:0; background:url(../images/opacity_bg.png) repeat;}
.customer_reports ul li {border:3px solid #929292; padding:0; margin:0 0 18px 0; display:block; border-radius:15px;}
.customer_reports ul li p {font-family: 'Lato', sans-serif; font-size:24px; color:#000000; line-height:25px; font-weight:700; padding:15px 10px 15px 118px; position:relative;}
.customer_reports ul li p span {font-family: 'Lato', sans-serif; font-size:20px; color:#a3a3a3; font-weight:900; display:block;}
.customer_reports ul li p span small {color:#454543;}
.customer_reports ul li p:after	{content:''; position:absolute; z-index:9; left:16px; top:9px; background:url(../images/icon51.png) no-repeat; width:81px; height:63px;}
.customer_reports ul li:nth-child(2) p:after	{background:url(../images/icon52.png) no-repeat;}
.customer_reports ul li:nth-child(3) p:after	{background:url(../images/icon53.png) no-repeat;}
.customer_reports ul li:nth-child(4) p:after	{background:url(../images/icon54.png) no-repeat;}
.customer_reports ul li:nth-child(5) p:after	{background:url(../images/icon55.png) no-repeat;}
.customer_reports ul li:nth-child(5) p			{padding:28px 10px 28px 118px;} 

.trend_chart	{width:68%;}
.graph_sec		{padding:82px 0 60px 0; margin:0; background:#f7f7f7;}
.graph_sec img	{display:block; margin:0 auto; height:auto;}
.graph_sec ul	{padding:35px 0 0 80px; margin:0;}
.graph_sec ul li {float:left; display:inline-block; margin:0 37px 0 0;}
.graph_sec ul li span	{font-family: 'Lato', sans-serif; font-size:16px; color:#a3a3a3; line-height:34px; font-weight:400; padding:0 0 0 48px; position:relative;}
.graph_sec ul li span:after	{content:''; position:absolute; z-index:9; left:0; top:-7px; background:#f16f20; width:36px; height:34px;}
.graph_sec ul li:nth-child(2) span:after	{background:#00b5cb;}
.graph_sec ul li:nth-child(3) span:after	{background:#33d369;}

.product_blk ul li.dash	{width:15.66%;}
.dash_btns_blk	{width:75%; margin:0 auto;}
.nation_passport_right.passport	{background:url(../images/bg_img1.jpg) no-repeat; background-size:cover;}

.orange_btn_blk		{padding:90px 0 60px 0; margin:0;}
.orange_btn_blk ul	{padding:0;}
.orange_btn_blk ul li 	{padding:0 2%; margin:0;}
.orange_btn_blk ul li .buy_gift	{background:#f15b20; width:100%; height:65px; font-family: 'Lato', sans-serif; font-size:24px; color:#ffffff; font-weight:400; text-transform:uppercase; display:block; border-radius:15px; border:0 none; line-height:59px; text-align: center;}
.orange_btn_blk ul li .buy_gift:hover	{background:#e84c0f;}


/*---------------Main Content Start--------------*/
.main_content	{background:#f4f4f4;}

.shop_now_blk	{padding:0; margin:0; background:#454543;}
.shop_now		{padding:18px 0; margin:0;}
.shop_now ul	{padding:0; margin:0;}
.shop_now ul li	{float:left; display:inline-block;}
.shop_now ul li a {display:block; font-family: 'Lato', sans-serif; font-size:24px; color:#ffffff; line-height:25px; text-transform:capitalize;}
.shop_now ul li span {display:block; font-family: 'Lato', sans-serif; font-size:24px; color:#ffffff; line-height:25px; padding:0 5px;}
.shop_now ul li a:hover		{text-decoration:none;}

.main_block		{padding:0 0 243px 0; margin:0; /*background:url(../images/main_bg.jpg) no-repeat left top;*/}
.main_block.inn_pad {padding:0 0 30px 0 !important;}
.direct_comsumer	{padding:30px 0 39px 0; margin:0; width:77%; float:right; display:inline-block;}
.direct_comsumer h1		{font-family: 'Lato', sans-serif; font-size:50px; color:#000000; font-weight:700; line-height:45px; display:block; text-align:center; background:url(../images/orenge_br.png) no-repeat center bottom; padding:0 0 8px 0; text-transform:uppercase;}
.direct_comsumer h1	span	{font-family: 'Lato', sans-serif; font-size:30px; display:block;}
.direct_comsumer h1.inner_pad {font-family: 'Lato', sans-serif; font-size: 42px;line-height: 44px;padding: 41px 0 15px 0;margin: 0 0 20px 0;}
.direct_comsumer h1.inner_pad1 {padding: 38px 0 9px 0;}

.left_block			{padding:0 28px 0 0; margin:0; border-radius:10px 10px; width:32%;}
.sidebar		{padding:0; margin:0;}
.sidebar h6 {font-family: 'Lato', sans-serif; font-size:22px; line-height:50px; color:#ffffff; font-weight:400; background:#15b6cb; padding:0 0 0 30px; text-transform:uppercase; position:relative; margin:0; cursor:pointer;}
.sidebar h6:after	{content:''; position:absolute; z-index:9; right:15px; top:20px; background:url(../images/down_arrow.png) no-repeat; width:22px; height:11px; transform:rotate(180deg);}
.sidebar.active h6:after	{transform:rotate(0deg);}
.sub_blk		{padding:0; margin:0; display:none;}
.sub_blk ul		{padding:3px 0 0 0; margin:0; background:#454543;}
.sub_blk ul li 	{display:block; border-bottom:1px solid #414140;}
.sub_blk ul li a {display:block; font-family: 'Lato', sans-serif; font-size:23px; color:#ffffff; font-weight:300; line-height:32px; padding:9px 0 8px 30px;}
.sub_blk ul li a span {padding:0 0 0 10px; margin:0; display:inline-block;} 
.sub_blk ul li a small	{padding:0; margin:0; display:inline-block;}
.sidebar:nth-child(1) h6  {border-radius:22px 22px 0 0;}
.sub_blk ul li a:hover	{background:#52524f;}

.right_block		{padding:0; margin:0; width:68%;}
.right_block_in		{padding:0 0 41px 0; margin:0;}
.search_bar			{padding:10px 12px 10px 0; margin:0 0 13px 0; background:#454543; border-radius: 22px 22px 0 0; display:inline-block; width:100%;}
.search_bar h3      {font-family: 'Lato', sans-serif; font-size: 30px;line-height: 32px;font-weight: bold;padding: 0 0 0 24px;color: #ffffff;display: inline-block; text-transform:uppercase;}
.prices_blk			{float:right; display:inline-block;}
.prices	{float:right; display:inline-block; margin:0 20px 0 0;}
.prices label	{font-family: 'Lato', sans-serif; font-size:18px; color:#ffffff; font-weight:700; float:left; display:inline-block; line-height:31px; padding:0 14px 0 0; margin:0;}
.prices input	{width:235px; height:31px; border:1px solid #00b5cb; font-family: 'Lato', sans-serif; font-size:18px; color:#454543; line-height:20px; font-weight:400; float:left; display:inline-block; border-radius:5px; padding:0 28px 0 12px; background:#ffffff url(../images/search_icon.png) no-repeat 95% center; outline:none;}

.prices .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn)	{float:left; display:inline-block; width:235px; border:1px solid #00b5cb; background:#ffffff; padding:0; margin:0; border-radius:5px;}
.prices .bootstrap-select.btn-group .dropdown-toggle .filter-option		{font-family: 'Lato', sans-serif; font-size:18px; color:#454543; line-height:20px; font-weight:400; padding:0 12px;}
.prices .btn-default	{position:relative;}
.prices .btn-default:after	{content:''; position:absolute; z-index:9; right:0; top:12px; background:url(../images/down_arrow1.png) no-repeat; width:22px; height:11px;}
.prices .caret		{border:0 none;}
.prices .btn	{padding:4px 0 4px 0; outline:none;}
.prices .btn-default:active:hover, .prices .btn-default.active:hover, .prices .open > .dropdown-toggle.btn-default:hover, .prices .btn-default:active:focus, .prices .btn-default.active:focus, .prices .open > .dropdown-toggle.btn-default:focus, .prices .btn-default:active.focus, .prices .btn-default.active.focus, .prices .open > .dropdown-toggle.btn-default.focus	{color:#00b5cb; background:#ffffff; border:1px solid #00b5cb;}
.prices .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {color:#00b5cb; background:#ffffff; border:1px solid #00b5cb;}
.prices .bootstrap-select.btn-group .dropdown-menu li a	{font-family: 'Lato', sans-serif; font-size:18px; color:#454543; line-height:25px; font-weight:400; outline:none; padding:3px 10px;}
.prices .bootstrap-select.btn-group .dropdown-menu	{background:#ffffff;}

.product_blk	{padding:0; margin:0;}
.product_blk ul	{padding:0; margin:0 -0.5%;}	
.product_blk ul li {padding:2px 0 12px 0; margin:0 0.5% 20px 0.5%; width:19%; background:#ffffff; border:1px solid #b7b7b7; border-radius:5px; box-shadow:0 5px 3px #b7b7b7; display:none;}
.no_load_more.product_blk ul li{display: inline-block !important;}
.product_blk .see_more	{width:256px; height:65px; background:#f15b20; display:block; margin:43px auto 0 auto; font-family: 'Lato', sans-serif; font-size:37px; color:#ffffff; border:none; font-weight:400; border-radius:10px;}
.product_blk .see_more1{width:360px;height:65px;background:#f15b20;display:block;margin: 15px auto 0 auto; font-family: 'Lato', sans-serif; font-size:28px;color:#ffffff;border:none;font-weight:400;border-radius:10px;}
.product_blk .see_more:hover	{background:#e84c0f;}
.product_blk .see_more1:hover	{background:#e84c0f;}
.product_blk .show_less	{display:none;}
.product		{padding:0; margin:0;}
.product img	{display:block; margin:0 auto; width:100%; height:auto;}
.product h6     {font-family: 'HelveticaRegular';font-size: 17px;color:#ffffff;line-height: 19px;font-weight:normal;padding: 10px 10px 12px 10px;background: #454543;border-bottom-left-radius: 12px;border-bottom-right-radius: 12px;margin: 0 0 7px 0;text-align: center;}
.product h5 	{font-family: 'HelveticaRegular'; font-size:18px; color:#000000; line-height:20px; font-weight:normal; padding:0 12px 11px 12px;}
.product h5 span {font-size:26px; font-family: 'Helvetica75Bold'; display:block; padding:9px 0 0 0;}
.product em		{font-family: 'HelveticaOblique'; font-size:13px; color:#8b8888; line-height:16px; padding:0 12px 4px 12px; display:block;}
.product .view_details	{font-family: 'Helvetica75Bold'; font-size:19px; color:#000000; line-height:43px; border:1px solid #cdcdcd; background:#eeeeee; width:85%; margin:27px auto 0 auto; display:block; border-radius:5px;}
.product .view_details:hover	{background:#cdcdcd;}
.product small	{font-family: 'Helvetica75Bold'; font-size:17px; color:#6c6c6c; line-height:18px; float:right; display:inline-block;  padding:0 14px 0 0; position:relative;}
.product small:after	{content:''; position:absolute; z-index:9; left:-30px; top:-5px; background:url(../images/like_icon.png) no-repeat; width:25px; height:24px;}
.product ul 	{ padding:0 0 0 12px; margin:0; float:left; display:inline-block;}
.product ul li	{float:left; display:inline-block; border:none; width:auto !important; border-radius:0; margin:0 4px 0 0; padding:0; box-shadow:inherit;}
.product ul ul li a {display:block; padding:0; margin:0;}

.product_save_in{padding: 8px 2px 11px 2px;background: #454543;border-bottom-left-radius: 12px;border-bottom-right-radius: 12px;margin: 0 0 7px 0;}
.product_save_in ul{padding: 0 !important;display: block;width: 100%;font-size: 0;} 
.product_save_in ul li{padding: 0 7px !important;vertical-align: top;margin: 0 !important;background: none;position: relative;} 
.product_save_in ul li:after{content: '';position: absolute;top: 0;width: 2px;height: 100%;background: #ffffff;right: 0;}
.product_save_in ul li:last-child:after{display: none;}
.product .view_details img {width: 32px;height: auto;display: inline-block;margin: 0 5px;}
.product_save_in h6{font-family: 'HelveticaRegular';font-size: 15px;color: #ffffff;line-height: 22px;font-weight:normal;border-radius: 0;background: none;padding: 0 5px;margin: 0;}
.product_save_in h6 span{font-size: 6px;line-height: 8px;font-weight: 400;transform: rotate(-90deg);-webki-transform: rotate(-90deg);-moz-transform: rotate(-90deg);-ms-transform: rotate(-90deg);-o-transform: rotate(-90deg);color: #818181;display: inline-block;margin: 7px -5px 7px -2px;vertical-align: top;}

.latest_news_blk		{padding:0 0 0 0; margin:0; background:url(../images/latest_news_img.jpg) no-repeat center top; background-size:cover;}
.latest_news			{padding:64px 0 70px 0; margin:0; position:relative;}
.latest_news_lft		{padding:0 30px 0 24px; margin:0;}
.yahoo_logo				{padding:0; margin:0;}
.yahoo_logo a			{display:block; margin:0 0 0 0;}
.yahoo_logo a img		{width:auto; height:auto;}

.news				{width:543px; padding:0; margin:0;}
.news h3			{font-family: 'Lato', sans-serif; font-size:36px; color:#ffffff; font-weight: 400; line-height:36px; padding:0 0 35px 0;}
.news p				{font-family: 'Lato', sans-serif; font-size:24px; color:#ffffff; font-weight: 400; line-height:26px; padding:0 0 38px 0; text-align:justify;}
.news a				{width:210px; display:block; border:4px solid #ffffff; font-family: 'Lato', sans-serif; font-size:24px; color:#ffffff; font-weight: 400; line-height:41px; text-align:center; margin:0 0 0 3px;}

.latest_news_rgt		{padding:0 0 0 48px; margin:0;}
.latest_news_rgt h3		{font-family: 'Lato', sans-serif; font-size:36px; color:#ffffff; font-weight: 400; line-height:36px; padding:0 0 20px 0;}
.latest_news_rgt p		{background-size:cover; font-family: 'Lato', sans-serif; font-size:24px; color:#ffffff; font-weight: 400; line-height:26px; position:relative; z-index:99; padding:17px 20px 64px 20px; width:700px; background:url(../images/border.png) no-repeat; background-size:100% 100%; text-align:justify;}
.latest_news_rgt span		{font-size:25px; color:#00b5cb; line-height:25px;}
.latest_news_rgt span small {font-size:17px; font-style:italic;}

.BaclToTop                  {position:fixed; bottom:0; right:65px; display:none; z-index:999;}
.BaclToTop .btn-primary     {background: #1c1c1c;border: none;}               
.BaclToTop .btn-primary:hover,.BaclToTop .btn-primary:focus {background: #1c1c1c;opacity: 0.7;}
.BaclToTop .btn-lg, .btn-group-lg > .btn	{font-size:38px; border-radius:10px 10px 0 0;}
.BaclToTop .glyphicon-chevron-up:before	{color:#5ac5d3;}

.search_bar h3.brand	{display:block; text-align:center; padding:0;}
.block_element ul li 	{display:block; padding:0 0 12px 0;}
.block_element ul li img {border-radius:5px 5px 0 0;}
.block_element ul li .product h5	{padding:22px 12px 12px 12px;}
/*---------------Main Content End--------------*/
