<div class="balance_blk pad_last">

    <div class="right_block col-sm-9 col-xs-12">
        <div class="right_block_in">
            <div class="search_bar last padd_bot text-center">
                <h3 class="pad_last"><?php echo $this->__('MONEY MOVEMENT : SHARE MEMBER');?></h3>
                <div class="clearfix"></div>
            </div>
            <div class="choose_member">
                <h5><?php echo $this->__('Find: Choose Member to Share With?');?></h5>
                <div class="monthly_leaderboard">
                    <div class="top_bar">
                        <h4><?php echo $this->__('group member board');?></h4>
                        <div class="sort_by pad_last sort_rgt">
                            <label><?php echo $this->__('SORT BY');?></label>
                            <select class="selectpicker">
                                <option>Personal Points</option>
                                <option>Personal Points</option>
                                <option>Personal Points</option>
                                <option>Personal Points</option>
                            </select>
                            <div class="clearfix"></div>
                        </div>
                        <div class="search_club">
                            <label><?php echo $this->__('SEARCH');?></label>
                            <input name="name" type="text" value="Search Name">
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="nicolas_porter group_member">
                        <ul class="clearfix">
                            <li>
                                <div class="nicolas_con bg_clr1">
                                    <div class="nicolas_con_left">
                                        <h3>Nicolas Porter</h3>
                                        <button name="name" type="button" class="pacesetter">customer</button>
                                        <h2>1,500</h2>
                                    </div>
                                    <div class="nicolas_con_right">
                                        <img src="<?php echo $this->getSkinUrl('images/pacesetter_logo2.png');?>" alt="img">
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="nicolas_con_btns">
                                        <ul>
                                            <li><a href="#">message</a></li>
                                            <li><a href="#">give</a></li>
                                            <li><a href="#">connect</a></li>
                                            <li><a href="#">recognize</a></li>
                                            <li><a href="#">Manage</a></li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="nicolas_con bg_clr1">
                                    <div class="nicolas_con_left">
                                        <h3>Nicolas Porter</h3>
                                        <button name="name" type="button" class="pacesetter">customer</button>
                                        <h2>1,500</h2>
                                    </div>
                                    <div class="nicolas_con_right">
                                        <img src="<?php echo $this->getSkinUrl('images/pacesetter_logo2.png');?>" alt="img">
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="nicolas_con_btns">
                                        <ul>
                                            <li><a href="#">message</a></li>
                                            <li><a href="#">give</a></li>
                                            <li><a href="#">connect</a></li>
                                            <li><a href="#">recognize</a></li>
                                            <li><a href="#">Manage</a></li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </li>

                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="orange_btn_blk pad_last">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right_block_in">
            <div class="search_bar last padd_bot text-center">
                <h3 class="pad_last">MONEY MOVEMENT : SHARE MEMBER</h3>
                <div class="clearfix"></div>
            </div>
            <div class="choose_member selected">
                <h5>Selected Member to Share With<br> #GiveToGrow</h5>
                <div class="monthly_leaderboard">
                    <div class="top_bar">
                        <h4>TRUNITED NATION PASSPORT</h4>
                    </div>
                    <div class="nation_passport_bgr">
                        <div class="nation_passport_left col-md-7 col-xs-12">
                            <div class="nicolas bg_clr2">
                                <label>member profile</label>
                                <input name="name" type="text" value="">
                                <div class="clearfix"></div>
                                <div class="nicolas_left">
                                    <h3>Nicolas Porter</h3>
                                    <button name="name" type="button" class="pacesetter">promoter</button>
                                    <p>Member Since: 9/1/2016</p>
                                    <p>Affiliate Renewal: September 2017</p>
                                    <p>Connected By: David Johnson</p>
                                    <p>Familia: District 1</p>
                                </div>
                                <div class="nicolas_right">
                                    <img src="images/pacesetter_logo5.png" alt="img">
                                </div>
                                <div class="clearfix"></div>
                                <div class="nicolas_btns">
                                    <ul>
                                        <li><a href="#">message</a></li>
                                        <li><a href="#">give</a></li>
                                        <li><a href="#">connect</a></li>
                                        <li><a href="#">recognize</a></li>
                                        <li><a href="#">Manage</a></li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="members_badges">
                                <label>member badges</label>
                                <input name="name" type="text" value="">
                                <div class="clearfix"></div>
                                <ul>
                                    <li><a href="#"><img src="images/member_badges_img1.png" alt="img"></a></li>
                                    <li><a href="#"><img src="images/member_badges_img2.png" alt="img"></a></li>
                                    <li><a href="#"><img src="images/member_badges_img3.png" alt="img"></a></li>
                                    <li><a href="#"><img src="images/member_badges_img4.png" alt="img"></a></li>
                                    <li><a href="#"><img src="images/member_badges_img5.png" alt="img"></a></li>
                                </ul>
                                <div class="clearfix"></div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ut enim ad minim, quis nostrud exercition ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            </div>
                        </div>
                        <div class="nation_passport_right passport col-md-5 col-xs-12">
                            <div class="monthly_status">
                                <label>Member Monthly Stats</label>
                                <input name="name" type="text" value="">
                                <div class="clearfix"></div>
                                <ul>
                                    <li class="col-xs-4">
                                        <span>2</span>
                                        <small>Current Depth <br> Credit</small>
                                    </li>
                                    <li class="col-xs-4">
                                        <span>68</span>
                                        <small>personal<br> points</small>
                                    </li>
                                    <li class="col-xs-4">
                                        <span>172</span>
                                        <small>connection<br> points</small>
                                    </li>

                                    <li class="col-xs-4">
                                        <span>78</span>
                                        <small>affiliate<br> points</small>
                                    </li>
                                    <li class="col-xs-4">
                                        <span>172</span>
                                        <small>next level <br> point</small>
                                    </li>
                                    <li class="col-xs-4">
                                        <span>168</span>
                                        <small>UNEARNED<br> point match</small>
                                    </li>

                                    <li class="col-xs-4">
                                        <span>8%</span>
                                        <small>trubox<br> engagement</small>
                                    </li>
                                    <li class="col-xs-4">
                                        <span>15%</span>
                                        <small>customer<br> engagement</small>
                                    </li>
                                    <li class="col-xs-4">
                                        <span>1,260</span>
                                        <small>points<br> on hold</small>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="member_balance">
                                <label>member balance</label>
                                <input name="name" type="text" value="">
                                <div class="clearfix"></div>
                                <ul>
                                    <li class="col-xs-4">
                                        <div class="balance_con">
                                            <img src="images/icon_img4.png" alt="icon">
                                            <span>$121.3</span>
                                            <small>Income<br> Ballance</small>
                                            <button name="name" type="button" class="transfer transition">transfer</button>
                                            <button name="name" type="button" class="transfer transition">withdraw</button>
                                        </div>
                                    </li>
                                    <li class="col-xs-4">
                                        <div class="balance_con">
                                            <img src="images/icon_img5.png" alt="icon">
                                            <span>$72.10</span>
                                            <small>truwallet<br> earnings</small>
                                            <button name="name" type="button" class="transfer shop transition">SHOP</button>
                                        </div>
                                    </li>
                                    <li class="col-xs-4">
                                        <div class="balance_con">
                                            <img src="images/icon_img6.png" alt="icon">
                                            <span>$50.00</span>
                                            <small>trunited<br> gift card</small>
                                            <button name="name" type="button" class="transfer transition">SHare</button>
                                            <button name="name" type="button" class="transfer transition">Buy more</button>
                                        </div>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="trunited_gift_card">
                        <ul>
                            <li class="col-xs-6"><img src="images/icon_img9.png" alt="img"></li>
                            <li class="col-xs-6">
                                <h6>
                                    Trunited Gift Card
                                    <span>Balance <b>$79.00</b></span>
                                </h6>
                            </li>
                            <li class="col-xs-6"><strong>How much to share</strong></li>
                            <li class="col-xs-6"><input name="name" type="text" value="70.00"></li>
                            <li class="col-xs-6"><strong>Time to Redem | Spend</strong></li>
                            <li class="col-xs-6">
                                <div class="no_limit">
                                    <select class="selectpicker">
                                        <option>No Limit</option>
                                        <option>No Limit</option>
                                        <option>No Limit</option>
                                        <option>No Limit</option>
                                    </select>
                                </div>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="orange_btn_blk pad_last">
                        <ul>
                            <li class="col-md-4 col-xs-12">
                                <button  name="name" type="button" class="buy_gift transition">BACK</button>
                            </li>
                            <li class="col-md-4 col-xs-12">
                                <button  name="name" type="button" class="buy_gift transition">cancel</button>
                            </li>
                            <li class="col-md-4 col-xs-12">
                                <button  name="name" type="button" class="buy_gift transition">submit your request</button>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<script type="text/javascript">
    $j = jQuery.noConflict();

    $j('.pad_last .sub_blk').show();
</script>
