<?php if (Mage::helper('customer')->isLoggedIn() != true) :
    $isSecure = Mage::app()->getStore()->isCurrentlySecure();
    ?>
    <script type="text/javascript" src="<?php echo $this->getSkinUrl('g3_ajaxlogin/js/jquery-1-7-1.js') ?>"></script>
    <?php
    $themes = Mage::getStoreConfig('ajaxlogin/ajaxlogin/themes');

    if (Mage::getStoreConfig('ajaxlogin/ajaxlogin/position') == 1) {
        ?>
        <style type="text/css">
            .g3-register-window {
                margin-left: -200px;
            }
        </style>
        <link href="<?php echo $this->getSkinUrl('g3_ajaxlogin/css/responsive-below.css') ?>" rel="stylesheet" type="text/css">
    <?php }else{ ?>
        <link href="<?php echo $this->getSkinUrl('g3_ajaxlogin/css/responsive-center.css') ?>" rel="stylesheet" type="text/css">
    <?php } ?>

    <?php if (Mage::getStoreConfig('ajaxlogin/ajaxlogin/enableolay') == 1) {
        echo '<div class="g3-ajaxlogin-cover"></div>';
    } ?>

    <div class="g3-ajaxlogin-loader" id="g3-ajaxlogin-loadid"></div>
    <div class="g3-login-window <?php echo $themes . '-login'; ?>">
        <div class="g3-window-outside g3-window-mar">
            <div class="g3-window-inside">
                <div class="g3-login-close g3-close <?php echo $themes . '-login-close'; ?>">
                    <?php if ($themes == 'simple') {
                        echo '<a>'.$this->__('Close').'</a>';
                    } ?>
                </div>
                <div class="g3-window-title">
                    <h3>
                        <?php echo $this->__('Login or Create an account') ?>
                    </h3>
                </div>

                <div class="g3-window-box first">
                    <div class="g3-window-content">
                        <div class="input-fly g3-showhideme">
                            <label for="g3-email"><?php echo $this->__('Email Address') ?> <span>*</span></label>
                            <input type="text" id="g3-email" name="g3-email" class="" value=""/>

                            <div class="g3-ajaxlogin-error err-email err-noemail err-wrongemail "></div>
                        </div>
                        <div class="input-fly g3-showhideme">
                            <label for="g3-password"><?php echo $this->__('Password') ?> <span>*</span></label>
                            <input type="password" id="g3-password" name="g3-password" value=""/>

                            <div class="g3-ajaxlogin-error err-password err-dirtypassword err-nopassword err-longpassword err-wronglogin"></div>
                        </div>
                        <br style="clear:both;" />
                    </div>
                </div>

                <div class="g3-window-box second">
                    <div class="g3-window-content">
                        <div class="g3-showhideme social-button" style="text-align: left;">
                            <?php
                            $modules = Mage::getConfig()->getNode('modules')->children();
                            $modulesArray = (array)$modules;

                            Mage::helper('core')->isModuleEnabled('G3master_SocialLogin');
                            if(isset($modulesArray['G3master_SocialLogin'])) {
                                if(Mage::helper('core')->isModuleEnabled('G3master_SocialLogin')){

                                    echo $this->__('You can login using your social network account');

                                    $block = new G3master_SocialLogin_Block_Button();
                                    $check_show_social = Mage::helper('g3_sociallogin')->checkShowSociallogin();
                                    if($check_show_social == true && Mage::getSingleton('customer/session')->IsLoggedIn() == false): ?>
                                        <link type="text/css" rel="stylesheet" media="screen" href="<?php echo $block->getSkinUrl('g3_sociallogin/css/style.css');?>"/>
                                        <script type="text/javascript" src="<?php echo $block->getSkinUrl('g3_sociallogin/js/sociallogin.js');?>"></script>
                                        <div class="g3-socialconnect-social">
                                            <div class="g3-social-button-login">
                                                <?php
                                                if($block->getButtons()){
                                                    foreach($block->getButtons() as $button){
                                                        echo $button->render();
                                                    }
                                                }
                                                ?>
                                            </div>
                                        </div>
                                    <?php endif;
                                }
                            }
                            ?>
                        </div>
                    </div>
                </div>

                <div class="g3-window-box last g3-showhideme">
                    <div class="button-set"><p style="float: right; margin-top: 5px;"><span
                                style="color: #ff0000;"><?php echo $this->__('* Required Fields') ?></span></p></div>
                    <div class="g3-window-content box-contents box-contents-button g3-showhideme">
                        <span class="g3-forgot-password">
                            <a href="<?php echo Mage::getBaseUrl() ?>customer/account/forgotpassword/"
                               id="g3-ajaxlogin-forgotpass"><?php echo $this->__('Forgot Password') ?></a><br />
                            <a href="<?php echo Mage::getBaseUrl() ?>customer/account/create/"
                               id="g3-ajaxlogin-createacc"><?php echo $this->__('Create an Account') ?></a>
                        </span>
                        <button type="button" id="g3-login" class="button g3-ajaxlogin-button"><span><span>
                                    <?php echo $this->__('Login') ?>
                        </span></span></button>
                    </div>
                </div>

            </div>
            <div id="g3-ajaxlogin-forgotpass-box" style="">
                <form id="g3-ajaxlogin-forgotpass-form">
                <div>
                    <div class="g3-login-close g3-close <?php echo $themes . '-login-close'; ?>">
                        <?php if ($themes == 'simple') {
                            echo '<a>'.$this->__('Close').'</a>';
                        } ?>
                    </div>
                    <div class="g3-window-title"><h3><?php echo $this->__('Forgot Your Password?') ?></h3></div>
                    <p class="g3-showhideme"><?php echo $this->__('Please enter your email address below. You will receive a link to reset your password.') ?></p>
                    <div class="g3-showhideme">
                        <label for="g3-ajaxlogin-forgotpass-input"><?php echo $this->__('Email Address') ?></label><span
                            style="color: #ff0000;">*</span><br />
                    </div>
                    <input class="g3-showhideme" type="text" id="g3-ajaxlogin-forgotpass-input" name="email"
                           style=""/><br />
                    <div class="g3-ajaxlogin-error er-email er-noemail er-wrongemail" style="float: left; margin: 0;"></div>
                    <div class="g3-ajaxlogin-success email-success success-msg" style="display: none;"></div>

                    <?php if (Mage::getStoreConfig("customer/captcha/enable") != 0) {
                        echo '<div class="input-fly input-fly-checkbox g3-showhideme" style="clear: both;">';
                        echo $this->getChildHtml("g3_captcha_forgotpass");
                        echo '<br /><div class="g3-ajaxlogin-error g3-ajaxlogin-error-captcha"></div>';
                        echo '</div>';
                    } ?>
                    <br style="clear:both" />
                    <div class="button-set g3-showhideme"><p style="float: right; margin-top: 5px;">
                            <span style="color: #ff0000;"><?php echo $this->__('* Required Fields') ?></span></p></div>
                    <br style="clear:both" />
                    <div style="vertical-align: middle;" class="g3-showhideme">
                        <div style="margin-top: 5px;"><a href="JavaScript:void(0);" id="g3-ajaxlogin-forgotpass-back"><?php echo $this->__('Back to Login'); ?></a></div>
                        <button class="button" title="<?php echo $this->__('Submit') ?>" type="submit" id="g3-ajaxlogin-forgotpass-submit" style="float: right; margin: -21px 0 14px 0; ">
                            <span>
                                <span><?php echo $this->__('Submit') ?></span>
                            </span>
                        </button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>

    <form action="<?php if($isSecure == true) {echo Mage::getUrl('ajaxlogin/account/createpost/',array('_secure'=>true)); }else{ echo Mage::getUrl() . 'ajaxlogin/account/createpost/'; } ?>" method="post" id="g3-form-validate" enctype="multipart/form-data" return false;>

    <div class="g3-register-window <?php echo $themes . '-register'; ?>">
    <div id="g3-scroll-close" class="g3-register-close g3-close <?php echo $themes . '-register-close'; ?>">
        <?php if ($themes == 'simple') {
            echo '<a>'.$this->__('Close').'</a>';
        } ?>
    </div>
    <div id="g3-register" class="g3-showhideme">

    <div class="g3-window-outside" id="g3-window-outside-moveclose">
    <div class="g3-window-inside">

    <div class="g3-window-title">
        <h3>
            <?php echo $this->__('Register') ?>
        </h3>
    </div>
    <div id="g3-window-main">
        <div id="g3-window-scrollbar">
            <div class="g3-window-box first litmore">
                <div class="g3-window-subtitle g3-showhideme">
                    <p><?php echo $this->__('Profile Information') ?></p>
                </div>
                <div class="g3-window-content">
                    <div class="input-fly g3-showhideme">
                        <?php $_name = $this->getLayout()->createBlock('customer/widget_name'); ?>
                        <?php echo $_name->setTemplate('g3_ajaxlogin/widget/name.phtml')->setObject(Mage::getSingleton('customer/session')->getCustomer())->toHtml() ?>
                    </div>

                    <?php $_dob = $this->getLayout()->createBlock('customer/widget_dob');
                    if ($_dob->isEnabled()): ?>
                        <div class="input-fly g3-showhideme">
                            <?php echo $_dob->setTemplate('g3_ajaxlogin/widget/dob.phtml')->toHtml(); ?>
                        </div>
                    <?php endif; ?>

                    <?php $_taxvat = $this->getLayout()->createBlock('customer/widget_taxvat');
                    if ($_taxvat->isEnabled()): ?>
                        <div class="input-fly g3-showhideme littaxvat">
                            <?php echo $_taxvat->setTemplate('g3_ajaxlogin/widget/taxvat.phtml')->toHtml(); ?>
                        </div>
                    <?php endif; ?>

                    <?php $_gender = $this->getLayout()->createBlock('customer/widget_gender');
                    if ($_gender->isEnabled()): ?>
                        <div class="input-fly g3-showhideme litgender">
                            <?php echo $_gender->setTemplate('g3_ajaxlogin/widget/gender.phtml')->toHtml(); ?>
                        </div>
                    <?php endif; ?>

                    <?php if (Mage::getStoreConfig('ajaxlogin/registration/encustomergroup')==1): ?>
                        <div class="input-fly g3-showhideme input-box">
                            <label for="group_id"><?php echo $this->__('Group') ?></label>
                            <select name="group_id" id="group_id" title="<?php echo $this->__('Group') ?>" class="validate-group required-entry input-text" />
                            <?php $groups = Mage::helper('customer')->getGroups()->toOptionArray(); ?>
                            <?php foreach($groups as $group){ ?>
                                <option value="<?php print $group['value'] ?>"><?php print $group['label'] ?></option>
                            <?php } ?>
                            </select>
                        </div>
                    <?php endif; ?>

                    <?php
                    $_attrprofile = $this->getLayout()->createBlock('ajaxlogin/attributes');
                    $_attrprofile->getSectionAttribute(1);
                    echo $_attrprofile->setTemplate('g3_ajaxlogin/ajaxlogin/attributes.phtml')->toHtml();
                    ?>
                </div>
            </div>

            <?php if(Mage::getStoreConfig('ajaxlogin/registration/enaddress') == 1){
                $block = new Mage_Customer_Block_Form_Register();
                ?>
                <div class="g3-window-box litmore second">
                    <input type="hidden" name="create_address" value="1" />
                    <div class="g3-window-subtitle g3-showhideme">
                        <p><?php echo $this->__('Address Information') ?></p>
                    </div>
                    <div class="g3-window-content">
                        <div class="input-fly g3-showhideme">
                            <label for="company"><?php echo $this->__('Company') ?></label>
                            <div class="input-box">
                                <input type="text" name="company" id="company" value="<?php echo $this->htmlEscape($block->getFormData()->getCompany()) ?>" title="<?php echo $this->__('Company') ?>" class="input-text" />
                            </div>
                        </div>
                        <div class="input-fly g3-showhideme">
                            <label for="telephone" class="required"><em>*</em><?php echo $this->__('Telephone') ?></label>
                            <div class="input-box">
                                <input type="text" name="telephone" id="telephone" value="<?php echo $this->htmlEscape($block->getFormData()->getTelephone()) ?>" title="<?php echo $this->__('Telephone') ?>" class="input-text required-entry" />
                            </div>
                        </div>
                        <div class="input-fly g3-showhideme">
                            <label for="street_1" class="required"><em>*</em><?php echo $this->__('Street Address') ?></label>
                            <div class="input-box">
                                <input type="text" name="street[]" value="<?php echo $this->htmlEscape($block->getFormData()->getStreet(1)) ?>" title="<?php echo $this->__('Street Address') ?>" id="street_1" class="input-text required-entry" />
                            </div>
                            <?php for ($_i=2, $_n=$this->helper('customer/address')->getStreetLines(); $_i<=$_n; $_i++): ?>
                                <div class="input-box" style="clear: both; padding-top: 5px;">
                                    <input type="text" name="street[]" value="<?php echo $this->htmlEscape($block->getFormData()->getStreet($_i)) ?>" title="<?php echo $this->__('Street Address %s', $_i) ?>" id="street_<?php echo $_i?>" class="input-text" />
                                </div>
                            <?php endfor ?>
                        </div>
                        <div class="input-fly g3-showhideme">
                            <label for="city" class="required"><em>*</em><?php echo $this->__('City') ?></label>
                            <div class="input-box">
                                <input type="text" name="city" value="<?php echo $this->htmlEscape($block->getFormData()->getCity()) ?>" title="<?php echo $this->__('City') ?>" class="input-text required-entry" id="city" />
                            </div>
                        </div>
                        <div class="input-fly g3-showhideme">
                            <label for="region_id" class="required"><em>*</em><?php echo $this->__('State/Province') ?></label>
                            <div class="input-box">
                                <select id="region_id" name="region_id" title="<?php echo $this->__('State/Province') ?>" class="validate-select" style="display:none;">
                                    <option value=""><?php echo $this->__('Please select region, state or province') ?></option>
                                </select>
                                <script type="text/javascript">
                                    //<![CDATA[
                                    $('region_id').setAttribute('defaultValue', "<?php echo $block->getFormData()->getRegionId() ?>");
                                    //]]>
                                </script>
                                <input type="text" id="region" name="region" value="<?php echo $this->htmlEscape($block->getRegion()) ?>" title="<?php echo $this->__('State/Province') ?>" class="input-text" style="display:none;" />
                            </div>
                        </div>
                        <div class="input-fly g3-showhideme">
                            <label for="zip" class="required"><em>*</em><?php echo $this->__('Zip/Postal Code') ?></label>
                            <div class="input-box">
                                <input type="text" name="postcode" value="<?php echo $this->htmlEscape($block->getFormData()->getPostcode()) ?>" title="<?php echo $this->__('Zip/Postal Code') ?>" id="zip" class="input-text validate-zip-international required-entry" />
                            </div>
                        </div>
                        <div class="input-fly g3-showhideme">
                            <label for="country" class="required"><em>*</em><?php echo $this->__('Country') ?></label>
                            <div class="input-box">
                                <?php $_countries = Mage::getResourceModel('directory/country_collection')
                                    ->loadData()
                                    ->toOptionArray(false); ?>
                                <?php if (count($_countries) > 0): ?>
                                    <select name="country_id" id="country" class="validate-select" title="Country">
                                        <option value="">-- Please Select --</option>
                                        <?php foreach($_countries as $_country): ?>
                                            <option value="<?php echo $_country['value'] ?>" <?php if($country_code = Mage::getStoreConfig('general/country/default') == $_country['value']) echo 'selected="selected"'?>>
                                                <?php echo $_country['label'] ?>
                                            </option>
                                        <?php endforeach; ?>
                                    </select>
                                <?php endif; ?>
                            </div>
                        </div>
                        <input type="hidden" name="default_billing" value="1" />
                        <input type="hidden" name="default_shipping" value="1" />
                        <?php
                        $_attraddress = $this->getLayout()->createBlock('ajaxlogin/attributes');
                        $_attraddress->getSectionAttribute(3);
                        echo $_attraddress->setTemplate('g3_ajaxlogin/ajaxlogin/attributes.phtml')->toHtml();
                        ?>
                    </div>
                </div>
            <?php } ?>

            <?php
            $_attrmore = $this->getLayout()->createBlock('ajaxlogin/attributes');
            $_attrmore->getSectionAttribute(0);
            echo $_attrmore->setTemplate('g3_ajaxlogin/ajaxlogin/attributes.phtml')->toHtml();
            ?>

            <br style="clear:both;" />
            <div class="g3-window-box second">
                <div class="g3-window-subtitle g3-showhideme">
                    <p><?php echo $this->__('Login Information') ?></p>
                </div>
                <div class="g3-window-content">
                    <div class="g3-showhideme input-fly litemail">
                        <label for="email_address" class="required"><em>*</em><?php echo $this->__('Email Address') ?>
                        </label>

                        <div class="input-box">
                            <input type="text" name="email" id="g3-reg-email_address"
                                   value="<?php echo $this->htmlEscape($this->getUsername()) ?>"
                                   title="<?php echo $this->__('Email Address') ?>"
                                   class="input-text validate-email required-entry"/>

                            <div class="g3-ajaxlogin-error err-email err-noemail err-emailisexist err-isnotemail"></div>
                        </div>
                    </div>
                    <div class="input-fly g3-showhideme">
                        <label for="g3-password"><?php echo $this->__('Password') ?> <em>*</em></label>
                        <div class="input-box">
                            <input type="password" name="password" id="g3-reg-password" value="" title="<?php echo $this->__('Password') ?>"
                                   class="input-text required-entry validate-password"/>
                        </div>
                    </div>
                    <div class="input-fly g3-showhideme">
                        <label for="g3-passwordsecond"><?php echo $this->__('Confirm Password') ?>
                            <em>*</em></label>
                        <div class="input-box">
                            <input type="password" name="confirmation" title="<?php echo $this->__('Confirm Password') ?>"
                                   id="g3-reg-confirmation" class="input-text required-entry validate-cpassword"/>
                            <div class="g3-ajaxlogin-error err-wrongpmatchpassword "></div>
                        </div>
                    </div>

                    <?php
                    $_attributes = $this->getLayout()->createBlock('ajaxlogin/attributes');
                    $_attributes->getSectionAttribute(2);
                    echo $_attributes->setTemplate('g3_ajaxlogin/ajaxlogin/attributes.phtml')->toHtml();
                    ?>

                    <?php if (Mage::getStoreConfig("customer/captcha/enable") != 0) {
                        echo '<div class="input-fly input-fly-checkbox g3-showhideme litcaptcha" style="margin-top: 15px;">';
                        echo $this->getChildHtml("captcha");
                        echo '<div class="g3-ajaxlogin-error err-captcha err-nocaptcha err-wrongcaptcha"></div>';
                        echo '</div>';
                    } ?>

                    <?php if (Mage::getStoreConfig('ajaxlogin/registration/enablenewsletter') == 1): ?>
                        <div class="input-fly g3-showhideme">
                            <input type="checkbox" name="is_subscribed"
                                   title="<?php echo $this->__('Sign Up for Newsletter') ?>" value="1"
                                   id="is_subscribed" class="checkbox"/>
                            <label for="is_subscribed"><?php echo $this->__('Sign Up for Newsletter') ?></label>
                        </div>
                    <?php endif; ?>
                    <?php $agreements = Mage::getModel('checkout/agreement')->getCollection()
                        ->addStoreFilter(Mage::app()->getStore()->getId())
                        ->addFieldToFilter('is_active', 1)->getFirstItem(); ?>
                    <?php if (Mage::getStoreConfig('ajaxlogin/registration/enabletac') == 1): ?>
                        <div class="input-fly g3-showhideme">
                            <input type="checkbox" name="tac" title="<?php echo $this->__('Terms & Conditions') ?>"
                                   value="1" id="g3_terms_and_conditions" class="checkbox required-entry"/>
                            <?php if(!$agreements->getId() || $agreements->getId() == null){ ?>
                                <label for="terms_and_conditions"><?php echo $this->__('I accept Terms & Conditions') ?><em>*</em></label>
                            <?php }else{ ?>
                                <label for="terms_and_conditions"><?php echo $this->__('I accept') ?> <a href="javascript:void(0)" class="link-show-tac"><?php echo $agreements->getName() ?><em>*</em></a></label>
                            <?php } ?>
                        </div>
                    <?php endif; ?>

                </div>
            </div>
            <br style="clear:both;" />
            <div class="button-set button-bum g3-showhideme">
                <p style="float: right; margin-top: 5px;">
                    <span style="color: #ff0000;"><?php echo $this->__('* Required Fields'); ?></span></p></div>
            <br style="clear:both;" />
            <div class="g3-window-box last g3-showhideme">
                <a href="JavaScript:void(0);" id="g3-ajaxlogin-register-back" style="line-height: 21px;"><?php echo $this->__('Back to Login'); ?></a>

                <div class="g3-window-content box-contents g3-showhideme">
                    <button type="submit" class="button g3-ajaxlogin-button" id="g3-ajaxreg-btn">
                            <span>
                                <span>
                                    <?php echo $this->__('Register') ?>
                                </span>
                            </span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    </div>
    </div>
    </div>
    </div>
    </form>

    <div class="g3_ajaxlogin-temp-error" style="display:none !important;">
        <div class="leerrorwrongemail"><?php echo $this->__('This is not an email address!') ?></div>
        <div class="leerrornoemail"><?php echo $this->__('Email address is required!') ?></div>
        <div class="leerroremailisexist"><?php echo $this->__('This email is already registered!') ?></div>
        <div class="leerrorisnotemail"><?php echo $this->__('"Email" is not a valid hostname!') ?></div>

        <div class="leerrornopassword"><?php echo $this->__('Password is required!') ?></div>
        <div class="leerrordirtypassword"><?php echo $this->__('Enter a valid password!') ?></div>
        <div class="leerrorshortpassword"><?php echo $this->__('Please enter 6 or more characters!') ?></div>
        <div class="leerrorlongpassword"><?php echo $this->__('Please enter 16 or less characters!') ?></div>

        <div class="leerrorwrongcaptcha"><?php echo $this->__('Captcha is wrong!') ?></div>
        <div class="leerrorwronglogin"><?php echo $this->__('Email or Password is wrong!') ?></div>
        <div class="leerrorwrongpmatchpassword"><?php echo $this->__('Please make sure your passwords match!') ?></div>
        <div class="leerrorwrongpminimumpassword"><?php echo $this->__('The minimum password length is 6!') ?></div>
    </div>

    <?php
    if (Mage::getStoreConfig('ajaxlogin/registration/enabletac') == 1 && $agreements){ ?>
    <div class="g3-show-tac">
        <div class="g3-window-title"><h3><?php echo $agreements->getName(); ?></h3></div>
        <div class="g3-window-tac">
            <?php if ($agreements->getIsHtml()):?>
                <?php echo $agreements->getContent() ?>
            <?php else:?>
                <?php echo nl2br($this->htmlEscape($agreements->getContent())) ?>
            <?php endif; ?>
        </div>
        <div class="g3-tac-toolbar">
            <div class="g3-tac-buttons">
                <a href="javascript:void(0)" class="g3-close-tac"><?php echo $this->__('Close') ?></a>
                <button title="Create an Account" style="margin-left: 10px;" class="g3-acceptbutton-tac button" type="button"><span><span><?php echo $this->__('Accept') ?></span></span></button>
            </div>
        </div>
    </div>
        <?php } ?>
    <script type="text/javascript">
    //<![CDATA[
    var dataForm = new VarienForm('g3-form-validate', true);
    <?php if(Mage::getStoreConfig('ajaxlogin/registration/enaddress') == 1): ?>
    new RegionUpdater('country', 'region', 'region_id', <?php echo $this->helper('directory')->getRegionJson() ?>, undefined, 'zip');
    <?php endif; ?>

    (function ($) {
        $.extend({
            leAjaxLogin: function(options) {
                var defaults = {
                    stop: false,
                    sub: false,
                    profileUrl: '<?php if(Mage::getStoreConfig('ajaxlogin/ajaxlogin/successpage') == 'currentpage'){ echo $this->helper('core/url')->getCurrentUrl(); }elseif(Mage::getStoreConfig('ajaxlogin/ajaxlogin/successpage') == 'accountpage'){ echo Mage::getBaseUrl() . 'customer/account/';} ?>',
                    autoShowUp: '<?php echo $autoShowUp = (isset($_GET['leregister'])) ? 'yes' : 'no' ?>',
                    errors: '',
                    email: '',
                    password: '',
                    captcha: ''
                };
                var opts = $.extend(defaults, options);

                return start();

                function start() {
                    removeOriginalJsLocations();
                    setSizes();
                    responsiveMaker();
                    openCloseWindowEvents();
                    sendEvents();
                }

                function removeOriginalJsLocations() {
                    $('a[href*="customer/account/create"], a[href*="customer/account/login"], .customer-account-login .new-users button, a[href*="customer/account/forgotpassword/"]').attr('onclick', 'return false;');
                    $('.header-container a[href*="customer/account"], .header-container a[href*="/wishlist"], .header-container a[href*="checkout/cart"]').attr('onclick', 'return false;');
                }

                function openCloseWindowEvents() {
                    if (opts.autoShowUp == 'yes' && $('.messages').css('display') != 'block') {
                        animateShowWindow('login');
                        makeDivCenterByRate('.g3-login-window');
                    }

                    $('a[href*="customer/account/create"], .new-users button').on('click', function () {
                        animateCloseWindow('login');
                        animateShowWindow('register');
                        makeDivCenterByRate('.g3-register-window');
                        return false;
                    });

                    $('a[href*="customer/account/login"], .header-container a[href*="customer/account"], .header-container a[href*="/wishlist"], .header-container a[href*="checkout/cart"]').on('click', function () {
                        animateShowWindow('login');
                        makeDivCenterByRate('.g3-login-window');
                        return false;
                    });

                    $('.g3-register-close').on('click', function () {
                        animateCloseWindow('register');
                    });

                    $('.g3-login-close').on('click', function () {
                        animateCloseWindow('login');
                    });

                    $('.g3-ajaxlogin-cover').on('click', function () {
                        animateCloseWindow('login');
                        animateCloseWindow('register');
                        $('.g3-show-tac').hide();
                    });

                    $('#g3-ajaxlogin-register-back').on('click', function () {
                        animateCloseWindow('register');
                        animateShowWindow('login');makeDivCenterByRate('.g3-login-window');
                    });
                    $('.link-show-tac').on('click', function () {
                        $('.g3-show-tac').show();
                    });
                    $('.g3-close-tac').on('click', function () {
                        $('.g3-show-tac').hide();
                    });
                    $('.g3-acceptbutton-tac').on('click', function () {
                        $('.g3-show-tac').hide();
                        $('#g3_terms_and_conditions').attr('checked', 'checked');
                    });
                }

                function sendEvents() {
                    $("#g3-ajaxreg-btn").click(function () {

                        setDatas('register');
                        validateDatas('register');
                        if (opts.errors != '') {
                            setError(opts.errors, 'register');
							event.preventDefault();
                        } else {
                            callAjaxControllerRegistration();
							event.preventDefault();
                            return;
                        }
                        if (opts.sub == true) {

                        } else {
                            return false;
                        }
                    });

                    $(document).keypress(function (e) {
                        if (e.which == 13 && $('.g3-window-inside').css('display') == 'block') {
                            setDatas('login');
                            validateDatas('login');
                            if (opts.errors != '') {
                                setError(opts.errors, 'login');
                            }
                            else {
                                callAjaxControllerLogin();
                            }
                        }
                    });

                    $('.g3-login-window button#g3-login').on('click', function () {
                        setDatas('login');
                        validateDatas('login');
                        if (opts.errors != '') {
                            setError(opts.errors, 'login');
                        }
                        else {
                            callAjaxControllerLogin();
                        }
                    });
                }

                function animateShowWindow(windowName) {
                    <?php //if(Mage::getStoreConfig('ajaxlogin/ajaxlogin/effect')==2) { ?>
//                    $('.g3-ajaxlogin-cover').fadeIn();
//                    if (windowName == 'register') {
//                        $('.g3-register-close').fadeIn();
//                    }
//                    $('.g3-' + windowName + '-window').fadeIn('fast', function () {
//                        $('.g3-' + windowName + '-window .g3-showhideme').each(function (index, domeE) {
//                            $(this).delay(index * 30).fadeIn('fast');
////                            setTop(windowName);
//                        });
//                    });
                    <?php //} else
                    if (Mage::getStoreConfig('ajaxlogin/ajaxlogin/effect')==1) { ?>
                    $('.g3-ajaxlogin-cover').show();
                    if (windowName == 'register') {
                        $('.g3-register-close').fadeIn();
                    }
                    $('.g3-' + windowName + '-window').fadeIn();
                    $('.g3-' + windowName + '-window .g3-showhideme').each(function () {
                        $(this).fadeIn();
//                        setTop(windowName);
                    });
                    <?php }else{ ?>
                    $('.g3-ajaxlogin-cover').show();
                    if (windowName == 'register') {
                        $('.g3-register-close').show();
                    }
                    $('.g3-' + windowName + '-window').show();
                    $('.g3-' + windowName + '-window .g3-showhideme').each(function () {
                        $(this).show();
//                        setTop(windowName);
                    });
                    <?php } ?>

                }

                function animateLoader(windowName, step) {
                    setTop(windowName);
                    if (step == 'start') {
                        $('.g3-' + windowName + '-window .g3-ajaxlogin-error').fadeOut();
                        $('.g3-ajaxlogin-loader').fadeIn();
                        $('.g3-' + windowName + '-window').animate({opacity: '0.5'});
                    }
                    else {
                        $('.g3-ajaxlogin-loader').fadeOut('normal', function () {
                            $('.g3-' + windowName + '-window').animate({opacity: '1'});
                        });
                    }
                }

                function animateCloseWindow(windowName) {
                    <?php //if(Mage::getStoreConfig('ajaxlogin/ajaxlogin/effect')==2) { ?>
//                    if (opts.stop != true) {
//                        $('.g3-ajaxlogin-error').fadeOut();
//                        $('.g3-' + windowName + '-window .validation-advice').fadeOut();
//                        $('.g3-ajaxlogin-success').fadeOut();
//                        $('.g3-' + windowName + '-window input,select,textarea').removeClass("validation-failed");
//
//                        var inputs = $('.g3-' + windowName + '-window .g3-showhideme').nextAll();
//                        var counter = inputs.length;
//
//                        $($('.g3-' + windowName + '-window .g3-showhideme').get().reverse()).each(function (index, domeE) {
//                            $(this).delay(index * 30).fadeOut('fast');
//                        });
//
//                        $('.g3-' + windowName + '-window').delay(counter * 30).fadeOut();
//                        $('.g3-ajaxlogin-cover').delay(counter * 30).fadeOut();
//                        $('.g3-register-close').delay(counter * 30).fadeOut();
//                    }
                    <?php //}else
                    if(Mage::getStoreConfig('ajaxlogin/ajaxlogin/effect')==1) { ?>
                    if (opts.stop != true) {
                        $('.g3-ajaxlogin-error').fadeOut();
                        $('.g3-' + windowName + '-window .validation-advice').fadeOut();
                        $('.g3-ajaxlogin-success').fadeOut();
                        $('.g3-' + windowName + '-window input,select,textarea').removeClass("validation-failed");

                        $($('.g3-' + windowName + '-window .g3-showhideme').get().reverse()).each(function () {
                            $(this).fadeOut('fast');
                        });

                        $('.g3-' + windowName + '-window').fadeOut();
                        $('.g3-ajaxlogin-cover').hide();
                        $('.g3-register-close').fadeOut();
                    }
                    <?php }else { ?>
                    if (opts.stop != true) {
                        $('.g3-ajaxlogin-error').hide();
                        $('.g3-' + windowName + '-window .validation-advice').hide();
                        $('.g3-ajaxlogin-success').hide();
                        $('.g3-' + windowName + '-window input,select,textarea').removeClass("validation-failed");

                        $($('.g3-' + windowName + '-window .g3-showhideme').get().reverse()).each(function () {
                            $(this).hide('fast');
                        });

                        $('.g3-' + windowName + '-window').hide();
                        $('.g3-ajaxlogin-cover').hide();
                        $('.g3-register-close').hide();
                    }
                    <?php } ?>
                    $('.g3-login-window').hide(function () {
                        $('.g3-ajaxlogin-error').hide();
                        $('#g3-ajaxlogin-forgotpass-box').hide();
                        $('.g3-window-inside').show(0);
                    });

                }

                function validateDatas(windowName) {
                    opts.errors = '';

                    if (windowName == 'register') {
                        var apassword = $('.g3-' + windowName + '-window #g3-reg-password').val();
                        var repassword = $('.g3-' + windowName + '-window #g3-reg-confirmation').val();
                        var lenpassword = $('.g3-' + windowName + '-window #g3-reg-password').val().length;
                        var relenpassword = $('.g3-' + windowName + '-window #g3-reg-confirmation').val().length;

                        if(apassword !== repassword){
                            opts.errors = opts.errors + 'pmatchpassword,'
//                            opts.errors = opts.errors + 'wrongpmatchpassword,'
                        }
                        if(lenpassword < 6 || relenpassword < 6 ){
                            opts.errors = opts.errors + 'wrongpminimumpassword,'
                        }

                        if (validateEmail(opts.email) != true) {
                            opts.errors = opts.errors + 'wrongemail,'
                        }
                        $('#g3-register input.required-entry').each(function () {
                            if($(this).val() == '' && this.name != 'region') opts.errors = opts.errors + 'wrongrequiredentry,'
                        });
                        <?php if(Mage::getStoreConfig('customer/captcha/enable')==1){ ?>
                        if (opts.captcha.length < 1) {
                            opts.errors = opts.errors + 'nocaptcha,'
                        }
                        <?php } ?>

                        <?php if (Mage::getStoreConfig('ajaxlogin/registration/enabletac') == 1){ ?>
                        if ($("#g3_terms_and_conditions").is(":checked")) {
                        } else {
                            opts.errors = opts.errors + 'nocondition,'
                        }
                        <?php } ?>
                    }
                    else if (windowName == 'login') {
                        if (opts.email.length < 1) {
                            opts.errors = opts.errors + 'noemail,';
                            $("#g3-email").addClass("validation-failed");
                        }
                        else if (validateEmail(opts.email) != true) {
                            opts.errors = opts.errors + 'wrongemail,';
                            $("#g3-email").addClass("validation-failed");
                        }else{
                            $("#g3-email").removeClass("validation-failed");
                        }

                        if (opts.password.length < 1) {
                            opts.errors = opts.errors + 'nopassword,';
                            $("#g3-password").addClass("validation-failed");
                        }
                        else if (opts.password.length > 16) {
                            opts.errors = opts.errors + 'wronglogin,'
                        }else{
                            $("#g3-password").removeClass("validation-failed");
                        }

                        var n = opts.password.indexOf(' ');
                        if (n != -1) {
                            opts.errors = opts.errors + 'wronglogin,'
                        }
                    }
                }

                function validateEmail(emailAddress) {
                    var filter = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;

                    if (filter.test(emailAddress)) {
                        return true;
                    }
                    else {
                        return false;
                    }
                }

                function setDatas(windowName) {
                    if (windowName == 'register') {
                        opts.email = $('.g3-' + windowName + '-window #g3-reg-email_address').val();
                        if ($('.g3-' + windowName + '-window #captcha_form-validate-captcha')) {
                            opts.captcha = $('.g3-' + windowName + '-window #captcha_form-validate-captcha').val();
                        }
                    }
                    else if (windowName == 'login') {
                        opts.email = $('.g3-' + windowName + '-window #g3-email').val();
                        opts.password = $('.g3-' + windowName + '-window #g3-password').val();
                    }
                }

                function setError(errors, windowName) {
                    $('.g3-' + windowName + '-window .g3-ajaxlogin-error').text('');
                    $('.g3-' + windowName + '-window .g3-ajaxlogin-error').hide();

                    var errorArr = new Array();
                    errorArr = errors.split(',');

                    var length = errorArr.length - 1;

                    for (var i = 0; i < length; i++) {
                        var errorText = $('.leerror' + errorArr[i]).text();

                        $('.g3-' + windowName + '-window .err-' + errorArr[i]).text(errorText);
                    }

                    $('.g3-' + windowName + '-window .g3-ajaxlogin-error').fadeIn();
                }

                function callAjaxControllerRegistration() {
                    if (opts.stop != true) {
                        opts.stop = true;

                        animateLoader('register', 'start');

                        var ajaxRegistration = jal.ajax({
                            url: '<?php if($isSecure) echo Mage::getModel('core/url')->sessionUrlVar(Mage::getUrl('ajaxlogin/ajax/index', array('_secure'=>true))); else echo $this->getUrl('ajaxlogin/ajax/index') ?>',
                            type: 'POST',
                            data: {
                                ajax: 'register',
                                email: opts.email,
                                captcha: opts.captcha
                            },
                            dataType: "html"
                        });
                        ajaxRegistration.done(function (msg) {
                            msg = msg.trim();
//                            console.log(msg);
                            if (msg != 'success') {
                                setError(msg, 'register');
                            }
                            else {
                                opts.stop = false;
                                opts.sub = true;
                                animateCloseWindow('register');
                                $("form#g3-form-validate").submit();
                            }
                            animateLoader('register', 'stop');
                            opts.stop = false;
                        });
                        ajaxRegistration.fail(function (jqXHR, textStatus, errorThrown) {
                            opts.stop = false;
                            animateLoader('register', 'stop');
                        });
                    }
                }

                function callAjaxControllerLogin() {
                    if (opts.stop != true) {

                        opts.stop = true;

                        animateLoader('login', 'start');

                        var ajaxRegistration = jal.ajax({
                            url: '<?php if($isSecure) echo Mage::getModel('core/url')->sessionUrlVar(Mage::getUrl('ajaxlogin/ajax/index', array('_secure'=>true))); else echo $this->getUrl('ajaxlogin/ajax/index') ?>',
                            type: 'POST',
                            data: {
                                ajax: 'login',
                                email: opts.email,
                                password: opts.password
                            },
                            dataType: "html"
                        });
                        ajaxRegistration.done(function (msg) {
                            msg = msg.trim();
                            //console.log(msg);
                            if (msg != 'success') {
                                setError(msg, 'login');
                            }
                            else {
                                opts.stop = false;
                                animateCloseWindow('login');
                                window.location = opts.profileUrl;
                            }
                            animateLoader('login', 'stop');
                            opts.stop = false;
                        });
                        ajaxRegistration.fail(function (jqXHR, textStatus, errorThrown) {
                            opts.stop = false;
                            animateLoader('login', 'stop');
                        });
                    }
                }

                function responsiveMaker() {
                    var position = 'fixed';
                    $(window).resize(function () {
                        setSizes(position);
                    });
                }

                function makeDivCenterByRate(elm){
                    var top = 0, left = 0, width = 0, height =0;
                    var screen_height = $(window).height();
                    var screen_width = $(window).width();
                    var elm_height = $(elm).height();
                    var elm_width = $(elm).width();
                    var elm_outerHeight = $(elm).outerHeight();
                    var elm_outerWidth = $(elm).outerWidth();
                    var maxOuterHeight = screen_height * 0.8;
                    var maxOuterWidth = screen_width * 0.8;
                    var maxHeight = maxOuterHeight - (elm_outerHeight - elm_height);
                    if(maxOuterHeight > elm_outerHeight){
                        if(elm == '.g3-register-window'){
                            top = (screen_height - elm_outerHeight - 40)/2;
                        }else{
                            top = (screen_height - elm_outerHeight)/2;
                        }
                    } else {
                        if(elm == '.g3-register-window'){
                            top = (screen_height - maxOuterHeight - 40)/2;
                        }else{
                            top = (screen_height - maxOuterHeight)/2;
                        }
                    }
                    if(maxOuterWidth > elm_outerWidth){
                        left = (screen_width - elm_outerWidth)/2;
                    } else {
                        left = (screen_width - maxOuterWidth)/2;
                    }
                    if(elm == '#g3-ajaxlogin-forgotpass-box'){
                        if(screen_height <= elm_outerHeight){
                            $(elm).css({
                                'max-height' : (elm_outerHeight*0.8)+'px',
                                'overflow-y' : 'auto'
                            });
                        }else{
                            $(elm).css({
                                'max-height' : 'none'
                            });
                        }
                    }

                    $('#g3-window-main').css('max-height',maxHeight+'px');
                    $(elm).css({
                        top : top+'px',
                        left : left+'px'
                    });
                }

                function setSizes(position) {
                    <?php if(Mage::getStoreConfig('ajaxlogin/ajaxlogin/position')==0){ ?>

                    makeDivCenterByRate('.g3-login-window');
                    makeDivCenterByRate('.g3-register-window');
                    makeDivCenterByRate('#g3-ajaxlogin-forgotpass-box');

                    <?php } else { ?>

                    var hlink = $('a[href*="customer/account/login/"]').height();
                    var wlink = $('a[href*="customer/account/login/"]').width();

                    var lwidth = $('.g3-login-window').width();
                    var rwidth = $('.g3-register-window').width();

                    var logoffset = $('a[href*="customer/account/login/"]').offset();
                    var winWidth = $( window ).width();

                    if(logoffset.left < lwidth){
                        $('.g3-login-window').css('left', (logoffset.left + (lwidth / 2)) + 'px');
                    }else{
                        $('.g3-login-window').css('left', (logoffset.left - (lwidth / 2) + wlink ) + 'px');
                    }
                    $('.g3-login-window').css('top', (logoffset.top + hlink) + 'px');
                    $('.g3-login-window').css('position', 'absolute');//absolute


                    if(logoffset.left < rwidth){
                        $('.g3-register-window').css('left', (logoffset.left + (rwidth / 2)) + 'px');
                    }else{
                        $('.g3-register-window').css('left', (logoffset.left + wlink - (rwidth / 2)) + 'px');
                    }
                    $('.g3-register-window').css('top', (logoffset.top + hlink) + 'px');
                    $('.g3-register-window').css('position', 'absolute');//absolute

                    if(winWidth >= 800){
                        $('.g3-ajaxlogin-loader').css('left', (logoffset.left - (lwidth / 2) + wlink) + 'px');
                    }
                    <?php } ?>
                }

                function setTop(windowName) {
                    if ($('.g3-' + windowName + '-window').css('display') == 'block') {
                        var height = $('.g3-' + windowName + '-window').height();
                        var marginTop = $('.g3-' + windowName + '-window').css('top').replace('px', '');
                        var loaderheight = $('#g3-ajaxlogin-loadid').height();
                        var theTop = (parseInt(height) / 2) + parseInt(marginTop) - (parseInt(loaderheight)/2);
                        $('.g3-ajaxlogin-loader').css('top', parseInt(theTop) + 'px');
                        $('.g3-ajaxlogin-loader').css('position', $('.g3-' + windowName + '-window').css('position'));
                    }
                }
            }
        });

    })(jal);

    jal(document).ready(function () {
        jal.leAjaxLogin({
            stop: false,
            sub: false,
            profileUrl: '<?php if(Mage::getStoreConfig('ajaxlogin/ajaxlogin/successpage') == 'currentpage'){ echo $this->helper('core/url')->getCurrentUrl(); }elseif(Mage::getStoreConfig('ajaxlogin/ajaxlogin/successpage') == 'accountpage'){ echo Mage::getBaseUrl() . 'customer/account/';} ?>',
            autoShowUp: '<?php echo $autoShowUp = (isset($_GET['leregister'])) ? 'yes' : 'no' ?>',
            errors: '',
            email: '',
            password: '',
            captcha: ''
        });
        jal(document).on('click', '#g3-ajaxlogin-forgotpass', function () {
            jal('#g3-ajaxlogin-forgotpass-box').css({'display': 'block'});
            jal('.g3-window-inside').css({'display': 'none'});
            jal('.g3-login-window').css({'display': 'none'});
            //jal('a[href*="customer/account/login"]').trigger('click');
            effectShowLogin('.g3-login-window');
            return false;
        });
        jal(document).on('click', '#g3-ajaxlogin-forgotpass-submit', function () {
            var email = jal('#g3-ajaxlogin-forgotpass-input').val();
            jal('.g3-login-window .g3-ajaxlogin-error-captcha').text('');
            jal('#g3-ajaxlogin-forgotpass-box #captcha_g3_captcha_forgotpass').removeClass('validation-failed');
            var checkcaptcha = true;
            if(jal('#g3-ajaxlogin-forgotpass-box #captcha_g3_captcha_forgotpass').length != 0){
                var captcha = jal('#g3-ajaxlogin-forgotpass-box #captcha_g3_captcha_forgotpass').val();
                if(captcha == ""){
                    jal('.g3-login-window .g3-ajaxlogin-error-captcha').text("<?php echo $this->__('This is a required field.')?>");
                    jal('#g3-ajaxlogin-forgotpass-box #captcha_g3_captcha_forgotpass').addClass('validation-failed');
                    checkcaptcha = false;
                }
            }
            if (IsEmail(email) == true && checkcaptcha == true) {
                var data = jal('#g3-ajaxlogin-forgotpass-form').serialize();
                data += '&g3_ajaxlogin=true';
                jal('.g3-login-window').animate({opacity: '0.5'});

                var height = jal('.g3-login-window').height();
                var marginTop = jal('.g3-login-window').css('top').replace('px', '');
                var loaderheight = jal('#g3-ajaxlogin-loadid').height();
                var theTop = (parseInt(height) / 2) + parseInt(marginTop) - (parseInt(loaderheight)/2);
                jal('.g3-ajaxlogin-loader').css('top', parseInt(theTop) + 'px');
                jal('.g3-ajaxlogin-loader').show();

                jal.ajax({
                    url: '<?php echo $this->getUrl('ajaxlogin/account/forgotpasswordpost');?>',
                    type: 'POST',
                    data: data,
                    success: function (json) {
                        var result = jal.parseJSON(json);
                        //console.log(result);
                        jal('.g3-ajaxlogin-loader').hide();
                        if (result['success'] == true) {

                            jal('.g3-login-window').animate({opacity: '1'});
                            jal('.g3-login-window .g3-ajaxlogin-error').fadeOut();
                            jal('#g3-ajaxlogin-forgotpass-input').removeClass('validation-failed');
                            jal('#g3-ajaxlogin-forgotpass-box .email-success').text(result['message']);
                            jal('.g3-login-window .g3-ajaxlogin-success').fadeIn();
                        } else {
                            if(result['error_type'] == 'email'){
                                jal('.g3-login-window').animate({opacity: '1'});
                                jal('.g3-login-window .g3-ajaxlogin-error').fadeOut();
                                jal('#g3-ajaxlogin-forgotpass-input').removeClass('validation-failed');
                                jal('#g3-ajaxlogin-forgotpass-box .email-success').text(result['message']);
                                jal('.g3-login-window .g3-ajaxlogin-success').fadeIn();
}                           else {
                                jal('#g3-ajaxlogin-forgotpass-box .er-noemail').text("");
                                jal('.g3-login-window').animate({opacity: '1'});
                                jal('#g3-ajaxlogin-forgotpass-box #captcha-reload').trigger('click');
                                jal('.g3-login-window .g3-ajaxlogin-error-captcha').text(result['message']);
                                jal('#g3-ajaxlogin-forgotpass-input').removeClass('validation-failed');
                            }
                        }
                    }
                });
            } else {
                jal('.g3-ajaxlogin-success').hide();
                jal('#g3-ajaxlogin-forgotpass-box .er-noemail').text("<?php echo $this->__('Email is invalid !')?>");
                jal('#g3-ajaxlogin-forgotpass-box .g3-ajaxlogin-error').fadeIn();
                jal('.g3-login-window #g3-ajaxlogin-forgotpass-input').addClass('validation-failed');
            }
            return false;
        });
        jal(document).on('click', '#g3-ajaxlogin-forgotpass-back', function () {
            jal('#g3-ajaxlogin-forgotpass-box').css({'display': 'none'});
            jal('.g3-window-inside').css({'display': 'block'});
            jal('.g3-login-window').css({'display': 'none'});
            //jal('a[href*="customer/account/login"]').trigger('click');
            effectShowLogin('.g3-login-window');
            jal('#g3-ajaxlogin-forgotpass-box input').removeClass('validation-failed');
            jal('.g3-login-window .g3-ajaxlogin-error-captcha').text('');
            jal('#g3-ajaxlogin-forgotpass-box .er-noemail').text("");
            return false;
        });
        jal(document).on('click', '#g3-ajaxlogin-createacc', function () {
            jal('.g3-login-window').hide();
        });
        jal('a[href*="customer/account/forgotpassword/"]').not('div.g3-login-window a[href*="customer/account/forgotpassword/"]').on('click', function(){
            jal('#g3-ajaxlogin-forgotpass-box .g3-showhideme').removeClass('g3-showhideme');
            jal('#g3-ajaxlogin-forgotpass-box').show();
            jal('#g3-ajaxlogin-forgotpass').trigger('click');
            return false;
        });
    });

    function IsEmail(email) {
        var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        return regex.test(email);
    }

    function effectShowLogin(elm) {
        jal(elm).css({'display': 'none'});
        <?php //if(Mage::getStoreConfig('ajaxlogin/ajaxlogin/effect')==2) { ?>
//        jal(elm).slideDown('800');
        <?php //}else
        if (Mage::getStoreConfig('ajaxlogin/ajaxlogin/effect')==1) {?>
        jal(elm).fadeIn('800');
        <?php }else {?>
        jal(elm).show();
        <?php }?>
    }

    function showLELoginPopup(url, width, height) {
        var screenX = typeof window.screenX != 'undefined' ? window.screenX : window.screenLeft;
        var screenY = typeof window.screenY != 'undefined' ? window.screenY : window.screenTop;
        var outerWidth = typeof window.outerWidth != 'undefined' ? window.outerWidth : document.body.clientWidth;
        var outerHeight = typeof window.outerHeight != 'undefined' ? window.outerHeight : (document.body.clientHeight - 22);
        var left = parseInt(screenX + ((outerWidth - width) / 2), 10);
        var top = parseInt(screenY + ((outerHeight - height) / 2.5), 10);
        var settings = (
            'width=' + width +
                ',height=' + height +
                ',left=' + left +
                ',top=' + top
            );
        var newwindow = window.open(url, '', settings);
        if (window.focus) {
            newwindow.focus()
        }
        return false;
    }
    //]]>
    </script>

<?php endif ?>