<?php if (Mage::helper('customer')->isLoggedIn() == true) : ?>
    <script type="text/javascript" src="<?php echo $this->getSkinUrl('le_ajaxlogin/js/jquery-1-7-1.js') ?>"></script>
    <div class="g3-menu-window">
        <div class="g3-window-outside">
            <div class="g3-window-inside">
                <div class="g3-window-box first">
                    <div class="g3-window-content">
                        <div class="g3-user-info">
                            <div class="input-fly g3-showhideme">
                                <div class="g3-user-name">
                                    <?php if (Mage::getSingleton('customer/session')->isLoggedIn()) echo Mage::getSingleton('customer/session')->getCustomer()->getName(); ?>
                                </div>
                            </div>
                            <div id="leendofemail" class="input-fly g3-showhideme">
                                <?php if (Mage::getSingleton('customer/session')->isLoggedIn()) echo Mage::getSingleton('customer/session')->getCustomer()->getEmail(); ?>
                            </div>
                        </div>
                        <div class="input-fly g3-showhideme border-bottom">
                            <a href="<?php echo Mage::getBaseUrl() . 'customer/account/'; ?>">Account Dashboard</a>
                        </div>
                        <div class="input-fly g3-showhideme border-bottom">
                            <a href="<?php echo Mage::getBaseUrl() . 'customer/account/edit/'; ?>">Account
                                Information</a>
                        </div>
                        <div class="input-fly g3-showhideme border-bottom">
                            <a href="<?php echo Mage::getBaseUrl() . 'sales/order/history/'; ?>">My Order</a>
                        </div>
                        <div class="input-fly g3-showhideme border-bottom">
                            <a href="<?php echo Mage::getBaseUrl() . 'wishlist/'; ?>">My Wishlist</a>
                        </div>
                        <div class="input-fly g3-showhideme">
                            <a href="<?php echo Mage::getBaseUrl() . 'review/customer/'; ?>">My Product Reviews</a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <script type="text/javascript">
        //<![CDATA[
        (function ($) {

            $.fn.leMenuAjaxLogin = function (options) {

                var opts = $.extend({}, $.fn.leMenuAjaxLogin.defaults, options);

                return start();

                function start() {
                    setSizes();
                    responsiveMaker();
                    openCloseWindowEvents();
                }


                function openCloseWindowEvents() {
                    if (opts.autoShowUp == 'yes' && $('.messages').css('display') != 'block') {
                        animateShowWindow('menu');
                    }

                    $('ul.links a[href="<?php  echo Mage::getBaseUrl() ?>customer/account/"]').hover(function () {
                        animateShowWindow('menu');
                        return false;
                    });

                    $(document).mouseup(function (e) {
                        var container = $(".g3-menu-window");
                        if (!container.is(e.target)
                            && container.has(e.target).length === 0) {
                            animateCloseWindow('menu');
                        }
                    });
                }

                function animateShowWindow(windowName) {
                    <?php if(Mage::getStoreConfig('ajaxlogin/ajaxlogin/effect')==2) { ?>


                    $('.g3-' + windowName + '-window').fadeIn('fast', function () {
                        $('.g3-' + windowName + '-window .g3-showhideme').each(function (index, domeE) {
                            $(this).delay(index * 30).fadeIn('fast');
                        });
                    });
                    <?php } elseif (Mage::getStoreConfig('ajaxlogin/ajaxlogin/effect')==1) { ?>

                    $('.g3-' + windowName + '-window').fadeIn();
                    $('.g3-' + windowName + '-window .g3-showhideme').each(function () {
                        $(this).fadeIn();
                    });
                    <?php }else{ ?>

                    $('.g3-' + windowName + '-window').show();
                    $('.g3-' + windowName + '-window .g3-showhideme').each(function () {
                        $(this).show();
                    });
                    <?php } ?>

                }


                function animateCloseWindow(windowName) {
                    <?php if(Mage::getStoreConfig('ajaxlogin/ajaxlogin/effect')==2) { ?>
                    if (opts.stop != true) {

                        var inputs = $('.g3-' + windowName + '-window .g3-showhideme').nextAll();
                        var counter = inputs.length;

                        $($('.g3-' + windowName + '-window .g3-showhideme').get().reverse()).each(function (index, domeE) {
                            $(this).delay(index * 30).fadeOut('fast');
                        });

                        $('.g3-' + windowName + '-window').delay(counter * 30).fadeOut();

//                        $('.g3-menu-close').delay(counter * 30).fadeOut();
                    }
                    <?php }elseif(Mage::getStoreConfig('ajaxlogin/ajaxlogin/effect')==1) { ?>
                    if (opts.stop != true) {
                        $($('.g3-' + windowName + '-window .g3-showhideme').get().reverse()).each(function () {
                            $(this).fadeOut('fast');
                        });

                        $('.g3-' + windowName + '-window').fadeOut();

                        $('.g3-register-close').fadeOut();
                    }
                    <?php }else { ?>
                    if (opts.stop != true) {

                        $($('.g3-' + windowName + '-window .g3-showhideme').get().reverse()).each(function () {
                            $(this).hide('fast');
                        });

                        $('.g3-' + windowName + '-window').hide();

                        $('.g3-register-close').hide();
                    }
                    <?php } ?>

                }


                function responsiveMaker() {
                    var position = 'fixed';
                    $(window).resize(function () {
                        setSizes(position);
                    });
                }

                function setSizes(position) {

//                    var hlink = $('ul.links>li').height();
//                    var logoffset = $('a[title="My Account"]').offset();

                    var hlink = $('a[href*="customer/account/"]').parent("li.first").height();
                    var logoffset = $('a[href*="customer/account/"]').parent("li.first").offset();
                    $('.g3-menu-window').css('top', (logoffset.top + hlink) + 'px');
                    $('.g3-menu-window').css('left', (logoffset.left ) + 'px');
                    $('.g3-menu-window').css('position', 'absolute');

                }

            };

            $.fn.leMenuAjaxLogin.defaults = {
                stop: false,
                sub: false,
                profileUrl: '<?php echo Mage::getBaseUrl() ?>customer/account/',
                autoShowUp: '<?php echo $autoShowUp = (isset($_GET['leregister'])) ? 'yes' : 'no' ?>'
            };

        })(jal);

        jal(document).ready(function () {
            jal().leMenuAjaxLogin();
        });

        //]]>
    </script>

<?php endif ?>