
@font-face {
  font-family: 'Apple-Chancery';
  src: url('Apple-Chancery.eot?#iefix') format('embedded-opentype'),  url('Apple-Chancery.woff') format('woff'), url('Apple-Chancery.ttf')  format('truetype'), url('Apple-Chancery.svg#Apple-Chancery') format('svg');
  font-weight: normal;
  font-style: normal;
}
