*{margin:0; padding:0;}
form.cnpForm select {
	margin-right:5px;
}
.formbank{
	margin:0 auto;
	max-width: 430px;
	width: 100%;
	border:2px solid #cccccc;
	padding:20px;
	overflow: hidden;
	background: white;
}
.logobank, .logobankoverlay{
	text-align: left;
	display:block;
	margin-left: -13px;
}
.brandImg {display: block; margin-bottom: 16px; width: 100%; float:left; text-align: left; }
.brandImg li {
	display: inline-block;
	margin-right:3px;
}
.ddPayment {
	border: none !important;
	box-shadow: none !important;
}
.brandImg li img{width: 62px; height: 35px;}
.img_AMEX{width: 40.25px !important;}
.img_VPAY{width: 34px !important;}
.blurBrand{
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");	
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    -ms-filter: grayscale(1);
    margin:-1px;
    padding:1px;
}
.secured span {
	float:left;
	width: 66%;
	padding-bottom:15px
}
.secured img {
	float: right;
	width: 20%;
	margin-top:-8px;
	padding-bottom:15px;
}
.itForm{display: block;clear: both; padding-bottom:10px;}
.itForm .textInfo, .itForm .itField {
	width:50%;
	float:left;
	padding:3px 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.itField input{height: 30px; padding:2px 5px;}
.itField input:focus{outline:none;}
.itField .cvvInputField{width:50px; margin-right:5px;}
a.hilfe, a:active.hilfe, a:visited.hilfe {
	color:blue; 
	text-decoration:underline;
}

.sbtForm .btnFrm {float:left; width:25%; height: 30px;}
.sbtForm .btnFrmVer {width: 50%;}
.sbtForm .btnFrmSubmit {float:right; text-align: right;}

.btnCustom {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px !important;
    line-height: inherit !important;
    height: 30px;
    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}
a.btnCustom  {	
	text-decoration: none;
}

.payServices {overflow: hidden; padding-top:18px; text-align: right; float:right}
.payServices span, .payServices img{float:left; margin-right:5px;}
.payServices img{margin-top:-10px; margin-right:0px;}

.overlay{
	width:100%;
	height:100%;
	position:fixed;
	background:rgba(0,0,0,.7);
	z-index:9999;
	top:0;
	left:0;
	display: none;
}
.box-overlay{
	width:450px;
	background:white;
	margin:20% auto;
	position:relative;
	padding:20px;
	box-shadow:0 0 0 0 rgba(0,0,0,.4);
	text-align: center;
}
.close-button{
	width: 20px;
	height: 20px;
	background: black;
	border:2px solid white;
	box-shadow: 0 0 3px rgba(0, 0, 0, .5);
	display: block;
	border-radius:50%;
	color: white;
	text-align: center;
	text-decoration:none;
	position:absolute;
	top:-10px;
	right:-10px;
}
.supported_bank{
	display: block !important;
        width: 100%;
        
}

.supported_bank img{
	margin: 0 3px !important;
        display: inline-block !important;
        padding-left : 23px;
}
#header { z-index:1;}
