.marketer-header {
    text-align: center;
    margin: 0 !important;
}

.marketer_agreement input[type="radio"] {
    -moz-appearance: radio;
    -webkit-appearance: radio;
}

.marketer_agreement .acct_information label {
    font-size: 16px;
    min-height: 23px;
}

.marketer_agreement .form_block {
    padding: 30px;
}

.marketer_btn {
    width: 100%;
    min-height: 45px;
    margin: 55px auto 0 auto;
    display: block;
    border: 0 none;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    border-radius: 20px;
    background: #e84c0f;
    text-transform: uppercase;
}

.marketer_agreement select {
    -moz-appearance: listitem;
    -webkit-appearance: menulist;
}

.marketer_agreement .individual_ssn input[type="text"], .marketer_agreement .individual_tin input[type="text"],
.marketer_agreement .business_ssn input[type="text"], .marketer_agreement .business_tin input[type="text"]{
    width: 30px;
    height: 34px;
    /*padding: 6px 12px;*/
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0;
    display: inline-block;
    text-align: center;
}

.marketer_agreement .individual_tin, .marketer_agreement .business_ssn, .marketer_agreement #account_information, .marketer_agreement #business_information {
    display: none;
}

.kbw-signature {
    width: 500px;
    height: 150px;
    border: 1px solid #ddd;
    display: inline-block;
    -ms-touch-action: none;
}

.kbw-signature-disabled {
    opacity: 0.35;
}

.marketer_agreement .signature label, .marketer_agreement .signature div, .marketer_agreement .signature a {
    display: block;
}

.marketer_agreement .kbw-signature canvas{
    /*width: 100% !important;*/
}

.marketer_agreement .acct_information_in{
    width: 100% !important;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    .kbw-signature {
        width: 300px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    .kbw-signature {
        width: 400px;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .kbw-signature {
        width: 400px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .kbw-signature {
        width: 500px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .kbw-signature {
        width: 500px;
    }
}

.term_conditions{
    max-height: 100px;
    overflow: auto;
}

.marketer_agreement .right_link{
    float: right;

}

.marketer_agreement .remove_member{
    margin-right: 15px;
}

.marketer_agreement #additional_member, .individual_ssn{
    display: none;
}

.marketer_agreement .acct_information{
    border-top: none !important;
    border-right: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}