<?php
$helper = Mage::helper('specialoccasion');
$occasions = $helper->getOccastions();
$product_collection = $helper->getProductCollection();
$item = $this->getItem();

if ($helper->isEnable() && $occasions != null && is_array($occasions) && sizeof($occasions) > 0 &&
    $product_collection != null && sizeof($product_collection) > 0 && $item != null && $item->getId()
) {
    $address = $this->getAddress($item->getId());
    $regions = Mage::getModel('directory/country')->load('US')->getRegions();
    if ($address != null && $address->getId()) {
        ?>
        <div class="right_block_in">
            <div class="search_bar last padd_bot text-center">
                <h3 class="pad_last"><?php echo $this->__('SPECIAL OCCASION Flowers'); ?></h3>
                <div class="clearfix"></div>
            </div>
            <div class="never_forgot">
                <h4><?php echo $this->__('Never Forget'); ?><br><?php echo $this->__('To Send Flowers, Again!'); ?>
                </h4>
                <div class="never_forgot_under">
                    <form action="<?php echo $this->getUpdateAction(); ?>" id="add-new-occasion-form" method="post">
                        <input type="hidden" name="item_id" value="<?php echo $item->getId(); ?>">
                        <input type="hidden" name="address_id" value="<?php echo $address->getId(); ?>">

                        <h5><?php echo $this->__('Update the special occasion'); ?></h5>
                        <small><?php echo $this->__('Not Charged Until Product Ships'); ?></small>
                        <div class="occasion_form_sec">
                            <ul>
                                <li class="col-md-4 col-xs-12">
                                    <label><?php echo $this->__('Occasion'); ?>:</label>
                                    <select class="required-entry" name="occasion">
                                        <?php foreach ($occasions as $occasion) {
                                            if (strcasecmp($occasion, $item->getOccasion()) == 0)
                                                echo '<option value="' . $occasion . '" selected="selected" >' . $occasion . '</option>';
                                            else
                                                echo '<option value="' . $occasion . '">' . $occasion . '</option>';
                                        } ?>
                                    </select>
                                </li>
                                <li class="col-md-4 col-xs-12">
                                    <label><?php echo $this->__('To'); ?>:</label>
                                    <input name="name" type="text"
                                           value="<?php echo $address->getFirstname() . ' ' . $address->getLastname(); ?>"
                                           class="required-entry" placeholder="<?php echo $this->__('To'); ?>">
                                </li>
                                <li class="col-md-4 col-xs-12">
                                    <label><?php echo $this->__('Date'); ?></label>
                                    <input type="text" name="occasion_date" id="occasion_date"
                                           class=" required-entry" autocomplete="off"
                                           value="<?php echo date('F d', strtotime($item->getShipDate())); ?>"
                                           placeholder="Choose a date" readonly/>
                                    <input type="hidden" name="alternate_date" id="alternate_date" value="<?php echo date('Y-m-d H:i:s', strtotime($item->getShipDate())); ?>" class=" required-entry" />
                                </li>
                                <li class="col-md-4 col-xs-12">
                                    <label><?php echo $this->__('Address'); ?>:</label>
                                    <input name="street" type="text" value="<?php echo $address->getStreet(); ?>"
                                           class="middle required-entry"
                                           placeholder="Address">

                                    <label><?php echo $this->__('City'); ?>:</label>
                                    <input name="city" type="text" class="city  required-entry" placeholder="City"
                                           value="<?php echo $address->getCity(); ?>">

                                    <label><?php echo $this->__('State/Province'); ?>:</label>
                                    <select name="region" id="region" class="state input-text required-entry">
                                        <option value=""><?php echo $this->__('Select'); ?></option>
                                        <?php
                                        foreach ($regions as $region) {
                                            if (strcasecmp($region['name'], $address->getRegion()) == 0)
                                                echo "<option value=" . $region['name'] . " title=" . $region->getId() . " selected='selected'>" . $region['name'] . "</option>";
                                            else
                                                echo "<option value=" . $region['name'] . " title=" . $region->getId() . ">" . $region['name'] . "</option>";
                                        }
                                        ?>
                                    </select>
                                    <input type="hidden" id="region_id" name="region_id"
                                           value="<?php echo $address->getRegionId(); ?>"/>

                                </li>
                                <li class="col-md-4 col-xs-12">

                                    <label><?php echo $this->__('Zip/Postal Code'); ?>:</label>
                                    <input name="zipcode" type="text" value="<?php echo $address->getZipcode(); ?>"
                                           class="middle required-entry"
                                           placeholder="Zip/Postal Code">

                                    <label><?php echo $this->__('Country'); ?>:</label>
                                    <?php echo $this->getCountryHtmlSelect(); ?>

                                    <label><?php echo $this->__('Telephone'); ?>:</label>
                                    <input name="telephone" type="text"
                                           value="<?php echo $address->getTelephone(); ?>"
                                           class="middle required-entry"
                                           placeholder="Telephone">

                                </li>
                                <li class="col-md-4 col-xs-12">
                                    <label><?php echo $this->__('Message'); ?>:</label>
                                    <textarea name="message" placeholder="Message"
                                              class=" required-entry"><?php echo $item->getMessage(); ?></textarea>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="select_gift">
                            <div class="select_gift_lft col-sm-8 col-xs-12">
                                <label><?php echo $this->__('Select Gift'); ?>:</label>
                                <select class="selectpicker1 required-entry" name="product_id" id="product_gift">
                                    <option value=""><?php echo $this->__('Choose a gift') ?></option>
                                    <?php foreach ($product_collection as $product) {
                                        if ($product->getId() == $item->getProductId())
                                            echo '<option value="' . $product->getId() . '" selected="selected">' . $product->getName() . '</option>';
                                        else
                                            echo '<option value="' . $product->getId() . '">' . $product->getName() . '</option>';
                                    } ?>
                                </select>
                                <?php foreach ($product_collection as $product) {
                                    echo '<input type="hidden" id="product_price_' . $product->getId() . '" value="' . Mage::helper('core')->currency($product->getPrice(), true, false) . '" />';
                                    echo '<input type="hidden" id="product_image_' . $product->getId() . '" value="' . $this->helper('catalog/image')->init($product, 'small_image')->resize(180) . '" />';
                                    echo '<input type="hidden" id="product_url_' . $product->getId() . '" value="' . $product->getProductUrl() . '" />';
                                } ?>
                            </div>
                            <div class="gift_info col-sm-4 col-xs-12">
                                <?php $_p = Mage::getModel('catalog/product')->load($item->getProductId());
                                if ($_p != null && $_p->getId()) {
                                    ?>
                                    <div class="product_image" id="gift_image">
                                        <a href="<?php echo $_p->getProductUrl(); ?>"
                                           title="<?php echo $_p->getName(); ?>">
                                            <img src="<?php echo $this->helper('catalog/image')->init($_p, 'small_image')->resize(180); ?>"
                                                 title="<?php echo $_p->getName(); ?>"
                                                 alt="<?php echo $_p->getName(); ?>"/>
                                        </a>
                                    </div>
                                    <div class="product_price">
                                        <p class="price"
                                           id="pprice"><?php echo Mage::helper('core')->currency($_p->getPrice(), true, false) ?></p>
                                    </div>
                                <?php } else { ?>
                                    <div class="product_image" id="gift_image">
                                        <a href="#" title="#">
                                            <img src="#" title="#" alt="#"/>
                                        </a>
                                    </div>
                                    <div class="product_price">
                                        <p class="price" id="pprice"></p>
                                    </div>
                                <?php } ?>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="occasion_form_sec">
                            <ul>
                                <li class="col-sm-12">
                                    <label><?php echo $this->__('Stop this?'); ?>:</label>
                                    <select class="required-entry" name="item_state" id="item_state">
                                        <?php foreach (Magestore_SpecialOccasion_Model_Status::getOptionStateArray() as $key=>$value) {
                                            if($item->getState() == $key)
                                                echo '<option value="' . $key . '" selected="selected">' . $value . '</option>';
                                            else
                                                echo '<option value="' . $key . '">' . $value . '</option>';
                                        }?>
                                    </select>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <p><?php echo $this->__('*Email Reminder Sent %s Days Prior To Shipping', Mage::helper('specialoccasion')->getConfigData('general', 'day_send_email'));?></p>
                        <div class="orange_btn_blk pad12 last">
                            <ul>
                                <li class="col-xs-4">
                                    <button type="button" class="btn_blk transition"
                                            onclick="window.location.href='<?php echo $this->getBackAction(); ?>'"><?php echo $this->__('Back'); ?></button>
                                </li>
                                <li class="col-xs-4">
                                    <button type="submit" class="btn_blk transition">
                                        <?php echo $this->__('Save'); ?>
                                    </button>
                                </li>
                                <li class="col-xs-4">
                                    <button type="button" class="btn_blk transition delete-items">
                                        <?php echo $this->__('Delete'); ?></button>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <script type="text/javascript">
            //<![CDATA[
            $j = jQuery.noConflict();
            <?php $valentine_cut_off_date = strtotime(Mage::helper('other')->getConfigData('calendar_date', 'valentine_cut_off').' '.date('Y', time()));?>
            function isDisableDays(date) {
                var now = new Date();
                <?php if(Mage::helper('other')->getConfigData('calendar_date', 'enable')){?>
                var available_days = <?php echo Mage::helper('other')->getConfigData('calendar_date', 'next_number_date');?>;
                <?php } else {?>
                var available_days = 0;
                <?php }?>

                if (date.getFullYear() < now.getFullYear()) {
                    return true;
                }
                if (date.getFullYear() == now.getFullYear()) {
                    if (date.getMonth() < now.getMonth()) {
                        return true;
                    }
                }
                if (date.getMonth() == now.getMonth()) {
                    if (date.getDate() < now.getDate()) {
                        return true;
                    }
                }

                if(available_days > 0){
                    var next_date = addDays(now , available_days + 1);

                    if (date.getFullYear() < next_date.getFullYear()) {
                        return true;
                    }
                    if (date.getFullYear() == next_date.getFullYear()) {
                        if (date.getMonth() < next_date.getMonth()) {
                            return true;
                        }
                    }
                    if (date.getMonth() == next_date.getMonth()) {
                        if (date.getDate() < next_date.getDate()) {
                            return true;
                        }
                    }
                }

                if((date.getMonth() + 1) == <?php echo date('m', $valentine_cut_off_date);?> &&
                    date.getDate() > <?php echo date('d', $valentine_cut_off_date);?> && date.getDate() < 15){
                    if(date.getDate() == 13 || date.getDate() == 14){
                        return true;
                    }

                }

                return date.getDay() === 0 || date.getDay() === 6;
            }

            function addDays(dateObj, numDays) {
                dateObj.setDate(dateObj.getDate() + numDays);
                return dateObj;
            }

            function DisableWeekDays(date) {
                return [!isDisableDays(date), ''];
            }

            $j("#occasion_date" ).datepicker({
                dateFormat: "MM dd",
                autoSize: true,
                gotoCurrent: true,
                showOtherMonths: true,
                selectOtherMonths: true,
                altField: "#alternate_date",
                altFormat: "yy-mm-dd",
                beforeShowDay: DisableWeekDays
            });

            $j('.datetimepicker-days .prev i').addClass('fa fa-arrow-left');
            $j('.datetimepicker-days .prev i').removeClass('icon-arrow-left');

            $j('.datetimepicker-days .next i').addClass('fa fa-arrow-right');
            $j('.datetimepicker-days .next i').removeClass('icon-arrow-right');

            $j('.main-container').addClass('main_block main_bg2');

            var occasion_form = new VarienForm('add-new-occasion-form', true);


            $j('#region').change(function () {
                var opt = $j(this).find('option:selected');
                $j('#region_id').val(opt.attr('title'));
            });

            $j('#product_gift').on('change', function (e) {
                var optionSelected = $j("option:selected", this);
                var idSelected = this.value;
                var product_price = '#product_price_' + idSelected;
                var product_image = '#product_image_' + idSelected;
                var product_url = '#product_url_' + idSelected;

                var html_product = '';
                html_product += '<a href="' + $j(product_url).val() + '"><img src="' + $j(product_image).val() + '" /></a>';

                $j('#gift_image').html(html_product);
                $j('#pprice').html($j(product_price).val());
            });

            $j('.delete-items').click(function () {
                var rs = confirm('Are you sure?');
                if (!rs)
                    return false;
                else
                    window.location.href='<?php echo $this->getUrl('*/*/delete', array('id'    => $item->getId())); ?>'
            });

            $j(document).ready(function(e) {
                $j(".sidebar").removeClass('active');
                $j(".sidebar.trubox_brands").addClass('active').show();
                $j(".sidebar.trubox_brands .sub_blk").slideDown();
            });
            //]]>
        </script>
    <?php } ?>
<?php } ?>
