<?php
$customer_stats = $this->getCustomerStats();
$ytd_saving = $this->getYtdSaving();
 
?>

<div class="comsumer_dashboard">
    <div class="dashboard_bar">
        <h3><?php echo $this->__('YOUR CUSTOMER DASHBOARD'); ?></h3>
    </div>
    <div class="dashboard_top">
        <ul>
            <li class="col-sm-4 col-xs-6">
                <span><?php echo Mage::helper('other')->ytd(); ?></span>
                <small><?php echo $this->__('MEMBER REWARDS <br>PAST 12 MONTHS'); ?></small>
            </li>
<!--            <li class="col-sm-3 col-xs-6">-->
<!--                <span>--><?php //echo Mage::helper('other')->mtd(); ?><!--</span>-->
<!--                <small>--><?php //echo $this->__('TO BE PAID TO <br> MEMBERS'); ?><!--</small>-->
<!--            </li>-->
            <li class="col-sm-4 col-xs-6">
                <span>
                    <?php
                        echo $this->getCurrentPointValue();
                    ?>
                </span>
                <small><?php echo $this->__('60 DAY AVG <br> POINT VALUE'); ?></small>
            </li>
            <li class="col-sm-4 col-xs-6">
                <span>
                    <?php
                    if ($customer_stats != null && isset($customer_stats['ytd_rewards']))
                        echo Mage::helper('other')->displayNumberFormat($customer_stats['ytd_rewards']);
                    else
                        echo '0';
                    ?>
                </span>
                <small><?php echo $this->__('YOUR YTD <br> REWARDS'); ?></small>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>
<div class="business_block">
    <div class="left_block cust_rpt col-sm-3 col-xs-12">
        <div class="customer_reports">
            <h6><?php echo $this->__('CUSTOMER REPORTS'); ?></h6>
            <ul>
                <li>
                    <a href="<?php echo Mage::getUrl('trugiftcard') ?>">
                        <p><?php echo $this->__('TRUNITED GIFT CARD <span>Balance : <small>%s</small></span>', $this->getTruGiftCardCredit()); ?></p>
                    </a>
                </li>
                <li>
                    <a href="<?php echo Mage::getUrl('truwallet') ?>">
                        <p><?php echo $this->__('TRUWALLET REWARDS <span>Balance : <small>%s</small></span>', $this->getTruWalletCredit()); ?></p>
                    </a>
                </li>
                <li>
                    <a href="<?php echo Mage::getUrl('easygiftcard_admin/history/') ?>">
                        <p><?php echo $this->__('OTHER GIFT CARDS <span>Balance : <small>%s Cards</small></span>', $this->getPurchasedGiftCard()); ?></p>
                    </a>
                </li>
                <li>
                    <a href="<?php echo Mage::getUrl('rewardpoints') ?>">
                        <p><?php echo $this->__('PROFIT POINTS  <span>Monthly Personal : <small>%s</small></span>', Mage::helper('rewardpoints/customer')->getBalance()); ?></p>
                    </a>
                </li>
                <li>
                    <a href="<?php echo Mage::getUrl('sales/order/history') ?>">
                        <p><?php echo $this->__('ORDER HISTORY'); ?></p>
                    </a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="right_block trend_chart col-sm-9 col-xs-12">
        <div class="right_block_in">
            <div class="search_bar last padd_bot text-center">
                <h3 class="pad_last"><?php echo $this->__('MEMBER REWARDS PAST 12 MONTHS'); ?></h3>

                <div class="clearfix"></div>
            </div>
            <div class="graph_sec">
                <div id="chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

                <ul>
                    <!--li><span><?php echo $this->__('Monthly Paid To Members'); ?></span></li>
                    <li><span><?php echo $this->__('Your YTD Savings'); ?></span></li>
                    <li><span><?php echo $this->__('Your YTD Rewards'); ?></span></li>-->
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="related_products">
        <!--div class="search_bar padd_bot">
            <h3 class="pad_last">hotTest deals on trunited</h3>
        </div>
        <div class="product_blk">
            <ul>
                <li class="dash col-sm-3 col-xs-4" style="display:block">
                    <div class="product">
                        <img src="images/product_img1.jpg" width="227" height="227" alt="img">
                        <em>Everyday Products - Ciela</em>
                        <h5>Ciela - Revitalizing Facial Cleanser <span>$35</span></h5>
                        <ul>
                            <li><a href="#"><img src="images/star1.png" width="22" height="21" alt="star"></a></li>
                            <li><a href="#"><img src="images/star1.png" width="22" height="21" alt="star"></a></li>
                            <li><a href="#"><img src="images/star1.png" width="22" height="21" alt="star"></a></li>
                            <li><a href="#"><img src="images/star1.png" width="22" height="21" alt="star"></a></li>
                            <li><a href="#"><img src="images/star2.png" width="22" height="21" alt="star"></a></li>
                        </ul>
                        <small>210</small>
                        <div class="clearfix"></div>
                        <button name="name" type="button" class="view_details transition">View Details</button>
                    </div>
                </li>
                <li class="dash col-sm-3 col-xs-4" style="display:block">
                    <div class="product">
                        <img src="images/product_img1.jpg" width="227" height="227" alt="img">
                        <em>Everyday Products - Ciela</em>
                        <h5>Ciela - Revitalizing Facial Cleanser <span>$35</span></h5>
                        <ul>
                            <li><a href="#"><img src="images/star1.png" width="22" height="21" alt="star"></a></li>
                            <li><a href="#"><img src="images/star1.png" width="22" height="21" alt="star"></a></li>
                            <li><a href="#"><img src="images/star1.png" width="22" height="21" alt="star"></a></li>
                            <li><a href="#"><img src="images/star1.png" width="22" height="21" alt="star"></a></li>
                            <li><a href="#"><img src="images/star2.png" width="22" height="21" alt="star"></a></li>
                        </ul>
                        <small>210</small>
                        <div class="clearfix"></div>
                        <button name="name" type="button" class="view_details transition">View Details</button>
                    </div>
                </li>
                <li class="dash col-sm-3 col-xs-4" style="display:block">
                    <div class="product">
                        <img src="images/product_img1.jpg" width="227" height="227" alt="img">
                        <em>Everyday Products - Ciela</em>
                        <h5>Ciela - Revitalizing Facial Cleanser <span>$35</span></h5>
                        <ul>
                            <li><a href="#"><img src="images/star1.png" width="22" height="21" alt="star"></a></li>
                            <li><a href="#"><img src="images/star1.png" width="22" height="21" alt="star"></a></li>
                            <li><a href="#"><img src="images/star1.png" width="22" height="21" alt="star"></a></li>
                            <li><a href="#"><img src="images/star1.png" width="22" height="21" alt="star"></a></li>
                            <li><a href="#"><img src="images/star2.png" width="22" height="21" alt="star"></a></li>
                        </ul>
                        <small>210</small>
                        <div class="clearfix"></div>
                        <button name="name" type="button" class="view_details transition">View Details</button>
                    </div>
                </li>
                <li class="dash col-sm-3 col-xs-4" style="display:block">
                    <div class="product">
                        <img src="images/product_img1.jpg" width="227" height="227" alt="img">
                        <em>Everyday Products - Ciela</em>
                        <h5>Ciela - Revitalizing Facial Cleanser <span>$35</span></h5>
                        <ul>
                            <li><a href="#"><img src="images/star1.png" width="22" height="21" alt="star"></a></li>
                            <li><a href="#"><img src="images/star1.png" width="22" height="21" alt="star"></a></li>
                            <li><a href="#"><img src="images/star1.png" width="22" height="21" alt="star"></a></li>
                            <li><a href="#"><img src="images/star1.png" width="22" height="21" alt="star"></a></li>
                            <li><a href="#"><img src="images/star2.png" width="22" height="21" alt="star"></a></li>
                        </ul>
                        <small>210</small>
                        <div class="clearfix"></div>
                        <button name="name" type="button" class="view_details transition">View Details</button>
                    </div>
                </li>
                <li class="dash col-sm-3 col-xs-4" style="display:block">
                    <div class="product">
                        <img src="images/product_img1.jpg" width="227" height="227" alt="img">
                        <em>Everyday Products - Ciela</em>
                        <h5>Ciela - Revitalizing Facial Cleanser <span>$35</span></h5>
                        <ul>
                            <li><a href="#"><img src="images/star1.png" width="22" height="21" alt="star"></a></li>
                            <li><a href="#"><img src="images/star1.png" width="22" height="21" alt="star"></a></li>
                            <li><a href="#"><img src="images/star1.png" width="22" height="21" alt="star"></a></li>
                            <li><a href="#"><img src="images/star1.png" width="22" height="21" alt="star"></a></li>
                            <li><a href="#"><img src="images/star2.png" width="22" height="21" alt="star"></a></li>
                        </ul>
                        <small>210</small>
                        <div class="clearfix"></div>
                        <button name="name" type="button" class="view_details transition">View Details</button>
                    </div>
                </li>
                <li class="dash col-sm-3 col-xs-4" style="display:block">
                    <div class="product">
                        <img src="images/product_img1.jpg" width="227" height="227" alt="img">
                        <em>Everyday Products - Ciela</em>
                        <h5>Ciela - Revitalizing Facial Cleanser <span>$35</span></h5>
                        <ul>
                            <li><a href="#"><img src="images/star1.png" width="22" height="21" alt="star"></a></li>
                            <li><a href="#"><img src="images/star1.png" width="22" height="21" alt="star"></a></li>
                            <li><a href="#"><img src="images/star1.png" width="22" height="21" alt="star"></a></li>
                            <li><a href="#"><img src="images/star1.png" width="22" height="21" alt="star"></a></li>
                            <li><a href="#"><img src="images/star2.png" width="22" height="21" alt="star"></a></li>
                        </ul>
                        <small>210</small>
                        <div class="clearfix"></div>
                        <button name="name" type="button" class="view_details transition">View Details</button>
                    </div>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div-->
        <div class="dash_btns_blk">
            <div class="orange_btn_blk">
                <ul>
                    <li class="col-xs-2"></li>
                    <li class="col-xs-4">
                        <button name="name" type="button"
                                class="buy_gift transition btn_back"><?php echo $this->__('BACK'); ?></button>
                    </li>
                    <li class="col-xs-4">
                        <button name="name" type="button"
                                class="buy_gift transition btn_account"><?php echo $this->__('MY ACCOUNT'); ?></button>
                    </li>
                    <li class="col-xs-2"></li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<script type="text/javascript">
    $j = jQuery.noConflict();
    $j('.main-container').addClass('main_block');
    $j('.main').addClass('container');
    $j('.main .col-main').addClass('row');
    $j('.page').addClass('main_content');

    Highcharts.chart('chart', {

        chart: {
            backgroundColor: 'transparent',
            type: 'line'
        },

        title: {
            text: ''
        },

        subtitle: {
            text: ''
        },
        xAxis: {
            categories: [<?php echo $this->formatX();?>]
        },
        yAxis: {
            title: {
                text: ''
            }
        },

        plotOptions: {
            spline: {
                marker: {
                    radius: 4,
                    lineColor: '#666666',
                    lineWidth: 1
                }
            }
        },

        series: [{
            name: '<?php echo $this->__('MEMBER REWARDS PAID');?>',
            data: [<?php echo $this->formatY();?>],
            color: '#f17022',
        }],

    });

    $j('.learn_more').click(function () {
        window.location.href = '<?php echo Mage::getUrl('yourstats');?>';
        return false;
    });

    $j('.btn_account').click(function () {
        window.location.href = '<?php echo Mage::getUrl('customer/account/');?>';
        return false;
    });

    $j('.btn_back').click(function () {
        history.back();
        return false;
    });


    $j(document).ready(function (e) {
        $j('.highcharts-credits').remove();
        $j(".sidebar.active .sub_blk").show();

        $j(".sidebar h6").click(function () {
            $j(this).parent().toggleClass('active');
            $j(this).parent().siblings().removeClass('active');
            $j(this).parent().find('.sub_blk').slideToggle();
            $j(this).parent().siblings().find('.sub_blk').slideUp();
        });

        $j(window).scroll(function () {
            if ($j(this).scrollTop() > 100) {
                $j('.BaclToTop').fadeIn();
            } else {
                $j('.BaclToTop').fadeOut();
            }
        });
    });
</script>
