<?php $_product = $this->getProduct();
$productType = strtolower($_product->getTypeId());

if (strcasecmp($_product->getSku(), Mage::helper('truwallet')->getTruWalletSku()) == 0 && Mage::helper('truwallet')->isEnableModule())
    $buttonTitle = $this->__('BUY NOW');
else
    $buttonTitle = $this->__('Add to Cart');

if ($productType != 'globalbrand') {
    ?>
    <?php $isRequiredCondition = $_product->getData('conditional_agreements'); ?>
    <?php $agreement = Mage::getModel('checkout/agreement')->load(1); ?>
    <?php if ($isRequiredCondition && $agreement->getIsActive()): ?>
        <div class="product-agreement">
            <div
                class="agreement-content"<?php echo($agreement->getContentHeight() ? ' style="height:' . $agreement->getContentHeight() . '"' : '') ?>>
                <?php if ($agreement->getIsHtml()): ?>
                    <?php echo $agreement->getContent() ?>
                <?php else: ?>
                    <?php echo nl2br($this->escapeHtml($agreement->getContent())) ?>
                <?php endif; ?>
            </div>
            <p class="agree">
                <input type="checkbox" name="agreement[<?php echo $agreement->getId() ?>]"
                       title="<?php echo $this->escapeHtml($agreement->getCheckboxText()) ?>"
                       class="checkbox required-entry"/>
                <label for="agreement-<?php echo $agreement->getId() ?>">


                    <?php echo $agreement->getIsHtml() ? $agreement->getCheckboxText() : $this->escapeHtml($agreement->getCheckboxText()) ?>
                </label>
            </p>
        </div>
    <?php endif; ?>
    <?php if ($_product->isSaleable()): ?>
        <?php
        $style = ($productType == 'gfitcardproduct') ? 'style="width:100%"' : ''; ?>
        <div class="add-to-cart" <?php echo $style; ?>>
            <?php if ($productType == 'gfitcardproduct') {
                echo '<div class = "value">';
            }
            ?>
            <?php if (!$_product->isGrouped()): ?>
                <?php if ($productType == 'gfitcardproduct') { ?>
                    <label>Quantity</label>
                <?php } else {
                    if ($productType != 'simple') { ?>
                        <label for="qty"><?php echo $this->__('Qty:') ?></label>
                    <?php }
                } ?>
                <?php $class = ($productType == 'gfitcardproduct') ? 'btn-group bootstrap-select quantity' : 'qty-holder'; ?>
                <div class="<?php echo $class; ?>">
                    <input type="text" name="qty" id="qty" maxlength="12"
                           value="<?php echo $this->getProductDefaultQty() * 1 ?>"
                           title="<?php echo $this->__('Qty') ?>" class="input-text qty"/>

                    <div class="qty-changer">
                        <a href="javascript:void(0)" class="qty_inc"><i class="icon-up-dir"></i></a>
                        <a href="javascript:void(0)" class="qty_dec"><i class="icon-down-dir"></i></a>
                    </div>
                </div>
            <?php endif; ?>

            <?php if ($productType == 'gfitcardproduct') {
                echo '</div>'; //value div closed
            } ?>
            <?php
            $class = ($productType == 'gfitcardproduct') ? 'add_chart transition' : 'button btn-cart'; ?>
            <?php if (!Mage::helper('trubox')->isInPhysicalList($_product)) { ?>
                <button type="button" title="<?php echo $buttonTitle ?>" class="<?php echo $class; ?>"
                        onclick="productAddToCartForm.submit(this)">
                    <?php if (in_array($productType,array('simple','virtual','gfitcardproduct','configurable'))){ ?>
                        <span><span><i class="icon-cart"></i><?php echo $buttonTitle ?></span></span>
                    <?php } else {
                        echo $buttonTitle; ?>
                    <?php } ?>
                </button>
            <?php } else { ?>
                <?php if (Mage::helper('trubox')->isCurrentCheckingCustomer()) { ?>
                    <?php if (!Mage::helper('trubox')->isInExclusionList($_product)) { ?>
                        <button type="button" title="<?php echo $this->__('Add to TruBox') ?>"
                                class="addtrubox button btn-cart"
                                data-url="<?php echo Mage::getUrl('trubox/index/addTruBox', array('id' => $_product->getId())); ?>">
                            <span><span><i class="icon-cart"></i><?php echo $this->__('Add to TruBox') ?></span></span>
                        </button>
                    <?php } ?>
                <?php } ?>
            <?php } ?>
            <?php echo $this->getChildHtml('', true, true) ?>
        </div>

    <?php endif; ?>
    <?php
    if ($productType != 'simple' && $productType != 'virtual') { ?>
        <?php if (Mage::helper('trubox')->isCurrentCheckingCustomer()) { ?>
            <?php if (!Mage::helper('trubox')->isInExclusionList($_product) && !Mage::helper('trubox')->isInPhysicalList($_product)) { ?>
                <!--<a href="<?php /*echo Mage::getUrl('trubox/index/addTruBox',array('id'=>$_product->getId()));*/ ?>"
               class="addtrubox trubox_btn button btn-cart trubox_detail" title="<?php /*echo $this->__('Add to TruBox') */ ?>">
                <img src="<?php /*echo $this->getSkinUrl('images/trubox-icon.png'); */ ?>" alt="<?php /*echo $this->__('Add to TruBox') */ ?>" /></a>-->

                <button type="button" title="<?php echo $this->__('Add to TruBox') ?>"
                        class="addtrubox button btn-cart trubox-right"
                        data-url="<?php echo Mage::getUrl('trubox/index/addTruBox', array('id' => $_product->getId())); ?>">
                    <span><span><i class="icon-cart"></i><?php echo $this->__('Add to TruBox') ?></span></span>
                </button>
            <?php } ?>
        <?php } ?>
    <?php } ?>
    <script type="text/javascript">
        $j = jQuery.noConflict();
        $j(document).ready(function () {
            var productAddToCartForm1 = new VarienForm('product_addtocart_form');
            $j('.addtrubox').click(function () {
                if (productAddToCartForm1.validator && !productAddToCartForm1.validator.validate()) {
                    return false;
                } else {
                    var new_url = $j(this).attr('data-url') + '?' + $j('#product_addtocart_form').serialize();
                    window.location.href = new_url;
                }

                return false;
            });
        });
    </script>
<?php } ?>