<?php
/**
 * @project     AjaxLogin
 * @package LitExtension_AjaxLogin
 * @author      LitExtension
 * @email       litextension@gmail.com
 */
?>
<?php $modules = Mage::getConfig()->getNode('modules')->children();
$modulesArray = (array)$modules;

Mage::helper('core')->isModuleEnabled('LitExtension_SocialLogin');
if(isset($modulesArray['LitExtension_SocialLogin'])) {
    if(Mage::helper('core')->isModuleEnabled('LitExtension_SocialLogin')){
    ?>
    <div class="g3-socialconnect-login">
        <div class="account-login">
            <div class="col3-set">
                <div class="col-3 g3-login-facebook">
                    <div class="content" style="text-align: center;"><h2><?php echo $this->__('social connect') ?></h2>

                        <p><?php echo $this->__('You can login using your social network account.') ?></p>

                        <div class="g3-social-button-login">
                            <?php
                            $block = new LitExtension_SocialLogin_Block_Button();
                            $check_show_social = Mage::helper('le_sociallogin')->checkShowSociallogin();
                            if($check_show_social == true && Mage::getSingleton('customer/session')->IsLoggedIn() == false): ?>
                            <link type="text/css" rel="stylesheet" media="screen" href="<?php echo $block->getSkinUrl('le_sociallogin/css/style.css');?>"/>
                            <script type="text/javascript" src="<?php echo $block->getSkinUrl('le_sociallogin/js/sociallogin.js');?>"></script>
                            <div class="g3-socialconnect-social">
                                <div class="g3-social-button-login">
                                    <?php
                                    if($block->getButtons()){
                                        foreach($block->getButtons() as $button){
                                            echo $button->render();
                                        }
                                    }
                                    ?>
                                </div>
                            </div>
                            <?php endif; ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<?php }} ?>