<?php if($crumbs && is_array($crumbs)): ?>
<div class="shop_now">
    <ul>
        <?php foreach($crumbs as $_crumbName=>$_crumbInfo): ?>
            <li class="<?php echo $_crumbName ?>">
                <?php if($_crumbInfo['link']): ?>
                    <a href="<?php echo $_crumbInfo['link'] ?>" title="<?php echo $this->escapeHtml($_crumbInfo['title']) ?>"><?php echo $this->escapeHtml($_crumbInfo['label']) ?></a>
                <?php elseif($_crumbInfo['last']): ?>
                    <a href="#"><?php echo $this->escapeHtml($_crumbInfo['label']) ?></a>
                <?php else: ?>
                    <?php echo $this->escapeHtml($_crumbInfo['label']) ?>
                <?php endif; ?>
            </li>
            <?php if(!$_crumbInfo['last']): ?>
                <li><span>&gt;</span></li>
            <?php endif;?>
        <?php endforeach; ?>
    </ul>
</div>
<?php endif; ?>
