<?php 
	/**
	 * nationpassport template
	 */
?>
<div class="right_block_in">
    <div class="search_bar last padd_bot text-center">
        <h3 class="pad_last"><?php echo $this->__('MONEY MOVEMENT : BALANCE');?></h3>
        <div class="clearfix"></div>
    </div>
    <div class="money_balance">
        <ul>
            <li class="col-xs-4">
                <img src="<?php echo $this->getSkinUrl('images/icon_img7.png');?>" width="155" height="95" alt="icon">
                <strong><?php echo $this->__('Affiliate Income');?></strong>
                <span><?php echo $this->__('Balance <b>%s</b>', $this->getBalance());?></span>
            </li>
            <li class="col-xs-4">
                <img src="<?php echo $this->getSkinUrl('images/icon_img8.png');?>" width="121" height="92" alt="icon">
                <strong><?php echo $this->__('TruWallet Rewards');?></strong>
                <span><?php echo $this->__('Balance <b>%s</b>', $this->getTruWalletCredit());?></span>
            </li>
            <li class="col-xs-4">
                <img src="<?php echo $this->getSkinUrl('images/icon_img9.png');?>" width="153" height="96" alt="icon">
                <strong><?php echo $this->__('Trunited Gift Card');?></strong>
                <span><?php echo $this->__('Balance <b>%s</b>', $this->getTruGiftCardCredit());?></span>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>
<div class="clearfix"></div>

<script type="text/javascript">
    $j = jQuery.noConflict();
    $j('.main-container').addClass('main_block main_bg2');
    $j('.main').addClass('container');
    $j('.main .col-main').addClass('row');
</script>
