<div class="modal fade" id="memberModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="exampleModalLabel"><?php echo $this->__('Find Member'); ?></h4>
            </div>
            <div class="modal-body">
                <div class="tabbable" id="sms-popup-content">
                    <div class="alert alert-success" role="alert"></div>
                    <div class="alert alert-danger" role="alert"></div>
                    <form action="<?php echo $this->getFindMemberAction(); ?>" method="post" id="find-member">
                        <div class="form-group">
                            <label for="member_name"
                                   class="control-label"><?php echo $this->__('Member Name'); ?><sup>*</sup></label>
                            <input type="text" class="form-control required-entry" id="member_name" name="member_name"
                                isp_ignore placeholder="<?php echo $this->__('Enter name here')?>">
                        </div>
                        <div class="form-group" id="find-result">

                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-find"
                                    id="btn-find"><?php echo $this->__('Search'); ?></button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <i><?php echo $this->__('Footer message'); ?></i>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    .ui-autocomplete {
        z-index: 1050;
    }
</style>
<script type="text/javascript">
    $j = jQuery.noConflict();
    var findMemberForm = new VarienForm('find-member', true);

    $j('body').delegate('#btn-find', 'click', function () {
        if (findMemberForm.validator.validate()) {
            $j('#memberModal .modal-dialog').css({'opacity': '0.9'});
            $j('#btn-find').prop('disabled', true);
            $j.ajax({
                type: "POST",
                url: $j("#find-member").attr('action'),
                data: $j("#find-member").serialize(),
                success: function (data) {
                    var rs = JSON.parse(data);
                    $j('#memberModal .modal-dialog').css({'opacity': '1'});
                    $j('#btn-find').prop('disabled', false);

                    if (!rs.is_done) {
                        $j('#compose-content .alert-success').hide();
                        $j('#compose-content .alert-danger').html(rs.message);
                        $j('#compose-content .alert-danger').show();
                        $j('#member_name').focus();
                    } else {
                        $j('#find-result').html(rs.html);
                    }
                }
            });
            return false;
        }
    });

</script>