<?php
$customers = $this->getListCustomer();
$sents = $this->getSentMessages();
$inboxs = $this->getInboxMessages();
$count_unread_message = Mage::helper('nationpassport')->getUnreadMessage();
?>
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="exampleModalLabel"><?php echo $this->__('Message'); ?></h4>
            </div>
            <div class="modal-body">
                <div class="tabbable" id="sms-popup-content">
                    <ul class="nav nav-pills nav-stacked col-md-3">
                        <li id="mess_compose"><a href="#compose-content"
                               data-toggle="tab"><?php echo $this->__('Compose'); ?></a></li>
                        <li class="active"><a href="#inbox-content" data-toggle="tab"><?php echo $this->__('Inbox'); ?>
                                <span class="badge badge-sms"><?php if ($count_unread_message > 0) { ?><?php echo $count_unread_message; ?><?php } ?></span>
                            </a></li>
                        <li><a href="#sent-message-content"
                               data-toggle="tab"><?php echo $this->__('Sent'); ?></a></li>
                    </ul>
                    <div class="tab-content col-md-9">
                        <div class="tab-pane " id="compose-content">
                            <div class="alert alert-success" role="alert"></div>
                            <div class="alert alert-danger" role="alert"></div>
                            <form action="<?php echo $this->getSendAction(); ?>" method="post" id="send-sms">
                                <fieldset>
                                    <legend><?php echo $this->__('Recipient'); ?></legend>
                                    <div class="form-group">
                                        <label for="recipient_name"
                                               class="control-label"><?php echo $this->__('Recipient Name'); ?>
                                            <sup>*</sup></label>
                                        <input type="text" class="form-control" id="recipient_name"
                                               name="recipient_name">
                                        <input type="hidden" id="recipient_id"
                                               class="required-entry" name="recipient_id">
                                        <span id="recipient_selected"></span>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <?php $without_points = $this->getCustomerWithoutPoints(); ?>
                                            <label class="checkbox-inline <?php if (sizeof($without_points) <= 0) { ?>disabled<?php } ?>">
                                                <?php if (sizeof($without_points) > 0) { ?>
                                                    <input class="form-check-input recipient_groups"
                                                           type="checkbox" name="without_points"
                                                           value="<?php echo implode(',', $without_points); ?>">
                                                <?php } ?>
                                                <?php echo $this->__('People Without Points (%s)', sizeof($without_points)); ?>
                                            </label>

                                        </div>

                                        <div class="col-md-6">
                                            <?php $with_points = $this->getCustomerWithPoints(); ?>
                                            <label class="checkbox-inline <?php if (sizeof($with_points) <= 0) { ?>disabled<?php } ?>">
                                                <?php if (sizeof($with_points) > 0) { ?>
                                                    <input class="form-check-input recipient_groups"
                                                           type="checkbox" name="with_points"
                                                           value="<?php echo implode(',', $with_points); ?>">
                                                <?php } ?>
                                                <?php echo $this->__('People With Points (%s)', sizeof($with_points)); ?>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <?php $without_trubox = $this->getCustomerWithoutTrubox(); ?>
                                            <label class="checkbox-inline <?php if (sizeof($without_trubox) <= 0) { ?>disabled<?php } ?>">
                                                <?php if (sizeof($without_trubox) > 0) { ?>
                                                    <input class="form-check-input recipient_groups"
                                                           type="checkbox" name="without_trubox"
                                                           value="<?php echo implode(',', $without_trubox); ?>">
                                                <?php } ?>
                                                <?php echo $this->__('People Without Trubox (%s)', sizeof($without_trubox)); ?>
                                            </label>
                                        </div>

                                        <div class="col-md-6">
                                            <?php $new_people = $this->getCustomerNewPeople(); ?>
                                            <label class="checkbox-inline <?php if (sizeof($new_people) <= 0) { ?>disabled<?php } ?>">
                                                <?php if (sizeof($new_people) > 0) { ?>
                                                    <input class="form-check-input recipient_groups"
                                                           type="checkbox" name="new_people"
                                                           value="<?php echo implode(',', $new_people); ?>">
                                                <?php } ?>
                                                <?php echo $this->__('New People (30 Days) (%s)', sizeof($new_people)); ?>
                                            </label>
                                        </div>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <legend><?php echo $this->__('Content'); ?></legend>
                                    <div class="form-group">
                                        <label for="sms_subject"
                                               class="control-label"><?php echo $this->__('Subject'); ?>
                                            <sup>*</sup></label>
                                        <input type="text" class="form-control required-entry" id="sms_subject"
                                               name="sms_subject">
                                    </div>

                                    <div class="form-group">
                                        <label for="sms_content"
                                               class="control-label"><?php echo $this->__('Message'); ?>
                                            <sup>*</sup></label>
                                        <textarea class="form-control required-entry" id="sms_content"
                                                  name="sms_content"
                                                  rows="5"></textarea>
                                    </div>
                                </fieldset>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-send"
                                            id="btn-send"><?php echo $this->__('Send message'); ?></button>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane active" id="inbox-content">
                            <?php if (sizeof($inboxs) > 0) { ?>
                            <div class="form-group search_message">
                                <input class="form-control" id="name_inbox" name="search_inbox" type="text"
                                       placeholder="<?php echo $this->__('Enter name here');?>">
                                <button class="search_mess" id="search_inbox"><span></span></button>
                            </div>
                            <div style="clear: both"></div>
                            <div class="content_inbox_mess">
                                <?php foreach ($inboxs as $inbox) { ?>
                                    <?php $sender = Mage::getModel('customer/customer')->load($inbox->getCustomerId());
                                    if ($sender != null && $sender->getId()) {
                                        ?>
                                        <div class="media">
                                            <div class="media-body">
                                                <h4 class="media-heading"><?php echo $sender->getName(); ?></h4>
                                                <div><?php echo $inbox->getSubject(); ?>
                                                    <span class="sent-date">
                                                        <?php echo date('Y, M d', strtotime($inbox->getCreatedAt())); ?>
                                                    </span>
                                                </div>
                                                <div id="body-<?php echo $inbox->getId(); ?>"
                                                     class="collapse"><?php echo $inbox->getBody(); ?></div>
                                                <?php if ($inbox->getStatus() == Magestore_Nationpassport_Model_Status::STATUS_ENABLED) { ?>
                                                    <a href="#body-<?php echo $inbox->getId(); ?>"
                                                       data-toggle="collapse" aria-expanded="false"
                                                       role="button" aria-controls="body-<?php echo $inbox->getId(); ?>"
                                                       class="unread-sms" id="<?php echo $inbox->getId(); ?>">
                                                        <?php echo $this->__('Read message'); ?>
                                                    </a>
                                                <?php } else { ?>
                                                    <a href="#body-<?php echo $inbox->getId(); ?>"
                                                       data-toggle="collapse" aria-expanded="false"
                                                       role="button"
                                                       aria-controls="body-<?php echo $inbox->getId(); ?>">
                                                        <?php echo $this->__('View message'); ?>
                                                    </a>
                                                <?php } ?>
                                            </div>
                                        </div>
                                    <?php } ?>
                                <?php } ?>
                            </div>
                            <?php } else { ?>
                                <p><?php echo $this->__('No Inbox messages'); ?></p>
                            <?php } ?>
                        </div>
                        <div class="tab-pane" id="sent-message-content">
                            <?php if (sizeof($sents) > 0) { ?>
                                <div class="form-group search_message">
                                    <input class="form-control" id="name_sent" name="search_sent" type="text"
                                    placeholder="<?php echo $this->__('Enter name here');?>">
                                    <button class="search_mess" id="search_sent"><span></span></button>
                                </div>
                                <div style="clear: both"></div>
                                <div class="content_sent_mess">
                                    <?php foreach ($sents as $sent) { ?>
                                        <?php $recipient = Mage::getModel('customer/customer')->load($sent->getRecipientId());
                                        if ($recipient != null && $recipient->getId()) {
                                            ?>
                                            <div class="media">
                                                <div class="media-body">
                                                    <h4 class="media-heading"><?php echo $recipient->getName(); ?></h4>
                                                    <div><?php echo $sent->getSubject(); ?> <span
                                                                class="sent-date"><?php echo date('Y, M d', strtotime($sent->getCreatedAt())); ?></span>
                                                    </div>
                                                    <div id="body-<?php echo $sent->getId(); ?>"
                                                         class="collapse"><?php echo $sent->getBody(); ?></div>
                                                    <a href="#body-<?php echo $sent->getId(); ?>" data-toggle="collapse"
                                                       aria-expanded="false"
                                                       role="button" aria-controls="body-<?php echo $sent->getId(); ?>">
                                                        <?php echo $this->__('View message'); ?>
                                                    </a>
                                                </div>
                                            </div>
                                        <?php } ?>
                                    <?php } ?>
                                </div>
                            <?php } else { ?>
                                <p><?php echo $this->__('No Sent messages. <a href="#" id="send_mes_now">Send</a> one now!'); ?></p>
                            <?php } ?>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <i><?php echo $this->__('Footer message'); ?></i>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    .ui-autocomplete {
        z-index: 1050;
    }
</style>
<script type="text/javascript">
    $j = jQuery.noConflict();
    var sendMessageForm = new VarienForm('send-sms', true);
    var readMessageUrl = '<?php echo $this->getReadMessageUrl();?>';
    var sendEmailUrl = '<?php echo $this->getSendEmailUrl();?>';
    var searchInboxUrl  = '<?php echo $this->getSearchInboxUrl()?>';
    var searchSentUrl  = '<?php echo $this->getSearchSentUrl()?>';

    $j(function () {
        var projects = [
            <?php if(sizeof($customers) > 0){?>
            <?php foreach ($customers as $customer) {
            $name = stripos($customer->getName(), 'socomm') !== false ? 'Trunited' : $customer->getName();
            ?>
            {
                value: "<?php echo $customer->getId();?>",
                label: "<?php echo str_replace("'", "\'", $name);?>"
            },
            <?php }?>
            <?php }?>
        ];

        $j(document).on('keydown.autocomplete', '#recipient_name', function () {
            $j(this).autocomplete({
                minLength: 0,
                source: projects,
                focus: function () {
                    return false;
                },
                select: function (event, ui) {
                    this.value = "";

                    var _current_val = $j('#recipient_id').val();

                    if (_current_val.indexOf(ui.item.value) < 0) {
                        var _select_text = $j('#recipient_selected').html();
                        if (_select_text === '') {
                            _select_text += "Selected: <span id='rm_" + ui.item.value + "'>" + ui.item.label + "</span> <a href='" + ui.item.value + "' title='" + ui.item.label + "' class='rm_recipient'>(x)</a>";
                        } else {
                            _select_text += " <span id='rm_" + ui.item.value + "'>" + ui.item.label + "</span> <a href='" + ui.item.value + "' title='" + ui.item.label + "' class='rm_recipient'>(x)</a>";
                        }

                        $j('#recipient_selected').html(_select_text);

                        if (_current_val === '')
                            $j('#recipient_id').val(ui.item.value);
                        else {
                            $j('#recipient_id').val($j('#recipient_id').val() + ',' + ui.item.value);
                        }
                    }

                    return false;
                }
            });
        });
    });

    $j(document).on('keypress', '#name_sent', function(event){
        if(event.which === 13){
            $j('#messageModal .modal-dialog').css({'opacity': '0.9'});
            $j.ajax({
                type: "POST",
                url: searchSentUrl,
                data: {name: $j('#name_sent').val()},
                success: function (data) {
                    $j('#messageModal .modal-dialog').css({'opacity': '1'});
                    $j('.content_sent_mess').html(data);
                }
            });
        }
    });

    $j(document).on('click', '#search_sent', function(){
        $j('#messageModal .modal-dialog').css({'opacity': '0.9'});
        $j.ajax({
            type: "POST",
            url: searchSentUrl,
            data: {name: $j('#name_sent').val()},
            success: function (data) {
                $j('#messageModal .modal-dialog').css({'opacity': '1'});
                $j('.content_sent_mess').html(data);
            }
        });
    });

    $j(document).on('keypress', '#name_inbox', function(event){
        if(event.which === 13){
            $j('#messageModal .modal-dialog').css({'opacity': '0.9'});
            $j.ajax({
                type: "POST",
                url: searchInboxUrl,
                data: {name: $j('#name_inbox').val()},
                success: function (data) {
                    $j('#messageModal .modal-dialog').css({'opacity': '1'});
                    $j('.content_inbox_mess').html(data);
                }
            });
        }
    });

    $j(document).on('click', '#search_inbox', function(){
        $j('#messageModal .modal-dialog').css({'opacity': '0.9'});
        $j.ajax({
            type: "POST",
            url: searchInboxUrl,
            data: {name: $j('#name_inbox').val()},
            success: function (data) {
                $j('#messageModal .modal-dialog').css({'opacity': '1'});
                $j('.content_inbox_mess').html(data);
            }
        });
    });


    $j(document).on('click', '.rm_recipient', function () {
        var id = $j(this).attr('href');
        var recipient = $j('#recipient_id').val();
        var rm_id = '#rm_' + id;

        recipient = recipient.replace(id, '');
        recipient = recipient.replace(',,', ',');

        $j(rm_id).remove();
        $j(this).remove();

        $j('#recipient_id').val(recipient);

        return false;
    });

    $j(document).on('click', '#send_mes_now', function(){
        $j('#sms-popup-content a:first').tab('show');
        $j('#recipient_name').focus();
        return false;
    });

    $j(document).on('change', '.recipient_groups', function () {
        if (this.checked) {
            $j('#recipient_id').removeClass('required-entry');
            $j('#advice-required-entry-recipient_id').hide();
        } else {
            $j('#recipient_id').addClass(' required-entry');
        }
    });

    $j(document).on('click', '.unread-sms', function () {
        var badge_sms = $j('.badge-sms');
        if (badge_sms !== 'undefined' && badge_sms !== null) {
            var count = badge_sms.html();
            var new_count = parseInt(count) - 1;
            $j('.badge-sms').html('');
            if (parseInt(new_count) === 0)
                $j('.badge-sms').hide();
            else
                $j('.badge-sms').html(new_count);
        }

        $j(this).html('View message');
        $j(this).removeClass('unread-sms');

        $j.ajax({
            type: "POST",
            url: readMessageUrl,
            data: {id: $j(this).attr('id')},
            success: function (data) {
            }
        });
    });

    $j(document).on('click', '#btn-send', function () {
        if (sendMessageForm.validator.validate()) {
            $j('#messageModal .modal-dialog').css({'opacity': '0.9'});
            $j('#btn-send').prop('disabled', true);
            $j.ajax({
                type: "POST",
                url: $j("#send-sms").attr('action'),
                data: $j("#send-sms").serialize(),
                success: function (data) {
                    var rs = JSON.parse(data);
                    $j('#messageModal .modal-dialog').css({'opacity': '1'});
                    $j('#btn-send').prop('disabled', false);

                    if (!rs.is_done) {
                        $j('#compose-content .alert-success').hide();
                        $j('#compose-content .alert-danger').html(rs.message);
                        $j('#compose-content .alert-danger').show();
                        $j('#recipient_name').focus();
                    } else {
                        $j('#sms-popup-content').html(rs.html);
                        $j('.badge-sms').html('');
                        if (parseInt(rs.count) > 0)
                            $j('.badge-sms').html(rs.count);

                        $j(':input', '#send-sms')
                            .not(':button, :submit, :reset, :hidden')
                            .removeAttr('checked')
                            .removeAttr('selected');

                        $j.ajax({
                            type: "POST",
                            url: sendEmailUrl,
                            data: 'id=' + rs.ids,
                            success: function (data) {
                            }
                        });

                    }
                }
            });
            return false;
        }
    });

</script>
