<?php
/**
 * nationpassport template
 */
$customer = $this->getCurrentCustomer();
$refer_affiliate = $this->getAffiliateRefer();
$refer_affiliate_name = '';
if ($refer_affiliate != null && $refer_affiliate->getId()){
    if(strpos(strtolower($refer_affiliate->getName()), 'socomm') === 0)
        $refer_affiliate_name = $this->__('Trunited');
    else
        $refer_affiliate_name = $refer_affiliate->getName();
}

$product_giftcard = $this->getTruGiftCardProduct();
$giftcard_url = '#';
if ($product_giftcard != null && $product_giftcard->getId())
    $giftcard_url = $product_giftcard->getProductUrl();

$count_unread_message = Mage::helper('nationpassport')->getUnreadMessage();
$customer_stats = $this->getCustomerStats();
$customer_badges = $this->getCustomerBadgesHistory();
$badge = $this->getBadgeFromStats($customer_stats['badge']);

$district = null;
if($customer_stats != null && isset($customer_stats['district']))
    $district = $customer_stats['district'];

$affliate_renewal = null;
if($customer_stats != null && isset($customer_stats['affiliate_renewal']))
    $affliate_renewal = date('F Y', strtotime($customer_stats['affiliate_renewal']));

$is_show_popup_badges = Mage::helper('nationpassport')->isShowPopupBadges();

$rank_opts = Magestore_Nationpassport_Model_Status::getRankOption();

$enable_leader_board = Mage::helper('nationpassport')->getConfigData('general', 'leader_board');

?>

<div class="dashboard_block">
    <div class="dashboard">
        <h2><?php echo $this->__('What Can We<br> Help You With, Today'); ?>?</h2>
        <ul>
            <li class="col-md-4 col-xs-6">
                <a href="<?php echo $this->getUrl('customerdashboard'); ?>" class="dash_btn">
                    <?php echo $this->__('Customer Dashboard'); ?>
                </a>
            </li>
            <li class="col-md-4 col-xs-6">
                <a href="<?php echo $this->getUrl('businessdashboard'); ?>" class="dash_btn icon2">
                    <?php echo $this->__('Business Dashboard'); ?>
                </a>
            </li>
            <li class="col-md-4 col-xs-6">
                <a href="<?php echo $this->getUrl('mytrubox/index/items'); ?>" class="dash_btn icon3">
                    <?php echo $this->__('View my trubox'); ?>
                </a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="nation_passport">
        <div class="top_bar pad_last mob_pad">
            <h4><?php echo $this->__('TRUNITED NATION PASSPORT'); ?></h4>
            <div class="setting">
                <a href="<?php echo $this->getUrl('customer/account/edit');?>">
                    <?php echo $this->__('Account Settings'); ?>
                </a>
            </div>
        </div>
        <div class="inner28_nation_passport_bgr">
            <div class="inner28_nation_passport_left col-md-7 col-xs-12">
                <div class="inner28_nicolas inner16_nicolas">
                    <label><?php echo $this->__('member profile'); ?></label>

                    <div class="clearfix"></div>
                    <div class="inner28_nicolas_left">
                        <h3><?php echo $customer->getName(); ?></h3>
                        <button name="name" type="button"
                                class="pacesetter">
                            <?php if($customer_stats['badge'] != null)
                                    echo $customer_stats['badge'];
                            else
                                echo $badge->getName();?></button>

                        <p><?php echo $this->__('Member Since: %s', date('m/d/Y', strtotime($customer->getCreatedAt()))); ?></p>

                        <p><?php if($affliate_renewal != null) echo $this->__('Affiliate Renewal: %s', $affliate_renewal); ?></p>

                        <p><?php echo $this->__('Connected By: %s', $refer_affiliate_name); ?></p>

                        <p><b><?php if($district != null) echo $this->__('Familia: District %s', $district); ?></b></p>
                        <p><?php echo $this->getContest($district); ?></p>
                    </div>
                    <div class="inner28_nicolas_right">
                        <img src="<?php if($badge != null && $badge->getImageName() != null) echo $this->getImagePath($badge->getImageName()); ?>" alt="img">

                        <div class="find_messages">
                            <?php if($customer_stats != null && isset($customer_stats['ems_score'])){?>
                            <p><?php echo $this->__('EMS: %s', ceil($customer_stats['ems_score']));?></p>
                            <?php }?>
                            <button type="button" class="send_msg transition send_sms" data-backdrop="static"
                                    data-keyboard="false"
                                    data-toggle="modal" data-target="#messageModal">
                                <?php echo $this->__('messages'); ?>
                                <span
                                    class="badge badge-sms"><?php if ($count_unread_message > 0) { ?><?php echo $count_unread_message; ?><?php } ?></span>
                            </button>
                            <button type="button" class="send_msg transition find_member" data-backdrop="static"
                                    data-keyboard="false" class="find_member"
                                    data-toggle="modal" data-target="#memberModal">
                                <?php echo $this->__('find member'); ?>
                            </button>
                        </div>
                        
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="inner28_members_badges inner16_members_badges">
                    <label><?php echo $this->__('member BADGES'); ?></label>
                    <div class="clearfix"></div>
                    <div class="inner28_members_badges_logos">
                        <?php if($customer_badges != null && sizeof($customer_badges) > 0){?>
                        <ul>
                            <?php foreach ($customer_badges as $badge) {?>
                            <li>
                                <a href="#">
                                    <img src="<?php echo $this->getImagePath($badge->getImageName()); ?>"
                                        alt="img">
                                </a>
                            </li>
                            <?php }?>
                        </ul>
                        <?php }?>

                        <?php if($this->isShowPricelineDiscount() != null){?>
                            <ul>
                                <li>
                                    <a href="<?php echo $this->getPricelineUrl();?>" target="_blank">
                                        <img src="<?php echo $this->getPricelineImage()?>" />
                                    </a>
                                </li>
                            </ul>
                        <?php }?>
                        <div class="clearfix"></div>
                    </div>
                    <div class="social_stock">
                        <ul>
                            <li>
                                <span>
                                <?php
                                if ($customer_stats != null)
                                    echo number_format($customer_stats['social_stock'] == null ? 0 : $customer_stats['social_stock']);
                                else
                                    echo '0';
                                ?>
                                </span>
                                <small><?php echo $this->__('social stock'); ?></small>
                            </li>
                            <li>
                                <button name="name" type="button" class="badge_board transition">
                                    <?php echo $this->__('Badge board'); ?></button>
                            </li>
                            <li>
                                <button name="name" type="button" class="badge_board transition learn_more">
                                    <?php echo $this->__('learn more'); ?></button>
                            </li>
                            <li>
                                <button name="name" type="button" class="badge_board transition">
                                    <?php echo $this->__('stock store'); ?></button>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <p><?php echo $this->__('Earning Badges Increases Your Social Stock.  Social Stock Increases Your Influence and Wins You Prizes.'); ?></p>
                </div>
            </div>
            <div class="inner28_nation_passport_right inner16_passport col-md-5 col-xs-12">
                <div class="inner28_monthly_status">
                    <label><?php echo $this->__('Member Monthly Stats'); ?></label>
                    <input name="name" type="text" value="">

                    <div class="clearfix"></div>
                    <ul>
                        <li class="col-xs-4">
                            <span>
                                <?php
                                if ($customer_stats != null && isset($customer_stats['depth_credit']))
                                    echo number_format($customer_stats['depth_credit']);
                                else
                                    echo '0';
                                ?>
                            </span>
                            <small><?php echo $this->__('Current Depth<br>Credit'); ?></small>
                        </li>
                        <li class="col-xs-4">
                            <span>
                                <?php
                                if ($customer_stats != null && isset($customer_stats['personal_points']))
                                    echo number_format($customer_stats['personal_points'], 1);
                                else
                                    echo '0';
                                ?>
                            </span>
                            <small><?php echo $this->__('personal<br> points'); ?></small>
                        </li>
                        <li class="col-xs-4">
                            <span>
                                <?php
                                if ($customer_stats != null && isset($customer_stats['match_points']))
                                    echo number_format($customer_stats['match_points'], 1);
                                else
                                    echo '0';
                                ?>
                            </span>
                            <small><?php echo $this->__('connection<br> points'); ?></small>
                        </li>

                        <li class="col-xs-4">
                            <span>
                                <?php
                                if ($customer_stats != null && isset($customer_stats['guest_commission']))
                                    echo number_format($customer_stats['guest_commission'], 1);
                                else
                                    echo '0';
                                ?>
                            </span>
                            <small><?php echo $this->__('Guest<br>Points'); ?></small>
                        </li>
                        <li class="col-xs-4">
                            <span>
                                <?php
                                if ($customer_stats != null && isset($customer_stats['next_level_points']))
                                    echo number_format($customer_stats['next_level_points']);
                                else
                                    echo '0';
                                ?>
                            </span>
                            <small><?php echo $this->__('next level<br> point'); ?></small>
                        </li>
                        <li class="col-xs-4">
                            <span>
                                <?php
                                if ($customer_stats != null && isset($customer_stats['unearned_points']))
                                    echo number_format($customer_stats['unearned_points']);
                                else
                                    echo '0';
                                ?>
                            </span>
                            <small><?php echo $this->__('UNEARNED<br> point'); ?></small>
                        </li>

                        <li class="col-xs-4">
                            <span>
                                <?php
                                if ($customer_stats != null && isset($customer_stats['customer_engagement_pct']))
                                    echo number_format($customer_stats['customer_engagement_pct'], 1);
                                else
                                    echo '0';
                                ?>
                            </span>
                            <small><?php echo $this->__('Guest Points<br>Pending'); ?></small>
                        </li>
                        <li class="col-xs-4 more_stats">
                            <span><img src="<?php echo $this->getSkinUrl('images/icon61.png'); ?>" width="92"
                                       height="68" alt="icon"></span>
                            <a href="<?php echo $this->getUrl('yourstats');?>"><small><?php echo $this->__('see more stats'); ?></small></a>
                        </li>
                        <li class="col-xs-4">
                            <span>
                                <?php
                                if ($customer_stats != null && isset($customer_stats['on_hold_points']))
                                    echo number_format($customer_stats['on_hold_points']);
                                else
                                    echo '0';
                                ?>
                            </span>
                            <small><?php echo $this->__('points<br> Pending'); ?></small>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="inner28_member_balance">
                    <label><?php echo $this->__('member BALANCES'); ?></label>
                    <div class="clearfix"></div>
                    <ul>
                        <li class="col-xs-4">
                            <div class="balance_con">
                                <img src="<?php echo $this->getSkinUrl('images/icon_img4.png'); ?>" alt="icon">
                                <span><?php echo $this->getBalance(); ?></span>
                                <small><?php echo $this->__('Income<br> Balance'); ?></small>
                                <button name="name" type="button" class="transfer transition"
                                        id="btn_transfer"><?php echo $this->__('transfer'); ?></button>
                                <button name="name" type="button" class="transfer transition"
                                        id="btn_withdrawal"><?php echo $this->__('withdraw'); ?></button>
                            </div>
                        </li>
                        <li class="col-xs-4">
                            <div class="balance_con">
                                <img src="<?php echo $this->getSkinUrl('images/icon_img5.png'); ?>" alt="icon">
                                <span><?php echo $this->getTruWalletCredit(); ?></span>
                                <small><?php echo $this->__('truwallet<br> earnings'); ?></small>
                                <button name="name" type="button" class="transfer shop transition">
                                    <?php echo $this->__('SHOP'); ?></button>
                            </div>
                        </li>
                        <li class="col-xs-4">
                            <div class="balance_con">
                                <img src="<?php echo $this->getSkinUrl('images/icon_img6.png'); ?>" alt="icon">
                                <span><?php echo $this->getTruGiftCardCredit(); ?></span>
                                <small><?php echo $this->__('trunited<br> gift card'); ?></small>
                                <button name="name" type="button" class="transfer transition"
                                        id="trugiftcard_share"><?php echo $this->__('Share'); ?></button>
                                <?php if ($product_giftcard != null && $product_giftcard->getId()){ ?>
                                <button name="name" type="button" class="transfer transition" id="trugiftcard_buy_more">
                                    <?php echo $this->__('Buy more'); ?>
                                </button>
                                <?php } ?>
                            </div>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <!--button name="name" type="button" class="customer_btn transition" id="customer_account">
            <?php //echo $this->__('Customer account'); ?></button-->
    </div>

    <?php if($enable_leader_board){?>
    <div class="monthly_leaderboard">
        <div class="top_bar">
            <h4><?php echo $this->__('Trunited Nation Leaderboard'); ?></h4>
            <div class="sort_by">
                <label><?php echo $this->__('TOP RANK BY'); ?></label>
                <?php if(sizeof($rank_opts) > 0){?>
                <select id="top_rank" class="selectpicker">
                    <?php foreach ($rank_opts as $rank => $label) {?>
                    <option value="<?php echo $rank;?>"><?php echo $label; ?></option>
                    <?php }?>
                </select>
                <?php }?>
                <div class="clearfix"></div>
            </div>
            <div class="search_club select_checkbox">
                <label>
                    <input name="new_member" type="checkbox" value="" id="new_member" />
                    <span></span>
                    <em><?php echo $this->__('Only Show New Members'); ?></em>
                </label>

                <div class="clearfix"></div>
            </div>
        </div>
        <div class="nicolas_porter">
            <ul id="leader_board_list"></ul>
            <div class="clearfix"></div>
        </div>
    </div>
    <?php }?>
    <!--<div class="monthly_leaderboard pad_last">
        <div class="top_bar">
            <h4>Trunited Nation Recognition Board</h4>
            <div class="sort_by">
                <label>SORT BY</label>
                <select class="selectpicker">
                    <option>Personal Points</option>
                    <option>Personal Points</option>
                    <option>Personal Points</option>
                    <option>Personal Points</option>
                </select>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="nicolas_porter">
            <ul>
                <li>
                    <div class="nicolas_con">
                        <div class="nicolas_con_left">
                            <h3>Nicolas Porter</h3>
                            <button name="name" type="button" class="pacesetter">pacesetter</button>
                            <h2>1,500</h2>
                        </div>
                        <div class="nicolas_con_right">
                            <img src="<?php /*echo $this->getSkinUrl('images/pacesetter_logo1.png');*/ ?>" alt="img">
                        </div>
                        <div class="clearfix"></div>
                        <div class="nicolas_con_btns">
                            <ul>
                                <li><a href="#">message</a></li>
                                <li><a href="#">give</a></li>
                                <li><a href="#">connect</a></li>
                                <li><a href="#">recognize</a></li>
                                <li><a href="#">Manage</a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="nicolas_con bg_clr1">
                        <div class="nicolas_con_left">
                            <h3>Nicolas Porter</h3>
                            <button name="name" type="button" class="pacesetter">customer</button>
                            <h2>1,500</h2>
                        </div>
                        <div class="nicolas_con_right">
                            <img src="<?php /*echo $this->getSkinUrl('images/pacesetter_logo1.png');*/ ?>" alt="img">
                        </div>
                        <div class="clearfix"></div>
                        <div class="nicolas_con_btns">
                            <ul>
                                <li><a href="#">message</a></li>
                                <li><a href="#">give</a></li>
                                <li><a href="#">connect</a></li>
                                <li><a href="#">recognize</a></li>
                                <li><a href="#">Manage</a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="nicolas_con bg_clr2">
                        <div class="nicolas_con_left">
                            <h3>Nicolas Porter</h3>
                            <button name="name" type="button" class="pacesetter">promoter</button>
                            <h2>1,500</h2>
                        </div>
                        <div class="nicolas_con_right">
                            <img src="<?php /*echo $this->getSkinUrl('images/pacesetter_logo1.png');*/ ?>" alt="img">
                        </div>
                        <div class="clearfix"></div>
                        <div class="nicolas_con_btns">
                            <ul>
                                <li><a href="#">message</a></li>
                                <li><a href="#">give</a></li>
                                <li><a href="#">connect</a></li>
                                <li><a href="#">recognize</a></li>
                                <li><a href="#">Manage</a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="nicolas_con">
                        <div class="nicolas_con_left">
                            <h3>Nicolas Porter</h3>
                            <button name="name" type="button" class="pacesetter">pacesetter</button>
                            <h2>1,500</h2>
                        </div>
                        <div class="nicolas_con_right">
                            <img src="<?php /*echo $this->getSkinUrl('images/pacesetter_logo1.png');*/ ?>" alt="img">
                        </div>
                        <div class="clearfix"></div>
                        <div class="nicolas_con_btns">
                            <ul>
                                <li><a href="#">message</a></li>
                                <li><a href="#">give</a></li>
                                <li><a href="#">connect</a></li>
                                <li><a href="#">recognize</a></li>
                                <li><a href="#">Manage</a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="nicolas_con bg_clr1">
                        <div class="nicolas_con_left">
                            <h3>Nicolas Porter</h3>
                            <button name="name" type="button" class="pacesetter">customer</button>
                            <h2>1,500</h2>
                        </div>
                        <div class="nicolas_con_right">
                            <img src="<?php /*echo $this->getSkinUrl('images/pacesetter_logo1.png');*/ ?>" alt="img">
                        </div>
                        <div class="clearfix"></div>
                        <div class="nicolas_con_btns">
                            <ul>
                                <li><a href="#">message</a></li>
                                <li><a href="#">give</a></li>
                                <li><a href="#">connect</a></li>
                                <li><a href="#">recognize</a></li>
                                <li><a href="#">Manage</a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="nicolas_con bg_clr2">
                        <div class="nicolas_con_left">
                            <h3>Nicolas Porter</h3>
                            <button name="name" type="button" class="pacesetter">promoter</button>
                            <h2>1,500</h2>
                        </div>
                        <div class="nicolas_con_right">
                            <img src="<?php /*echo $this->getSkinUrl('images/pacesetter_logo1.png');*/ ?>" alt="img">
                        </div>
                        <div class="clearfix"></div>
                        <div class="nicolas_con_btns">
                            <ul>
                                <li><a href="#">message</a></li>
                                <li><a href="#">give</a></li>
                                <li><a href="#">connect</a></li>
                                <li><a href="#">recognize</a></li>
                                <li><a href="#">Manage</a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="nicolas_con">
                        <div class="nicolas_con_left">
                            <h3>Nicolas Porter</h3>
                            <button name="name" type="button" class="pacesetter">pacesetter</button>
                            <h2>1,500</h2>
                        </div>
                        <div class="nicolas_con_right">
                            <img src="<?php /*echo $this->getSkinUrl('images/pacesetter_logo1.png');*/ ?>" alt="img">
                        </div>
                        <div class="clearfix"></div>
                        <div class="nicolas_con_btns">
                            <ul>
                                <li><a href="#">message</a></li>
                                <li><a href="#">give</a></li>
                                <li><a href="#">connect</a></li>
                                <li><a href="#">recognize</a></li>
                                <li><a href="#">Manage</a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="nicolas_con bg_clr3">
                        <div class="nicolas_con_left">
                            <h3>Nicolas Porter</h3>
                            <button name="name" type="button" class="pacesetter">influencer</button>
                            <h2>1,500</h2>
                        </div>
                        <div class="nicolas_con_right">
                            <img src="<?php /*echo $this->getSkinUrl('images/pacesetter_logo4.png');*/ ?>" alt="img">
                        </div>
                        <div class="clearfix"></div>
                        <div class="nicolas_con_btns">
                            <ul>
                                <li><a href="#">message</a></li>
                                <li><a href="#">give</a></li>
                                <li><a href="#">connect</a></li>
                                <li><a href="#">recognize</a></li>
                                <li><a href="#">Manage</a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="nicolas_con bg_clr2">
                        <div class="nicolas_con_left">
                            <h3>Nicolas Porter</h3>
                            <button name="name" type="button" class="pacesetter">promoter</button>
                            <h2>1,500</h2>
                        </div>
                        <div class="nicolas_con_right">
                            <img src="<?php /*echo $this->getSkinUrl('images/pacesetter_logo1.png');*/ ?>" alt="img">
                        </div>
                        <div class="clearfix"></div>
                        <div class="nicolas_con_btns">
                            <ul>
                                <li><a href="#">message</a></li>
                                <li><a href="#">give</a></li>
                                <li><a href="#">connect</a></li>
                                <li><a href="#">recognize</a></li>
                                <li><a href="#">Manage</a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="nicolas_con">
                        <div class="nicolas_con_left">
                            <h3>Nicolas Porter</h3>
                            <button name="name" type="button" class="pacesetter">pacesetter</button>
                            <h2>1,500</h2>
                        </div>
                        <div class="nicolas_con_right">
                            <img src="<?php /*echo $this->getSkinUrl('images/pacesetter_logo1.png');*/ ?>" alt="img">
                        </div>
                        <div class="clearfix"></div>
                        <div class="nicolas_con_btns">
                            <ul>
                                <li><a href="#">message</a></li>
                                <li><a href="#">give</a></li>
                                <li><a href="#">connect</a></li>
                                <li><a href="#">recognize</a></li>
                                <li><a href="#">Manage</a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="nicolas_con bg_clr3">
                        <div class="nicolas_con_left">
                            <h3>Nicolas Porter</h3>
                            <button name="name" type="button" class="pacesetter">influencer</button>
                            <h2>1,500</h2>
                        </div>
                        <div class="nicolas_con_right">
                            <img src="<?php /*echo $this->getSkinUrl('images/pacesetter_logo4.png');*/ ?>" alt="img">
                        </div>
                        <div class="clearfix"></div>
                        <div class="nicolas_con_btns">
                            <ul>
                                <li><a href="#">message</a></li>
                                <li><a href="#">give</a></li>
                                <li><a href="#">connect</a></li>
                                <li><a href="#">recognize</a></li>
                                <li><a href="#">Manage</a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="nicolas_con bg_clr2">
                        <div class="nicolas_con_left">
                            <h3>Nicolas Porter</h3>
                            <button name="name" type="button" class="pacesetter">promoter</button>
                            <h2>1,500</h2>
                        </div>
                        <div class="nicolas_con_right">
                            <img src="<?php /*echo $this->getSkinUrl('images/pacesetter_logo1.png');*/ ?>" alt="img">
                        </div>
                        <div class="clearfix"></div>
                        <div class="nicolas_con_btns">
                            <ul>
                                <li><a href="#">message</a></li>
                                <li><a href="#">give</a></li>
                                <li><a href="#">connect</a></li>
                                <li><a href="#">recognize</a></li>
                                <li><a href="#">Manage</a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>-->
    <!--button name="name" type="button" class="customer_btn transition">manage business</button-->
</div>
<?php if($badge != null && $badge->getHexColor() != null){?>
<style type="text/css">
    .inner28_nicolas{
        background: <?php echo $badge->getHexColor();?> !important;
    }
</style>
<?php }?>

<?php echo $this->getChildHtml('nationpassport.message'); ?>
<?php echo $this->getChildHtml('nationpassport.member'); ?>
<input type="hidden" id="popup_badges_input" />

<script type="text/javascript">
    $j = jQuery.noConflict();
    $j('.main-container').addClass('main_block main_bg2');
    $j('.main').addClass('container');
    $j('.main .col-main').addClass('row');

    <?php if($is_show_popup_badges){?>
    var get_content_url = '<?php echo $this->getUrl('*/index/getContentPopup');?>';
    $j(document).ready(function () {
        $j.ajax({
            url: get_content_url,
            dataType: "json",
            success: function(response){
                if(response.is_show){
                    $j('#popup_badges_input').fancybox({
                        autoHeight: true,
                        minHeight: 10,
                        content: response.html
                    }).trigger('click');
                }
            }
        });


    });
    <?php }?>

    $j('.learn_more').click(function(){
        window.location.href = '<?php echo Mage::getUrl('what-are-badges');?>';
        return false;
    });

    $j('#customer_account').click(function () {
        window.location.href = '<?php echo $this->getAccountDashboardUrl();?>';
        return false;
    });

    $j('.modal-backdrop.in').click(function () {
        $j(this).css({'display': 'none'});
    });

    $j('#trugiftcard_buy_more').click(function () {
        window.location.href = '<?php echo $giftcard_url;?>';
        return false;
    });

    $j('#trugiftcard_share').click(function () {
        window.location.href = '<?php echo $this->getShareTruGiftCardUrl();?>';
        return false;
    });

    $j('#btn_transfer').click(function () {
        window.location.href = '<?php echo $this->getTransferUrl();?>';
        return false;
    });

    $j('#btn_withdrawal').click(function () {
        window.location.href = '<?php echo $this->getWithdrawalUrl();?>';
        return false;
    });

    <?php if($enable_leader_board){?>
    $j('#top_rank').on('change', function() {
        findLeaderBoard();
        return false;
    });

    $j('#new_member').change(function() {
        $j('#new_member').val(this.checked);
        findLeaderBoard();
    });

    $j(document).ready(function () {
        findLeaderBoard();
    });

    var filter_leader_board_url = '<?php echo $this->getFilterLearBoardUrl();?>';
    function findLeaderBoard() {
        $j('.nicolas_porter').css({opacity: '0.3'});

        var top_rank = $j('#top_rank').val();
        var new_member = $j('#new_member').is(':checked');

        $j.ajax({
            url: filter_leader_board_url,
            type: 'POST',
            data: {rank: top_rank, new_member: new_member},
            success: function (result) {
                $j('#leader_board_list').html(result);
                $j('.nicolas_porter').css({opacity: '1'});
            }
        });
    }
    <?php }?>
</script>
