<?php
$customer_stats = $this->getCustomerStats();
$customer_badges = $this->getCustomerBadgesHistory();
?>
<div id="popup_badges" class="pop_up1 clearfix">
    <a href="#" class="popup_close" onclick='javascript:document.getElementsByClassName("fancybox-close")[0].click(); return false;'>
        <img src="<?php echo $this->getSkinUrl('images/close_btn2.png');?>" alt="icon"></a>
    <figure class="ladyimg col-md-4 col-xs-12 "><img src="<?php echo $this->getSkinUrl('images/ladyimg.png');?>" alt="ladyimg"></figure>
    <div class="popup_cont col-md-8 col-xs-12">
        <div class="popup_log">
            <figure><img src="<?php echo $this->getSkinUrl('images/popuplogo.png');?>" alt="popuplogo"></figure>
        </div>
        <div class="reward_sec">
            <ul class="clearfix">
                <li class="col-md-4 col-xs-12"><h4><?php echo $this->getTruWalletCredit()?></h4>
                    <small><?php echo $this->__('Truwallet rewards');?></small>
                </li>
                <li class="col-md-4 col-xs-12"><h4><?php echo $this->getBalance()?></h4>
                    <small><?php echo $this->__('Affiliate Income');?></small>
                </li>
                <li class="col-md-4 col-xs-12">
                    <h4>
                        <?php
                        if ($customer_stats != null)
                            echo number_format($customer_stats['social_stock'] == null ? 0 : $customer_stats['social_stock']);
                        else
                            echo '0';
                        ?>
                    </h4>
                    <small><?php echo $this->__('Social Stock');?></small>
                </li>
            </ul>
        </div>
        <div class="badges_sec">
            <?php if(sizeof($customer_badges) > 0){?>
                <span><?php echo $this->__('you have been awarded badges');?></span>
            <?php } else {?>
                <span><?php echo $this->__('earned badges next month');?></span>
            <?php }?>
        </div>
        <?php if(sizeof($customer_badges) > 0){?>
            <div class="box_sec">
                <ul class="clearfix">
                    <?php foreach ($customer_badges as $badge) {?>
                        <li>
                            <a href="#">
                                <img src="<?php echo $this->getImagePath($badge->getImageName()); ?>"
                                     alt="img">
                            </a>
                        </li>
                    <?php }?>
                </ul>
                <p><?php echo $this->__('Badges Increase Your Social Stock. Social stock Increases Your Influence.<br>
                    It can also earn you special gifts from our Social Stock Store.');?></p>
            </div>
        <?php } else {?>
            <p><?php echo $this->__('Earning Badges Increases Your
                Social Stock.  Social Stock Increases
                Your Influence and Wins You Prizes.');?></p>
        <?php }?>


        <div class="learnmore_sec">
            <ul class="clearfix">
<!--                <li>-->
<!--                    <a href="--><?php //echo $this->getUrl('badges');?><!--">--><?php //echo $this->__('badge board');?><!--</a>-->
<!--                </li>-->
                <li>
                    <a href="<?php echo $this->getUrl('what-are-badges')?>"><?php echo $this->__('learn more');?></a>
                </li>
            </ul>

        </div>
    </div>
</div>

<style type="text/css">
    .fancybox-close{display: none !important;}

    .pop_up1{
        top: 0 !important;
    }
</style>
<script type="text/javascript">
    $j = jQuery.noConflict();
    $j('.fancybox-skin').css({'background':'transparent', 'box-shadow' : 'none'});
</script>