<?php
$accounts = $this->getAccountCollection();
?>
<?php if (sizeof($accounts) > 0) { ?>
    <?php foreach ($accounts as $account) {?>
        <?php
        $customer_stats = Mage::helper('badges')->getCustomerStats($account->getCustomerId());
        $badges = Mage::helper('badges')->getBadgeFromStats($customer_stats['badge']);
        if($account != null && $account->getId()){
            ?>
            <li>
                <div class="nicolas_con bg_clr1"
                     <?php if($badges != null && $badges->getId()){?>style="background: <?php echo
                     $badges->getHexColor();?>"<?php }?>>
                    <div class="nicolas_con_left">
                        <h3><?php echo $account->getName();?></h3>
                        <button name="name" type="button" class="pacesetter">
                            <?php if($customer_stats != null && isset($customer_stats['badge'])){?>
                                <?php echo $customer_stats['badge'];?>
                            <?php } else if($badges != null && $badges->getId()){?>
                                <?php echo $badges->getName();?>
                            <?php }?>
                        </button>
                        <h2></h2>
                    </div>
                    <div class="nicolas_con_right">
                        <img src="<?php echo $this->getImagePath($badges->getImageName());?>"
                             alt="img">
                    </div>
                    <div class="clearfix"></div>
                    <!--<div class="nicolas_con_btns">
                        <ul>
                            <li><a href="#">message</a></li>
                            <li><a href="#">give</a></li>
                            <li><a href="#">connect</a></li>
                            <li><a href="#">recognize</a></li>
                            <li><a href="#">Manage</a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>-->
                </div>
                <div class="select_checkbox">
                    <label>
                        <input type="checkbox" name="member_select" class="member_select"
                               id="<?php echo $account->getId()?>"
                               onchange="selectType(this, this.checked)"><span>&nbsp;</span>
                    </label>
                </div>
            </li>
        <?php }?>
    <?php }?>
<?php } else { ?>
    <p><?php echo $this->__('No Members found'); ?></p>
<?php } ?>
