<div class="login_registerd">
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
    <form action="<?php echo $this->getPostActionUrl() ?>" method="post" id="login-form-new">
        <?php echo $this->getBlockHtml('formkey'); ?>
        <div class="login_registerd_lft col-sm-6">
            <h3><?php echo $this->__('New Customers') ?></h3>
            <p><?php echo $this->__('By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.') ?></p>
            <button type="button" title="<?php echo $this->__('Create an Account') ?>" class="create_btn transition" onclick="window.location='<?php echo Mage::helper('persistent')->getCreateAccountUrl($this->getCreateAccountUrl()) ?>';">
                <?php echo $this->__('Create an Account') ?></button>
            <div class="clearfix"></div>
        </div>
        <div class="login_registerd_rgt col-sm-6">
            <h3><?php echo $this->__('Registered Customers') ?></h3>
            <p><?php echo $this->__('If you have an account with us, please log in.') ?></p>
            <ul>
                <li>
                    <label for="email" class="required"><em>*</em><?php echo $this->__('Email Address') ?></label>
                    <input type="text" name="login[username]" value="<?php echo $this->escapeHtml($this->getUsername()) ?>" id="email" class="input-text required-entry validate-email" title="<?php echo $this->__('Email Address') ?>" />
                </li>
                <li>
                    <label for="pass" class="required"><em>*</em><?php echo $this->__('Password') ?></label>
                    <input type="password" name="login[password]" class="input-text required-entry validate-password" id="pass" title="<?php echo $this->__('Password') ?>" />
                </li>
                <?php echo $this->getChildHtml('form.additional.info'); ?>
                <?php echo $this->getChildHtml('persistent.remember.me'); ?>
            </ul>
            <?php echo $this->getChildHtml('persistent.remember.me.tooltip'); ?>
            <div class="clearfix"></div>
            <a href="#" class="required"><?php echo $this->__('* Required Fields') ?></a>
            <div class="clearfix"></div>
            <a href="<?php echo $this->getForgotPasswordUrl() ?>" class="forget f-left">
                <?php echo $this->__('Forgot Your Password?') ?></a>
            <button type="submit" class="login_button transition" title="<?php echo $this->__('Login') ?>" name="send" id="send2">
                <?php echo $this->__('Login') ?></button>
            <div class="clearfix"></div>
            <?php if(Mage::helper('pslogin')->modulePositionEnabled('login') && Mage::helper('pslogin')->hasButtons()) : ?>
                <div class="pslogin-spacer pslogin-clearfix">
                    <table>
                        <tr>
                            <td><div class="pslogin-border"></div></td>
                            <td class="pslogin-bordertext w25"><?php echo $this->__('OR'); ?></td>
                            <td><div class="pslogin-border"></div></td>
                        </tr>
                    </table>
                </div>
            <?php endif;?>
            <?php echo $this->getChildHtml('pslogin_buttons'); ?>
        </div>

        <div class="clearfix"></div>
        <?php if (Mage::helper('checkout')->isContextCheckout()): ?>
            <input name="context" type="hidden" value="checkout" />
        <?php endif; ?>
    </form>

</div>
<?php echo $this->getLayout()->createBlock('other/suspended')->setTemplate('other/suspended.phtml')->toHtml();?>
<script type="text/javascript">
    //<![CDATA[
    $j = jQuery.noConflict();
    $j('.main-container').addClass('main_block main_bg3 pad_last');
    $j('.main').addClass('container-fluid');
    $j('.main .col-main').addClass('row');
    $j('.page').addClass('main_content');

    var dataForm = new VarienForm('login-form-new', true);
    //]]>
</script>