<?php
$is_enable = $this->isEnableVerifyMobile();
$is_phone = Mage::getSingleton('core/session')->getPhoneActive();
$is_code = Mage::getSingleton('core/session')->getCodeActive();
$is_verify = Mage::getSingleton('core/session')->getVerify();
$attribute = Mage::getModel('eav/config')->getAttribute('customer', 'preferred_language');

// affiliate referal information$names = $this->getAffiliateName();
$accountInfo = $this->getAffiliateInfoFromCookie();
$cookie = $this->getCookie();
$account_code = $cookie->get('account_code');
$display = true;
if(isset($accountInfo) && $accountInfo != null && $accountInfo->getId() && $account_code)
    $display = false;
?>
<div class="before_signin">
	<!-- Main Content -->
	<div class="main_content">    	
		<div class="main_block inn_pad ">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
						<div class="row">
							<div class="col-md-offset-4 col-md-4 col-md-offset-4 col-xs-12 col-sm-12">
								<div class="logo">
									<a href="<?php echo Mage::getBaseUrl();?>" title="<?php echo $this->__('Trunited')?>">
										<img src="<?php echo $this->getSkinUrl(Mage::getStoreConfig('design/header/logo_src'));?>">
									</a>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-offset-4 col-md-4 col-md-offset-4 col-xs-12 col-sm-12">
								<div class="acct_information">
									<div class="acct_information_in" style="width: 94% !important;">
										<div class="form_block">
											<div class="row top_options">
												<div class="options">
													<div class="col-md-3">
														<label class="checkbox-inline1">
															<input type="radio" value="sign_in_customer" name="sign_option" 
																	id="sign_in_customer" checked="checked" />
															<?php echo $this->__('Sign In')?>
                                                            <?php if(Mage::helper('other')->getConfigData('general', 'guest_video') != ''){?>

                                                            <?php }?>
														</label>
													</div>

													<div class="col-md-4">
														<label class="checkbox-inline1">
															<input type="radio" value="guest_checkout" name="sign_option" 
																	id="guest_checkout" />
															<?php echo $this->__('Guest Checkout')?>
                                                            <a class="trubox_video" href="<?php echo Mage::helper('other')->getConfigData('general', 'guest_video')?>&amp;autoplay=1" id="what_is_trubox" title="<?php echo $this->__('Guest Checkout');?>"><img src="<?php echo $this->getSkinUrl('images/questions.png')?>" style="width: 14px;" /></a>
														</label> 
													</div>

													<div class="col-md-5">
														<label class="checkbox-inline1">
															<input type="radio" value="register_new_customer" name="sign_option"
																	id="register_new_customer" />
																	<?php echo $this->__('Register Customer Account')?>
														</label>
													</div>
												</div>
											</div>
											<div class="clearfix"></div>

											<div class="row login_wrapper">
												<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
													<div class="title">
														<div class="alert-danger"></div>
														<?php echo $this->__('If you have an account with us, please log in.')?>
													</div>
													<form action="<?php echo $this->getLoginUrl();?>" method="post" 
														id="login_form">
														<ul>
															<li class="col-md-12 col-xs-12">
																<label><?php echo $this->__('Email Address')?></label>
																<input name="login[username]" type="text" value="" placeholder="<?php echo $this->__('Email Address')?>" id="email"
																	class="input-text required-entry validate-email"
																>
															</li>
															<li class="col-md-12 col-xs-12">
																<label><?php echo $this->__('Password')?></label>
																<input name="login[password]" type="password" value="" placeholder="<?php echo $this->__('Password')?>" id="pass"
																	class="input-text required-entry validate-password"
																>
															</li>
															<li class="col-md-12 col-xs-12">
																<button name="sign_in" type="submit" id="sign_in" 
																		class="save_btn transition">
																	<?php echo $this->__('Sign In')?>
																</button>
															</li>
															<li class="col-md-12 col-xs-12">
																<div class="separator"></div>
															</li>
															<li>
																<a href="#" title="<?php echo $this->__('Forgot Your Password?')?>" 
																	class="forgot_password" id="forgot_password">
																	<?php echo $this->__('Forgot Your Password?')?>
																</a>
															</li>
														</ul>
													</form>
												</div>
											</div>

											<div class="forgot_password_wrapper">
												<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
													<div class="title">
														<div class="alert-danger-forgot"></div>
														<div class="alert-success-forgot"></div>
														<?php echo $this->__('Please enter your email below and we will send you a new password.')?>
													</div>
													<form action="<?php echo $this->getForgotPasswordUrl();?>" method="post" 
														id="forgot_password_form">
														<ul>
															<li class="col-md-12 col-xs-12">
																<input name="forgot_email" type="text" value="" placeholder="<?php echo $this->__('Email Address')?>" id="forgot_email"
																	class="input-text required-entry validate-email"
																>
															</li>

															<li class="col-md-12 col-xs-12">
																<button name="submit_password" type="submit" 
																		id="submit_password" class="save_btn transition">
																	<?php echo $this->__('Send')?>
																</button>
															</li>
															<li class="col-md-12 col-xs-12">
																<div class="separator"></div>
															</li>
															<li>
																<a id="back" href="#" title="<?php echo $this->__('Back')?>" 		class="back">
																	<?php echo $this->__('Back')?>
																</a>
															</li>
														</ul>
													</form>
												</div>
											</div>
											
											<div class="clearfix"></div>

											<div class="row register_wrapper">
												<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
													<?php 
														$is_first_step = $is_enable && $is_verify == null;
														$is_step_one = $is_code == null || $is_phone == null;
														if ($is_first_step) { ?>
														<div class="step_one" 
															<?php if ($is_step_one) {?> style="display:block;" <?php } else {?>
																style="display:none;"<?php }?>>
															<div class="title">
																<div class="alert-danger-send-code"></div>
																<?php echo $this->__('VERIFY YOU ARE HUMAN')?>
															</div>
															<form action="<?php echo $this->getSendCodeUrl() ?>" method="post" 
																	id="verify_customer_mobile_new">
																<ul>
																	<li class="col-md-12 col-xs-12">
																		<label>
																			<?php echo $this->__('Enter your phone number')?>
																		</label>
																		<input name="phone_number" type="text" value="" 
																				placeholder="<?php echo $this->__('Enter your phone number')?>" id="phone_number"
																				class="input-text required-entry validate-phoneStrict"
																		>
																		<em id="notify-phone">
						                                                    <?php echo $this->__('You have to verify your mobile before registering.'); ?>
						                                                </em>
																	</li>
																	<li class="col-md-12 col-xs-12">
																		<button name="send_code_submit" type="submit" 
																				id="send_code_submit" 
																				class="save_btn transition">
																			<?php echo $this->__('Send Code')?>
																		</button>
																	</li>
																</ul>
															</form>	
														</div>

														<div class="step_two" <?php if (!$is_step_one) {?> style="display:block;" <?php } else { ?> style="display:none;"<?php }?>> 
															<form action="<?php echo $this->getVerifyCodeUrl(); ?>" 
																	method="post" id="verify_code_mobile_new">
																<div class="title">
																	<div class="alert-danger-verify-code"></div>
																	<div class="alert-success-verify-code"></div>
																	<?php echo $this->__('VERIFY YOU ARE HUMAN')?>
																</div>
																<ul>
																	<li class="col-md-12 col-xs-12">
																		<label>
																			<?php echo $this->__('Please enter your verification code')?>
																		</label>
																		<input name="verify_code" type="text" value="" 
																				placeholder="<?php echo $this->__('Enter verification code')?>" id="verify_code"
																				class="input-text required-entry"
																		>
																		<em id="notify-phone">
						                                                    <?php echo $this->__('You have to verify your mobile before registering.'); ?>
						                                                </em>
																	</li>
																	<li class="col-md-12 col-xs-12">
					                                                    <button type="submit" title="<?php echo $this->__('Verify Code') ?>" class="save_btn transition"
					                                                    		id="verify_submit"
					                                                    	>
					                                                        <?php echo $this->__('Verify Code') ?>
					                                                    </button>
					                                                </li>
					                                                <li class="col-md-12 col-xs-12">
					                                                    <button type="button" id="start_over"
					                                                            title="<?php echo $this->__('Start Over') ?>"
					                                                            class="save_btn transition">
					                                                        <?php echo $this->__('START OVER') ?>
					                                                    </button>
					                                                </li>
					                                            </ul>
	                                      					</form>
														</div>
													<?php }?>
													
													<div class="step_three"
													<?php if (!$is_enable || ($is_enable && $is_phone != null && $is_code != null && $is_verify != null)) { ?> style="display: block;" <?php } else {?> style="display: none;"<?php }?>
													>
														<div class="title">
															<div class="alert-danger-register"></div>
															<?php echo $this->__('Create An Account')?>
														</div>
														<form action="<?php echo $this->getRegisterUrl();?>" method="post" 
															id="register_form">
															<input type="hidden" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
															<ul>
																<li class="col-md-12 col-xs-12">
																	<label><?php echo $this->__('First Name')?></label>
																	<input name="firstname" type="text" value="" placeholder="<?php echo $this->__('First Name')?>" id="firstname"
																		class="input-text required-entry" maxlength="255"
																	>
																</li>
																<li class="col-md-12 col-xs-12">
																	<label><?php echo $this->__('Last Name')?></label>
																	<input name="lastname" type="text" value="" placeholder="<?php echo $this->__('Last Name')?>" id="lastname"
																		class="input-text required-entry" maxlength="255"
																	>
																</li>
																<li class="col-md-12 col-xs-12">
																	<label><?php echo $this->__('Email Address')?></label>
																	<input name="email" type="text" value="" placeholder="<?php echo $this->__('Email Address')?>" id="email_address"
																		class="input-text required-entry validate-email"
																	>
																</li>
																<li class="col-md-12 col-xs-12">
																	<label><?php echo $this->__('Preferred Language')?></label>
																	<select name="preferred_language" id="preferred_language"
					                                                        class="required-entry">
					                                                    <?php
					                                                    $options = $attribute->getSource()->getAllOptions();
					                                                    foreach ($options as $option) {
					                                                        ?>
					                                                        <option value='<?php echo $option['value'] ?>'>
					                                                        	<?php echo $this->__($option['label']) ?>
					                                                        </option>
					                                                    <?php } ?>
					                                                </select>
																</li>
																
																<li class="col-md-12 col-xs-12">
																	<div class="separator title">
																		<?php echo $this->__('Login Information')?>
																	</div>
																</li>
																<li class="col-md-12 col-xs-12">
																	<label><?php echo $this->__('Password')?></label>
																	<input name="password" type="password" value="" placeholder="<?php echo $this->__('Password')?>" id="password"
																		class="input-text required-entry validate-password"
																	>
																</li>
																<li class="col-md-12 col-xs-12">
																	<label><?php echo $this->__('Confirm Password')?></label>
																	<input name="confirmation" type="password" value="" placeholder="<?php echo $this->__('Confirm Password')?>" id="confirmation"
																		class="input-text required-entry validate-password"
																	>
																</li>
																
																<li class="col-md-12 col-xs-12" <?php if(!$display){?> style="display: none"<?php }?>>
																	<div class="separator title">
																		<?php echo $this->__('Affiliate Referral Information')?>
																	</div>
																</li>
																<li class="col-md-12 col-xs-12" <?php if(!$display){?> style="display: none"<?php }?>>
																	<?php
																		$email_refer = Mage::getSingleton('core/session')->getEmailRefer();
													                    $affiliate_account = null;
													                    if ($email_refer != null) {
													                        $customer_refer = Mage::getModel("customer/customer");
													                        $customer_refer->setWebsiteId(Mage::app()->getStore()->getWebsiteId());
													                        $customer_refer->loadByEmail($email_refer);
													                        if ($customer_refer->getId()) {
													                            $affiliate_account = Mage::getModel('affiliateplus/account')->loadByCustomerId($customer_refer->getId());
													                        }
													                    }

													                    $default_name = '';
													                    $default_id = '';
													                    if ($accountInfo) {
													                        $default_name = $accountInfo->getName();
													                        $default_id = $accountInfo->getId();
													                    } else if ($affiliate_account != null && $affiliate_account->getId()) {
													                        $default_name = $affiliate_account->getName();
													                        $default_id = $affiliate_account->getId();
													                    }
																	?>
																	<label><?php echo $this->__('Who Referred Me:')?></label>
																	<input name="affiliate_name" type="text" 
																		value="<?php echo $default_name ?>" 
																		placeholder="<?php echo $this->__('Enter the mobile #')?>" id="affiliate_name"
																		class="input-text required-entry"
																		title="<?php echo $this->__('Affiliate Name') ?>"
																	>
																	<p><?php echo $this->__('Please enter the mobile # of the person who referred you and click the search icon') ?></p>
																	<div id="refers_error" class="error_refers_me">
												                         <?php echo $this->__('You must select an Affiliate or check the box ‘no one referred me'); ?></div>
												                    <div id="refers_mobile_error" class="error_refers_me">
												                         <?php echo $this->__('Please enter a valid phone number. For example (123) 456-7890 or 123-456-7890.'); ?></div>
												                    <input type="hidden" id="affiliate_id" name="affiliate_id" 
												                    		value="<?php echo $default_id ?>">
																</li>
																<li class="col-md-12 col-xs-12" <?php if(!$display){?> style="display: none"<?php }?>>
																	<div id="affiliate_message_hidden_email" class="affiliate_message">
													                    <?php if($accountInfo){?>
													                    <div class="success-msg"><?php echo Mage::helper('affiliateplus')->__('Person found: <b>%s</b>', $accountInfo->getName());?></div>
													                    <?php }?>
													                </div>
																</li>
																<li class="col-md-12 col-xs-12" <?php if(!$display){?> style="display: none"<?php }?>>
																	<label>
																		<input name="no_refers_me" type="checkbox" value="" placeholder="<?php echo $this->__('No one referred me.')?>" id="no_refers_me"

																		class="<?php if($accountInfo){?>input-text <?php } else {?>input-text required-entry<?php }?>"
                                                                               onclick="checkNoRefer()"
																		>
																		<span><?php echo $this->__('No one referred me.')?></span>
																	</label>

																</li>

																<li class="col-md-12 col-xs-12">
																	<button name="register_submit" type="submit" 
																			id="register_submit" 
																			class="save_btn transition">
																		<?php echo $this->__('Submit')?>
																	</button>
																</li>
															</ul>
															<input type="hidden" name="is_subscribed"
	                                                       			title="<?php echo $this->__('Sign Up for Newsletter') ?>"
	                                                       			value="1" id="is_subscribed"/>
														</form>
													</div>
												</div>
											</div>
											<div class="clearfix"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$j = jQuery.noConflict();

	$j('#success-message-container').remove();

    $j(".trubox_video").click(function() {
        $j.fancybox({
            'padding'       : 0,
            'autoScale'     : false,
            'transitionIn'  : 'none',
            'transitionOut' : 'none',
            'title'         : this.title,
            'width'         : 640,
            'height'        : 385,
            'href'          : this.href.replace(new RegExp("watch\\?v=", "i"), 'v/'),
            'type'          : 'swf',
            'swf'           : {
                'wmode'             : 'transparent',
                'allowfullscreen'   : 'true'
            }
        });

        return false;
    });
	
	/* SIGN IN */
	function disableElements()
	{
		$j('.alert-danger').html('');
        $j('.acct_information').css({'opacity': '0.5'});
		$j('#sign_in').prop('disabled', true);
        $j('#sign_in_customer').prop('disabled', true);
    	$j('#guest_checkout').prop('disabled', true);
    	$j('#register_new_customer').prop('disabled', true);
	}

	function enableElements()
	{
		$j('.acct_information').css({'opacity': '1'});
    	$j('#sign_in').prop('disabled', false);
    	$j('#sign_in_customer').prop('disabled', false);
    	$j('#guest_checkout').prop('disabled', false);
    	$j('#register_new_customer').prop('disabled', false);
	}

	$j(document).on('click', '#guest_checkout', function(){
		disableElements();
		window.location.href = '<?php echo $this->getCheckoutUrl();?>';
	});

	$j(document).on('click', '#sign_in_customer', function(){
		$j('.forgot_password_wrapper').hide();
		$j('.register_wrapper').hide();
		$j('.login_wrapper').show();
		// return false;
	});

	$j(document).on('click', '#forgot_password', function(){
		$j('.login_wrapper').hide();
		$j('.register_wrapper').hide();
		$j('.forgot_password_wrapper').show();
		return false;
	});

	$j(document).on('click', '#back', function(){
		$j('.forgot_password_wrapper').hide();
		$j('.register_wrapper').hide();
		$j('.login_wrapper').show();
		return false;
	});

	$j(document).on('click', '#register_new_customer', function(){
		$j('.forgot_password_wrapper').hide();
		$j('.register_wrapper').show();
		$j('.login_wrapper').hide();
		// return false;
	});

	var loginForm = new VarienForm('login_form', true);
	var forgotPasswordForm = new VarienForm('forgot_password_form', true);
	var registerForm = new VarienForm('register_form', true);
	var verifyForm = new VarienForm('verify_customer_mobile_new', true);
	var verifyCodeForm = new VarienForm('verify_code_mobile_new', true);

	$j(document).on('click', '#sign_in', function(){
		if (loginForm.validator.validate()) {
			disableElements();

            $j.ajax({
                type: "POST",
                url: $j("#login_form").attr('action'),
                data: $j("#login_form").serialize(),
                success: function (data) {
                    var rs = JSON.parse(data);
                   
                    if (rs.success === 0) {

                        $j('.alert-danger').html(rs.message);
                        $j('.alert-danger').show();

                        setTimeout(function(){
                        	$j('.alert-danger').html('');
                        	$j('.alert-danger').hide();
                        }, 5000);

                        $j('#email').val('');
                        $j('#pass').val('');
                        $j('#email').focus();

                        enableElements();

                    } else {

                        window.location.href = rs.url;
                    }
                }
            });
            return false;
        }
	});

	$j(document).on('click', '#submit_password', function(){
		if (forgotPasswordForm.validator.validate()) {
			disableElements();

            $j.ajax({
                type: "POST",
                url: $j("#forgot_password_form").attr('action'),
                data: $j("#forgot_password_form").serialize(),
                success: function (data) {
                    var rs = JSON.parse(data);

                    enableElements();
                    $j('#forgot_email').val('');
                    $j('#forgot_email').focus();

                    if (rs.success === 0) {

                        $j('.alert-danger-forgot').html(rs.message);
                        $j('.alert-danger-forgot').show();

                        setTimeout(function(){
                        	$j('.alert-danger-forgot').html('');
                        	$j('.alert-danger-forgot').hide();
                        }, 5000);

                    } else {
                    	$j('.alert-danger-forgot').html('');
                    	$j('.alert-danger-forgot').hide();
                    	$j('.alert-success-forgot').html(rs.message);
                        $j('.alert-success-forgot').show();

                        setTimeout(function(){
                        	$j('.alert-success-forgot').html('');
                        	$j('.alert-success-forgot').hide();
                        }, 5000);
                    }
                }
            });
            return false;
        }
	});
	/* END SIGN IN */

	/* VERIFY MOBILE CODE */
	$j('#phone_number').keyup(function () {
        var _number = $j(this).val().replace(/^(\d{3})(\d{3})(\d)+$/, "($1) $2-$3");
        if (_number.trim().length <= 14)
            $j(this).val(_number);
        else {
            $j(this).val(_number.substr(0, 14));
        }
    });

    $j(document).on('click', '#send_code_submit', function(){
		if (verifyForm.validator.validate()) {
			disableElements();

            $j.ajax({
                type: "POST",
                url: $j("#verify_customer_mobile_new").attr('action'),
                data: $j("#verify_customer_mobile_new").serialize(),
                success: function (data) {
                    var rs = JSON.parse(data);

                    enableElements();
                    $j('#phone_number').val('');
                    $j('#phone_number').focus();

                    if (rs.error === 1) {

                        $j('.alert-danger-send-code').html(rs.message);
                        $j('.alert-danger-send-code').show();

                        $j('.alert-success-verify-code').html('');
                        $j('.alert-success-verify-code').hide();

                        setTimeout(function(){
                        	$j('.alert-danger-send-code').html('');
                        	$j('.alert-danger-send-code').hide();
                        }, 5000);

                    } else {
                    	$j('.alert-danger-send-code').html('');
                    	$j('.alert-danger-send-code').hide();

                    	$j('.alert-success-verify-code').html(rs.message);
                        $j('.alert-success-verify-code').show();

                        setTimeout(function(){
                        	$j('.alert-danger-send-code').html('');
                        	$j('.alert-danger-send-code').hide();
                        }, 10000);

                        $j('.forgot_password_wrapper').hide();
						$j('.register_wrapper').show();
						$j('.step_one').hide();
						$j('.step_two').show();
						$j('.step_three').hide();
						$j('.login_wrapper').hide();
                    }
                }
            });
            return false;
        }
	});

	$j(document).on('click', '#start_over', function(){

		$j.ajax({
            type: "POST",
            url: '<?php echo $this->getMobileBackUrl(); ?>',
        });

        $j('#verify_code').val('');

        $j('.alert-danger-send-code').html('');
        $j('.alert-danger-send-code').hide();
        $j('.alert-success-verify-code').html('');
        $j('.alert-success-verify-code').hide();
        $j('.alert-danger-verify-code').html('');
        $j('.alert-danger-verify-code').hide();		

        $j('.forgot_password_wrapper').hide();
		$j('.register_wrapper').show();
		$j('.step_one').show();
		$j('.step_two').hide();
		$j('.step_three').hide();
		$j('.login_wrapper').hide();

        return false;
    });

    $j(document).on('click', '#verify_submit', function(){
		if (verifyCodeForm.validator.validate()) {
			disableElements();

            $j.ajax({
                type: "POST",
                url: $j("#verify_code_mobile_new").attr('action'),
                data: $j("#verify_code_mobile_new").serialize(),
                success: function (data) {
                    var rs = JSON.parse(data);

                    enableElements();

                    $j('#verify_code').val('');

                    if (rs.error === 1) {

                        $j('.alert-danger-verify-code').html(rs.message);
                        $j('.alert-danger-verify-code').show();

                        $j('.alert-success-verify-code').html('');
                        $j('.alert-success-verify-code').hide();

                        setTimeout(function(){
                        	$j('.alert-danger-verify-code').html('');
                        	$j('.alert-danger-verify-code').hide();
                        }, 30000);

                    } else {

                    	$j('.alert-danger-verify-code').html('');
                    	$j('.alert-danger-verify-code').hide();

                    	$j('.alert-success-verify-code').html(rs.message);
                        $j('.alert-success-verify-code').show();

                        setTimeout(function(){
                        	$j('.alert-success-verify-code').html('');
                        	$j('.alert-success-verify-code').hide();
                        }, 5000);

                        $j('.forgot_password_wrapper').hide();
						$j('.register_wrapper').show();
						$j('.step_one').hide();
						$j('.step_two').hide();
						$j('.step_three').show();
						$j('.login_wrapper').hide();
                    }
                }
            });
            return false;
        }
	});

	$j(document).on('click', '.resend_code', function(){
		$j('.alert-danger-verify-code').html('');
    	$j('.alert-danger-verify-code').hide();		

		$j.ajax({
            type: "POST",
            url: $j(this).attr('href'),
            success: function (data) {
                var rs = JSON.parse(data);

                enableElements();

                $j('#verify_code').val('');

                if (rs.error === 1) {

                    $j('.alert-danger-verify-code').html(rs.message);
                    $j('.alert-danger-verify-code').show();

                    $j('.alert-success-verify-code').html('');
                    $j('.alert-success-verify-code').hide();

                    setTimeout(function(){
                    	$j('.alert-danger-verify-code').html('');
                    	$j('.alert-danger-verify-code').hide();
                    }, 30000);

                } else {

                	$j('.alert-danger-verify-code').html('');
                	$j('.alert-danger-verify-code').hide();

                	$j('.alert-success-verify-code').html(rs.message);
                    $j('.alert-success-verify-code').show();

                    setTimeout(function(){
                    	$j('.alert-success-verify-code').html('');
                    	$j('.alert-success-verify-code').hide();
                    }, 5000);

                    $j('.forgot_password_wrapper').hide();
					$j('.register_wrapper').show();
					$j('.step_one').hide();
					$j('.step_two').show();
					$j('.step_three').hide();
					$j('.login_wrapper').hide();
                }
            }
        });
        return false;
	});
	/* END VERIFY MOBILE CODE */

	/* WHO REFERRED ME */
    $j(document).ready(function(){
        if($j('#affiliate_id').val() === '' && !$j('#no_refers_me').is(":checked"))
        {
            changeClassSubmitButton(true);
        } else {
            changeClassSubmitButton(false);
        }
    });

    function changeClassSubmitButton(is_disabled)
    {
        var obj_btn = $j('#register_submit');
        if(is_disabled)
        {
            obj_btn.prop('disabled', true);
        } else {
            obj_btn.removeProp('disabled');
        }
    }

    $j(document).on('click', '#register_submit', function () {
        var affiliate_name = $('affiliate_name').value;
        var no_refers_me = $('no_refers_me').checked;
        if (affiliate_name === '' && no_refers_me === false) {
            $j('#refers_error').slideDown().delay(5000).slideUp();
            $j('#refers_mobile_error').hide();
            return false;
        }

        if (registerForm.validator.validate()) {
        	disableElements();

        	$j.ajax({
                type: "POST",
                url: $j('#register_form').attr('action'),
                data: $j('#register_form').serialize(),
                success: function (data) {
                    
                    var rs = JSON.parse(data);

                    if (rs.success === 0) {

                        $j('.alert-danger-register').html(rs.error);
                        $j('.alert-danger-register').show();
                        $j('#firstname').focus();

                        setTimeout(function(){
                        	$j('.alert-danger-register').html('');
                        	$j('.alert-danger-register').hide();
                        }, 3000);

                        enableElements();

                    } else {
                    	window.location.href = rs.url;
                    }
                }
            });
            return false;
        }
    });

    $j('#affiliate_name').on('keypress', function (e) {
        if(e.which === 13){
            searchPerson();
            return false;
        }
    });

    function checkMobileNumber(e)
    {
        var er = /^\d+$/;

        if (!er.test(e.val().replace(/[\(\)-\s]/g,''))) {
            if (e.val().length >= 3) {
                e.val('');
                $j('#refers_mobile_error').slideDown().delay(3000).slideUp();
            } else {
                $j('#refers_mobile_error').show();
            }
            $j(".success-msg").hide();
            return false;
        } else {
            $j('#refers_mobile_error').hide();
        }

        var _number = e.val().replace(/^(\d{3})(\d{3})(\d{4})+$/, "($1) $2-$3");
        if (_number.length <= 14)
            e.val(_number);
        else {
            e.val(_number.substr(0, 14));
        }
    }

    $j(function () {
        $j("#affiliate_name").keyup(function (e) {
            checkMobileNumber($j(this));
        });
    });

    function checkNoRefer() {
        $j('#affiliate_name').val('');
        $j('#affiliate_id').val('');
        if ($('no_refers_me').checked === false) {
            $('affiliate_name').addClassName('required-entry');
            changeClassSubmitButton(true);
        } else {
            $('no_refers_me').removeClassName('required-entry');
            $('affiliate_name').removeClassName('required-entry');
            $('affiliate_message_hidden_email').hide();
            changeClassSubmitButton(false);
        }
    }

    function endCheckEmailRegister() {
        setTimeout(function(){
            $j('#affiliate_id').val($j('#is_valid_account_id').val());
            /*$j('#affiliate_name').val($j('#valid_name').val());*/
        },1000);
        $('affiliate_message_hidden_email').show();
    }
    
    function searchPerson() {
        var affiliate_name = $('affiliate_name').value;
        var affiliate_id = $('affiliate_id').value;
        var no_refers_me = $('no_refers_me').checked;
        var requestUrl = '<?php echo $this->getUrl('affiliateplus/account/checkAffiliateName') ?>';

        if(affiliate_name === '')
        {
            $j('#refers_mobile_error').show();
            $j('#refers_error').hide();
            $j("#affiliate_message_hidden_email").hide();
            $j('#affiliate_name').focus();
            return false;

        }

        checkMobileNumber($j("#affiliate_name"));
        var params = {affiliate_name: affiliate_name, affiliate_id: affiliate_id};
        
        $j('#register_submit').prop('disabled', true);
        new Ajax.Updater(
            'affiliate_message_hidden_email',
            requestUrl,
            {
                method: 'get',
                onComplete: function () {
                    endCheckEmailRegister();
                    if ($j('#is_valid_email').val() === 0 && no_refers_me === false){
                        changeClassSubmitButton(true);
                    } else{
                    	$('no_refers_me').removeClassName('required-entry');
                        changeClassSubmitButton(false);
                    }
                },
                onSuccess: '',
                onFailure: '',
                parameters: params,
                postBody: params
            }
        );

        return false;
    }
	/* END WHO REFERRED ME */
</script>       
