
@font-face {
  font-family: 'BebasNeueRegular';
  src: url('BebasNeueRegular.eot?#iefix') format('embedded-opentype'),  url('BebasNeueRegular.woff') format('woff'), url('BebasNeueRegular.ttf')  format('truetype'), url('BebasNeueRegular.svg#BebasNeueRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
