<form action="<?php echo $this->getActionOfForm() ?>" method="post" id="form-validate">
<?php echo $this->getLayout()->createBlock("affiliateplus/customerregister")->setTemplate("affiliateplus/account/registercustomeraffiliate.phtml")->toHtml(); ?>
	<div class="buttons-set">
        <p class="required"><?php echo $this->__('* Required Fields') ?></p>
        <p class="back-link"><a href="<?php echo $this->escapeUrl($this->getBackUrl()) ?>" class="back-link"><small>&laquo; </small><?php echo $this->__('Back') ?></a></p>
        <button type="submit" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Submit')) ?>" class="button"><span><span><?php echo $this->__('Submit') ?></span></span></button>
    </div>
</form>
<style>
#no_refers_me{
    width: 15px;
    height: 15px;
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    -ms-appearance: checkbox;
    -o-appearance: checkbox;
}
</style>