<?php
$regions = $this->getRegions();
$tinOption = $this->getTINOptions();
$default_address = $this->getDefaultBillingAddress();
$type_of_business = $this->getTypeOfBusiness();
$type_of_llc = $this->getTypeOfLLC();
$management_llc = $this->getManagementLLC();
?>
<div class="main_block inn_pad marketer_agreement">
    <div class="container">
        <div class="row">

            <div class="direct_comsumer ticket_consumer">
                <?php if ($this->getTitle() != '') { ?>
                    <h1 class="inner_pad1"><?php echo $this->getTitle() ?></h1>
                <?php } ?>
            </div>

            <div class="clearfix"></div>

            <div class="col-sm-12 col-xs-12">
                <div class="row right_block_in" id="affiliate_type">
                    <div class="search_bar back_ground1 marketer-header">
                        <h3><?php echo $this->__('MARKETER ACCOUNT TYPE') ?></h3>

                        <div class="clearfix"></div>
                    </div>
                    <div class="acct_information">
                        <div class="acct_information_in">
                            <div class="form_block">
                                <div class="col-md-2 col-md-offset-3 col-xs-12">
                                    <label><?php echo $this->__('Entity Type'); ?></label>
                                </div>

                                <div class="col-md-3  col-xs-12">
                                    <label class="radio-inline">
                                        <input type="radio" name="affiliate_type" id="affiliate_individual" value="1">
                                        <?php echo $this->__('Individual/Sole Proprietor'); ?>
                                    </label>
                                </div>

                                <div class="col-md-4 col-xs-12">
                                    <label class="radio-inline">
                                        <input type="radio" name="affiliate_type" id="affiliate_business" value="2">
                                        <?php echo $this->__('Limited Liability Company (LLC)'); ?>
                                    </label>
                                </div>

                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row right_block_in" id="account_information">
                    <div class="search_bar back_ground1 individual_wrapper marketer-header">
                        <h3><?php echo $this->__('Account Information') ?></h3>

                        <div class="clearfix"></div>
                    </div>
                    <div class="acct_information">
                        <div class="acct_information_in">
                            <div class="form_block">
                                <form id="individual-form" method="post"
                                      action="<?php echo $this->getIndividualAction(); ?>">
                                    <div class="form-group col-md-12">
                                        <label for="individual_name">
                                            <?php echo $this->__('Enter the name of the individual/sole proprietor'); ?>
                                        </label>
                                        <input type="text" class="form-control required-entry" id="individual_name"
                                               name="individual_name" value="<?php echo $this->getDefaultName(); ?>"
                                               placeholder="<?php echo $this->__('Enter your marketer name') ?>"
                                               autocomplete="off">
                                    </div>
                                    <div class="form-group  col-md-6">
                                        <label for="individual_address">
                                            <?php echo $this->__('Enter the mailing address'); ?>
                                        </label>
                                        <input type="text" class="form-control required-entry" id="individual_address"
                                               name="individual_address" autocomplete="off"
                                               placeholder="<?php echo $this->__('Enter your address') ?>"
                                               value="<?php if ($default_address != null && $default_address->getId()) {
                                                   $street = $default_address->getStreet();
                                                   echo $street[0];
                                               } ?>"/>
                                    </div>
                                    <div class="form-group  col-md-6">
                                        <label for="individual_city">
                                            <?php echo $this->__('Enter the city'); ?>
                                        </label>
                                        <input type="text" class="form-control required-entry" id="individual_city"
                                               name="individual_city"
                                               placeholder="<?php echo $this->__('Enter your city') ?>"
                                               autocomplete="off"
                                               value="<?php if ($default_address != null && $default_address->getId()) {
                                                   echo $default_address->getCity();
                                               } ?>">
                                    </div>
                                    <div class="form-group  col-md-6">
                                        <label for="individual_state">
                                            <?php echo $this->__('Enter the State/Province'); ?>
                                        </label>
                                        <select name="individual_state" id="individual_state"
                                                class="form-control state input-text required-entry">
                                            <?php
                                            foreach ($regions as $region) {
                                                if ($default_address != null && $default_address->getId()) {
                                                    if ($default_address->getData('region_id') == $region['region_id']) {
                                                        echo "<option value=" . $region['region_id'] . " title=" . $region->getId() . " selected='selected'>" . $region['name'] . "</option>";
                                                    } else {
                                                        echo "<option value=" . $region['region_id'] . " title=" . $region->getId() . ">" . $region['name'] . "</option>";
                                                    }
                                                } else {
                                                    echo "<option value=" . $region['region_id'] . " title=" . $region->getId() . ">" . $region['name'] . "</option>";
                                                }
                                            }
                                            ?>
                                        </select>
                                        <input type="hidden" id="individual_state_name" name="individual_state_name"
                                               value="<?php if ($default_address != null && $default_address->getId()) {
                                                   echo $default_address->getRegion();
                                               } ?>"/>
                                        <input type="hidden" id="individual_country_id" name="individual_country_id"
                                               value="<?php if ($default_address != null && $default_address->getId()) {
                                                   echo $default_address->getCountryId();
                                               } else {
                                                   echo 'US';
                                               } ?>"/>
                                    </div>
                                    <div class="form-group  col-md-6">
                                        <label for="individual_postcode required-entry">
                                            <?php echo $this->__('Enter the Zip/Postal Code'); ?>
                                        </label>
                                        <input type="text" class="form-control required-entry" id="individual_postcode"
                                               name="individual_postcode"
                                               placeholder="<?php echo $this->__('Enter your zip code') ?>"
                                               autocomplete="off"
                                               value="<?php if ($default_address != null && $default_address->getId()) {
                                                   echo $default_address->getPostcode();
                                               } ?>"
                                            />
                                    </div>

                                    <!--div class="form-group  col-md-6">
                                        <label for="individual_phone required-entry"></label>
                                        <input type="text" autocomplete="off" name="individual_phone"
                                               class="form-control required-entry validate-phoneStrict phone"
                                               id="individual_phone"
                                               placeholder="<?php echo $this->__('Enter your phone number') ?>"
                                               value="<?php echo $this->getDefaultPhone(); ?>"
                                            />
                                    </div-->

                                    <div class="form-group col-md-12">
                                        <label for="individual_type_tin ">
                                            <?php echo $this->__('Select SSN or TIN'); ?>
                                        </label>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <select name="individual_type_tin" id="individual_type_tin"
                                                        class="form-control state input-text required-entry">
                                                    <option value=""><?php echo $this->__('Select..');?></option>
                                                    <?php
                                                    foreach ($tinOption as $k => $v) {
                                                        echo "<option value=" . $k . " title=" . $v . ">" . $v . "</option>";
                                                    }
                                                    ?>
                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="individual_ssn">
                                                    <input type="text" name="individual_ssn_1" id="individual_ssn_1"
                                                           value=""
                                                           size="1" maxlength="1" onkeyup="nextNumber(this)"/>
                                                    <input type="text" name="individual_ssn_2" id="individual_ssn_2"
                                                           value=""
                                                           size="1" maxlength="1" onkeyup="nextNumber(this)"/>
                                                    <input type="text" name="individual_ssn_3" id="individual_ssn_3"
                                                           value=""
                                                           size="1" maxlength="1" onkeyup="nextNumber(this)"/>
                                                    -
                                                    <input type="text" name="individual_ssn_4" id="individual_ssn_4"
                                                           value=""
                                                           size="1" maxlength="1" onkeyup="nextNumber(this)"/>
                                                    <input type="text" name="individual_ssn_5" id="individual_ssn_5"
                                                           value=""
                                                           size="1" maxlength="1" onkeyup="nextNumber(this)"/>
                                                    -
                                                    <input type="text" name="individual_ssn_6" id="individual_ssn_6"
                                                           value=""
                                                           size="1" maxlength="1" onkeyup="nextNumber(this)"/>
                                                    <input type="text" name="individual_ssn_7" id="individual_ssn_7"
                                                           value=""
                                                           size="1" maxlength="1" onkeyup="nextNumber(this)"/>
                                                    <input type="text" name="individual_ssn_8" id="individual_ssn_8"
                                                           value=""
                                                           size="1" maxlength="1" onkeyup="nextNumber(this)"/>
                                                    <input type="text" name="individual_ssn_9" id="individual_ssn_9"
                                                           value="" size="1" maxlength="1" onblur="checkNumber(this)"
                                                           onkeyup="checkNumber(this)"/>

                                                </div>
                                                <div class="individual_tin">
                                                    <input type="text" name="individual_tin_1" id="individual_tin_1"
                                                           value=""
                                                           size="1" maxlength="1" onkeyup="nextNumberTIN(this)"/>
                                                    <input type="text" name="individual_tin_2" id="individual_tin_2"
                                                           value=""
                                                           size="1" maxlength="1" onkeyup="nextNumberTIN(this)"/>
                                                    -
                                                    <input type="text" name="individual_tin_3" id="individual_tin_3"
                                                           value=""
                                                           size="1" maxlength="1" onkeyup="nextNumberTIN(this)"/>
                                                    <input type="text" name="individual_tin_4" id="individual_tin_4"
                                                           value=""
                                                           size="1" maxlength="1" onkeyup="nextNumberTIN(this)"/>
                                                    <input type="text" name="individual_tin_5" id="individual_tin_5"
                                                           value=""
                                                           size="1" maxlength="1" onkeyup="nextNumberTIN(this)"/>
                                                    <input type="text" name="individual_tin_6" id="individual_tin_6"
                                                           value=""
                                                           size="1" maxlength="1" onkeyup="nextNumberTIN(this)"/>
                                                    <input type="text" name="individual_tin_7" id="individual_tin_7"
                                                           value=""
                                                           size="1" maxlength="1" onkeyup="nextNumberTIN(this)"/>
                                                    <input type="text" name="individual_tin_8" id="individual_tin_8"
                                                           value=""
                                                           size="1" maxlength="1" onkeyup="nextNumberTIN(this)"/>
                                                    <input type="text" name="individual_tin_9" id="individual_tin_9"
                                                           value="" size="1" maxlength="1" onkeyup="checkNumberTIN(this)"
                                                           onblur="checkNumberTIN(this)"/>
                                                </div>
                                                <input type="hidden" name="individual_number" id="individual_number"
                                                       value=""
                                                       class="required-entry"/>

                                                <div class="clearfix"></div>
                                            </div>

                                        </div>
                                    </div>

                                    <?php if ($this->isEnableTermsIndividual()) { ?>
                                        <div class="form-group col-md-12">
                                            <label for="terms">
                                                <?php echo $this->__('Terms and conditions'); ?>
                                            </label>

                                            <div class="term_conditions">
                                                <?php echo $this->getIndividualTerms(); ?>
                                            </div>
                                        </div>
                                    <?php } ?>

                                    <div class="form-group col-md-6 signature col-xs-12">
                                        <label for="individual_signature">
                                            <?php echo $this->__('Signature'); ?>
                                        </label>

                                        <div id="individual_sig"></div>
                                        <a id="individual_clear" href="#"><?php echo $this->__('Clear'); ?></a>
                                        <input type="hidden" id="individual_sync_sign" name="individual_sync_sign"
                                               value="" class="required-entry"/>
                                    </div>


                                    <div class="form-group col-md-12">
                                        <div class="col-md-offset-5 col-md-3 col-md-offset-4 col-xs-12">
                                            <button type="submit" class="marketer_btn" id="individual_submit">
                                                <?php echo $this->__('I Agree'); ?>
                                            </button>
                                        </div>
                                    </div>

                                </form>

                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row right_block_in" id="business_information">
                    <div class="search_bar back_ground1 individual_wrapper marketer-header">
                        <h3><?php echo $this->__('LLC Information') ?></h3>

                        <div class="clearfix"></div>
                    </div>
                    <div class="acct_information">
                        <div class="acct_information_in">
                            <div class="form_block">
                                <form id="business-form" method="post"
                                      action="<?php echo $this->getBusinessAction(); ?>">
                                    <input type="hidden" id="type_of_business" name="type_of_business"
                                           value="<?php echo Trunited_Marketer_Model_Status::TYPE_OF_BUSINESS_LIMITED_LIABILITY_COMPANY?>" >
                                    <div class="form-group col-md-6">
                                        <label for="business_name">
                                            <?php echo $this->__('What is your business name?'); ?>
                                        </label>
                                        <input type="text" class="form-control required-entry" id="business_name"
                                               placeholder="<?php echo $this->__('Enter your marketer name') ?>"
                                               autocomplete="off" name="business_name"
                                               value="<?php echo $this->getDefaultName(); ?>"
                                            />
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="business_type_llc">
                                            <?php echo $this->__('Which type of LLC do you have?'); ?>
                                        </label>
                                        <select name="business_type_llc" id="business_type_llc"
                                                class="form-control state input-text required-entry">
                                            <?php
                                            foreach ($type_of_llc as $k => $v) {
                                                echo "<option value=" . $k . " title=" . $v . ">" . $v . "</option>";
                                            }
                                            ?>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="business_state_incorporation">
                                            <?php echo $this->__('What is state of Incorporation?'); ?>
                                        </label>
                                        <select name="business_state_incorporation" id="business_state_incorporation"
                                                class="form-control state input-text required-entry">
                                            <?php
                                            foreach ($regions as $region) {
                                                if ($default_address != null && $default_address->getId()) {
                                                    if ($default_address->getData('region_id') == $region['region_id']) {
                                                        echo "<option value=" . $region['region_id'] . " title=" . $region->getId() . " selected='selected'>" . $region['name'] . "</option>";
                                                    } else {
                                                        echo "<option value=" . $region['region_id'] . " title=" . $region->getId() . ">" . $region['name'] . "</option>";
                                                    }
                                                } else {
                                                    echo "<option value=" . $region['region_id'] . " title=" . $region->getId() . ">" . $region['name'] . "</option>";
                                                }
                                            }
                                            ?>
                                        </select>
                                        <input type="hidden" id="business_state_incorporation_name"
                                               name="business_state_incorporation_name"
                                               value="<?php if ($default_address != null && $default_address->getId()) {
                                                   echo $default_address->getRegion();
                                               } ?>"/>

                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="business_management">
                                            <?php echo $this->__('What is the management of LLC?'); ?>
                                        </label>
                                        <select name="business_management" id="business_management"
                                                class="form-control state input-text required-entry">
                                            <?php
                                            foreach ($management_llc as $k => $v) {
                                                echo "<option value=" . $k . " title=" . $v . ">" . $v . "</option>";
                                            }
                                            ?>
                                        </select>
                                    </div>
                                    <div class="form-group  col-md-12">
                                        <label for="business_primary_name">
                                            <?php echo $this->__('Who is primary contact for your business?'); ?>
                                        </label>
                                        <input type="text" class="form-control required-entry"
                                               id="business_primary_name"
                                               placeholder="<?php echo $this->__('Enter name') ?>"
                                               autocomplete="off" name="business_primary_name"
                                               value="<?php echo $this->getDefaultName(); ?>"
                                            />
                                    </div>
                                    <div class="form-group  col-md-6">
                                        <label for="business_primary_address">
                                            <?php echo $this->__('Address');?>
                                        </label>
                                        <input type="text" class="form-control required-entry"
                                               id="business_primary_address"
                                               placeholder="<?php echo $this->__('Enter address') ?>"
                                               autocomplete="off" name="business_primary_address"
                                               value="<?php if ($default_address != null && $default_address->getId()) {
                                                   $street = $default_address->getStreet();
                                                   echo $street[0];
                                               } ?>"
                                            />
                                    </div>
                                    <div class="form-group  col-md-6">
                                        <label for="business_primary_city">
                                            <?php echo $this->__('City');?>
                                        </label>
                                        <input type="text" class="form-control required-entry"
                                               id="business_primary_city"
                                               placeholder="<?php echo $this->__('Enter city') ?>"
                                               autocomplete="off" name="business_primary_city"
                                               value="<?php if ($default_address != null && $default_address->getId()) {
                                                   echo $default_address->getCity();
                                               } ?>"/>
                                    </div>
                                    <div class="form-group  col-md-6">
                                        <label for="business_state">
                                            <?php echo $this->__('State');?>
                                        </label>
                                        <select name="business_state" id="business_primary_state"
                                                class="form-control state input-text required-entry">
                                            <?php
                                            foreach ($regions as $region) {
                                                if ($default_address != null && $default_address->getId()) {
                                                    if ($default_address->getData('region_id') == $region['region_id']) {
                                                        echo "<option value=" . $region['region_id'] . " title=" . $region->getId() . " selected='selected'>" . $region['name'] . "</option>";
                                                    } else {
                                                        echo "<option value=" . $region['region_id'] . " title=" . $region->getId() . ">" . $region['name'] . "</option>";
                                                    }
                                                } else {
                                                    echo "<option value=" . $region['region_id'] . " title=" . $region->getId() . ">" . $region['name'] . "</option>";
                                                }
                                            }
                                            ?>
                                        </select>
                                        <input type="hidden" id="business_state_name" name="business_primary_state_name"
                                               value="<?php if ($default_address != null && $default_address->getId()) {
                                                   echo $default_address->getRegion();
                                               } ?>"/>
                                        <input type="hidden" id="business_country_id" name="business_country_id"
                                               value="<?php if ($default_address != null && $default_address->getId()) {
                                                   echo $default_address->getCountryId();
                                               } else {
                                                   echo 'US';
                                               } ?>"/>
                                    </div>
                                    <div class="form-group  col-md-6">
                                        <label for="business_postcode required-entry">
                                            <?php echo $this->__('Zip');?>
                                        </label>
                                        <input type="text" class="form-control required-entry"
                                               id="business_primary_postcode"
                                               placeholder="<?php echo $this->__('Enter your zip code') ?>"
                                               autocomplete="off" name="business_primary_postcode"
                                               value="<?php if ($default_address != null && $default_address->getId()) {
                                                   echo $default_address->getPostcode();
                                               } ?>"
                                            />
                                    </div>

                                    <div class="form-group  col-md-6">
                                        <label for="business_phone required-entry">
                                            <?php echo $this->__('Phone');?>
                                        </label>
                                        <input type="text" class="form-control phone validate-phoneStrict required-entry"
                                               id="business_primary_phone"
                                               placeholder="<?php echo $this->__('Enter your phone number') ?>"
                                               autocomplete="off" value="<?php echo $this->getDefaultPhone(); ?>"
                                               name="business_primary_phone"/>
                                    </div>

                                    <div class="form-group col-md-12">
                                        <label for="business_type_tin ">
                                            <?php echo $this->__('Employer Identification Number (EIN)'); ?>
                                        </label>
                                        <input type="hidden" name="business_type_tin" id="business_type_tin"
                                            value="<?php echo Trunited_Marketer_Model_Status::TYPE_TIN_TIN?>"/>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="business_ssn">
                                                    <input type="text" name="business_ssn_1" id="business_ssn_1"
                                                           value=""
                                                           size="1" maxlength="1" onkeyup="nextNumberBusiness(this)"/>
                                                    <input type="text" name="business_ssn_2" id="business_ssn_2"
                                                           value=""
                                                           size="1" maxlength="1" onkeyup="nextNumberBusiness(this)"/>
                                                    <input type="text" name="business_ssn_3" id="business_ssn_3"
                                                           value=""
                                                           size="1" maxlength="1" onkeyup="nextNumberBusiness(this)"/>
                                                    -
                                                    <input type="text" name="business_ssn_4" id="business_ssn_4"
                                                           value=""
                                                           size="1" maxlength="1" onkeyup="nextNumberBusiness(this)"/>
                                                    <input type="text" name="business_ssn_5" id="business_ssn_5"
                                                           value=""
                                                           size="1" maxlength="1" onkeyup="nextNumberBusiness(this)"/>
                                                    -
                                                    <input type="text" name="business_ssn_6" id="business_ssn_6"
                                                           value=""
                                                           size="1" maxlength="1" onkeyup="nextNumberBusiness(this)"/>
                                                    <input type="text" name="business_ssn_7" id="business_ssn_7"
                                                           value=""
                                                           size="1" maxlength="1" onkeyup="nextNumberBusiness(this)"/>
                                                    <input type="text" name="business_ssn_8" id="business_ssn_8"
                                                           value=""
                                                           size="1" maxlength="1" onkeyup="nextNumberBusiness(this)"/>
                                                    <input type="text" name="business_ssn_9" id="business_ssn_9"
                                                           value="" size="1" maxlength="1" onkeyup="checkNumberBusiness(this)"
                                                           onblur="checkNumberBusiness(this)"/>
                                                </div>
                                                <div class="business_tin">
                                                    <input type="text" name="business_tin_1" id="business_tin_1"
                                                           value=""
                                                           size="1" maxlength="1"
                                                           onkeyup="nextNumberBusinessTIN(this)"/>
                                                    <input type="text" name="business_tin_2" id="business_tin_2"
                                                           value=""
                                                           size="1" maxlength="1"
                                                           onkeyup="nextNumberBusinessTIN(this)"/>
                                                    -
                                                    <input type="text" name="business_tin_3" id="business_tin_3"
                                                           value=""
                                                           size="1" maxlength="1"
                                                           onkeyup="nextNumberBusinessTIN(this)"/>
                                                    <input type="text" name="business_tin_4" id="business_tin_4"
                                                           value=""
                                                           size="1" maxlength="1"
                                                           onkeyup="nextNumberBusinessTIN(this)"/>
                                                    <input type="text" name="business_tin_5" id="business_tin_5"
                                                           value=""
                                                           size="1" maxlength="1"
                                                           onkeyup="nextNumberBusinessTIN(this)"/>
                                                    <input type="text" name="business_tin_6" id="business_tin_6"
                                                           value=""
                                                           size="1" maxlength="1"
                                                           onkeyup="nextNumberBusinessTIN(this)"/>
                                                    <input type="text" name="business_tin_7" id="business_tin_7"
                                                           value=""
                                                           size="1" maxlength="1"
                                                           onkeyup="nextNumberBusinessTIN(this)"/>
                                                    <input type="text" name="business_tin_8" id="business_tin_8"
                                                           value=""
                                                           size="1" maxlength="1"
                                                           onkeyup="nextNumberBusinessTIN(this)"/>
                                                    <input type="text" name="business_tin_9" id="business_tin_9"
                                                           value="" size="1" maxlength="1" onkeyup="checkNumberBusinessTIN(this)"
                                                           onblur="checkNumberBusinessTIN(this)"/>
                                                </div>
                                                <input type="hidden" name="business_number" id="business_number"
                                                       value=""
                                                       class="required-entry"/>

                                                <div class="business_tin"></div>
                                            </div>
                                        </div>
                                    </div>


                                    <div id="additional_member">
                                        <div class="form-group col-md-12">
                                            <label for="business_additional_member">
                                                <?php echo $this->__('Please enter the information of all members of your LLC'); ?>
                                            </label>
                                            <a href="#" id="add_member" class="right_link">
                                                <i class="fa fa-user-plus fa-2x" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>


                                    <?php if ($this->isEnableTermsBusiness()) { ?>
                                        <div class="form-group col-md-12">
                                            <label for="terms">
                                                <?php echo $this->__('Terms and conditions'); ?>
                                            </label>

                                            <div class="term_conditions">
                                                <?php echo $this->getBusinessTerms(); ?>
                                            </div>
                                        </div>
                                    <?php } ?>

                                    <div class="form-group col-md-6 signature col-xs-12">
                                        <label for="business_signature">
                                            <?php echo $this->__('Signature'); ?>
                                        </label>

                                        <div id="business_sig"></div>
                                        <a id="business_clear" href="#"><?php echo $this->__('Clear'); ?></a>
                                        <input type="hidden" id="business_sync_sign" name="business_sync_sign"
                                               value="" class="required-entry"/>
                                    </div>


                                    <div class="form-group col-md-12">
                                        <div class="col-md-offset-5 col-md-3 col-md-offset-4 col-xs-12">
                                            <button type="submit" class="marketer_btn">
                                                <?php echo $this->__('I Agree'); ?>
                                            </button>
                                        </div>
                                    </div>

                                </form>

                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div id="overlay">
    <i class="fa fa-spinner fa-spin fa-5x fa-fw"></i>
</div>
<script type="text/javascript">
    $j = jQuery.noConflict();
    var individualForm = new VarienForm('individual-form', true);
    var businessForm = new VarienForm('business-form', true);
    var counter = 0;

    $j(function () {
        var individual_sig = $j('#individual_sig').signature({
            background: '#<?php echo $this->getBackgroundSignature();?>',
            color: '#<?php echo $this->getColourSignature();?>',
            thickness: <?php echo $this->getThicknessSignature();?>,
            guideline: <?php if($this->getGuidelineSignature()){?>true<?php } else {?>false<?php }?>,
            guidelineColor: '#<?php echo $this->getGuidelineColourSignature();?>',
            guidelineOffset: <?php echo $this->getGuidelineOffsetSignature();?>,
            guidelineIndent: <?php echo $this->getGuidelineIndentSignature();?>,
            notAvailable: 'Your browser doesn\'t support signing',
            syncField: '#individual_sync_sign',
            syncFormat: 'PNG',
            svgStyles: true,
            change: null
        });

        $j('#individual_clear').click(function () {
            individual_sig.signature('clear');
            $j('#individual_sync_sign').val('');
            return false;
        });

        var business_sig = $j('#business_sig').signature({
            background: '#<?php echo $this->getBackgroundSignature();?>',
            color: '#<?php echo $this->getColourSignature();?>',
            thickness: <?php echo $this->getThicknessSignature();?>,
            guideline: <?php if($this->getGuidelineSignature()){?>true<?php } else {?>false<?php }?>,
            guidelineColor: '#<?php echo $this->getGuidelineColourSignature();?>',
            guidelineOffset: <?php echo $this->getGuidelineOffsetSignature();?>,
            guidelineIndent: <?php echo $this->getGuidelineIndentSignature();?>,
            notAvailable: 'Your browser doesn\'t support signing',
            syncField: '#business_sync_sign',
            syncFormat: 'PNG',
            svgStyles: true,
            change: null
        });

        $j('#business_clear').click(function () {
            business_sig.signature('clear');
            $j('#business_sync_sign').val('');
            return false;
        });
    });

    $j(document).ready(function () {
        $j('input:radio[name=affiliate_type]').change(function () {
            if (this.value == '1') {
                $j('#account_information').show();
                $j('#business_information').hide();
                $j('html, body').animate({
                    scrollTop: parseInt($j("#account_information").offset().top)
                }, 800);
            }
            else if (this.value == '2') {
                $j('#account_information').hide();
                $j('#business_information').show();
                $j('html, body').animate({
                    scrollTop: parseInt($j("#business_information").offset().top)
                }, 800);
            }
        });
    });

    $j(document).on('keyup', '.phone', function () {
        var _number = $j(this).val().replace(/^(\d{3})(\d{3})(\d)+$/, "($1) $2-$3");
        if (_number.trim().length <= 14)
            $j(this).val(_number);
        else {
            $j(this).val(_number.substr(0, 14));
        }
    });

    function nextNumber(e) {
        if(isNaN(parseInt($j(e).val()))){
            $j(e).val('');
            $j(e).focus();
            return false;
        }

        var letters = $j(e).val().length;
        var id = $j(e).attr('id').replace('individual_ssn_', '');
        var next_id = '#individual_ssn_' + (parseInt(id) + 1);

        var individual_ssn = $j('#individual_ssn');

        if (letters < 1) {
            $j(e).focus();
        }
        else {
            individual_ssn.val(individual_ssn.val() + $j(e).val());
            $j(next_id).focus();
        }
    }

    function nextNumberBusiness(e) {
        if(isNaN(parseInt($j(e).val()))){
            $j(e).val('');
            $j(e).focus();
            return false;
        }

        var letters = $j(e).val().length;
        var id = $j(e).attr('id').replace('business_ssn_', '');
        var next_id = '#business_ssn_' + (parseInt(id) + 1);

        var business_ssn = $j('#business_ssn');

        if (letters < 1) {
            $j(e).focus();
        }
        else {
            business_ssn.val(business_ssn.val() + $j(e).val());
            $j(next_id).focus();
        }
    }

    function checkNumber(e) {
        if(isNaN(parseInt($j(e).val()))){
            $j(e).val('');
            $j(e).focus();
            return false;
        }
        var ssn = '';
        var individual_ssn = $j('#individual_number');

        for (var i = 1; i <= 9; i++) {
            var _ele = '#individual_ssn_' + i;
            ssn += $j(_ele).val();
        }

        if (ssn.length == 9) {
            individual_ssn.val(ssn);
        } else {
            individual_ssn.val('');
        }
    }

    function nextNumberTIN(e) {
        if(isNaN(parseInt($j(e).val()))){
            $j(e).val('');
            $j(e).focus();
            return false;
        }

        var letters = $j(e).val().length;
        var id = $j(e).attr('id').replace('individual_tin_', '');
        var next_id = '#individual_tin_' + (parseInt(id) + 1);

        if (letters < 1) {
            $j(e).focus();
        }
        else {
            $j(next_id).focus();
        }
    }

    function nextNumberBusinessTIN(e) {
        if(isNaN(parseInt($j(e).val()))){
            $j(e).val('');
            $j(e).focus();
            return false;
        }

        var letters = $j(e).val().length;
        var id = $j(e).attr('id').replace('business_tin_', '');
        var next_id = '#business_tin_' + (parseInt(id) + 1);

        if (letters < 1) {
            $j(e).focus();
        }
        else {
            $j(next_id).focus();
        }
    }

    function checkNumberTIN(e) {
        if(isNaN(parseInt($j(e).val()))){
            $j(e).val('');
            $j(e).focus();
            return false;
        }
        var ssn = '';
        var individual_tin = $j('#individual_number');

        for (var i = 1; i <= 9; i++) {
            var _ele = '#individual_tin_' + i;
            ssn += $j(_ele).val();
        }

        if (ssn.length == 9) {
            individual_tin.val(ssn);
        } else {
            individual_tin.val('');
        }
    }

    function checkNumberBusiness(e) {
        if(isNaN(parseInt($j(e).val()))){
            $j(e).val('');
            $j(e).focus();
            return false;
        }
        var ssn = '';
        var business_ssn = $j('#business_number');

        for (var i = 1; i <= 9; i++) {
            var _ele = '#business_ssn_' + i;
            ssn += $j(_ele).val();
        }

        if (ssn.length == 9) {
            business_ssn.val(ssn);
        } else {
            business_ssn.val('');
        }
    }

    function checkNumberBusinessTIN(e) {
        if(isNaN(parseInt($j(e).val()))){
            $j(e).val('');
            $j(e).focus();
            return false;
        }
        var ssn = '';
        var business_tin = $j('#business_number');

        for (var i = 1; i <= 9; i++) {
            var _ele = '#business_tin_' + i;
            ssn += $j(_ele).val();
        }

        if (ssn.length == 9) {
            business_tin.val(ssn);
        } else {
            business_tin.val('');
        }
    }

    $j(document).on('change', '#individual_type_tin', function () {
        if ($j(this).val() == <?php echo Trunited_Marketer_Model_Status::TYPE_TIN_SSN?>) {
            $j('.individual_ssn').css({'display': 'block'});
            $j('.individual_tin').css({'display': 'none'});
        } else {
            $j('.individual_tin').css({'display': 'block'});
            $j('.individual_ssn').css({'display': 'none'});
        }
    });

    $j(document).on('change', '#business_type_tin', function () {
        if ($j(this).val() == <?php echo Trunited_Marketer_Model_Status::TYPE_TIN_SSN?>) {
            $j('.business_ssn').css({'display': 'block'});
            $j('.business_tin').css({'display': 'none'});
        } else {
            $j('.business_tin').css({'display': 'block'});
            $j('.business_ssn').css({'display': 'none'});
        }
    });

    $j(document).on('change', '#individual_state', function () {
        $j('#individual_state_name').val($j(this).find("option:selected").text());
    });

    $j(document).on('change', '#business_primary_state', function () {
        $j('#business_primary_state_name').val($j(this).find("option:selected").text());
    });

    $j(document).on('change', '#business_state_incorporation', function () {
        $j('#business_state_incorporation_name').val($j(this).find("option:selected").text());
    });

    $j(document).on('change', '#business_type_llc', function(){
        if ($j(this).val() == <?php echo Trunited_Marketer_Model_Status::TYPE_OF_LLC_MULTI_MEMBER?>) {
            $j('#additional_member').css({'display': 'block'});
            if(counter == 0){
                addMember();
            }
        } else {
            $j('#additional_member').css({'display': 'none'});
        }
    });

    $j(document).on('click', '.remove_member', function(){
        var title = '#'+$j(this).attr('title');
        $j(title).remove();
        counter = counter - 1;

        return false;
    });

    $j(document).on('click', '#add_member', function () {

        addMember();

        return false;
    });

    function addMember()
    {
        counter = counter + 1;

        var newTextBoxDiv = $j("<div>").attr("id", 'member_' + counter);

        if(counter == 1){
            newTextBoxDiv.html([
                '<div class="form-group col-md-2">',
                '<label for="name_member_'+counter+'">Contact Name</label>',
                '<input type="text" class="form-control required-entry" id="name_member_'+counter+'" placeholder="Enter name" autocomplete="off" name="name_member_'+counter+'" value="">',
                '</div>',
                '<div class="form-group col-md-2">',
                '<label for="address_member_'+counter+'">Address</label>',
                '<input type="text" class="form-control required-entry" id="address_member_'+counter+'" placeholder="Enter address" autocomplete="off" name="address_member_'+counter+'" value="">',
                '</div>',
                '<div class="form-group col-md-2">',
                '<label for="city_member_'+counter+'">City</label>',
                '<input type="text" class="form-control required-entry" id="city_member_'+counter+'" placeholder="Enter city" autocomplete="off" name="city_member_'+counter+'" value="">',
                '</div>',
                '<div class="form-group col-md-2">',
                '<label for="state_member_'+counter+'">State</label>',
                '<select name="state_member_'+counter+'" id="state_member_'+counter+'" class="form-control state input-text required-entry">',
                '<option value="1" title="1">Alabama</option><option value="2" title="2">Alaska</option><option value="3" title="3">American Samoa</option><option value="4" title="4">Arizona</option><option value="5" title="5">Arkansas</option><option value="6" title="6">Armed Forces Africa</option><option value="7" title="7">Armed Forces Americas</option><option value="8" title="8">Armed Forces Canada</option><option value="9" title="9">Armed Forces Europe</option><option value="10" title="10">Armed Forces Middle East</option><option value="11" title="11">Armed Forces Pacific</option><option value="12" title="12">California</option><option value="13" title="13">Colorado</option><option value="14" title="14">Connecticut</option><option value="15" title="15">Delaware</option><option value="16" title="16">District of Columbia</option><option value="17" title="17">Federated States Of Micronesia</option><option value="18" title="18">Florida</option><option value="19" title="19">Georgia</option><option value="20" title="20">Guam</option><option value="21" title="21">Hawaii</option><option value="22" title="22">Idaho</option><option value="23" title="23">Illinois</option><option value="24" title="24">Indiana</option><option value="25" title="25">Iowa</option><option value="26" title="26">Kansas</option><option value="27" title="27">Kentucky</option><option value="28" title="28">Louisiana</option><option value="29" title="29">Maine</option><option value="30" title="30">Marshall Islands</option><option value="31" title="31">Maryland</option><option value="32" title="32">Massachusetts</option><option value="33" title="33">Michigan</option><option value="34" title="34">Minnesota</option><option value="35" title="35">Mississippi</option><option value="36" title="36">Missouri</option><option value="37" title="37">Montana</option><option value="38" title="38">Nebraska</option><option value="39" title="39">Nevada</option><option value="40" title="40">New Hampshire</option><option value="41" title="41">New Jersey</option><option value="42" title="42">New Mexico</option><option value="43" title="43">New York</option><option value="44" title="44">North Carolina</option><option value="45" title="45">North Dakota</option><option value="46" title="46">Northern Mariana Islands</option><option value="47" title="47">Ohio</option><option value="48" title="48">Oklahoma</option><option value="49" title="49">Oregon</option><option value="50" title="50">Palau</option><option value="51" title="51">Pennsylvania</option><option value="52" title="52">Puerto Rico</option><option value="53" title="53">Rhode Island</option><option value="54" title="54">South Carolina</option><option value="55" title="55">South Dakota</option><option value="56" title="56">Tennessee</option><option value="57" title="57">Texas</option><option value="58" title="58">Utah</option><option value="59" title="59">Vermont</option><option value="60" title="60">Virgin Islands</option><option value="61" title="61">Virginia</option><option value="62" title="62">Washington</option><option value="63" title="63">West Virginia</option><option value="64" title="64">Wisconsin</option><option value="65" title="65">Wyoming</option>',
                '</select>',
                '</div>',
                '<div class="form-group col-md-2">',
                '<label for="postcode_member_'+counter+'">Zip</label>',
                '<input type="text" class="form-control required-entry" id="postcode_member_'+counter+'" placeholder="Enter zipcode" autocomplete="off" name="postcode_member_'+counter+'" value="">',
                '</div>',
                '<div class="form-group col-md-2">',
                '<label for="phone_member_'+counter+'">Phone</label>',
                '<input type="text" class="form-control phone validate-phoneStrict required-entry" id="phone_member_'+counter+'" placeholder="Enter phone number" autocomplete="off" name="phone_member_'+counter+'" value="">',
                '</div>',
                '<div class="clearfix"></div>',
                '<hr />',
            ].join(""));
        } else {
            newTextBoxDiv.html([
                '<div class="form-group col-md-2">',
                '<label for="name_member_'+counter+'">Contact Name</label>',
                '<input type="text" class="form-control required-entry" id="name_member_'+counter+'" placeholder="Enter name" autocomplete="off" name="name_member_'+counter+'" value="">',
                '</div>',
                '<div class="form-group col-md-2">',
                '<label for="address_member_'+counter+'">Address</label>',
                '<input type="text" class="form-control required-entry" id="address_member_'+counter+'" placeholder="Enter address" autocomplete="off" name="address_member_'+counter+'" value="">',
                '</div>',
                '<div class="form-group col-md-2">',
                '<label for="city_member_'+counter+'">City</label>',
                '<input type="text" class="form-control required-entry" id="city_member_'+counter+'" placeholder="Enter city" autocomplete="off" name="city_member_'+counter+'" value="">',
                '</div>',
                '<div class="form-group col-md-2">',
                '<label for="state_member_'+counter+'">State</label>',
                '<select name="state_member_'+counter+'" id="state_member_'+counter+'" class="form-control state input-text required-entry">',
                '<option value="1" title="1">Alabama</option><option value="2" title="2">Alaska</option><option value="3" title="3">American Samoa</option><option value="4" title="4">Arizona</option><option value="5" title="5">Arkansas</option><option value="6" title="6">Armed Forces Africa</option><option value="7" title="7">Armed Forces Americas</option><option value="8" title="8">Armed Forces Canada</option><option value="9" title="9">Armed Forces Europe</option><option value="10" title="10">Armed Forces Middle East</option><option value="11" title="11">Armed Forces Pacific</option><option value="12" title="12">California</option><option value="13" title="13">Colorado</option><option value="14" title="14">Connecticut</option><option value="15" title="15">Delaware</option><option value="16" title="16">District of Columbia</option><option value="17" title="17">Federated States Of Micronesia</option><option value="18" title="18">Florida</option><option value="19" title="19">Georgia</option><option value="20" title="20">Guam</option><option value="21" title="21">Hawaii</option><option value="22" title="22">Idaho</option><option value="23" title="23">Illinois</option><option value="24" title="24">Indiana</option><option value="25" title="25">Iowa</option><option value="26" title="26">Kansas</option><option value="27" title="27">Kentucky</option><option value="28" title="28">Louisiana</option><option value="29" title="29">Maine</option><option value="30" title="30">Marshall Islands</option><option value="31" title="31">Maryland</option><option value="32" title="32">Massachusetts</option><option value="33" title="33">Michigan</option><option value="34" title="34">Minnesota</option><option value="35" title="35">Mississippi</option><option value="36" title="36">Missouri</option><option value="37" title="37">Montana</option><option value="38" title="38">Nebraska</option><option value="39" title="39">Nevada</option><option value="40" title="40">New Hampshire</option><option value="41" title="41">New Jersey</option><option value="42" title="42">New Mexico</option><option value="43" title="43">New York</option><option value="44" title="44">North Carolina</option><option value="45" title="45">North Dakota</option><option value="46" title="46">Northern Mariana Islands</option><option value="47" title="47">Ohio</option><option value="48" title="48">Oklahoma</option><option value="49" title="49">Oregon</option><option value="50" title="50">Palau</option><option value="51" title="51">Pennsylvania</option><option value="52" title="52">Puerto Rico</option><option value="53" title="53">Rhode Island</option><option value="54" title="54">South Carolina</option><option value="55" title="55">South Dakota</option><option value="56" title="56">Tennessee</option><option value="57" title="57">Texas</option><option value="58" title="58">Utah</option><option value="59" title="59">Vermont</option><option value="60" title="60">Virgin Islands</option><option value="61" title="61">Virginia</option><option value="62" title="62">Washington</option><option value="63" title="63">West Virginia</option><option value="64" title="64">Wisconsin</option><option value="65" title="65">Wyoming</option>',
                '</select>',
                '</div>',
                '<div class="form-group col-md-2">',
                '<label for="postcode_member_'+counter+'">Zip</label>',
                '<input type="text" class="form-control required-entry" id="postcode_member_'+counter+'" placeholder="Enter zipcode" autocomplete="off" name="postcode_member_'+counter+'" value="">',
                '</div>',
                '<div class="form-group col-md-2">',
                '<label for="phone_member_'+counter+'">Phone</label>',
                '<input type="text" class="form-control phone validate-phoneStrict required-entry" id="phone_member_'+counter+'" placeholder="Enter phone number" autocomplete="off" name="phone_member_'+counter+'" value="">',
                '</div>',
                '<div class="clearfix"></div>',
                '<a href="#" class="remove_member right_link" title="member_'+counter+'"><i class="fa fa-user-times fa-2x" aria-hidden="true"></i></a>',
                '<hr />',
            ].join(""));
        }

        newTextBoxDiv.appendTo("#additional_member");
    }

</script>



