<div class="main_block inn_pad marketer_agreement">
    <div class="container">
        <div class="row">

            <div class="direct_comsumer ticket_consumer">
                <?php if ($this->getTitle() != '') { ?>
                    <h1 class="inner_pad1"><?php echo $this->getTitle() ?></h1>
                <?php } ?>
            </div>

            <div class="clearfix"></div>
            <div class="col-sm-12 col-xs-12">
                <div class="row right_block_in" id="affiliate_type">
                    <div class="acct_information">
                        <div class="acct_information_in">
                            <ul class="messages">
                                <li class="success-msg">
                                    <ul>
                                        <li><span>
                                                <?php echo Mage::helper('marketer')->getConfigData('general', 'message_success'); ?>
                                            </span>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $j = jQuery.noConflict();

    $j(document).ready(function () {
        $j.ajax({url: "<?php echo $this->getSendEmailUrl();?>"});
        setTimeout(function () {
            window.location.href = '<?php echo $this->getHomeUrl();?>';
        }, 5000);
    });
</script>



