<script src="<?php echo Mage::getBaseUrl('js') . 'fundraiser' . DS . 'tinymce' . DS . 'js' . DS . 'tinymce' . DS . 'tinymce.min.js'; ?>"></script>
<link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
<link type="text/css" href="<?php echo $this->getSkinUrl('css/cms/fundraiser/font-awesome.min.css');?>" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="<?php echo $this->getSkinUrl('css/cms/fundraiser/style.css');?>">
<link type="text/css" href="<?php echo $this->getSkinUrl('css/cms/fundraiser/responsive.css');?>" rel="stylesheet">
<link type="text/css" href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS);?>smartwave/ajaxcart/ajaxaddto.css" rel="stylesheet">

<?php
$fundraiser_cms = $this->getCmsFundraiser();
$cms_page = $this->getCmsPage();
$default_url_age = $this->getDefaultUrlPage();
$background_image = $this->getBackgroundImage();
?>
<div class="direct_comsumer">

</div>
<div class="clearfix"></div>
<div id="cms_page_top" class="col-sm-12 col-xs-12">
    <div class="right_block_in">
        <div class="search_bar last padd_bot text-center">
            <h3 class="pad_last"><?php echo $this->__('Manage CMS Page'); ?></h3>

            <div class="clearfix"></div>
        </div>
        <div class="acct_information">
            <div class="acct_information_in">
                <div class="form_block">
                    <ul id="your_cms_page">
                        <?php if ($cms_page != null) { ?>
                            <h4><?php echo $this->__('Your Fundraiser CMS Page'); ?></h4>
                            <div class="create_cms">
                                <?php echo $this->__('Title: <a href="%s" target="_blank">%s</a>', $this->getUrlPage($cms_page->getIdentifier()), $cms_page->getTitle()); ?>
                                - <?php echo $this->__('URL: <a href="%s" target="_blank">Click</a>', $this->getDefaultUrlPage()); ?>
                                - <?php echo $this->__('Status: <a href="" id="status_cms">%s</a>', $this->getStatusLabel($cms_page->getIsActive())); ?>
                            </div>
                        <?php } else { ?>
                            <h4><?php echo $this->__('You don\'t have the Fundraiser CMS Page currently.'); ?></h4>
                            <div class="create_cms"></div>
                        <?php } ?>

                        <li class="clearfix last"></li>

                        
                        <?php if ($cms_page != null) { ?>
                        <li class="col-md-3 col-xs-12">
                        </li>
                        <li class="col-md-3 col-xs-12">
                            <button id="manage_cms" name="manage_cms" type="button" class="save_btn transition manage_cms">
                                <?php echo $this->__('Edit'); ?></button>
                        </li>
                        <li class="col-md-3 col-xs-12">
                            <button id="preview_cms_" name="preview" type="button" class="save_btn preview_first transition">
                                <?php echo $this->__('Preview'); ?></button>
                        </li>
                        <li class="col-md-3 col-xs-12">
                        </li>
                        <?php } else {?>
                        <li class="col-md-4 col-xs-12">
                        </li>
                        <li class="col-md-4 col-xs-12">
                            <button id="create_cms" name="preview" type="button" class="save_btn transition create_cms manage_cms">
                                <?php echo $this->__('Create'); ?></button>
                        </li>
                        <li class="col-md-4 col-xs-12">
                        </li>
                        <?php }?>
                        
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>
<div id="manage_cms_page" class="col-sm-12 col-xs-12">
    <div class="right_block_in">
        <div class="search_bar last padd_bot text-center">
            <h3 class="pad_last"><?php echo $this->__('CMS Page Form'); ?></h3>

            <div class="clearfix"></div>
        </div>
        <div class="acct_information">
            <div class="acct_information_in">
                <div class="form_block">
                    <form id="edit_cms_form" action="<?php echo $this->getActionUrl(); ?>" method="post"
                          enctype="multipart/form-data">
                        <input type="hidden" id="id" name="id"
                               value="<?php if ($fundraiser_cms != null) echo $fundraiser_cms->getId(); ?>"/>
                        <input type="hidden" id="affiliate_id" name="affiliate_id"
                               value="<?php echo $this->getAffiliateId(); ?>"/>
                        <ul id="edit_cms">
                            <li class="col-md-6 col-xs-12">
                                <label for="title"><?php echo $this->__('Page Title'); ?></label>
                                <input id="title" name="title" type="text"
                                       value="<?php if ($cms_page != null) echo $cms_page->getTitle(); ?>"
                                       placeholder="<?php echo $this->__('Title of CMS page'); ?>"/>
                            </li>
                            <li class="col-md-6 col-xs-12 empty_blk">&nbsp;</li>
                            <li class="clearfix last"></li>
                            <li class="col-md-12 col-xs-12">
                                <label for="identifier"><?php echo $this->__('URL Key'); ?></label>
                                <input id="identifier" name="identifier" type="text"
                                       value="<?php if ($cms_page != null) echo $cms_page->getIdentifier(); ?>"
                                       placeholder="<?php echo $this->__('URL Key'); ?>"
                            </li>
                            <li class="clearfix last"></li>
                            <li class="col-md-6 col-xs-12">
                                <label for="background_img"><?php echo $this->__('Background Image'); ?></label>
                                <input id="background_img" name="background_img" type="file" value=""/>

                                <div id="image_preview">
                                    <?php if ($fundraiser_cms != null && $fundraiser_cms->getId() &&
                                        $fundraiser_cms->getBackgroundImg() != ''
                                    ) { ?>
                                        <a href="<?php echo $this->getImagePath($fundraiser_cms->getBackgroundImg()); ?>"
                                           target="_blank">
                                            <img id="previewing"
                                                 src="<?php echo $this->getImagePath($fundraiser_cms->getBackgroundImg()); ?>"/>
                                        </a>
                                    <?php } else { ?>
                                        <img id="previewing" src=""/>
                                    <?php } ?>
                                    <input type="hidden" name="preview_image_url" value="">
                                </div>
                                <div id="message"></div>
                            </li>
                            <li class="col-md-6 col-xs-12">
                                <label for="is_active"><?php echo $this->__('Status'); ?></label>

                                <div class="birthday_main">
                                    <div class="birthday col-xs-12">
                                        <select id="is_active" name="is_active" title="Status" class="selectpicker">
                                            <option value="1"
                                                    <?php if ($cms_page != null && $cms_page->getIsActive() == 1){ ?>selected="selected"<?php } ?>><?php echo $this->__('Enabled'); ?></option>
                                            <option value="2"
                                                    <?php if ($cms_page != null && $cms_page->getIsActive() == 2){ ?>selected="selected"<?php } ?>><?php echo $this->__('Disabled'); ?></option>
                                        </select>
                                    </div>
                                </div>
                            </li>
                            <li class="clearfix last"></li>
                            <li class="col-md-12 col-xs-12">
                                <label for="cms_content"><?php echo $this->__('Content'); ?></label>
                                <textarea id="cms_content" name="cms_content"
                                          placeholder="<?php echo $this->__('Content') ?>"></textarea>
                            </li>
                            <li class="clearfix last"></li>

                            <li class="col-md-4 col-xs-12">
                                <button id="submit" name="submit" type="submit" class="save_btn transition">
                                    <?php echo $this->__('Save changes'); ?></button>
                            </li>
                            <li class="col-md-4 col-xs-12">
                                <button id="preview_cms" name="preview" type="button"
                                        class="save_btn transition preview_cms">
                                    <?php echo $this->__('Preview'); ?></button>
                            </li>
                            <li class="col-md-4 col-xs-12">
                                <button id="reset_default" name="reset" type="reset" class="save_btn reset transition">
                                    <?php echo $this->__('Reset To Default'); ?></button>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="clearfix"></div>
<div id="preview_cms_page" class="col-sm-12 col-xs-12">
    <div class="right_block_in">
        <div class="search_bar last padd_bot text-center">
            <h3 class="pad_last"><?php echo $this->__('Preview CMS Page'); ?></h3>

            <div class="clearfix"></div>
        </div>
        <div class="acct_information">
            <div id="content_cms_page" class="cms_wrapper">

            </div>
        
            <div class="clearfix"></div>
            <ul>
                <li class="col-md-4 col-xs-12">

                </li>
                <li class="col-md-4 col-xs-12">
                    <button id="close_preview" name="close_preview" type="button" class="save_btn transition">
                        <?php echo $this->__('Close Preview'); ?></button>
                </li>
                <li class="col-md-4 col-xs-12">

                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<style type="text/css">
#content_cms_page{
    background: url(<?php echo $background_image;?>) no-repeat;
    background-position: 0 30%;
    background-size: cover;
}

.std{
    height: 100% !important;
}

.video_blk a.donate{
    background: #f15c22;
    padding: 13px 0;
    max-width: 276px;
    color: #fff !important;
    margin: 0 auto 19px;
    display: block;
    text-align: center;
    font-size: 18px;
    vertical-align: middle;
    border-radius: 9px;
    font-family: 'Open Sans', sans-serif;
}
</style>
<script type="text/javascript">
    $j = jQuery.noConflict();
    $j('.main-container').addClass('main_block main_bg2');
    $j('.main').addClass('container');
    $j('.main .col-main').addClass('row');

    tinymce.init({
        selector: 'textarea',
        height: 500,
        menubar: false,
        extended_valid_elements: 'span',
        valid_elements : '*[*]',
        plugins: [
        'advlist autolink lists link image charmap preview anchor textcolor',
        'searchreplace visualblocks code fullscreen',
        'insertdatetime media table contextmenu paste code imagetools'
        ],
        toolbar: 'code insertfile insert | undo redo | styleselect formatselect | bold italic backcolor  | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | link image',
        content_css: [
        '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
        '//www.tinymce.com/css/codepen.min.css'],
        setup:function(ed) {
           ed.on('change', function(e) {
               $j('#content_cms_page').html(ed.getContent());
           });
       }
   });

    $j(document).delegate('.preview_first', 'click', function () {
        $j('#preview_cms_page').show();
        <?php if ($cms_page != null){ ?>
        tinyMCE.get('cms_content').setContent('<?php echo $this->formatContent($cms_page->getContent());?>');
        <?php }?>
        $j('#content_cms_page').html(tinyMCE.get('cms_content').getContent());
        $j('html, body').animate({
            scrollTop: parseInt($j("#preview_cms_page").offset().top)
        }, 500);
    });

    $j(document).delegate('.preview_cms', 'click', function () {
        $j('#preview_cms_page').show();
        $j('#content_cms_page').html(tinyMCE.get('cms_content').getContent());
        $j('html, body').animate({
            scrollTop: parseInt($j("#preview_cms_page").offset().top)
        }, 500);
    });

    $j(document).delegate('#close_preview', 'click', function () {
        $j('#preview_cms_page').hide();
        $j('html, body').animate({
            scrollTop: parseInt($j("#cms_page_top").offset().top)
        }, 500);
    });

    $j(document).delegate('.manage_cms', 'click', function () {
        $j('#preview_cms_page').hide();
        $j('#manage_cms_page').show();

        <?php if ($cms_page != null){ ?>
        tinyMCE.get('cms_content').setContent('<?php echo $this->formatContent($cms_page->getContent());?>');
        <?php }?>

        $j('html, body').animate({
            scrollTop: parseInt($j("#manage_cms_page").offset().top)
        }, 500);

        return false;
    });

    $j(document).delegate('#status_cms', 'click', function () {
        return false;
    });

    $j(document).delegate('#reset_default', 'click', function () {
        $j('#title').val('<?php echo $this->getResetPageTitle();?>');
        $j('#identifier').val('<?php echo $this->getResetUrlKey();?>');

        $j("#is_active option").filter(function () {
            return $j.trim($j(this).text()) == 'Enabled'
        }).prop('selected', true);
        $j('#is_active').selectpicker('refresh');

        tinyMCE.get('cms_content').setContent('<?php echo $this->getDefaultContent();?>');

        $j('html, body').animate({
            scrollTop: parseInt($j("#your_cms_page").offset().top)
        }, 500);

        return false;
    });


    $j(document).ready(function (e) {
        $j(function() {
            $j("#background_img").change(function() {
                    $j("#message").empty(); // To remove the previous error message
                    var file = this.files[0];
                    var imagefile = file.type;
                    var match= ["image/jpeg","image/png","image/jpg"];
                    if(!((imagefile==match[0]) || (imagefile==match[1]) || (imagefile==match[2])))
                    {
                        $j('#previewing').attr('src','');
                        $j("#message").html("<p id='error'>Please Select A valid Image File</p>"+"<h4>Note</h4>"+"<span id='error_message'>Only jpeg, jpg and png Images type allowed</span>");
                        return false;
                    }
                    else
                    {
                        var reader = new FileReader();
                        reader.onload = imageIsLoaded;
                        reader.readAsDataURL(this.files[0]);
                    }
                });
        });

        function imageIsLoaded(e) {
            $j("#file").css("color","green");
            $j('#image_preview').css("display", "block");
            $j('#previewing').attr('src', e.target.result);
            $j('#content_cms_page').css("background", "url("+e.target.result+") no-repeat");
        };
    });
</script>

