<script src="<?php echo Mage::getBaseUrl('js') . 'fundraiser' . DS . 'tinymce' . DS . 'js' . DS . 'tinymce' . DS . 'tinymce.min.js'; ?>"></script>
<link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
<link type="text/css" href="<?php echo $this->getSkinUrl('css/cms/fundraiser/font-awesome.min.css');?>" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="<?php echo $this->getSkinUrl('css/cms/fundraiser/style.css');?>">
<link type="text/css" href="<?php echo $this->getSkinUrl('css/cms/fundraiser/responsive.css');?>" rel="stylesheet">
<link type="text/css" href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS);?>smartwave/ajaxcart/ajaxaddto.css" rel="stylesheet">