<script type="text/javascript">
    $j = jQuery.noConflict();
    $j('.main-container').addClass('main_block main_bg2');
    $j('.main').addClass('container');
    $j('.main .col-main').addClass('row');

    tinymce.init({
        selector: 'textarea',
        height: 500,
        menubar: false,
        extended_valid_elements: 'span',
        valid_elements : '*[*]',
        plugins: [
        'advlist autolink lists link image charmap preview anchor textcolor',
        'searchreplace visualblocks code fullscreen',
        'insertdatetime media table contextmenu paste code imagetools'
        ],
        toolbar: 'code insertfile insert | undo redo | styleselect formatselect | bold italic backcolor  | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | link image',
        content_css: [
        '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
        '//www.tinymce.com/css/codepen.min.css'],
        setup:function(ed) {
           ed.on('change', function(e) {
               $j('#content_cms_page').html(ed.getContent());
           });
       }
   });

    $j(document).delegate('.preview_cms', 'click', function () {
        $j('#preview_cms_page').show();
        $j('html, body').animate({
            scrollTop: parseInt($j("#preview_cms_page").offset().top)
        }, 500);
    });

    $j(document).delegate('#close_preview', 'click', function () {
        $j('#preview_cms_page').hide();
        $j('html, body').animate({
            scrollTop: parseInt($j("#cms_page_top").offset().top)
        }, 500);
    });

    $j(document).delegate('.manage_cms', 'click', function () {
        $j('#preview_cms_page').hide();
        $j('#manage_cms_page').show();
        $j('html, body').animate({
            scrollTop: parseInt($j("#manage_cms_page").offset().top)
        }, 500);

        return false;
    });

    $j(document).delegate('#status_cms', 'click', function () {
        return false;
    });

    $j(document).delegate('#reset_default', 'click', function () {
        $j('#title').val('<?php echo $this->getResetPageTitle();?>');
        $j('#identifier').val('<?php echo $this->getResetUrlKey();?>');

        $j("#is_active option").filter(function () {
            return $j.trim($j(this).text()) == 'Enabled'
        }).prop('selected', true);
        $j('#is_active').selectpicker('refresh');

        tinyMCE.get('cms_content').setContent('<?php echo $this->getDefaultContent();?>');

        $j('html, body').animate({
            scrollTop: parseInt($j("#your_cms_page").offset().top)
        }, 500);
    });


    $j(document).ready(function (e) {
        $j(function() {
            $j("#background_img").change(function() {
                    $j("#message").empty(); // To remove the previous error message
                    var file = this.files[0];
                    var imagefile = file.type;
                    var match= ["image/jpeg","image/png","image/jpg"];
                    if(!((imagefile==match[0]) || (imagefile==match[1]) || (imagefile==match[2])))
                    {
                        $j('#previewing').attr('src','');
                        $j("#message").html("<p id='error'>Please Select A valid Image File</p>"+"<h4>Note</h4>"+"<span id='error_message'>Only jpeg, jpg and png Images type allowed</span>");
                        return false;
                    }
                    else
                    {
                        var reader = new FileReader();
                        reader.onload = imageIsLoaded;
                        reader.readAsDataURL(this.files[0]);
                    }
                });
        });

        function imageIsLoaded(e) {
            $j("#file").css("color","green");
            $j('#image_preview').css("display", "block");
            $j('#previewing').attr('src', e.target.result);
            $j('#content_cms_page').css("background", "url("+e.target.result+") no-repeat");
        };
    });
</script>