<?php
$customer_stats = $this->getCustomerStats();
$ytd_saving = $this->getYtdSaving();

$rank_opts = $this->getRankOption();
$enable_leader_board = $this->isEnableLeaderSection();
 
?>
<div class="comsumer_dashboard">
    <div class="dashboard_bar">
        <h3><?php echo $this->__('YOUR BUSINESS DASHBOARD'); ?></h3>
    </div>
    <div class="dashboard_top">
        <ul>
            <li class="col-sm-4 col-xs-6">
                <span><?php echo Mage::helper('other')->ytd(); ?></span>
                <small><?php echo $this->__('MEMBER REWARDS <br>PAST 12 MONTHS'); ?></small>
            </li>
<!--            <li class="col-sm-3 col-xs-6">-->
<!--                <span>--><?php //echo Mage::helper('other')->mtd(); ?><!--</span>-->
<!--                <small>--><?php //echo $this->__('TO BE PAID TO <br> MEMBERS'); ?><!--</small>-->
<!--            </li>-->
            <li class="col-sm-4 col-xs-6">
                <span>
                    <?php
                        echo $this->getCurrentPointValue();
                    ?>
                </span>
                <small><?php echo $this->__('60 DAY AVG <br> POINT VALUE'); ?></small>
            </li>
            <li class="col-sm-4 col-xs-6">
                <span>
                    <?php
                    if ($customer_stats != null && isset($customer_stats['ytd_rewards']))
                        echo Mage::helper('other')->displayNumberFormat($customer_stats['ytd_rewards']);
                    else
                        echo '0';
                    ?>
                </span>
                <small><?php echo $this->__('YOUR YTD <br> REWARDS'); ?></small>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>
<div class="business_block">
    <div class="left_block col-sm-3 col-xs-12">
        <div class="sidebar active">
            <h6><?php echo $this->__('BUSINESS TOOLS'); ?></h6>

            <div class="sub_blk">
                <ul>
                    <li><a href="<?php echo Mage::getUrl('customer/connectionlist/')?>">
                            <small><img src="<?php echo $this->getSkinUrl('images/icon30.png'); ?>" width="26"
                                        height="26" alt="icon"></small>
                            <span><?php echo $this->__('Connection Management');?></span></a></li>
                    <li><a href="<?php echo $this->getUrl('trainingvideo'); ?>">
                            <small><img src="<?php echo $this->getSkinUrl('images/icon26.png'); ?>" width="26"
                                        height="26" alt="icon"></small>
                            <span><?php echo $this->__('Training');?></span></a></li>
                    <li><a href="<?php echo Mage::getUrl('earningreports'); ?>">
                            <small><img src="<?php echo $this->getSkinUrl('images/icon28.png'); ?>" width="26"
                                        height="26" alt="icon"></small>
                            <span><?php echo $this->__('Earnings Report');?></span></a></li>
                    <li><a href="<?php echo Mage::getUrl('passport/balance/') ?>">
                            <small><img src="<?php echo $this->getSkinUrl('images/icon29.png'); ?>" width="26"
                                        height="26" alt="icon"></small>
                            <span><?php echo $this->__('Money Transfers');?></span></a></li>
                    <li><a href="<?php echo Mage::getUrl('affiliates/refer/')?>">
                            <small><img src="<?php echo $this->getSkinUrl('images/icon30.png'); ?>" width="26"
                                        height="26" alt="icon"></small>
                            <span><?php echo $this->__('Personal URL');?></span></a></li>
                    <?php if(!Mage::helper('connection')->isEnable()){?>
                    <li><a href="<?php echo $this->getUrl('customer/connectionmap/'); ?>">
                            <small><img src="<?php echo $this->getSkinUrl('images/icon27.png'); ?>" width="26"
                                        height="26" alt="icon"></small>
                            <span><?php echo $this->__('Connection Map');?></span></a></li>
                    <?php }?>
                    <?php if(Mage::helper('connection')->isEnable()){?>
                    <li><a href="<?php echo $this->getUrl('connection/tree/'); ?>">
                            <small><img src="<?php echo $this->getSkinUrl('images/icon27.png'); ?>" width="26"
                                        height="26" alt="icon"></small>
                            <span><?php echo $this->__('Connection Tree');?></span></a></li>
                    <?php }?>
                   
                </ul>
            </div>
        </div>
    </div>
    <div class="right_block col-sm-9 col-xs-12">
        <div class="right_block_in">
            <div class="search_bar last padd_bot">
                <div class="head_txt">
                    <h3 class="pad_last"><?php echo $this->__('YOUR STATS NUMBER'); ?></h3>
                </div>
            </div>
            <div class="your_starts">
                <div class="your_starts_info">
                    <ul>
                        <li class="col-xs-4">
                            <div class="points_list">
                                <strong>
                                    <?php
                                    if ($customer_stats != null && isset($customer_stats['personal_points']))
                                        echo number_format($customer_stats['personal_points'], 1);
                                    else
                                        echo '0';
                                    ?>
                                </strong>
                                <small><?php echo $this->__('personal<br>points'); ?></small>
                            </div>

                            <div class="points_list">
                                <strong>
                                    <?php
                                    if ($customer_stats != null && isset($customer_stats['next_level_points']))
                                        echo number_format($customer_stats['next_level_points']);
                                    else
                                        echo '0';
                                    ?>
                                </strong>
                                <small><?php echo $this->__('next level <br>points'); ?></small>
                            </div>

                            <div class="points_list">
                                <strong>
                                    <?php
                                    if ($customer_stats != null && isset($customer_stats['trubox_engagement_pct']))
                                        echo number_format(($customer_stats['trubox_engagement_pct'] * 100)) . '%';
                                    else
                                        echo '0';
                                    ?>
                                </strong>
                                <small><?php echo $this->__('trubox<br>engagement'); ?></small>
                            </div>
                        </li>

                        <li class="col-xs-4">
                            <div class="points_list">
                                <strong>
                                    <?php
                                    if ($customer_stats != null && isset($customer_stats['match_points']))
                                        echo number_format($customer_stats['match_points'], 1);
                                    else
                                        echo '0';
                                    ?>
                                </strong>
                                <small><?php echo $this->__('connection <br>points'); ?></small>
                            </div>

                            <div class="points_list">
                                <strong>
                                    <?php
                                    if ($customer_stats != null && isset($customer_stats['unearned_points']))
                                        echo number_format($customer_stats['unearned_points']);
                                    else
                                        echo '0';
                                    ?>
                                </strong>
                                <small><?php echo $this->__('unearned <br>points'); ?></small>
                            </div>

                            <div class="points_list">
                                <strong>
                                    <?php
                                    if ($customer_stats != null && isset($customer_stats['customer_engagement_pct']))
                                        echo number_format(($customer_stats['customer_engagement_pct'] * 100)) . '%';
                                    else
                                        echo '0';
                                    ?>
                                </strong>
                                <small><?php echo $this->__('customer<br>engagement'); ?></small>
                            </div>
                        </li>

                        <li class="col-xs-4">
                            <div class="points_list">
                                <strong>
                                    <?php
                                    if ($customer_stats != null && isset($customer_stats['guest_commission']))
                                        echo number_format($customer_stats['guest_commission']);
                                    else
                                        echo '0';
                                    ?>
                                </strong>
                                <small><?php echo $this->__('guest<br>commission'); ?></small>
                            </div>

                            <div class="points_list">
                                <strong>
                                    <?php
                                    if ($customer_stats != null && isset($customer_stats['efficient_match_points']))
                                        echo number_format($customer_stats['efficient_match_points']);
                                    else
                                        echo '0';
                                    ?>
                                </strong>
                                <small><?php echo $this->__('your max<br>point match'); ?></small>
                            </div>

                            <div class="points_list">
                                <strong>
                                    <?php
                                    if ($customer_stats != null && isset($customer_stats['on_hold_points']))
                                        echo number_format($customer_stats['on_hold_points']);
                                    else
                                        echo '0';
                                    ?>
                                </strong>
                                <small><?php echo $this->__('points<br>on hold'); ?></small>
                            </div>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                    <button type="button"
                            class="btn_back transition learn_more"><?php echo $this->__('See more'); ?></button>
                </div>

            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<?php if($enable_leader_board){?>
    <div class="monthly_leaderboard business_leader_board">
        <div class="top_bar">
            <h4><?php echo $this->__('YOUR GROUP LEADERBOARD'); ?></h4>
            <div class="sort_by">
                <label><?php echo $this->__('TOP RANK BY'); ?></label>
                <?php if(sizeof($rank_opts) > 0){?>
                    <select id="top_rank" class="selectpicker">
                        <?php foreach ($rank_opts as $rank => $label) {?>
                            <option value="<?php echo $rank;?>"><?php echo $label; ?></option>
                        <?php }?>
                    </select>
                <?php }?>
                <div class="clearfix"></div>
            </div>
            <div class="search_club">
                <label><?php echo $this->__('SEARCH BY NAME'); ?></label>
                <input name="share_keyword" type="text" value="" id="share_keyword"
                       placeholder="<?php echo $this->__('Search Name'); ?>" isp_ignore>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="nicolas_porter">
            <ul id="leader_board_list"></ul>
            <div class="clearfix"></div>
        </div>
    </div>
<?php }?>

<!--div class="business_btns">
	<ul>
    	<li class="col-lg-2 col-xs-4"><button name="name" type="button" class="train transition">bACK</button></li>
        <li class="col-lg-2 col-xs-4"><button name="name" type="button" class="train transition">sHOP</button></li>
        <li class="col-lg-2 col-xs-4"><button name="name" type="button" class="train transition">TRAIN</button></li>
        <li class="col-lg-2 col-xs-4"><button name="name" type="button" class="train transition">Connect</button></li>
        <li class="col-lg-2 col-xs-4"><button name="name" type="button" class="train transition">Share</button></li>
        <li class="col-lg-2 col-xs-4"><button name="name" type="button" class="train transition">mANAGE</button></li>
    </ul>
    <div class="clearfix"></div>
</div-->

<script type="text/javascript">
    $j = jQuery.noConflict();
    $j('.main-container').addClass('main_block');
    $j('.main').addClass('container');
    $j('.main .col-main').addClass('row');
    $j('.page').addClass('main_content');

    $j('.learn_more').click(function () {
        window.location.href = '<?php echo Mage::getUrl('yourstats');?>';
        return false;
    });


    $j(document).ready(function (e) {
        $j(".sidebar.active .sub_blk").show();

        $j(".sidebar h6").click(function () {
            $j(this).parent().toggleClass('active');
            $j(this).parent().siblings().removeClass('active');
            $j(this).parent().find('.sub_blk').slideToggle();
            $j(this).parent().siblings().find('.sub_blk').slideUp();
        });

        $j(window).scroll(function () {
            if ($j(this).scrollTop() > 100) {
                $j('.BaclToTop').fadeIn();
            } else {
                $j('.BaclToTop').fadeOut();
            }
        });
    });

    <?php if($enable_leader_board){?>
    $j('#top_rank').on('change', function() {
        findLeaderBoard();
        return false;
    });

    $j('#share_keyword').on('keypress', function (e) {
        if(e.which === 13){
            findLeaderBoard();
            return false;
        }
    });

    $j('#new_member').change(function() {
        $j('#new_member').val(this.checked);
        findLeaderBoard();
        return false;
    });

    $j(document).ready(function () {
        findLeaderBoard();
    });

    var filter_leader_board_url = '<?php echo $this->getFilterLearBoardUrl();?>';
    function findLeaderBoard() {
        $j('.nicolas_porter').css({opacity: '0.3'});

        var top_rank = $j('#top_rank').val();
        var new_member = $j('#new_member').is(':checked');
        var keyword = $j('#share_keyword').val();

        $j.ajax({
            url: filter_leader_board_url,
            type: 'POST',
            data: {rank: top_rank, keyword: keyword},
            success: function (result) {
                $j('#leader_board_list').html(result);
                $j('.nicolas_porter').css({opacity: '1'});
            }
        });
    }
    <?php }?>
</script>
