<?php 
    if( ! Mage::getSingleton('customer/session')->isLoggedIn()){
       Mage::app()->getFrontController()->getResponse()->setRedirect(Mage::getUrl('customer/account/login'));
    }else{
        
        ?>
        
<style>
.row .monthly_leaderboard{
        padding: 0 0 70px 0 !important;
}
.btn_back{
    text-align:center !important;
    padding-top:11px;
}
</style>
<div class="main_content">
    	<div class="shop_now_blk">
            <div class="container">
                <div class="row">
                    <div class="shop_now">
                        <ul>
                        	<li><a href="<?php echo Mage::getUrl('home');?>">Sign In</a></li>
                            <li><span>&gt;</span></li>
                            <li><a href="<?php echo Mage::getUrl('customer/account');?>">My Account</a></li>
                            <li><span>&gt;</span></li>
                            <li><a href="#">Customer Dashboard</a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main_block pad_last">
        	<div class="container">
            	<div class="row">
                	<div class="comsumer_dashboard">
                    	<div class="dashboard_bar">
                        	<h3>YOUR BUSINESS DASHBOARD</h3>
                        </div>
                        <div class="dashboard_top">
                        	<ul>
                            	<li class="col-sm-3 col-xs-6">
                                	<span>$479,021</span>
                                    <small>YTD PAID TO<br> MEMBERS</small>
                                </li>
                                <li class="col-sm-3 col-xs-6">
                                	<span>$127,019</span>
                                    <small>TO BE PAID TO <br> MEMBERS</small>
                                </li>
                                <li class="col-sm-3 col-xs-6">
                                	<span>$0.30</span>
                                    <small>90 DAY POINT<br> VALUE</small>
                                </li>
                                <li class="col-sm-3 col-xs-6">
                                	<span>$3,219</span>
                                    <small>YOUR YTD <br> REWARDS</small>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="business_block">
                    	<div class="left_block col-sm-3 col-xs-12">
                            <div class="sidebar active">
                                <h6>bUSINESS TOOL</h6>
                                <div class="sub_blk" style="display: block;">
                                <ul>
                                    <li><a href="<?php echo Mage::getBaseUrl().'trainingvideo';?>"><small><img src="<?php echo $this->getSkinUrl('images/icon26.png');?>" width="26" height="26" alt="icon"></small><span>Training</span></a></li>

                                    <li><a href="<?php echo $this->getUrl('customer/connectionmap/');?>"><small><img src="<?php echo $this->getSkinUrl('images/icon27.png');?>" width="26" height="26" alt="icon"></small><span>Connection Management</span></a></li>

                                    <li><a href="<?php echo Mage::getUrl('earningreports');?>"><small><img src="<?php echo $this->getSkinUrl('images/icon28.png');?>" width="26" height="26" alt="icon"></small><span>Earning Report</span></a></li>

                                    <li><a href="<?php echo Mage::getUrl('passport/balance/')?>"><small><img src="<?php echo $this->getSkinUrl('images/icon29.png');?>" width="26" height="26" alt="icon"></small><span>Money Transfers</span></a></li>

                                    <li><a href="#"><small><img src="<?php echo $this->getSkinUrl('images/icon30.png');?>" width="26" height="26" alt="icon"></small><span>Connection Tools</span></a></li>
                                </ul>
                                </div>
                            </div>    
                        </div>
                        <div class="right_block col-sm-9 col-xs-12">
                            <div class="right_block_in">
                                <div class="search_bar last padd_bot">
                                    <div class="head_txt">
                                          <h3 class="pad_last">YOUR STATS NUMBER</h3> 
                                    </div>
                                </div>
                                <div class="your_starts">
                                    <div class="your_starts_info">
                                        <ul>
                                            <li class="col-xs-4">
                                                <div class="points_list">
                                                    <strong>68</strong>
                                                    <small>personal<br>points</small>
                                                </div>
                                                
                                                <div class="points_list">
                                                    <strong>172</strong>
                                                    <small>next level <br>points</small>
                                                </div>
                                                
                                                <div class="points_list">
                                                    <strong>8%</strong>
                                                    <small>trubox<br>engagement</small>
                                                </div>
                                            </li>
                                            
                                            <li class="col-xs-4">
                                                <div class="points_list">
                                                    <strong>172</strong>
                                                    <small>connection <br>points</small>
                                                </div>
                                                
                                                <div class="points_list">
                                                    <strong>168</strong>
                                                    <small>unearned <br>points</small>
                                                </div>
                                                
                                                <div class="points_list">
                                                    <strong>15%</strong>
                                                    <small>customer<br>engagement</small>
                                                </div>
                                            </li>
                                            
                                            <li class="col-xs-4">
                                                <div class="points_list">
                                                    <strong>78</strong>
                                                    <small>affiliate<br>points</small>
                                                </div>
                                                
                                                <div class="points_list">
                                                    <strong>93</strong>
                                                    <small>your efficient<br>point match</small>
                                                </div>
                                                
                                                <div class="points_list">
                                                    <strong>1,260</strong>
                                                    <small>points<br>on hold</small>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="clearfix"></div>
                                        <a href="<?php echo Mage::getUrl('yourstats');?>" class="btn_back transition">See more</a>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    	<div class="clearfix"></div>
                    </div>
                    <!--
                    <div class="monthly_leaderboard">
                        <div class="top_bar">
                            <h4>your Monthly group Leaderboard</h4>
                            <div class="sort_by pad_last sort_rgt">
                                <label>SORT BY</label>
                                <select class="selectpicker" tabindex="-98">
                                    <option>Personal Points</option>
                                    <option>Personal Points</option>
                                    <option>Personal Points</option>
                                    <option>Personal Points</option>
                                </select>
                               <div class="clearfix"></div>
                            </div>
                            <div class="search_club">
                                <label>SEARCH</label>
                                <input name="name" type="text" value="Search Name" onclick="if(this.value=='Search Name'){this.value=''}" onblur="if(this.value==''){this.value='Search Name'}">
                               <div class="clearfix"></div> 
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="nicolas_porter">
                            <ul>
                                <li>
                                    <div class="nicolas_con">
                                        <div class="nicolas_con_left">
                                            <h3>Nicolas Porter</h3>
                                            <button name="name" type="button" class="pacesetter">pacesetter</button>
                                            <h2>1,500</h2>
                                        </div>
                                        <div class="nicolas_con_right">
                                            <img src="<?php echo $this->getSkinUrl('images/pacesetter_logo1.png');?>" alt="img">
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="nicolas_con_btns">
                                            <ul>
                                                <li><a href="#">message</a></li>
                                                <li><a href="#">give</a></li>
                                                <li><a href="#">connect</a></li>
                                                <li><a href="#">recognize</a></li>
                                                <li><a href="#">Manage</a></li>
                                            </ul>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="nicolas_con bg_clr1">
                                        <div class="nicolas_con_left">
                                            <h3>Nicolas Porter</h3>
                                            <button name="name" type="button" class="pacesetter">customer</button>
                                            <h2>1,500</h2>
                                        </div>
                                        <div class="nicolas_con_right">
                                            <img src="<?php echo $this->getSkinUrl('images/pacesetter_logo2.png');?>" alt="img">
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="nicolas_con_btns">
                                            <ul>
                                                <li><a href="#">message</a></li>
                                                <li><a href="#">give</a></li>
                                                <li><a href="#">connect</a></li>
                                                <li><a href="#">recognize</a></li>
                                                <li><a href="#">Manage</a></li>
                                            </ul>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="nicolas_con bg_clr2">
                                        <div class="nicolas_con_left">
                                            <h3>Nicolas Porter</h3>
                                            <button name="name" type="button" class="pacesetter">promoter</button>
                                            <h2>1,500</h2>
                                        </div>
                                        <div class="nicolas_con_right">
                                            <img src="<?php echo $this->getSkinUrl('images/pacesetter_logo2.png');?>" alt="img">
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="nicolas_con_btns">
                                            <ul>
                                                <li><a href="#">message</a></li>
                                                <li><a href="#">give</a></li>
                                                <li><a href="#">connect</a></li>
                                                <li><a href="#">recognize</a></li>
                                                <li><a href="#">Manage</a></li>
                                            </ul>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="nicolas_con">
                                        <div class="nicolas_con_left">
                                            <h3>Nicolas Porter</h3>
                                            <button name="name" type="button" class="pacesetter">pacesetter</button>
                                            <h2>1,500</h2>
                                        </div>
                                        <div class="nicolas_con_right">
                                            <img src="<?php echo $this->getSkinUrl('images/pacesetter_logo1.png');?>" alt="img">
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="nicolas_con_btns">
                                            <ul>
                                                <li><a href="#">message</a></li>
                                                <li><a href="#">give</a></li>
                                                <li><a href="#">connect</a></li>
                                                <li><a href="#">recognize</a></li>
                                                <li><a href="#">Manage</a></li>
                                            </ul>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="nicolas_con bg_clr1">
                                        <div class="nicolas_con_left">
                                            <h3>Nicolas Porter</h3>
                                            <button name="name" type="button" class="pacesetter">customer</button>
                                            <h2>1,500</h2>
                                        </div>
                                        <div class="nicolas_con_right">
                                            <img src="<?php echo $this->getSkinUrl('images/pacesetter_logo2.png');?>" alt="img">
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="nicolas_con_btns">
                                            <ul>
                                                <li><a href="#">message</a></li>
                                                <li><a href="#">give</a></li>
                                                <li><a href="#">connect</a></li>
                                                <li><a href="#">recognize</a></li>
                                                <li><a href="#">Manage</a></li>
                                            </ul>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="nicolas_con bg_clr2">
                                        <div class="nicolas_con_left">
                                            <h3>Nicolas Porter</h3>
                                            <button name="name" type="button" class="pacesetter">promoter</button>
                                            <h2>1,500</h2>
                                        </div>
                                        <div class="nicolas_con_right">
                                            <img src="<?php echo $this->getSkinUrl('images/pacesetter_logo3.png');?>" alt="img">
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="nicolas_con_btns">
                                            <ul>
                                                <li><a href="#">message</a></li>
                                                <li><a href="#">give</a></li>
                                                <li><a href="#">connect</a></li>
                                                <li><a href="#">recognize</a></li>
                                                <li><a href="#">Manage</a></li>
                                            </ul>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="nicolas_con">
                                        <div class="nicolas_con_left">
                                            <h3>Nicolas Porter</h3>
                                            <button name="name" type="button" class="pacesetter">pacesetter</button>
                                            <h2>1,500</h2>
                                        </div>
                                        <div class="nicolas_con_right">
                                            <img src="<?php echo $this->getSkinUrl('images/pacesetter_logo1.png');?>" alt="img">
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="nicolas_con_btns">
                                            <ul>
                                                <li><a href="#">message</a></li>
                                                <li><a href="#">give</a></li>
                                                <li><a href="#">connect</a></li>
                                                <li><a href="#">recognize</a></li>
                                                <li><a href="#">Manage</a></li>
                                            </ul>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="nicolas_con bg_clr3">
                                        <div class="nicolas_con_left">
                                            <h3>Nicolas Porter</h3>
                                            <button name="name" type="button" class="pacesetter">influencer</button>
                                            <h2>1,500</h2>
                                        </div>
                                        <div class="nicolas_con_right">
                                            <img src="<?php echo $this->getSkinUrl('images/pacesetter_logo4.png');?>" alt="img">
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="nicolas_con_btns">
                                            <ul>
                                                <li><a href="#">message</a></li>
                                                <li><a href="#">give</a></li>
                                                <li><a href="#">connect</a></li>
                                                <li><a href="#">recognize</a></li>
                                                <li><a href="#">Manage</a></li>
                                            </ul>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="nicolas_con bg_clr2">
                                        <div class="nicolas_con_left">
                                            <h3>Nicolas Porter</h3>
                                            <button name="name" type="button" class="pacesetter">promoter</button>
                                            <h2>1,500</h2>
                                        </div>
                                        <div class="nicolas_con_right">
                                            <img src="<?php echo $this->getSkinUrl('images/pacesetter_logo3.png');?>" alt="img">
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="nicolas_con_btns">
                                            <ul>
                                                <li><a href="#">message</a></li>
                                                <li><a href="#">give</a></li>
                                                <li><a href="#">connect</a></li>
                                                <li><a href="#">recognize</a></li>
                                                <li><a href="#">Manage</a></li>
                                            </ul>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="nicolas_con">
                                        <div class="nicolas_con_left">
                                            <h3>Nicolas Porter</h3>
                                            <button name="name" type="button" class="pacesetter">pacesetter</button>
                                            <h2>1,500</h2>
                                        </div>
                                        <div class="nicolas_con_right">
                                            <img src="<?php echo $this->getSkinUrl('images/pacesetter_logo1.png');?>" alt="img">
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="nicolas_con_btns">
                                            <ul>
                                                <li><a href="#">message</a></li>
                                                <li><a href="#">give</a></li>
                                                <li><a href="#">connect</a></li>
                                                <li><a href="#">recognize</a></li>
                                                <li><a href="#">Manage</a></li>
                                            </ul>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="nicolas_con bg_clr3">
                                        <div class="nicolas_con_left">
                                            <h3>Nicolas Porter</h3>
                                            <button name="name" type="button" class="pacesetter">influencer</button>
                                            <h2>1,500</h2>
                                        </div>
                                        <div class="nicolas_con_right">
                                            <img src="<?php echo $this->getSkinUrl('images/pacesetter_logo4.png');?>" alt="img">
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="nicolas_con_btns">
                                            <ul>
                                                <li><a href="#">message</a></li>
                                                <li><a href="#">give</a></li>
                                                <li><a href="#">connect</a></li>
                                                <li><a href="#">recognize</a></li>
                                                <li><a href="#">Manage</a></li>
                                            </ul>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="nicolas_con bg_clr2">
                                        <div class="nicolas_con_left">
                                            <h3>Nicolas Porter</h3>
                                            <button name="name" type="button" class="pacesetter">promoter</button>
                                            <h2>1,500</h2>
                                        </div>
                                        <div class="nicolas_con_right">
                                            <img src="<?php echo $this->getSkinUrl('images/pacesetter_logo2.png');?>" alt="img">
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="nicolas_con_btns">
                                            <ul>
                                                <li><a href="#">message</a></li>
                                                <li><a href="#">give</a></li>
                                                <li><a href="#">connect</a></li>
                                                <li><a href="#">recognize</a></li>
                                                <li><a href="#">Manage</a></li>
                                            </ul>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="business_btns">
                    	<ul>
                        	<li class="col-lg-2 col-xs-4"><button name="name" type="button" class="train transition" onclick="javascript:history.go(-1)">bACK</button></li>
                            <li class="col-lg-2 col-xs-4"><button name="name" type="button" class="train transition">sHOP</button></li>
                            <li class="col-lg-2 col-xs-4"><button name="name" type="button" class="train transition">TRAIN</button></li>
                            <li class="col-lg-2 col-xs-4"><button name="name" type="button" class="train transition">Connect</button></li>
                            <li class="col-lg-2 col-xs-4"><button name="name" type="button" class="train transition">Share</button></li>
                            <li class="col-lg-2 col-xs-4"><button name="name" type="button" class="train transition">mANAGE</button></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    -->
                </div>
            </div>
		</div>
        
    </div>
    <script type="text/javascript">
       $j = jQuery.noConflict()
    $j(document).ready(function(e) {
        $j(".sidebar.active .sub_blk").show();
        $j(".sidebar h6").click(function() {
            $j(this).parent().toggleClass('active');
            $j(this).parent().siblings().removeClass('active');
            $j(this).parent().find('.sub_blk').slideToggle();
            $j(this).parent().siblings().find('.sub_blk').slideUp();
        });
        $j(window).scroll(function () {
            if ($j(this).scrollTop() > 100) {
                $j('.BaclToTop').fadeIn();
            } else {
                $j('.BaclToTop').fadeOut();
            } 
        });
  } );
</script>
    <?php } ?>