<script type="text/javascript">
  window.onload = function () {
    var chart = new CanvasJS.Chart("chartContainer",
    {
      title:{
        text: " "             
      }, 
      animationEnabled: true,     
      axisY:{
        titleFontFamily: "arial",
        titleFontSize: 12,
        includeZero: false
      },
      toolTip: {
        shared: true
      },
      data: [
      {        
        type: "spline",  
        name: "Monthly Paid To Members",        
       
		color: "#f16f20",
        dataPoints: [
        {label: "Mar" , y: 44} ,     
        {label: "Apr", y: 37} ,     
        {label: "May", y: 34} ,     
        {label: "Jun", y: 36} ,
		{label: "Jul", y: 36} ,		
        {label: "Aug", y: 46}              
        ]
      }, 
      {        
        type: "spline",  
        name: "Your YTD Savings",        
       
		color: "#00b5cb",
        dataPoints: [
        {label: "Mar" , y: 26} ,     
        {label: "Apr", y: 32} ,     
        {label: "May", y: 28} ,     
        {label: "Jun", y: 23} , 
		{label: "Jul", y: 23} , 		
        {label: "Aug", y: 24}              
        ]
      },
      {        
        type: "spline",  
        name: "Your YTD Rewards",        
        
		color: "#33d369",
        dataPoints: [
        {label: "Mar" , y: 1} ,     
        {label: "Apr", y: 11} ,     
        {label: "May", y: 9} ,     
        {label: "Jun", y: 19} ,
		{label: "Jul", y: 19} , 		
        {label: "Aug", y: 29}              
        ]
      }
      ],
      legend:{
        cursor:"pointer",
        itemclick:function(e){
          if(typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
          	e.dataSeries.visible = false;
          }
          else {
          	e.dataSeries.visible = true;            
          }
          chart.render();
        }
      }
    });

chart.render();
$("chartmonth").hide();
	  $("chartsavings").hide();
	   $("chartrewards").hide();
}
	 
	</script>
	<script src="<?php echo $this->getSkinUrl('js/graph/canvasjs.min.js');?>"></script>

<?php 
    if( ! Mage::getSingleton('customer/session')->isLoggedIn()){
       Mage::app()->getFrontController()->getResponse()->setRedirect(Mage::getUrl('customer/account/login'));
    }else{
		
		?>
        

<div class="main_content">
<div class="shop_now_blk">
            <div class="container">
                <div class="row">
                    <div class="shop_now">
					
			<ul>
               <li><a href="<?php echo Mage::getBaseUrl()."customer/account/login/" ?>">Sign In</a></li>
                <li><span>&gt;</span></li>
               <li><a href="<?php echo Mage::getBaseUrl()."customer/account" ?>">My Account</a></li>
                <li><span>&gt;</span></li>
               <li><a href="<?php echo Mage::getBaseUrl()."customerdashboard" ?>">Customer Dashboard</a></li>
            </ul>
 
		<div class="clearfix">
				</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main_block pad_last">
        	<div class="container">
            	<div class="row">
                	<div class="comsumer_dashboard">
                    	<div class="dashboard_bar">
                        	<h3>YOUR CUSTOMER DASHBOARD</h3>
                        </div>
                        <div class="dashboard_top">
                        	<ul>
                            	<li class="col-sm-3 col-xs-6">
                                	<span>$479,021</span>
                                    <small>YTD PAID TO<br> MEMBERS</small>
                                </li>
                                <li class="col-sm-3 col-xs-6">
                                	<span>$127,019</span>
                                    <small>TO BE PAID TO <br> MEMBERS</small>
                                </li>
                                <li class="col-sm-3 col-xs-6">
                                	<span>$0.30</span>
                                    <small>90 DAY POINT<br> VALUE</small>
                                </li>
                                <li class="col-sm-3 col-xs-6">
                                	<span>$3,219</span>
                                    <small>YOUR YTD <br> REWARDS</small>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="left_block cust_rpt col-sm-3 col-xs-12">
                    	<div class="customer_reports">
                        	<h6>YOUR CUSTOMER REPORTS</h6>
                            <ul>
                            	<li>
                                	<p><a href="<?php echo Mage::getBaseUrl()."trugiftcard/" ?>">TRUNITED GIFT CARDS</a> <span>Balance : <small>$56.10</small></span></p>
                                </li>
                                <li>
                                	<p><a href="<?php echo Mage::getBaseUrl()."truwallet/" ?>">TRUWALLET REWARDS </a><span>Balance : <small>$70</small></span></p>
                                </li>
                                <li>
                                	<p><a href="<?php echo Mage::getBaseUrl()."easygiftcard_admin/history/" ?>">OTHER GIFT CARDS </a><span>Balance : <small>2 Cards</small></span></p>
                                </li>
                                <li>
                                	<p><a href="<?php echo Mage::getBaseUrl()."rewardpoints/" ?>">POINTS REPORT </a><span>Monthly Personal : <small>97</small></span></p>
                                </li>
                                <li>
                                	<p><a href="<?php echo Mage::getBaseUrl()."sales/order/history/" ?>">ORDER HISTORY</a></p>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    
                    <div class="right_block trend_chart col-sm-9 col-xs-12">
                    	<div class="right_block_in">
                    	    <div class="search_bar last padd_bot text-center">
                                <h3 class="pad_last">HISTORICAL TREND CHART</h3>
                                <div class="clearfix"></div>
                            </div>
							<?php  $newImageUrl2 = Mage::getBaseUrl('media')."catalog/category/graph_img1.png";
							
							?>
                            <div class="graph_sec">
                            <div id="chartContainer" style="height: 500px; width: 100%;">
							</div>
							 <div id="chartmonth" style="height: 500px; width: 100%;">
							</div>
							<div id="chartsavings" style="height: 500px; width: 100%;">
							</div>
							<div id="chartrewards" style="height: 500px; width: 100%;">
							</div>
                                <ul>
                                	<li  onclick="monthlypaid()"><span>Monthly Paid To Members</span></li>
                                    <li onclick="ytdsavings()"><span>Your YTD Savings</span></li>
                                    <li  onclick="ytdrewards()"><span>Your YTD Rewards</span></li>
                                </ul> 
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="related_products">
                    
                    <div class="dash_btns_blk">
                    	<div class="orange_btn_blk">
                        	<ul>
								<li class="col-xs-2"></li>
                            	<li class="col-xs-4">
								<a class="buy_gift" href="<?php echo Mage::getBaseUrl()."customer/customerdashboard" ?>">BACK</a>
                                	
                                </li>
                               
                                <li class="col-xs-4">
								<a class="buy_gift" href="<?php echo Mage::getBaseUrl()."customer/account" ?>">My Account</a>
                                	
                                </li>
								<li class="col-xs-2"></li>
								
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
		</div>
		
		<?php
	}
		?>
		
<script type="text/javascript">
function monthlypaid(){
		$("chartmonth").show();
		$("chartsavings").hide();
		$("chartrewards").hide();
		$("chartContainer").hide();
		var chart = new CanvasJS.Chart("chartmonth",
    {
      title:{
        text: " "             
      }, 
      animationEnabled: true,     
      axisY:{
        titleFontFamily: "arial",
        titleFontSize: 12,
        includeZero: false
      },
      toolTip: {
        shared: true
      },
      data: [
      {        
        type: "spline",        
        
		color: "#f16f20",
        dataPoints: [
        {label: "Mar" , y: 44} ,     
        {label: "Apr", y: 37} ,     
        {label: "May", y: 34} ,     
        {label: "Jun", y: 36} ,
		{label: "Jul", y: 36} ,		
        {label: "Aug", y: 46}              
        ]
      }
      ],
      legend:{
        cursor:"pointer",
        itemclick:function(e){
          if(typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
          	e.dataSeries.visible = false;
          }
          else {
          	e.dataSeries.visible = true;            
          }
          chart.render();
        }
      }
    });

chart.render();
}
function ytdsavings(){
		$("chartmonth").hide();
	  $("chartsavings").show();
	   $("chartrewards").hide();
	   $("chartContainer").hide();
	   var chart = new CanvasJS.Chart("chartsavings",
    {
      title:{
        text: " "             
      }, 
      animationEnabled: true,     
      axisY:{
        titleFontFamily: "arial",
        titleFontSize: 12,
        includeZero: false
      },
      toolTip: {
        shared: true
      },
      data: [
      {        
        type: "spline",         
        
		color: "#00b5cb",
        dataPoints: [
        {label: "Mar" , y: 26} ,     
        {label: "Apr", y: 32} ,     
        {label: "May", y: 28} ,     
        {label: "Jun", y: 23} , 
		{label: "Jul", y: 23} , 		
        {label: "Aug", y: 24}              
        ]
      }
      ],
      legend:{
        cursor:"pointer",
        itemclick:function(e){
          if(typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
          	e.dataSeries.visible = false;
          }
          else {
          	e.dataSeries.visible = true;            
          }
          chart.render();
        }
      }
    });

chart.render();
}
function ytdrewards(){
		$("chartmonth").hide();
		$("chartsavings").hide();
	   $("chartrewards").show();
	   $("chartContainer").hide();
	   var chart = new CanvasJS.Chart("chartrewards",
    {
      title:{
        text: " "             
      }, 
      animationEnabled: true,     
      axisY:{
        titleFontFamily: "arial",
        titleFontSize: 12,
        includeZero: false
      },
      toolTip: {
        shared: true
      },
      data: [    
      {        
        type: "spline",          
        
		color: "#33d369",
        dataPoints: [
        {label: "Mar" , y: 1} ,     
        {label: "Apr", y: 11} ,     
        {label: "May", y: 9} ,     
        {label: "Jun", y: 19} ,
		{label: "Jul", y: 19} , 		
        {label: "Aug", y: 29}              
        ]
      }
      ],
      legend:{
        cursor:"pointer",
        itemclick:function(e){
          if(typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
          	e.dataSeries.visible = false;
          }
          else {
          	e.dataSeries.visible = true;            
          }
          chart.render();
        }
      }
    });

chart.render();
	
}
</script>

