<?php 
    if( ! Mage::getSingleton('customer/session')->isLoggedIn()){
       Mage::app()->getFrontController()->getResponse()->setRedirect(Mage::getUrl('customer/account/login'));
    }else{ 
        ?>

<div class="main_content">
    	<div class="shop_now_blk">
            <div class="container">
                <div class="row">
                    <div class="shop_now">
                        <ul>
                            <li><a href="<?php echo Mage::getUrl('home');?>">Sign In</a></li>
                            <li><span>&gt;</span></li>
                            <li><a href="<?php echo Mage::getUrl('customer/account');?>">My Account</a></li>
                            <li><span>&gt;</span></li>
                            <li><a href="#">Customer Dashboard</a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main_block main_bg2">
        	<div class="container">
            	<div class="row">
                	<div class="direct_comsumer">
                    </div>
                    <div class="clearfix"></div>
                    <div class="left_block col-sm-3 col-xs-12">
                    	<div class="sidebar active">
                        	<h6>2016 Reports</h6>
                            <div class="sub_blk" style="display: block;">
                        	<ul>
                            	<li><a href="#"><span>September</span></a></li>
                                <li><a href="#"><span>October</span></a></li>
                                <li><a href="#"><span>November</span></a></li>
                                <li><a href="#"><span>December</span></a></li>
                            </ul>
                            </div>
                        </div>
                        <div class="sidebar">    
                            <h6>2017 Reports</h6>
                            <div class="sub_blk" style="">
                        	<ul>
                            	<li><a href="#"><span>January</span></a></li>
                                <li><a href="#"><span>February</span></a></li>
                                <li><a href="#"><span>March</span></a></li>
                                <li><a href="#"><span>April</span></a></li>
                                <li><a href="#"><span>May</span></a></li>
                                <li><a href="#"><span>June</span></a></li>
                                <li><a href="#"><span>July</span></a></li>
                                <li><a href="#"><span>August</span></a></li>
                            </ul>
                        	</div>
                        </div>    
                    </div>
                    
                    <div class="right_block col-sm-9 col-xs-12">
                    	<div class="right_block_in">
                    	    <div class="search_bar last padd_bot text-center">
                                <h3 class="pad_last">EARNING REPORTS</h3>
                                <div class="clearfix"></div>
                            </div>
                            <div class="earning_points">
                                <h2>November 2016</h2>
                                <ul>
                                    <li>
                                        <ul>
                                            <li>
                                                <div class="earning_in">
                                                    <figure><img src="<?php echo $this->getSkinUrl('images/earning_graph.png');?>" width="456" height="219" alt="earning_graph"></figure>
                                                    <h3>Personal Points</h3>
                                                    <strong>360</strong>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="earning_in no_bor">
                                                    <figure><img src="<?php echo $this->getSkinUrl('images/earning_graph.png');?>" width="456" height="219" alt="earning_graph"></figure>
                                                    <h3>Connection Points</h3>
                                                    <strong>160</strong>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    
                                    <li>
                                        <ul>
                                            <li>
                                                <div class="earning_in">
                                                    <figure><img src="<?php echo $this->getSkinUrl('images/earning_graph.png');?>" width="456" height="219" alt="earning_graph"></figure>
                                                    <h3>Truwallet Earnings</h3>
                                                    <strong>$240</strong>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="earning_in no_bor">
                                                    <figure><img src="<?php echo $this->getSkinUrl('images/earning_graph.png');?>" width="456" height="219" alt="earning_graph"></figure>
                                                    <h3>Affiliate Income Earnings</h3>
                                                    <strong>$170</strong>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    
                                    <li>
                                        <ul>
                                            <li>
                                                <div class="earning_in">
                                                    <figure><img src="<?php echo $this->getSkinUrl('images/earning_graph.png');?>" width="456" height="219" alt="earning_graph"></figure>
                                                    <h3>Unearned Points</h3>
                                                    <strong>440</strong>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="earning_in no_bor text-center">
                                                    <figure><img src="<?php echo $this->getSkinUrl('images/earning_graph_end.png');?>" width="223" height="224" alt="earning_graph"></figure>
                                                    <strong class="text-center margin_top2">Depth Credit Level: 2</strong>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                    	   </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            
		</div>
    </div>
    <script type="text/javascript">
       $j = jQuery.noConflict()
    $j(document).ready(function(e) {
        $j(".sidebar.active .sub_blk").show();
        $j(".sidebar h6").click(function() {
            $j(this).parent().toggleClass('active');
            $j(this).parent().siblings().removeClass('active');
            $j(this).parent().find('.sub_blk').slideToggle();
            $j(this).parent().siblings().find('.sub_blk').slideUp();
        });
        $j(window).scroll(function () {
            if ($j(this).scrollTop() > 100) {
                $j('.BaclToTop').fadeIn();
            } else {
                $j('.BaclToTop').fadeOut();
            } 
        });
  } );
</script>
    <?php } ?>