<?php $menuHelper = Mage::helper('megamenu'); ?>
<?php $menuData = $menuHelper->getMenuData(); extract($menuData); ?>
 <div class="collapse navbar-collapse" id="main-menu">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Home</a></li>
          <li><a href="#">Shop</a></li>
          <li><a href="#">Global Brands</a></li>
          <li><a href="#">Gift Card Shop</a></li>
          <li class="sign-in-link"><a href="#">Sign In</a></li>
          <li class="cart-wrapper hidden-xs">
            <a href="#">
              Cart 
              <div class="desktop-cart">
                <div class="itmes-count">2</div>
              </div>
            </a>
          </li>
        </ul>        
      </div>
<script type="text/javascript">
var SW_MENU_POPUP_WIDTH = <?php echo $_popupWidth; ?>;
jQuery(function($){
    $(document).ready(function(){
        $('.main-nav .menu').et_menu({
            type: "default",
            delayTime: <?php echo $menuHelper->getConfig('popup/popup_delay'); ?>
        });
<?php if($menuHelper->getConfig('popup/ajax_load_popups')): ?>
        url = "<?php echo Mage::getBaseUrl()."swmegamenu/index/showpopup" ?>";
        $(".main-nav ul.menu > li.menu-static-width, .main-nav ul.menu > li.menu-full-width, .main-nav ul.menu > li.menu-item").off("mouseover").on("mouseover",function(){
            if(!$(this).hasClass("ajax-loaded") && !$(this).hasClass("ajax-loading") && $(this).attr("data-id")) {
                var cur_menu_item = $(this);
                param = "?category_id="+$(this).attr("data-id");
                $(cur_menu_item).addClass("ajax-loading");
                $.ajax({
                    url: url+param,
                    dataType: 'json',
                    type: 'post',
                    success: function(data) {
                        $(cur_menu_item).removeClass("ajax-loading").addClass("ajax-loaded");
                        $(cur_menu_item).children(".nav-sublist-dropdown").children(".container").html(data['popup_content']).hide().fadeIn();
                    },
                    error: function(){
                        $(cur_menu_item).removeClass("ajax-loading");
                    }
                });
            }
        });
<?php endif; ?>
    });
});
</script>