<?php
    $store = Mage::app()->getStore();
    $code  = $store->getCode();
    $categorySearchHelper = $this->helper('catalogcategorysearch');
    $catalogSearchHelper =  $this->helper('catalogsearch');
    $q = Mage::app()->getRequest()->getParam('q');
?>
<!--<form id="search_mini_form" action="<?php /*echo str_replace("https://","//",str_replace("http://","//",$this->helper('catalogsearch')->getResultUrl())) */?>" method="get">
    <div class="form-search <?php /*if(!Mage::getStoreConfig("catalogcategorysearch/general/enabled", $code)): */?>no-padding<?php /*endif; */?>">
        <label for="search"><?php /*echo $this->__('Search:') */?></label>
        <?php /*$categorySearchHelper = $this->helper('catalogcategorysearch'); */?>
        <input id="search" type="text" name="<?php /*echo $this->helper('catalogsearch')->getQueryParamName() */?>" class="input-text" />
        <?php /*if(Mage::getStoreConfig("catalogcategorysearch/general/enabled", $code)): */?>
        <select id="<?php /*echo $categorySearchHelper->getCategoryParamName() */?>" name="<?php /*echo $categorySearchHelper->getCategoryParamName() */?>">
            <option value=""><?php /*echo $this->__('All Categories') */?></option>
            <?php /*foreach ($this->getSearchableCategories() as $mainCategory): */?>
                <option value="<?php /*echo $mainCategory->getEntityId()*/?>"><?php /*echo $mainCategory->getName() */?></option>
                <?php /*if ($categorySearchHelper->showSubCategories()) : */?>
                    <?php /*foreach ($this->getSearchableSubCategories($mainCategory) as $category) : */?>
                        <option value="<?php /*echo $category->getEntityId()*/?>"><?php /*echo $categorySearchHelper->getIndentationText() . $category->getName()*/?></option>
                    <?php /*endforeach;*/?>
                <?php /*endif */?>
            <?php /*endforeach;*/?>
        </select>
        <?php /*endif; */?>
        <button type="submit" title="<?php /*echo $this->__('Search') */?>" class="button"><i class="icon-search"></i></button>
        <div id="search_autocomplete" class="search-autocomplete"></div>
        <div class="clearer"></div>
    </div>
</form>-->

<form id="search_header_form" action="<?php echo str_replace("https://","//",str_replace("http://","//",$this->helper('catalogsearch')->getResultUrl())) ?>" method="get">
    <div class="form-search  <?php if(!Mage::getStoreConfig("catalogcategorysearch/general/enabled", $code)): ?>no-padding<?php endif; ?>">
        <button type="submit" title="<?php echo $this->__('Search')?>" class="button btn-search">
        <!-- <i class="icon-search"></i> -->
        </button>
        <input id="search" type="text" name="<?php echo $this->helper('catalogsearch')->getQueryParamName() ?>" class="input-text"
               title="" placeholder="<?php echo $this->__('Search...');?>" autocomplete="off" isp_ignore />
        <?php if(Mage::getStoreConfig("catalogcategorysearch/general/enabled", $code)): ?>
            <select id="<?php echo $categorySearchHelper->getCategoryParamName() ?>" name="<?php echo $categorySearchHelper->getCategoryParamName() ?>">
                <option value=""><?php echo $this->__('All Categories') ?></option>
                <?php foreach ($this->getSearchableCategories() as $mainCategory): ?>
                    <option value="<?php echo $mainCategory->getEntityId()?>"><?php echo $mainCategory->getName() ?></option>
                    <?php if ($categorySearchHelper->showSubCategories()) : ?>
                        <?php foreach ($this->getSearchableSubCategories($mainCategory) as $category) : ?>
                            <option value="<?php echo $category->getEntityId()?>"><?php echo $categorySearchHelper->getIndentationText() . $category->getName()?></option>
                        <?php endforeach;?>
                    <?php endif ?>
                <?php endforeach;?>
            </select>
        <?php endif; ?>

        <div id="search_autocomplete" class="search-autocomplete"></div>
        <button type="button" id="search_close" title="Clear Search" class="navigation-search-clear-button search_close">
            <i class="fa fa-times white"></i>
        </button>
        <div class="clearer"></div>
        <script type="text/javascript">
            //<![CDATA[
            var searchForm = new Varien.searchForm('search_header_form', 'search', '<?php echo $this->__('Search...') ?>');
            searchForm.initAutocomplete('<?php echo $catalogSearchHelper->getSuggestUrl()?>', 'search_autocomplete');

            $j = jQuery.noConflict();
            <?php if($q != null){?>
            $j('#search_close').css({"display": "inline-flex"});
            <?php } else {?>
            $j('#search_close').css({display: "none"});
            <?php }?>

            $j("#search_header_form #search").on("input", function (e) {
                var value = $j(this).val();
                if (value == '') {
                    $j('#search_close').css({display: "none"});
                } else {
                    $j('#search_close').css({display: "inline-flex"});
                }
            });

            $j('#search_header_form .search_close').click(function () {
                $j(this).hide();
                $j('#search_header_form #search').val('');
            });
            //]]>
        </script>
    </div>
</form>
