<?php
$parameter = $this->getUrlParameter();
?>

<div class="direct_comsumer">

</div>
<div class="clearfix"></div>
<div class="left_block col-sm-3 col-xs-12">
    <div class="sidebar active">
        <h6><?php echo $this->__('BUSINESS TOOLS'); ?></h6>

        <div class="sub_blk">
            <ul>
                <li><a href="<?php echo $this->getUrl('trainingvideo'); ?>">
                        <small><img src="<?php echo $this->getSkinUrl('images/icon26.png'); ?>" width="26"
                                    height="26" alt="icon"></small>
                        <span><?php echo $this->__('Training'); ?></span></a></li>
                <li><a href="<?php echo $this->getUrl('customer/connectionmap/'); ?>">
                        <small><img src="<?php echo $this->getSkinUrl('images/icon27.png'); ?>" width="26"
                                    height="26" alt="icon"></small>
                        <span><?php echo $this->__('Connection Management'); ?></span></a></li>
                <li><a href="<?php echo Mage::getUrl('earningreports'); ?>">
                        <small><img src="<?php echo $this->getSkinUrl('images/icon28.png'); ?>" width="26"
                                    height="26" alt="icon"></small>
                        <span><?php echo $this->__('Earning Report'); ?></span></a></li>
                <li><a href="<?php echo Mage::getUrl('passport/balance/') ?>">
                        <small><img src="<?php echo $this->getSkinUrl('images/icon29.png'); ?>" width="26"
                                    height="26" alt="icon"></small>
                        <span><?php echo $this->__('Money Transfers'); ?></span></a></li>
                <li><a href="<?php echo Mage::getUrl('affiliates/refer/') ?>">
                        <small><img src="<?php echo $this->getSkinUrl('images/icon30.png'); ?>" width="26"
                                    height="26" alt="icon"></small>
                        <span><?php echo $this->__('Personal URL'); ?></span></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="right_block col-sm-9 col-xs-12">
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
    <div class="inner_blk51">
        <div class="inner_blk51_left refer_left">
            <h3 class="pad_last refer_title"><?php echo $this->__('Connect Friends and Earn More Reward Points') ?></h3>
            <div class="pament_box">
                <div class="pament_box_cnt">
                    <?php echo $this->getReferDescription() ?>
                    <div class="clearfix"></div>
                </div>
            </div>

        </div>
        <div class="inner_blk51_right">
            <div class="right_block_in">
                <div class="search_bar last padd_bot text-center">
                    <h3 class="pad_last refer_title"><?php echo $this->__('Personal URL'); ?></h3>
                    <div class="clearfix"></div>
                </div>
                <div class="acct_information">
                    <div class="acct_information_in">
                        <div class="form_block refer_form_block">
                            <div class="clearfix"></div>
                            <form id="affiliate-personal-url-form" method="post"
                                  action="<?php echo $this->getUrl('*/*/personal') ?>">
                                <div id="affiliate-opc-personal-url" class="step a-item language">
                                    <ul>
                                        <li class="control">
                                            <label><?php echo $this->__('Your Affiliate Parameter') ?></label>

                                            <div class="actions identify_code">
                                                <?php echo '?' . $parameter ?>
                                            </div>
                                            <div
                                                class="guide"><?php echo $this->getUrlParameterDescription(); ?></div>
                                        </li>
                                        <?php if ($this->getEnableNewPersonalUrl()) { ?>
                                            <li class="control">
                                                <label><?php echo $this->__('Your 24 Hour Promotion') ?></label>

                                                <div class="actions identify_code">
                                                    <?php echo '?' . $this->getParamNewPersonalUrl() . '=' . $this->getFormatNewPersonalUrl(); ?>
                                                </div>
                                                <div
                                                    class="guide"><?php echo $this->getNewPersonalUrlDescription(); ?></div>
                                            </li>
                                        <?php } ?>
                                        <li class="control">
                                            <label><?php echo $this->__('Email') ?></label>

                                            <div class="actions">
                                                <a id="personal_affiliate_url_email_quick"
                                                   title="<?php echo $this->__('Your personal affiliate URL') ?>"></a>
                                            </div>
                                        </li>
                                        <li>
                                            <label for="use-personal-url">
                                                <input
                                                    type="checkbox"<?php if ($this->getCustomUrl()): ?> checked="checked"<?php endif ?>
                                                    id="use-personal-url" value="1" class="required-entry"
                                                    onclick="changePersonalUrl(this);"/>
                                                <span><?php echo $this->__('Custom') ?></span>
                                            </label>

                                            <div class="actions">
                                                <a id="personal_affiliate_url"
                                                   title="<?php echo $this->__('Your personal affiliate URL') ?>"></a>
                                            </div>
                                        </li>
                                    </ul>
                                    <ul id="input-personal-url" <?php if (!$this->getCustomUrl()): ?> style="display:none;"<?php endif ?>>
                                        <li class="col-md-6 col-xs-12">
                                            <input class="required-entry form-control input-text required-entry"
                                                   type="text" id="personal_url"
                                                   name="personal_url" onchange="changeCustomUrl();"
                                                   onkeyup="changeCustomUrl();"
                                                   value="<?php echo $this->getCustomUrl() ?>"
                                                />
                                            <button id="button-save-personal-url" type="submit"
                                                    title="<?php echo $this->__('Save'); ?>"
                                                <?php if (!$this->getCustomUrl()): ?> style="display:none;"<?php endif ?>
                                                    class="save_btn transition">
                                                <?php echo $this->__('Save'); ?>
                                            </button>
                                            <div class="clearfix"></div>
                                        </li>
                                    </ul>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<script type="text/javascript">
    $j = jQuery.noConflict();
    $j('.main-container').addClass('main_block');
    $j('.main').addClass('container');
    $j('.main .col-main').addClass('row');
    $j('.page').addClass('main_content');

    $j('.learn_more').click(function () {
        window.location.href = '<?php echo Mage::getUrl('yourstats');?>';
        return false;
    });


    $j(document).ready(function (e) {
        $j(".sidebar.active .sub_blk").show();

        $j(".sidebar h6").click(function () {
            $j(this).parent().toggleClass('active');
            $j(this).parent().siblings().removeClass('active');
            $j(this).parent().find('.sub_blk').slideToggle();
            $j(this).parent().siblings().find('.sub_blk').slideUp();
        });

        $j(window).scroll(function () {
            if ($j(this).scrollTop() > 100) {
                $j('.BaclToTop').fadeIn();
            } else {
                $j('.BaclToTop').fadeOut();
            }
        });
    });

    var personalUrlForm = new VarienForm('affiliate-personal-url-form', true);
    function changePersonalUrl(el) {
        if (el.checked) {
            $('input-personal-url').show();
            $j('#personal_url').css({"display": "block"});
            $('button-save-personal-url').show();
            changeCustomUrl();
        } else {
            $('input-personal-url').hide();
            $('button-save-personal-url').hide();
            var personalUrl = '<?php echo $this->getPersonalUrl() ?>';
            var urlEl = $('personal_affiliate_url');
            if (urlEl.href != personalUrl) {
                urlEl.href = personalUrl;
                urlEl.innerHTML = prepareShowPersonalUrl(personalUrl, 54);
            }
            var personalUrlFixedEmail = '<?php echo Mage::helper('affiliateplus/account')->getReferEmailUrl() ?>';
            var urlFixedEmail = $('personal_affiliate_url_email_quick');
            if (urlFixedEmail.href != personalUrlFixedEmail) {
                urlFixedEmail.href = personalUrlFixedEmail;
                urlFixedEmail.innerHTML = prepareShowPersonalUrl(personalUrlFixedEmail, 54);
            }
        }
    }
    var process = 1;
    function changeCustomUrl() {
        if (process) {
            process = 0;
            var customUrlInput = $('personal_url').value;
            customUrlInput = customUrlInput.toLowerCase();
            var url = '<?php echo $this->getUrl('affiliateplus/refer/refineCustomUrl') ?>' + '?custom_url=' + customUrlInput;
            var request = new Ajax.Request(url, {
                    onComplete: function (response) {
                        var customUrl = JSON.parse(response.responseText);
                        var personalUrl = '';
                        if (customUrl == '') {
                            personalUrl = '<?php echo $this->getPersonalUrl() ?>';
                        } else {
                            var prefixUrl = '<?php echo $this->getPrefixUrl() ?>';
                            personalUrl = prefixUrl + customUrl;
                            var urlInStore = '<?php echo $this->getSuffixUrl() ?>';
                            if (urlInStore.search('[?]') != -1)
                                personalUrl += '?' + urlInStore.split('?')[1];
                        }
                        var urlEl = $('personal_affiliate_url');
                        if (urlEl.href != personalUrl) {
                            urlEl.href = personalUrl;
                            urlEl.innerHTML = prepareShowPersonalUrl(personalUrl, 54);
                        }
                        var personalUrlFixedEmail = '<?php echo Mage::helper('affiliateplus/account')->getReferEmailUrl() ?>';
                        var urlFixedEmail = $('personal_affiliate_url_email_quick');
                        if (urlFixedEmail.href != personalUrlFixedEmail) {
                            urlFixedEmail.href = personalUrlFixedEmail;
                            urlFixedEmail.innerHTML = prepareShowPersonalUrl(personalUrlFixedEmail, 54);
                        }
                    }
                }
            );
            process = 1;
        }
    }
    function prepareShowPersonalUrl(pUrl, len) {
        var newPUrl = '';
        var i;
        for (i = 0; i < pUrl.length - len; i += len)
            newPUrl += pUrl.substr(i, len) + ' ';
        newPUrl += pUrl.substr(i);
        return newPUrl;
    }
    changePersonalUrl($('use-personal-url'));

    function toggleGooglePlus() {
        toggleAffiliateRighbox('affiliate-opc-google-content');
        if (loadGooglePlus) {
            (function () {
                var po = document.createElement('script');
                po.type = 'text/javascript';
                po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(po, s);
            })();
            loadGooglePlus = false;
        }
    }
    var affiliateCurrentEId = '';
    function toggleAffiliateRighbox(eId) {
        if (eId != affiliateCurrentEId) {
            if (affiliateCurrentEId != '') {
                $(affiliateCurrentEId).hide();
                $($(affiliateCurrentEId).parentNode.id).removeClassName('active');
            }
            affiliateCurrentEId = eId;
        }
        $(eId).toggle();
        $($(eId).parentNode.id).toggleClassName('active');
    }

    function getPopupPosition(width, height) {
        var screenX = typeof window.screenX != 'undefined' ? window.screenX : window.screenLeft;
        var screenY = typeof window.screenY != 'undefined' ? window.screenY : window.screenTop;
        var outerWidth = typeof window.outerWidth != 'undefined' ? window.outerWidth : document.body.clientWidth;
        var outerHeight = typeof window.outerHeight != 'undefined' ? window.outerHeight : (document.body.clientHeight - 22);
        var left = parseInt(screenX + ((outerWidth - width) / 2), 10);
        var top = parseInt(screenY + ((outerHeight - height) / 2.5), 10);
        return 'width=' + width + ',height=' + height + ',left=' + left + ',top=' + top;
    }
</script>
