<?php 
    $postData = Mage::app()->getRequest()->getParam('alpha');
    $keywordData = Mage::app()->getRequest()->getParam('quick_keyword');
    $profit = Mage::app()->getRequest()->getParam('order');
    $dir = Mage::app()->getRequest()->getParam('dir');
    $current_id = Mage::app()->getRequest()->getParam('id');
    $sort_categories = Mage::helper('other')->getListCategoriesSort();
?>
<div class="toolbar">
    <?php if( $this->isExpanded() ): ?>
    <div class="sorter">
        <div class="sort-by">
            <label><?php echo $this->__('Sort By') ?></label>
            <select onchange="setLocation(this.value)">
            <?php foreach($this->getAvailableOrders() as $_key=>$_order): ?>
                <option value="<?php echo $this->getNewUrl($postData, $keywordData, $this->getOrderUrl($_key, 'asc'))?>"
                    <?php if($this->isOrderCurrent($_key) && $profit != 'profit'): ?> selected="selected"<?php endif;
                    ?>>
                    <?php echo $this->__($_order) ?>
                </option>
            <?php endforeach; ?>
                <?php if(sizeof($sort_categories) > 0 && in_array($current_id, $sort_categories)){?>
                <option value="<?php echo $this->getNewUrl($postData, $keywordData, $this->getOrderUrl('profit',
                    'desc')); ?>" <?php if($profit == 'profit' && $dir == 'desc'){?> selected="selected"<?php }?>>
                    <?php echo $this->__('Points High to Low');?>
                </option>
                <option value="<?php echo $this->getNewUrl($postData, $keywordData, $this->getOrderUrl('profit',
                    'asc')); ?>" <?php if($profit == 'profit' && $dir == 'asc'){?> selected="selected"<?php }?>>
                    <?php echo $this->__('Points Low to High');?>
                </option>
                <?php }?>
            </select>
        </div>
    </div>
    <?php endif; ?>
</div>
